@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.ConfigurableFieldModel<DateTime?>
@if (!Model.Show)
{
    return;
}

@{
    var validationMessage = string.Format(" {0} {1}", Html.PureFieldCaption(Model), Translation.Get("måste anges"));
}
<tr>
    <td class="span3">
        @Html.FieldCaption(Model)
    </td>
    <td class="span9">
        @if (!Model.IsReadOnly)
        {
            @Html.EditorFor(m => m.Value, "DatePicker", new { id = ViewData["Id"], inputAttributes = new Dictionary<string, object> { { "data-dh-is-required", Model.IsRequired } } })
            @Html.HiddenFor(m => m.IsRequired)
            @Html.ValidationMessageFor(m => m.Value, validationMessage)
        }
        else
        {
            @Html.DisplayFor(m => m.Value, "Date")
        }
    </td>
</tr>
