@model DH.Helpdesk.Web.Models.Reports.AverageSolutionTimeOptions

@using (Html.BeginForm("AverageSolutionTime", "Reports", null, FormMethod.Post, new { id = "report_form" }))
{
    @Html.HiddenFor(m => m.IsPrint, new { data_isPrint = ""})
    <table class="tableform">    
        <tr>
            <td class="span3">@Translation.Get("Avdelning påverkad")</td>
            <td>@Html.DropDownListFor(m => m.DepartmentId, Model.Departments)
            </td>
        </tr>        
        <tr>
            <td class="span3">@Translation.Get("Ärendetyp")</td>
            <td>@Html.DropDownListFor(m => m.CaseTypeIds, Model.CaseTypes,
                    new { id = "case_types_dropdown", multiple = "multiple", @class = "multiselect multiselect-search" })
            </td>
        </tr>        
        <tr>
            <td class="span3">@Translation.Get("Driftgrupp")</td>
            <td>
                @Html.DropDownListFor(m => m.WorkingGroupId, Model.WorkingGroups)
            </td>
        </tr>        
        <tr>
            <td class="span3">@Translation.Get("Period från")</td>
            <td>
                @Html.EditorFor(m => m.PeriodFrom, "YearMonthPicker", new { id = "periodFrom" })
            </td>
        </tr>        
        <tr>
            <td class="span3">@Translation.Get("Period till")</td>
            <td>
                @Html.EditorFor(m => m.PeriodUntil, "YearMonthPicker", new { id = "periodUntil" })
            </td>
        </tr>        
    </table>        
}
<div id="report_container">    
</div>

<script type="text/javascript">
    $(function() {
        $("#case_types_dropdown").multiselect();
    })
</script>


