@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@{
    const string IsTeWorker = "No";
    const string DefaultCountry = "Sweden";
}
<div class="tab-pane" id="Personal">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Contact Details")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("TelephoneNumber")</td>
                    <td>@Model.Element("TelephoneNumber")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContactEMailAddress")</td>
                    <td>@Model.Element("ContactEMailAddress")</td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Permanent Address")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentAddressLine1")</td>
                    <td>@Model.Element("PermanentAddressLine1")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentAddressLine2")</td>
                    <td>@Model.Element("PermanentAddressLine2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentPostalCode")</td>
                    <td>@Model.Element("PermanentPostalCode")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentCity")</td>
                    <td>@Model.Element("PermanentCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentCountry")</td>
                    <td>@Model.Element("PermanentCountry")</td>
                </tr>

               <!-- MAILING ADDRESS -->
                <tr class="mailingaddress" id="mailingaddress">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Mailing Address")
                        <button class="btn btn-mini pull-right" id="btnMailingAddress" data-prefix="Mailing">
                            <i class="icon-share"></i>&nbsp;@Model.Translate("Copy from Permanent Address")
                        </button>
                            </h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingAddressLine1")</td>
                    <td>@Model.Element("MailingAddressLine1")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingAddressLine2")</td>
                    <td>@Model.Element("MailingAddressLine2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingPostalCode")</td>
                    <td>@Model.Element("MailingPostalCode")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingCity")</td>
                    <td>@Model.Element("MailingCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingCountry")</td>
                    <td>@Model.Element("MailingCountry")</td>
                </tr>
                
                <!-- EMERGENCY ADDRESS -->
                <tr class="emergencyaddress" id="emergencyaddress">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Emergency Address")
                        <button class="btn btn-mini pull-right" id="btnEmergencyAddress" data-prefix="Emergency">
                            <i class="icon-share"></i>&nbsp;@Model.Translate("Copy from Permanent Address")
                        </button>
                            </h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyAddressLine1")</td>
                    <td>@Model.Element("EmergencyAddressLine1")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyAddressLine2")</td>
                    <td>@Model.Element("EmergencyAddressLine2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyPostalCode")</td>
                    <td>@Model.Element("EmergencyPostalCode")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyCity")</td>
                    <td>@Model.Element("EmergencyCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyCountry")</td>
                    <td>@Model.Element("EmergencyCountry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyContactRelationship")</td>
                    <td>@Model.Element("EmergencyContactRelationship")</td>
                </tr>


              @Html.Partial("Sections/_FamilyMembers", Model)

              @Html.Partial("Sections/_GlobalMobilityEmployeeDocuments", Model)

              @Html.Partial("Sections/_GlobalMobilityDependants", Model)

              @Html.Partial("Sections/_GlobalMobilityDependantsDocuments", Model)
                
            </tbody>
        </table>
    </div>
      <div class="span6">
        <table class="table">
            <tbody>
                 <!-- Bank Account Details -->
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Bank Account Details")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Payee")</td>
                    <td>@Model.Element("Payee")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BankCountry")</td>
                    <td>@Model.Element("BankCountry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BankKey")</td>
                    <td>@Model.Element("BankKey")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AccountNumber")</td>
                    <td>@Model.Element("AccountNumber")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("IBAN")</td>
                    <td>@Model.Element("IBAN")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PaymentCurrency")</td>
                    <td>@Model.Element("PaymentCurrency")</td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Second Bank Account Details")</h4>
                    </td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong">@Model.Label("Payee2")</td>
                    <td>@Model.Element("Payee2")</td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong">@Model.Label("BankCountry2")</td>
                    <td>@Model.Element("BankCountry2")</td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong">@Model.Label("BankKey2")</td>
                    <td>@Model.Element("BankKey2")</td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong">@Model.Label("AccountNumber2")</td>
                    <td>@Model.Element("AccountNumber2")</td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong">@Model.Label("IBAN2")</td>
                    <td>@Model.Element("IBAN2")</td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong">@Model.Label("PaymentCurrency2")</td>
                    <td>@Model.Element("PaymentCurrency2")</td>
                </tr>
                <tr class="bankaccount2">
                    <td class="tdstrong">@Model.Label("OtherBankPercentageOrAmount")</td>
                    <td>@Model.Element("OtherBankPercentageOrAmount")</td>
                </tr>
                <tr id="addBankAccountTrr">
                    <td colspan="2">
                        @Model.Element("BankAccounts")
                        <a id="addBank" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another Bank")</a></td>
                </tr>
                
                <!-- FISCAL DATA AND SOCIAL INSURANCE -->
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Fiscal Data")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("TaxInformation")</td>
                    <td>@Model.Element("TaxInformation")</td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Social Insurance")</h4>
                    </td>
                </tr>
                                <tr>
                    <td class="tdstrong">@Model.Label("SocialInsurance")</td>
                    <td>@Model.Element("SocialInsurance")</td>
                </tr>
                
              
                <!-- Nationality / Language -->
                
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Nationality / Language")</h4>
                    </td>
                </tr>  
                <tr>
                    <td class="tdstrong">@Model.Label("Nationality")</td>
                    <td>@Model.Element("Nationality")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Language")</td>
                    <td>@Model.Element("Language")</td>
                </tr>
                
                <!-- Education -->
                
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Education")</h4>
                    </td>
                </tr>  
                <tr>
                    <td class="tdstrong">@Model.Label("EducationalEstablishment")</td>
                    <td>@Model.Element("EducationalEstablishment")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("InstituteLocation")</td>
                    <td>@Model.Element("InstituteLocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Certificate")</td>
                    <td>@Model.Element("Certificate")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("DurationOfCourse")</td>
                    <td>@Model.Element("DurationOfCourse")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BranchOfStudy")</td>
                    <td>@Model.Element("BranchOfStudy")</td>
                </tr>

                @for (int i = 2; i <= 4; i++)
                  {
                      <tr class="education@(i.ToString())" id="education@(i.ToString())">
                          <td class="tdstrong" colspan="2">
                              <h4>@Model.Translate("Education") @i.ToString()</h4>
                          </td>
                      </tr>
                      <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("EducationalEstablishment" + i.ToString())</td>
                          <td>
                              @Model.Element("EducationalEstablishment" + i.ToString())</td>
                      </tr>
                    
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("InstituteLocation" + i.ToString())</td>
                          <td>
                              @Model.Element("InstituteLocation" + i.ToString())</td>
                      </tr>
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("Certificate" + i.ToString())</td>
                          <td>
                              @Model.Element("Certificate" + i.ToString())</td>
                      </tr>
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("DurationOfCourse" + i.ToString())</td>
                          <td>
                              @Model.Element("DurationOfCourse" + i.ToString())</td>
                      </tr>
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("BranchOfStudy" + i.ToString())</td>
                          <td>
                              @Model.Element("BranchOfStudy" + i.ToString())</td>
                      </tr>
                }
                <tr id="addEducationTrr">
                    <td colspan="2">
                        @Model.Element("Educations")
                        <a id="addEducation" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another education")</a></td>
                </tr>

                
                
                <!-- Other / Previous employers -->
                
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Other / Previous employers")</h4>
                    </td>
                </tr>  
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployer")</td>
                    <td>@Model.Element("OtherPreviousEmployer")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerCity")</td>
                    <td>@Model.Element("OtherPreviousEmployerCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerCountry")</td>
                    <td>@Model.Element("OtherPreviousEmployerCountry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerIndustry")</td>
                    <td>@Model.Element("OtherPreviousEmployerIndustry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerJob")</td>
                    <td>@Model.Element("OtherPreviousEmployerJob")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerWorkContract")</td>
                    <td>@Model.Element("OtherPreviousEmployerWorkContract")</td>
                </tr>

                @for (int i = 2; i <= 4; i++)
                  {
                      <tr class="otherpreviousemployers@(i.ToString())" id="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong" colspan="2">
                              <h4>@Model.Translate("Other / Previous Employer") @i.ToString()</h4>
                          </td>
                      </tr>
                      <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployer" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployer" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerCity" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerCity" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerCountry" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerCountry" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerIndustry" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerIndustry" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerJob" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerJob" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerWorkContract" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerWorkContract" + i.ToString())</td>
                      </tr>
                }
                <tr id="addOtherPreviousEmployersTrr">
                    <td colspan="2">
                        @Model.Element("OtherPreviousEmployers")
                        <a id="addOtherPreviousEmployers" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another previous employer")</a></td>
                </tr>

           </tbody>
        </table>
    </div>
</div>

<script>
 function setGlobalMobilityBehavior(value) {

        if (value == '@IsTeWorker') {
            //Family Member
            jQuery(".familymember-first").show();

            //Global mobility
             jQuery(".globalmobility-first").hide();
             jQuery("[class*=globalmobility]").hide();
             $("[class*=globalmobility] input:not(input[type=hidden])").val("");
             jQuery("[class*=globalmobility-first]").hide();
             jQuery("[class*=globalmobility] input[type=text][name*='Country']").val('@DefaultCountry');
            jQuery("[class*=globalmobility] select option:not([value])").prop('selected', true);
        } else {
            //Global mobility
            jQuery(".globalmobility-first").show();

            //Family Member
            jQuery(".familymember-first").hide();
            jQuery("[class*=familymember]").hide();
            $("[class*=familymember] input:not(input[type=hidden])").val("");
            jQuery("[class*=familymember-first]").hide();
            jQuery("[class*=familymember] select option:not([value])").prop('selected', true);
        }

        $("[class*=globalmobility-first] input[type=hidden]").val("1");
        $("[class*=familymember-first] input[type=hidden]").val("1");
    };


    $('#TECoWorker').change(function () {
        setGlobalMobilityBehavior($(this).val());
    });


    if ($('#TECoWorker').val() == '@IsTeWorker') {
        $(".globalmobility-first").hide();
        jQuery(".familymember-first").show();
    }
    else
    {
        jQuery(".familymember-first").hide();
        $(".globalmobility-first").show();
    }

    $("#FirstName,#LastName,#Co-WorkerGlobalviewID").change(function () {
        SetPayeeDefault();
    });

    function SetPayeeDefault() {

        var counterBankAccounts = parseInt($('#BankAccounts').val()) || 0;

        var payeevalue = $("#FirstName").val() + " " + $("#LastName").val();

        //set first
        $("#Payee").val(payeevalue);

        for (var i = 2; i <= counterBankAccounts; i++) {
            //$('.bankaccount' + i).show();
            var payeeid = $('#Payee' + i);
            $(payeeid).val(payeevalue);
        }
    };
</script>
