@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.ComputerLogModel
<div class="container">
    <h4>@Translation.Get("Ny loggpost")</h4>
    <div class="row">
        <div class="span12">
            <table>
                <tr>
                    <td class="span3">@Html.LabelFor(x => x.LogText)
                    </td>
                    <td class="span9">
                        @Html.TextAreaFor(x => x.LogText)
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ComputerId)
        </div>
    </div>
</div>


