@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.ContractFieldsViewModel
@if (Model.ContractFieldsModel.ContractStatusId.Show || Model.ContractFieldsModel.ContractNumber.Show || Model.ContractFieldsModel.ContractStartDate.Show ||
     Model.ContractFieldsModel.ContractEndDate.Show || Model.ContractFieldsModel.PurchasePrice.Show || Model.ContractFieldsModel.PurchaseDate.Show ||
     Model.ContractFieldsModel.AccountingDimension1.Show || Model.ContractFieldsModel.AccountingDimension2.Show || Model.ContractFieldsModel.AccountingDimension3.Show ||
     Model.ContractFieldsModel.AccountingDimension4.Show || Model.ContractFieldsModel.AccountingDimension5.Show)
{
    <h4>@Translation.Get("Avtal")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.ContractFieldsModel.ContractStatusId, "Fields/List", new { Source = Model.ContractStatuses })
                @Html.EditorFor(m => m.ContractFieldsModel.ContractNumber, "Fields/Text")
                @Html.EditorFor(m => m.ContractFieldsModel.ContractStartDate, "Fields/Date", new { id = "computer_edit_contractstartdate_datepicker" })
                @Html.EditorFor(m => m.ContractFieldsModel.ContractEndDate, "Fields/Date", new { id = "computer_edit_contractenddate_datepicker" })
                @Html.EditorFor(m => m.ContractFieldsModel.PurchasePrice, "Fields/Number")
                @Html.EditorFor(m => m.ContractFieldsModel.PurchaseDate, "Fields/Date", new { id = "purchasedate_datepicker" })
                @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension1, "Fields/Text")
                @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension2, "Fields/Text")
                @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension3, "Fields/Text")
                @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension4, "Fields/Text")
                @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension5, "Fields/Text")
            </table>
        </div>
    </div>
}
