@using System.Web.Optimization
@using DH.Helpdesk.Web
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.ContactInformationFieldsModel
@{
    //    if (!ViewData.ContainsKey("ComputerId"))
    //    {
    //        throw new ArgumentNullException("ComputerId", "\"ComputerId\" ViewData parameter must be specified.");
    //    }

    var computerId = ViewData["ComputerId"];
}

@Scripts.Render(BundleConfig.ScriptNames.InventoryUserSearch)

<script>
    $(function () {
        InitInventoryUserSearch();

        $('#history_dialog_button').button().click(function () {

            $.get('@Url.Action("SearchComputerUserHistory")', { computerId: '@computerId' }, function (data) {
                $("#user_history_dialog_container").html(data);
                $("#user_history_select_div").parent().appendTo("#user_history_dialog_container");
                $('#user_history_select_div').dialog('open');
            });
        });
    });
</script>
@if (Model.UserStringId.Show)
{
    <h4>@Translation.GetCoreTextTranslation("Användarinformation")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @if (Model.UserStringId.Show)
                {
                    @Html.EditorFor(m => m.UserStringId, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "user_dialog_textbox" }, { "autocomplete", "off" } } })

                    if (Model.FirstName.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.GetCoreTextTranslation("Förnamn")</label>
                            </td>
                            <td class="span9" id="firstname_dialog_td">
                                @Html.DisplayFor(m => m.FirstName.Value)
                            </td>
                        </tr>
                    }

                    if (Model.LastName.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.GetCoreTextTranslation("Efternamn")</label>
                            </td>
                            <td class="span9" id="surname_dialog_td">
                                @Html.DisplayFor(m => m.LastName.Value)
                            </td>
                        </tr>
                    }

                    if (Model.Department.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.GetCoreTextTranslation("Avdelning")</label>
                            </td>
                            <td class="span9" id="department_dialog_td">
                                @Html.DisplayFor(m => m.Department.Value)
                            </td>
                        </tr>
                    }

                    if (Model.Unit.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.GetCoreTextTranslation("Enhet")</label>
                            </td>
                            <td class="span9" id="unit_dialog_td">
                                @Html.DisplayFor(m => m.Unit.Value)
                            </td>
                        </tr>
                    }
                }
            </table>
            @Html.HiddenFor(x => x.UserId, new { id = "user_dialog_userId" })
            <div id="user_dialog_container"></div>
            <div id="user_history_dialog_container"></div>
        </div>
    </div>
}
