@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.WorkstationFieldsViewModel
@if (Model.WorkstationFieldsModel.Name.Show || Model.WorkstationFieldsModel.Manufacturer.Show || Model.WorkstationFieldsModel.ComputerModelId.Show || Model.WorkstationFieldsModel.SerialNumber.Show || Model.WorkstationFieldsModel.BIOSVersion.Show || Model.WorkstationFieldsModel.BIOSDate.Show || Model.WorkstationFieldsModel.Theftmark.Show || Model.WorkstationFieldsModel.CarePackNumber.Show || Model.WorkstationFieldsModel.ComputerTypeId.Show || Model.WorkstationFieldsModel.Location.Show)
{
    <h4>@Translation.Get("Hårdvara")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.WorkstationFieldsModel.Name, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "60" } } } )
                @Html.EditorFor(m => m.WorkstationFieldsModel.Manufacturer, "Fields/Text")
                @Html.EditorFor(m => m.WorkstationFieldsModel.ComputerModelId, "Fields/List", new { Source = Model.ComputerModels })
                @Html.EditorFor(m => m.WorkstationFieldsModel.SerialNumber, "Fields/Text")
                @Html.EditorFor(m => m.WorkstationFieldsModel.BIOSVersion, "Fields/Text")
                @Html.EditorFor(m => m.WorkstationFieldsModel.BIOSDate, "Fields/Date", new { id = "computer_edit_biosdate_datepicker" })
                @Html.EditorFor(m => m.WorkstationFieldsModel.Theftmark, "Fields/Text")
                @Html.EditorFor(m => m.WorkstationFieldsModel.CarePackNumber, "Fields/Text")
                @Html.EditorFor(m => m.WorkstationFieldsModel.ComputerTypeId, "Fields/List", new { Source = Model.ComputerTypes })
                @Html.EditorFor(m => m.WorkstationFieldsModel.Location, "Fields/Text")
            </table>
        </div>
    </div>
}
