@using System.Web.Optimization
@model DH.Helpdesk.Web.Areas.Admin.Models.RegistrationSourceIndexViewModel
@{
    ViewBag.Title = "";
}
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation) + " " + Translation.Get("Källa", Enums.TranslationSource.TextTranslation), "new", new { customerId = Model.Customer.Id}, new { @class = "btn" })</li>
        </ul>
    </div>
    @Html.Partial("_MasterDataPanel", Model.Customer)
</div>
@Scripts.Render("~/bundles/admin/RegistrationSourceCustomer/index")
<div class="content registrationSourceCustomer admin">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Källa", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <span>@Translation.Get("Visa endast aktiva")</span>
                <input type="checkbox" class="switchcheckbox showonly-active" @(Model.IsShowOnlyActive ? "checked" : string.Empty)>
                <table class="table table-striped table-bordered table-hover" id="tblstatus">
                    <thead>
                        <tr>
                            <th>
                                @Translation.Get("Källa", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th>
                                @Translation.Get("Standard vid", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th>
                                @Translation.Get("Aktiv", Enums.TranslationSource.TextTranslation)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RegistrationSources)
                        {
                            

                            var isInactive = item.IsActive == 0; 
                            
                            <tr class="@(isInactive?"inactive":"")">
                                <td>
                                    <a href="@Url.Action("edit", "registrationsourcecustomer", new { area = "admin", id = item.Id })">@Translation.GetCoreTextTranslation(item.SourceName)</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("edit", "registrationsourcecustomer", new { area = "admin", id = item.Id })">@Translation.GetCoreTextTranslation(item.SystemCodeName)</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("edit", "registrationsourcecustomer", new { area = "admin", id = item.Id })">@item.IsActiveStr</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


