
@using DH.Helpdesk.Common.Extensions.DateTime
@using DH.Helpdesk.Mobile.Infrastructure.Extensions
@model DH.Helpdesk.Mobile.Models.Case.CaseSearchResultModel

@if (Model != null)
{    
    @*<table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <!--fasta kolumner -->
                
                <!-- valbara kolumner -->
                @if (Model.caseSettings != null)
                {                                        
                    <th onclick="sortCases('@Model.caseSettings[0].Name')" class="thpointer" >
                        @Translation.Get(Model.caseSettings[0].Name, Enums.TranslationSource.CaseTranslation, Model.caseSettings[0].Customer_Id) - 
                        @Translation.Get(Model.caseSettings[1].Name, Enums.TranslationSource.CaseTranslation, Model.caseSettings[1].Customer_Id)
                        <i class="@Model.caseSettings[0].Name.SetCaseSortIcon()"></i>                                
                    </th>                                        
                }
            </tr>
        </thead>        
        <tbody>*@
            <ul data-role="listview" data-inset="true">
            @if (Model.cases.Any())
            {            
                foreach (var r in Model.cases)
                {
                <li class="@r.IsUnread.GetClassForCaseRowTr(@r.IsUrgent)">
                    <a href="@Url.Action("edit", "cases", new { area = "", id = r.Id })">
                    @foreach (var c in r.Columns)
                    {                           

                        
                        if (c.TranslateThis)
                        {
                            <!-- string -->
                            @Translation.Get(c.StringValue, Enums.TranslationSource.TextTranslation)                        
                        }
                        else    
                        {
                            
                            @c.StringValue <span>&nbsp;</span>

                            
                        }
                        
                       
                    }    
                         
                        </a>
                </li>                
                }
            }
            else
            {
                @Html.Partial("_NoHits", "")
            }
        
    </ul>
}
