@model DH.Helpdesk.Mobile.Models.Case.CaseSearchFilterData 
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Mobile.Infrastructure
@using DH.Helpdesk.Mobile.Infrastructure.Extensions

@if (Model != null)
{<form id="frmCaseSearch" name="frmCaseSearch">
    
                            <input type="hidden" value="@Model.filterCustomerId" id="hidFilterCustomer_Id" name="hidFilterCustomerId" />                             
                            <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.SortBy" id="hidSortBy" name="hidSortBy" />
                            <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.Ascending" id="hidSortByAsc" name="hidSortByAsc" />

                    
                    @if (Model.Customers != null)
                    {
                        
                                <select id="lstfilterCustomers" name="lstfilterCustomers">
                                @foreach (var c in Model.Customers)
                                {
                                    <option value="@c.Id" @c.Id.IdIsSelected(Model.caseSearchFilter.CustomerId.ToString()) >@c.Name</option>
                                }
                                </select>               
                    }
                    @if (Model.filterPerformer != null)
                    {
                        
                                <select id="lstfilterPerformer" name="lstfilterPerformer">
                                    @foreach (var e in Model.filterPerformer)
                                    {
                                        if (e.IsActive == 1 && e.Performer == 1)
                                        {                        
                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.UserPerformer)>@e.SurName @e.FirstName</option>
                                        }
                                    }
                                </select>
                                            
                    }                                        
                
    </form>
}

<script>

   
    $(function () {
       
        $("#lstfilterPerformer").change(function () {            
            $.post('/Cases/Search/', $("#frmCaseSearch").serialize(), function (result) {
                $('#search_result').html(result);
            });
        });

        $("#lstfilterCustomers").change(function () {
            $.post('/Cases/Search/', $("#frmCaseSearch").serialize(), function (result) {
                $('#search_result').html(result);
            });
        });

    });
</script>

