@model DH.Helpdesk.Mobile.Models.Case.CaseSearchFilterData 
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Mobile.Infrastructure
@using DH.Helpdesk.Mobile.Infrastructure.Extensions

@if (Model != null)
{<form id="frmCaseSearch" name="frmCaseSearch">
    <div class="container">
        <div class="row" id="hiddeninfo" style="display:none">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            <input type="hidden" value="@Model.filterCustomerId" id="hidFilterCustomer_Id" name="hidFilterCustomerId" />                             
                            <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.SortBy" id="hidSortBy" name="hidSortBy" />
                            <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.Ascending" id="hidSortByAsc" name="hidSortByAsc" />
                        </td>
                        <td class="span4">
                        </td>
                        <td class="span5">
                        </td>
                    </tr>
                    
                    @if (Model.filterUser != null)
                    {
                        <tr>
                            <td>
                                @Translation.Get(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId)
                            </td>
                            <td>
                                <select id="lstfilterResponsible" name="lstfilterResponsible" class="multiselect multiselect-search" multiple="multiple">
                                    @foreach (var e in Model.filterUser)
                                    {
                                        if (e.IsActive == 1 && e.Performer == 1)
                                        {                        
                                        <option value="@e.Id @e.Id.IdIsSelected(Model.caseSearchFilter.UserResponsible)">@e.SurName @e.FirstName</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                 
                    }
                    @if (Model.filterPerformer != null)
                    {
                        <tr>
                            <td>
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId)
                            </td>
                            <td>
                                <select id="lstfilterPerformer" name="lstfilterPerformer" class="multiselect multiselect-search" multiple="multiple">
                                    @foreach (var e in Model.filterPerformer)
                                    {
                                        if (e.IsActive == 1 && e.Performer == 1)
                                        {                        
                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.UserPerformer)>@e.SurName @e.FirstName</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                 
                    }
                    
                    <tr>
                        <td>                            
                        </td>
                        <td>
                            <button id="btnClearFilter" name="btnClearFilter" class="btn">@Translation.Get("Rensa")</button>                                                        
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Sök")
                        </td>
                        <td class="span4">
                            <input type="text" id="txtFreeTextSearch" value="@Model.caseSearchFilter.FreeTextSearch" name="txtFreeTextSearch" />
                        </td>
                        <td>
                            <select id="lstfilterCaseProgress" name="lstfilterCaseProgress">
                                @foreach (var e in Model.filterCaseProgress)
                                {
                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.CaseProgress)>@e.StringValue</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input id="btnSearch" name="btnSearch" type="submit" class="btn" value="@Translation.Get("Go")"/>
                        </td>
                        <td class="span5">
                            <a href="#" id="btnMore">
                                <i id="icoPlus" class="icon-plus-sign"></i> 
                                <i id="icoFilter" class="icon-filter"></i>
                            </a>                           
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </form>
}

<script>
    $(function () {

        $("#btnClearFilter").click(function() {
            window.location.href = '@Url.Action("Index", "Cases", new { customerId = Model.customer != null ? Model.customer.Id : (int?)null, clearFilters = true })';
            return false;
        });

        $("#btnMore").click(function (e) {
            e.preventDefault();
            $("#hiddeninfo").toggle();
            if ($("#icoPlus").hasClass('icon-minus-sign')) {
                $("#icoPlus").removeClass('icon-minus-sign').addClass('icon-plus-sign');
            }
            else {
                $("#icoPlus").removeClass('icon-plus-sign').addClass('icon-minus-sign');
            }
        });

        $('#txtFreeTextSearch').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#btnSearch").click();
            }
        });

        if ('@Model.IsClearFilters.ToString().ToLower()' == 'true')
        {
            $("#btnMore").click();
        }
    });
</script>

