@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.GeneralEditModel

<h4>@Translation.GetCoreTextTranslation("Allmänt")</h4>
<table class="tableform">
    <tbody>
        @if (Model.OrderNumber.Value > 0)
        {
            @Html.DisplayFor(m => m.OrderNumber, "Fields/IntLabel")            
        }
        <tr>
            <td class="span3">
                @Translation.GetCoreTextTranslation("Typ")
            </td>
            <td class="span6">
                @Html.DisplayFor(m => m.OrderTypeName)
            </td>
            <td class="span3">
                
            </td>
        </tr>
        @if (Model.Status.Show)
        {
            <tr>
                <td class="span3">
                    @Html.FieldCaption(Model.Status)
                </td>
                <td class="span6">
                    @Html.DropDownListFor(m => m.StatusId, Model.Status.Value, new { @id = "general_status"})
                    @Html.ValidationMessageFor(m => m.StatusId)
                </td>
                <td class="span3">
                    @Model.Status.Help
                </td>
            </tr>             
        }          
        @Html.EditorFor(m => m.Administrator, "Fields/List", new { Source = Model.Administrators })
        @Html.EditorFor(m => m.Domain, "Fields/List", new { Source = Model.Domains })
        @Html.EditorFor(m => m.OrderDate, "Fields/Date", new { id = "orderdate_datepicker" })                                
    </tbody>
</table>
