@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.LogEditModel

<table class="tableform">
    @if (Model.Log.Show)
    {
        <tr>
            <td class="span2">
                @*@Html.FieldCaption(Model.Log)*@
            </td>
            <td class="span10">
                <div id="log_logs_container">
                    @Html.Partial("Logs", Model.Log.Value)
                </div>
            </td>
        </tr>
        <tr>
            <td class="span2">
                @Html.FieldCaption(Model.Log)
            </td>
            <td class="span10">
                @Html.TextAreaFor(m => m.Log.Value.Text)
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">
                <a id="log_send_to_button" class="btn btn-default">
                    @Translation.Get("till")
                </a>
            </td>
            <td>
                @Html.Partial("_SendToDialog", Model.Log.Value.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "log_send_to_dialog" }, { "Callback", "fillLogSendLogNoteToEmailsTextArea" } }))
                @Html.TextAreaFor(m => m.Log.Value.Emails, new { id = "log_send_to_emails_textarea", @readonly = "readonly" })
            </td>
        </tr>
    }
</table>