@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.OrderEditModel

<h4>@Translation.GetCoreTextTranslation("Beställning")</h4>
<table class="tableform">
    <tbody>
        @Html.EditorFor(m => m.Property, "Fields/List", new { Source = Model.Properties })
        @Html.EditorFor(m => m.OrderRow1, "Fields/Text")           
        @Html.EditorFor(m => m.OrderRow2, "Fields/Text")           
        @Html.EditorFor(m => m.OrderRow3, "Fields/Text")           
        @Html.EditorFor(m => m.OrderRow4, "Fields/Text")           
        @Html.EditorFor(m => m.OrderRow5, "Fields/Text")           
        @Html.EditorFor(m => m.OrderRow6, "Fields/Text")           
        @Html.EditorFor(m => m.OrderRow7, "Fields/Text")           
        @Html.EditorFor(m => m.OrderRow8, "Fields/Text")           
        @Html.EditorFor(m => m.Configuration, "Fields/Text")           
        @Html.EditorFor(m => m.OrderInfo, "Fields/WideText")
        @*@Html.EditorFor(m => m.OrderInfo2, "Fields/Number")  *@
         @if (Model.OrderInfo2.Show)
        {
            <tr>
                <td class="span3">
                    @Html.FieldCaption(Model.OrderInfo2)
                </td>
                <td class="span6">
                    @Html.SpecialCheckBox(Html.NameFor(m => m.OrderInfo2.Value).ToString(), Model.OrderInfo2.Value, 1)
                </td>
                <td class="span3">
                    @Model.OrderInfo2.Help
                </td>
            </tr> 
         }  
    </tbody>
</table>
