@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.OtherEditModel


<h4>@Model.Header</h4>
<table class="tableform">
    <tbody>
        @if (Model.FileName.Show)
        {
            <tr>
                <td class="span3">
                    @Html.FieldCaption(Model.FileName)
                </td>
                <td class="span6">
                    <a href="#fileName_files_uploader_popup" role="button" class="btn" data-toggle="modal">@Translation.GetCoreTextTranslation("Välj fil")</a>
                    <div id="fileName_files_uploader_popup" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>&nbsp;</h3>
                        </div>
                        <div class="modal-body">
                            <div id="fileName_files_uploader"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.GetCoreTextTranslation("Stäng")</button>
                        </div>
                    </div>
                </td>
                <td class="span3">
                    @Model.FileName.Help
                </td>
            </tr>
            <tr>
                <td></td>
                <td id="file_container">
                    @Html.Partial("AttachedFiles", Model.FileName.Value)
                </td>
                <td></td>
            </tr>
        }
        @if (Model.CaseNumber.Show)
        {
            <tr>
                <td>
                    @Html.FieldCaption(Model.CaseNumber)
                </td>
                <td class="span6">
                    @Html.HiddenFor(m => m.CaseNumber.Value)
                    @Model.CaseNumber.Value
                </td>
                <td class="span3">
                    @Model.CaseNumber.Help
                </td>
            </tr>
        }         
        @Html.EditorFor(m => m.Info, "Fields/WideText", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "200" } } })               
    </tbody>
</table>
@Html.Hidden("order_languageId", SessionFacade.CurrentLanguageId)
<script type="text/javascript">
    PluploadTranslation($("#Other_order_languageId").val());
    function PluploadTranslation(languageId) {
        if (languageId == 1) {
            plupload.addI18n({
                'Select files': 'Välj filer',
                'Add files to the upload queue and click start upload.': 'Lägg till filer i kön och tryck på Ladda upp.',
                'Filename': 'Filnamn',
                'Status': 'Status',
                'Size': 'Storlek',
                'Add files': 'Lägg till filer',
                'Add Files': 'Lägg till',
                'Start Upload': 'Ladda upp',
                'Stop current upload': 'Stoppa uppladdningen',
                'Start uploading queue': 'Starta uppladdningen',
                'Drag files here.': 'Dra filer hit'
            });
        }

        if (languageId == 2) {
            plupload.addI18n({
                'Select files': 'Select files',
                'Add files to the upload queue and click start upload.': 'Add files to the upload queue and click start upload.',
                'Filename': 'Filename',
                'Status': 'Status',
                'Size': 'Size',
                'Add files': 'Add files',
                'Stop current upload': 'Stop current upload',
                'Start uploading queue': 'Start uploading queue',
                'Drag files here.': 'Drag files here.'
            });
        }

    }
</script>