
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@using System.Web.Optimization
@using System.Linq;
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.ReceiverEditModel

<h4>@Model.Header</h4>
<table class="tableform">
    <tbody>
        @if (Model.ReceiverId.Show)
        {
            <tr>
                <td class="span3">
                    @Html.FieldCaption(Model.ReceiverId)
                </td>
                <td class="span6">
                    @Html.TextBoxFor(model => model.ReceiverId.Value, new {maxlength = "40", autocomplete = "Off", data_field = "userId", @id= "order_ReceiverId" })
                </td>
                <td class="span3">
                    @Model.ReceiverId.Help
                </td>
            </tr>             
        }
        @*@Html.EditorFor(m => m.ReceiverId, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_ReceiverId" } }}) *@          
        @Html.EditorFor(m => m.ReceiverName, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_ReceiverName" } }})           
        @Html.EditorFor(m => m.ReceiverEmail, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_ReceiverEmail" } }})           
        @Html.EditorFor(m => m.ReceiverPhone, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_ReceiverPhone" } }})           
        @Html.EditorFor(m => m.ReceiverLocation, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_ReceiverLocation" } }})           
        @Html.EditorFor(m => m.MarkOfGoods, "Fields/Text")           
    </tbody>
</table>
