@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Printer.OtherFieldsModel
@if (Model.NumberOfTrays.Show
        || Model.Driver.Show
        || Model.Info.Show
        || Model.URL.Show)
{
    <h4>@Translation.Get("Övrigt")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.NumberOfTrays, "Fields/Text")
                @Html.EditorFor(m => m.Driver, "Fields/Text")
                @Html.EditorFor(m => m.Info, "Fields/Text")
                @Html.EditorFor(m => m.URL, "Fields/Text")
            </table>
        </div>
    </div>
}
