@using DH.Helpdesk.Web
@model DH.Helpdesk.Web.Models.Shared.SendToDialogModel

@Scripts.Render(BundleConfig.ScriptNames.CaseIntLogEmailSearch)

<script type="text/javascript">
    $(function() {
        document.parameters = {
            emailNotValid: '@Translation.GetForJS("E-postadress är inte giltig.")',
            emailAlreadyAdded: '@Translation.GetForJS("Samma e-post redan lagts.")',
            adminLabel: '@Translation.GetForJS("Handläggare")',
            emailLabel: '@Translation.GetForJS("E-postgrupp")',
            initLabel: '@Translation.GetForJS("Anmälare")',
            wgLabel: '@Translation.GetForJS("Driftgrupp")',
            noResultLabel: '@Translation.GetForJS("Inga resultat matchar")'
        }
        var admins = @Html.SerializeObjectToJson(Model.Administrators.Items);
        var emailGroups = @Html.SerializeObjectToJson(Model.EmailGroups.Items);
        var workingGroups = @Html.SerializeObjectToJson(Model.WorkingGroups.Items);
        InitializeInternalLogSendDialog(admins, emailGroups, workingGroups);
    });
</script>

<div id="case_internal_log_popup" role="dialog" class="modal fade" aria-labelledby="myModalLabelCase" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5>@Translation.GetCoreTextTranslation("Välj E-post")</h5>
            </div>

            <div class="modal-body overflow-visible">
                <div id="caseInternalLogModalInput" contenteditable="true" class="case-send-emails-div case-popup-div"></div>
            </div>
            <div class="modal-body overflow-visible case-dropdown-area">
                <div id="caseInternalLog_emailGroupsDiv" class="case-dropdown-div">
                    @Translation.GetCoreTextTranslation("E-postgrupp")<br />
                    <select id="caseInternalLogEmailGroupsDropdown" class="case-intlog-multiselect multiselect-search" multiple="multiple">
                        @foreach (var emailGroup in Model.EmailGroups)
                        {
                            <option value="@emailGroup.Value">@emailGroup.Text</option>
                        }
                    </select>
                </div>
                <div id="caseInternalLog_workingGroupsDiv" class="case-dropdown-div">
                    @Translation.GetCoreTextTranslation("Driftgrupp")<br />
                    <select id="caseInternalLogWorkingGroupsDropdown" class="case-intlog-multiselect multiselect-search" multiple="multiple">
                        @foreach (var workingGroup in Model.WorkingGroups)
                        {
                            <option value="@workingGroup.Value">@workingGroup.Text</option>
                        }
                    </select>
                </div>
                <div id="caseInternalLog_adminsDiv" class="case-dropdown-div">
                    @Translation.GetCoreTextTranslation("Handläggare")<br/>
                    <select id="caseInternalLogAdministratorsDropdown" class="case-intlog-multiselect multiselect-search" multiple="multiple">
                        @foreach (var administrator in Model.Administrators)
                        {
                            <option value="@administrator.Value">@administrator.Text</option>
                        }
                    </select>
                </div>
                <div class="case-intlog-button-done">
                    <button type="button" id="btnCancel" class="btn btn-cancel btn-default" data-dismiss="modal">@Translation.GetCoreTextTranslation("OK")</button>
                </div>
            </div>
        </div>
    </div>
</div>
