@using DH.Helpdesk.Mobile.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta content="html/text; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>@Translation.Get("dhHelpdesk", Enums.TranslationSource.TextTranslation) @Translation.Get("Administration", Enums.TranslationSource.TextTranslation)</title>

    @*ny css*@
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/dhhelpdesk.css")" rel="stylesheet">
    <link href="@Url.Content("~/img-profile/profile.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/js/jquery.plupload.queue/css/jquery.plupload.queue.css")" />

    @*<script src="@Url.Content("~/Content/js/jquery.js")" type="text/javascript"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.3.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-multiselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plupload.full.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.plupload.queue/jquery.plupload.queue.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhHelpdesk-head.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.form.min.js")"></script>

</head>
<body>
@if (SessionFacade.CurrentUser != null)
{    
    if (SessionFacade.CurrentUser.UserGroupId > 2)    
    {    
    <div class="navbar navbar-admin fixed">
        <div class="navbar-container">
            <a href="@Url.Action("index", "start", new { area = "admin" })">
                <div class="navbar-header pull-left navbar-brand-admin">
                    @*<img src="@Url.Content("~/Content/img/dhhelpdeskadministration.png")" class="navbar-brand" />*@
                </div>
            </a>
            <div class="navbar-header pull-right">
                <ul class="nav dh-nav">

                    <li class="orange">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-wrench icon-white"></i>@Translation.Get("Inställningar", Enums.TranslationSource.TextTranslation)<i class="icon-chevron-down icon-white"></i>
                        </a>
                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            @if (SessionFacade.CurrentUser != null)
                            {
                                if (SessionFacade.CurrentUser.UserGroupId > 2)
                                {
                                <li><a href="@Url.Action("index", "customer", new { area = "admin" })">
                                    <img src="@Url.Content("~/Content/icons/customer.png")" alt="customer" />
                                    @Translation.Get("Kunder", Enums.TranslationSource.TextTranslation)</a></li>
                                }
                            }
                            <li><a href="@Url.Action("index", "users", new { area = "admin" })">
                                <img src="@Url.Content("~/Content/icons/user.png")" alt="user" />
                                @Translation.Get("Användare", Enums.TranslationSource.TextTranslation)</a></li>

                            @if (SessionFacade.CurrentUser != null)
                            {
                                if (SessionFacade.CurrentUser.UserGroupId > 2)
                                {
                                
                                <li><a href="@Url.Action("index", "globalsetting", new { area = "admin" })">
                                    <img src="@Url.Content("~/Content/icons/setup.png")" alt="globalsetting" />
                                    @Translation.Get("Inställningar", Enums.TranslationSource.TextTranslation)</a></li>
                                }
                            }
                            <li>
                                <img src="@Url.Content("~/Content/img/dhhelpdesk-menuend.png")" alt="Start" />
                            </li>
                        </ul>
                    </li>
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <i class="icon-user icon-white"></i>@SessionFacade.CurrentUser.FirstName @SessionFacade.CurrentUser.SurName
                            <i class="icon-chevron-down icon-white"></i>
                        </a>
                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="javascript:close_window();">
                                    <i class="icon-off"></i>
                                    @Translation.Get("Stäng", Enums.TranslationSource.TextTranslation) @Translation.Get("Administration", Enums.TranslationSource.TextTranslation)
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    @RenderSection("Dialogs", false)
    <script src="@Url.Content("~/Content/js/dhHelpdesk.js")" type="text/javascript"></script>
    @RenderSection("Scripts", false)
    <input type="hidden" value="@this.Request.RawUrl" id="rawUrl" />
    @Html.Partial("_Translations", null)
    }
}
</body>
</html>
