@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="documents">
   

    <div class="span12">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>@Model.Translate("Document")
                    </th>
                    <th>@Model.Translate("Type")
                    </th>
                    <th>
                        @Model.Translate("Printed by")
                    </th>
                    @*<th>
                        @Model.Translate("Contract concluded on")
                    </th>*@
                    <th>&nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Translate("ChangeTermsConditions")</td>
                    <td>pdf</td>
                    <td>@Model.GetAnswer("ChangeTermsConditions")</td>
                    <td>
                        <a href="@Url.Action("print", "ChangeTermsConditions", new
                                {
                                    id = "ChangeTermsConditions",
                                    caseId = Model.Contract.Id,
                                    path = Path.Combine(Path.GetDirectoryName(Model.FormXmlPath), Path.GetFileNameWithoutExtension(Model.FormXmlPath)),
                                    userId = FormLibSessions.User.UserId
                                })" class="btn pull-right print"><i class="icon-file"></i>&nbsp;@Model.Translate("Print")</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
