@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<body>
    <div>
        
        <p style="font-family:Verdana; font-size:10px;"><strong>Contract of employment</strong></p><br/>
        <p style="font-family:Verdana; font-size:10px;">
            Between IKEA B.V., hereinafter referred to as the Employer, and
        </p>
        <p style="font-family:Verdana; font-size:10px;">
            
            <strong>Initials        :</strong>@Model.GetAnswer("Initials") <br/>
            <strong>First Name      :</strong>@Model.GetAnswer("EmployeeFirstName") <br/>
            <strong>Last Name       :</strong>@Model.GetAnswer("EmployeeLastName")<br />
            <strong>Adress          :</strong>@Model.GetAnswer("PermanentStreetandHouseNo")<br />
            <strong>Postal Code     :</strong>@Model.GetAnswer("PermanentPostalCode") @Model.GetAnswer("PermanentCity")<br />
            <strong>Date of Birth   :</strong>@Model.GetAnswer("DateOfBirth")
            <br />
        </p>
        
       
        <p style="text-align: justify;font-family:Verdana; font-size:10px;">  

                1. <br/>
                As from @Model.GetAnswer("HiringDate"), the Employee enters employment with the Employer
                <br />
               
        </p>

        <p style="font-family:Verdana; font-size:9px;">
            <br />
        </p>
        <p style="text-align:justify;font-family:Verdana; font-size:10px;">
           2.<br/>
            The Employee is appointed in the job role of @Model.GetAnswer("JobTitle") at @Model.GetAnswer("Store/Unit"). The scale of this position is "JOBSCALE".
            The above job is specific to the store @Model.GetAnswer("Store/Unit") and is out of scope of the job structure of IKEA B.V. At the moment the VAPS construction of IKEA @Model.GetAnswer("Store/Unit") expires and IKEA @Model.GetAnswer("Store/Unit") is a regular store again, this will have consequences for this job. Together with you we will arrange another job associated with the job structure of IKEA B.V.
        </p>

        <p style="text-align:justify; font-family:Verdana; font-size:10px;">
            @if(Model.GetAnswer("ContractType") == "Fixed tern")
            {
                <text>
                3.<br/>
                This Contract of Employment is entered into for a definite period of time: @Model.GetAnswer("HiringDate") - @Model.GetAnswer("ValidUntil"). This contract legally ends at the end of the agreed period, without requiring any notice is required.

                </text>
            }        
        </p>
        
        <p style="text-align:justify; font-family:Verdana; font-size:10px;">
            @if(Model.GetAnswer("ContractType") == "Permanent")
            {
                <text>
                    3.<br/>
                    This Contract of Employment is entered into for an indefinite period of time. 
                </text>
            }        
        </p>
        <p style="text-align:justify;font-family:Verdana; font-size:10px;">
            
            4.<br/>
            Either party may terminate this Contract of Employment in the meantime by observing the statutory legal notice period. 
               
        </p>
        <p style="text-align:justify;font-family:Verdana; font-size:10px;">
           5.<br/>
            The Employee's employment with the Employer will lawfully cease in any case when the Employee reaches pensionable age. 
        </p>
        
        <p style="text-align:justify;font-family:Verdana; font-size:10px;">
            6.<br/>
            The first two month's of employment will serve as a probation period. During this trial period, either party may give notice and terminate the employment with immediate effect. 
        </p>
        
        <p style="text-align:justify;font-family:Verdana; font-size:10px;">
           7.<br/>
            This is a @Model.GetAnswer("FullTime/PartTime") Contract of Employment. The average number of working hours per week will be @Model.GetAnswer("WorkingHours") hours.
            The employee belongs to the category @Model.GetAnswer("EmployeeSubGroup").
            The employee is flexible to be scheduled during weekdays, Saturdays, Sundays and public holidays according to the IKEA CLA in time and hours and declares expressly agree.
        </p>
        
       
        <endpage/>

        <newpage/>
                                          
      

        
        <endpage/>
    </div>
    

</body>
</html>
