@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Profile.ProfileInputViewModel
@if (TempData["Error"] != null)
{
    <div class="alert alert-error">@Translation.Get("Användare", Enums.TranslationSource.TextTranslation)
        @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
    </div>   
}
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Användare", Enums.TranslationSource.TextTranslation) - @Model.User.FirstName @Model.User.SurName</a></li>
            <li><a href="#fragment-2">@Translation.Get("Widgets på startsidan")</a></li>
            <li><a href="#fragment-3">@Translation.Get("Kunder på startsidan")</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container" id="subTabContainer">
                    @Html.Partial("_General", Model)
                </div>
                <div>
                    @Html.HiddenFor(model => model.User.Customer_Id)
                    @Html.HiddenFor(model => model.User.Id)
                </div>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
                <div class="container" id="subTabContainer2">
                    @Html.Partial("Modules", Model.Modules)
                </div>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-3">
                <div class="container" id="subTabContainer3">
                    @Html.Partial("CustomersSettings", Model.CustomersSettings); 
                </div>
            </div>
        </div>
    </div>
</div>
