@model DH.Helpdesk.Web.Models.Profile.ProfileInputViewModel
@{
    ViewBag.Title = "";
 }

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "edit", new { id = Model.User.Id }, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
        </ul>
    </div>
</div>
@using (Html.BeginForm("edit", "profile", new { id = Model.User.Id }, FormMethod.Post, new { id = "target" }))
{
    @Html.Partial("_Input", Model)
}

@if (Model.ChangePasswordModel != null)
{
    @Html.Partial("_ChangePassword", Model.ChangePasswordModel)    
}

@section Scripts {
    <script type="text/javascript">
        $(function () {

            var validator = $("#target").validate({
                rules: {
                    "User.UserID": {
                        required: true
                    },
                    "User.FirstName": {
                        required: true
                    },
                    "User.SurName": {
                        required: true
                    },
                    "User.Email": {
                        required: true
                    }
                },
                messages: {
                    "User.UserID": {
                        required: "@Translation.GetForJS("Du måste ange ett Användar ID", Enums.TranslationSource.TextTranslation)"
                    },
                    "User.FirstName": {
                        required: "@Translation.GetForJS("Du måste ange ett namn", Enums.TranslationSource.TextTranslation)"
                    },
                    "User.SurName": {
                        required: "@Translation.GetForJS("Du måste ange ett namn", Enums.TranslationSource.TextTranslation)"
                    },
                    "User.Email": {
                        required: "@Translation.GetForJS("You must specify an e-mail address", Enums.TranslationSource.TextTranslation)"
                    }
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });           
        });
    </script>
}