@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="SSCUseOnly">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong">@Model.Label("HolidayFull")</td>
                    <td>
                        @Model.Element("HolidayFull")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionDeduction")</td>
                    <td>
                        @Model.Element("AdditionDeduction")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HolidayAdjustment")</td>
                    <td>
                        @Model.Element("HolidayAdjustment")
                    </td>
                </tr>
                                <tr>
                    <td class="tdstrong">@Model.Label("HolidayYear")</td>
                    <td>
                        @Model.Element("HolidayYear")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
