@model DH.Helpdesk.Web.Areas.Admin.Models.Invoice.ArticlesImportModel

@using (Ajax.BeginForm("ArticlesImport", "Invoice", null,
    new AjaxOptions { HttpMethod = "POST" }, 
    new { id="articles_import_form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.CustomerId)
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.File, new { type = "file" })
    <input id="carticles_import_button" type="submit" value="@Translation.Get("Import")" />
    <img id="articles_import_loading" src="@Url.Content("~/Content/icons/ajax-loader.gif")" style="display: none;" />
}
<div id="articles_import_status"></div>

<script type="text/javascript">
$(function() {
    var importButton = $("#articles_import_button");
    var loading = $("#articles_import_loading");
    var status = $("#articles_import_status");

    $('#articles_import_form').ajaxForm({
        beforeSend: function () {
            status.empty();
            importButton.attr("disabled", true);
            loading.show();
        },
        complete: function (xhr) {
            importButton.attr("disabled", false);
            loading.hide();
            status.html(xhr.responseText);
        }
    }); 
});       
</script>
