@model DH.Helpdesk.Web.Areas.Admin.Models.Invoice.ArticlesImportModel

@using (Ajax.BeginForm("ArticlesImport", "Invoice", null,
    new AjaxOptions {HttpMethod = "POST"},
    new {id = "articles_import_form", enctype = "multipart/form-data"}))
{
    @Html.HiddenFor(m => m.CustomerId)
    @Html.AntiForgeryToken()
    <div style="padding: 10px 0 60px;">
        <div class="article-import-div min-width-300">
            <input type="button" id="articles_fakeFile" value="@Translation.GetCoreTextTranslation("Välj FIL")">
            <label for="articles_fakeFile" id="fileLable" style="display: inline-block">...</label>
            @Html.TextBoxFor(m => m.File, new {type = "file", @class="pane"})
        </div>
        <div class="article-import-div">
            <input id="carticles_import_button" class="btn" type="submit" value="@Translation.GetCoreTextTranslation("Import")"/>
            <img id="articles_import_loading" src="@Url.Content("~/Content/icons/ajax-loader.gif")" class="pane"/>
        </div>
    </div>
}
<div id="articles_import_status"></div>

<script type="text/javascript">
$(function() {
    var importButton = $("#articles_import_button");
    var loading = $("#articles_import_loading");
    var status = $("#articles_import_status");

    var fakeButt = $("#articles_fakeFile");
    var label = $("#fileLable");
    var fileButt = $("#@Html.IdFor(m => m.File)");

    fakeButt.on("click", function() {
        fileButt.click();
    });
    fileButt.on('change', function () {
        label.text(fileButt.val().replace(/\\/g, '/').replace(/.*\//, ''));
    });

    $('#articles_import_form')
        .ajaxForm({
            beforeSend: function() {
                status.empty();
                importButton.attr("disabled", true);
                loading.show();
            },
            complete: function(data) {
                importButton.attr("disabled", false);
                loading.hide();
                if (data.responseText) {
                    var result = JSON.parse(data.responseText);
                    if (result.Success) {
                        status.removeClass("error");
                        status.html(result.Status);
                    } else {
                        status.addClass("error");
                        status.html(result.Status);
                    }
                }
            }
        });
});       
</script>
