@model DH.Helpdesk.BusinessData.Models.Invoice.CaseInvoiceSettings

@using (Html.BeginForm("SaveSettings", "Invoice", FormMethod.Post, new { id = "invoice_settings_form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CustomerId)
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.GetCoreTextTranslation("Export sökväg")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.ExportPath, new { maxlength = "200" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.GetCoreTextTranslation("Valuta")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.Currency, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.GetCoreTextTranslation("Utfärdare")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.Issuer, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.GetCoreTextTranslation("Vår referens")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.OurReference, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.GetCoreTextTranslation("Ordernummer/prefix")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.OrderNoPrefix, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.GetCoreTextTranslation("Dokumentmall")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.DocTemplate, new { maxlength = "50" })
                        </td>                       
                    </tr>
                </table>
            </div>
        </div>        
    </div>
}
<script type="text/javascript">
    $(function() {
        $("#save_invoice_settings").click(function() {
            $("#invoice_settings_form").submit();
            return true;
        });
    });
</script>