@using System.Web.Optimization
@using DH.Helpdesk.BusinessData.Enums.Users
@model DH.Helpdesk.Web.Models.HomeIndexViewModel
@{
    //ViewBag.Title = "Helpdesk start page"; -> Kommenterat ut tillsvidare då detta annars visas på fliken på startsidan
    var showStatisticsWidget = Model.UserModules.Any(u => (Module)u.Module_Id == Module.Statistics && u.isVisible);
}

@Scripts.Render("~/bundles/modules")

<div id="mainContainer" class="content nonemenu">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <div class="tab-content">
                    <div class="tab-pane active" id="fragment-1">
                        <div class="container">
                            <span class="toolt" data-toggle="tooltip"></span>
                            <div class="column" data-usermodules-column="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4 ">
                <div class="tab-content">
                    <div class="tab-pane active" id="fragment-3">
                        <div class="container">
                            <div class="column" data-usermodules-column="2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="tab-content">
                    <div class="tab-pane active" id="fragment-4">
                        <div class="container">
                            <div class="column" data-usermodules-column="3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>&nbsp;</h3>
    </div>
    <div class="modal-body">
        <form>
            <div id="uploader">
                <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Stäng")</button>
    </div>
</div>

<div class="startpage-brand" style="display: none;"></div>

<div style="display: none;"
     data-usermodules="items"
     data-usermodules-userid="@(Model.UserId)">
    <div class="portlet customers"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.Customers))"
         data-usermodules-position="@(GetModulePosition(Module.Customers))">
        @{
            Html.RenderPartial("CustomersInfo", Model.CustomersInfo);
        }
    </div>
    <div class="portlet changemanagement"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.ChangeManagement))"
         data-usermodules-position="@(GetModulePosition(Module.ChangeManagement))">
        @{
            Html.RenderPartial("ChangesInfo", Model.CustomerChanges);
        }
    </div>
    <div class="portlet problems"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.Problems))"
         data-usermodules-position="@(GetModulePosition(Module.Problems))">
        @{
            Html.RenderPartial("ProblemsInfo", Model.ProblemModel);
        }
    </div>
    <div class="portlet statistics"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.Statistics))"
         data-usermodules-position="@(GetModulePosition(Module.Statistics))">
        @if (showStatisticsWidget)
        {
            Html.RenderPartial("StatisticsInfo", Model.StatisticsOverviews);
        }
    </div>
    <div class="portlet bulletinboard"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.BulletinBoard))"
         data-usermodules-position="@(GetModulePosition(Module.BulletinBoard))">
        @{
            Html.RenderPartial("BulletinBoardInfo", Model.BulletinBoardModel);
        }
    </div>
    <div class="portlet calendar"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.Calendar))"
         data-usermodules-position="@(GetModulePosition(Module.Calendar))">
        @{
            Html.RenderPartial("CalendarsInfo", Model.CalendarModel);
        }
    </div>
    <div class="portlet faq"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.Faq))"
         data-usermodules-position="@(GetModulePosition(Module.Faq))">
        @{
            Html.RenderPartial("FaqInfo", Model.FaqModel);
        }
    </div>
    <div class="portlet operartionallog"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.OperationalLog))"
         data-usermodules-position="@(GetModulePosition(Module.OperationalLog))">
        @{
            Html.RenderPartial("OperationLogsInfo", Model.OperationLogModel);
        }
    </div>
    <div class="portlet dailyreport"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.DailyReport))"
         data-usermodules-position="@(GetModulePosition(Module.DailyReport))">
        @{
            Html.RenderPartial("DailyReportsInfo", Model.DailyReportModel);
        }
    </div>
    <div class="portlet quicklinks"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.QuickLinks))"
         data-usermodules-position="@(GetModulePosition(Module.QuickLinks))">
        @{
            Html.RenderPartial("LinksInfo", Model.LinksInfo);
        }
    </div>
    <div class="portlet documents"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.Documents))"
         data-usermodules-position="@(GetModulePosition(Module.Documents))">
        @{
            Html.RenderPartial("DocumentsInfo", Model.DocumentsModel);
        }
    </div>
    <div class="cases"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.Cases))"
         data-usermodules-position="@(GetModulePosition(Module.Cases))">
        @{
            Html.RenderPartial("MyCasesInfo", Model.MyCases);
        }
    </div>
    <div class="cases quick-open"
         data-usermodules="item"
         data-usermodules-moduleid="@(GetModuleId(Module.CaseQuickOpen))"
         data-usermodules-position="@(GetModulePosition(Module.CaseQuickOpen))">
        @if (GetModuleVisibility(Module.CaseQuickOpen))
        {
            Html.RenderPartial("CaseQuickOpen");
        }
    </div>
</div>
@functions
{

    private int GetModuleId(Module module)
    {
        var userModule = Model.UserModules.FirstOrDefault(m => m.Module_Id == (int)module);
        if (userModule == null)
            return 0;
        return userModule.Module_Id;
    }

    private int GetModulePosition(Module module)
    {
        var userModule = Model.UserModules.FirstOrDefault(m => m.Module_Id == (int)module);
        if (userModule == null)
            return 101;
        return userModule.Position;
    }

    private bool GetModuleVisibility(Module module)
    {
        var userModule = Model.UserModules.FirstOrDefault(m => m.Module_Id == (int)module);
        if (userModule == null)
            return false;
        return userModule.isVisible;
    }
}

<script type="text/javascript">

    function UpdateLogo() {
        var columns = $(".span4");
        $("#mainContainer").find(".startpage-brand").remove();
        var logo = $(".startpage-brand").clone();
        for (var i = 0; i < columns.length; i++) {
            var column = $(columns[i]);
            var columnLogo = column.find(".startpage-brand");
            if (column.find(".portlet-content").length == 0) {
                if (columnLogo.length == 0) {
                    column.find(".tab-content").before(logo);
                    logo.show();
                    break;
                }
            }
        }
    }

    $(function () {
        $(".column").sortable({
            connectWith: ".column",
            handle: ".portlet-header",
            cancel: ".portlet-toggle",
            placeholder: "portlet-placeholder",
            revert: true,
            beforeStop: function (event, ui) {
                //UpdateLogo();
                $(document).trigger("OnUserModuleItemMoved", [ui]);
            }
        });

        //UpdateLogo();
    });

</script>
@if (showStatisticsWidget)
{
    <script type="text/javascript">
        dhHelpdesk.statistics.init({
            dataUrl: '@Url.Action("GetStatistics", "Statistics")'
        });
        var statXhr = dhHelpdesk.statistics.loadStatistics();

        $(function () {
            statXhr.done(function() {
                dhHelpdesk.statistics.tryApplyData();
            });
        });
    </script>
}