@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Helpdesk start page";
}

<div class="content nonemenu">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="fragment-1">
                        <div class="container">
                            <span class="toolt" data-toggle="tooltip"></span>
                            @{
                                Html.RenderPartial("CustomersInfo", Model.CustomersInfo);
                            }
                            <div class="row-fluid">
                                <div class="box-box span12">
                                    <div class="box-header">
                                        <div class="start-tile-img label orange"><a href="@Url.Action("Index", "Problems", new { area = "" })"><img src="@Url.Content("~/Content/icons/problem.png")" alt="@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)" /></a></div><h4>@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="box-post" onclick="">
                                            <div class="label orange">2013-12-19 07:00:37</div>
                                            <div class="textrow">#3, Problem med backup på Exchange server</div>
                                        </div>
                                        <div class="box-post" onclick="">
                                            <div class="label orange">2013-12-19 07:00:37</div>
                                            <div class="textrow">#3, Problem med backup på Exchange server</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="box-box span12">
                                    <div class="box-header">
                                        <div class="start-tile-img label orange"><img src="@Url.Content("~/Content/icons/chart.png")" alt="@Translation.Get("Statistik", Enums.TranslationSource.TextTranslation)" /></div><h4>@Translation.Get("Statistik", Enums.TranslationSource.TextTranslation)</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="box-post">
                                            <div class="row-fluid">
                                                <div class="span3">
                                                    
                                                    <div class="graph blue">
                                                        <strong class="bar" style="height: 0%;">100</strong>
                                                    </div>
                                                    <p>
                                                        Pågående
                                                    </p>
                                                </div>
                                                <div class="span3">
                                                    
                                                    <div class="graph green">
                                                        <strong class="bar" style="height: 90%;">10</strong>
                                                    </div>
                                                    <p>
                                                        Avslutade
                                                    </p>
                                                </div>
                                                <div class="span3">
                                                    
                                                    <div class="graph orange">
                                                        <strong class="bar" style="height: 60%;">40</strong>
                                                    </div>
                                                    <p>
                                                        Varning
                                                    </p>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="span6 ikea-quality">
                
            </div>*@
            <div class="span4">
                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="fragment-3">
                        <div class="container">
                            @{
                                Html.RenderPartial("BulletinBoardInfo", Model.BulletinBoardOverviews);
                            }                            
                            @{
                                Html.RenderPartial("CalendarsInfo", Model.CalendarOverviews);
                            }
                            @{
                                Html.RenderPartial("FaqInfo", Model.FaqOverviews);
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="fragment-4">
                        <div class="container">
                            @{
                                Html.RenderPartial("OperationLogsInfo", Model.OperationLogOverviews);
                            }                                                        
                            @{
                                Html.RenderPartial("DailyReportsInfo", Model.DailyReportOverviews);
                            }                                                        
                            @{
                                Html.RenderPartial("LinksInfo", Model.LinksInfo);
                            }                                                        
                            <div class="row-fluid">
                                <div class="box-box span12">
                                    <div class="box-header">
                                        <div class="start-tile-img label orange"><img src="@Url.Content("~/Content/icons/quicklinks.png")" alt="@Translation.Get("Snabblänkar", Enums.TranslationSource.TextTranslation)" /></div><h4>@Translation.Get("Snabblänkar", Enums.TranslationSource.TextTranslation)</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="box-main">
                                            <div class="accordion" id="quicklinksstart">
                                                <div class="accordion-group accordion-caret">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle accordion-caret collapsed" data-toggle="collapse" data-parent="#quicklinksstart" href="#collapse1"><strong>Company Name 1</strong>
                                                        </a>
                                                    </div>
                                                    <div id="collapse1" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <ul>
                                                                <li><strong>Link Category</strong></li>
                                                                <li>
                                                                    <ul>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><strong>Link Category</strong></li>
                                                                <li>
                                                                    <ul>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group accordion-caret">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle accordion-caret collapsed" data-toggle="collapse" data-parent="#quicklinksstart" href="#collapse2"><strong>Company Name 1</strong>
                                                        </a>
                                                    </div>
                                                    <div id="collapse2" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <ul>
                                                                <li><strong>Link Category</strong></li>
                                                                <li>
                                                                    <ul>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><strong>Link Category</strong></li>
                                                                <li>
                                                                    <ul>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group accordion-caret">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle accordion-caret collapsed" data-toggle="collapse" data-parent="#quicklinksstart" href="#collapse3"><strong>Company Name 1</strong>
                                                        </a>
                                                    </div>
                                                    <div id="collapse3" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <ul>
                                                                <li><strong>Link Category</strong></li>
                                                                <li>
                                                                    <ul>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><strong>Link Category</strong></li>
                                                                <li>
                                                                    <ul>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                        <li><a href="#">Quick link 1</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>&nbsp;</h3>
    </div>
    <div class="modal-body">
        <form>
            <div id="uploader">
                <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Stäng", Enums.TranslationSource.TextTranslation)</button>
    </div>
</div>
