@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.OperationLogInputViewModel

<div id="fragment-1" class="ui-tabs-panel">
    @if (TempData["Error"] != null)
    {
        <div class="validation-summary-errors">@Translation.Get("Driftlogg", Enums.TranslationSource.TextTranslation)
            @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
        </div>    
    } </div>
    
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Driftlogg", Enums.TranslationSource.TextTranslation)</a></li>        
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">       
                     <div class="row">
                         <div class="span12">   
                           <h4> @Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation) </h4>       
                                <table class="tableform" border="0">
                                    <tr>
                                        <td>
                                            @Translation.Get("Driftsobjekt", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>                                           
                                            @Html.DropDownListFor(model => model.OperationLog.OperationObject_Id, Model.OperationObjects)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Translation.Get("Kategori", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>                                            
                                            @Html.DropDownListFor(model => model.OperationLog.OperationLogCategory_Id, Model.OperationLogCategories, "")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.OperationLog.LogText, new { maxlength = "2000", style = "height:100px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Translation.Get("Åtgärd", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.OperationLog.LogAction, new { maxlength = "2000", style = "height:100px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Translation.Get("Tidsåtgång", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                         <table>
                                            <tr>
                                               <td>                                                        
                                                   @Translation.Get("tim", Enums.TranslationSource.TextTranslation)                                                         
                                                   <br />
                                                   @Html.TextBoxFor(model => model.OperationLogHour,new { style = "width: 50px;"})                                                        
                                               </td>
                                               <td>
                                                   &nbsp;&nbsp;&nbsp;
                                                   @Translation.Get("min", Enums.TranslationSource.TextTranslation)
                                                   <br />
                                                       : &nbsp;
                                                   @Html.TextBoxFor(model => model.OperationLogMinute,new { style = "width: 50px;"})                                                        
                                               </td>
                                            </tr>
                                         </table>
                                        </td>
                                    </tr>
                                </table>
                         </div>
                     </div>    
                </div> 

                <div class="container">  <!-- Security Container -->
                         <div class="row">
                         <div class="span12">   
                            <h4>@Translation.Get("Säkerhet", Enums.TranslationSource.TextTranslation)</h4>
                            <table class ="tableform" border="0">
                               <tr>
                                  <td class="span3">                                
                                    @Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)                                    
                                  </td>
                                  <td>                                    
                                    <input type="checkbox" id="chkSecurity" name="chkSecurity" @(Model.OperationObjectsSelected.Count > 0 ? "checked=checked" : "") value="1"/>                                    
                                    <input type="hidden" name="chkSecurity" value="0" />
                                    @Translation.Get("Begränsa läsrättighet till", Enums.TranslationSource.TextTranslation)                                                                        
                                  </td>                                   
                               </tr> 
                            </table >                                 
                            <table class ="tableform">
                               <tr id="securityOptions" style="@(Model.OperationObjectsSelected.Count > 0 ? "display:block" : "display:none")"  >
                                  <td class="span3">                                      
                                  </td>
                                  <td style="width:200px">
                                     @Translation.Get("Tillgängliga", Enums.TranslationSource.TextTranslation)
                                     <br />
                                     @Html.ListBox("WGsAvailable", Model.OperationObjectsAvailable, new { style = "height: 100px" })
                                  </td>
                                  <td style="vertical-align:middle;width:20px">
                                    <input type="button" value="&gt;" id="addWGs" />
                                    <input type="button" value="&lt;" id="removeWGs" />                                                                        
                                  </td>
                                  <td style="width:200px">
                                    @Translation.Get("Valda", Enums.TranslationSource.TextTranslation)
                                    <br />
                                    @Html.ListBox("WGsSelected", Model.OperationObjectsSelected, new { style = "height: 100px" })
                                  </td>
                               </tr>                                                                                                      
                            </table>                           
                         </div>                         
                     </div>
                </div>  <!-- Security Container -->

                <div class="container"> <!-- Show Container -->                    
                    <div class="row">
                        <div class="span12">
                            <h4>@Translation.Get("Visa", Enums.TranslationSource.TextTranslation)</h4>
                            <table class="tableform" id="Visa" border="0">
                               <tr>
                                  <td class="span3">
                                     @Translation.Get("Visa fr.o.m", Enums.TranslationSource.TextTranslation):
                                  </td>
                                  <td class="span9">
                                     <div class="input-append date dateie" data-date="">
                                        @Html.EditorFor(model => model.OperationLog.ShowDate)<span class="add-on"><i class="icon-calendar"></i></span>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td>
                                     @Translation.Get("Visa t.o.m", Enums.TranslationSource.TextTranslation):
                                  </td>
                                  <td>
                                     <div class="input-append date dateie" data-date="">
                                        @Html.EditorFor(model => model.OperationLog.ShowUntilDate)<span class="add-on"><i class="icon-calendar"></i></span>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                   <td>
                                       @Translation.Get("Visa på startsidan", Enums.TranslationSource.TextTranslation):
                                   </td>
                                   <td class="checkbox" style="padding-left: 20px">                                        
                                       <input type="checkbox" name="OperationLog.ShowOnStartPage" @(Model.OperationLog.ShowOnStartPage == 1 ? "checked=checked" : "") value ="1" />                                        
                                       <input type="hidden" name="OperationLog.ShowOnStartPage" value="0" />                                                                                                             
                                   </td>                                    
                               </tr>
                               <tr>
                                   <td> 
                                       @Translation.Get("Informera handläggarna", Enums.TranslationSource.TextTranslation):
                                   </td>
                                   <td class="checkbox" style="padding-left: 20px">
                                       <input type="checkbox" name="OperationLog.InformUsers" @(Model.OperationLog.InformUsers == 1 ? "checked=checked" : "")  value="1" />                                        
                                       <input type="hidden" name="OperationLog.InformUsers" value="0" />                                                                               
                                       @Translation.Get("Popup", Enums.TranslationSource.TextTranslation)
                                   </td>                                
                               </tr>
                               <tr>
                                   <td> 
                                       @Translation.Get("Visa på självservice", Enums.TranslationSource.TextTranslation)
                                   </td>
                                   <td >
                                       <input type="checkbox" name="OperationLog.PublicInformation" @(Model.OperationLog.PublicInformation == 1 ? "checked=checked" : "")  value="1" />                                        
                                       <input type="hidden" name="OperationLog.PublicInformation" value="0" /> 
                                        &nbsp;&nbsp;&nbsp;
                                       <input type="checkbox" name="OperationLog.Popup" @(Model.OperationLog.Popup == 1 ? "checked=checked" : "")  value="1" />                                                                                                                       
                                       <input type="hidden" name="OperationLog.Popup" value="0" />                                                                               
                                       @Translation.Get("Popup", Enums.TranslationSource.TextTranslation)
                                   </td>                                                                   
                               </tr>
                               <tr>
                                   <td>
                                       @Translation.Get("Extern beskrivning", Enums.TranslationSource.TextTranslation)
                                   </td>
                                   <td>
                                       @Html.TextAreaFor(model => model.OperationLog.LogTextExternal, new { maxlength = "2000", style = "height:100px;" })
                                   </td>
                               </tr>
                            </table>
                        </div>
                    </div>
                </div> <!-- Show Container -->

                <div class="container"> <!-- Email Container -->                    
                    <div class="row">
                        <div class="span12">
                            <h4>@Translation.Get("E-post", Enums.TranslationSource.TextTranslation)</h4>
                            <table class="tableform" id="E-post" border="0">
                               <tr>
                                  <td class="span3">
                                     
                                  </td>
                                  <td class="span9">
                                     @*<div id="divSendInternalLogNoteTo" >
                                         @Html.Partial("_GetEmail", Model)
                                     </div>*@
                                  </td>
                               </tr>
                            </table>
                        </div>
                    </div>
                </div> <!-- Email Container -->

                @Html.HiddenFor(model => model.OperationLog.Customer_Id)
                @Html.HiddenFor(model => model.OperationLog.Id)                                    

       </div>
     </div>
  </div>
</div>


<script type="text/javascript">


    $(function () {
        if ($("#chkSecurity").is(":checked"))
            $("#securityOptions").show();

        $("#chkSecurity").click(function () {        
            $("#securityOptions").toggle();
        });
    });

    function submitForm() {
        $("#WGsSelected option").attr("selected", "selected");
        $("#target").submit();
    }

    $("#addWGs").click(function () {
        $("#WGsAvailable option:selected").remove().appendTo("#WGsSelected");
        $("#WGsAvailable").get(0).selectedIndex = -1;
        $("#WGsSelected").get(0).selectedIndex = -1;        
        return false;
    });

    $("#removeWGs").click(function () {
        $("#WGsSelected option:selected").remove().appendTo("#WGsAvailable");
        $("#WGsAvailable").get(0).selectedIndex = -1;
        $("#WGsAvailable").get(0).selectedIndex = -1;
        return false;
    });

   

    $(function () {
        var validator = $("#target").validate({
            rules: {
                "OperationLog.Text": {
                    required: true
                }
            },
            messages: {
                "OperationLog.Text": {
                    required: "@Translation.Get("Du måste ange en beskrivning", Enums.TranslationSource.TextTranslation)"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        });

</script>
