@model DH.Helpdesk.Web.Models.OperationLogInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("edit", "operationlog", new { id = Model.OperationLog.Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    @Html.ActionLink(Translation.GetCoreTextTranslation("Spara"), "edit",
                        new { id = Model.OperationLog.Id },
                        new { onclick = "submitForm();return false;", @class = "btn" })</li>
                <li>
                    @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "delete",
                        new { id = @Model.OperationLog.Id },
                        new
                        {
                            @class = "btn deleteDialog",
                            deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"
                        })</li>
                <li>
                    @Html.ActionLink(Translation.GetCoreTextTranslation("Avbryt"), "index", null, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    <div class="contentContent">
        @Html.Partial("_Input", Model)
    </div>
}