@using DH.Helpdesk.Dal.Enums.Changes
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Models.OperationLogIndexViewModel


@{
    ViewBag.Title = "";
}
@{var CurIcon = "";}
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.Get("Ny loggpost", Enums.TranslationSource.TextTranslation), "new", null, new { @class = "btn" })</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Driftlogg", Enums.TranslationSource.TextTranslation)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                @using (Html.BeginForm("index", "operationlog", FormMethod.Post, new { id = "search" }))
                {
                    <div class="container">
                       <div class ="span12">
                        <table class ="tableform">                          
                            @if (Model.OperationObjects != null)
                            {
                                <tr>
                                    <td>
                                        @Translation.Get("Driftobjekt", Enums.TranslationSource.TextTranslation)                                        
                                    </td>
                                    <td>
                                        <select id="OperationObject_Filter" name="OLSearch_Filter.OperationObject_Filter" class="chosen-select" multiple="multiple" data-placeholder = "@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)">
                                            
                                            @{
                                string s = "";
                                if (Model.OLSearch_Filter.OperationObject_Filter != null)
                                {
                                    s = string.Join(",", Model.OLSearch_Filter.OperationObject_Filter);
                                }
                                foreach (var e in Model.OperationObjects)
                                {
                                                <option value="@e.Id" @e.Id.IdIsSelected(s)>@e.Name</option>                                                
                                }
                                             }  
                                        </select>
                                    </td>
                                </tr>                 
                            }                           
                            @if (Model.OperationLogCategories != null)
                            {
                                <tr>
                                    <td>
                                        @Translation.Get("Kategori", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <select id="OperationCategory_Filter" name="OLSearch_Filter.OperationCategory_Filter" class="chosen-select" multiple="multiple" data-placeholder = "@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)">
                                            @{
                                string s = "";
                                int m = 0;
                                if (Model.OLSearch_Filter.OperationCategory_Filter != null)
                                {
                                    s = string.Join(",", Model.OLSearch_Filter.OperationCategory_Filter);
                                }                       
                                               <option value="0" @m.IdIsSelected(s)>--</option>                                              
                                                 
                                foreach (var e in Model.OperationLogCategories)
                                {                                                
                                                 <option value="@e.Id" @e.Id.IdIsSelected(s)>@e.OLCName</option>
                                }
                                             }
                                        </select>
                                    </td>
                                </tr>                 
                            }   
                            <tr>
                               <td>
                                  @Translation.Get("Period", Enums.TranslationSource.TextTranslation)                                        
                               </td>
                               <td>                                                                         
                                   <div >
                                       @Html.EditorFor(model => model.OLSearch_Filter.PeriodFrom , "DatePicker", new {id="searchDateFrom"}) 
                                       -                                    
                                       @Html.EditorFor(model => model.OLSearch_Filter.PeriodTo , "DatePicker", new {id="searchDateTo"})
                                   </div>

                               </td>
                            </tr>                                         
                            <tr>
                                <td>                                     
                                    @Translation.Get("Sök", Enums.TranslationSource.TextTranslation)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.OLSearch_Filter.Text_Filter, new { maxlength = "50", style = "width: 200px;" })
                                    <input type="button" class="btn" id="searchQueryBtn" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" onclick="submit();" />
                                </td>
                                <td>
                                   @* @Model.OperationLogs.Count()
                                    @Translation.Get(" poster i sökresultat", Enums.TranslationSource.TextTranslation)*@
                                </td>
                            </tr>
                        </table>
                       </div> <!--span3 -->
                    </div>
                @*
                } 
                @using (Html.BeginForm("sort", "operationlog", FormMethod.Post, new { id = "search" }))
                {
                *@
                    <div class="container">
                        <table class="table table-striped table-bordered table-hover" id="tbloperationlog">
                            <thead>
                                <tr>
                                    <th sort-data="CreatedDate" style="cursor: pointer; cursor: hand">
                                        @Translation.Get("Datum", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "CreatedDate";}
                                        <i class="@CurIcon.SetOpertionLogSortIcon()"></i>      
                                    </th>

                                    <th sort-data="OperationObjectName" style="cursor: pointer; cursor: hand">
                                        @Translation.Get("Driftsobjekt", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "OperationObjectName";}
                                        <i class="@CurIcon.SetOpertionLogSortIcon()"></i>      
                                        
                                    </th>
                                    <th sort-data="OperationLogAdmin" style="cursor: pointer; cursor: hand">
                                        @Translation.Get("Handläggare", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "OperationLogAdmin";}
                                        <i class="@CurIcon.SetOpertionLogSortIcon()"></i>      

                                    </th>
                                    <th sort-data="OperationLogCategoryName" style="cursor: pointer; cursor: hand">
                                        @Translation.Get("Kategori", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "OperationLogCategoryName";}
                                        <i class="@CurIcon.SetOpertionLogSortIcon()"></i>      

                                    </th>
                                    <th sort-data="OperationLogDescription" style="cursor: pointer; cursor: hand">
                                        @Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "OperationLogDescription";}
                                        <i class="@CurIcon.SetOpertionLogSortIcon()"></i>      

                                    </th>
                                    <th sort-data="OperationLogAction" style="cursor: pointer; cursor: hand">
                                        @Translation.Get("Åtgärd", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "OperationLogAction";}
                                        <i class="@CurIcon.SetOpertionLogSortIcon()"></i>      

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OperationLogList)
                                {                               
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("edit", "operationlog", new { id = item.Id })"> @Html.DisplayFor(m=> item.CreatedDate, "Date") </a>                                            
                                        </td>
                                        <td>
                                            <a href="@Url.Action("edit", "operationlog", new { id = item.Id })">@item.OperationObjectName</a>                                            
                                        </td>
                                        <td>
                                            <a href="@Url.Action("edit", "operationlog", new { id = item.Id })">@item.OperationLogAdmin</a>                                            
                                        </td>
                                        <td>
                                            <a href="@Url.Action("edit", "operationlog", new { id = item.Id })">@item.OperationLogCategoryName</a>                                            
                                        </td>
                                        <td>
                                            <a href="@Url.Action("edit", "operationlog", new { id = item.Id })">@item.OperationLogDescription.ForHtmlView()</a>                                            
                                        </td>
                                        <td>
                                            <a href="@Url.Action("edit", "operationlog", new { id = item.Id })">@item.OperationLogAction.ForHtmlView()</a>                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                } 
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var customerId = $("#currentCustomerId").val();
    
    $(function () {
        $("#currentCustomer").change(function () {
            
            $("#search").submit();
        });
    });

    $(document).on('click', 'th', function (e) {
        var sortBy = $(this).attr('sort-data');
        
        if (sortBy != undefined && sortBy != null) {
            $.post("/OperationLog/Sort", { fieldName: sortBy });
            $("#search").submit();
        }

    });
    
</script>

