@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Printer.PrinterEditViewModel
@{
    Layout = "~/Areas/Inventory/Views/Printer/_EditPrinterLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        @if (Model.UserHasInventoryAdminPermission)
        {
            <li id="menu1">
                <input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn" onclick=" $('#printer_edit_form').submit(); "/>
            </li>
            if (!Model.IsForDialog)
            {
                <li id="menu3">
                    @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "Delete", new {id = Model.Id}, new
                    {@class = "btn deleteDialog", deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"})
                </li>
            }
        }
        @if (!Model.IsForDialog)
        {
            <li id="menu2">@Html.ActionLink(Translation.GetCoreTextTranslation("Avbryt"), "Index", null, new {@class = "btn"})</li>
        }
    </ul>
}

    @using (Html.BeginForm("Edit", "Printer", FormMethod.Post, new { id = "printer_edit_form" }))
    {
        @Html.HiddenFor(m => m.PrinterViewModel.Id)
        @Html.HiddenFor(m => m.IsForDialog)
        @Html.EditorFor(m => m.PrinterViewModel.GeneralFieldsModel)
        @Html.EditorFor(m => m.PrinterViewModel.InventoryFieldsModel)
        @Html.EditorFor(m => m.PrinterViewModel.CommunicationFieldsModel)
        @Html.EditorFor(m => m.PrinterViewModel.OtherFieldsModel)
        @Html.EditorFor(m => m.PrinterViewModel.OrganizationFieldsViewModel)
        @Html.EditorFor(m => m.PrinterViewModel.PlaceFieldsViewModel)
        if (Model.PrinterViewModel.CreatedDate.Show || Model.PrinterViewModel.ChangedDate.Show)
        {
        <h4>@Translation.GetCoreTextTranslation("Status")</h4>
        }
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    @if (Model.PrinterViewModel.CreatedDate.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.Get(Model.PrinterViewModel.CreatedDate.Caption)</label>
                            </td>
                            <td class="span9">
                                @Html.DisplayFor(m => m.PrinterViewModel.CreatedDate.Value, "Date")
                            </td>
                        </tr>
                    }
                    @if (Model.PrinterViewModel.ChangedDate.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.Get(Model.PrinterViewModel.ChangedDate.Caption)</label>
                            </td>
                            <td class="span9">
                                @Html.DisplayFor(m => m.PrinterViewModel.ChangedDate.Value, "Date")
                            </td>
                        </tr>
                        if (Model.PrinterViewModel.StateFieldsModel.ChangedByUserName != null)
                        {
                        <tr>
                            <td class="span3">
                                <label>@Translation.GetCoreTextTranslation("Changed by")</label>
                            </td>
                            <td class="span9">
                                @Html.DisplayFor(m => m.PrinterViewModel.StateFieldsModel.ChangedByUserName.FirstName) @Html.DisplayFor(m => m.PrinterViewModel.StateFieldsModel.ChangedByUserName.LastName)
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
    }