@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Printer.PrinterViewModel
@{
    Layout = "~/Areas/Inventory/Views/Shared/_EditPopupLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        @if (Model.UserHasInventoryAdminPermission)
        {
            <li id="menu1">
                <input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn" onclick=" $('#printer_edit_form').submit(); "/>
            </li>
            if (!Model.IsForDialog)
            {
                <li id="menu3">
                    @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "Delete", new {id = Model.Id}, new
                    {@class = "btn deleteDialog", deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"})
                </li>
            }
        }
        @if (!Model.IsForDialog)
        {
            <li id="menu2">@Html.ActionLink(Translation.GetCoreTextTranslation("Avbryt"), "Index", null, new {@class = "btn"})</li>
        }
    </ul>
}

@section Title
{
    @Translation.GetCoreTextTranslation("Skrivare")
}

@section Content
{
    @using (Html.BeginForm("Edit", "Printer", FormMethod.Post, new { id = "printer_edit_form" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.IsForDialog)
        @Html.EditorFor(m => m.GeneralFieldsModel)
        @Html.EditorFor(m => m.InventoryFieldsModel)
        @Html.EditorFor(m => m.CommunicationFieldsModel)
        @Html.EditorFor(m => m.OtherFieldsModel)
        @Html.EditorFor(m => m.OrganizationFieldsViewModel)
        @Html.EditorFor(m => m.PlaceFieldsViewModel)
        if (Model.CreatedDate.Show || Model.ChangedDate.Show)
        {
        <h4>@Translation.GetCoreTextTranslation("Status")</h4>
        }
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    @if (Model.CreatedDate.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.Get(Model.CreatedDate.Caption)</label>
                            </td>
                            <td class="span9">
                                @Html.DisplayFor(m => m.CreatedDate.Value, "Date")
                            </td>
                        </tr>
                    }
                    @if (Model.ChangedDate.Show)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.Get(Model.ChangedDate.Caption)</label>
                            </td>
                            <td class="span9">
                                @Html.DisplayFor(m => m.ChangedDate.Value, "Date")
                            </td>
                        </tr>
                        if (Model.StateFieldsModel.ChangedByUserName != null)
                        {
                        <tr>
                            <td class="span3">
                                <label>@Translation.GetCoreTextTranslation("Changed by")</label>
                            </td>
                            <td class="span9">
                                @Html.DisplayFor(m => m.StateFieldsModel.ChangedByUserName.FirstName) @Html.DisplayFor(m => m.StateFieldsModel.ChangedByUserName.LastName)
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
    }

}