@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.SearchModels.PrinterSearchViewModel
@using (Ajax.BeginForm("PrintersGrid", "Printer", null, new AjaxOptions { UpdateTargetId = "grid_container" }, new { id = "search_form" }))
{
    @Html.HiddenFor(m => m.Filter.SortField.Name, new { id = "sortFieldName" })
    @Html.HiddenFor(m => m.Filter.SortField.SortBy, new { id = "sortFieldBy" })
<div class="expanded-search-content">
    <table class="tableform">

        @if (Model.Settings.DepartmentFieldSetting.IsShow)
        {
            <tr>
                <td class="span3">@Translation.Get(Model.Settings.DepartmentFieldSetting.Caption)</td>
                <td>@Html.DropDownListFor(m => m.Filter.DepartmentId, Model.Departments, string.Empty)</td>
            </tr>
        }
    </table>
</div>
<div>
    <table class="tableform">
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.SearchFor)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Filter.SearchFor) <input type="submit" value="@Translation.Get("Sök")" class="btn" />&nbsp;<i class='icon-plus-sign search-expand-button' style="cursor: pointer"></i>
              
            </td>
        </tr>
    </table>
</div>
}
<div id="grid_container">
    @Html.Action("PrintersGrid", "Printer", new { filter = Model.Filter })
</div>
<script type="text/javascript">

    $(".expanded-search-content").hide();
   
    $(function () {
        $(".search-expand-button").click(function () {
            //event.stopPropagation();
            var $target = $(event.target);
            $(".expanded-search-content").toggle();

            if ($target.closest("i").hasClass('icon-minus-sign')) {
                $target.closest("i").removeClass('icon-minus-sign').addClass('icon-plus-sign');
            }
            else {
                $target.closest("i").removeClass('icon-plus-sign').addClass('icon-minus-sign');
            }
        });
    });

</script>