@using DH.Helpdesk.Web.Areas.Licenses.Models.Common
@using DH.Helpdesk.Web.Infrastructure
@model BaseIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="secnavs fixed">
    <div class="pull-left">
        @RenderSection("Actions", false)        
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs nav-tabs-actions">
            <li class="@GetIsActive(IndexModelType.Products)">
                @Html.ActionLink(Translation.Get("Produkter"), "Index", "Products")
            </li>
            <li class="@GetIsActive(IndexModelType.Licenses)">
                @Html.ActionLink(Translation.Get("Licenser"), "Index", "Licenses")
            </li>
            <li class="@GetIsActive(IndexModelType.Vendors)">
                @Html.ActionLink(Translation.Get("Försäljare"), "Index", "Vendors")
            </li>
            <li class="@GetIsActive(IndexModelType.Manufacturers)">
                @Html.ActionLink(Translation.Get("Tillverkare"), "Index", "Manufacturers")
            </li>
            <li class="@GetIsActive(IndexModelType.Applications)">
                @Html.ActionLink(Translation.Get("Applikationer"), "Index", "Applications")
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active">                            
                @RenderBody()   
            </div>
        </div>
    </div>
</div>
@functions    {
    private MvcHtmlString GetIsActive(IndexModelType type)
    {
        return MvcHtmlString.Create(Model.Type == type ? "active" : null);
    }
}