@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Inventory.InventoryEditViewModel
@{
    Layout = "~/Areas/Inventory/Views/CustomInventory/_EditCustomInventoryLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        @if (Model.UserHasInventoryAdminPermission)
        {
            <li id="menu1">
                <input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn" onclick=" $('#inventory_edit_form').submit(); "/>
            </li>
            if (!Model.IsForDialog)
            {
                <li id="menu3">
                    @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "Delete", new {inventoryTypeId = Model.InventoryViewModel.InventoryTypeId, id = Model.InventoryViewModel.Id}, new
                    {@class = "btn deleteDialog", deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"})
                </li>
            }
        }
        @if (!Model.IsForDialog)
        {
            <li id="menu2">@Html.ActionLink(Translation.GetCoreTextTranslation("Avbryt"), "Index", new {inventoryTypeId = Model.InventoryViewModel.InventoryTypeId}, new {@class = "btn"})</li>
        }
    </ul>
}

    @using (Html.BeginForm("Edit", "CustomInventory", FormMethod.Post, new { id = "inventory_edit_form" }))
    {
        @Html.EditorFor(m => m)
        if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.ComputerName.Show)
        {
        <h4>@Translation.GetCoreTextTranslation("Tillbehör till")</h4>

        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.ComputerName.Caption)</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.ComputerName.Value)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        }
        <h4>@Translation.GetCoreTextTranslation("Status")</h4>

        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            <label>@Translation.GetCoreTextTranslation("Skapad datum")</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.InventoryViewModel.CreatedDate, "Date")
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            <label>@Translation.GetCoreTextTranslation("Senast ändrad datum")</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.InventoryViewModel.ChangeDate, "Date")
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            <label>@Translation.GetCoreTextTranslation("Synkroniseringsdatum")</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.InventoryViewModel.SyncDate, "Date")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @Html.HiddenFor(m => m.InventoryViewModel.Id)
        @Html.HiddenFor(m => m.InventoryViewModel.InventoryTypeId)
        @Html.HiddenFor(m => m.InventoryViewModel.IsForDialog)
    }