@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
<div class="tab-pane" id="SSCUseOnly">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong">@Model.Label("NewCo-WorkerID")</td>
                    <td>
                        @Model.Element("NewCo-WorkerID")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HolidayFull")</td>
                    <td>
                        @Model.Element("HolidayFull")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HolidayCurrent")</td>
                    <td>
                        @Model.Element("HolidayCurrent")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HolidayYear")</td>
                    <td>
                        @Model.Element("HolidayYear")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#NewCo-WorkerID').on('change', function () {
        $('#Co-WorkerID').val($('#NewCo-WorkerID').val());
        $('#hidden_Co-WorkerID').val($('#NewCo-WorkerID').val());
        
    });
</script>