@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    const string CompanyName = "IKEA Distribution Services Limited";
    const string PartTime = "Part Time";
    const string FullTime = "Full Time";
    const string Expats = "Expats";

    var fillOldVal = TempData["oldValues"];
    var newfill = (List<KeyValuePair<string, string>>)fillOldVal;
}

<div class="tab-pane" id="OrganisationalAssignment">
    <div class="span8">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Organisation")</h4>
                    </td>
                    <td class="tdstrong">
                        <h4>@Model.Translate("Current record")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Country")</td>
                    <td>@Model.Element("Country")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewCompany")</td>
                    <td>@Model.Element("NewCompany")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_NewCompany" name="OLD_NewCompany" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewCompany").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_NewCompany">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewCompany").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewBusinessUnit")</td>
                    <td>@Model.Element("NewBusinessUnit")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_NewBusinessUnit" name="OLD_NewBusinessUnit" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewBusinessUnit").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_NewBusinessUnit">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewBusinessUnit").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewServiceArea")</td>
                    <td>@Model.Element("NewServiceArea")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_NewServiceArea" name="OLD_NewServiceArea" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewServiceArea").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_NewServiceArea">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewServiceArea").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewDepartment")</td>
                    <td>@Model.Element("NewDepartment")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_NewDepartment" name="OLD_NewDepartment" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewDepartment").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_NewDepartment">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_NewDepartment").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HomeCostCentre")</td>
                    <td>@Model.Element("HomeCostCentre")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_HomeCostCentre" name="OLD_HomeCostCentre" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_HomeCostCentre").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_HomeCostCentre">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_HomeCostCentre").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("CostAllocation")</td>
                    <td>@Model.Element("CostAllocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("CrossChargeCostCentre")</td>
                    <td>@Model.Element("CrossChargeCostCentre")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_CrossChargeCostCentre" name="OLD_CrossChargeCostCentre" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_CrossChargeCostCentre").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_CrossChargeCostCentre">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_CrossChargeCostCentre").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Job")</h4>
                    </td>
                    <td class="tdstrong">
                        <h4>@Model.Translate("Current record")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("JobTitle")</td>
                    <td>@Model.Element("JobTitle")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_JobTitle" name="OLD_JobTitle" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_JobTitle").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_JobTitle">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_JobTitle").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("LocalJobTitle")</td>
                    <td>@Model.Element("LocalJobTitle")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewPosition")</td>
                    <td>@Model.Element("NewPosition")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ReportsToLineManager")</td>
                    <td>@Model.Element("ReportsToLineManager")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_ReportsToLineManager" name="OLD_ReportsToLineManager" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_ReportsToLineManager").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_ReportsToLineManager">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_ReportsToLineManager").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ManagerJobTitle")</td>
                    <td>@Model.Element("ManagerJobTitle")</td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Employment Conditions")</h4>
                    </td>
                    <td class="tdstrong">
                        <h4>@Model.Translate("Current record")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmploymentCategory")</td>
                    <td>@Model.Element("EmploymentCategory")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_EmploymentCategory" name="OLD_EmploymentCategory" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_EmploymentCategory").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_EmploymentCategory">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_EmploymentCategory").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContractedHours")</td>
                    <td>@Model.Element("ContractedHours")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_ContractedHours" name="OLD_ContractedHours" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_ContractedHours").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_ContractedHours">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_ContractedHours").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HoursPerWeek")</td>
                    <td>@Model.Element("HoursPerWeek")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("DaysPerWeek")</td>
                    <td>@Model.Element("DaysPerWeek")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PreviousContractStartDate")</td>
                    <td>@Model.Element("PreviousContractStartDate")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContractType")</td>
                    <td>@Model.Element("ContractType")</td>
                    <td>
                        <input type="hidden" class="oldValue" id="OLD_ContractType" name="OLD_ContractType" value="@((newfill != null) ? newfill.Where(x => x.Key == "OLD_ContractType").Select(x => x.Value).FirstOrDefault() : "")"/>
                        <em class="muted" id="emOLD_ContractType">@((newfill != null) ? newfill.Where(x => x.Key == "OLD_ContractType").Select(x => x.Value).FirstOrDefault() : "")</em>
                    </td>
                </tr>
@*                <tr>
                    <td class="tdstrong">@Model.Label("ProbationPeriod")</td>
                    <td>@Model.Element("ProbationPeriod")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ProbationEndDate")</td>
                    <td>@Model.Element("ProbationEndDate")</td>
                </tr>*@
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("CDS")</h4>
                    </td>
                    <td class="tdstrong">
                        <h4>@Model.Translate("Current record")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PrimarySite")</td>
                    <td>@Model.Element("PrimarySite")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("TECApprover")</td>
                    <td>@Model.Element("TECApprover")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HelpDesk")</td>
                    <td>@Model.Element("HelpDesk")</td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Country Specifics")</h4>
                    </td>
                    <td class="tdstrong">
                        <h4>@Model.Translate("Current record")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContractReviewDate")</td>
                    <td>@Model.Element("ContractReviewDate")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PreviousJobTitle")</td>
                    <td>@Model.Element("PreviousJobTitle")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EducationAuthority")</td>
                    <td>@Model.Element("EducationAuthority")</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>

<script>

    $(function () {

        $('#ContractedHours').on("input", function () {
            var value = $(this).val();

            if (value >= 16 && value <= 38) {
                $('#EmploymentCategory option[value="' + '@PartTime' + '"]').prop('selected', true);
            }
            else if (value >= 39 && value <= 40) {
                $('#EmploymentCategory option[value="' + '@FullTime' + '"]').prop('selected', true);
            }
            else if (value == "0") {
                $('#EmploymentCategory option[value="' + '@Expats' + '"]').prop('selected', true);
            }
            else {
                $('#EmploymentCategory option:not([value])').prop('selected', true);
            }
        });

        //$('#ReportsToLineManager').change(function () {
        //    $('#TECApprover').val($(this).val());
        //});

        $('#ReportsToLineManager').change(function () {
            //////////
            //ReportsToLineManager change function
            //If certain business units, TEC Approver=ReportsToLinemanager
            //////////

            var bus = $("#NewBusinessUnit option:selected").text();

            if (bus == 'Distribution Centre Peterborough 012' | bus == 'IKEA Property Services' | bus == 'Peterborough Contact Centre' | bus == 'Service Office UK' | bus == 'Customer Distribution Centre Peterborough 269') {
                var line = document.getElementById('ReportsToLineManager').value;

                var tec = $("#TECApprover option:selected").text();

                if (tec == '') {

                    $('#TECApprover')[0].selectize.setValue(line);
                }
            }


        });

        //function selectIndexChangeProbationPeriod() {
        //    if ((this.options[this.selectedIndex].value == 'Not Applicable') || (this.options[this.selectedIndex].value == 'No')) {
        //        document.getElementById('ProbationEndDate').disabled = true;
        //    } else {
        //        document.getElementById('ProbationEndDate').disabled = false;
        //    }
        //}

        //document.getElementById('ProbationPeriod').onchange = selectIndexChangeProbationPeriod;


        //add 11/8

        $('#NewCompany').change(function () {
            if ($("#NewCompany option:selected").text() == 'IKEA Limited')
            { document.getElementById('HelpDesk').value = 'ICC3 UK Retail'; }
            if ($("#NewCompany option:selected").text() == 'IKEA Properties Investments Ltd')
            { document.getElementById('HelpDesk').value = 'ICC3 UK Retail'; }
            if ($("#NewCompany option:selected").text() == 'IKEA Distribution Services Limited')
            { document.getElementById('HelpDesk').value = 'ICC3 WER DS'; }

            var value = $("#NewCompany option:selected").text();;

            if (!(value == '@CompanyName')) {
                document.getElementById('CostAllocation').disabled = true;
                if ($('#CrossChargeCostCentre')[0].selectize)
                { $('#CrossChargeCostCentre')[0].selectize.disable(); }

                //$('#CostAllocation, #CrossChargeCostCentre').prop('disabled', true);
            }
            else {
                document.getElementById('CostAllocation').disabled = false;
                if ($('#CrossChargeCostCentre')[0].selectize)
                { $('#CrossChargeCostCentre')[0].selectize.enable(); }
                //$('#CostAllocation, #CrossChargeCostCentre').prop('disabled', false);
            }
        });




        $('#NewBusinessUnit').change(function () {
            //////////
            //NewBusinessUnit change function
            //Calls other set functions, Sets primary site=business unit
            //////////

            addTecProviders();
            setPayrollCategory();
            setBasicPayAmount();
            setAllowanceType2();
            setAllowanceType();
            setAllowanceType3();



            var value = $(this).val();
            if ($('#NewBusinessUnit')[0].selectize) {
                var selectedText = $('#NewBusinessUnit')[0].selectize.getItem(value).text();

                if ($('#PrimarySite')[0].selectize) {
                    $('#PrimarySite')[0].selectize.setValue(selectedText);
                }
                else {
                    $('#PrimarySite').val(selectedText);
                }
            }
            else {
                var selectedText = $('#NewBusinessUnit').find('option:selected').text();
                if ($('#PrimarySite')[0].selectize) {
                    $('#PrimarySite')[0].selectize.setValue(selectedText);
                }
                else {
                    var selectedText = $('#NewBusinessUnit').find('option:selected').text();
                    $('#PrimarySite').val(selectedText);
                }
            }
        });

        $('#AllowancesType').change(function () {
            //////////
            //AllowancesType change function
            //Calls function to set allowance type unit
            //////////

            setAllowanceType();

        });

        $('#AllowancesType2').change(function () {
            //////////
            //AllowancesType2 change function
            //Calls function to set allowance type unit
            //////////

            setAllowanceType2();

        });

        $('#AllowancesType3').change(function () {
            //////////
            //AllowancesType3 change function
            //Calls function to set allowance type unit
            //////////

            setAllowanceType2();

        });

        
        jQuery('#PayrollCategory').change(function () {
            //////////
            //PayrollCategory change function
            //Calls functions to set
            //////////

            addDeductionTypesOnPayroll();
            
            addAllowanceOnPayroll();
            addPayScaleOnPayroll();
            setPayrollCategory();
            
            setBasicPayAmount();
            setAllowanceType();
            setAllowanceType2();
            setAllowanceType3();


        });
        

        $('#PayScaleGroup').change(function () {
            //////////
            //PayScaleGroup change function
            //Calls functions to set basic pay amount
            //////////

            setBasicPayAmount();

        });



        $('#NewServiceArea').change(function () {
            //////////
            //NewServiceArea change function
            //Calls functions to set job titles
            //////////

            path = '';
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';



            //path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_department_jobtitle_UK_outs.xml'
            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_function_jobtitleUK_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setLineManagerJobTitle,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        });

        $('#NewDepartment').change(function () {
            //////////
            //NewDepartment change function
            //Calls functions to set cost centre, linemanager
            //////////

            //Cost centre department
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_department_costcentre_change_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setCostCentre,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


            //Line manager department
            path = '';
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            //path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_department_linemanager_change_outs.xml'
            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_linemanager_department_outs_UK.xml'
            
            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setLineManager,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


            //Line manager jobtitle
            path = '';
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_department_jobtitle_UK_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setLineManagerJob,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });

        });

        function setLineManagerJob(xml) {
            //////////
            //addTecProvidersXML:
            //Adds tec providers on selected businessunit
            //////////

            var show = ''

            var dep = '';
            if (document.getElementById('NewDepartment')) {
                dep = $("#NewDepartment option:selected").text();
            }


            $(xml).find('dependent').each(function () {

                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department == dep) {

                    if (show != '') {
                        var n = show.indexOf(",");

                        if (n == -1) {

                            $('#ManagerJobTitle')[0].selectize.setValue(show);
                        }
                        else {
                            var res = show.substring(0, n);

                            $('#ManagerJobTitle')[0].selectize.setValue(res);
                        }
                        return;
                    }
                }
            });

        }

        function addDeductionTypesOnPayroll() {
            //////////
            //addDeductionTypesOnPayroll change function
            //Calls functions to set deduction types
            //////////

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';



            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/Predefined_PayrollCategory_DeductionsType_Change.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: addDeductionTypesOnPayrollXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


        }

        function addDeductionTypesOnPayrollXML(xml) {
            //////////
            //addDeductionTypesOnPayrollXML change function
            //Sets deduction types based on selected payroll
            //////////

            var show = ''

            var dep = '';
            if (document.getElementById('PayrollCategory')) {
                dep = $("#PayrollCategory option:selected").text();
            }

            var temp = '';

            $(xml).find('dependent').each(function () {

                var $sel = $(this);

                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department.toString().trim() == dep.toString().trim()) {

                    if (show != '') {

                        var optionsarray = show.split(',');
                        var seloption = "";

                        $('#DeductionsType')
                            .find('option')
                            .remove();


                        seloption = '<option value="' + temp + '">' + temp + '</option>';

                        $.each(optionsarray, function (i) {
                            seloption += '<option value="' + optionsarray[i] + '">' + optionsarray[i] + '</option>';
                        });


                        $('#DeductionsType').append(seloption);




                        return;
                    }


                }
            });

        }
        function addAllowanceOnPayroll() {
            //////////
            //addAllowanceOnPayroll change function
            //Calls function to add allowance types
            //////////

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            //path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_payroll_allowance_outs_change_outs.xml'
            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_payroll_allowance_outs_Change_New.xml'
            
            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: addAllowanceOnPayrollXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


        }


        function addAllowanceOnPayrollXML(xml) {
            //////////
            //addAllowanceOnPayrollXML
            //Adds allowance types based on selected payrollcategory
            //////////

            var show = ''
            var dep = '';

            if (document.getElementById('PayrollCategory')) {
                dep = $("#PayrollCategory option:selected").text();
            }
            //ert(dep);
            var temp = '';

            $(xml).find('dependent').each(function () {

                var $sel = $(this);

                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department.toString().trim() == dep.toString().trim()) {

                    if (show != '') {

                        var optionsarray = show.split(',');
                        var seloption = "";

                        $('#AllowancesType')
                            .find('option')
                            .remove();
                        $('#AllowancesType2')
                              .find('option')
                              .remove();

                        $('#AllowancesType3')
                            .find('option')
                            .remove();

                        seloption = '<option value="' + temp + '">' + temp + '</option>';

                        $.each(optionsarray, function (i) {
                            seloption += '<option value="' + optionsarray[i] + '">' + optionsarray[i] + '</option>';
                        });


                        $('#AllowancesType').append(seloption);
                        $('#AllowancesType2').append(seloption);
                        $('#AllowancesType3').append(seloption);





                        return;
                    }


                }
            });

        }

        function setAllowanceType2() {
            //////////
            //setAllowanceType2
            //Adds allowance types based on selected payrollcategory
            //////////

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_allowancetype_defaults_change_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setAllowanceTypeXML2,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function setAllowanceType() {
            //////////
            //setAllowanceType2
            //Adds allowance types based on selected payrollcategory
            //////////
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_allowancetype_defaults_change_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setAllowanceTypeXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function setAllowanceTypeXML3(xml) {
            //////////
            //Sets allowance type units from predefined_allowancetype_units_outs.XML based on Allowance type
            //////////

            var show = ''
            var show2 = ''
            if (document.getElementById('AllowancesAmountUnits3')) {
                document.getElementById('AllowancesAmountUnits3').value = '';
            }
            if (document.getElementById('AllowancesNetGross3')) {
                document.getElementById('AllowancesNetGross3').value = '';
            }

            var res = '0';

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;
            }

            var dep = '';
            if (document.getElementById('AllowancesType3')) {
                dep = document.getElementById('AllowancesType3').value;
            }
            var bus = '';
            if (document.getElementById('NewBusinessUnit')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }
            var d = dep + '_' + pay;

            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();


                if (dep.toString().trim() == 'Location Allowance') {

                    if (bus == 'Store Bristol 264') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '0,10';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '203,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Lakeside 262') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '0,77';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1560,00';
                            }
                        }
                    }
                    else if (bus == 'Store Milton Keynes 185') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '0,35';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '709,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Tottenham 255') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Wembley 141') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Service Office UK') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                }
                else {

                    if (department.toString().trim() == dep.toString().trim()) {

                        if (show != '') {
                            if (document.getElementById('AllowancesAmountUnits3')) {

                                if (dep.toString().trim() == 'Advanced') {
                                    if (bus.toString().trim() != 'Peterborough Contact Centre') {
                                        document.getElementById('AllowancesAmountUnits3').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits3').value = '0,55';
                                    }
                                }
                                else if (dep.toString().trim() == 'Fork Lift Truck Allowance') {
                                    if (bus.toString().trim() != 'Store Milton Keynes 185') {
                                        document.getElementById('AllowancesAmountUnits3').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits3').value = '1,72';
                                    }
                                }
                                else if (dep.toString().trim() == 'Kitchen Skills')
                                    if (bus.toString().trim() == 'Store Edinburgh 265') {
                                        document.getElementById('AllowancesAmountUnits3').value = '1,00';
                                    }

                                    else if (bus.toString().trim() == 'Store London Tottenham 255' | bus == 'Store London Wembley 141' | bus == 'Store London Croydon 144' | bus == 'Store London Lakeside 262') {
                                        document.getElementById('AllowancesAmountUnits3').value = '0,30';
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits3').value = show;
                                    }
                            }
                            else {
                                if (document.getElementById('AllowancesAmountUnits3')) {
                                    document.getElementById('AllowancesAmountUnits3').value = show;
                                }
                            }

                        }

                        res = '1';
                    }


                    if (res == 1) {
                        return;
                    }
                }
            });
        }

        function setAllowanceTypeXML(xml) {
            //////////
            //Sets allowance type units from predefined_allowancetype_units_outs.XML based on Allowance type
            //////////

            var show = ''
            var show2 = ''

            if (document.getElementById('AllowancesAmountUnits')) {
                document.getElementById('AllowancesAmountUnits').value = '';
            }
            if (document.getElementById('AllowancesNetGross')) {
                document.getElementById('AllowancesNetGross').value = '';
            }

            var res = '0';

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;
            }
            var dep = '';
            if (document.getElementById('AllowancesType')) {
                dep = document.getElementById('AllowancesType').value;
            }
            var bus = '';
            if (document.getElementById('AllowancesType')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }


            var d = dep + '_' + pay;

            
            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();

                if (dep.toString().trim() == 'Location Allowance') {

                    if (bus == 'Store Bristol 264') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '0,10';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '203,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Lakeside 262') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '0,77';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1560,00';
                            }
                        }
                    }
                    else if (bus == 'Store Milton Keynes 185') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '0,35';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '709,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Tottenham 255') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Wembley 141') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Service Office UK') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                }
                else {

                    if (department.toString().trim() == dep.toString().trim()) {


                        if (show != '') {
                            if (document.getElementById('AllowancesAmountUnits')) {

                                if (dep.toString().trim() == 'Advanced') {
                                    if (bus.toString().trim() != 'Peterborough Contact Centre') {
                                        document.getElementById('AllowancesAmountUnits').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits').value = '0,55';
                                    }
                                }
                                else if (dep.toString().trim() == 'Fork Lift Truck Allowance') {
                                    if (bus.toString().trim() != 'Store Milton Keynes 185') {
                                        document.getElementById('AllowancesAmountUnits').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits').value = '1,72';
                                    }
                                }
                                else if (dep.toString().trim() == 'Kitchen Skills')
                                    if (bus.toString().trim() == 'Store Edinburgh 265') {
                                        document.getElementById('AllowancesAmountUnits').value = '1,00';
                                    }

                                    else if (bus.toString().trim() == 'Store London Tottenham 255' | bus == 'Store London Wembley 141' | bus == 'Store London Croydon 144' | bus == 'Store London Lakeside 262') {
                                        document.getElementById('AllowancesAmountUnits').value = '0,30';
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits').value = show;
                                    }
                            }
                            else {
                                if (document.getElementById('AllowancesAmountUnits')) {
                                    document.getElementById('AllowancesAmountUnits').value = show;
                                }
                            }

                        }

                        res = '1';
                    }


                    if (res == 1) {
                        return;
                    }
                }

            });
        }

        function setAllowanceType3() {
            //////////
            ///DONE IN CHANGE
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';



            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_allowancetype_defaults_change_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setAllowanceTypeXML3,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function setAllowanceTypeXML2(xml) {
            //////////
            //Sets allowance type units from predefined_allowancetype_units_outs.XML based on Allowance type
            //////////
            ///DONE IN CHANGE

            var show = ''
            var show2 = ''
            if (document.getElementById('AllowancesAmountUnits2')) {
                document.getElementById('AllowancesAmountUnits2').value = '';
            }
            if (document.getElementById('AllowancesNetGross2')) {
                document.getElementById('AllowancesNetGross2').value = '';
            }

            var res = '0';

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;
            }
            var dep = '';
            if (document.getElementById('AllowancesType2')) {
                dep = document.getElementById('AllowancesType2').value;
            }
            var bus = '';
            if (document.getElementById('NewBusinessUnit')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }
            var d = dep + '_' + pay;

            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();


                if (dep.toString().trim() == 'Location Allowance') {

                    if (bus == 'Store Bristol 264') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '0,10';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '203,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Lakeside 262') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '0,77';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1560,00';
                            }
                        }
                    }
                    else if (bus == 'Store Milton Keynes 185') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '0,35';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '709,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Tottenham 255') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Wembley 141') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Service Office UK') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                }
                else {

                    if (department.toString().trim() == dep.toString().trim()) {

                        if (show != '') {
                            if (document.getElementById('AllowancesAmountUnits2')) {

                                if (dep.toString().trim() == 'Advanced') {
                                    if (bus.toString().trim() != 'Peterborough Contact Centre') {
                                        document.getElementById('AllowancesAmountUnits2').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits2').value = '0,55';
                                    }
                                }
                                else if (dep.toString().trim() == 'Fork Lift Truck Allowance') {
                                    if (bus.toString().trim() != 'Store Milton Keynes 185') {
                                        document.getElementById('AllowancesAmountUnits2').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits2').value = '1,72';
                                    }
                                }
                                else if (dep.toString().trim() == 'Kitchen Skills')
                                    if (bus.toString().trim() == 'Store Edinburgh 265') {
                                        document.getElementById('AllowancesAmountUnits2').value = '1,00';
                                    }

                                    else if (bus.toString().trim() == 'Store London Tottenham 255' | bus == 'Store London Wembley 141' | bus == 'Store London Croydon 144' | bus == 'Store London Lakeside 262') {
                                        document.getElementById('AllowancesAmountUnits2').value = '0,30';
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits2').value = show;
                                    }
                            }
                            else {
                                if (document.getElementById('AllowancesAmountUnits2')) {
                                    document.getElementById('AllowancesAmountUnits2').value = show;
                                }
                            }

                        }

                        res = '1';
                    }


                    if (res == 1) {
                        return;
                    }
                }
            });
        }



        function addPayScaleOnPayroll() {
            //////////
            //Add deduction types on selected payroll category
            //////////
            //DONE IN CHANGE

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_payroll_payscale_Change_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: addPayScaleOnPayrollXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


        }


        function addPayScaleOnPayrollXML(xml) {
            ///DONE IN CHANGE
            var show = ''
            var dep = '';

            if (document.getElementById('PayrollCategory')) {
                dep = $("#PayrollCategory option:selected").text();
            }

            var temp = '';

            $(xml).find('dependent').each(function () {

                var $sel = $(this);

                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department.toString().trim() == dep.toString().trim()) {

                    if (show != '') {

                        var optionsarray = show.split(',');
                        var seloption = "";

                        $('#PayScaleGroup')
                            .find('option')
                            .remove();


                        optionsarray.push('');

                        $.each(optionsarray, function (key, value) {

                            var s = value.replace(/\n/g, '');

                            $('#PayScaleGroup')
                                .append($("<option></option>")
                                .attr("value", s)
                                .text(s));
                        });



                        return;
                    }


                }
            });

        }

        function setBasicPayAmount() {
            //////////
            //Sets Basic pay amount based on payroll category and pay scale group
            //////////
            ///CHANGE

            if (document.getElementById('BasicPayAmount')) {
                document.getElementById('BasicPayAmount').value = ''
            }


            var bus = '';
            if (document.getElementById('NewBusinessUnit')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }
            var grp = '';
            if (document.getElementById('PayScaleGroup')) {
                //grp = document.getElementById('PayScaleGroup').value;
                grp = $("#PayScaleGroup option:selected").text();
            }

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;

            }

           
            if (pay.toString().trim() == 'Hourly') {
                var show;
                //  alert();
                show = 'STARTER';
                //document.getElementById('PayScaleGroup').value = show;
                //grp = show;
               
                if (grp == '') {
                    grp = 'STARTER';
                    document.getElementById('PayScaleGroup').value = grp;
                    document.getElementById('PayScaleGroup').selectedIndex = 1;
                    //alert(grp);
                }

                if (bus.toString().trim() == 'Peterborough Contact Centre') {
                    if (grp.toString().trim() == 'STARTER') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,84'
                        }
                    }
                    else if (grp.toString().trim() == 'FOUNDATION') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,84'
                        }
                    }
                    else if (grp.toString().trim() == 'ADVANCED') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = ''
                        }
                    }
                }
                else if (bus.toString().trim() == 'Customer Distribution Centre Peterborough 269' | bus == 'Distribution Centre Peterborough 012') {
                    if (grp.toString().trim() == 'STARTER') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '8,45'
                        }
                    }
                    else if (grp.toString().trim() == 'MULTSKLL') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '8,77'
                        }
                    }
                    else if (grp.toString().trim() == 'BOOKOFF') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '10,77'
                        }
                    }
                    else if (grp.toString().trim() == 'QUALITY') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '10,21'
                        }
                    }
                    else if (grp.toString().trim() == 'APPRENTICE 7.69') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,69'
                        }
                    }
                    else if (grp.toString().trim() == 'APPRENTICE 6.66') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '6,66'
                        }
                    }
                }
                else {
                    
                    if (grp.toString().trim() == 'STARTER') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,13'
                        }
                    }
                    else if (grp.toString().trim() == 'FOUNDATION') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,13'
                        }
                    }
                    else if (grp.toString().trim() == 'INTERN') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '6,50'
                        }
                    }
                }
            }

           


        }

        function setPayrollCategory() {
            //////////
            //Sets PayScaleGroup
            //////////


            var sal = '';
            if (document.getElementById('PayrollCategory')) {
                sal = document.getElementById('PayrollCategory').value;
                if (sal == '') {
                    sal = $("#PayrollCategory option:selected").text();
                }
            }

            var bus = '';
            if (document.getElementById('NewBusinessUnit')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }
            //setDefaultPayroll();
            //alert(sal);
            //Okej, first time loses value from Payroll caterogru
            if (sal == 'Salaried' | sal == 'Salaried Management' | sal == 'Salaried Senior Management') {

                document.getElementById('AllowancesAmountUnits').value = '';

                var path = window.location.protocol + '//';
                path = path + window.location.host + '/';



                path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_payroll_category_change_outs.xml'

                $.ajax({
                    type: "GET",
                    url: path,
                    dataType: "xml",
                    success: setPayrollCategoryXML,
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                        alert(textStatus);
                        alert(errorThrown);
                    }

                });


            }
            else if (sal == 'Hourly') {

                if (document.getElementById('PayScaleGroup')) {
                    document.getElementById('PayScaleGroup').value = '';
                }
                if (document.getElementById('BenefitLevel')) {
                    document.getElementById('BenefitLevel').value = '';
                }



                if (document.getElementById('PayScaleGroup')) {
                    if (bus == 'Store Cardiff 267' | bus == 'Store Edinburgh 265') {
                        document.getElementById('PayScaleGroup').value = 'STARTER';
                    }
                    else if (bus == 'Peterborough Contact Centre') {
                        document.getElementById('PayScaleGroup').value = 'STARTER';
                    }
                    else if (bus == 'Customer Distribution Centre Peterborough 269' | bus == 'Distribution Centre Peterborough 012') {
                        document.getElementById('PayScaleGroup').value = 'STARTER';
                    }
                    else {
                        document.getElementById('PayScaleGroup').value = 'STARTER';
                    }
                }

            }
        }

        function setDefaultPayroll(xml) {

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';

            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_payroll_category_outs.xml'


            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setDefaultPayrollXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });

        }
        function setDefaultPayrollXML(xml) {
            //////////
            //Sets PayScaleGroup, OneIKEABonusLevel, BenefitLevel from predefined_payroll_category_outs.XML and selected Job title and payroll category
            //////////
            ///DONE IN CHANGE

            var show = ''
            var res = '0';

            var dep = '';
            if (document.getElementById('JobTitle')) {
                dep = document.getElementById('JobTitle').value;
            }

            var bus = '';
            if (document.getElementById('NewBusinessUnit')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }



            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show7').text();


                if (department.toString().trim() == dep.toString().trim()) {


                    res = '1';
                    if (show != '') {
                        var n = show.indexOf(",");
                        if (n == -1) {
                            if (document.getElementById('PayrollCategory')) {
                                document.getElementById('PayrollCategory').value = show;
                            }
                        }
                        else {
                            var res = show.substring(0, n);
                            if (document.getElementById('PayrollCategory')) {
                                document.getElementById('PayrollCategory').value = res;
                            }
                        }
                    }
                    else {
                        if (document.getElementById('PayrollCategory')) {
                            document.getElementById('PayrollCategory').value = '';
                        }
                    }

                  //  setBasicPayAmount();

                }
            });
            
            addPayScaleOnPayroll();

            setPayrollCategory();

            setBasicPayAmount();
        }
        function setPayrollCategoryXML(xml) {
            //////////
            //Sets PayScaleGroup, OneIKEABonusLevel, BenefitLevel from predefined_payroll_category_outs.XML and selected Job title and payroll category
            //////////
            ///DONE IN CHANGE

            var show = ''
            var show2 = ''
            var show3 = ''
            var show4 = ''
            var show5 = ''
            var show6 = ''
            var show7 = ''
            var res = '0';

            var dep = '';
            if (document.getElementById('JobTitle')) {
                dep = document.getElementById('JobTitle').value;
            }

            var bus = '';
            if (document.getElementById('NewBusinessUnit')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }


            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';
                show3 = '';
                show4 = '';
                show5 = '';
                show6 = '';
                show7 = '';

                var empty = '';
                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();
                show3 = $sel.find('show3').text();
                show4 = $sel.find('show4').text();
                show5 = $sel.find('show5').text();
                show6 = $sel.find('show6').text();
                show7 = $sel.find('show7').text();


                if (department.toString().trim() == dep.toString().trim()) {

                    if (bus == 'Store Manchester 186' | bus == 'Store Belfast 113' | bus == 'Store Cardiff 267' | bus == 'Store Edinburgh 265' | bus == 'Store Gateshead 143' | bus == 'Store Milton Keynes 185' | bus == 'Store Coventry 150') {
                        res = '1';
                        if (show != '') {
                            var n = show.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    //document.getElementById('PayScaleGroup').value = show;
                                    document.getElementById('PayScaleGroup').value = show;
                                }
                            }
                            else {
                                var res = show.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }
                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = empty;
                            }
                        }
                    }
                    else if (bus == 'Store Bristol 264' | bus == 'Store London Tottenham 255' | bus == 'Store Glasgow 266' | bus == 'Store London Lakeside 262' | bus == 'Store Leeds 261' | bus == 'Store Nottingham 263' | bus == 'Store Southampton 125' | bus == 'Store Warrington 140' | bus == 'Store Birmingham 142') {
                        res = '1';

                        if (show2 != '') {
                            var n = show2.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = show2;
                                }
                            }
                            else {
                                var res = show2.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }

                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = empty;
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144' | bus == 'Store London Wembley 141' | bus == 'Store Glasgow 266') {
                        res = '1';
                        if (show3 != '') {
                            var n = show3.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = show3;
                                }
                            }
                            else {
                                var res = show3.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }
                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = empty;
                            }
                        }
                    }
                    else {
                        res = '1';
                        if (show4 != '') {
                            var n = show4.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = show4;
                                }
                            }
                            else {
                                var res = show4.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }
                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = empty;
                            }
                        }
                    }

                    //setBasicPayAmount();

                    if (show6 != '') {
                        var n = show6.indexOf(",");
                        if (n == -1) {
                            if (document.getElementById('OneIKEABonusLevel')) {
                                document.getElementById('OneIKEABonusLevel').value = show6;
                            }
                        }
                        else {
                            var res = show6.substring(0, n);
                            if (document.getElementById('OneIKEABonusLevel')) {
                                document.getElementById('OneIKEABonusLevel').value = res;
                            }
                        }
                        res = '1';
                    }
                    else {
                        res = '1';
                        if (document.getElementById('OneIKEABonusLevel')) {
                            document.getElementById('OneIKEABonusLevel').value = '';
                        }
                    }

                    if (!(show5 == '')) {
                        var n = show5.indexOf(",");
                        if (n == -1) {
                            if (document.getElementById('BenefitLevel')) {
                                document.getElementById('BenefitLevel').value = show5;
                            }

                        }
                        else {
                            var res = show5.substring(0, n);
                            if (document.getElementById('BenefitLevel')) {
                                document.getElementById('BenefitLevel').value = res;
                            }

                        }
                        res = '1'
                    }
                    else {

                        res = '1';
                        if (document.getElementById('BenefitLevel')) {
                            document.getElementById('BenefitLevel').value = '';
                        }
                        $('#notice_BenefitLevel').show();
                    }

                }
            });
        }


        function addTecProviders() {
            //////////
            //Add deduction types on selected payroll category
            //////////


            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';

            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_businessunit_tecprovider_change_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: addTecProvidersXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function addTecProvidersXML(xml) {
            //////////
            //Sets Line manager from predefined_linemanager_department_outs.XML and selected department
            //////////

            var show = ''
            if (document.getElementById('TECApprover')) {
                $('#TECApprover')[0].selectize.setValue('');
            }
            var dep = '';
            if (document.getElementById('NewBusinessUnit')) {
                dep = $("#NewBusinessUnit option:selected").text();
            }
            //var line = $("#ReportsToLineManager option:selected").text();

            var line = '';
            if (document.getElementById('ReportsToLineManager')) {
                line = document.getElementById('ReportsToLineManager').value;
            }

            if (dep == 'Distribution Centre Peterborough 012' | dep == 'IKEA Property Services' | dep == 'Peterborough Contact Centre' | dep == 'Service Office UK' | dep == 'Customer Distribution Centre Peterborough 269') {
                //alert(line);
                if (document.getElementById('TECApprover')) {
                    $('#TECApprover')[0].selectize.setValue(line);
                }
            }

            else {
                $(xml).find('dependent').each(function () {

                    var $sel = $(this);
                    show = '';

                    var department = $sel.find('selected').text();

                    show = $sel.find('show').text();

                    if (department == dep) {

                        if (show != '') {
                            var n = show.indexOf(",");

                            if (n == -1) {

                                $('#TECApprover')[0].selectize.setValue(show);
                            }
                            else {
                                var res = show.substring(0, n);

                                $('#TECApprover')[0].selectize.setValue(res);
                            }
                            return;
                        }
                    }
                });
            }
        }


        function setLineManagerJobTitle(xml) {
            //////////
            //Sets Line manager job title from predefined_linemanager_jobtitle_outs.XML and selected line manager
            //////////
            ///DONE IN CHANGE

            $('#JobTitle').off('change');


            var show = ''
            
            var dep = '';
            
            if (document.getElementById('ServiceArea')) {
                dep = $("#NewServiceArea option:selected").text();
            }

            var selectize_tags = $("#JobTitle")[0].selectize
            selectize_tags.clearOptions();


            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();


                if (department.toString().trim() == dep.toString().trim()) {

                    if (show != '') {





                        var optionsarray = show.split(',');
                        optionsarray.unshift('');


                        $.each(optionsarray, function (i) {
                            selectize_tags.addOption({
                                text: optionsarray[i],
                                value: optionsarray[i]
                            });
                            selectize_tags.addItem(optionsarray[i])
                        });

                        $('#JobTitle')[0].selectize.setValue('');


                        return;

                    }
                }
            });


            $('#JobTitle').on('change', function () {
                //////////
                //JobTitle change function


                setDefaultPayroll();
                addDeductionTypesOnPayroll();
                addAllowanceOnPayroll();
                addPayScaleOnPayroll();
                setPayrollCategory();
                setBasicPayAmount();

                
            });
        }

        function setLineManager(xml) {
            //////////
            //Sets Line manager from predefined_linemanager_department_outs.XML and selected department
            //////////
            var show = ''
            if (document.getElementById('ReportsToLineManager')) {
                $('#ReportsToLineManager')[0].selectize.setValue('');
            }
            if (document.getElementById('ManagerJobTitle')) {
                $('#ManagerJobTitle')[0].selectize.setValue('');
            }
            var dep = '';
            if (document.getElementById('NewDepartment')) {
                dep = $("#NewDepartment option:selected").text();
            }

            $(xml).find('dependent').each(function () {

                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department == dep) {
                    
                    if (show != '') {
                        
                        var n = show.indexOf(",");

                        if (n == -1) {
                            if (document.getElementById('ReportsToLineManager')) {
                                $('#ReportsToLineManager')[0].selectize.setValue(show);
                            }
                        }
                        else {
                            var res = show.substring(0, n);
                            if (document.getElementById('ReportsToLineManager')) {
                                $('#ReportsToLineManager')[0].selectize.setValue(res);
                            }
                        }
                        return;
                    }
                    
                }
            });
        }

        function setCostCentre(xml) {
            //////////
            //Sets cost centre from predefined_costcentre_department_outs.XML and selected department
            //////////
            var show = ''
            if (document.getElementById('HomeCostCentre')) {
                $('#HomeCostCentre')[0].selectize.setValue('');
            }
            var dep = '';
            if (document.getElementById('NewDepartment')) {
                dep = $("#NewDepartment option:selected").text();
            }
            $(xml).find('dependent').each(function () {

                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department == dep) {

                    if (show != '') {
                        var n = show.indexOf(",");

                        if (n == -1) {
                            if (document.getElementById('HomeCostCentre')) {
                                $('#HomeCostCentre')[0].selectize.setValue(show);
                            }
                        }
                        else {
                            var res = show.substring(0, n);
                            if (document.getElementById('HomeCostCentre')) {
                                $('#HomeCostCentre')[0].selectize.setValue(res);
                            }
                        }
                        return;
                    }
                }
            });
        }


        
    });


</script>
