@model dhHelpdesk_NG.Web.Models.Problem.ProblemInputViewModel
@{
    ViewBag.Title = "Index";
}
<div id="tabContainer">
    <ul class="tabmenu">
        <li id="tab1" class="active">Problem</li>
    </ul>
    <span class="clear"></span>
    <div class="tabcontent tab1">
        <div class="filterContent">
            <div>
                <table>
                    <tr>
                        <td>Customer:
                        </td>
                        <td class="r20mrg">
                            @Html.DropDownList("filterByCustomer", Model.Customers, new { onchange = "this.form.submit();" })
                        </td>
                        <td>Show:
                        </td>
                        <td>
                            @Html.DropDownList("filterByState", Model.ProblemStateses, "All", new { onchange = "this.form.submit();" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table id="tblCases" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Problem
                    </th>
                    <th>Problemnamn
                    </th>
                    <th>Problembeskrivning
                    </th>
                    <th>Responsible
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Problems)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.ProblemNumber)
                        </td>
                        <td>@Html.DisplayFor(x => item.Name)
                        </td>
                        <td>@Html.DisplayFor(x => item.Description)
                        </td>
                        <td>@Html.DisplayFor(x => item.ResponsibleUser)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#tblCases').fixheadertable({
            height: null,
            width: null,
            minWidth: null,
            minWidthAuto: true,
            zebra: true,
            sortable: true,
            sortedColId: 0,
            resizeCol: true,
            minColWidth: 100,
            pager: true,
            rowsPerPage: 10,
            wrapper: false,

        });

    });

</script>
<script type="text/javascript">

    $(".showContentButton").click(function () {
        $(".hideThis").slideToggle("slow");
        $(this).toggleClass("showContentButtonactive"); return false;
    });


</script>
