@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using System.Globalization;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "en";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr style="text-align: right;">
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:d MMMMMM yyyy}", DateTime.Now)</td>
            </tr>
        </table>
        <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            <strong>Private & Confidential</strong><br />
            @Model.GetDocumentAnswer(FormLibConstants.FormField.FirstName, true) @Model.GetDocumentAnswer(FormLibConstants.FormField.LastName, true)<br />
            @Model.GetDocumentAnswer(FormLibConstants.FormField.PermanentAddressLine1, true)
            @if (!string.IsNullOrEmpty(Model.GetDocumentAnswer(FormLibConstants.FormField.PermanentAddressLine2)))
            {
                <br />
                @Model.GetDocumentAnswer(FormLibConstants.FormField.PermanentAddressLine2)
            }
            <br />
            @Model.GetDocumentAnswer(FormLibConstants.FormField.PermanentCity, true)
            <br />
            @Model.GetDocumentAnswer(FormLibConstants.FormField.PermanentPostalCode, true)
            <br />
            <br />
            <br />
            <br />
            <br />
            Dear @Model.GetDocumentAnswer(FormLibConstants.FormField.FirstName, true),<br />
            <br />
            <br />
           <b>Successful completion of </b> 
           @switch (Model.GetDocumentAnswer(FormLibConstants.FormField.PayScaleGroup).ToUpper())
           {
                case "ADVANCD2":
                case "ADVANCD3": 
                case "ADVANCD4": 
                case "ADVANCP": 
                case "ADVANCED":
                case "ADVANCED HIGH":
                    <text><b>Advanced Level</b> </text>
                    <text><br /><br /></text>
                    <text>I am very pleased to be able to confirm that you have successfully passed your advanced level within the IKEA UK & IE Contact Centre.</text>
                    <text><br /><br /></text>
                    <text>This will take effect from @Model.GetDocumentAnswer(FormLibConstants.FormField.ChangeValidFrom, true)</text>
                    <text><br /><br /></text>
                    <text>I am pleased to be able to confirm that your rate of pay will increase to £@Model.GetDocumentAnswer(FormLibConstants.FormField.AllowancesAmountUnits, true) per hour.</text>
                    break;
                case "FOUNDN1":
                case "FOUNDN2": 
                case "FOUNDN3": 
                case "FOUNDN4": 
                case "FOUNDP":
                case "FOUNDN":
                case "FOUNDN HIGH":
                case "FOUNDFLT1":
                case "FOUNDFLT2":
                case "FOUNDFLT3":
                case "FOUNDFLT4":
                case "FOUNDFLP":
                case "FOUNDFLT":
                case "FOUNDFLT HIGH":
                    <text><b>Foundation Level</b> </text>
                    <text><br /><br /></text>
                    <text>I am very pleased to be able to confirm that you have successfully passed your foundation level within the IKEA UK & IE Contact Centre.</text>
                    <text><br /><br /></text>
                    <text>This will take effect from @Model.GetDocumentAnswer(FormLibConstants.FormField.ChangeValidFrom, true)</text>
                    break;
            }<!-- end of switch--> 
            <br />
            <br />
            In all other respects your terms and conditions of employment remain unchanged. 
            <br />
            <br />
            IKEA reserves the right to vary terms and conditions of employment subject to consultation and reasonable notice.
            <br />
            <br />
            Congratulations!
        </p>

        <endpage />
    </div>
</body>
</html>
