@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using System.Globalization;
@using ECT.Model.Entities;
@{
    Layout = null;
    Model.Language = "en";

    //set fields that are mandatory in the contract here. This can be done in a better way... /TA
    Model.SetDocumentMandatoryField("ServiceArea");
    Model.SetDocumentMandatoryField("ContractStartDate");
    Model.SetDocumentMandatoryField("DateOfNextSalaryReview");
    Model.SetDocumentMandatoryField("ContractReviewDate");

    var logo = HttpContext.Current.Server.MapPath("~/FormLibContent/assets/img/IKEA_logo_RGB_2.jpg");
    
}
<!DOCTYPE html>
<html>
<body>
    <div>
      @*  <table style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr style="text-align: right;">
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:d MMMMMM yyyy}", DateTime.Now)</td>
            </tr>
        </table>*@

        <p style="@UnitedKingdomPdfPage.StyleValue()">
           @* <strong>PRIVATE & CONFIDENTIAL</strong><br />
            @Html.Partial("_HeaderAddress", Model)*@
            Dear @Model.GetDocumentAnswer("FirstName", true),<br /><br />
            I am very pleased to be able to confirm to you our offer of the position of @Model.GetDocumentAnswer("JobTitle", true) in the @UnitedKingdomPdfPage.GetServiceAreaText("ServiceArea", Model) at IKEA Distribution reporting to @Model.GetDocumentAnswer("ManagersJobTitle", true).

            <br /><br />
            The principal Terms and Conditions of your employment will be as follows:
            <br /><br />
        </p>

        @{
            var list = new List<PdfListItem>();
            var pdfList = new List<PdfListItem>();

            var brText = "<br /><br />";

            //1
            string text1 = "Your first day of employment with IKEA Distribution Services Doncaster will be on " + CustomPdfPage.GetDateInWords("ContractStartDate", Model) + ". ";

            list.Add(new PdfListItem { Text = text1 });

            //2

            string text2 = "Please report to your place of work: IKEA Distribution, West Moor Park, Armthorpe, Doncaster, DN3 3FB at " + CustomPdfPage.GetDateInWords("InductionStartTime", Model) + " for a full 2 day introduction ending at " + CustomPdfPage.GetDateInWords("InductionEndTime", Model) + ".";
            list.Add(new PdfListItem { Text = text2 });

            //3
            string text3 = "The " + UnitedKingdomPdfPage.GetServiceAreaText("ServiceArea", Model) + " is your primary area of work. You will on occasions be expected to work in other areas within the site to support the business need.";
            list.Add(new PdfListItem { Text = text3 });

            //4
            string text4 = "Your hours of work will be 37.5 hours per week over 5 days, Sunday – Saturday.  You will be expected to work any shift as required to do the job and must be flexible with regard to the days you are able to work.  Your specific hours of work are arranged locally and may be changed to meet the company's operational requirements. Paid breaks of 15 minutes per day are included in the above working hours.  Additionally there is a 30 minute unpaid break.";
            list.Add(new PdfListItem { Text = text4 });

            //5
            string text5 = "From time to time you may be required to work in excess of your hours and work on your contracted rest days; this should not be unreasonably refused.";
            if (Model.GetDocumentAnswer("PayrollCategory").ToLower() == "Salaried Management".ToLower() | Model.GetDocumentAnswer("PayrollCategory").ToLower() == "Salaried Senior Management".ToLower())
            {
                text5 += brText + "As a salaried co-worker, this takes into account all hours worked i.e. no overtime for weekends/Bank Holidays. Additional hours may be accrued as lieu time, only with the prior permission of your manager. Time off will be the same number of hours as those worked.";
            }
            list.Add(new PdfListItem { Text = text5 });

            //6
            string text6 = "Your starting salary will be &pound;  " + CustomPdfPage.GetDateInWords("BasicPayAmount", Model);
            if(!string.IsNullOrEmpty(Model.GetDocumentAnswer("AllowancesType")))
            {
                text6 += " and &pound; " + CustomPdfPage.GetDateInWords("AllowancesAmountUnits", Model) + " " + CustomPdfPage.GetDateInWords("AllowancesType", Model) + ".";
            }
            else
            {
                text6 += ".";
            }
            
            text6 += " IKEA reserves the right to deduct from any salary payments monies due by you to IKEA. Your payment will be made monthly in arrears no later than the last Friday of each month, by direct transfer into your Bank or Building Society account.";
            list.Add(new PdfListItem { Text = text6 });

            //7           
            string text7 = "Your basic annual holiday entitlement per calendar year is " + Model.GetDocumentAnswer("HolidayFull", true) + " hours." + " Our holiday year runs from 1<sup>st</sup> April to 31<sup>st</sup> March. Your remaining holiday entitlement for " + CustomPdfPage.GetDateInWords("HolidayYear", Model) + " is " + CustomPdfPage.GetDateInWords("HolidayCurrent", Model) + " hours."
                         + "This entitlement includes an allowance for Bank Holidays. Bank/public holidays form normal working days and the company reserves the right to require you to work on those days. You must save holiday hours for days of site closure when you would normally be scheduled to work." + brText
                         + "See the Co-worker handbook for details of when holiday can be taken." + brText
                         + "For all holidays a Holiday Form must be completed, and authorised by your manager.  Since holidays need to be authorised in advance, no holiday reservations should be made until your manager has agreed the dates.";
            list.Add(new PdfListItem { Text = text7 });

            //8
            string text8 = "You will join IKEA on a 6 month probationary period. This probationary period will commence from " + Model.GetDocumentAnswer("ContractStartDate", true) + "."
                         + " On the successful completion of this probationary period your continued employment will be confirmed by letter. The notice period during your probationary period is one week from either side. If it is agreed your probationary period is extended beyond your first 6 months’ then your notice period will remain as one week from either side. Beyond the probationary period you be entitled to and will need to give 1 week's notice in writing." + brText
                         + "IKEA reserves the right to terminate your employment, without notice, in cases of gross misconduct. IKEA reserves the right to make a payment in lieu of notice.";
            list.Add(new PdfListItem { Text = text8 });

            //9
            string text9 = "You will be asked to complete a Medical Questionnaire online when you join IKEA. Only our Occupational Health Advisor will read the content. Your employment may be subject to a medical examination which may include substance testing at any point during your first 6 months.";
            list.Add(new PdfListItem { Text = text9 });

            //10
            string text10 = "This offer is subject to the receipt of references that are satisfactory to IKEA.";
            list.Add(new PdfListItem { Text = text10 });

            //11

            string text11 = "In order to comply with Asylum and Immigration Act 1996, this offer is made on the condition that you are legally entitled to work in the UK and that you provide proof of this on or prior to your first day at work. Please bring one of the original documents listed below:" + brText;
            list.Add(new PdfListItem { Text = text11 });

            pdfList = new List<PdfListItem>();

            pdfList.Add(new PdfListItem { Text = "Your passport showing British citizenship or right of abode in the United Kingdom" });
            pdfList.Add(new PdfListItem { Text = "A document showing that you are a national of a European Economic Area country or Switzerland (this must be a passport or national identity card)" });
            pdfList.Add(new PdfListItem { Text = "A residence permit issued by the Home Office to a national from a European Economic Area country or Switzerland" });
            pdfList.Add(new PdfListItem { Text = "A passport or other document issued by the Home Office which has an endorsement stating that you have a current right of residence in the United Kingdom as the family member of a national from a European Economic Area country or Switzerland, who is resident in the United Kingdom" });
            pdfList.Add(new PdfListItem { Text = "A passport or other travel document endorsed to show that you can stay indefinitely in the United Kingdom, or has no time limit on their stay" });
            pdfList.Add(new PdfListItem { Text = "A passport or other travel document endorsed to show that you can stay in the United Kingdom; and that the endorsement allows you to do the type of work being offered, if you do not have a work permit" });
            pdfList.Add(new PdfListItem { Text = "An Application Registration Card issued by the Home Office to an Asylum Seeker stating that you are permitted to take employment" });
            list[list.Count - 1].SubList = pdfList;
            

            //12
            string text12 = "If you are unable to provide the original documentation listed above you will be required to bring documentation from a secondary list, the details of which are available from the Human Resources department. If you have any questions relating to the above, please contact the Human Resources department on 01302 836451 prior to your first day of work.";
            list.Add(new PdfListItem { Text = text12 });

            //13
            string text13 = "On your first day please bring along with you the following (if they have not already been provided):" + brText;
            list.Add(new PdfListItem { Text = text13 });

            //text13 += "<table border='0'><tr><td width='5%' valign=" + "top" + " CELLPADDING= 1 style='UnitedKingdomPdfPage.StyleValue()'>1.</td><td valign=" + "top" + " CELLPADDING= 1 style='UnitedKingdomPdfPage.StyleValue()'>Bank/Building Society details.</td>";
            //text13 += "<tr><td width='5%' valign=" + "top" + " CELLPADDING= 1 style='UnitedKingdomPdfPage.StyleValue()'>2.</td><td valign=" + "top" + " CELLPADDING= 1 style='UnitedKingdomPdfPage.StyleValue()'>Your P45 if you have one.</td></tr>";
            //text13 += "<tr><td width='5%' valign=" + "top" + " CELLPADDING= 1 style='UnitedKingdomPdfPage.StyleValue()'>3.</td><td valign=" + "top" + " CELLPADDING= 1 style='UnitedKingdomPdfPage.StyleValue()'>Official proof of your National Insurance number, for example your National Insurance card or an original letter from a government agency. If you do not have a National Insurance number you must provide proof that you have applied for one within the first month of employment."
            //       + brText + "(Please note, if proof of ID is not provided you will be unable to commence employment with IKEA)" + "</td></tr></table>";

            pdfList = new List<PdfListItem>();
            pdfList.Add(new PdfListItem { Text = "Bank/Building Society details." });
            pdfList.Add(new PdfListItem { Text = "Your P45 if you have one." });
            pdfList.Add(new PdfListItem
            {
                Text = "Official proof of your National Insurance number, for example your National Insurance card or an original letter from a government agency. If you do not have a National Insurance number you must provide proof that you have applied for one within the first month of employment." + "<br />"
                                               + "(Please note, if proof of ID is not provided you will be unable to commence employment with IKEA)"});
            list[list.Count - 1].SubList = pdfList;            
            

            //14
            string text14 = "IKEA reserves the right to vary terms and conditions of employment subject to consultation and reasonable notice.";
            list.Add(new PdfListItem { Text = text14 });

              
        }

        @if (list.Count > 1)
        {
            <table border="0">
            @for (int i = 0; i < list.Count; i++)
            { 
                <tr>
                    <td width="5%" valign="top" CELLPADDING=4 style="@UnitedKingdomPdfPage.StyleValue()">@(i + 1). </td>                 
                    <td width="95%" valign="top" CELLPADDING=4>                                               
                    <p style="@UnitedKingdomPdfPage.StyleValue()">@Html.Raw(list[i].Text)</p>
                                                  
                @if (list[i].SubList != null && list[i].SubList.Count > 0)
                {
                    <table border="0">
                    @foreach (var item in list[i].SubList)
                    {
                        <tr>
                            <td width="4%" valign="top" CELLPADDING=-2> &bull;</td> 
                            <td style="@UnitedKingdomPdfPage.StyleValue()" width="96%" valign="top" CELLPADDING=-2>@Html.Raw(item.Text)</td> 
                       </tr>             
                    }
                    </table>
                }
                     </td>
                </tr>
            }
            </table>
        }
        else
        {
            for (int i = 0; i == list.Count - 1; i++)
            {
                
            //<p style="font-family: Verdana; font-size: 11px;">@Html.Raw(list[i])</p>
            <p style="@UnitedKingdomPdfPage.StyleValue()">@Html.Raw(list[i])</p> 
                
            }
        }

        <p style="@UnitedKingdomPdfPage.StyleValue(); line-height:16px;">
           Please note, a digital photograph will be taken of you in the first week to enable us to produce a clocking in/staff discount card for you.
        </p>
        <br />
        <p style="@UnitedKingdomPdfPage.StyleValue() ; line-height:16px;">
           IKEA Dist Services Ltd has different terms and conditions which may vary to other parts of the IKEA group of companies.
        </p>
        <br />
        <p style="@UnitedKingdomPdfPage.StyleValue(); line-height:16px;">
           This letter, together with the Terms and Conditions Appendix enclosed, and the Co-worker Handbook forms the basis of your contract.
        </p>
        <endpage />
    </div>
</body>
</html>
