@using dhHelpdesk_NG.Web.Models.Changes.InputModel

@model InputModel

@Html.Partial("_ChangeHeader", Model.Header)

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Registration", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-2">@Translation.Get("Analyze", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-3">@Translation.Get("Implementation", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-4">@Translation.Get("Evaluation", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="fragment-1" class="tab-pane tab-pane-border active">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.Partial("_Registration", Model.Registration)
                        </div>
                    </div>
                </div>
            </div>
            <div id="fragment-2" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.Partial("_Analyze", Model.Analyze)
                        </div>
                    </div>
                </div>
            </div>
            <div id="fragment-3" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.Partial("_Implementation", Model.Implementation)
                        </div>
                    </div>
                </div>
            </div>
            <div id="fragment-4" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.Partial("_Evaluation", Model.Evaluation)   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>