@model dhHelpdesk_NG.Web.Models.Changes.ChangeModel

<script type="text/javascript" src="@Url.Content("~/Scripts/Changes/change.js")"></script>

<script type="text/javascript">
    $(function() {
        $('#delete_button').click(function() {
            $.post('@Url.Action("Delete")', { id: 28 });
        });
    })
</script>

@using (Ajax.BeginForm("Change", new AjaxOptions()))
{
    @Html.HiddenFor(m => m.Id)

    <div class="secnavs">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" class="btn" value="@Translation.Get("Save", Enums.TranslationSource.TextTranslation)" />
                </li>
                <li>
                    Save and Close
                </li>
                <li>
                    @Html.ActionLink(Translation.Get("Cancel", Enums.TranslationSource.TextTranslation), "Index", "Changes", new { id = "cancel_button", @class = "btn" })
                </li>
                <li>
                    <a id="delete_button" class="btn">@Translation.Get("Delete", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
        </div>
    </div>
    @Html.EditorFor(m => m.Input)
}