
@using System.Web.Optimization
@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Dal.Enums
@using DH.Helpdesk.Web.Enums.Changes
@model DH.Helpdesk.Web.Models.Changes.IndexModel

@Scripts.Render("~/bundles/changes/index")
@Styles.Render("~/timepicker/css")

<script type="text/javascript">
    $(function() {
        var parameters = {
            rememberTabUrl: '@Url.Action("RememberTab", "Service")',
            changeTopicName: '@ModuleName.Changes',
            changesTabName: '@TabName.Changes',
            settingsTabName: '@TabName.Settings'
        };

        applyIndexBehavior(parameters);
    });
</script>

@{
    //ViewBag.Title = @Translation.Get("Changes", Enums.TranslationSource.TextTranslation);
    ViewBag.Title = "";

    var changesTabClass = Model.ActiveTab == TabName.Changes ? "active" : null;
    var settingsTabClass = Model.ActiveTab == TabName.Settings ? "active" : null;

    var newChangeButtonStyle = Model.ActiveTab == TabName.Changes ? "display: inline-block;" : "display: none;";
    var saveSettingsButtonStyle = Model.ActiveTab == TabName.Settings ? "display: inline-block;" : "display: none;";
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                @Html.ActionLink(Translation.Get("Ny ändring"), "New", "Changes", new { id = "new_change_button", @class = "btn", style = newChangeButtonStyle })
            </li>
            <li>
                @Html.ActionLink("Excel", "ExportChangesGridToExcelFile", "Changes", new { id = "export_to_excel_file_button", @class = "btn", style = newChangeButtonStyle })
            </li>
            <li>
                <a id="save_settings_button" class="btn" style="@saveSettingsButtonStyle">@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li id="changes_tab" class="@changesTabClass">
                <a href="#fragment-2">@Translation.Get("Ändringshantering", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li id="settings_tab" class="@settingsTabClass">
                <a href="#fragment-4">@Translation.Get("Inställningar", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="fragment-2" class="tab-pane tab-pane-border @changesTabClass">
                <div id="changes_container">
                    @Html.Action("Changes", new { area = string.Empty })
                </div>
            </div>
            <div id="fragment-4" class="tab-pane tab-pane-border @settingsTabClass">
                @Html.Action("Settings", new { area = string.Empty })
            </div>
        </div>
    </div>
</div>