@model dhHelpdesk_NG.Web.Models.Changes.LogsModel

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(m => m.Logs.FirstOrDefault().DateAndTime)
            </th>
            <th>
                @Html.LabelFor(m => m.Logs.FirstOrDefault().RegisteredBy)
            </th>
            <th>
                @Html.LabelFor(m => m.Logs.FirstOrDefault().Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>
                    @log.DateAndTime
                </td>
                <td>
                    @log.RegisteredBy
                </td>
                <td>
                    @log.Text
                </td>
                <td>
                    <a onclick="deleteLog(@Model.ChangeId, '@Model.Subtopic', @log.Id, '@Model.Subtopic.ToString().ToLower()_logs_container')" class="btn">@Translation.Get("Delete", Enums.TranslationSource.TextTranslation)</a>
                </td>
            </tr>
        }
    </tbody>
</table>