@using DH.Helpdesk.BusinessData.Enums.Changes
@using DH.Helpdesk.BusinessData.Enums.Changes.ApprovalResult
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.InputModel

<script type="text/javascript" src="@Url.Content("~/Scripts/Changes/change.js")"></script>

<script type="text/javascript">
    var parameters = {
        id: '@Model.ChangeId',
        indexUrl: '@Url.Action("Index")',
        deleteChangeUrl: '@Url.Action("Delete")',
        uploadFileUrl: '@Url.Action("UploadFile")',
        deleteFileUrl: '@Url.Action("DeleteFile")',
        deleteLogUrl: '@Url.Action("DeleteLog")',
        registrationSubtopic: '@Subtopic.Registration',
        analyzeSubtopic: '@Subtopic.Analyze',
        implementationSubtopic: '@Subtopic.Implementation',
        evaluationSubtopic: '@Subtopic.Evaluation',
        registrationRejectValue: '@RegistrationApprovalResult.Rejected',
        analyzeRejectValue: '@AnalyzeApprovalResult.Rejected'
    };

    $(function () {
        window.change = dhHelpdesk.change(parameters);
    });

    function saveNewChange(data, status, response) {
        window.location.href = '@Url.Action("Change")' + '?id=' + data;
    }
</script>

@using (Ajax.BeginForm("NewChange", "Changes", new AjaxOptions { OnSuccess = "saveNewChange" }, new { id = "new_change_form" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" class="btn" value="@Translation.Get("Save", Enums.TranslationSource.TextTranslation)" />
                </li>
                <li>
                    <a id="save_and_close_new_change_button" class="btn">@Translation.Get("Save and Close", Enums.TranslationSource.TextTranslation)</a>
                </li>
                <li>
                    @Html.ActionLink(Translation.Get("Cancel", Enums.TranslationSource.TextTranslation), "Index", "Changes", new { @class = "btn" })
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#fragment-1a">@Translation.Get("Ändringar", Enums.TranslationSource.TextTranslation)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1a">
                    @Html.EditorFor(m => m)
                </div>
            </div>
        </div>
    </div>
}