
@model DH.Helpdesk.Web.Models.Changes.SearchModel
           
@using (Ajax.BeginForm("ChangesGrid", "Changes", null, new AjaxOptions { UpdateTargetId = "changes_grid_container" }))
{
    if (Model.Statuses.Show)
    {
        <label>@Translation.Get(Model.Statuses.Caption, Enums.TranslationSource.TextTranslation)</label>
        @Html.DropDownListFor(m => m.StatusIds, Model.Statuses.Value, new { multiple = "multiple", @class = "multiselect multiselect-search" })
    }

    if (Model.Objects.Show)
    {
        <label>@Translation.Get(Model.Objects.Caption, Enums.TranslationSource.TextTranslation)</label>
        @Html.DropDownListFor(m => m.ObjectIds, Model.Objects.Value, new { multiple = "multiple", @class = "multiselect multiselect-search" })
    }

    if (Model.Owners.Show)
    {
        <label>@Translation.Get(Model.Owners.Caption, Enums.TranslationSource.TextTranslation)</label>
        @Html.DropDownListFor(m => m.OwnerIds, Model.Owners.Value, new { multiple = "multiple", @class = "multiselect multiselect-search" })
    }

    if (Model.AffectedProcesses.Show)
    {
        <label>@Translation.Get(Model.AffectedProcesses.Caption, Enums.TranslationSource.TextTranslation)</label>
        @Html.DropDownListFor(m => m.AffectedProcessIds, Model.AffectedProcesses.Value, new { multiple = "multiple", @class = "multiselect multiselect-search" })
    }

    if (Model.WorkingGroups.Show)
    {
        <label>@Translation.Get(Model.WorkingGroups.Caption, Enums.TranslationSource.TextTranslation)</label>
        @Html.DropDownListFor(m => m.WorkingGroupIds, Model.WorkingGroups.Value, new { multiple = "multiple", @class = "multiselect multiselect-search" })
    }

    if (Model.Administrators.Show)
    {
        <label>@Translation.Get(Model.Administrators.Caption, Enums.TranslationSource.TextTranslation)</label>
        @Html.DropDownListFor(m => m.AdministratorIds, Model.Administrators.Value, new { multiple = "multiple", @class = "multiselect multiselect-search" })
    }

    @Html.LabelFor(m => m.Pharse)
    @Html.TextBoxFor(m => m.Pharse)

    @Html.LabelFor(m => m.Status)
    @Html.DropDownListFor(m => m.StatusValue, Model.Status)

    @Html.LabelFor(m => m.RecordsOnPage)
    @Html.TextBoxFor(m => m.RecordsOnPage)

    <input type="submit" value="@Translation.Get("Search", Enums.TranslationSource.TextTranslation)" class="btn" />
}