@model dhHelpdesk_NG.Web.Models.Changes.Settings.SettingsModel
           
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Field", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Show in Details", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Show in Changes", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Show in Self Service", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Caption", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Required", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Default value", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Bookmark", Enums.TranslationSource.TextTranslation)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8">@Translation.Get("Orderer", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Ordered.Id)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Ordered.Name)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Ordered.Phone)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Ordered.CellPhone)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Ordered.Email)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Ordered.Department)
        </tr>
        <tr>
            <td colspan="8">@Translation.Get("General", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.Priority)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.Title)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.State)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.System)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.Object)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.Inventory)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.Owner)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.WorkingGroup)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.Administrator)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.FinishingDate)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.General.Rss)
        </tr>
        <tr>
            <td colspan="8">@Translation.Get("Registration", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Name)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Phone)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Email)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Company)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.ProcessAffected)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.DepartmentAffected)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Description)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.BusinessBenefits)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Consequence)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Impact)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.DesiredDate)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Verified)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.AttachedFile)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Approval)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Registration.Explanation)
        </tr>
        <tr>
            <td colspan="8">@Translation.Get("Analyze", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Category)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Priority)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Responsible)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Solution)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Cost)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.YearlyCost)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.TimeEstimatesHours)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Risk)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.StartDate)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.FinishDate)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.ImplementationPlan)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.RecoveryPlan)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Recommendation)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.AttachedFile)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Log)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Analyze.Approval)
        </tr>
        <tr>
            <td colspan="8">@Translation.Get("Implementation", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.State)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.RealStartDate)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.BuildAndTextImplemented)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.ImplementationPlanUsed)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.Deviation)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.RecoveryPlanUsed)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.FinishingDate)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.AttachedFile)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.Log)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Implementation.ImplementationReady)
        </tr>
        <tr>
            <td>@Translation.Get("Evaluation", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Evaluation.Evaluation)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Evaluation.AttachedFile)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Evaluation.Log)
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Evaluation.EvaluationReady)
        </tr>
        <tr>
            <td>@Translation.Get("Log", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @this.Html.EditorFor(m => m.Log.Log)
        </tr>
    </tbody>
</table>