@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.OrderAccounts.Models.Order.Edit.FilesModel
@{
    const string FilesContainerId = "_files_container";
}

<div id="@FilesContainerId">
    @if (string.IsNullOrWhiteSpace(Model.File))
    {
        @Translation.Get("No Uploaded Files")
        return;
    }
    <table>
        <tr>
            <td>
                @Html.ActionLink(Model.File, "DownloadFile", new { orderId = Model.OrderId, fileName = Model.File })
            </td>
            <td>
                <a onclick="deleteFile('@Model.File', '@FilesContainerId')" class="btn">
                    @Translation.Get("Ta bort")
                </a>
            </td>
        </tr>
    </table>
</div>
