@using DH.Helpdesk.Web.Areas.OrderAccounts.Models.Order.Edit
@using DH.Helpdesk.Web.Infrastructure
@model AccountModel
@{
    Layout = "~/Areas/OrderAccounts/Views/Shared/_EditLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        <li id="menu1">
            <button id="saveButton" type="submit" value="@ClickedButton.Save" class="btn">@Translation.Get("Spara")</button>
        </li>
        <li id="menu2">
            <button id="saveAndCloseButton" type="submit" value="@ClickedButton.SaveAndClose" class="btn">@Translation.Get("Spara och stäng")</button>
        </li>
        <li id="menu3">@Html.ActionLink(Translation.Get("Avbryt"), "Index", null, new { @class = "btn" })</li>
        <li id="menu4">@Html.ActionLink(Translation.Get("Ta bort"), "Delete", new { id = Model.Id }, new { @class = "btn" })</li>
    </ul>
}

@section Title
{
    @Translation.Get("Beställning")
}

@section Content
{
    @using (Html.BeginForm("Edit", "Orders", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.CheckBoxFor(m => m.IsCreateCase)
        @Translation.Get("Skapa ärende")

        <input type="hidden" id="clickedButton" name="clickedButton" />

        <h4>@Translation.Get("Allmänt")</h4>
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get("Typ")</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.ActivityName)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get("Nummer")</label>
                        </td>
                        <td class="span9">
                            #@Html.DisplayFor(m => m.Id)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Guid)
        @Html.HiddenFor(m => m.ActivityTypeId)
        @Html.EditorFor(m => m.Orderer, new { Header = Model.Headers.OrderLabel })
        @Html.EditorFor(m => m.User, new { Header = Model.Headers.UserLabel })
        @Html.EditorFor(m => m.AccountInformation, new { Header = Model.Headers.AccountLabel })
        @Html.EditorFor(m => m.Contact, new { Header = Model.Headers.ContactLabel })
        @Html.EditorFor(m => m.DeliveryInformation, new { Header = Model.Headers.DeliveryLabel })
        @Html.EditorFor(m => m.Program, new { Header = Model.Headers.ProgramLabel })
        @Html.EditorFor(m => m.Other)

        <h4>@Translation.Get("Status")</h4>
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get("Skapad datum")</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.CreatedDate, "Date")
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get("Senast ändrad datum")</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.ChangedDate, "Date") @Translation.Get("av") @Html.DisplayFor(m => m.ChangedByUserName.FirstName) @Html.DisplayFor(m => m.ChangedByUserName.LastName)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get("Avslutsdatum")</label>
                        </td>
                        <td class="span9">
                            @Html.EditorFor(m => m.FinishDate, "DatePicker", new { id = "account_order_finish_datepicker" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}