@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.OrderAccounts.Models.Order.GridModel
@Translation.Get("poster per sida"): @Model.Orders.Count

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            @foreach (var header in Model.Headers)
            {
                <th onclick=" sortGrid('@header.FieldName') " class="thpointer">@Translation.Get(header.Caption)
                    @if (Model.SortField != null && header.FieldName == Model.SortField.Name)
                    {
                        switch (Model.SortField.SortBy)
                        {
                            case SortBy.Ascending:
                                <i class="icon-chevron-up"></i>
                                break;
                            case SortBy.Descending:
                                <i class="icon-chevron-down"></i>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr onclick=" window.location.href = '@Url.Action("Edit", new { id = order.Id, activityType = Model.CurrentActivity })' ">
                @{
                    var fields = order.Fields.ToList();
                    for (var i = 0; i < fields.Count; i++)
                    {
                        var orderField = Model.Headers[i];
                        var orderFieldValue = fields.Single(v => v.FieldName == orderField.FieldName);

                        <td class="tdpointer">@orderFieldValue.Value.GetDisplayValue()</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
