@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.OrderAccounts.Models.Order.OrdersIndexModel
@{
    Layout = "~/Areas/OrderAccounts/Views/Shared/_IndexLayout.cshtml";
}

@section Scripts
{
    <script>
        $(function() {
            $('#search_type_dropdown').change(function () {
                $('#search_type_form').submit();
            });
        });
    </script>
}

@section Actions
{
    <ul class="secnav">
        <li id="menu1">
            @using (Html.BeginForm("RedirectToNew", "Orders", FormMethod.Post, new { id = "type_form" }))
            {
                @Html.DropDownListFor(x => x.ActivityTypeForEdit, Model.ActivityTypes, new { id = "type_dropdown" })
            }
        </li>
        <li>
            <input type="submit" value="@Translation.Get("Skapa beställning")" class="btn" onclick=" $('#type_form').submit(); "/>
        </li>
    </ul>
}

<table class="tableform">
    <tr>
        <td class="span3">@Translation.Get("Typ")</td>
        <td>
            @using (Html.BeginForm("Index", "Orders", FormMethod.Post, new { id = "search_type_form" }))
            {
                @Html.DropDownListFor(x => x.ActivityType, Model.ActivityTypes, string.Empty, new { id = "search_type_dropdown" })
            }
        </td>
    </tr>
</table>

@Html.Partial("Orders", Model)