@model Web.Models.Poland.NewHireModel
<div class="tab-pane" id="globalview">
    <div class="span7">
        <div class="well">
            <p>@Model.Translate("Employee number")</p>
            @Model.Input("EmployeeNumber")
            <p>@Model.Input("SubmittedToExternalBody")</p>
        </div>
        <table class="table-striped">
            <thead>
                <tr>
                    <th>@Model.Translate("Label")</th>
                    <th>@Model.Translate("Value")</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Basic Data")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Type Of Hiring")</td>
                    <td class="copy-me">@Model.GetAnswer("TypeOfHiring")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("From")</td>
                    <td class="copy-me">@Model.GetAnswer("From")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Mobility Status")</td>
                    <td class="copy-me">@Model.GetAnswer("MobilityStatus")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Prefix")</td>
                    <td class="copy-me">@Model.GetAnswer("Prefix")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Employee Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("EmployeeLastName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Employee First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("EmployeeFirstName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Date Of Birth")</td>
                    <td class="copy-me">@Model.GetAnswer("DateOfBirth")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Reason For Hiring")</td>
                    <td class="copy-me">@Model.GetAnswer("ReasonForHiring")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Job Title")</td>
                    <td class="copy-me">@Model.GetAnswer("JobTitle")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Company")</td>
                    <td class="copy-me">@Model.Contract.Company.Name</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Store/Unit")</td>
                    <td class="copy-me">@Model.Contract.Unit.Name</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Department")</td>
                    <td class="copy-me">@Model.GetAnswer("Department")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Monthly/Hourly")</td>
                    <td class="copy-me">@Model.GetAnswer("MonthlyHourly")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Line Manager")</td>
                    <td class="copy-me">@Model.GetAnswer("LineManager")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Home Cost Center")</td>
                    <td class="copy-me">@Model.GetAnswer("HomeCostCenter")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Cost Allocation") %</td>
                    <td class="copy-me">@Model.GetAnswer("HomeCostCenterAllocation")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Additional Cost Center")</td>
                    <td class="copy-me">@Model.GetAnswer("AdditionalCostCenter")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Cost Allocation") %</td>
                    <td class="copy-me">@Model.GetAnswer("AdditionalCostCenterAllocation")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Special Remarks")</td>
                    <td class="copy-me">@Model.GetAnswer("SpecialRemark")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Personal Data 1")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Country Code")</td>
                    <td class="copy-me">@Model.GetAnswer("CountryCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PESEL")</td>
                    <td class="copy-me">@Model.GetAnswer("PESEL")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Working hours")</td>
                    <td class="copy-me">@Model.GetAnswer("Extent")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street")</td>
                    <td class="copy-me">@Model.GetAnswer("Street")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street Number")</td>
                    <td class="copy-me">@Model.GetAnswer("StreetNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("House Number")</td>
                    <td class="copy-me">@Model.GetAnswer("HouseNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("City")</td>
                    <td class="copy-me">@Model.GetAnswer("City")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Post code")</td>
                    <td class="copy-me">@Model.GetAnswer("PostCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Region")</td>
                    <td class="copy-me">@Model.GetAnswer("Region")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("District")</td>
                    <td class="copy-me">@Model.GetAnswer("District")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Community")</td>
                    <td class="copy-me">@Model.GetAnswer("Community")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Spouse")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("SpouseLastName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("SpouseFirstName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Date of birth")</td>
                    <td class="copy-me">@Model.GetAnswer("SpouseDateOfBirth")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PESEL")</td>
                    <td class="copy-me">@Model.GetAnswer("SpousePESEL")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Health insurance")</td>
                    <td class="copy-me">@Model.GetAnswer("SpouseHealthInsurance")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Joined household")</td>
                    <td class="copy-me">@Model.GetAnswer("SpouseJoinedHousehold")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Exclusively dependent")</td>
                    <td class="copy-me">@Model.GetAnswer("SpouseExclusivelyDependent")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Children")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong globalview sub-globalview" colspan="3">
                        @Model.Translate("First Child")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildLastName1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildFirstName1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Date of birth")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDateOfBirth1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PESEL")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildPESEL1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Disability Scale")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDisabilityScale1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Health insurance")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildHealthInsurance1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Joined household")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildJoinedHousehold1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Exclusively dependent")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildExclusivelyDependent1")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview sub-globalview" colspan="3">
                        @Model.Translate("Second Child")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildLastName2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildFirstName2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Date of birth")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDateOfBirth2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PESEL")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildPESEL2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Disability Scale")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDisabilityScale2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Health insurance")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildHealthInsurance2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Joined household")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildJoinedHousehold2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Exclusively dependent")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildExclusivelyDependent2")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview sub-globalview" colspan="3">
                        @Model.Translate("Third Child")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildLastName3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildFirstName3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Date of birth")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDateOfBirth3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PESEL")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildPESEL3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Disability Scale")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDisabilityScale3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Health insurance")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildHealthInsurance3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Joined household")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildJoinedHousehold3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Exclusively dependent")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildExclusivelyDependent3")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview sub-globalview" colspan="3">
                        @Model.Translate("Fourth Child")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildLastName4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildFirstName4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Date of birth")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDateOfBirth4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PESEL")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildPESEL4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Disability Scale")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDisabilityScale4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Health insurance")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildHealthInsurance4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Joined household")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildJoinedHousehold4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Exclusively dependent")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildExclusivelyDependent4")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview sub-globalview" colspan="3">
                        @Model.Translate("Fifth Child")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildLastName5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildFirstName5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Date of birth")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDateOfBirth5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PESEL")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildPESEL5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Disability Scale")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildDisabilityScale5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Health insurance")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildHealthInsurance5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Joined household")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildJoinedHousehold5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Exclusively dependent")</td>
                    <td class="copy-me">@Model.GetAnswer("ChildExclusivelyDependent5")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Additional Payment Data 1")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("ECM Compensation Program")</td>
                    <td class="copy-me">@Model.GetAnswer("ECMCompensationProgram")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PS Area")</td>
                    <td class="copy-me">@Model.GetAnswer("PSArea")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("PS Group")</td>
                    <td class="copy-me">@Model.GetAnswer("PSGroup")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Collective Scale Salary")</td>
                    <td class="copy-me">@Model.GetAnswer("CollectiveScaleSalary")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Basic pay")</td>
                    <td class="copy-me">@Model.GetAnswer("BasicPay")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("FunctionAllowance")</td>
                    <td class="copy-me">@Model.GetAnswer("FunctionAllowance")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Amount")</td>
                    <td class="copy-me">@Model.GetAnswer("FunctionAllowanceAmount")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Gross/Nett")</td>
                    <td class="copy-me">@Model.GetAnswer("FunctionAllowanceGrossNett")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Additional Contract Information")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Contract type")</td>
                    <td class="copy-me">@Model.GetAnswer("ContractType")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("To")</td>
                    <td class="copy-me">@Model.GetAnswer("To")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Bank Account Details")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Account No")</td>
                    <td class="copy-me">@Model.GetAnswer("AccountNo")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Account Holder")</td>
                    <td class="copy-me">@Model.GetAnswer("AccountHolder")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Name Of Bank")</td>
                    <td class="copy-me">@Model.GetAnswer("NameOfBank")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Tax Data")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Location")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxOfficeLocation")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Health insurance")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Location")</td>
                    <td class="copy-me">@Model.GetAnswer("HealthInsuranceLocation")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Pensioner Status")</td>
                    <td class="copy-me">@Model.GetAnswer("PensionerStatus")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Waiting Period")</td>
                    <td class="copy-me">@Model.GetAnswer("WaitingPeriod")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Additional Payment Data 2")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Additional Payment")</td>
                    <td class="copy-me">@Model.GetAnswer("AdditionalPayment")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Amount")</td>
                    <td class="copy-me">@Model.GetAnswer("AdditionalPaymentAmount")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Gross/Nett")</td>
                    <td class="copy-me">@Model.GetAnswer("AdditionalPaymentGrossNett")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Personal Data 2")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Birth Name")</td>
                    <td class="copy-me">@Model.GetAnswer("BirthName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Middle Name")</td>
                    <td class="copy-me">@Model.GetAnswer("MiddleName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Fathers First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("FathersFirstName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Mothers First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("MothersFirstName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Mothers Birth Name")</td>
                    <td class="copy-me">@Model.GetAnswer("MothersBirthName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Place Of Birth")</td>
                    <td class="copy-me">@Model.GetAnswer("PlaceOfBirth")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Nationality")</td>
                    <td class="copy-me">@Model.GetAnswer("Nationality")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Communication Language")</td>
                    <td class="copy-me">@Model.GetAnswer("CommunicationLanguage")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Gender")</td>
                    <td class="copy-me">@Model.GetAnswer("Gender")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("NIP")</td>
                    <td class="copy-me">@Model.GetAnswer("NIP")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Phone")</td>
                    <td class="copy-me">@Model.GetAnswer("Phone")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Mobile")</td>
                    <td class="copy-me">@Model.GetAnswer("Mobile")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Email")</td>
                    <td class="copy-me">@Model.GetAnswer("Email")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Home Address")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street")</td>
                    <td class="copy-me">@Model.GetAnswer("HomeStreet")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street Number")</td>
                    <td class="copy-me">@Model.GetAnswer("HomeStreetNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("House Number")</td>
                    <td class="copy-me">@Model.GetAnswer("HomeHouseNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("City")</td>
                    <td class="copy-me">@Model.GetAnswer("HomeCity")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Post Code")</td>
                    <td class="copy-me">@Model.GetAnswer("HomePostCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Country Code")</td>
                    <td class="copy-me">@Model.GetAnswer("HomeCountryCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Region")</td>
                    <td class="copy-me">@Model.GetAnswer("HomeRegion")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Mailing Address")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street")</td>
                    <td class="copy-me">@Model.GetAnswer("MailingStreet")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street Number")</td>
                    <td class="copy-me">@Model.GetAnswer("MailingStreetNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("House Number")</td>
                    <td class="copy-me">@Model.GetAnswer("MailingHouseNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("City")</td>
                    <td class="copy-me">@Model.GetAnswer("MailingCity")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Post Code")</td>
                    <td class="copy-me">@Model.GetAnswer("MailingPostCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Country Code")</td>
                    <td class="copy-me">@Model.GetAnswer("MailingCountryCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Region")</td>
                    <td class="copy-me">@Model.GetAnswer("MailingRegion")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Emergency Address")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("First Name")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyFirstName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Last Name")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyLastName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Relationship")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyRelationship")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyStreet")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street Number")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyStreetNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("House Number")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyHouseNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("City")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyCity")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Post Code")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyPostCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Country Code")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyCountryCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Region")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyRegion")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Phone")</td>
                    <td class="copy-me">@Model.GetAnswer("EmergencyPhone")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Tax Address")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxStreet")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Street Number")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxStreetNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("House Number")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxHouseNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("City")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxCity")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Post Code")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxPostCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Country Code")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxCountryCode")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Region")</td>
                    <td class="copy-me">@Model.GetAnswer("TaxRegion")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Documents")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Identity Card No")</td>
                    <td class="copy-me">@Model.GetAnswer("IdentityCardNo")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Issue Authority")</td>
                    <td class="copy-me">@Model.GetAnswer("IdentityCardIssueAuthority")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Issue Date")</td>
                    <td class="copy-me">@Model.GetAnswer("IdentityCardIssueDate")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Passport No")</td>
                    <td class="copy-me">@Model.GetAnswer("PassportNo")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Issue Date")</td>
                    <td class="copy-me">@Model.GetAnswer("PassportNoIssueDate")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Recidence Permit No")</td>
                    <td class="copy-me">@Model.GetAnswer("RecidencePermitNo")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Issue Date")</td>
                    <td class="copy-me">@Model.GetAnswer("RecidencePermitNoIssueDate")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("No Of Work Permit")</td>
                    <td class="copy-me">@Model.GetAnswer("NoOfWorkPermit")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Issue Date")</td>
                    <td class="copy-me">@Model.GetAnswer("NoOfWorkIssueDate")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <div class="span12 alignright"></div>
    </div>
</div>
