@model Web.Models.Poland.NewHireModel
@{
    ViewBag.Title = "Hiring";
}
@section Script {}
@using(Html.BeginForm("new", "poland", FormMethod.Post, null))
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner navbarbgcolor">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <button type="submit" class="btn btnmarginleft">
                            <i class="icon-ok"></i>&nbsp;@Model.Translate("Initiate service request")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container containeralignright">
        <div class="row-fluid">
            <ul class="inline alignrighttop marginbuttontop">
                <li>@Web.SessionFacade.User.FirstName @Web.SessionFacade.User.Surname</li>
            </ul>
        </div>
        @if(Model.GetErrorMessages().Length > 0)
        {
            <div class="row-fluid">
                <div class="alert alert-error">
                    <strong>@Model.Translate("Complete mandatory fields and correct errors")</strong>
                </div>
            </div>
        }
        <ul class="nav nav-tabs">
            <li class="active"><a href="#contract">@Model.Translate("Basic Data")</a></li>
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="contract">
                        <div class="span5">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Initiator"):</td>
                                        <td>
                                            <input type="text" value="@Web.SessionFacade.User.FirstName @Web.SessionFacade.User.Surname" readonly=""/></td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Type Of Hiring"):</td>
                                        <td>
                                            @Model.Select("TypeOfHiring")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Reason For Hiring"):</td>
                                        <td>
                                            @Model.Select("ReasonForHiring")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Company"):</td>
                                        <td>@Model.Select("Company")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Store/Unit"):</td>
                                        <td>@Model.Select("Unit")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Line Manager"):</td>
                                        <td>
                                            @*@Model.Select("LineManager")*@
                                            @Model.Input("LineManager")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Department"):</td>
                                        <td>
                                            @* @Model.Select("Department")*@
                                            @Model.Input("Department")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Polish Job Title"):</td>
                                        <td>
                                            @*@Model.Select("JobTitle")*@
                                            @Model.Input("PolishJobTitle")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("English Job Title"):</td>
                                        <td>
                                            @*@Model.Select("JobTitle")*@
                                            @Model.Input("JobTitle")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Title"):</td>
                                        <td>@Model.Select("Prefix")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Employee First Name"):</td>
                                        <td>
                                            @Model.Input("EmployeeFirstName")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Employee Last Name"):</td>
                                        <td>
                                            @Model.Input("EmployeeLastName")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Date Of Birth"):</td>
                                        <td>
                                            @Model.Input("DateOfBirth")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span5">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Country"):</td>
                                        <td>
                                            @Model.Input("CountryCode")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Street"):</td>
                                        <td>
                                            @Model.Input("Street")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Street Number"):</td>
                                        <td>
                                            @Model.Input("StreetNumber")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("House Number"):</td>
                                        <td>
                                            @Model.Input("HouseNumber")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("City"):</td>
                                        <td>
                                            @Model.Input("City")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Post code"):</td>
                                        <td>
                                            @Model.Input("PostCode")</td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Region"):</td>
                                        <td>
                                            @Model.Select("Region")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("District"):</td>
                                        <td>
                                            @*@Model.Select("District")*@
                                            @Model.Input("District")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdstrong">@Model.Translate("Community"):</td>
                                        <td>
                                            @*@Model.Select("Community")*@
                                            @Model.Input("Community")
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 alignright">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="#contract" />
}
