@model Web.Models.Poland.NewHireModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>
    <div>
        <p style="text-align: center;"><strong>UMOWA O PRACĘ</strong></p>
        <p style="text-align: center;">
            Zawarta w dniu …………… pomiędzy firmą <strong>@Model.Contract.Company.Name</strong> z siedzibą w Jankach, Pl. Szwedzki 3; 05 – 090 Raszyn, reprezentowaną przez <strong>@Model.Contract.FirstName @Model.Contract.Surname</strong><br /><br />
        </p>
        <p style="text-align: center;">
            a<br />
        </p>
        <p style="text-align: center;">
            <strong>Panią: «@Model.GetTranslatedAnswer("FirstName") @Model.GetTranslatedAnswer("LastName")»</strong><br />
            zamieszkałą: <strong>«@Model.GetTranslatedAnswer("Street") @Model.GetTranslatedAnswer("StreetNumber")» «@Model.GetTranslatedAnswer("HouseNumber")» / «Mieszk»
            «@Model.GetTranslatedAnswer("PostCode")» «@Model.GetTranslatedAnswer("City")»</strong>
            zwaną dalej <strong>Pracownikiem</strong>.<br /><br />
        </p>
        <p>
            <strong>@Model.Contract.Company.Name</strong> zatrudni <strong>Pracownika</strong> na  <strong>czas określony</strong> od dnia <strong>«Początek»</strong> do dnia <strong>«Kon_umowy»</strong> na stanowisku: <strong>«Stanowisko»</strong> Miejsce pracy: <strong>«Obszar_kadrowy»</strong>.<br /><br />
        </p>
        <p>
            Wymiar czasu pracy ustala się na <strong>pełny etat.</strong><br />
            Pracownik obowiązany jest zgłosić się do pracy w dniu: ………………<br /><br />

        </p>
        <p>
            W czasie trwania umowy o pracę Pracownik będzie otrzymywał wynagrodzenie zasadnicze wg stawki <strong>miesięcznej</strong> wynoszące: <strong>«Kwota» PLN brutto</strong> (słownie: …………… złotych).<br /><br />
        </p>
        <p>
            Strony zgodnie ustaliły, że okres wypowiedzenia niniejszej umowy wynosi <strong>2 tygodnie.</strong><br /><br />
        </p>
        <p>
            W sprawach nieuregulowanych niniejszą umową stosowane będą odpowiednie przepisy Kodeksu pracy.<br /><br />
        </p>
        <p>
            Pracownik oświadcza, że egzemplarz niniejszej umowy otrzymał i po zapoznaniu się z jej treścią przyjmuje powyższe warunki pracy i wynagradzania. Pracownik zobowiązuje się do przestrzegania porządku i dyscypliny pracy oraz Regulaminu Pracy i Wynagrodzeń.
        </p>
    </div>
</body>
</html>