@model Web.Models.Poland.NewHireModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>
    <div>
        <p style="text-align: center;font-family:Verdana; font-size:11px;"><strong>CONTRACT OF EMPLOYMENT</strong></p>
        <p style="text-align: center;font-family:Verdana; font-size:11px;">
            Concluded on …………… between <strong>IKEA Retail  Sp. z o.o</strong> seated in Janki, 
            Pl. Szwedzki 3; 05 – 090 Raszyn, represented by <strong>Mr Michał Pióro</strong>, hereinafter referred as <strong>Employer</strong><br />
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:11px;">
            and
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:11px;">
            <strong>@Model.GetTranslatedAnswer("Prefix") @Model.GetTranslatedAnswer("EmployeeFirstName") @Model.GetTranslatedAnswer("EmployeeLastName")</strong><br />
            Residing: <strong>«@Model.GetTranslatedAnswer("Street") @Model.GetTranslatedAnswer("StreetNumber") @Model.GetTranslatedAnswer("HouseNumber") / «Aptmt»
            @Model.GetTranslatedAnswer("PostCode") @Model.GetTranslatedAnswer("City")</strong>
            Hereinafter referred as <strong>Employee</strong>
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            - 1 -
        </p>
        <p>
            This agreement is concluded for <strong>limited period</strong> of time.<br />  
            The period of employment shall commence on <strong>@Model.GetTranslatedAnswer("FirstDayAtWork")</strong> and terminate on <strong>«End_Date1».</strong><br />
            The Employer shall employ Employee as <strong>«Position».</strong><br />
            Place of Work:  <strong>«Personnel_Area».</strong>
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            - 2 -
        </p>
        <p style="font-family:Verdana; font-size:11px;">
            The working load is agreed as a <strong>full time working load.</strong><br />
            The Employee is obliged to start work as of <strong>@Model.GetTranslatedAnswer("FirstDayAtWork").</strong>
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            - 3 -
        </p>
        <p style="font-family:Verdana; font-size:10px;">
            The Employer is obliged to pay the Employee a monthly gross salary of PLN «Amount»(in words: …………………………………).<br />
            The remuneration will be paid out till the 10th day of the next month.
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            - 4 -
        </p>
        <p>
            The parties agreed that this Employment Agreement can be terminated with a two week notice period by any of the Parties of the Agreement.
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            - 5 -
        </p>
        <p style="font-family:Verdana; font-size:10px;">
            Work (extending) exceeding the standard working time, specified in the Employee contract (considered as an overtime work and entitled to an additional compensation - art. <i>1511 § 1 of the Labour Code)</i> is above 39 hours per week.
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            - 6 -
        </p>
        <p>
            All issues not stated in this agreement are covered in applicable Labour Law.
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            - 7 -
        </p>
        <p style="font-family:Verdana; font-size:10px;">
            This contract has been drawned up in duplicate, one copy for the Employer and one for the Employee. The Employee certifies to have received a copy of this contract and after familiarising with its content – accepts above mentioned conditions of job and remuneration. 
            The Employee commits to abide by rules of order at work and work regulations.
        </p>
    </div>
</body>
</html>
