@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Common.Enums;
@model DH.Helpdesk.Web.Areas.Admin.Models.InfoTextIndexViewModel
@{
    ViewBag.Title = "";
}
<div class="secnavs fixed">
    
    @Html.Partial("_MasterDataPanel", Model.Customer)
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            @switch (Model.InfoTextGroup)
            {
                case InfoTextGroup.Helpdesk:
                    <li class="active"><a href="#fragment-1">@Translation.Get("Informationstext", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
                    break;
                    
                case InfoTextGroup.SelfService:
                    <li class="active"><a href="#fragment-1">@Translation.Get("Texter - Självserviceportalen", Enums.TranslationSource.TextTranslation)</a></li>            
                    break;
            }
            
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <table class="table table-striped table-bordered table-hover" id="tblinfotext">
                    <thead>
                        <tr>
                            <th>
                                @Translation.Get("Informationstext", Enums.TranslationSource.TextTranslation)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InfoTextGroup == InfoTextGroup.SelfService)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.SelfServiceWelcome, customerId = Model.Customer.Id, 
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Välkomsttext", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        }
                        @if (Model.InfoTextGroup == InfoTextGroup.Helpdesk)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.NewInitiator, customerId = Model.Customer.Id, 
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Ny anmälare", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        }

                        @if (Model.InfoTextGroup == InfoTextGroup.Helpdesk)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.Questionairy, customerId = Model.Customer.Id,
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Enkät", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        }
                        @*
                        @if (Model.InfoTextGroup == InfoTextGroup.SelfService)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.SelfServiceConfirmationMessae, customerId = Model.Customer.Id,
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Bekräftelsetext", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        }

                        @if (Model.InfoTextGroup == InfoTextGroup.SelfService)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.SelfServiceInformation, customerId = Model.Customer.Id, 
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Informationstext", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        }
                        *@
                        @if (Model.InfoTextGroup == InfoTextGroup.Helpdesk)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.Order, customerId = Model.Customer.Id,
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Beställning", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        } 

                        @if (Model.InfoTextGroup == InfoTextGroup.SelfService)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.SelfServiceHelp, customerId = Model.Customer.Id, 
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Hjälpsida text", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        }

                        @if (Model.InfoTextGroup == InfoTextGroup.SelfService)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.SelfServiceAbout, customerId = Model.Customer.Id,
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Omsida text", Enums.TranslationSource.TextTranslation)</a>
                                </td>
                            </tr>
                        } 

                        @if (Model.InfoTextGroup == InfoTextGroup.SelfService)
                        {
                            <tr>
                                <td>                                    
                                    <a href="@Url.Action("edit", "infotext", new { area = "admin", infoTypeId = (int) InfoTextType.SelfServiceRegistrationMessage, customerId = Model.Customer.Id,
                                                                                   languageId = Model.Customer.Language_Id, infoTextGroup = Model.InfoTextGroup })">
                                        @Translation.Get("Registreringsmeddelande", Enums.TranslationSource.TextTranslation)
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
