@using DH.Helpdesk.Web.Models.Inventory
@model IndexViewModel
@Html.Action("RenderContent", "Inventory", new { area = string.Empty, currentMode = Model.CurrentMode })

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li id="menu1">
                <input type="submit" value="@Translation.Get(string.Format("Nytt"), Enums.TranslationSource.TextTranslation)" class="btn" onclick="$('#inventory_edit_form').submit();"/>
            </li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="inventory_tab">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Inventory", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-2">@Translation.Get("Inventory Type", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                @Html.DropDownListFor(x => x.CurrentMode, new SelectList(Model.PropertyTypes, "Value", "Text", Model.CurrentMode), new { id = "type_dropdown" })
                <div id="type_data_container">
                </div>
                <div id="grid_container">
                </div>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="activeTab" id="activeTab" value="@SessionFacade.ActiveTab" />

<script type="text/javascript">

    $(function () {
        $('#type_dropdown').change(function () {
            $.post('@Url.Action("RenderContent")', { currentMode: $(this).val() }, function (tabMarkup) {
                $('#type_data_container').html(tabMarkup);
            });
        });
    });

    $.validator.setDefaults({
        ignore: ""
    });

    $('#inventory_tab a[href="' + $('#activeTab')[0].value + '"]').tab('show');

    $('select option[value=-1]').each(function () {
        $(this).attr("disabled", "disabled");
    });

</script>
