@using DH.Helpdesk.Web.Models.Inventory
@model IndexViewModel
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li id="menu1">@Html.ActionLink(Translation.Get("Nytt"), "NewInventory", new { currentMode = Model.CurrentMode }, new { @class = "btn" })</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="inventory_tab">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Inventarier")</a>
            </li>
            <li>
                <a href="#fragment-2">@Translation.Get("Inventarietyp")</a>
            </li>
            <li>
                <a href="#fragment-3">@Translation.Get("Rapporter")</a>
            </li>
            <li>
                <a href="#fragment-4">@Translation.Get("Grunddata")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <table class="tableform">
                    <tr>
                        <td class="span3">@Translation.Get("Typ")</td>
                        <td>@Html.DropDownListFor(x => x.CurrentMode, new SelectList(Model.PropertyTypes, "Value", "Text", Model.CurrentMode), new { id = "type_dropdown" })</td>
                    </tr>
                </table>
                <div id="type_data_container">
                    @Html.Action("RenderContent", "Inventory", new { area = string.Empty, currentMode = Model.CurrentMode })
                </div>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-3">
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-4">
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="activeTab" id="activeTab" value="@SessionFacade.ActiveTab" />

<script type="text/javascript">

    $(function () {
        $('#type_dropdown').change(function () {
            $.post('@Url.Action("RenderContent")', { currentMode: $(this).val() }, function (tabMarkup) {
                $('#type_data_container').html(tabMarkup);
            });
        });
    });

    $.validator.setDefaults({
        ignore: ""
    });

    $('#inventory_tab a[href="' + $('#activeTab')[0].value + '"]').tab('show');

    $('select option[value=Separator]').each(function () {
        $(this).attr("disabled", "disabled");
    });

</script>
