@model DH.Helpdesk.Web.Models.Inventory.SearchModels.InventorySearchViewModel
<table class="tableform">
    @using (Ajax.BeginForm("InventoriesGrid", "Inventory", null, new AjaxOptions { UpdateTargetId = "grid_container" }))
    {
        if (Model.Departments.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Departments.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.Filter.DepartmentId, Model.Departments.Value)</td>
        </tr>
        }
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.SearchFor)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Filter.SearchFor)
            </td>
        </tr>
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.RecordsOnPage)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Filter.RecordsOnPage)
            </td>
        </tr>
        <tr>
            <td class="span3">&nbsp;
            </td>
            <td>
                <input type="submit" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" />
            </td>
        </tr>
    }
</table>
<div id="grid_container">
    @Html.Action("InventoriesGrid", "Inventory", new { area = string.Empty, filter = Model.Filter })
</div>
