@model List<DH.Helpdesk.BusinessData.Models.Inventory.Output.ComputerLogOverview>
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Text", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Date", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Registrated By", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Edit", Enums.TranslationSource.TextTranslation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.ComputerLogText)
                </td>
                <td>@Html.DisplayFor(x => item.CreatedDate, "Date")
                </td>
                <td>@Html.DisplayFor(x => item.CreatedByUserName)
                </td>
                <td>
                    @Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "DeleteComputerLog", new { id = item.Id }, new { @class = "btn" })
                </td>
            </tr>
        }
    </tbody>
</table>
