@using DH.Helpdesk.BusinessData.Models.Inventory
@model DH.Helpdesk.Web.Models.Inventory.ReportViewModel
@{
    var howerClass = Model.IsGrouped ? "header" : string.Empty;
}

<script type="text/javascript" src="@Url.Content("~/Content/js/Inventory/reports.js")"></script>
<script type="text/javascript">
    $(function () {
        var inventoryParameters = {
            url: '@Url.Action("SearchComputerShortInfo")'
        };

        applyComputerShortInfoBehavior(inventoryParameters);
    });
</script>

<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get(Model.Header)
            </th>
            <th>@Translation.Get("Antal")
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var items = Model.ReportModel.OrderBy(x => x.ReportModel.Item).ThenBy(x => x.ReportModel.Owner).GroupBy(x => x.ReportModel.Item);
            foreach (var item in items)
            {
                <tr>
                    <td class="@howerClass">@Html.DisplayFor(x => item.Key)
                    </td>
                    <td class="@howerClass">
                        @{
                            var count = item.Count();
                            @Html.DisplayFor(x => count)
                        }
                    </td>
                </tr>
                if (Model.IsGrouped)
                {
                    foreach (var owner in item.Where(x => x.ReportModel.Owner != null))
                    {
                        if (owner.ReportOwnerType == ReportModelWrapper.ReportOwnerTypes.Workstation)
                        {
                            <tr onclick=" showComputerShortInfo('@owner.ReportModel.OwnerId') ">
                                <td colspan="2" class="tdpointer">@Html.DisplayFor(x => owner.ReportModel.Owner)
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="2">@Html.DisplayFor(x => owner.ReportModel.Owner)
                                </td>
                            </tr>
                        }
                    }
                }
            }
        }
    </tbody>
</table>
<div id="computer_short_info_dialog_container">
</div>
