@model DH.Helpdesk.Web.Models.Inventory.ReportViewModel
@{
    var howerClass = Model.IsGrouped ? "header" : string.Empty;
}
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get(Model.Header)
            </th>
            <th>@Translation.Get("Antal")
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var items = Model.ReportModel.OrderBy(x => x.Item).ThenBy(x => x.Owner).GroupBy(x => x.Item);
            foreach (var item in items)
            {
                <tr>
                    <td class="@howerClass">@Html.DisplayFor(x => item.Key)
                    </td>
                    <td class="@howerClass">
                        @{
                            var count = item.Count();
                            @Html.DisplayFor(x => count)
                        }
                    </td>
                </tr>
                if (Model.IsGrouped)
                {
                    foreach (var owner in item.Where(x => x.Owner != null))
                    {
                        <tr>
                            <td colspan="2">@Html.DisplayFor(x => owner.Owner)
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

