@model DH.Helpdesk.Web.Models.Inventory.SearchModels.WorkstationSearchModel
<table class="tableform">
    @using (Ajax.BeginForm("WorkstationsGrid", "Inventory", null, new AjaxOptions { UpdateTargetId = "grid_container" }))
    {
        if (Model.Departments.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Departments.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.DepartmentId, Model.Departments.Value)</td>
        </tr>
        }
        if (Model.Regions.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Regions.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.RegionId, Model.Regions.Value)</td>
        </tr>
        }
        if (Model.ComputerTypes.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ComputerTypes.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.ComputerTypeId, Model.ComputerTypes.Value)</td>
        </tr>
        }
        if (Model.ContractStatuses.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ContractStatuses.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.ContractStatusId, Model.ContractStatuses.Value)</td>
        </tr>
        }
        if (Model.ContractStartDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ContractStartDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.ContractStartDate.Value.DateFrom, "DatePicker", new { id = "contractStartDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.ContractStartDate.Value.DateTo, "DatePicker", new { id = "contractStartDateTo_datepicker" })</td>
        </tr>
        }
        if (Model.ContractEndDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ContractEndDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.ContractEndDate.Value.DateFrom, "DatePicker", new { id = "contractEndDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.ContractEndDate.Value.DateTo, "DatePicker", new { id = "contractEndDateTo_datepicker" })</td>
        </tr>
        }
        if (Model.ScanDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ScanDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.ScanDate.Value.DateFrom, "DatePicker", new { id = "scanDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.ScanDate.Value.DateTo, "DatePicker", new { id = "scanDateTo_datepicker" })</td>
        </tr>
        }
        if (Model.ScanDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ScrapDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.ScrapDate.Value.DateFrom, "DatePicker", new { id = "scrapDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.ScrapDate.Value.DateTo, "DatePicker", new { id = "scrapDateTo_datepicker" })</td>
        </tr>
        }
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.IsShowScrapped)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsShowScrapped)
            </td>
        </tr>
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.SearchFor)
            </td>
            <td>
                @Html.TextBoxFor(m => m.SearchFor)
            </td>
        </tr>
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.RecordsOnPage)
            </td>
            <td>
                @Html.TextBoxFor(m => m.RecordsOnPage)
            </td>
        </tr>
        <tr>
            <td class="span3">&nbsp;
            </td>
            <td>
                <input type="submit" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" />
            </td>
        </tr>
    }
</table>
