@model DH.Helpdesk.Web.Models.Inventory.SearchModels.WorkstationSearchViewModel
<table class="tableform">
    @using (Ajax.BeginForm("WorkstationsGrid", "Inventory", null, new AjaxOptions { UpdateTargetId = "grid_container" }))
    {
        if (Model.Departments.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Departments.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.Filter.DepartmentId, Model.Departments.Value)</td>
        </tr>
        }
        if (Model.Regions.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Regions.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.Filter.RegionId, Model.Regions.Value)</td>
        </tr>
        }
        if (Model.ComputerTypes.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ComputerTypes.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.Filter.ComputerTypeId, Model.ComputerTypes.Value)</td>
        </tr>
        }
        if (Model.ContractStatuses.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.ContractStatuses.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.DropDownListFor(m => m.Filter.ContractStatusId, Model.ContractStatuses.Value)</td>
        </tr>
        }
        if (Model.Filter.ContractStartDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Filter.ContractStartDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.Filter.ContractStartDate.Value.DateFrom, "DatePicker", new { id = "contractStartDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.Filter.ContractStartDate.Value.DateTo, "DatePicker", new { id = "contractStartDateTo_datepicker" })</td>
        </tr>
        }
        if (Model.Filter.ContractEndDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Filter.ContractEndDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.Filter.ContractEndDate.Value.DateFrom, "DatePicker", new { id = "contractEndDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.Filter.ContractEndDate.Value.DateTo, "DatePicker", new { id = "contractEndDateTo_datepicker" })</td>
        </tr>
        }
        if (Model.Filter.ScanDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Filter.ScanDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.Filter.ScanDate.Value.DateFrom, "DatePicker", new { id = "scanDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.Filter.ScanDate.Value.DateTo, "DatePicker", new { id = "scanDateTo_datepicker" })</td>
        </tr>
        }
        if (Model.Filter.ScanDate.Show)
        {
        <tr>
            <td class="span3">@Translation.Get(Model.Filter.ScrapDate.Caption, Enums.TranslationSource.TextTranslation)</td>
            <td>@Html.EditorFor(m => m.Filter.ScrapDate.Value.DateFrom, "DatePicker", new { id = "scrapDateFrom_datepicker" })</td>
            <td class="span3">-</td>
            <td>@Html.EditorFor(m => m.Filter.ScrapDate.Value.DateTo, "DatePicker", new { id = "scrapDateTo_datepicker" })</td>
        </tr>
        }
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.IsShowScrapped)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.Filter.IsShowScrapped)
            </td>
        </tr>
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.SearchFor)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Filter.SearchFor)
            </td>
        </tr>
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.RecordsOnPage)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Filter.RecordsOnPage)
            </td>
        </tr>
        <tr>
            <td class="span3">&nbsp;
            </td>
            <td>
                <input type="submit" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" />
            </td>
        </tr>
    }
</table>
<div id="grid_container">
    @Html.Action("WorkstationsGrid", "Inventory", new { area = string.Empty, filter = Model.Filter })
</div>
