@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="Absences">
    <div class="span5">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Absences")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AbsenceType")</td>
                    <td>
                        @Model.Element("AbsenceType")
                    </td>
                </tr>

                <tr>
                    <td class="tdstrong">@Model.Label("AbsenceStartFrom")</td>
                    <td>
                        @Model.Element("AbsenceStartFrom")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AbsenceEndsOn")</td>
                    <td>
                        @Model.Element("AbsenceEndsOn")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AbsenceHours")</td>
                    <td>
                        @Model.Element("AbsenceHours")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AbsenceDays")</td>
                    <td>
                        @Model.Element("AbsenceDays")
                    </td>
                </tr>


                 @for (int i = 2; i <= 4; i++)
                 {
                    <tr class="absence@(i.ToString())" id="absence@(i.ToString())">
                        <td class="tdstrong" colspan="2">
                            <h4>@Model.Translate("Absences") @(i.ToString())</h4>
                        </td>
                    </tr>
                    <tr class="absence@(i.ToString())">
                        <td class="tdstrong">@Model.Label("AbsenceType" + i.ToString())</td>
                        <td>
                            @Model.Element("AbsenceType" + i.ToString())</td>
                    </tr>
                     
                     <tr class="absence@(i.ToString())">
                        <td class="tdstrong">@Model.Label("AbsenceStartFrom" + i.ToString())</td>
                        <td>
                            @Model.Element("AbsenceStartFrom" + i.ToString())</td>
                    </tr>
                     <tr class="absence@(i.ToString())">
                        <td class="tdstrong">@Model.Label("AbsenceEndsOn" + i.ToString())</td>
                        <td>
                            @Model.Element("AbsenceEndsOn" + i.ToString())</td>
                    </tr>
                    
                    <tr class="absence@(i.ToString())">
                        <td class="tdstrong">@Model.Label("AbsenceHours" + i.ToString())</td>
                        <td>
                            @Model.Element("AbsenceHours" + i.ToString())</td>
                    </tr>  
                     <tr class="absence@(i.ToString())">
                        <td class="tdstrong">@Model.Label("AbsenceDays" + i.ToString())</td>
                        <td>
                            @Model.Element("AbsenceDays" + i.ToString())</td>
                    </tr>  
                 }

                <tr id="addAbsenceTr">
                    <td colspan="2">
                        @Model.Element("Absences")
                        <a id="addAbsence" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another Absence")</a></td>
                </tr>

                @* Country Specifics *@


              @*  @if (Model.GetAnswer("AbsenceType") == "Parental leave")
                {
                     *@<tr id ="absenceType">
                        <td class="tdstrong" colspan="2">
                            <h4>@Model.Translate("Country Specifics")</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("ChildName")</td>
                        <td>
                            @Model.Element("ChildName")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("ChildDateOfBirth")</td>
                        <td>
                            @Model.Element("ChildDateOfBirth")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("AbsenceHoursWeekly")</td>
                        <td>
                            @Model.Element("AbsenceHoursWeekly")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("Totalparentalleaveentitlement")</td>
                        <td>
                            @Model.Element("Totalparentalleaveentitlement")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("ContractedHoursOldData")</td>
                        <td>
                            @Model.Element("ContractedHoursOldData")
                        </td>
                    </tr>
                @*}*@
                
                 @*@if (Model.GetAnswer("AbsenceType") == "Parental leave")
                 {
                     *@<tr>
                        <td class="tdstrong" colspan="2">
                            <h4>@Model.Translate("Country Specifics")</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("ChildName")</td>
                        <td>
                            @Model.Element("ChildName")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("ChildDateOfBirth")</td>
                        <td>
                            @Model.Element("ChildDateOfBirth")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("AbsenceHoursWeekly")</td>
                        <td>
                            @Model.Element("AbsenceHoursWeekly")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("Totalparentalleaveentitlement")</td>
                        <td>
                            @Model.Element("Totalparentalleaveentitlement")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("ContractedHoursOldData")</td>
                        <td>
                            @Model.Element("ContractedHoursOldData")
                        </td>
                    </tr>
                 @*}*@
                 
                 @* @if (Model.GetAnswer("AbsenceType") == "Short term care leave (paid leave)")
                  {
                     *@<tr>
                        <td class="tdstrong" colspan="2">
                            <h4>@Model.Translate("Country Specifics")</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("MonthTfTheLeave")</td>
                        <td>
                            @Model.Element("MonthTfTheLeave")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("AbsenceHoursAlreadyUsed")</td>
                        <td>
                            @Model.Element("AbsenceHoursAlreadyUsed")
                        </td>
                    </tr>                   
                  @*}*@
                  
                  @*@if (Model.GetAnswer("AbsenceType") == "Unpaid leave" || Model.GetAnswer("AbsenceType") == "Long term care leave (unpaid)")
                  {
                     *@<tr>
                        <td class="tdstrong" colspan="2">
                            <h4>@Model.Translate("Country Specifics")</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("PreviousContractHours")</td>
                        <td>
                            @Model.Element("PreviousContractHours")
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstrong">@Model.Label("AbsenceLongerThan2Months")</td>
                        <td>
                            @Model.Element("AbsenceLongerThan2Months")
                        </td>
                    </tr>                   
                  @*}*@

                @* CDS *@
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("CDS")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("LockCDSAccount")</td>
                    <td>
                        @Model.Element("LockCDSAccount")
                    </td>
                </tr>
                </tbody>
        </table>
    </div>

</div>

<script>
    
    var AbsenceStartFrom = $('#date_AbsenceStartFrom').datepicker({
        onRender: function (date) {
          
        }
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > AbsenceEndsOn.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            AbsenceEndsOn.setValue(newDate);
        }
        AbsenceStartFrom.hide();
        $('#date_AbsenceEndsOn')[0].focus();
    }).data('datepicker');
    var AbsenceEndsOn = $('#date_AbsenceEndsOn').datepicker({
        onRender: function (date) {
            return date.valueOf() <= AbsenceStartFrom.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        AbsenceEndsOn.hide();
    }).data('datepicker');


    var StartFrom = $('#date_StartFrom').datepicker({
        
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > EndsOn.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            EndsOn.setValue(newDate);
        }
        StartFrom.hide();
        $('#date_EndsOn')[0].focus();
    }).data('datepicker');
    var EndsOn = $('#date_EndsOn').datepicker({
        onRender: function (date) {
            return date.valueOf() <= StartFrom.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        EndsOn.hide();
    }).data('datepicker');

    var absencType = $("#AbsenceType").;
    if (absencType == "Parental leave")
        document.getElementById('absenceType').style.visibility = 'visible';
    else
    { document.getElementById('absenceType').style.visibility = 'hidden'; }

    
</script>