
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.FieldModels.HistoryRecordModel
           
<tr>
    <td class="tdpointer">
        @Html.DisplayFor(m => m.DateAndTime)
    </td>
    <td class="tdpointer">
        @Html.DisplayFor(m => m.RegisteredBy.FirstName)
        @Html.DisplayFor(m => m.RegisteredBy.LastName)
    </td>
    @*<td class="tdpointer">
        @foreach (var log in Model.Log)
        {
            <div>@log</div>
        }
    </td>*@
    <td class="tdpointer">
        <table class="tableintable">
        @foreach (var fieldDifferences in Model.FieldsDifferences)
        {
            
            if (fieldDifferences.OldValue == null && fieldDifferences.NewValue != null)
            {
                <tr><th style="width:40%;">@fieldDifferences.FieldName</th> <td style="width:60%;">→ @fieldDifferences.NewValue</td></tr>
            }
            else
            {
                <tr><th style="width:40%;">@fieldDifferences.FieldName </th> <td style="width:60%;"> @fieldDifferences.OldValue → @fieldDifferences.NewValue</td></tr>
            }
            
        }
        </table>
    </td>
    <td class="tdpointer">
        @foreach (var email in Model.Emails)
        {
            <div>@email</div>
        }
    </td>
</tr>