
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.FieldModels.HistoryRecordModel
           
<tr>
    <td class="tdpointer">
        @Html.DisplayFor(m => m.DateAndTime)
    </td>
    <td class="tdpointer">
        @Html.DisplayFor(m => m.RegisteredBy.FirstName)
        @Html.DisplayFor(m => m.RegisteredBy.LastName)
    </td>
    <td class="tdpointer">
        @foreach (var log in Model.Log)
        {
            <div>@log</div>
        }
    </td>
    <td class="tdpointer">
        @foreach (var fieldDifferences in Model.FieldsDifferences)
        {
            if (fieldDifferences.OldValue == null && fieldDifferences.NewValue != null)
            {
                @fieldDifferences.FieldName@:: --> @fieldDifferences.NewValue
            }
            else
            {
                @fieldDifferences.FieldName@:: @fieldDifferences.OldValue --> @fieldDifferences.NewValue
            }
        }
    </td>
    <td class="tdpointer">
        @foreach (var email in Model.Emails)
        {
            <div>@email</div>
        }
    </td>
</tr>