@using System.Web.Optimization
@model DH.Helpdesk.Web.Areas.Admin.Models.LockedCaseOverviewModel

<script type="text/javascript">

    window.partialparams = {                
        unLockCaseUrl: '@Url.Content("~/Admin/Users/UnlockCase")',
        filterLockedCaseUrl: '@Url.Content("~/Admin/Users/FilterLockedCases")',
        releaseButtonsPrefixName: 'releaseButton_',
        lockTimeTextPrefixName: 'currentCaseLockedTime_',
        lockedCasePartialName: '#lockedCasePartial',
        customerFilter: '#filterbycustomerid',
        caseNumberFilter: '#FilterCaseNumber',
        textFilter: '#FilterText',
        filterButton: '#doSearch'
    };

</script>

@Scripts.Render("~/bundles/admin/users/index_lockedcases")

<div id="lockedCasePartial">
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="tableform" id="tblLockedCase" >
                    <tr>
                        <td class="span3">
                            @Translation.Get("Kund", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td class="span4">
                            @Html.DropDownListFor(model => Model.FilterCustomerId, Model.Customers, "", new { id = "filterbycustomerid" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Translation.Get("Ärende", Enums.TranslationSource.TextTranslation) @Translation.Get("nummer", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td>
                            @Html.EditorFor(model => Model.FilterCaseNumber, new { id = "filterbycasenumber" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Translation.Get("Sök", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td>
                            @Html.EditorFor(model => Model.FilterText, new { id = "filterbytext" })
                        </td>
                        <td class="span5">
                            <input type="button" id="doSearch" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" />
                        </td>                      
                    </tr>                    
                </table>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("index", "users", FormMethod.Post, new { id = "searchLockedCases" }))
    {            
        <div class="container caselockinfo">
           @Html.Partial("Index/_LockedCaseTable", Model.LockedCasesModels)
        </div>        
    }
</div>