@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.UserIndexViewModel

@using (Html.BeginForm("index", "users", FormMethod.Post, new { id = "searchOnlineUsers" }))
{
        
    <div class="container">
        <div class="row">
            <div class="span7">
                <table class="tableform" id="tblLoggedOnUsers">
                    <tr>
                        <td class="span1">
                            @Translation.Get("Kunder", Enums.TranslationSource.TextTranslation):
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.User.Customer_Id, Model.CsSelected, "", new { style = "width: 205px;", id = "customerChange" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped table-bordered table-hover table-cases" id="tblUsersLoggedIn">
            <thead>
                <tr>
                    <th>
                        @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                    </th>
                    <th>
                        @Translation.Get("Kund", Enums.TranslationSource.TextTranslation)
                    </th>
                    <th>
                        @Translation.Get("Senast inloggad", Enums.TranslationSource.TextTranslation)
                    </th>
                    @*<th>
                        @Translation.Get("Ärende", Enums.TranslationSource.TextTranslation)
                    </th>*@
                    <th>
                        @Translation.Get("Senaste aktivitet", Enums.TranslationSource.TextTranslation)
                    </th>
                    @*<th>
                        @Translation.Get("Rensa", Enums.TranslationSource.TextTranslation)
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListLoggedInUsers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserFirstName) @Html.DisplayFor(modelItem => item.UserLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoggedOnLastTime, "DateAndTime")
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CaseNumber)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.LatestActivity, "DateAndTime")
                        </td>
                        @*<td>
                            @if (item.CaseId != 0)
                            {
                                <a class="btn" href="@Url.Action("RemoveUserFromCase", new { caseId = item.CaseId, userId = item.User_Id, sessionId = item.SessionId })">@Translation.Get("Rensa", Enums.TranslationSource.TextTranslation)</a>
                            }
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>        
}