@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.UserIndexViewModel

@using (Html.BeginForm("index", "users", FormMethod.Post, new { id = "searchUsers" }))
{    
    <div class="container">
        <div class="row"> 
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Kund")
                        </td>
                        <td class="span4">
                            @Html.DropDownListFor(m => Model.Filter.CustomerId, Model.CsSelected, new { id = "customerDDL" })
                        </td>
                        <td class="span5"></td>
                    </tr>
                    <tr id="SearchFieldForUsers">
                        <td class="span3">
                            @Translation.Get("Status")
                        </td>
                        <td class="span4">
                            @Html.DropDownListFor(m => m.Filter.StatusId, Model.StatusUsers, new { id = "statusDDL" })
                        </td>
                        <td class="span5"></td>
                    </tr>
                    <tr>
                        <td>
                            @Translation.Get("Sök")
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Filter.SearchUs, new { maxlength = "50" })

                        </td>
                        <td class="span5">
                            <input type="button" id="searchQueryBtn" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" onclick="submit();" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Model.UserOverviewList.Users.Count()
                            @Translation.Get("poster i sökresultat", Enums.TranslationSource.TextTranslation)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container" id="usergridarea">
        @Html.Partial("Index/_UserGrid", Model.UserOverviewList)        
    </div>
}