@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    var fillOldVal = TempData["oldValues"];
    var newfill = (List<KeyValuePair<string, string>>)fillOldVal;        
}

<div class="tab-pane active" id="ServiceRequestDetails">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Details")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Co-WorkerGlobalviewID")</td>
                    <td>
                        @Model.Element("Co-WorkerGlobalviewID", "EmployeeSearch")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FirstName")</td>
                    <td>
                        @Model.Element("FirstName", "EmployeeSearch")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("LastName")</td>
                    <td>
                        @Model.Element("LastName", "EmployeeSearch")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("IKEAEmailAddress")</td>
                    <td>
                        @Model.Element("IKEAEmailAddress", "EmployeeSearch")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("IKEANetworkID")</td>
                    <td>
                        @Model.Element("IKEANetworkID", "EmployeeSearch")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Company")</td>
                    <td>
                        @Model.Element("Company")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BusinessUnit")</td>
                    <td>
                        @Model.Element("BusinessUnit")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ServiceArea")</td>
                    <td>
                        @Model.Element("ServiceArea")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Department")</td>
                    <td>
                        @Model.Element("Department")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ServiceRequestPriority")</td>
                    <td>
                        @Model.Element("ServiceRequestPriority")</td>
                </tr>
                @if(!FormLibUtils.IsSelfService())
                {
                    <tr>
                        <td class="tdstrong">@Model.Translate("SLA")</td>
                        <td>
                            @if(Model.Contract.CaseNumber != null)
                            {
                                @Model.Translate(Model.Contract.PriorityName);
                            }
                            else
                            {
                                if(Model.Form != null)
                                {
                                    @Model.Translate(Model.Form.PriorityName);
                                }
                            }
                        </td>
                    </tr>     
                }
                @Html.Partial("_InternalLogNoteV2", Model)
            </tbody>
        </table>
    </div>

    <input type="hidden" id="CustomerId" value="@Model.Form.CustomerId" />
    <input type="hidden" id="formGuid" value="@Model.FormGuid" />

</div>
