@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Licenses.Models.Applications.ApplicationsContentModel

<table class="table table-striped table-bordered table-hover table-pointer">
    <thead>
        <tr>
            <th>@Translation.Get("Applikation")</th>
            <th>@Translation.Get("Produkt")</th>
            <th>@Translation.Get("Antal installationer")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model.Applications)
        {
            <tr onclick="window.location.href='@Url.Action("Application", new RouteValueDictionary { { "applicationId", application.ApplicationId } })'">
                <td>@application.ApplicationName</td>
                <td>@application.ProductName</td>
                <td>@application.InstallationsNumber</td>
            </tr>
        }        
    </tbody>
</table>