@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerInputViewModel
@using DH.Helpdesk.Web.Infrastructure
<div class="contentContent">
    <div class="formContainer">
        <table cellpadding="0" cellspacing="5px" border="0">
            @Translation.Get("Sätt LDAP-lösenord", Enums.TranslationSource.TextTranslation)
            <tr>
                <td>
                    @Translation.Get("Nytt lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="NewPassword" style="width: 200px;" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="ConfirmPassword" style="width: 200px;" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSavePassword" />
                </td>
                <td>
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnClose" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_customer" value="@Model.Customer.Id" />
    </div>
</div>

