@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerInputViewModel
@using DH.Helpdesk.Web.Infrastructure
<div class="contentContent">
    <div class="formContainer">
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Ny", Enums.TranslationSource.TextTranslation) Ews Client Secret
                </td>
                <td>
                    <input type="password" id="NewEwsClientSecret" maxlength="200" />
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta", Enums.TranslationSource.TextTranslation) Ews Client Secret
                </td>
                </td>
                <td>
                    <input type="password" id="ConfirmEwsClientSecret" maxlength="200" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSaveEwsClientSecret" class="btn" />
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnCloseEwsClientSecret" class="btn" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_customer" value="@Model.Customer.Id" />
    </div>
</div>

