@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerInputViewModel
@using DH.Helpdesk.Web.Infrastructure
<div class="contentContent">
    <div class="formContainer">
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Ny", Enums.TranslationSource.TextTranslation) Graph Client Secret
                </td>
                <td>
                    <input type="password" id="NewGraphClientSecret" maxlength="40" /> 
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="ConfirmNewGraphClientSecret" maxlength="40" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSaveGraphClientSecret" class="btn" />
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnCloseGraphClientSecret" class="btn" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_customerG" value="@Model.Customer.Id" />
    </div>
</div>

