@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerInputViewModel
@using DH.Helpdesk.Web.Infrastructure

@{
    var passChangeText = Translation.Get("Lösenordet har ändrats", Enums.TranslationSource.TextTranslation);

    var passChangeError = Translation.Get("De lösenord du angav stämmer inte överens med varandra. Försök igen", Enums.TranslationSource.TextTranslation);
}

@Html.HiddenFor(model => model.Setting.EMailAnswerSeparator)
@Html.HiddenFor(model => model.Setting.BlockedEmailRecipients)
@Html.HiddenFor(model => model.Setting.EMailSubjectPattern)
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#subfragment-1">@Translation.Get("Kund", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <h4>@Translation.Get("Integration - Anmälare", Enums.TranslationSource.TextTranslation)</h4>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table class="tableform" id="customerSync">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Format", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        <input type="radio" name="Setting.IntegrationType" @(Model.Setting.IntegrationType == 1 ? "checked='checked'" : "") id="Customer_Setting_IntegrationType1" onclick="ShowRelatedFields()" value="1" />
                                        @Translation.Get("LDAP", Enums.TranslationSource.TextTranslation)
                                        <br />
                                        <input type="radio" name="Setting.IntegrationType" @(Model.Setting.IntegrationType == 0 ? "checked='checked'" : "") id="Customer_Setting_IntegrationType2" onclick="ShowRelatedFields()" value="0" />
                                        @Translation.Get("CSV", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="customerSync">
                                        @Translation.Get("Server", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="customerSync">
                                        @Html.TextBoxFor(model => model.Customer.NDSPath, new { maxlength = "200", style = "width: 400px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="customerSync">
                                        @Translation.Get("Base DN", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="CSVSync">
                                        @Translation.Get("Sökväg", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Setting.LDAPBase, new { maxlength = "200", style = "width: 400px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="customerSync">
                                        @Translation.Get("Filter", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="CSVSync">
                                        @Translation.Get("Filnamn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Setting.LDAPFilter, new { maxlength = "150", style = "width: 400px;" })
                                        <span class="customerSync">&nbsp;@Translation.Get("(mail=*@datahalland.se)", Enums.TranslationSource.TextTranslation)</span>
                                    </td>
                                </tr>
                                <tr class="customerSync">
                                    <td>
                                        @Translation.Get("Användar Id", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Setting.LDAPUserName, new { maxlength = "100", style = "width: 400px;" })
                                    </td>
                                </tr>
                                <tr class="customerSync">
                                    <td>
                                        @Translation.Get("Lösenord", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Setting.LDAPPassword, new { maxlength = "20", disabled = "disable" }) <input type="button" value="@Translation.Get("Byt lösenord", Enums.TranslationSource.TextTranslation)" name="changePassword" class="changePassword btn"
                                                                                                                                                     onclick="ChangePassword()" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Skriv över", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="customer.OverwriteFromMasterDirectory" @(Model.Customer.OverwriteFromMasterDirectory == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="customer.OverwriteFromMasterDirectory" value="0" />
                                            &nbsp;@Translation.Get("Skriv alltid över befintlig information vid synkronisering", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Borttagning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Translation.Get("Ta bort poster som inte synkroniserats på", Enums.TranslationSource.TextTranslation)
                                        &nbsp;
                                        @Html.TextBoxFor(model => model.Customer.Days2WaitBeforeDelete, new { style = "width: 40px;" })
                                        &nbsp;
                                        @Translation.Get("dagar", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Loggning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.LDAPLogLevel" @(Model.Setting.LDAPLogLevel == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.LDAPLogLevel" value="0" />
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.Setting.LDAPPassword)
                        </div>
                    </div>
                </div>
                <h4>@Translation.Get("Inventarier", Enums.TranslationSource.TextTranslation)</h4>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Folder", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.Setting.XMLFileFolder, new { maxlength = "100", style = "width: 400px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Läs in alla filer", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.XMLAllFiles" @(Model.Setting.XMLAllFiles == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.XMLAllFiles" value="0" />
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Loggning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.XMLLogLevel" @(Model.Setting.XMLLogLevel == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.XMLLogLevel" value="0" />
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <h4>@Translation.Get("Moduler", Enums.TranslationSource.TextTranslation)</h4>
                <div class="container">
                    <div class="row">
                        <div class="span8">
                            <table class="tableform">
                                <tr>
                                    <td colspan="3">
                                        <strong>@Translation.Get("Markera de moduler som kunden använder sig av", Enums.TranslationSource.TextTranslation)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" id="moduleCalendar" name="setting.ModuleCalendar" @(Model.Setting.ModuleCalendar == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleCalendar" value="0" />
                                            &nbsp;@Translation.Get("Aktuellt", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleComputerUser" @(Model.Setting.ModuleComputerUser == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleComputerUser" value="0" />
                                            &nbsp;@Translation.Get("Anmälare", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" id="moduleBulletinBoard" name="setting.ModuleBulletinBoard" @(Model.Setting.ModuleBulletinBoard == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleBulletinBoard" value="0" />
                                            &nbsp;@Translation.Get("Anslagstavla", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleContract" @(Model.Setting.ModuleContract == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleContract" value="0" />
                                            &nbsp;@Translation.Get("Avtal", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleOrder" @(Model.Setting.ModuleOrder == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleOrder" value="0" />
                                            &nbsp;@Translation.Get("Beställningar", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleChecklist" @(Model.Setting.ModuleChecklist == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleChecklist" value="0" />
                                            &nbsp;@Translation.Get("Checklista", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleDailyReport" @(Model.Setting.ModuleDailyReport == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleDailyReport" value="0" />
                                            &nbsp;@Translation.Get("Dagrapport", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleDocument" @(Model.Setting.ModuleDocument == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleDocument" value="0" />
                                            &nbsp;@Translation.Get("Dokumenthantering", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleOperationLog" @(Model.Setting.ModuleOperationLog == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleOperationLog" value="0" />
                                            &nbsp;@Translation.Get("Driftlogg", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleQuestionnaire" @(Model.Setting.ModuleQuestionnaire == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleQuestionnaire" value="0" />
                                            &nbsp;@Translation.Get("Enkät", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleInvoice" @(Model.Setting.ModuleInvoice == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleInvoice" value="0" />
                                            &nbsp;@Translation.Get("Fakturering tid", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleFAQ" @(Model.Setting.ModuleFAQ == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleFAQ" value="0" />
                                            &nbsp;@Translation.Get("FAQ", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleInventory" @(Model.Setting.ModuleInventory == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleInventory" value="0" />
                                            &nbsp;@Translation.Get("Inventarier", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleLicense" @(Model.Setting.ModuleLicense == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleLicense" value="0" />
                                            &nbsp;@Translation.Get("Licenshantering", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleProblem" @(Model.Setting.ModuleProblem == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleProblem" value="0" />
                                            &nbsp;@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleProject" @(Model.Setting.ModuleProject == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleProject" value="0" />
                                            &nbsp;@Translation.Get("Projekt", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleChangeManagement" @(Model.Setting.ModuleChangeManagement == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleChangeManagement" value="0" />
                                            &nbsp;@Translation.Get("Ändringshantering", Enums.TranslationSource.TextTranslation)
                                            <input type="hidden" name="setting.ModuleAccount" value="0" />
                                            <input type="hidden" name="setting.ModulePlanning" value="0" />
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.ModuleCaseInvoice" @(Model.Setting.ModuleCaseInvoice == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.ModuleCaseInvoice" value="0" />
                                            &nbsp;@Translation.Get("Fakturering artikel")
                                        </label>
                                    </td>
                                    <td>
                                        @*<label class="checkbox hidden">
                                                <input type="checkbox" name="setting.ModuleExtendedCase" @(Model.Setting.ModuleExtendedCase == 1 ? "checked=checked" : "") value="1" />
                                                <input type="hidden" name="setting.ModuleExtendedCase" value="0" />
                                                &nbsp;@Translation.Get("Extended Case", Enums.TranslationSource.TextTranslation)
                                            </label>*@
                                        @*TODO: this is hidden for now, add above code when customer should be able to decide this /TAN*@
                                        <input type="hidden" name="setting.ModuleExtendedCase" value="@Model.Setting.ModuleExtendedCase" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <h4>@Translation.GetCoreTextTranslation("Begränsa innehåll för användare med endast läsrättighet till driftgruppen")</h4>
                <div class="container">
                    <div class="row">
                        <div class="span15">
                            <table class="tableform">
                                <tr id="rowSettingForBulletinBoard" style="@(Model.Setting.ModuleBulletinBoard == 1 ? "display:block" : "display:none")">
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.BulletinBoardWGRestriction" @(Model.Setting.BulletinBoardWGRestriction == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.BulletinBoardWGRestriction" value="0" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Anslagstavla")
                                        </label>
                                    </td>
                                </tr>
                                <tr id="rowSettingForCalendar" style="@(Model.Setting.ModuleCalendar == 1 ? "display:block" : "display:none")">
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.CalendarWGRestriction" @(Model.Setting.CalendarWGRestriction == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="setting.CalendarWGRestriction" value="0" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Aktuellt")
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="setting.QuickLinkWGRestriction" @(Model.Setting.QuickLinkWGRestriction ? "checked=checked" : "") value="true" />
                                            <input type="hidden" name="setting.QuickLinkWGRestriction" value="false" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Snabblänkar")
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <h4>@Translation.Get("Rapporter", Enums.TranslationSource.TextTranslation)</h4>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td>
                                        <strong>@Translation.Get("Markera de rapporter som kunden använder sig av", Enums.TranslationSource.TextTranslation)</strong>
                                    </td>
                                </tr>
                                <tr></tr>
                                @{ var count = 0; }
                                @foreach (var report in Model.ListCustomerReports)
                                {
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="@string.Format("ReportCustomers[{0}].ShowOnPage", count)" @(report.ActiveOnPage == 1 ? "checked=checked" : "") value="1" />
                                                <input type="hidden" name="@string.Format("ReportCustomers[{0}].Customer_Id", count)" value="@Model.Customer.Id" />
                                                <input type="hidden" name="@string.Format("ReportCustomers[{0}].Report_Id", count)" value="@report.ReportId" />
                                                &nbsp;@Translation.Get(report.ReportName, Enums.TranslationSource.TextTranslation)
                                            </label>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </table>
                        </div>
                    </div>
                </div>

                <h4>@Translation.Get("Säkerhet", Enums.TranslationSource.TextTranslation)</h4>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table>
                                <tr>
                                    <td>
                                        <strong>@Translation.Get("Lösenordspolicy", Enums.TranslationSource.TextTranslation)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Lösenordshistorik", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.DropDownListFor(model => model.Setting.PasswordHistory, Model.PasswordHistory, "", new { style = "width: 60px;" })&nbsp;
                                        @Translation.Get("ihågkomna lösenord", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Maximalt tillåtna ålder", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Setting.MaxPasswordAge, new { style = "width: 40px;" })&nbsp;
                                        @Translation.Get("dagar", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Tillåt endast komplexa lösenord", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox" style="width:50px">
                                            <input type="checkbox" name="setting.ComplexPassword" id="setting_ComplexPassword" @(Model.Setting.ComplexPassword == 1 ? "checked=checked" : "") value="1" onclick="disablePasswordLength()" />
                                            <input type="hidden" name="setting.ComplexPassword" value="0" />
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Minsta tillåtna längd", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @if (Model.Setting.ComplexPassword == 1)
                                        {
                                            @Html.DropDownListFor(model => model.Setting.MinPasswordLength, Model.MinimumPasswordLength, "", new { style = "width: 60px;", disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.Setting.MinPasswordLength, Model.MinimumPasswordLength, "", new { style = "width: 60px;" })
                                        }
                                        &nbsp;@Translation.Get("tecken", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <h4>@Translation.Get("Ärendeöversikt", Enums.TranslationSource.TextTranslation)</h4>
                <div class="container">
                    <div class="row">
                        <div class="span15">
                            <table>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        <input type="radio" name="Setting.CaseWorkingGroupSource" @(Model.Setting.CaseWorkingGroupSource == 0 ? "checked='checked'" : "") id="Customer_Setting_CaseWorkingGroupSource1" value="0" />
                                        @Translation.Get("visa endast värde om användarens standarddriftgrupp (fält för andra driftgrupper visas som tomma)", Enums.TranslationSource.TextTranslation)
                                        <br />
                                        <input type="radio" name="Setting.CaseWorkingGroupSource" @(Model.Setting.CaseWorkingGroupSource == 1 ? "checked='checked'" : "") id="Customer_Setting_CaseWorkingGroupSource2" value="1" />
                                        @Translation.Get("visa alltid värde", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Avdelning", Enums.TranslationSource.TextTranslation) -<br />
                                        @Translation.Get("Organisationsenhet", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <input type="checkbox" name="setting.ShowOUsOnDepartmentFilter" @(Model.Setting.ShowOUsOnDepartmentFilter == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="setting.ShowOUsOnDepartmentFilter" value="0" />
                                        @Translation.Get("Visa Organisationsenhet i Avdelning filter", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <h4>@Translation.GetCoreTextTranslation("Tillåt åtgärder för användare utan rättighet till denna kund")</h4>
                <div class="container">
                    <div class="row">
                        <div class="span15">
                            <table>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="setting.AllowMoveCaseToAnyCustomer" @(Model.Setting.AllowMoveCaseToAnyCustomer ? "checked=checked" : "") value="true" />
                                        <input type="hidden" name="setting.AllowMoveCaseToAnyCustomer" value="false" />
                                        @Translation.GetCoreTextTranslation("Flytta ärende till denna kund")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="setting.CustomerInExtendedSearch" @(Model.Setting.CustomerInExtendedSearch == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="setting.CustomerInExtendedSearch" value="0" />
                                        @Translation.GetCoreTextTranslation("Utökad sökning")
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- CASE -->
                <h4>@Translation.GetCoreTextTranslation("Ärende")</h4>

                @*Hide temporary this release - Stina*@
                <input type="hidden" name="setting.CustomerInExtendedSearch" value="0" />
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table id="customerOrder">


                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Anmälare")
                                    </td>
                                    <td>
                                        <input type="checkbox" name="setting.ComputerUserSearchRestriction" @(Model.Setting.ComputerUserSearchRestriction == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="setting.ComputerUserSearchRestriction" value="0" />
                                        @Translation.GetCoreTextTranslation("begränsa sök per avdelning")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Handläggare")
                                    </td>
                                    <td>
                                        <input type="radio" name="Setting.DontConnectUserToWorkingGroup" @(Model.Setting.DontConnectUserToWorkingGroup == 1 ? "checked='checked'" : "") id="Customer_Setting_DontConnectUserToWorkingGroup1" value="1" />
                                        @Translation.GetCoreTextTranslation("visa alla handläggare oavsett vald driftgrupp")
                                        <br />
                                        <input type="radio" name="Setting.DontConnectUserToWorkingGroup" @(Model.Setting.DontConnectUserToWorkingGroup == 0 ? "checked='checked'" : "") id="Customer_Setting_DontConnectUserToWorkingGroup2" value="0" />
                                        @Translation.GetCoreTextTranslation("lista bara administratörer med medlemskap i arbetsgruppen")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label> @Translation.GetCoreTextTranslation("Avslutsdatum") </label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="setting.DisableCaseEndDate" @(Model.Setting.DisableCaseEndDate == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="setting.DisableCaseEndDate" value="0" />
                                        <span>
                                            @Translation.GetCoreTextTranslation("Avslutsdatum sätt automatiskt till det datum då ärendet stängs (användaren kan inte ändra det)")
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label> @Translation.GetCoreTextTranslation("Ärende") </label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="setting.PreventToSaveCaseWithInactiveValue" @(Model.Setting.PreventToSaveCaseWithInactiveValue == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="setting.PreventToSaveCaseWithInactiveValue" value="0" />
                                        <span>
                                            @Translation.GetCoreTextTranslation("Tillåt inte att spara ärenden med inaktiva värden.")
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>@Translation.GetCoreTextTranslation("Administratör")</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="setting.SetUserToAdministrator" @(Model.Setting.SetUserToAdministrator == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="setting.SetUserToAdministrator" value="0" />
                                        <span>
                                            @Translation.GetCoreTextTranslation("Användaren sätts som administratör vid skapa ärende")
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Bilagor")
                                    </td>
                                    <td>
                                        <input type="radio" name="Setting.AttachmentPlacement" @(Model.Setting.AttachmentPlacement == 0 ? "checked='checked'" : "") id="Customer_Setting_AttachmentPlacement0" value="0" />
                                        @Translation.GetCoreTextTranslation("Visa på Ärende tab")
                                        <br />
                                        <input type="radio" name="Setting.AttachmentPlacement" @(Model.Setting.AttachmentPlacement == 1 ? "checked='checked'" : "") id="Customer_Setting_AttachmentPlacement1" value="1" />
                                        @Translation.GetCoreTextTranslation("Visa på Bilagor tab")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Fysisk sökväg") (@Translation.GetCoreTextTranslation("Bilagor"))
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(model => model.Setting.PhysicalFilePath, new { maxlength = "100", style = "width: 400px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100px">
                                        @Translation.GetCoreTextTranslation("Standardärendemall")
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Setting.DefaultCaseTemplateId, Model.CaseSolutionList, "", new { })
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <h4>@Translation.GetCoreTextTranslation("Mail2Ticket")</h4>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table id="">
                                <tr>
                                    <td valign="top" class="span3">
                                        @Translation.GetCoreTextTranslation("E-post mall Nytt ärende skickas till")  (@Translation.GetCoreTextTranslation("Avancerad Mail2Ticket"))
                                    </td>
                                    <td class="span9">
                                        <input type="radio" name="Setting.M2TNewCaseMailTo" @(Model.Setting.M2TNewCaseMailTo == 0 ? "checked='checked'" : "") id="Customer_Setting_M2TNewCaseMailTo0" value="0" />
                                        @Translation.GetCoreTextTranslation("Anmälare")
                                        <br />
                                        <input type="radio" name="Setting.M2TNewCaseMailTo" @(Model.Setting.M2TNewCaseMailTo == 1 ? "checked='checked'" : "") id="Customer_Setting_M2TNewCaseMailTo1" value="1" />
                                        @Translation.GetCoreTextTranslation("Avsändare")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Skicka registreringsmail till anmälare")
                                    </td>
                                    <td>
                                        <input type="checkbox" id="emailRegCheckbox" @(Model.Setting.EMailRegistrationMailID == 1 ? "checked" : "") />
                                        @Html.HiddenFor(model => model.Setting.EMailRegistrationMailID, new { id = "hiddenEmailRegId" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                @if (SessionFacade.CurrentUser.IsSystemAdministrator())
                                {
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Felmeddelanden skickas till")
                                        </td>
                                        <td>
                                            @Translation.Get("Lämna tomt om inget fel-mejl ska skickas")<br />
                                            @Html.TextBoxFor(model => model.Setting.ErrorMailTo, new { maxlength = "200", style = "width: 400px;", autocomplete = "off" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Translation.GetCoreTextTranslation("E-post server protokoll")&nbsp;
                                        </td>
                                        <td>

                                            <input type="radio" name="Setting.MailServerProtocol" @(Model.Setting.MailServerProtocol == 1 ? "checked='checked'" : "") id="Customer_Setting_MailServerProtocol1" value="1" />
                                            @Translation.GetCoreTextTranslation("Imap")
                                            <br />
                                            <input type="radio" name="Setting.MailServerProtocol" @(Model.Setting.MailServerProtocol == 2 ? "checked='checked'" : "") id="Customer_Setting_MailServerProtocol2" value="2" />
                                            @Translation.GetCoreTextTranslation("Ews")
                                        </td>
                                    </tr>

                                    <tbody>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("E-post sökväg")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.EMailFolder, new { maxlength = "50", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("E-post sökväg arkiv")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.EMailFolderArchive, new { maxlength = "50", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("Server")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.POP3Server, new { maxlength = "50", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("Användarnamn")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.POP3UserName, new { maxlength = "50", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("Lösenord")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.POP3Password, new { maxlength = "40", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("Port")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.POP3Port, new { maxlength = "100", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("Felsökningsnivå")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.POP3DebugLevel, new { maxlength = "100", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Translation.GetCoreTextTranslation("E-post prefix")
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.POP3EMailPrefix, new { maxlength = "20", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                    <tbody id="EwsFields">
                                        <tr>
                                            <td>
                                                Ews Application Id
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.EwsApplicationId, new { maxlength = "200", style = "width: 400px;" })
                                                @Html.HiddenFor(model => model.Setting.UseEws)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ews Client Secret
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.EwsClientSecret, new { maxlength = "200", style = "width: 400px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Ews Tenant Id
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Setting.EwsTenantId, new { maxlength = "200", style = "width: 400px;" })
                                            </td>
                                        </tr>

                                    </tbody>

                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.Setting.MailServerProtocol)
                                    @Html.HiddenFor(model => model.Setting.POP3Server)
                                    @Html.HiddenFor(model => model.Setting.POP3UserName)
                                    @Html.HiddenFor(model => model.Setting.POP3Password)
                                    @Html.HiddenFor(model => model.Setting.POP3Port)
                                    @Html.HiddenFor(model => model.Setting.POP3DebugLevel)

                                    @Html.HiddenFor(model => model.Setting.POP3EMailPrefix)
                                    @Html.HiddenFor(model => model.Setting.EwsApplicationId)
                                    @Html.HiddenFor(model => model.Setting.EwsClientSecret)
                                    @Html.HiddenFor(model => model.Setting.EwsTenantId)
                                    @Html.HiddenFor(model => model.Setting.EMailFolder)
                                    @Html.HiddenFor(model => model.Setting.EMailFolderArchive)
                                    @Html.HiddenFor(model => model.Setting.UseEws)
                                    @Html.HiddenFor(model => model.Setting.ErrorMailTo)

                                }

                            </table>
                        </div>
                    </div>
                </div>
                <h4>@Translation.GetCoreTextTranslation("Helpdesk meny")</h4>
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table>

                                <tr>
                                    <td class="span3">
                                        @Translation.GetCoreTextTranslation("Genväg")

                                    </td>
                                    <td class="span9">
                                        <input type="checkbox" name="setting.ShowQuickNewCaseLink" @(Model.Setting.ShowQuickNewCaseLink == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="setting.ShowQuickNewCaseLink" value="0" />
                                        @Translation.GetCoreTextTranslation("Visa genväg för Nytt ärende")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Text")

                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Setting.QuickNewCaseLinkText, new { maxlength = "100", style = "width: 400px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("URL")

                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Setting.QuickNewCaseLinkUrl, new { maxlength = "100", style = "width: 400px;" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                @if (SessionFacade.CurrentUser.IsSystemAdministrator())
                {
                    <h4>@Translation.GetCoreTextTranslation("Windows söktjänst")</h4>
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <table>

                                    <tr>
                                        <td class="span3">
                                            @Translation.GetCoreTextTranslation("Server")

                                        </td>
                                        <td class="span9">
                                            @Html.TextBoxFor(model => model.Setting.FileIndexingServerName, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Translation.GetCoreTextTranslation("Katalog")

                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.Setting.FileIndexingCatalogName, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <h4>Sharepoint</h4>
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <table>

                                    <tr>
                                        <td class="span3">
                                            SharePoint SiteId
                                        </td>
                                        <td class="span9">
                                            @Html.TextBoxFor(model => model.Setting.SharePointSiteId, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint UserName
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointUserName, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint Password
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointPassword, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint ClientId
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointClientId, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint SecretKey
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointSecretKey, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint TenantId
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointTenantId, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint DriveId
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointDriveId, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint FolderId
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointFolderId, new { maxlength = "200", style = "width: 400px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharePoint Scope
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Setting.SharePointScope, new { maxlength = "200", style = "width: 400px;", autocomplete = "off" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    @Html.HiddenFor(model => model.Setting.FileIndexingCatalogName)
                    @Html.HiddenFor(model => model.Setting.FileIndexingServerName)
                    @Html.HiddenFor(model => model.Setting.SharePointSiteId)
                    @Html.HiddenFor(model => model.Setting.SharePointUserName)
                    @Html.HiddenFor(model => model.Setting.SharePointPassword)
                    @Html.HiddenFor(model => model.Setting.SharePointClientId)
                    @Html.HiddenFor(model => model.Setting.SharePointSecretKey)
                    @Html.HiddenFor(model => model.Setting.SharePointTenantId)
                    @Html.HiddenFor(model => model.Setting.SharePointDriveId)
                    @Html.HiddenFor(model => model.Setting.SharePointFolderId)
                    @Html.HiddenFor(model => model.Setting.SharePointScope)

                }
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.Setting.LDAPPassword)
    @Html.HiddenFor(model => model.Setting.MinRegWorkingTime)
</div>
<div id="divPasswordDialog" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@Translation.GetCoreTextTranslation("Byt lösenord")</h3>
    </div>
    <div class="modal-body">
        @Html.Partial("_ChangePassword", Model)
    </div>
</div>
<script type="text/javascript">
    disablePasswordLength();
    function ChangePassword() {

        var mod = $('#divPasswordDialog').modal('show');

        mod.find("#btnClose").on("click", function (e) {
            mod.modal('hide');
        });

        mod.find("#btnSavePassword").on("click", function (e) {
            if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
                var e = '@passChangeError';
                ShowToastMessage(e, "Error");

            } else {
                $.post('/customersettings/SaveLDAPPassword/', { id: $('#id_customer').val(), newPassword: $('#NewPassword').val(), confirmPassword: $('#ConfirmPassword').val() }, function (data) {
                    var e = '@passChangeText';
                    ShowToastMessage(e, "Alert");

                    $('#NewPassword').val('');
                    $('#ConfirmPassword').val('');
                });
            }
            mod.modal('hide');
        });

        mod.on("hide", function () {
            $("#divPasswordDialog #btnSavePassword").off("click");
            $("#divPasswordDialog #btnClose").off("click");
        });
    }

    function ShowToastMessage(message, msgType) {
        $().toastmessage('showToast', {
            text: message,
            sticky: true,
            position: 'top-center',
            type: msgType,
            closeText: '',
            stayTime: 10000,
            inEffectDuration: 1000,
            width: 500,
            close: function () {
                //console.log("toast is closed ...");
            }
        });
    }

    function disablePasswordLength() {

        if ($('#setting_ComplexPassword').is(':checked')) {
            //$("#Setting_MinPasswordLength").val("0");
            $("#Setting_MinPasswordLength").prop("disabled", true);
        } else {
            $("#Setting_MinPasswordLength").prop("disabled", false);
            //$("#Setting_MinPasswordLength").val("0");
        }
    }

    $("#moduleBulletinBoard").click(function () {
        if ($('#moduleBulletinBoard').is(':checked')) {
            $("#settingForBulletinBoard").attr('style', 'display:block');
            $("#rowSettingForBulletinBoard").attr('style', 'display:block');
        } else {
            $("#settingForBulletinBoard").attr('style', 'display:none');
            $("#rowSettingForBulletinBoard").attr('style', 'display:none');

        }
    });

    $("#moduleCalendar").click(function () {
        if ($('#moduleCalendar').is(':checked')) {
            $("#settingForCalendar").attr('style', 'display:block');
            $("#rowSettingForCalendar").attr('style', 'display:block');
        } else {
            $("#settingForCalendar").attr('style', 'display:none');
            $("#rowSettingForCalendar").attr('style', 'display:none');

        }
    });



    $(".CSVSync").hide();

    ShowRelatedFields();

    function ShowRelatedFields()
    {
        if (document.getElementById('Customer_Setting_IntegrationType2').checked)
        {
            $(".CSVSync").show();
            $(".customerSync").hide();
        }
        else {
            $(".customerSync").show();
            $(".CSVSync").hide();
        }
    }



    //Logic for m2t

    $(document).ready(function () {

        // Initial check to show/hide based on the current selection
        togglePop3Fields();

        // Listen for changes to the radio buttons
        $("input[name='Setting.MailServerProtocol']").on("change", togglePop3Fields);

        function togglePop3Fields() {

            //if ($("#Customer_Setting_MailServerProtocol1[value='1']").is(":checked")) {
            //    // Show the tbody containing fields
            //    $("#ImapFields").show();
            //} else {
            //    // Hide the tbody containing fields
            //    $("#ImapFields").hide();

            //}

            if ($("#Customer_Setting_MailServerProtocol2[value='2']").is(":checked")) {
                // Show the tbody containing fields
                $("#EwsFields").show();
            } else {
                // Hide the tbody containing fields
                $("#EwsFields").hide();
            }

        }


        $('#emailRegCheckbox').change(function () {
            var isChecked = $(this).prop('checked');
            $('#hiddenEmailRegId').val(isChecked ? 1 : 0);
        });

    });


</script>
