@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="Basic">
    <div class="span6">
        <table class="table">
            <tbody>       
            <tr>
                <td class="tdstrong">@Model.Label("BasicTerminationType")</td>
                <td>
                    @Model.Element("BasicTerminationType")
                </td>
            </tr>
           
            <tr>
                <td class="tdstrong">@Model.Label("BasicTerminationReason")</td>
                <td>
                    @Model.Element("BasicTerminationReason")
                </td>
            </tr>

@*            <tr>
                <td class="tdstrong" colspan="2">
                    <h4>@Model.Translate("CDS")</h4>
                </td>                
            </tr> *@ 
                 <tr>
            <td class="tdstrong">@Model.Label("LastDayOfEmployment")</td>
               <td>
                    @Model.Element("LastDayOfEmployment")
                    <div id="notice_HiringDate" style="display:none;" class="notice">
                            @Model.Translate("The date you've entered is in the past.")
                        <br />
                                @Model.Translate("Are you sure you want to backdate Last Day of Employment date?")
                        </div>
                </td>
            </tr>
            <tr>
                <td class="tdstrong">@Model.Label("LockCDSAccountFrom")</td>
                <td>
                    @Model.Element("LockCDSAccountFrom")</td>
            </tr>         


                </tbody>
        </table>
    </div>
</div>

<script>    

   
</script>