@using System.Web.Optimization
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Licenses.Models.Licenses.LicenseEditModel

@section Scripts
{
    
    @Scripts.Render("~/bundles/licenses")
    <script type="text/javascript">
        $(function () {
            var parameters = {
                languageId: '@SessionFacade.CurrentLanguageId',
                id: '@Model.Files.EntityId',
                uploadFileUrl: '@Url.Action("UploadFile")',
                deleteFileUrl: '@Url.Action("DeleteFile")',
            };

            applyBehavior(parameters);
        });

        window.parameters = {
              regionControlName: "#RegionId",
              departmentControlName: "#DepartmentId",
              refreshDepartmentUrl: '@Url.Content("~/Licenses/Licenses/GetJsonDepartmentsFor")',
            fileUploadWhiteList: [],
            invalidFileExtensionText: '@Html.Raw(Translation.GetForJS("har inte en giltig filändelse."))'
        };


        @if (Model.FileUploadWhiteList != null)
        {
            foreach(var extension in Model.FileUploadWhiteList)
            {
                @:window.parameters.fileUploadWhiteList.push('@extension');
            }
        }
        else
        {
            @:window.parameters.fileUploadWhiteList = null;
        }

    </script>    
    
    @Scripts.Render("~/bundles/licensesedit")
    
}

@{    
    var requiredMessage = " " + Translation.Get("måste anges");
}

@section Actions
{
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Spara"), null, null, new { id = "btnSave", @class = "btn" })
        </li>       
        @if (!Model.IsNew())
        {
            <li>
                @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Licenses", new { id = Model.Id }, 
                    new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post") + "?" })
            </li>                
        }
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Licenses", null, new { @class = "btn" })
        </li>
    </ul>    
}

@section Content {
    @using (Html.BeginForm("License", "Licenses", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.HiddenFor(m => m.Id, Model.Id)
        <h4>@Translation.Get("Allmänt")</h4>
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Produkt")
                        </td>
                        <td class="span9">
                            @Html.DropDownListFor(m => m.ProductId, Model.Products, new { @class = "license-product" })
                            @Html.ValidationMessageFor(m => m.ProductId, Translation.Get("Produkt") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Licensnummer")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.LicenseNumber, Model.LicenseNumber)
                            @Html.ValidationMessageFor(m => m.LicenseNumber, Translation.Get("Licensnummer") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Antal licenser")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.NumberOfLicenses, Model.NumberOfLicenses)
                            @Html.ValidationMessageFor(m => m.NumberOfLicenses, Translation.Get("Antal licenser") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Område")
                        </td>
                        <td class="span9">
                            @Html.DropDownListFor(m => Model.RegionId, Model.Regions)
                            @Html.ValidationMessageFor(m => m.RegionId, Translation.Get("Område") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Avdelning")
                        </td>
                        <td class="span9">
                            @Html.DropDownListFor(m => Model.DepartmentId, Model.Departments)
                            @Html.ValidationMessageFor(m => m.DepartmentId, Translation.Get("Avdelning") + requiredMessage)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <h4>@Translation.Get("Inköp")</h4>
        <div class="row">
            <div class="span12">                
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Inköpsdatum")
                        </td>
                        <td class="span9">
                            @Html.EditorFor(m => m.PurchaseDate, "DatePicker", new { id = "PurchaseDate" })
                            @Html.ValidationMessageFor(m => m.PurchaseDate, Translation.Get("Inköpsdatum") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Inköpspris")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.Price, Model.Price)
                            @Html.ValidationMessageFor(m => m.Price, Translation.Get("Inköpspris") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Inköpsunderlag")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.PurchaseInfo, Model.PurchaseInfo)
                            @Html.ValidationMessageFor(m => m.PurchaseInfo, Translation.Get("Inköpsunderlag") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Giltig t.o.m")
                        </td>
                        <td class="span9">
                            @Html.EditorFor(m => m.ValidDate, "DatePicker", new { id = "ValidDate" })
                            @Html.ValidationMessageFor(m => m.ValidDate, Translation.Get("Giltig t.o.m") + requiredMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Försäljare")
                        </td>
                        <td class="span9">
                            @Html.DropDownListFor(m => m.VendorId, Model.Vendors)
                            @Html.ValidationMessageFor(m => m.VendorId, Translation.Get("Försäljare") + requiredMessage)
                        </td>
                    </tr>
                </table>
            </div>
        </div>         
        
        <h4>@Translation.Get("Filer")</h4>
        <div class="row">
            <div class="span12">                
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Bifogad fil")
                        </td>
                        <td class="span9">
                            <a href="#license_files_uploader_popup" role="button" class="btn" data-toggle="modal">@Translation.Get("Lägg till")</a>
                            <div id="license_files_uploader_popup" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3>&nbsp;</h3>
                                </div>
                                <div class="modal-body">
                                    <div id="license_files_uploader"></div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Avsluta")</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.Partial("AttachedFiles", Model.Files)
                        </td>
                    </tr>
                </table>
            </div>
        </div>            
        
        <h4>@Translation.Get("Service")</h4>
        <div class="row">
            <div class="span12">                
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Årlig kostnad")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.PriceYear)
                            @Html.ValidationMessageFor(m => m.PriceYear, Translation.Get("Årlig kostnad") + requiredMessage)
                        </td>
                    </tr>
                </table>
            </div>
        </div>        
        
        <h4>@Translation.Get("Uppgradering")</h4>
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Uppgradering av")
                        </td>
                        <td class="span9">
                            @Html.DropDownListFor(m => m.UpgradeLicenseId, Model.UpgradeLicenses)
                            @Html.ValidationMessageFor(m => m.UpgradeLicenseId, Translation.Get("Uppgradering av") + requiredMessage)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <h4>@Translation.Get("Övrigt")</h4>
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Kommentar")
                        </td>
                        <td class="span9">
                            @Html.TextAreaFor(m => m.Info, Model.Info)
                            @Html.ValidationMessageFor(m => m.Info, Translation.Get("Kommentar") + requiredMessage)
                        </td>
                    </tr>
                </table>
            </div>
        </div>               
    } 
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function() {
                $("#edit_form").submit();
                return false;
            });
        });
    </script>          
}
