@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane active" id="ServiceRequestDetails">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Details")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewToIKEA")</td>
                    <td>@Model.Element("NewToIKEA")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Contractstartdate")</td>
                    <td>@Model.Element("Contractstartdate")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("JoinKRIKEAdate")</td>
                    <td>@Model.Element("JoinKRIKEAdate")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("JoinIKEAGlobal")</td>
                    <td>@Model.Element("JoinIKEAGlobal")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Servicerequestpriority")</td>
                    <td>@Model.Element("Servicerequestpriority")</td>
                </tr>
                @if (!FormLibUtils.IsSelfService())
                {
                    <tr>
                        <td class="tdstrong">@Model.Translate("SLA")</td>
                        <td>
                            @if (Model.Contract.CaseNumber != null)
                            {
                                @Model.Contract.PriorityName;
                            }
                            else if (Model.Form != null)
                            { 
                                @Model.Form.PriorityName;
                            }
                        </td>
                    </tr>  
                }
                <tr>
                    <td class="tdstrong">@Model.Label("Co-WorkerID")</td>
                    <td>@Model.Element("Co-WorkerID", false)</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("GlobalHRID")</td>
                    <td>@Model.Element("GlobalHRID")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Title")</td>
                    <td>@Model.Element("Title")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FirstnameinKR")</td>
                    <td>@Model.Element("FirstnameinKR")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FirstName")</td>
                    <td>@Model.Element("FirstName")</td>
                </tr>
                                <tr>
                    <td class="tdstrong">@Model.Label("LastnameinKR")</td>
                    <td>@Model.Element("LastnameinKR")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("LastName")</td>
                    <td>@Model.Element("LastName")</td>
                </tr>

                <tr>
                    <td class="tdstrong">@Model.Label("NickName")</td>
                    <td>@Model.Element("NickName")</td>
                </tr>

                <tr>
                    <td class="tdstrong">@Model.Label("Dateofbirth")</td>
                    <td>@Model.Element("Dateofbirth")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Maritalstatus")</td>
                    <td>@Model.Element("Maritalstatus")</td>
                </tr>
                @Html.Partial("_InternalLogNoteV2", Model)
            </tbody>
        </table>
    </div>

    <div class="span6">

        <table class="table">
            <tbody>
               

            </tbody>
        </table>
    </div>

    <div class="span6">

        <table class="table">
            <tbody>
            </tbody>
        </table>
    </div>
    <input type="hidden" id="CustomerId" value="@Model.Form.CustomerId" />
    <input type="hidden" id="AllCoWorker" value="1" />
    <input type="hidden" id="formGuid" value="@Model.FormGuid" />
</div>


