@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using System.Globalization;
@using ECT.Model.Entities;
@{
    Layout = null;
    Model.Language = "en";

    
}
<!DOCTYPE html>
<html>
<body>
    <div>
       <table style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr style="text-align: right;">
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:d MMMMMM yyyy}", DateTime.Now)</td>
            </tr>
        </table>

         <p style="text-align: left; font-family: Verdana; font-size: 11px;"><strong>Private & Confidential</strong><br />
        @Model.GetDocumentAnswer("FirstName",true) @Model.GetDocumentAnswer("LastName",true)<br />
        @Model.GetDocumentAnswer("AddressLine1",true)
        @if (!string.IsNullOrEmpty(Model.GetDocumentAnswer("AddressLine2")))
         {
        <br />
        @Model.GetDocumentAnswer("AddressLine2")
         }
        <br />
        @Model.GetDocumentAnswer("City",true)
        <br />
        @Model.GetDocumentAnswer("PostalCode",true)
        <br />
        <br />
        Dear @Model.GetDocumentAnswer("FirstName",true),<br /> 
        @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "300D - First Aid Allowance".ToLower())
        {
            <text>Congratulations on completing your First Aid Training</text>
            <br />
            <text>We are pleased to confirm that you will now have the First Aid Rate of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per month.</text>
            <br />
            <text>This will be paid in addition to your salary.</text>
            <br />
            <text>This will be effective from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr).</text>
        }

        @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "150J - Hourly First Aid".ToLower())
        {
            <text>Congratulations on completing your First Aid Training.</text>
            <br />
            <text>We are pleased to confirm that you will now have the First Aid Rate of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per month.</text>
            <br />
            <text>This will be paid in addition to your hourly rate of pay.</text>
            <br />
            <text>This will be effective from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr).</text>
        }
        
        @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "150C - Hourly FLT Skills (Fork Lift Truck Allowance)".ToLower())
        {
            <text>Congratulations on successfully completing your IKEA forklift truck (FLT) test. The forklift truck allowance is designed to reward the use of an additional skill. The allowance will only be paid if you are working as a forklift truck driver and in accordance with the FLT Policy. Please find the FLT Policy enclosed for your information. </text>
            <br />
            <text>We are pleased to confirm that while you are working as a forklift truck driver you will receive the forklift truck allowance of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per month.</text>
            <br />
            <text>This will be paid in addition to your hourly rate of pay.</text>
            <br />
            <text>This will be effective from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr).</text>
        }
        
        @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "150D - Hourly Kitchen Skills".ToLower() | (Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "150D - Hourly Kitchen Skills Edinburgh".ToLower() | (Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "150D - Hourly Kitchen Skills London".ToLower())
        {
            <text>We are pleased to confirm that you will receive a Kitchen Skills Allowance of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per hour.</text>
            <br />
            <text>The Kitchen Skills Allowance is paid provided that you continue to perform at this level, if this is not maintained then the allowance may be removed.</text>
            <br />
            <text>This will be paid in addition to your hourly rate of pay.</text>
            <br />
            <text>This will be effective from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr).</text>
        }

         @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "100G - Salary Kitchen Skills".ToLower())
        {
            <text>We are pleased to confirm that you will receive a Responsibility allowance of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per month.</text>
            <br />
            <text>The Kitchen Skills Allowance is paid provided that you continue to perform at this level, if this is not maintained then the allowance may be removed.</text>
            <br />
            <text>This will be paid in addition to your hourly rate of pay.</text>
            <br />
            <text>This will be effective from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr).</text>
        }

        @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "150V - Hourly Responsibility".ToLower())
        {
            <text>We are pleased to confirm that you will receive a Responsibility allowance of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per month.</text>
            <br />
            <text>The Kitchen Skills Allowance is paid provided that you continue to perform at this level, if this is not maintained then the allowance may be removed.</text>
            <br />
            <text>This will be paid in addition to your hourly rate of pay.</text>
            <br />
            <text>This will be effective from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr).</text>
        }
        
         @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "350C - Adj-Responsibility Allow".ToLower() | (Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "100C - Responsibility Allow".ToLower())
        {
            <text>We are pleased to confirm that you will receive a Responsibility allowance of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per month.</text>
            <br />
            <text>This will be paid in addition to your hourly rate of pay.</text>
            <br />
            <text>This will be effective from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr).</text>
        }
        
         @if ((Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "150V - Hourly Responsibility".ToLower() | (Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "350C - Adj-Responsibility Allow".ToLower() | (Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)).ToLower() == "100C - Responsibility Allow".ToLower())
        {
            <text>We are writing to confirm that you will no longer receive a responsibility allowance of &pound;@Model.GetDocumentAnswer("AllowancesAmountUnits" + Model.MultiNr) per month.</text>
            <br />
            <text>This will be paid in addition to your hourly rate of pay.</text>
            <br />
            <text>This allowance will cease from @Model.GetDocumentAnswer("AllowancesValidTo" + Model.MultiNr).</text>
        }
        
        <br />
        <br />
        All other Terms and Conditions remain the same. IKEA reserves the right to vary terms and conditions of employment subject to consultation and reasonable notice.
        <br />
        <br />
        <br />
            
       
        </p>

        <endpage />
    </div>
</body>
</html>