@model FormModel

@using(Html.BeginForm("edit", "errornotificationspecial", FormMethod.Post, new { area = "poland" }))
{
    @Html.Partial("_Navigation", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            <li class="active"><a href="#ErrorNotification">@Model.Translate("Error Notification")</a></li>
        </ul>
        <div class="content">
            <div class="tab-content">
                @Html.Partial("_TabErrorNotification", Model)
            </div>
        </div>
    </div>
}