@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.ConfigurableFieldModel<string>
@if (!Model.Show)
{
    return;
}

@{
    var inputAttributes = (Dictionary<string, object>)ViewData["inputAttributes"];
    Dictionary<string, object> htmlAttributes;
    var hasMaxLen = false;
    var maxLenVal = "";
    if (inputAttributes != null)
    {
        htmlAttributes = new Dictionary<string, object>(inputAttributes.Count + 1);

        if (inputAttributes.Keys.Contains("data-val-length-max"))
        {
            hasMaxLen = true;
            maxLenVal = inputAttributes["data-val-length-max"].ToString();
        }


        foreach (var inputAttribute in inputAttributes)
        {
            htmlAttributes.Add(inputAttribute.Key, inputAttribute.Value);
        }
    }
    else
    {
        htmlAttributes = new Dictionary<string, object>(1);
    }

    htmlAttributes.Add("data-dh-is-required", Model.IsRequired);



    var validationMessage = "";
    if (Model.IsRequired)
    {
        
        validationMessage = string.Format(" {0} {1}", Html.PureFieldCaption(Model), Translation.Get("måste anges"));
    }

    if (hasMaxLen)
    {
        if (validationMessage == "")
        {
            validationMessage = string.Format(" {0} {1} {2}", Html.PureFieldCaption(Model), Translation.Get("max length is"), maxLenVal);
        }
        else
        {
            validationMessage += string.Format(" {0} {1}", Translation.Get("Ange högst {0} tecken."), maxLenVal);
        }
    }
 }
<tr>
    <td class="span3">
        @Html.FieldCaption(Model)
    </td>
    <td class="span9">
        @if (!Model.IsReadOnly)
        {
            @Html.TextBoxFor(m => m.Value, htmlAttributes)
            @Html.HiddenFor(m => m.IsRequired)
            @Html.ValidationMessageFor(m => m.Value, validationMessage)
        }
        else
        {
            @Html.TextBoxFor(m => m.Value, new { @readonly = true })
        }
    </td>
</tr>
