@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <div>
        <br />
        <table width="100%" style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;">     
                    <table style="font-family: Verdana; font-size: 11px;" border="0">
            <tr>
               
                <td style="text-align: left;">@Model.GetAnswer("FirstName") @Model.GetAnswer("LastName")</td>
            </tr>
            <tr>
                
                <td style="text-align: left;">@Model.GetAnswer("PermanentAddressLine1") @Model.GetAnswer("PermanentAddressLine2") @Model.GetAnswer("PermanentAddressLine3")</td>
            </tr>
            <tr>
                
                <td style="text-align: left;">@Model.GetAnswer("PermanentPostalCode") @Model.GetAnswer("PermanentCity")</td>
            </tr>
        </table></td>

            </tr>
            </table>
        <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            <br />
            @Model.Department.HeadOfDepartmentCity, @string.Format(new System.Globalization.CultureInfo("nl-NL"), "{0:d MMM yyyy}", DateTime.Now)<br />
            <br />

            Betreft: calamiteitenverlof<br />
            <br />

            Beste @Model.GetAnswer("FirstName"),<br />
            <br />

            Hierbij bevestigen wij je het volgende.
        <br />
            <br />

            Op @Model.GetAnswer("AbsenceStartFrom"+Model.AbsenceNr) heb jij voor @Model.GetAnswer("AbsenceHours"+Model.AbsenceNr) uur gebruik gemaakt van de calamiteitenregeling uit de IKEA CAO.
        <br />
            <br />

            Voor meer informatie over deze regeling verwijzen wij je naar ico-worker.com/nl of raadpleeg artikel 41E van de IKEA CAO.
    
        </p>

        <endpage />
    </div>


</body>
</html>
