@model DH.Helpdesk.Web.Models.Inventory.EditModel.Settings.FieldSettingModel
<td>@Html.LabelFor(m => m)</td>
<td>@Html.CheckBoxFor(m => m.ShowInDetails)</td>
<td>@Html.TextBoxFor(m => m.Caption)</td>
<td>@Html.CheckBoxFor(m => m.IsRequired)</td>
<td>@Html.CheckBoxFor(m => m.ShowInList)</td>



