@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.Computer.ComputerFieldsSettingsViewModel
<script>
    $(function () {

        // YES and NO SWITCH FOR CHECKBOXES
        $('.switchcheckbox').bootstrapSwitch('onText', trans_yes);
        $('.switchcheckbox').bootstrapSwitch('offText', trans_no);
        $('.switchcheckbox').bootstrapSwitch('size', 'small');
        $('.switchcheckbox').bootstrapSwitch('onColor', 'success');

        //$(".is_required").change(function () {
        //    var value = $(this).is(":checked");
        //    if (value == true) {
        //        $(this).closest("tr").find(".is_readonly").prop('checked', !value);
        //    }
        //});

        //$(".is_readonly").change(function () {
        //    var value = $(this).is(":checked");
        //    if (value == true) {
        //        $(this).closest("tr").find(".is_required").prop('checked', !value);
        //    }
        //});

        $('.is_readonly_checkbox').on('switchChange.bootstrapSwitch', function (event, state) {
            var value = state;
            if (value == true) {
                $(this).closest("tr").find(".is_required_checkbox").bootstrapSwitch('state', !value);
            }
        });

        $('.is_required_checkbox').on('switchChange.bootstrapSwitch', function (event, state) {
            var value = state;
            if (value == true) {
                $(this).closest("tr").find(".is_readonly_checkbox").bootstrapSwitch('state', !value);
            }
        });
    });
</script>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.GetCoreTextTranslation("Fält")</th>
            <th>@Translation.GetCoreTextTranslation("Visa")</th>
            <th>
                @Translation.GetCoreTextTranslation("Rubrik")
                @Html.DropDownListFor(m => m.LanguageId, Model.Languages, new { id = "settings_language_dropdown" })
            </th>
            <th>@Translation.GetCoreTextTranslation("Obligatorisk")</th>
            <th>@Translation.GetCoreTextTranslation("Lista")</th>
            <th>@Translation.GetCoreTextTranslation("Skrivskyddad")</th>
            <th>@Translation.GetCoreTextTranslation("Inkludera vid kopiering")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Arbetsstation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.NameFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.ManufacturerFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.ModelFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.SerialNumberFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.BIOSVersionFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.BIOSDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.TheftmarkFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.CarePackNumberFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.ComputerTypeFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationFieldsSettingsModel.LocationFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Chassis")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.ChassisFieldsSettingsModel.ChassisFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Inventering")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.InventoryFieldsSettingsModel.BarCodeFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Operativsystem")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.OperatingSystemFieldsSettingsModel.OperatingSystemFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OperatingSystemFieldsSettingsModel.VersionFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OperatingSystemFieldsSettingsModel.ServicePackSystemFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OperatingSystemFieldsSettingsModel.RegistrationCodeSystemFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OperatingSystemFieldsSettingsModel.ProductKeyFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Processor")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.ProccesorFieldsSettingsModel.ProccesorFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Minne")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.MemoryFieldsSettingsModel.RAMFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Kommunikation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.NetworkAdapterFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.IPAddressFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.MacAddressFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.RASFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.NovellClientFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Grafik")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.GraphicsFieldsSettingsModel.VideoCardFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Ljud")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.SoundFieldsSettingsModel.SoundCardFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Avtal")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.ContractStatusFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.ContractNumberFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.ContractStartDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.ContractEndDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.PurchasePriceFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.InventoryFieldsSettingsModel.PurchaseDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.AccountingDimension1FieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.AccountingDimension2FieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.AccountingDimension3FieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.AccountingDimension4FieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.AccountingDimension5FieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Övrigt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.OtherFieldsSettingsModel.InfoFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Dokument")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContractFieldsSettingsModel.DocumentsFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Användaruppgifter")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContactInformationFieldsSettingsModel.UserIdFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Organisation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.OrganizationFieldsSettingsModel.RegionFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>

        <tr>
            @Html.EditorFor(m => m.OrganizationFieldsSettingsModel.DepartmentFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OrganizationFieldsSettingsModel.DomainFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OrganizationFieldsSettingsModel.UnitFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Placering")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.RoomFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.AddressFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.PostalCodeFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.PostalAddressFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.PlaceFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.Place2FieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Kontakt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContactFieldsSettingsModel.NameFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContactFieldsSettingsModel.PhoneFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.ContactFieldsSettingsModel.EmailFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Status")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.StateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.StolenFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.ReplacedWithFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.SendBackFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.ScrapDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DateFieldsSettingsModel.CreatedDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DateFieldsSettingsModel.ChangedDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DateFieldsSettingsModel.SyncChangedDateSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DateFieldsSettingsModel.ScanDateFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DateFieldsSettingsModel.PathDirectoryFieldSettingModel, "Settings/FieldSettingForComputerModel")
        </tr>
        <tr>
            <td colspan="7" class="header">@Translation.GetCoreTextTranslation("Tabs")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationTabsSettingsModel.ComputersTabSettingModel, "Settings/TabSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationTabsSettingsModel.StorageTabSettingModel, "Settings/TabSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationTabsSettingsModel.SoftwareTabSettingModel, "Settings/TabSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationTabsSettingsModel.HotFixesTabSettingModel, "Settings/TabSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationTabsSettingsModel.ComputerLogsTabSettingModel, "Settings/TabSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationTabsSettingsModel.AccessoriesTabSettingModel, "Settings/TabSettingForComputerModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.WorkstationTabsSettingsModel.RelatedCasesTabSettingModel, "Settings/TabSettingForComputerModel")
        </tr>
    </tbody>
</table>
