@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.Inventory.InventoryFieldSettingsViewModel
<script>
    $(function () {

        // YES and NO SWITCH FOR CHECKBOXES
        $('.switchcheckbox').bootstrapSwitch('onText', trans_yes);
        $('.switchcheckbox').bootstrapSwitch('offText', trans_no);
        $('.switchcheckbox').bootstrapSwitch('size', 'small');
        $('.switchcheckbox').bootstrapSwitch('onColor', 'success');
    });
</script>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.GetCoreTextTranslation("Grupp")</th>
            <th>@Translation.GetCoreTextTranslation("Egenskap")</th>
            <th>@Translation.GetCoreTextTranslation("Pos")</th>
            <th>@Translation.GetCoreTextTranslation("Typ")</th>
            <th>@Translation.GetCoreTextTranslation("Storlek")</th>
            <th>@Translation.GetCoreTextTranslation("Visa")</th>
            <th>@Translation.GetCoreTextTranslation("Lista")</th>
            <th>@Translation.GetCoreTextTranslation("XML")</th>
            <th>@Translation.GetCoreTextTranslation("Skrivskyddad")</th>
            <th>@Translation.GetCoreTextTranslation("Ta bort")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Ny")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.NewDynamicFieldViewModel, "Settings/NewInventoryFieldSettingModel")
        </tr>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Allmänt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.DepartmentFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.NameFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.ModelFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.ManufacturerFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.SerialNumberFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.TheftMarkFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Inventering")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.BarCodeFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.PurchaseDateFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Placering")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.PlaceFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Övrigt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.InfoFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Tillbehör")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.WorkstationFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Status")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.CreatedDateFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.ChangedDateFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            @Html.EditorFor(m => m.DefaultSettings.SyncDateFieldSettingModel, "Settings/InventoryFieldSettingModelDefault")
        </tr>
        <tr>
            <td colspan="10" class="header">@Translation.GetCoreTextTranslation("Tillägg")</td>
        </tr>
        @{
            var inventoryDynamicFieldViewModelSettings = Model.InventoryDynamicFieldViewModelSettings.OrderBy(x => x.InventoryDynamicFieldSettingModel.Position).ThenBy(x => x.InventoryDynamicFieldSettingModel.Caption).ToList();

            for (int i = 0; i < inventoryDynamicFieldViewModelSettings.Count(); i++)
            {
            <tr>
                @Html.EditorFor(m => inventoryDynamicFieldViewModelSettings[i], "Settings/InventoryFieldSettingModel")
            </tr>
            }
        }
    </tbody>
</table>
