@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.InventoryFieldSettingModel
<td></td>
<td>@Html.TextBoxFor(m => m.Caption)</td>
<td></td>
<td></td>
<td>@Html.DisplayFor(m => m.PropertySize)</td>
<td>@Html.CheckBoxFor(m => m.ShowInDetails, new { @class = "switchcheckbox" })</td>
<td>@Html.CheckBoxFor(m => m.ShowInList, new {@class = "switchcheckbox"})</td>
<td>@Html.TextBoxFor(m => m.XMLTag)</td>
<td>@Html.CheckBoxFor(m => m.ReadOnly, new { @class = "switchcheckbox" })</td>
<td></td>
