@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.Printer.PrinterFieldsSettingsViewModel
<script>
    $(function () {

        // YES and NO SWITCH FOR CHECKBOXES
        $('.switchcheckbox').bootstrapSwitch('onText', trans_yes);
        $('.switchcheckbox').bootstrapSwitch('offText', trans_no);
        $('.switchcheckbox').bootstrapSwitch('size', 'small');
        $('.switchcheckbox').bootstrapSwitch('onColor', 'success');
    });
</script>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Fält")</th>
            <th>@Translation.Get("Visa")</th>
            <th>
                @Translation.Get("Rubrik")
                @Html.DropDownListFor(m => m.LanguageId, Model.Languages, new { id = "settings_language_dropdown" })
            </th>
            <th>@Translation.Get("Obligatorisk")</th>
            <th>@Translation.Get("Lista")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6" class="header">@Translation.Get("Allmänt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.GeneralFieldsSettingsModel.NameFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.GeneralFieldsSettingsModel.ManufacturerFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.GeneralFieldsSettingsModel.ModelFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.GeneralFieldsSettingsModel.SerialNumberFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            <td colspan="6" class="header">@Translation.Get("Inventering")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.InventoryFieldsSettingsModel.BarCodeFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.InventoryFieldsSettingsModel.PurchaseDateFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            <td colspan="6" class="header">@Translation.Get("Kommunikation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.NetworkAdapterFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.IPAddressFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.CommunicationFieldsSettingsModel.MacAddressFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            <td colspan="6" class="header">@Translation.Get("Övrigt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.OtherFieldsSettingsModel.NumberOfTraysFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OtherFieldsSettingsModel.DriverFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OtherFieldsSettingsModel.InfoFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OtherFieldsSettingsModel.URLFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            <td colspan="6" class="header">@Translation.Get("Organization")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.OrganizationFieldsSettingsModel.DepartmentFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.OrganizationFieldsSettingsModel.UnitFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            <td colspan="6" class="header">@Translation.Get("Placering")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.RoomFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.PlaceFieldsSettingsModel.LocationFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            <td colspan="6" class="header">@Translation.Get("Status")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.CreatedDateFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.ChangedDateFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
        <tr>
            @Html.EditorFor(m => m.StateFieldsSettingsModel.SyncDateFieldSettingModel, "Settings/FieldSettingModel")
        </tr>
    </tbody>
</table>
