@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "nl";
}
<!DOCTYPE html>
<html>
<head>
    @*<link href="@Model.Contract.BaseUrl/FormLibContent/assets/css/documents.css" rel="stylesheet" type="text/css" />*@
    @Model.GetStyleAnswer("GetStyleLink")
    @Html.Partial("../Shared/Pdfs/_Styles", Model)
    @Model.GetStyleAnswer("GetStyles")
</head>
<body>
    <div class="default-page">@Html.Partial("../Shared/Pdfs/_Debug", Model)
        @Html.Partial("../Shared/Pdfs/_SectionAddressTop", Model)

        <p>
            Betreft: Stageovereenkomst<br />
            <br />
            Beste @Model.GetDocumentAnswer("FirstName", true),
        </p>

        <p>Gefeliciteerd met je stageplaats! Met dit flatpack verwelkomen we je als nieuwe collega bij IKEA. Met het boekje Mijn IKEA willen we laten zien waar IKEA voor staat en geven we praktische informatie over werken bij IKEA. Daarnaast informeren we je in deze brief graag over je indiensttreding en de daarbij behorende documenten.</p>
        <p>Tijdens het sollicitatiegesprek zijn er al een aantal gegevens verzameld. Aan de hand van deze persoonlijke gegevens en de eerder besproken arbeidsvoorwaarden is een contract opgesteld. Je arbeidsovereenkomst is in tweevoud meegestuurd. Graag ontvangen wij hiervan één getekend exemplaar retour. Het andere exemplaar kan je gebruiken voor je eigen administratie. De IKEA CAO, de IKEA Group Code of Conduct en de regels die zijn opgenomen in Mijn IKEA maken ook onderdeel uit van je arbeidsovereenkomst. Mocht je het met één of meerdere bepalingen uit het contract niet eens zijn, dan ontvangen wij je reactie graag schriftelijk binnen 7 dagen.</p>

        Verder vind je nog de volgende zaken bijgesloten:
    <ul class="nomargin_ul" style="margin-top: 0px; padding-top: 0px;">
        <li>IKEA wil graag weten of je loonheffingskorting wilt toepassen over het salaris dat je ontvangt. Je kan dit aangeven op de bijgevoegde loonbelastingverklaring.</li>
        <li>Bijlage ‘Altijd toegang tot jouw IKEA’, hier kan je onderstaande zaken bekijken, wijzigen en aanvragen.</li>

        <ul class="dash_ul">
            <li>&nbsp;HR gerelateerde informatie, waaronder de IKEA CAO</li>
            <li>&nbsp;Salarisstrook en persoonsgegevens</li>
            <li>&nbsp;Rooster en verlofaanvragen</li>
            @*delete if  OA.CS.3.1 Function = IKEA Food or if OA3 Business Unit = CSC*@
            @if (Model.GetDocumentAnswer("ServiceArea").ToLower() != "IKEA Food".ToLower() && Model.GetDocumentAnswer("BusinessUnit").ToLower() != "CSC".ToLower())
            {
                <li>&nbsp;Bestellen van je bedrijfskleding</li>
            }
@*delete if  OA.CS.3.1 Function = IKEA Food or if OA3 Business Unit = CSC*@
        </ul>
    </ul>
        <br />
        Om je indiensttreding volledig te kunnen maken ontvangen wij graag binnen 5 dagen de volgende documenten retour:
    <ul>
        <li>één ondertekend exemplaar van je arbeidsovereenkomst</li>
        <li>een ingevulde loonbelastingverklaring</li>
        <li>een ingevuld formulier persoonsgegevens </li>
    </ul>

        <p>Je kan deze documenten retour sturen in de bijgesloten antwoordenvelop.</p>

        <p>We willen je er graag op wijzen dat je stageovereenkomst zonder deze documenten niet volledig is. Het ontbreken ervan heeft gevolgen voor de start van je stage en voor je eventuele stagevergoeding.</p>

        <p>Ook ontvang je hierbij een leenpas van IKEA waar je elke werkdag mee kan in- en uitklokken. Gebruik deze pas meteen op je eerste werkdag. Als je dagelijks klokt dan kunnen wij voor een juiste salarisbetaling zorgen.</p>

        <p>
            Om alvast kennis te maken met je nieuwe vestiging nodigen we je uit om met je familie en/of vrienden een dagje te komen winkelen. Daarom ontvang je hierbij  een tegoedbon voor het IKEA restaurant om deze dag iets te eten en te drinken en een IKEA cadeaupas om een artikel naar keuze te kopen. Op IKEA.com/nl kan je alvast inspiratie opdoen.<br />
            Veel plezier!
        </p>

        <p>We hopen je hiermee voldoende te hebben geïnformeerd. Heb je vragen over je contract of over de andere documenten dan kan je contact opnemen met je manager of de HR afdeling van je vestiging.</p>

        <p>
            We wensen je veel succes!

    @Html.Partial("../Shared/Pdfs/_SectionLineManagerPhone", Model)
        </p>
        <table>
            <tr style="page-break-before: always;">
                <td>&nbsp;</td>
            </tr>
        </table>
        <div>
            @Html.Partial("../Shared/Pdfs/_BarCode", Model)
        </div>
        <br />
        <br />
        <br />
        <h1>STAGEOVEREENKOMST</h1>
        <p>
            <br />
            Ondergetekenden:</p>
        <p>Tussen IKEA Nederland B.V., hierna te noemen IKEA, en<br />
        </p>

        @Html.Partial("../Shared/Pdfs/_SectionAddress", Model)

        <p>
            Hierna te noemen de stagiair,
        </p>

        <p>
            Verklaren als volgt te zijn overeengekomen:
        </p>

        @{
            var list = new List<PdfListItem>();
            var pdfList = new List<PdfListItem>();
            int Number = 0;
            int Letter = 0;

            //1            SG 2015-10-23 case:52774 used Search key for BU display name:
            string text1 = "Dat IKEA de stagiair in de gelegenheid zal stellen in samenhang met zijn/haar opleiding praktische ervaringen op te doen met betrekking tot het werk in de volgende bedrijfsafdeling(en): " + Model.GetDocumentAnswer("ServiceArea", true) + " in de vestiging " 
                            + CustomPdfPage.IsEmpty(Model.Department.Searchkey, "Business Unit") + " tijdens de periode " + Model.GetDocumentAnswer("ContractStartDate", true) + " tot en met " + Model.GetDocumentAnswer("ContractEndDate") + ", gedurende " + Model.GetDocumentAnswer("ContractedHours") + " uur per week, met uitzondering van de dagen of gedeelten van dagen dat er in de onderneming niet wordt gewerkt.";
            Number = list.Count() + 1;
            list.Add(new PdfListItem { Text = text1, Number = Number.ToString() });

            //2
            string text2 = "De rechtspositie van de stagiair is die van leerling van de school waar hij/zij onderwijs volgt.";

            Number = list.Count() + 1;
            list.Add(new PdfListItem { Text = text2, Number = Number.ToString() });

            //3
            Number = list.Count() + 1;

            string text3 = "De dagelijkse leertijd is voor de stagiair in overeenstemming met de arbeidstijd welke geldt voor de afdeling waar hij geplaatst is, tenzij dit anders is overeengekomen en voor zover niet in strijd met de arbeidswetgeving voor jeugdigen.";
            list.Add(new PdfListItem { Text = text3, Number = Number.ToString() });


            //4
            Number = list.Count() + 1;
            string text4 = "In geval van verzuim of het voornemen daartoe is de stagiair verplicht IKEA op de hoogte te stellen of te doen stellen op een wijze zoals die bij IKEA gebruikelijk is.";
            list.Add(new PdfListItem { Text = text4, Number = Number.ToString() });

            //5
            Number = list.Count() + 1;
            string text5 = "IKEA zal aanstellen als praktijkbegeleider: " + Model.GetDocumentAnswer("MentorAtIKEA", true) + " van de afdeling: " + Model.GetDocumentAnswer("ServiceArea", true) + ".";
            list.Add(new PdfListItem { Text = text5, Number = Number.ToString() });

            //6
            Number = list.Count() + 1;
            string text6 = "De stagiair verbindt zich om zowel tijdens de duur der stage als ook na afloop daarvan aan derden geen mededelingen te doen betreffende bijzonderheden van de IKEA organisatie.";
            list.Add(new PdfListItem { Text = text6, Number = Number.ToString() });

            //7
            Number = list.Count() + 1;
            string text7 = "Een stage overeenkomst kan op initiatief en met overeenstemming van IKEA of de stagiair en de vertegenwoordiger van de school, worden verbroken, verlengd of bekort.";
            list.Add(new PdfListItem { Text = text7, Number = Number.ToString() });

            //8
            if (Model.GetDocumentAnswer("PayrollCategory").ToLower() != "No Salary".ToLower())
            {
                Number = list.Count() + 1;
                string text8 = "Stagevergoeding bruto per maand: €" + Model.GetDocumentAnswer("BasicPayAmount", true) + ". De vergoeding vindt telkens aan het einde van de kalendermaand plaats.";
                list.Add(new PdfListItem { Text = text8, Number = Number.ToString() });
            }

            //9
            Number = list.Count() + 1;
            string text9 = "De stagiair verklaart hiermee tevens kennis te hebben genomen van de IKEA Group Code of Conduct en de regels in Mijn IKEA en zich aan deze regels te zullen houden en verder met het bovenstaande akkoord te gaan.";
            list.Add(new PdfListItem { Text = text9, Number = Number.ToString() });

            //10
            Number = list.Count() + 1;
            string text10 = "Indien de stagiaire niet in het bezit is van een OV- jaarkaart, dan geldt de reiskostenvergoeding conform de IKEA CAO.";
            list.Add(new PdfListItem { Text = text10, Number = Number.ToString() });

            pdfList = new List<PdfListItem>();

            list[list.Count - 1].SubList = pdfList;

            
            
        }


        @if (list.Count > 1)
        {
            <table class="table-full-width">
                @for (int i = 0; i < list.Count; i++)
                { 
                                //style="page-break-inside: avoid;"
                    <tr >
                        <td>
                            @if (list[i].Number != null)
                            {<text>@list[i].Number.</text> }
                        </td>
                        <td style="padding-bottom: 10px !important;">
                            @Html.Raw(list[i].Text)
                            @if (list[i].SubList != null && list[i].SubList.Count > 0)
                            {
                                <table border="0">
                                    @foreach (var item in list[i].SubList)
                                    {                  
                                        <tr>
                                            <td valign="top">&bull;</td>
                                            <td valign="top">@Html.Raw(item.Text)</td>
                                        </tr>                       
                                    }

                                </table>
                            }

                        </td>
                    </tr>
                }
            </table>
        }

        <table class="table-full-width">

            <tr style="page-break-inside: avoid">

                <td>
                    <table class="table-full-width">
                        <tr>
                            <td colspan="2">
                                @Html.Partial("../Shared/Pdfs/_CityDate", Model)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.Partial("../Shared/Pdfs/_Signature", Model)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table>
            <tr style="page-break-before: always;">
                <td>&nbsp;</td>
            </tr>
        </table>



        <table class="table-full-width">
            <tr>
                <td style="width: 50%; min-width: 50%; vertical-align: top !important; border: 1px solid black; vertical-align: middle; text-align: center;">
                    <span style="font-size: 14pt; font-weight: bold;">
                        <br />
                        Pasnummer:</span>
                        <br /><br />
                </td>
                <td style="width: 50%; min-width: 50%; text-align: right;">
                       <br />
                    @Html.Partial("../Shared/Pdfs/_BarCode", Model)
                    <table class="table-full-width">
            <tr><td></td><td style="width:70%; text-align:left;">   <br />
                    <br />@DateTime.Now.ToString("dd.MM.yyyy")<br />@CustomPdfPage.IsEmpty(Model.Department.Searchkey, "Business Unit")<br /> @*SG 2015-10-23 case:52774 used Search key for BU display name:  @Model.GetDocumentAnswer("BusinessUnit", true)<br />*@

                    @if (!string.IsNullOrEmpty(Model.GetAnswer("HomeCostCentre")))
                    {
                        @Model.Translate(@Model.GetOptionText("HomeCostCentre", Model.GetAnswer("HomeCostCentre")))
                    }
                    else
                    {
                        @Model.GetDocumentAnswer("HomeCostCentre", true)
                    }</td>
                </tr>

                    </table>

                 
                 
                </td>
            </tr>
        </table>
        @Html.Partial("../Shared/Pdfs/_CityDate", Model)
        <p>
            Beste @Model.GetDocumentAnswer("FirstName", true),
        </p>
        <p>Hierbij ontvang je je leenpas. Deze leenpas is eigendom van IKEA en voor persoonlijk gebruik gedurende je dienstverband.</p>
        <p>
            <b>Doel van deze pas</b><br />
            Deze leenpas ontvang je om gedurende je dienstverband bij IKEA:<br />
            In- en uit te klokken bij binnenkomst en vertrek;<br />
            Toegang te krijgen tot het personeelsgebied binnen je vestiging;
        </p>
        <p>
            <b>Vervangende pas</b><br />
            Wanneer je tijdens je tijdelijke dienstverband een nieuwe leenpas nodig hebt vanwege óf verlies óf beschadiging na ontvangst, kun je tegen inhouding van
        EUR 10, - op je salaris een nieuwe leenpas aanvragen. Informeer het HR Service Centre bij verlies of diefstal van de pas zodat deze geblokkeerd kan worden.
        </p>
        <p>
            <b>Uitdiensttreding</b><br />
            Bij uitdiensttreding dien je de leenpas weer in te leveren. IKEA zal pas overgaan tot de eindafrekening van je salaris ná ontvangst van de leenpas.
        </p>
        <p>
            <b>Oneigenlijk gebruik</b><br />
            Bij oneigenlijk gebruik van de leenpas tijdens of na je dienstverband zullen we hiervan aangifte doen bij de politie.
        </p>
        <br />
        <table class="table-full-width">
            <tr style="page-break-inside: avoid">
                <td>
                    <table class="table-full-width">
                        <tr>
                            <td style="width: 70%">Handtekening voor akkoord:	
                            </td>
                            <td>Datum:
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        @Model.GetDocumentAnswer("FirstName", true)@if (!string.IsNullOrEmpty(Model.GetAnswer("Prefixes")))
                                                   {<text>&nbsp;</text>@Model.GetAnswer("Prefixes")} @Model.GetDocumentAnswer("LastName", true)
    </div>
</body>
</html>