@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.FieldModels.AttachedFilesModel

@{
    var filesContainerId = Model.Area.ToString().ToLower() + "_files_container";
}

<div id="@filesContainerId">
    @if (!Model.Files.Any())
    {
        @Translation.Get("No Uploaded Files")
        return;
    }
    <table>
        @foreach (var file in Model.Files)
        {
            if (string.IsNullOrEmpty(file))
            {
                continue;
            }
            <tr>
                <td>
                    @Html.ActionLink(file, "DownloadFile", new { entityId = Model.OrderId, subtopic = Model.Area, fileName = file })
                </td>
                <td>
                    <a onclick="deleteFile('@Model.Area', '@file', '@filesContainerId')" class="btn">
                        @Translation.Get("Ta bort")
                    </a>
                </td>
            </tr>
        }
    </table>
</div>