@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.FullOrderEditModel
@{
    Layout = "~/Areas/Orders/Views/Shared/_OrderLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Spara"), null, null, new { id = "btnSave", @class = "btn" })
        </li>
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Orders", null, new { @class = "btn" })
        </li>
        <li>
            @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Orders", new { id = Model.Id }, 
                new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Are you sure?") })
        </li>
        <li class="secspace"></li>      
        <li>
            @Html.CheckBoxFor(m => m.InformOrderer, new { id = "InformOrderer_action"})
        </li>
        <li>
            @Html.LabelFor(m => m.InformOrderer, Translation.Get("Informera beställare"))
        </li>
        <li class="secspace"></li>      
        <li>
            @Html.CheckBoxFor(m => m.InformReceiver, new { id = "InformReceiver_action"})
        </li>
        <li>
            @Html.LabelFor(m => m.InformReceiver, Translation.Get("Informera mottagare"))
        </li>
        <li class="secspace"></li>      
        <li>
            @Html.CheckBoxFor(m => m.CreateCase, new { id = "CreateCase_action"})
        </li>
        <li>
            @Html.LabelFor(m => m.CreateCase, Translation.Get("Skapa ärende"))
        </li>
    </ul>        
}

@section Content
{
    @using (Html.BeginForm("Edit", "Orders", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.EditorFor(m => m)
    }
    
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function () {

                $("#InformOrderer").val($("#InformOrderer_action").prop("checked"));
                $("#InformReceiver").val($("#InformReceiver_action").prop("checked"));
                $("#CreateCase").val($("#CreateCase_action").prop("checked"));

                $("#edit_form").submit();
                return false;
            });
        });
    </script>      
}