@using DH.Helpdesk.Web.Areas.Orders.Models.Index
@using DH.Helpdesk.Web.Infrastructure
@model OrdersIndexModel

@section Actions {
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Skapa beställning"), "Order", "Orders", new { @class = "btn" })
        </li>
    </ul>
}

@using (Ajax.BeginForm("Orders", "Orders", null, 
    new AjaxOptions { UpdateTargetId = "OrdersOrdersTableContainer" },
    new { id ="ProductsSearchForm" } ))
{
    <table class="tableform">
        <tr>
            <td class="span3">@Translation.Get("Typ")</td>
            <td>@Html.DropDownListFor(m => m.OrderTypeIds, Model.OrderTypes, new { id = "ordertypes_dropdown", @class = "chosen-select", data_placeholder = Translation.Get("Välj en eller flera") })</td>
        </tr>                
        <tr>
            <td class="span3">@Translation.Get("Handläggare")</td>
            <td>@Html.DropDownListFor(m => m.AdministratorIds, Model.Administrators, new { id = "administrators_dropdown", multiple = "multiple", @class = "chosen-select", data_placeholder = Translation.Get("Välj en eller flera") })</td>
        </tr>         
        <tr>
            <td class="span3">
                @Translation.Get("Beställningsdatum")
            </td>
            <td>
                @Html.EditorFor(m => m.StartDate, "DatePicker", new { id = "StartDate" })
                @Html.EditorFor(m => m.EndDate, "DatePicker", new { id = "EndDate" })
            </td>
        </tr>
        <tr>
            <td class="span3">@Translation.Get("Status")</td>
            <td>@Html.DropDownListFor(m => m.StatusIds, Model.Statuses, new { id = "statuses_dropdown", multiple = "multiple", @class = "chosen-select", data_placeholder = Translation.Get("Välj en eller flera") })</td>
        </tr>    
        <tr>
            <td class="span3">@Translation.Get("Sök")</td>
            <td>@Html.TextBoxFor(m => m.Text, Model.Text)</td>
        </tr>                             
        <tr>
            <td class="span3">
            </td>
            <td>
                <input type="submit" value="@Translation.Get("Sök")" class="btn" />
            </td>
        </tr>               
    </table>
}
<div id="OrdersOrdersTableContainer">
    @Html.Action("Orders", "Orders", new { model = (OrdersIndexModel)null })
</div>