@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    ViewBag.Title = Model.Translate("netherlands") + " - " + Model.Translate("Termination complete");
}

@section Script {
    <script type="text/javascript">

        $(function () {
            validate.run(20);
        });

    </script>

     @Html.Partial("_Validate", Model)
}
@using (Html.BeginForm("new", "TerminationComplete", FormMethod.Post, new { area = "Global", novalidate = "novalidate" }))
{
    @Html.Partial("_GlobalNavigation", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")  
        @Html.Partial("_ErrorMessage", Model)    
        <ul class="nav nav-tabs">
            <li class="active"><a href="#ServiceRequestDetails">@Model.Translate("Service Request Details")</a></li>
            <li><a href="#Basic">@Model.Translate("Basic Termination Details")</a></li>
            <li><a href="#Complete">@Model.Translate("Complete Termination Details")</a></li>
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content">   
                                               
                        @Html.Partial("_TabServiceRequestDetails", Model)                                     
                     
                        @Html.Partial("_TabBasic", Model)                    
                               
                        @Html.Partial("_TabComplete",Model)                                                                     
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="@Model.ActiveTab" />    
}