@model DH.Helpdesk.Web.Models.Gdpr.DataPrivacyHistoryViewModel
@{
    Layout = null;
 }
<div class="container">
    <div class="row">
        <div class="span6">
            <table class="tableform">
                <tbody>
                <tr>
                    <td class="span1">@Translation.GetCoreTextTranslation("Kund")</td>
                    <td>
                       @Html.DropDownListFor(x => x.SelectedCustomerId, Model.Customers, "",
                           new
                           {
                               id = "dph_customerId",
                               @class = "chosen-single-select"
                           })
                        <i id="historyLoader" class="gif-loader" style="display:none">&nbsp;</i>
                    </td>
                </tr>
                </tbody>
            </table>            
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <table class="table table-striped table-bordered table-hover table-cases">
                <thead>
                <tr>
                    <th>@Translation.GetCoreTextTranslation("Registreringsdatum")</th>
                    <th>@Translation.GetCoreTextTranslation("Ärenden")</th>
                    <th>Data</th>
                    <th>@Translation.GetCoreTextTranslation("Bifogade filer")</th>
                    <th>@Translation.GetCoreTextTranslation("Utförd")</th>
                </tr>
                </thead>
                <tbody id="dph_Table_rows">
                </tbody>
            </table>    
        </div>
    </div>
</div>

<script type="text/javascript">
    window.dataPrivacyHistory = (function () {
        var _self = this;
        var customerSelect$ = $('#dph_customerId');
        var progessLoader$ = $('#historyLoader');
        var dphTable$ = $('#dph_Table_rows');
        
        this.loadHistory = function () {
            customerSelect$.prop('disabled', true);
            progessLoader$.show();

            $.getJSON('@Url.Action("GetDataPrivacyHistoryTable")',
                $.param({ customerId: customerSelect$.val() }),
                function (res) {
                    if (res.Success) {
                        dphTable$.html(res.Content);
                    } else {
                        dphTable$.html('');
                        var err = res.Error || 'Unknown error';
                        window.ShowToastMessage(err, "error");
                    }
                }).always(function (res) {
                progessLoader$.hide();
                customerSelect$.prop('disabled', false);
            });
        };

        //public interface
        return {
            Init: function () {
                //subscriptions
                $('#dph_customerId').change(function(e) {
                    _self.loadHistory();
                });
            },

            RefreshHistory: function() {
                _self.loadHistory();
            }
        };
    })();
</script>