@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.TranslationGridModel

<div class="row-fluid">
    <div class="span100">
        <table class="table table-striped table-bordered table-hover table-cases" id="tblTextTranslation">
            <thead>
                <tr>
                    <th style="width:30%;">
                        @Translation.Get("Text", Enums.TranslationSource.TextTranslation)
                    </th>
                    <th>
                        @Translation.Get("Skapad datum", Enums.TranslationSource.TextTranslation)
                    </th>
                    <th>
                        @Translation.Get("Skapad av", Enums.TranslationSource.TextTranslation)
                    </th>
                    <th>
                        @Translation.Get("Senast ändrad datum", Enums.TranslationSource.TextTranslation)
                    </th>
                    <th>
                        @Translation.Get("Ändrad av", Enums.TranslationSource.TextTranslation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AllTexts)
                {                                                        
                    <tr>
                        <td>
                            <a href="@Url.Action("edittranslation", "globalsetting", new { area = "admin", id = item.Id })">@Html.DisplayFor(modelItem => item.TextToTranslate)</a>
                        </td>
                        <td>
                            @item.CreatedDate.ToShortDateString()
                        </td>
                        <td>
                            @item.CreatedByFirstName  @item.CreatedByLastName
                        </td>
                        <td>
                            @if (item.ChangedDate != null)
                            {
                                @item.ChangedDate.Value.ToShortDateString()
                            }    
                        </td>
                        <td>
                            @item.ChangedByFirstName  @item.ChangedByLastName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function DoSearch() {
        var textTypeId = $("#TextTypeId").val();
        var searchText = $("#SearchTextTr").val();
        var searchOption = $("#SearchId").val();
        var list = $('#translationList');

        list.html('');
        if (textTypeId != '') {
            $.get('/GlobalSetting/SearchText?textTypeId=' + textTypeId +
                                            '&searchValue=' + searchText +
                                            '&searchOption=' + searchOption, function (result) {
                list.html($(result).html());
            });
        }
    }
</script>