@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.GlobalSettingWatchDateViewModel
@if (TempData["Error"] != null)
{
    <div class="alert alert-error">@Translation.Get("Bevakningsdatum", Enums.TranslationSource.TextTranslation)
        @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
    </div>    
}
<div class="content" id="watchdate">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-3">@Translation.Get("bevakningsdatum", Enums.TranslationSource.TextTranslation)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    <div class="row">
                        <div class="span8">
                            <table class="table table-striped table-bordered table-hover" id="tblWatchDate">
                                <thead>
                                    <tr>
                                        <th colspan="5">
                                            @Translation.Get("Kalender", Enums.TranslationSource.TextTranslation)
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tr>
                                    <td>
                                        @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td >
                                        @Html.LabelFor(model => model.WatchDateCalendar.Id, Model.WatchDateCalendar.Name)
                                        <input type="hidden" id="watchdatecalendarId" value="@Model.WatchDateCalendar.Id" />
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditWatchDateCalendar", new { id = Model.WatchDateCalendar.Id })" class="btn btn-success">@Translation.Get("Ändra", Enums.TranslationSource.TextTranslation)</a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("År", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td colspan="3">
                                        @Html.DropDownListFor(model => model.Year, Model.YearList, "", new { style = "width: auto;", year = "year", onchange = "changeYear(this.options[this.selectedIndex].value);" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("bevakningsdatum", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.WatchDateCalendarValue.WatchDate, "DatePicker", new { id = "watchdatedate" }) 
                                        <input type="hidden" id="watchdatedate" value="" />
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                         @Translation.Get("bevakningsdatum", Enums.TranslationSource.TextTranslation) @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.WatchDateValueName, new { maxlength = "50", style = "width: 200px;" })
                                        @Html.HiddenFor(model => model.WatchDateCalendar.Id)
                                    </td>
                                    <td>
                                        <input class="btn btn-success" type="button" value="@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)" id="AddRow" 
                                            onclick="addWDCVRow()" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                            <input type="hidden" id="" value="" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Datum", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Translation.Get("bevakningsdatum", Enums.TranslationSource.TextTranslation) @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>


                                @for (var i = 0; i < Model.WatchDateCalendarValuesForList.Count; i++)
                                        {          
                                        <tr>
                                            @if (Model.WatchDateCalendarValuesForList != null)
                                            {
                                                <td>
                                                    @Html.EditorFor(model => model.WatchDateCalendarValuesForList[i].WatchDate, "DatePicker", new { id = "watchdatecalendarforlist_" + i + "_WatchDate"})
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.WatchDateCalendarValuesForList[i].WatchDateValueName, new { style = "width: 200px;" })
                                                </td>
                                                 <td>
                                                    <input class="btn btn-success" type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)"
                                                onclick="saveWDCVRow(@Model.WatchDateCalendarValuesForList[i].Id, @i)" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                                    <input type="hidden" id="saveId" value="@Model.WatchDateCalendarValuesForList[i].Id" />
                                                </td>
                                                <td>
                                                    <input class="btn btn-danger" type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)"
                                                onclick="deleteWDCVRow(@Model.WatchDateCalendarValuesForList[i].Id)" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                                    <input type="hidden" id="deleteId" value="@Model.WatchDateCalendarValuesForList[i].Id" />
                                                </td>
                                            }
                                        </tr>                                           
                                        }








                                @*@foreach (var item in Model.WatchDateCalendarValues)
                                {                    
                                    <tr>
                                        <td>
                                            @item.WatchDate.ToShortDateString()
                                        </td>
                                        <td>
                                            <a href="@Url.Action("editwatchdatecalendarvalue", "globalsetting", new { id = item.Id })">@item.WatchDateValueName</a>
                                          
                                        </td>
                                        <td>
                                            <input class="btn btn-danger" type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)"
                                                onclick="deleteWDCVRow(@item.Id)" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                                    <input type="hidden" id="deleteHolidayId" value="@item.Id" />
                                        </td>
                                    </tr>
                                }*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //$("input:text:visible:first").focus();
    //$("#WatchDateCalendarValue_WatchDate").datepicker();

    $(function () {
        //$("#tblWatchDateCalendar").fixheadertable();
        //watchDateList($('#WatchDateCalendarValue_WatchDateCalendar_Id').val());
    });

    function submitForm() {
        $("#target").submit();
    }

    function changeYear(year) {
        var watchdatecalendarId = $("#watchdatecalendarId").val();
        var list = $("#watchdate");
        list.html('');
        if (year != '') {
            $.get('/globalsetting/ChangeYearWatchDate/' + '?year=' + year + '&watchdatecalendarId=' + watchdatecalendarId, function (result) {
                list.html(result);
            });
        }
    }

    function addWDCVRow() {
        var list = $("#watchdate");
        $.post('/globalsetting/AddRowToWatchDateCalendarValue/' + '?watchdatecalendarId=' + $("#watchdatecalendarId").val() + '&watchdate=' + $("#WatchDateCalendarValue_WatchDate").val() + '&watchdatevaluenname=' + $("#WatchDateValueName").val(), function (result) {
            
            location.reload();
        });

        return false;
    }

    function saveWDCVRow(id, index) {
        
        var list = $("#watchdate");
        
        $.post('/globalsetting/SaveRowToWatchDateCalendarValue/' + id + '?watchdatecalendarId=' + $("#watchdatecalendarId").val() + '&watchdate=' + $("#WatchDateCalendarValuesForList_" + index + "__WatchDate").val() + '&watchdatevaluenname=' + $("#WatchDateCalendarValuesForList_" + index + "__WatchDateValueName").val(), function (result) {
            
            location.reload();
        });

        //return false;
    }

    function deleteWDCVRow(id) {
        var list = $("#watchdate");
        $.post('/globalsetting/DeleteWatchDateCalendarValue/' + id, function(result) {
            //list.html(result);
            location.reload();
        });
    }
</script>
