
@using System.Globalization
@using DH.Helpdesk.Common.Constants
@using DH.Helpdesk.Web.Areas.Admin.Models
@model FileUploadExtensionsModel

@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("EditFileExtensions", "globalsetting", new { texttypeid = 0, compareMethod = 1 }, FormMethod.Post, new { id = "target" }))
{

    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "EditFileExtension", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", new { texttypeid = 0, compareMethod = 1 }, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#fragment-4">@Translation.Get("Giltiga filändelser vid uppladdning av filer", Enums.TranslationSource.TextTranslation)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-4">
                    <div class="container">

                        <table class="tableform">
                            <tbody>
                                <tr>
                                    <td class="span4">@Translation.GetCoreTextTranslation("Begränsa filändelser vid uppladdning av filer")</td>
                                    <td>@Html.CheckBoxFor(model => model.UseFileExtensionWhiteList, new { @class = "switchcheckbox" })</td>
                                </tr>
                                <tr id="rowResetFileExtensions" style="@(Model.UseFileExtensionWhiteList ? "" : "display: none;")">
                                    <td>@Translation.Get("Återställ standardvärden för filändelser", Enums.TranslationSource.TextTranslation)</td>
                                    <td>
                                        <a href="" id="btnResetDefaultWhiteList" class="btn deleteDialog" buttonTypes="YesNo" deleteDialogText="@Translation.Get("Detta kommer att återställa standardlistan på giltiga filändelser för systemet. Vill du fortsätta?", Enums.TranslationSource.TextTranslation)">@Translation.Get("Återställ", Enums.TranslationSource.TextTranslation)</a>
                                        <input type="hidden" id="DeleteDialogYesButtonText" value="@Translation.Get("Ja", Enums.TranslationSource.TextTranslation)"/>
                                        <input type="hidden" id="DeleteDialogNoButtonText" value="@Translation.Get("Nej", Enums.TranslationSource.TextTranslation)"/>
                                        <input type="hidden" id="deleteDialogForm" value=""/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-bordered table-hover" id="tblFileExtensions" style="@(Model.UseFileExtensionWhiteList ? "" : "display: none;")">
                            <thead>
                                <tr>
                                    <th>
                                        @Translation.Get("Giltiga filändelser vid uppladdning av filer", Enums.TranslationSource.TextTranslation)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            @Html.TextAreaFor(model => model.FileExtensions, new { style = "width:600px; height:300px;", maxlength = "5000", required="true" })
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                        
                        

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        $(function () {

            var validator = $("#target").validate({
                rules: {
                    "FileExtensions": {
                        required: true
                    }
                },
                messages: {
                    "FileExtensions": {
                        required: "@Translation.GetForJS("Du måste ange giltiga filändelser")"
                    }
                },
                submitHandler: function (form, ev) {
                    if (ev.target.id != 'deleteDialogForm')
                        form.submit();
                }
            });

            $('#UseFileExtensionWhiteList').on('switchChange.bootstrapSwitch', function (e, data) {
                var show = data;
                if (show) {
                    $('#tblFileExtensions').show();
                    $('#rowResetFileExtensions').show();
                }
                else {
                    $('#tblFileExtensions').hide();
                    $('#rowResetFileExtensions').hide();
                }
            });
            $('#deleteDialogForm').submit(function (event) {
                $.ajax({
                    url: '/admin/globalsetting/GetSystemDefaultWhiteList',
                    dataType: 'json', 
                    success: function (data) {

                        var str = data.join('\n');
                        $('#FileExtensions').val(str);
                        validator.form();
                    }
                });
                
                event.preventDefault();
            })
        });
        </script>

}

