@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.GlobalSettingTextTranslationViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("edittranslation", "globalsetting", new { id = Model.Text.Id, texttypeid = Model.TextType.Id, textSearch = Model.SearchOption.TextSearch, compareMethod = Model.SearchOption.CompareMethod }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "edittranslation", new { textId = Model.Text.Id, texttypeid = Model.TextType.Id, textSearch = Model.SearchOption.TextSearch, compareMethod = Model.SearchOption.CompareMethod }, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                @if (Model.TextType.Id != 0)
                {
                   <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "delete",
                        new { id = Model.Text.Id, texttypeid = Model.TextType.Id, textSearch = Model.SearchOption.TextSearch,  
                                          compareMethod = Model.SearchOption.CompareMethod }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post", Enums.TranslationSource.TextTranslation) + "?" })</li>
                }
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), 
                                    "index", 
                                    new { texttypeid = Model.Text.Type, 
                                          textSearch = Model.SearchOption.TextSearch,  
                                          compareMethod = Model.SearchOption.CompareMethod  
                                        },
                                    new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    <input type="hidden" id="textId" name="textId" value="@Model.Text.Id" />
    <div id="globalsetting_container">
            <span id="labelList">
                @Html.Partial("_Translation", Model)
            </span>
    </div>
}
