@using System.Linq;
@model DH.Helpdesk.Web.Areas.Admin.Models.GlobalSettingIndexViewModel
@{
    ViewBag.Title = "";
 }

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav" id="myButton">
            <li id="menu1" style="display: block">
                @Html.ActionLink(Translation.GetCoreTextTranslation("Ändra") + " " + Translation.GetCoreTextTranslation("inställningar"), "change", null, new { @class = "btn" })
            </li>
            <li id="menu2" style="display: none">
                @Html.ActionLink(Translation.GetCoreTextTranslation("Lägg till") + " " + Translation.GetCoreTextTranslation("Kalender helgdagar"), "newholiday", new { newholiday = 1 }, new { @class = "btn" })
            </li>
            <li id="menu3" style="display: none">
                @Html.ActionLink(Translation.GetCoreTextTranslation("Lägg till") + " " + Translation.GetCoreTextTranslation("Kalender bevakningsdatum"), "newwatchdate", new { newwdc = 1 }, new { @class = "btn" })
            </li>
            <li id="menu4" style="display: none">
                @Html.ActionLink(Translation.GetCoreTextTranslation("Lägg till") + " " + Translation.GetCoreTextTranslation("Översättningar"), "newtranslation", new { newtext = 1, texttypeid = Model.TextType.Id }, new { @class = "btn" })
            </li>
            <li id="menu5" style="display: none"></li>
            <li id="menu6" style="display: none">
                <span id="tooltip-button-wrapper" data-title=''>
                    <button class="btn" id="privacyRunBtn">@Translation.GetCoreTextTranslation("Kör")</button>
                    <i id="inProcessLoader" class="gif-loader" style="display: none">&nbsp;</i>
                </span>
            </li>
            <li id="menu8" style="display: none">
                <span id="tooltip-button-wrapper" data-title=''>
                </span>
            </li>
            <li id="menu9" style="display: none">
                @Html.ActionLink(Translation.GetCoreTextTranslation("Ändra") + " " + Translation.GetCoreTextTranslation("filändelser"), "EditFileExtensions", new { }, new { @class = "btn" })
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active" id="tab1" onclick="toggleMenuItems(1)"><a href="#fragment-1">@Translation.GetCoreTextTranslation("Allmänt")</a></li>
            <li id="tab2" onclick="toggleMenuItems(2)"><a href="#fragment-2">@Translation.GetCoreTextTranslation("Kalender helgdagar")</a></li>
            <li id="tab3" onclick="toggleMenuItems(3)"><a href="#fragment-3">@Translation.GetCoreTextTranslation("Kalender bevakningsdatum")</a></li>
            <li id="tab4" onclick="toggleMenuItems(4)"><a href="#fragment-4">@Translation.GetCoreTextTranslation("Översättningar")</a></li>
            <li id="tab5" onclick="toggleMenuItems(5)"><a href="#fragment-5">@Translation.GetCoreTextTranslation("Självservice")</a></li>
            @if (Model.HasDataPrivacyAccess)
            {
                <li id="tab6" onclick="toggleMenuItems(6)">
                    <a href="#fragment-6">@Translation.GetCoreTextTranslation("Dataintegritet")</a>
                </li>

                <li id="tab7" onclick="toggleMenuItems(7)">
                    <a href="#fragment-7">@Translation.GetCoreTextTranslation("Dataintegritet") &ndash; @Translation.GetCoreTextTranslation("Historik")</a>
                </li>
            }
            <li id="tab6" onclick="toggleMenuItems(8)">
                <a href="#fragment-8">@Translation.GetCoreTextTranslation("Filåtkomst")</a>
            </li>
            <li id="tab5" onclick="toggleMenuItems(9)"><a href="#fragment-9">@(Translation.GetCoreTextTranslation("filändelser").First().ToString().ToUpper() + Translation.GetCoreTextTranslation("filändelser").Substring(1))</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <table class="table table-striped table-bordered table-hover" id="tblChange">
                    <thead>
                        <tr>
                            <th>
                                @Translation.GetCoreTextTranslation("Applikationsnamn")
                            </th>
                            <th>
                                @Translation.GetCoreTextTranslation("Standard") @Translation.GetCoreTextTranslation("Språk")
                            </th>
                            <th>
                                @Translation.GetCoreTextTranslation("Version")
                            </th>
                            <th>
                                @Translation.GetCoreTextTranslation("Tid")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GlobalSettings)
    {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DefaultLanguage.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HelpdeskDBVersion)
                                </td>
                                <td>
                                    @DateTime.Now.ToLongTimeString()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
                <table class="table table-striped table-bordered table-hover" id="tblHoliday">
                    <thead>
                        <tr>
                            <th>
                                @Translation.GetCoreTextTranslation("Kalender")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HolidayHeaders)
    {
                            <tr>
                                <td>
                                    <a href="@Url.Action("editholiday", "globalsetting", new { id = item.Value })">@item.Text</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<div class="container">
                 <div class="row">
                     <div class="span8">
                         <table class="tableform" id="tblHoliday">
                             <tr>
                                 <td>
                                     @Translation.GetCoreTextTranslation("Kalender", Enums.TranslationSource.TextTranslation)
                                 </td>
                                 <td>
                                     @Html.DropDownListFor(model => model.HolidayHeader.Id, Model.HolidayHeaders, new { style = "width: auto;", id = "HolidayHeaderId", onchange = "changeHoliday(this.options[this.selectedIndex].value);" })
                                 </td>
                             </tr>
                         </table>
                     </div>
                 </div>
             </div>
            <div class="container" id="holidays">

                     @Html.Partial("_Holidays", Model)

             </div>*@

            </div>
            <div class="tab-pane tab-pane-border" id="fragment-3">
                <table class="table table-striped table-bordered table-hover" id="tblWatchDateCalendarValue">
                    <thead>
                        <tr>
                            <th>
                                @Translation.GetCoreTextTranslation("Kalender bevakningsdatum")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WatchDateCalendars)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("editwatchdate", "globalsetting", new { id = item.Value})">@item.Text</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane tab-pane-border" id="fragment-4">

                <div class="container">
                    <div class="row">
                        <div>
                            <table class="tableform" id="tblText">
                                <tr>
                                    <td style="width:50px">
                                        &nbsp;&nbsp;@Translation.GetCoreTextTranslation("Typ")
                                    </td>
                                    <td style="width:200px">
                                        @Html.DropDownListFor(model => model.TextType.Id, Model.TextTypes, new { style = "width: auto;", id = "TextTypeId", onchange = "changeTextType(this.options[this.selectedIndex].value);" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.SearchTextTr, new { maxlength = "50" })
                                        @Html.DropDownListFor(model => model.SearchConditions, Model.SearchConditions, new { style = "width: auto;", id = "SearchId", onchange = "" })
                                        <input type="button" id="searchQueryBtn" onclick="DoSearch();" value="@Translation.GetCoreTextTranslation("Sök")" class="btn" onclick="submit();" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="translationList">
                        @Html.Partial("_TranslationsList", Model.GridModel)
                    </div>
                </div>
            </div>

            <div class="tab-pane tab-pane-border" id="fragment-5">
                <div id="selfServiceError" class="alert alert-error alert-dismissable" style="display: none"></div>
                <table class="tableform">
                    <tbody>
                        <tr>
                            <td class="span4">@Translation.GetCoreTextTranslation("Visa alla kunder på Ärendeöversikten")</td>
                            <td>@Html.CheckBox("multiCustomersSearch", Model.GlobalSettings.FirstOrDefault().MultiCustomersSearch == 1, new { @class = "switchcheckbox" })</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @if (Model.HasDataPrivacyAccess)
            {
                <!-- Data Privacy  -->
                <div class="tab-pane tab-pane-border" id="fragment-6">
                    @Html.Action("DataPrivacy")
                </div>

                <!-- Data Privacy History -->
                <div class="tab-pane tab-pane-border" id="fragment-7">
                    @Html.Action("DataPrivacyHistory")
                </div>
            }

            <!-- Case Files View Log -->
            <div class="tab-pane tab-pane-border" id="fragment-8">
                @Html.Action("FilesViewLog")
            </div>

            <!-- File extensions -->
            <div class="tab-pane tab-pane-border" id="fragment-9">
                  <table class="tableform">
                    <tbody>
                        <tr>
                            <td class="span4">@Translation.Get("Begränsa filändelser vid uppladdning av filer", Enums.TranslationSource.TextTranslation)</td>
                            <td>@Html.CheckBox("limitFileUploadExtensions", Model.LimitFileUploadExtensions, new { @class = "switchcheckbox", disabled = "true" })</td>
                        </tr>
                    </tbody>
                </table>
                @if (Model.LimitFileUploadExtensions)
                {
                <table class="table table-striped table-bordered table-hover" id="tblFileExtensions">
                    <thead>
                        <tr>
                            <th>
                                @Translation.Get("Giltiga filändelser vid uppladdning av filer", Enums.TranslationSource.TextTranslation)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FileUploadWhiteList)
                        {
                            <tr>
                                <td>
                                    @item
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
            </div>



            <input type="hidden" name="activeTab" id="activeTab" value="@SessionFacade.ActiveTab" />
        </div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {

            window.dataPrivacyHistory.Init();
            
            //handle tabs switching 
            $('#myTab a').on('shown.bs.tab', function (event) {
                //var prevTab = $(event.relatedTarget);  
                var activeTab = $(event.target).parent();

                if (activeTab[0].id === 'tab7') {
                    window.dataPrivacyHistory.RefreshHistory();
                }
            });

            $('#SearchId').val(@ViewBag.SelectedSearchCondition);

            $("#multiCustomersSearch").on('switchChange.bootstrapSwitch', function () {

                $("#selfServiceError").text('').hide();

                var res = $(this).is(':checked');
                var data = {
                    val: res ? 'true' : 'false'
                };

                $.post('@Url.Action("UpdateMultiCustomersSearch", "GlobalSetting", new {Area = "Admin"})',
                    data,
                    function (response) {
                        if (!response.Success && response.ErrorMessage) {
                            $("#selfServiceError").text(response.ErrorMessage).show();
                        }
                    });
            });

        }); //end of jquery load

        var texttypeId = $("#TextTypeId").val();

        var activeTab = $('#activeTab').val();
        if (activeTab)
            $('#myTab a[href="' + activeTab + '"]').click(); //.tab('show')


        function changeTextType(id) {
            var list = $('#translationList');
            list.html('');
            if (id != '') {
                $.get('/GlobalSetting/ChangeTextType/' + id,
                    function (result) {
                        list.html($(result).html());
                    });
            }
        }

        function changeHoliday(id) {
            var list = $('#holidays');
            list.html('');
            if (id != '') {
                $.get('/GlobalSetting/ChangeHoliday/' + id,
                    function (result) {
                        list.html(result);
                    });
            }
        }

        function getCurTextType() {
            return $("#TextTypeId").val();
        }

        function toggleMenuItems(number) {
            $('ul.secnav > li').hide();
            var menuId = '#menu' + number;
            $(menuId).show();
        }

    </script>
}