@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.GlobalSettingWatchDateViewModel
@{
    ViewBag.Title = "";
    string newwdc = Request.QueryString["newwdc"];         
}
@using (Html.BeginForm("newwatchdate", "globalsetting", new { id = Model.WatchDateCalendar.Id, texttypeid = 0, textSearch = string.Empty, compareMethod = 1 }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                @if (newwdc == "1")
                {
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "newwatchdate", new { texttypeid = 0, compareMethod = 1}, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                }
                else
                {
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "newwatchdate", new { id = Model.WatchDateCalendar.Id, compareMethod = 1 }, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                }
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", new { texttypeid = 0, compareMethod = 1}, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    @Html.Partial("_WatchDateCalendar", Model)

}
@section Scripts {
    <script type="text/javascript">
        //function submitForm() {
        //    $("#target").submit();
        //}

        $("input:text:visible:first").focus();

        $(function () {

            var validator = $("#target").validate({
                rules: {
                    "WatchDateCalendar.Name": {
                        required: true
                    }
                },
                messages: {
                    "WatchDateCalendar.Name": {
                        required: "@Translation.GetForJS("Du måste ange en text", Enums.TranslationSource.TextTranslation)"
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });

</script>  
    }
