@using System.Configuration;
@using DH.Helpdesk.Common.Enums;
@model DH.Helpdesk.SelfService.Models.Documents.DocumentsModel

@{    
    ViewBag.Title = "";
    var appType = ConfigurationManager.AppSettings[AppSettingsKey.CurrentApplicationType].ToString().ToLower();    
}

<div class="container-fluid dh-container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                @if (appType == ApplicationTypes.SelfService)
                {
                    @Translation.Get("Documents", Enums.TranslationSource.TextTranslation)
                }
                else
                {
                    @Translation.Get("HR Documents", Enums.TranslationSource.TextTranslation)
                }                                    
            </a>
        </li>
    </ul>
    <div class="content">
        <div class="tab-pane active" id="home">
            <div class="container-fluid dh-container">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-striped table-bordered table-hover linkcolor">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Translation.Get("Name", Enums.TranslationSource.TextTranslation)
                                    </th>
                                    <th>
                                        @Translation.Get("Description", Enums.TranslationSource.TextTranslation)                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doc in Model.Documents)
                                {
                                                    
                                    var downloadUrlPath = "#";
                                    if (!string.IsNullOrEmpty(doc.FileName))
                                    {
                                        downloadUrlPath = "~/Documents/DocumentFile?documentId=" + doc.Id;
                                    }                                             
                                    <tr>
                                        <td style="width:2%">                                                                                        
                                            <a href="@Url.Content(downloadUrlPath)">
                                                <span class="glyphicon glyphicon-file"></span> 
                                            </a>                                                                                            
                                        </td>
                                        <td style="width:23%">
                                            <a href="@Url.Content(downloadUrlPath)" >
                                                @doc.Name   
                                            </a>                                             
                                        </td>
                                        <td style="width:75%">
                                            <a href="@Url.Content(downloadUrlPath)" >
                                                @doc.Description
                                            </a>                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
