@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Inventory.ConfigurableFieldModel<int?>
@if (!Model.Show)
{
    return;
}           

@{
    if (!ViewData.ContainsKey("Source"))
    {
        throw new ArgumentNullException("Source", "\"ComputerId\" ViewData parameter must be specified.");
    }

    var source = (SelectList)ViewData["Source"];

    var attributes = new Dictionary<string, object>();

    if (ViewData.ContainsKey("Id"))
    {
        attributes.Add("Id", ViewData["Id"]);
    }
}

<tr>
    <td class="span3">
        @Translation.Get(Model.Caption)
    </td>
    <td class="span9">
        @if (!Model.IsReadOnly)
        {
            @Html.DropDownListFor(m => m.Value, source, string.Empty, attributes)
            @Html.ValidationMessageFor(m => m.Value)
        }
        else
        {
            if (!Model.Value.HasValue)
            {
                @Html.TextBoxFor(m => m.Value, new { @readonly = true })
            }
            else
            {
                @Html.TextBoxFor(m => source.SingleOrDefault(x => x.Value == Model.Value.ToString()).Text, new { @readonly = true })
            }
        }
    </td>
</tr>
