
@model DH.Helpdesk.Web.Models.Changes.SettingsEdit.SettingsModel
           
<table class="table table-striped table-bordered table-hover table-cases">
    <thead>
        <tr>
            <th>@Translation.Get("Fält", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Visa", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Lista", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Visa på självservice", Enums.TranslationSource.TextTranslation)</th>
            <th>
                @Translation.Get("Rubrik", Enums.TranslationSource.TextTranslation)<br />
                @Html.DropDownListFor(m => m.LanguageId, Model.Languages, new { id = "settings_language_dropdown", @style = "max-width:99%;" })
            </th>
            <th>@Translation.Get("Obligatorisk", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Standardvärde", Enums.TranslationSource.TextTranslation)</th>
            <th>@Translation.Get("Bokmärke", Enums.TranslationSource.TextTranslation)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Beställare", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.Id, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.Name, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.Phone, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.CellPhone, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.Email, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.Department, "Settings/StandardSetting")
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Prioritisation, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Title, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Status, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.System, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Object, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Inventory, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.WorkingGroup, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Administrator, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.FinishingDate, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Rss, "Settings/UnrequiredSetting")
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Registrering", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Name, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Phone, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Email, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Company, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Owner, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.AffectedProcesses, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.AffectedDepartments, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Description, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.BusinessBenefits, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Consequence, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Impact, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.DesiredDate, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Verified, "Settings/UnrequiredSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.AttachedFiles, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.Approval, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Registration.RejectExplanation, "Settings/StandardSetting")
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Analys", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Category, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Priority, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Responsible, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Solution, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Cost, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.YearlyCost, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.EstimatedTimeInHours, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Risk, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.StartDate, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.FinishDate, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.HasImplementationPlan, "Settings/UnrequiredSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.HasRecoveryPlan, "Settings/UnrequiredSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.AttachedFiles, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Logs, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.Approval, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Analyze.RejectExplanation, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Implementation", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.ImplementationStatus, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.RealStartDate, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.BuildImplemented, "Settings/UnrequiredSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.ImplementationPlanUsed, "Settings/UnrequiredSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.Deviation, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.RecoveryPlanUsed, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.FinishingDate, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.AttachedFiles, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.Logs, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Implementation.ImplementationReady, "Settings/StandardSetting")
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Utvärdering", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Evaluation.ChangeEvaluation, "Settings/DefaultSupportSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Evaluation.AttachedFiles, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Evaluation.Logs, "Settings/StandardSetting")
        </tr>
        <tr>
            @Html.EditorFor(m => m.Evaluation.EvaluationReady, "Settings/StandardSetting")
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Log", Enums.TranslationSource.TextTranslation)</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Log.Logs, "Settings/StandardSetting")
        </tr>
    </tbody>
</table>