
@model DH.Helpdesk.Web.Models.Changes.SettingsEdit.FieldSettingModel

<td>@Html.LabelFor(m => m)</td>
<td>@Html.CheckBoxFor(m => m.ShowInDetails, new { @class = "switchcheckbox" })</td>
<td>@Html.CheckBoxFor(m => m.ShowInChanges, new { @class = "switchcheckbox" })</td>
<td>@Html.CheckBoxFor(m => m.ShowInSelfService, new { @class = "switchcheckbox" })</td>
<td>@Html.TextBoxFor(m => m.Caption)</td>
<td>@Html.CheckBoxFor(m => m.Required, new { @class = "switchcheckbox" })</td>
<td></td>
<td>@Html.TextBoxFor(m => m.Bookmark)</td>