@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    Layout = null;
    Model.Language = "pl";
}
<!DOCTYPE html>
<html>
<body>
    <div>
        <p style="text-align: center; font-family: Verdana; font-size: 11px; line-height:16px;"><strong>UMOWA O PRACĘ</strong></p>
        <p style="text-align: center; font-family: Verdana; font-size: 11px; line-height:16px;">
            Zawarta w dniu 
             @if(string.IsNullOrEmpty(Model.GetAnswer("ContractPolishConcludedOn")))
             {
                 <text>
                 ....................
                 </text>
             }
             else
             {
                 @Model.GetAnswer("ContractPolishConcludedOn")
            
             }
            pomiędzy firmą
            <br />
            <strong>@Model.Company.footerName</strong><br />
            z siedzibą w 
            @if(Model.Company.Searchkey == "OT")
            {
               <text>
                  Warszawie, Al. Krakowska 61, 02-183 Warszawa,
               </text>
            }
            else
            {
               <text>
                 Jankach, Pl. Szwedzki 3; 05–090 Raszyn,
               </text>
            }
             reprezentowaną przez
            <br />
            <strong>@Model.Company.CountryEmployer</strong><br />
        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 11px; line-height:16px;">
            a
        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 11px; line-height:16px;">
            @if(Model.GetAnswer("Prefix") == "Mr")
            { 
                <text>
                Panem:  
                </text>
            }
            else
            {
                <text>
                Panią: 
                </text>
            }
            <strong>@Model.GetAnswer("EmployeeFirstName") @Model.GetAnswer("EmployeeLastName")</strong><br />
            @if(Model.GetAnswer("Prefix") == "Mr")
            { 
                <text>
                zamieszkałym: 
                </text>
            }
            else
            {
                <text>
                zamieszkałą:
                </text>
            }

            @if(string.IsNullOrEmpty(Model.GetAnswer("HouseNumber")))
            {                
                <strong>@Model.GetAnswer("Street") @Model.GetAnswer("StreetNumber")</strong><br />              
            }
            else
            {                
                <strong>@Model.GetAnswer("Street") @Model.GetAnswer("StreetNumber")/@Model.GetAnswer("HouseNumber")</strong><br />                
            }
            <strong>@Model.GetAnswer("PostCode") @Model.GetAnswer("City")</strong><br />

            @if(Model.GetAnswer("Prefix") == "Mr")
            { 
                <text>
                zwanym
                </text>
            }
            else
            {
                <text>
                zwaną
                </text>
            }
            dalej <strong>Pracownikiem.</strong>
        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 10px; line-height:16px;">
            <br />
        </p>
        <p style="text-align: justify; font-family: Verdana; font-size: 10px; line-height:16px;">
            <strong>@Model.Company.footerName</strong> zatrudni <strong>Pracownika</strong> na

                 @switch(Model.GetAnswer("ContractType"))
                 {
                     case "Trial period": 
                     <text>
                     <strong>okres próbny</strong>
                     </text>
                         break;

                     case "Limited period": 
                     <text>
                     <strong>czas określony</strong>
                     </text>
                         break;

                     case "Permanent period": 
                     <text>
                     <strong>czas nieokreślony</strong>
                     </text>
                         break;

                     case "Replacement contract":
                     <text>
                     czas usprawiedliwionej nieobecności w pracy Pracownika <strong>@Model.GetAnswer("PersonReplaced")</strong>
                     </text>
                         break;
                 }<!-- end of switch-->
            od dnia <strong>@Model.GetAnswer("EffectiveDate")</strong>
            @if(Model.GetAnswer("ContractType") != "Permanent period")
            {
                <text>
                do dnia <strong>@Model.GetAnswer("EndDate") </strong>
                </text>
            }
            na stanowisku: <strong>@Model.GetAnswer("PolishJobTitle")</strong>.<br />
            @if(string.IsNullOrEmpty(Model.GetAnswer("AdditionalPlaceOfWork")))
            {
                <text>
                Miejsce pracy: <strong>@Model.Translate(Model.GetOptionText("Unit", Model.GetAnswer("Unit")))</strong>.<br />
                </text>
            }
            else
            {
                <text>
                Miejsce pracy: <strong>@Model.Translate(Model.GetOptionText("Unit", Model.GetAnswer("Unit")))</strong> i <strong>@Model.Translate(Model.GetAnswer("AdditionalPlaceOfWork"))</strong>.<br />
                </text>
            }

        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 10px; line-height:16px;">
            <br />
        </p>
        <p style="text-align: justify; font-family: Verdana; font-size: 10px; line-height:16px;">
            Wymiar czasu pracy ustala się na <strong>@Model.GetTranslatedAnswer("Extent")</strong>.
            @if(Model.GetAnswer("Extent") == "Part time")
            {
                <text>
                Wymiar etatu ustala się na <strong>@Model.GetAnswer("Workload")%</strong>.<br />
                Pracownik obowiązany jest zgłosić się do pracy w dniu: <strong>@Model.GetAnswer("FirstDayAtWork")</strong>.
                </text>
            }
            else
            {
                <text>
                <br />
                Pracownik obowiązany jest zgłosić się do pracy w dniu: <strong>@Model.GetAnswer("FirstDayAtWork")</strong>.
                </text>
            }

        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 10px; line-height:16px;">
            <br />
        </p>
        <p style="text-align: justify; font-family: Verdana; font-size: 10px; line-height:16px;">
            @switch(Model.GetAnswer("MonthlyHourly"))
            {
                case "monthly": 
                <text>
                W czasie trwania umowy o pracę Pracownik będzie otrzymywał wynagrodzenie zasadnicze wg stawki <strong>@Model.GetTranslatedAnswer("MonthlyHourly")</strong> wynoszące: <strong>@Model.GetTranslatedAnswer("BasicPay") PLN brutto</strong><br />
                @if(string.IsNullOrEmpty(Model.GetAnswer("BasicPayInWordsPolish")))
                {

                    @*if(Model.Contract.Company.Key == "OI")
                    {
                    <text>
                    (słownie: ...............................................................................................złotych).<br />
                       </text>
                    }
                    else
                    {*@
                    <text>
                    (słownie: ..................................................................................................................złotych).<br />
                    </text>
                    @*}*@

                }
                else
                {
                    <text>
                    (słownie: @Model.GetAnswer("BasicPayInWordsPolish")).<br />
                    </text>
            
                }
                <br />
                W sprawach nieuregulowanych niniejszą umową stosowane będą odpowiednie przepisy Kodeksu Pracy.
                <br />
                <br />
                </text>
                break;
                case "hourly": 
                <text>
                W czasie trwania umowy o pracę Pracownik będzie otrzymywał wynagrodzenie zasadnicze wg stawki <strong>@Model.GetTranslatedAnswer("MonthlyHourly")</strong> wynoszące: <strong>@Model.GetTranslatedAnswer("BasicPay") PLN brutto za godzinę</strong><br />
                @if(string.IsNullOrEmpty(Model.GetAnswer("BasicPayInWordsPolish")))
                {

                    @*if(Model.Contract.Company.Key == "OI")
                    {
                    <text>
                    (słownie: ...............................................................................................złotych).<br />
                       </text>
                    }
                    else
                    {*@
                    <text>
                    (słownie: ..................................................................................................................złotych).<br />
                       </text>
                    @*}*@

                }
                else
                {
                    <text>
                    (słownie: @Model.GetAnswer("BasicPayInWordsPolish")).<br />
                    </text>
            
                }

                <br />
                W sprawach nieuregulowanych niniejszą umową stosowane będą odpowiednie przepisy Kodeksu Pracy.
                <br />
                <br />
                </text>
                break;
            }<!-- end of switch-->
        </p>

       @* <p style="font-family: Verdana; font-size: 10px; line-height:16px;">

                        @functions{
                public static bool NewDateOver(DateTime? startDate, DateTime? endDate, int months)
                {
                    if (!startDate.HasValue || !endDate.HasValue) return false;
                    DateTime a = startDate.Value.AddMonths(months);
                    int result = DateTime.Compare(endDate.Value, a);
                    return result >= 0;
                }
            }

            SG : Case : 55762  -- 12-09-2016
             @if (Model.GetAnswer("ContractType") == "Limited period"
                && NewDateOver(Model.ConvertToDateTime("EffectiveDate"), Model.ConvertToDateTime("EndDate"), 6))
            {
                <text>
                Strony zgodnie ustaliły, że okres wypowiedzenia niniejszej umowy wynosi <strong>2 tygodnie</strong>.
                <br />
                <br />
                </text>
            }
        </p>*@

        <p style="font-family: Verdana; font-size: 10px; line-height:16px;">
            @if(Model.GetAnswer("ContractType") == "Replacement contract")
            {
                <text>
                Okres wypowiedzenia umowy o pracę jest zgodny z art 33<sup style="font-size: 8px;">1</sup> KP i wynosi <strong>3 dni robocze</strong>.
                <br />
                <br />
                </text>
            }
        </p>

        <p style="text-align: justify; font-family: Verdana; font-size: 10px; line-height:16px;">
            @if(Model.GetAnswer("Extent") == "Part time")
            {
                <text>
                Dopuszczalna liczba godzin pracy ponad określony w umowie wymiar czasu pracy, których przekroczenie uprawnia Pracownika, oprócz normalnego wynagrodzenia, do dodatku do wynagrodzenia, o którym mowa w art.  <i>151<sup style="font-size: 8px;">1</sup> § 1 Kodeksu</i> pracy wynosi <strong>39 godzin</strong> tygodniowo.
                <br />
                <br />
                </text>
            }
        </p>

        <p style="text-align: justify; font-family: Verdana; font-size: 10px; line-height:16px;">
            Pracownik oświadcza, że egzemplarz niniejszej umowy otrzymał i po zapoznaniu się z jej treścią przyjmuje powyższe warunki pracy i wynagradzania. Pracownik zobowiązuje się do przestrzegania porządku i dyscypliny pracy oraz Regulaminu Pracy i Wynagrodzeń.
        </p>
     
        <endpage/>

        <newpage />
        <p style="text-align: right; font-family: Verdana; font-size: 11px;">
            <strong>@Model.GetTranslatedAnswer("Prefix") @Model.GetAnswer("EmployeeFirstName") @Model.GetAnswer("EmployeeLastName")</strong><br />
        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 10px;">
            <br />
        </p>

        <p style="text-align: center; font-family: Verdana; font-size: 10px;">
            <strong>INFORMACJA</strong><br />
        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 10px;">
            <br />
        </p>
        <p style="font-family: Verdana; font-size: 10px;">
            Na podstawie Art 29 § 3 Kodeksu Pracy firma <strong>@Model.Company.footerName</strong> informuje, że:
        </p>
        <p style="text-align: center; font-family: Verdana; font-size: 10px;">
            <br />
        </p>

        @switch (Model.GetTranslatedAnswer("WorkingTimeSchedule"))
        {
                
            case " ":
            <text>
            <p style="text-align:justify; font-family: Verdana; font-size: 10px;">
             1  . Dobowy wymiar czasu pracy wynosi <strong>8 godzin</strong>.<br />               
            </p>
            </text>
            break;
            
            case "podstawowy":
            <text>
            <p style="text-align:justify; font-family: Verdana; font-size: 10px;">
             1  . Dobowy wymiar czasu pracy wynosi <strong>8 godzin</strong>.<br />               
            </p>
            </text>
            break;

            case "równoważny":
            <text>
            <p style="text-align:justify; font-family: Verdana; font-size: 10px;">
             1  . Dobowy wymiar czasu pracy może być wydłużony <strong>do 12 godzin</strong>.<br />
            </p>
            </text>
            break;

            case "zadaniowy":
            <text>
            <p style="text-align:justify; font-family: Verdana; font-size: 10px;">
             1  . Dobowa norma czasu pracy wynosi 8 godzin na dobę. Tygodniowa norma czasu pracy wynosi przeciętnie <strong>40 godzin</strong> w przeciętnie pięciodniowym tygodniu pracy w miesięcznym okresie rozliczeniowym, w <strong>zadaniowym systemie czasu pracy</strong>.<br />
            </p>
            </text>
            break;

            case "przy dozorze urządzeń lub przy pracach polegających na częściowym pozostawaniu w pogotowiu do pracy.":
            <text>
            <p style="text-align:justify; font-family: Verdana; font-size: 10px;">
           1  .  Dobowy wymiar czasu pracy może być wydłużony <strong>do 16 godzin</strong>.<br />
            </p>
            </text>
            break;
        }

        <p style="font-family: Verdana; font-size: 10px;">
            2  . Tygodniowa norma czasu pracy nie może przekraczać przeciętnie <strong>40 godzin </strong>w przeciętnie pięciodniowym tygodniu pracy w miesięcznym okresie rozliczeniowym.<br />
            3  . Wynagrodzenie za pracę jest wypłacane raz w miesiącu, z dołu,  <strong>10 dnia następnego miesiąca</strong>.<br />
            4  . Pracownikowi przysługuje urlop wypoczynkowy w wymiarze zgodnym z Art. 154 § 1 KP., tj.:
            <br />
        </p>
        <pre style="font-family: Verdana; font-size: 10px; padding-left: 20px;">
                 1)	<strong> 20 dni </strong> - jeżeli okres zatrudnienia jest krótszy niż 10 lat.<br />
                 2)	<strong> 26 dni </strong> – jeżeli okres zatrudnienia wynosi co najmniej 10 lat.<br />
                 3)  Wymiar urlopu dla pracownika zatrudnionego w niepełnym wymiarze czasu pracy ustala się proporcjonalnie do wymiaru czasu pracy tego pracownika.<br />
                 4)	 W przypadku zatrudnienia przez niepełny rok kalendarzowy, pracownikowi przysługuje urlop w wymiarze proporcjonalnym do okresu przepracowanego w danym roku.<br />
        </pre>

        @switch(Model.GetAnswer("ContractType"))
        {
            case "Trial period": 
            <text>
            <p style="font-family: Verdana; font-size: 10px;">
                5  . Okres wypowiedzenia umowy o pracę jest zgodny z Art. 34. KP i wynosi:
                <br />
            </p>
            <p style="font-family: Verdana; font-size: 10px; padding-left: 20px;">
                1) <strong>3 dni robocze</strong> , jeżeli okres próbny nie przekracza 2 tygodni,<br />
                2) <strong>1 tydzień</strong>, jeżeli okres próbny jest dłuższy niż 2 tygodnie,<br />
                3) <strong>2 tygodnie</strong>, jeżeli okres próbny wynosi 3 miesiące.<br />
            </p>
            </text>
            break;
            
            case "Limited period": 
            <text>
             <p style="font-family: Verdana; font-size: 10px;">
                5  .  Okres wypowiedzenia umowy o pracę jest zgodny z Art. 36. § 1. KP i wynosi:<br />
            </p>
            <p style="font-family: Verdana; font-size: 10px; padding-left: 20px;">
                1) <strong>2 tygodnie</strong>, jeżeli pracownik był zatrudniony krócej niż 6 miesięcy,<br />
                2) <strong>1 miesiąc</strong>, jeżeli pracownik był zatrudniony co najmniej 6 miesięcy,<br />
                3) <strong>3 miesiące</strong>, jeżeli pracownik był zatrudniony co najmniej 3 lata.<br />
            </p>
            @* S.G : change request 10-02-2016 , Help desk case #53870 *@
            @*  <p style="font-family: Verdana; font-size: 10px;">
                5  . Okres wypowiedzenia umowy o pracę jest zgodny z Art. 33. KP i wynosi: 
                <br />
            </p>
            <p style="font-family: Verdana; font-size: 10px; padding-left: 20px;">
                    1) <strong>2 tygodnie</strong>, jeżeli umowa została zawarta na czas dłuższy niż 6 miesięcy i strony uzgodniły okres wypowiedzenia,<br />
                    2) <strong>brak okresu wypowiedzenia</strong>, jeżeli umowa została zawarta na czas krótszy niż  6  miesięcy.<br />      
            </p>*@
            </text>
            break;
            
            case "Permanent period": 
            <text>
            <p style="font-family: Verdana; font-size: 10px;">
                5  .  Okres wypowiedzenia umowy o pracę jest zgodny z Art. 36. § 1. KP i wynosi:<br />
            </p>
            <p style="font-family: Verdana; font-size: 10px; padding-left: 20px;">
                1) <strong>2 tygodnie</strong>, jeżeli pracownik był zatrudniony krócej niż 6 miesięcy,<br />
                2) <strong>1 miesiąc</strong>, jeżeli pracownik był zatrudniony co najmniej 6 miesięcy,<br />
                3) <strong>3 miesiące</strong>, jeżeli pracownik był zatrudniony co najmniej 3 lata.<br />
            </p>
            </text>
            break;
            
            case "Replacement contract": 
            <text>
            <p style="font-family: Verdana; font-size: 10px;">
                5  . Jako pracownik firmy <strong>@Model.Company.footerName</strong>nie jest @Model.GetTranslatedAnswer("Prefix")
                @if(Model.GetAnswer("Prefix") == "Mr")
                { 
                    <text>
                    objęty  
                </text>
                }
                else
                {
                    <text>
                    objęta
                </text>
                }
                żadnym układem zbiorowym pracy.<br />

            </p>
            </text>
                break;

        }<!-- end of switch-->
        <p style="font-family: Verdana; font-size: 10px;">
            @if(Model.GetAnswer("ContractType") != "Replacement contract")
            {
                <text>
                6  . Jako pracownik firmy <strong>@Model.Company.footerName</strong> nie jest @Model.GetTranslatedAnswer("Prefix")

                @if(Model.GetAnswer("Prefix") == "Mr")
                { 
                    <text>
                    objęty  
                </text>
                }
                else
                {
                    <text>
                    objęta
                </text>
                }
                żadnym układem zbiorowym pracy.<br />
                </text>
            }
            <br />
        </p>
        <p style="font-family: Verdana; font-size: 10px;">
            Potwierdzam, że 
            @if(Model.GetAnswer("Prefix") == "Mr")
            { 
                <text>
                zostałem zapoznany
                </text>
            }
            else
            {
                <text>
                zostałam zapoznana
                </text>
            }
            z powyższą informacją:
            <br />
        </p>       
    </div>
    <endpage/>
</body>
</html>
