@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "nl";
}
<!DOCTYPE html>
<html>
<body>
    <div>
        <br />
   
        <table width="100%" style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;">     
                    <table style="font-family: Verdana; font-size: 11px;" border="0">
            <tr>
               
                <td style="text-align: left;">@Model.GetDocumentAnswer("FirstName",true) @Model.GetDocumentAnswer("LastName",true)</td>
            </tr>
            <tr>
                
                <td style="text-align: left;">@Model.GetDocumentAnswer("PermanentAddressLine1",true) @Model.GetDocumentAnswer("PermanentAddressLine2") @Model.GetDocumentAnswer("PermanentAddressLine3")</td>
            </tr>
            <tr>
               <td style="text-align: left;">@Model.GetDocumentAnswer("PermanentPostalCode",true) @Model.GetDocumentAnswer("PermanentCity",true)</td>
            </tr>
        </table></td>

            </tr>
            </table>
        <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            <br />
            @CustomPdfPage.IsEmpty(Model.Department.HeadOfDepartmentCity, "City"), @string.Format(new System.Globalization.CultureInfo("nl-NL"), "{0:d MMMM yyyy}", DateTime.Now)<br />
            <br />

            Betreft: onbetaald verlof<br />
            <br />

            Beste @Model.GetDocumentAnswer("FirstName",true),<br />
            <br />

            Hierbij bevestigen wij je het volgende.
            <br />
            <br />

           Jij hebt aan je leidinggevende het verzoek gedaan om in de periode van @Model.GetDocumentAnswer("AbsenceStartFrom" +Model.AbsenceNr,true) tot en met @Model.GetDocumentAnswer("AbsenceEndsOn"+Model.AbsenceNr,true).Trim(): @Model.GetDocumentAnswer("AbsenceHours"+Model.AbsenceNr,true).Trim() uur per week onbetaald verlof op te nemen. 
        <br />
            <br />
            Je leidinggevende gaat hiermee akkoord.<br />
            <br />

            @if (Model.GetDocumentAnswer("AbsenceLongerThan2Months").ToLower() == "Yes".ToLower())
            {
                <text>
                Aangezien je verlof langer dan twee aaneengesloten maanden duurt, verzoeken wij je, om je OV-abonnement op je laatste werkdag voorafgaand aan je verlof te retourneren met bijgevoegde enveloppe.
        <br />
                <br />
                </text>
            }

            Na afloop van je onbetaald verlof zal je weer werkzaam zijn voor @Model.GetDocumentAnswer("ContractedHoursOldData",true) uur per week.<br />
            <br />
            We willen je er graag op wijzen dat je gedurende bovenstaande periode geen opbouw hebt van verlofuren, 13<span style="font-size: 8px"><sup>e</sup></span> maand, vakantiegeld en pensioenpremie.
        </p>
        <endpage />
    </div>


</body>
</html>
