@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Licenses.Models.Vendors.VendorEditModel

@section Actions
{
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Spara"), null, null, new { id = "btnSave", @class = "btn" })
        </li>
        @if (!Model.IsNew())
        {
            <li>
                @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Vendors", new { id = Model.Id }, 
                    new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post") + "?" })
            </li>                
        }
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Vendors", null, new { @class = "btn" })
        </li>
    </ul>    
}

@{    
    var requiredMessage = " " + Translation.Get("måste anges");
}

@section Content {
    @using (Html.BeginForm("Vendor", "Vendors", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.HiddenFor(m => m.Id, Model.Id)
        @Html.HiddenFor(m => m.CustomerId, Model.CustomerId)        
        <h4>@Translation.Get("Allmänt")</h4>
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Försäljare")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.VendorName, Model.VendorName)
                    @Html.ValidationMessageFor(m => m.VendorName, Translation.Get("Försäljare") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("Kontakt")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.Contact, Model.Contact)
                    @Html.ValidationMessageFor(m => m.Contact, Translation.Get("Kontakt") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("Adress")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.Address, Model.Address)
                    @Html.ValidationMessageFor(m => m.Address, Translation.Get("Adress") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("Postnummer")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.PostalCode, Model.PostalCode)
                    @Html.ValidationMessageFor(m => m.PostalCode, Translation.Get("Postnummer") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("Postadress")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.PostalAddress, Model.PostalAddress)
                    @Html.ValidationMessageFor(m => m.PostalAddress, Translation.Get("Postadress") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("Telefon")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.Phone, Model.Phone)
                    @Html.ValidationMessageFor(m => m.Phone, Translation.Get("Telefon") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("E-post")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.Email, Model.Email)
                    @Html.ValidationMessageFor(m => m.Email, Translation.Get("E-post") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("Hemsida")            
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.HomePage, Model.HomePage)
                    @Html.ValidationMessageFor(m => m.HomePage, Translation.Get("Hemsida") + requiredMessage)
                </td>
            </tr>
        </table>                
    } 
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function() {
                $("#edit_form").submit();
                return false;
            });
        });
    </script>          
}
