@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.CommunicationFieldsViewModel
<table class="tableform">
    @if (Model.CommunicationFieldsModel.NetworkAdapterId.Show
        || Model.CommunicationFieldsModel.IPAddress.Show
        || Model.CommunicationFieldsModel.MacAddress.Show
        || Model.CommunicationFieldsModel.IsRAS.Show
        || Model.CommunicationFieldsModel.NovellClient.Show)
    {
        <tr>
            <th colspan="2" class="header"><h4>@Translation.Get("Kommunikation")</h4></th>
        </tr>
    }
    @Html.EditorFor(m => m.CommunicationFieldsModel.NetworkAdapterId, "Fields/List", new { Source = Model.NetworkAdapters })
    @Html.EditorFor(m => m.CommunicationFieldsModel.IPAddress, "Fields/Text")
    @Html.EditorFor(m => m.CommunicationFieldsModel.MacAddress, "Fields/Text")
    @Html.EditorFor(m => m.CommunicationFieldsModel.IsRAS, "Fields/Flag")
    @Html.EditorFor(m => m.CommunicationFieldsModel.NovellClient, "Fields/Text")
</table>
