@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.ContractFieldsViewModel  
<table class="tableform">
    @if (Model.ContractStatuses.Show
        || Model.ContractFieldsModel.ContractNumber.Show
        || Model.ContractFieldsModel.ContractStartDate.Show
        || Model.ContractFieldsModel.ContractEndDate.Show
        || Model.ContractFieldsModel.PurchasePrice.Show
        || Model.ContractFieldsModel.AccountingDimension1.Show
        || Model.ContractFieldsModel.AccountingDimension2.Show
        || Model.ContractFieldsModel.AccountingDimension3.Show
        || Model.ContractFieldsModel.AccountingDimension4.Show
        || Model.ContractFieldsModel.AccountingDimension5.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Avtal")</th>
        </tr>
    }
    @if (Model.ContractStatuses.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ContractStatuses.Caption)</label>
            </td>
            <td class="span9">
                @if (!Model.ContractStatuses.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.ContractFieldsModel.ContractStatusId, Model.ContractStatuses.Value, string.Empty)
                }
                else
                {
                    @(!Model.ContractFieldsModel.ContractStatusId.HasValue
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true })
                        : Html.TextBoxFor(m => m.ContractStatuses.Value.SingleOrDefault(x => x.Value == Model.ContractFieldsModel.ContractStatusId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.ContractFieldsModel.ContractStatusId)
                }
            </td>
        </tr>
    }
    @Html.EditorFor(m => m.ContractFieldsModel.ContractNumber, "Fields/Text")
    @Html.EditorFor(m => m.ContractFieldsModel.ContractStartDate, "Fields/Date", new { id = "computer_edit_contractstartdate_datepicker" })
    @Html.EditorFor(m => m.ContractFieldsModel.ContractEndDate, "Fields/Date", new { id = "computer_edit_contractenddate_datepicker" })
    @Html.EditorFor(m => m.ContractFieldsModel.PurchasePrice, "Fields/Number")
    @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension1, "Fields/Text")
    @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension2, "Fields/Text")
    @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension3, "Fields/Text")
    @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension4, "Fields/Text")
    @Html.EditorFor(m => m.ContractFieldsModel.AccountingDimension5, "Fields/Text")
</table>
