@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.PlaceFieldsViewModel
<table class="tableform">
    @if (Model.Rooms.Show
        || Model.PlaceFieldsModel.Address.Show
        || Model.PlaceFieldsModel.PostalCode.Show
        || Model.PlaceFieldsModel.PostalAddress.Show
        || Model.PlaceFieldsModel.Location.Show
        || Model.PlaceFieldsModel.Location2.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Placering")</th>
        </tr>
    }
    @if (Model.Rooms.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get("Byggnad")</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.PlaceFieldsModel.BuildingId, Model.Buildings, string.Empty)
                }
                else
                {
                    @(!Model.PlaceFieldsModel.BuildingId.HasValue 
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true }) 
                        : Html.TextBoxFor(m => m.Buildings.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.BuildingId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.PlaceFieldsModel.BuildingId)
                }
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Våning")</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.PlaceFieldsModel.FloorId, Model.Rooms.Value, string.Empty)
                }
                else
                {
                    @(!Model.PlaceFieldsModel.FloorId.HasValue 
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true }) 
                        : Html.TextBoxFor(m => m.Floors.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.FloorId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.PlaceFieldsModel.FloorId)
                }
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Rooms.Caption)</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.PlaceFieldsModel.RoomId, Model.Rooms.Value, string.Empty)
                }
                else
                {
                    @(!Model.PlaceFieldsModel.RoomId.HasValue 
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true }) 
                        : Html.TextBoxFor(m => m.Rooms.Value.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.RoomId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.PlaceFieldsModel.RoomId)
                }
            </td>
        </tr>
    }
    @if (Model.PlaceFieldsModel.Address.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.PlaceFieldsModel.Address.Caption)</label>
            </td>
            <td class="span9">
                @(!Model.PlaceFieldsModel.Address.IsReadOnly
                      ? Html.TextBoxFor(m => m.PlaceFieldsModel.Address.Value)
                      : Html.TextBoxFor(m => m.PlaceFieldsModel.Address.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.PlaceFieldsModel.PostalCode.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.PlaceFieldsModel.PostalCode.Caption)</label>
            </td>
            <td class="span9">
                @(!Model.PlaceFieldsModel.PostalCode.IsReadOnly
                      ? Html.TextBoxFor(m => m.PlaceFieldsModel.PostalCode.Value)
                      : Html.TextBoxFor(m => m.PlaceFieldsModel.PostalCode.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.PlaceFieldsModel.PostalAddress.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.PlaceFieldsModel.PostalAddress.Caption)</label>
            </td>
            <td class="span9">
                @(!Model.PlaceFieldsModel.PostalAddress.IsReadOnly
                      ? Html.TextBoxFor(m => m.PlaceFieldsModel.PostalAddress.Value)
                      : Html.TextBoxFor(m => m.PlaceFieldsModel.PostalAddress.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.PlaceFieldsModel.Location.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.PlaceFieldsModel.Location.Caption)</label>
            </td>
            <td class="span9">
                @(!Model.PlaceFieldsModel.Location.IsReadOnly
                      ? Html.TextBoxFor(m => m.PlaceFieldsModel.Location.Value)
                      : Html.TextBoxFor(m => m.PlaceFieldsModel.Location.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.PlaceFieldsModel.Location2.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.PlaceFieldsModel.Location2.Caption)</label>
            </td>
            <td class="span9">
                @(!Model.PlaceFieldsModel.Location2.IsReadOnly
                      ? Html.TextBoxFor(m => m.PlaceFieldsModel.Location2.Value)
                      : Html.TextBoxFor(m => m.PlaceFieldsModel.Location2.Value, new { @readonly = true }))
            </td>
        </tr>
    }
</table>
