@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.PlaceFieldsViewModel
<script>
    $(function () {
        $('#buildings_dropdown').change(function () {
            var selectedBuilding = $(this).val();
            $.get('@Url.Action("SearchFloorsByBuildingId")', { selected: selectedBuilding }, function (json) {

                var sel = $('#floors_dropdown');
                $('#rooms_dropdown').empty();
                fillSelect(sel, json);
            });
        });

        $('#floors_dropdown').change(function () {
            var selectedFloor = $(this).val();
            $.get('@Url.Action("SearchRoomsByFloorId")', { selected: selectedFloor }, function (json) {

                var sel = $('#rooms_dropdown');
                fillSelect(sel, json);
            });
        });
    });

    function fillSelect(select, json) {
        select.empty();
        select.prepend("<option></option>");

        for (var i = 0; i < json.length; i++) {
            var e = json[i];
            $('<option>').text(e.Name).val(e.Value).appendTo(select);
        }
    }
</script>
<table class="tableform">
    @if (Model.Rooms.Show
        || Model.PlaceFieldsModel.Address.Show
        || Model.PlaceFieldsModel.PostalCode.Show
        || Model.PlaceFieldsModel.PostalAddress.Show
        || Model.PlaceFieldsModel.Location.Show
        || Model.PlaceFieldsModel.Location2.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Placering")</th>
        </tr>
    }
    @if (Model.Rooms.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get("Byggnad")</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.PlaceFieldsModel.BuildingId, Model.Buildings, string.Empty, new { id = "buildings_dropdown" })
                }
                else
                {
                    @(!Model.PlaceFieldsModel.BuildingId.HasValue
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true })
                        : Html.TextBoxFor(m => m.Buildings.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.BuildingId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.PlaceFieldsModel.BuildingId)
                }
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Våning")</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.PlaceFieldsModel.FloorId, Model.Floors, string.Empty, new { id = "floors_dropdown" })
                }
                else
                {
                    @(!Model.PlaceFieldsModel.FloorId.HasValue
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true })
                        : Html.TextBoxFor(m => m.Floors.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.FloorId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.PlaceFieldsModel.FloorId)
                }
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Rooms.Caption)</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.PlaceFieldsModel.RoomId, Model.Rooms.Value, string.Empty, new { id = "rooms_dropdown" })
                }
                else
                {
                    @(!Model.PlaceFieldsModel.RoomId.HasValue
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true })
                        : Html.TextBoxFor(m => m.Rooms.Value.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.RoomId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.PlaceFieldsModel.RoomId)
                }
            </td>
        </tr>
    }
    @Html.EditorFor(m => m.PlaceFieldsModel.Address, "Fields/Text")
    @Html.EditorFor(m => m.PlaceFieldsModel.PostalCode, "Fields/Text")
    @Html.EditorFor(m => m.PlaceFieldsModel.PostalAddress, "Fields/Text")
    @Html.EditorFor(m => m.PlaceFieldsModel.Location, "Fields/Text")
    @Html.EditorFor(m => m.PlaceFieldsModel.Location2, "Fields/Text")
</table>
