@using DH.Helpdesk.Web.Infrastructure.Extensions
@model IEnumerable<DH.Helpdesk.BusinessData.Models.Calendar.Output.CalendarOverview>

@{var CurIcon = "";}
                       
<table class="table table-striped table-bordered table-hover" id="tblcalendar">    
    <thead>             
        <tr>                
            <th sort-data="CalendarDate" style="cursor: pointer;">
                @Translation.Get("Datum")                                  
                @{CurIcon = "CalendarDate";}                
                <i class="@CurIcon.SetCalendarSortIcon()"></i>
            </th>           
            <th sort-data="ShowFromDate"   style="cursor: pointer;">
                @Translation.Get("Visa fr.o.m")                                
                @{CurIcon = "ShowFromDate";}
                <i class="@CurIcon.SetCalendarSortIcon()"></i>                
            </th>
            <th sort-data="ShowUntilDate"   style="cursor: pointer;">
                @Translation.Get("Visa t.o.m")                                
                @{CurIcon = "ShowUntilDate";}
                <i class="@CurIcon.SetCalendarSortIcon()"></i>                
            </th>
            <th sort-data="Caption" style="cursor: pointer;">
                @Translation.Get("Rubrik")               
                @{CurIcon = "Caption";}
                <i class="@CurIcon.SetCalendarSortIcon()"></i>                                
            </th>
            <th sort-data="Text" style="cursor: pointer; width:50%;">
                @Translation.Get("Text")           
                @{CurIcon = "Text";}
                <i class="@CurIcon.SetCalendarSortIcon()"></i>                               
            </th>
            <th sort-data="ShowOnStartPage" style="cursor: pointer;">
                @Translation.Get("Visa på startsidan")                
                @{CurIcon = "ShowOnStartPage";}
                <i class="@CurIcon.SetCalendarSortIcon()"></i>                
            </th>
            <th sort-data="PublicInformation" style="cursor: pointer;">
                @Translation.Get("Självservice")                
                @{CurIcon = "PublicInformation";}
                <i class="@CurIcon.SetCalendarSortIcon()"></i>                               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(b => b.ShowUntilDate >= DateTime.Now).ToList())
        {                               
            <tr onclick="location.href='@Url.Action("edit", "calendar", new { id = item.Id })'" style="cursor: pointer;">
                <td>
                    <span class="label label-success">@Html.DisplayFor(modelItem => item.CalendarDate, "Date")</span>
                </td>
                <td>
                    <span class="label label-success">@Html.DisplayFor(modelItem => item.ShowFromDate, "Date")</span>
                </td>
                <td>
                    <span class="label label-success">@Html.DisplayFor(modelItem => item.ShowUntilDate, "Date")</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td>
                    @Html.Raw(item.Text)
                </td>
                <td>
                    <span class="label @item.ShowOnStartPage.GetClassforBoolToYesNoYesNo()">@Translation.Get(item.ShowOnStartPage.BoolToYesNo())</span>
                </td>
                <td>
                    <span class="label @item.PublicInformation.GetClassforBoolToYesNoYesNo()">@Translation.Get(item.PublicInformation.BoolToYesNo())</span>
                </td>
            </tr>
        }
        @foreach (var item in Model.Where(b=> b.ShowUntilDate < DateTime.Now).ToList())
        {                               
            <tr onclick="location.href='@Url.Action("edit", "calendar", new { id = item.Id })'" style="cursor: pointer;">
                <td>
                    <span class="label">@Html.DisplayFor(modelItem => item.CalendarDate, "Date")</span>
                </td>
                <td>
                    <span class="label">@Html.DisplayFor(modelItem => item.ShowFromDate, "Date")</span>
                </td>
                <td>
                    <span class="label">@Html.DisplayFor(modelItem => item.ShowUntilDate, "Date")</span>
                </td>
                <td>
                    <span style="color:#999;">@Html.DisplayFor(modelItem => item.Caption)</span>
                </td>
                <td>
                   <span style="color:#999;"> @item.Text.ForHtmlView()</span>
                </td>
                <td>
                    <span class="label">@Translation.Get(item.ShowOnStartPage.BoolToYesNo())</span>
                </td>
                <td>
                    <span class="label">@Translation.Get(item.PublicInformation.BoolToYesNo())</span>
                </td>
            </tr>
        }
    </tbody>
</table>
     
<script type="text/javascript">

    $(document).on('click', 'th', function (e) {
        var sortBy = $(this).attr('sort-data');
        $.post("/Calendar/Sort", { fieldName: sortBy });
        $("#search").submit();

    });

    //$(document).on('click', 'th', function (e) {        
    //    var sortBy = $(this).attr('sort-data');                
    //    $.ajax({
    //        url: 'Calendar/Sort/?FieldName=' + sortBy,
    //        type: 'POST'           
    //    });       
    //});       

</script>
