@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.FieldModels.ConfigurableFieldModel<bool>
@if (!Model.Show)
{
    return;
}


@{

    var attributes = new Dictionary<string, object>(1);

    if (ViewData.ContainsKey("Id"))
    {
        attributes.Add("Id", ViewData["Id"]);
    }

    attributes.Add("data-dh-is-required", Model.IsRequired);
}

<tr>
    <td class="span3">
        @Html.FieldCaption(Model)
    </td>
    <td class="span6">
        @Html.CheckBoxFor(m => m.Value, attributes)
        @Html.HiddenFor(m => m.IsRequired)
        @Html.ValidationMessageFor(m => m.Value)
    </td>
    <td class="span3">
        @Model.Help
    </td>
</tr>
