@model FormModel
@{
    ViewBag.Title = Model.Translate("Netherlands") + " - " + Model.Translate("Hiring");
    //var url = Url.CurrentController() + "typeahead";
}
@section Script {
    <script>

        $(function () {
            validate.run(10);

            //$(".partialContents").each(function (index, item) {
            //    var url = site.baseUrl + $(item).data("url");
            //    var nodeName = $(item).data("node");
            //    if (url && url.length > 0) {
            //        if (nodeName.length > 0)
            //            url += "?nodeName=" + nodeName;
            //        $(item).load(url);
            //    }
            //});
        });

        @*$('.typeahead-simple').typeahead({
            minLength : 1,
            source: function (query, process) {
                var node = this.$element.attr('data-node');
                var dependent = this.$element.attr('data-dependent');
                var dependentValue = "";
                if (dependent != "") {
                    dependentValue = $('#' + dependent).val();
                }

                return $.post('@url', { query: query, node: node, dependentValue: dependentValue }, function (data) {
                    return process(data);
                });
            }
        });*@

    </script>

    @Html.Partial("_Validate", Model)
}
@using (Html.BeginForm("new", "hiring", FormMethod.Post, new { area = "netherlands", novalidate = "novalidate" }))
{
    @Html.Partial("_Navigation", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            <li class="active"><a href="#servicerequestdetails">@Model.Translate("Service Request Details")</a></li>
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="contract">
                        @Html.Partial("_TabServiceRequestDetails", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
