@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Server.ServerEditViewModel

@{
    Layout = "~/Areas/Inventory/Views/Server/_EditServerLayout.cshtml";
    var syncChangeFieldModel = Model.ServerViewModel.StateFieldsModel.SyncChangeDate;
}           

@section Actions
{
    <ul class="secnav">
        @if (Model.UserHasInventoryAdminPermission)
        {
            <li id="menu1">
                <input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn" onclick=" $('#server_edit_form').submit(); "/>
            </li>
            if (!Model.IsForDialog)
            {
                <li id="menu3">
                    @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "Delete", new {id = Model.ServerViewModel.Id},
                        new {@class = "btn deleteDialog", deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"})
                </li>
            }
        }
        @if (!Model.IsForDialog)
        {
            <li id="menu2">@Html.ActionLink(Translation.GetCoreTextTranslation("Avbryt"), "Index", null, new {@class = "btn"})</li>
        }
    </ul>
}

@using (Html.BeginForm("Edit", "Server", FormMethod.Post, new { id = "server_edit_form" }))
{
    if (!Model.UserHasInventoryAdminPermission && Model.IsForDialog)
    {
        <label>@Html.CheckBoxFor(m => m.ServerViewModel.IsOperationObject, new { @disabled = "disabled"}) @Translation.GetCoreTextTranslation("Driftobjekt")</label>
    }
    else
    {
        <label class="checkbox" > @Html.CheckBoxFor(m => m.ServerViewModel.IsOperationObject) @Translation.GetCoreTextTranslation("Driftobjekt") </label>
    }

    @Html.HiddenFor(m => m.ServerViewModel.IsForDialog)
    @Html.HiddenFor(m => m.ServerViewModel.Id)
    @Html.EditorFor(m => m.ServerViewModel.GeneralFieldsModel)
    @Html.EditorFor(m => m.ServerViewModel.ChassisFieldsModel)
    @Html.EditorFor(m => m.ServerViewModel.InventoryFieldsModel)
    @Html.EditorFor(m => m.ServerViewModel.OperatingSystemFieldsViewModel)
    @Html.EditorFor(m => m.ServerViewModel.ProccesorFieldsViewModel)
    @Html.EditorFor(m => m.ServerViewModel.MemoryFieldsViewModel)
    @Html.EditorFor(m => m.ServerViewModel.StorageFieldsModel)
    @Html.EditorFor(m => m.ServerViewModel.CommunicationFieldsViewModel)
    @Html.EditorFor(m => m.ServerViewModel.OtherFieldsModel)
    @Html.EditorFor(m => m.ServerViewModel.PlaceFieldsViewModel)

    if (Model.ServerViewModel.CreatedDate.Show || Model.ServerViewModel.ChangedDate.Show || syncChangeFieldModel.Show)
    {
        <h4>@Translation.GetCoreTextTranslation("Status")</h4>
    }
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @if (Model.ServerViewModel.CreatedDate.Show)
                {
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get(Model.ServerViewModel.CreatedDate.Caption)</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.ServerViewModel.CreatedDate.Value, "Date")
                        </td>
                    </tr>
                }
                @if (Model.ServerViewModel.ChangedDate.Show)
                {
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get(Model.ServerViewModel.ChangedDate.Caption)</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => m.ServerViewModel.ChangedDate.Value, "Date")
                        </td>
                    </tr>
                    if (Model.ServerViewModel.StateFieldsModel.ChangedByUserName != null)
                    {
                        <tr>
                            <td class="span3">
                                <label>@Translation.GetCoreTextTranslation("Changed by")</label>
                            </td>
                            <td class="span9">
                                @Html.DisplayFor(m => m.ServerViewModel.StateFieldsModel.ChangedByUserName.FirstName) @Html.DisplayFor(m => m.ServerViewModel.StateFieldsModel.ChangedByUserName.LastName)
                            </td>
                        </tr>
                    }
                }
                @if (syncChangeFieldModel.Show)
                {
                    <tr>
                        <td class="span3">
                            <label>@Translation.Get(syncChangeFieldModel.Caption)</label>
                        </td>
                        <td class="span9">
                            @Html.DisplayFor(m => syncChangeFieldModel.Value, "Date")
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}