@using DH.Helpdesk.Web.Areas.Inventory.Models.SearchModels
@using DH.Helpdesk.Web.Infrastructure
@model ServerSearchViewModel
@using (Ajax.BeginForm("ServersGrid", "Server", null, new AjaxOptions { UpdateTargetId = "grid_container" }, new { id = "search_form" }))
{
    @Html.HiddenFor(m => m.Filter.SortField.Name, new { id = "sortFieldName" })
    @Html.HiddenFor(m => m.Filter.SortField.SortBy, new { id = "sortFieldBy" })

    <table class="tableform">
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.SearchFor)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Filter.SearchFor) <input type="submit" value="@Translation.Get("Sök")" class="btn" />
            </td>
        </tr>
    </table>
}
<div id="grid_container">
    @Html.Action("ServersGrid", "Server", new { filter = Model.Filter })
</div>
