@model Web.Areas.Poland.Models.NewHire

<div class="tab-pane" id="payment">
    <div class="span5">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong">@Model.Label("ECMCompensationProgram")</td>
                    <td>
                        @Model.Element("ECMCompensationProgram")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PSArea")</td>
                    <td>
                        @Model.Element("PSArea")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PSGroup")</td>
                    <td>
                        @Model.Element("PSGroup")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("CollectiveScaleSalary")</td>
                    <td>
                        @Model.Element("CollectiveScaleSalary")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FunctionAllowance")</td>
                    <td>
                        @Model.Element("FunctionAllowance")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FunctionAllowanceAmount")</td>
                    <td>
                        @Model.Element("FunctionAllowanceAmount")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FunctionAllowanceGrossNett")</td>
                    <td>
                        @Model.Element("FunctionAllowanceGrossNett")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalPayment")</td>
                    <td>
                        @Model.Element("AdditionalPayment")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalPaymentAmount")</td>
                    <td>
                        @Model.Element("AdditionalPaymentAmount")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalPaymentGrossNett")</td>
                    <td>
                        @Model.Element("AdditionalPaymentGrossNett")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong">@Model.Label("HomeCostCenter")</td>
                    <td>
                        @Model.Element("HomeCostCenter")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HomeCostCenterAllocation")</td>
                    <td>
                        @Model.Element("HomeCostCenterAllocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalCostCenter")</td>
                    <td>
                        @Model.Element("AdditionalCostCenter")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalCostCenterAllocation")</td>
                    <td>
                        @Model.Element("AdditionalCostCenterAllocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalCostCenter2")</td>
                    <td>
                        @Model.Element("AdditionalCostCenter2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalCostCenterAllocation2")</td>
                    <td>
                        @Model.Element("AdditionalCostCenterAllocation2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("TaxOfficeLocation")</td>
                    <td>
                        @Model.Element("TaxOfficeLocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HealthInsuranceLocation")</td>
                    <td>
                        @Model.Element("HealthInsuranceLocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PensionerStatus")</td>
                    <td>
                        @Model.Element("PensionerStatus")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("WaitingPeriod")</td>
                    <td>
                        @Model.Element("WaitingPeriod")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PESEL")</td>
                    <td>
                        @Model.Element("PESEL")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MobilityStatus")</td>
                    <td>
                        @Model.Element("MobilityStatus")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("SecondSpecialRemark")</td>
                    <td>
                        @Model.Element("SecondSpecialRemark")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
