@model Web.Areas.Poland.Models.NewHire
@{
    ViewBag.Title = Model.Translate("Poland") + " - " + Model.Translate("New hire");
}
@section Script {
    <script>

        $(function () {
            validate.run(10);
        });

    </script>
    @Html.Partial("_Validate", Model)
}
@using(Html.BeginForm("new", "newhire", FormMethod.Post, new { area = "poland", novalidate = "novalidate" }))
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner navbarbgcolor">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <button type="submit" class="btn btnmarginleft">
                            <i class="icon-ok"></i>&nbsp;@Model.Translate("Initiate service request")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            <li class="active"><a href="#contract">@Model.Translate("Basic Data")</a></li>
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="contract">
                        @Html.Partial("_TabContract", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="#contract" />
}
