@model DH.Helpdesk.BusinessData.Models.Users.Output.UserModuleOverview
<tr>
    <td>
        @Html.HiddenFor(m => m.Module_Id)
        @Html.HiddenFor(m => m.User_Id)
        @Html.CheckBoxFor(m => m.isVisible)
    </td>
    <td>
        @Model.Module.Name
    </td>
    <td>
        @Html.DropDownListFor(m => m.NumberOfRows, 
                (IList<SelectListItem>)ViewData["NumberOrRows"], 
                new { @style = "width: 5em;"})
    </td>
</tr>

