@model DH.Helpdesk.BusinessData.Models.Users.Output.UserModuleOverview
<tr>
    <td>
        @Html.HiddenFor(m => m.Module_Id)
        @Html.HiddenFor(m => m.User_Id)
        @Html.CheckBoxFor(m => m.isVisible)
    </td>
    <td>
        @Model.Module.Name
    </td>
    <td>
        
        @Model.NumberOfRows                        
    </td>
</tr>


