
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.AttachedFilesModel
 
@{
    var filesContainerId = Model.Area.ToString().ToLower() + "_files_container";
}

<div id="@filesContainerId">
    @if (!Model.Files.Any())
    {
        @Translation.Get("No Uploaded Files", Enums.TranslationSource.TextTranslation)
        return;
    }
    <table>
        @foreach (var file in Model.Files)
        {
            <tr>
                <td>
                    @Html.ActionLink(file, "DownloadFile", new { changeId = Model.ChangeId, subtopic = Model.Area, fileName = file })
                </td>
                <td>
                    <a onclick="deleteFile('@Model.Area', '@file', '@filesContainerId')" class="btn">
                        @Translation.Get("Delete", Enums.TranslationSource.TextTranslation)
                    </a>
                </td>
            </tr>
        }
    </table>
</div>