@model DH.Helpdesk.Web.Models.Reports.IndexModel

<script type="text/javascript" src="@Url.Content("~/Content/js/Reports/index.js")"></script>

@{
    ViewBag.Title = @Translation.Get("Rapporter");
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                <a id="reports_show" class="btn">@Translation.Get("Visa")</a>                
            </li>
            <li>
                <a id="reports_print" class="btn">@Translation.Get("Skriv ut")</a>                
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Rapporter")</a>
            </li>
        </ul>        
        <div class="tab-content">
            <div id="fragment-1" class="tab-pane tab-pane-border active">
                @Html.Action("Reports", new { area = string.Empty })
            </div>
        </div>
    </div>
</div>

