@model DH.Helpdesk.Web.Models.Reports.RegistratedCasesCaseTypeReport
           
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>@Model.ReportType.Name</title>
    </head>
    <body>
        @Html.Partial("~/Views/Print/Header.cshtml")        
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <h2>
                            @Model.ReportType.Name                         
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Kund")
                    </td>
                    <td>
                        @Model.Customer.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Driftgrupper")
                    </td>
                    <td>
                        @(Model.WorkingGroups.Any() ? string.Join(",", Model.WorkingGroups.Select(i => i.Name)) : Translation.Get("Alla"))
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Ärendetyp")
                    </td>
                    <td>
                        @(Model.CaseTypes.Any() ? string.Join(",", Model.CaseTypes.Select(i => i.Name)) : Translation.Get("Alla"))
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Produktområde")
                    </td>
                    <td>
                        @(Model.ProductArea != null ? Model.ProductArea.Name : string.Empty)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Period")
                    </td>
                    <td>
                        @string.Format("{0} - {1}", Model.PeriodFrom.ToShortDateString(), Model.PeriodUntil.ToShortDateString())
                    </td>
                </tr>
            </tbody>
        </table>
        @foreach (var file in Model.Files)
        {
            <img src="@file.FileName" />                                    
        }
    </body>
</html>
