@model DH.Helpdesk.SelfService.Models.Case.CaseLogModel

@if (Model.CaseLogs != null)
{

    <div class="mapButtonclose mapButton"><span class="glyphicon glyphicon-remove"></span></div>
    <div class="mapButtonside mapButton">
        @if ((Model.CaseLogs != null) && (Model.CaseLogs.Count > 0))
                {
                    var lastMessage = Model.CaseLogs.Where(l => !string.IsNullOrEmpty(l.Text_Internal.Trim())).OrderBy(l => l.RegTime).LastOrDefault();
                    if (lastMessage != null && string.IsNullOrEmpty(lastMessage.RegUser))
                    {
                <div class="mapText" title="@Translation.Get("Communicate", Enums.TranslationSource.TextTranslation)">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="glyphicon glyphicon-certificate newcom"></span>
                </div>
            }
            else
            {
                <div class="mapText" title="@Translation.Get("Communicate", Enums.TranslationSource.TextTranslation)">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
            }
        }
        else
        {
            <div class="mapText" title="@Translation.Get("Communicate", Enums.TranslationSource.TextTranslation)"><span class="glyphicon glyphicon-comment"></span></div>
        }
    </div>
    <div class="theMap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <label>
                        @Translation.Get("Add comment", Enums.TranslationSource.TextTranslation):
                    </label>
                    <div>
                        <textarea id="myNote" style="width:450px; height:100px;"></textarea>
                    </div>
                    <button class="btn btn-default" onclick=" SaveExternalMessage() ">
                        @Translation.Get("Send", Enums.TranslationSource.TextTranslation)
                    </button>
                    <hr />
                </div>
            </div>
        </div>
        <div id="CaseLogPartial" class="com-list">
            @Html.Partial("_CaseLogNote", Model)
        </div>
    </div>

}
