@using DH.Helpdesk.Common.Enums;
@model DH.Helpdesk.SelfService.Models.Shared.LayoutViewModel

<div class="container-fluid">
    <a href="@Url.Action("Index", "Start", new { customerId = Model.CustomerId, area = "" })">
        <div class="pull-left toplogo"></div>
    </a>
    <div class="pull-right small toplogout">        
            <div class="dropdown">
                <a href="#" type="button" class="dropdown-toggle" data-toggle="dropdown">
                    @Translation.Get("Select language", Enums.TranslationSource.TextTranslation)<span class="caret"></span>
                </a>
                @if (SessionFacade.AllLanguages != null)
                {
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var lang in SessionFacade.AllLanguages)
                        {
                            <li>
                                <a href="@Url.Action("ChangeLanguage", "start", new { area = "", language = lang.LanguageId, currentUrl = this.Request.Url.LocalPath, lastParams = HttpContext.Current.Request.QueryString })">
                                    @Translation.Get(lang.Name, Enums.TranslationSource.TextTranslation, (SessionFacade.CurrentCustomer != null ? SessionFacade.CurrentCustomer.Language_Id : 0)) @(lang.Id == SessionFacade.CurrentLanguageId ? "●" : "")
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
            <span class="toplogout-space"> | </span>
        
        @if (!string.IsNullOrEmpty(SessionFacade.CurrentSystemUser))
        {
            <a href="#" title="Employee number: @(SessionFacade.CurrentUserIdentity != null? SessionFacade.CurrentUserIdentity.EmployeeNumber:"")">
                @Translation.Get("User", Enums.TranslationSource.TextTranslation): @SessionFacade.CurrentSystemUser
            </a>
        }
        else
        {
            <a href="#">
                @Translation.Get("User", Enums.TranslationSource.TextTranslation): ?
            </a>
        }
    </div>
</div>