@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Areas.Admin.Models.CaseTypeInputViewModel
@Scripts.Render("~/bundles/admin/casetype/_input")
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.GetCoreTextTranslation("Ärendetyp") - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-error">@Translation.GetCoreTextTranslation("Ärendetyp")
                            @Translation.GetCoreTextTranslation("som används går inte att ta bort")
                        </div>    
                    }
                    <h4>@Translation.GetCoreTextTranslation("Allmänt")</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.GetCoreTextTranslation("Ärendetyp")
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.CaseType.Name, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Standard")
                                    </td>
                                    <td><label class="checkbox">
                                        <input type="checkbox" name="casetype.IsDefault" @(Model.CaseType.IsDefault == 1 ? "checked=checked" : "") value="1"/>
                                        <input type="hidden" name="casetype.IsDefault" value="0" />
                                        &nbsp;@Translation.GetCoreTextTranslation("Använd ärendetypen som standard vid ärenderegistrering")
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td><label class="checkbox">
                                        <input type="checkbox" name="casetype.IsEMailDefault" @(Model.CaseType.IsEMailDefault == 1 ? "checked=checked" : "") value="1"/>
                                        <input type="hidden" name="casetype.IsEMailDefault" value="0" />
                                        &nbsp;@Translation.GetCoreTextTranslation("Standard vid ärenderegistrering via e-post")
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Godkännande")
                                    </td>
                                    <td><label class="checkbox">
                                        <input type="checkbox" name="casetype.RequireApproving" @(Model.CaseType.RequireApproving == 1 ? "checked=checked" : "") value="1"/>
                                        <input type="hidden" name="casetype.RequireApproving" value="0" />
                                        &nbsp;@Translation.GetCoreTextTranslation("Ärenden med aktuell ärendetyp kräver godkännande")
                                        </label>
                                        @Translation.GetCoreTextTranslation("Godkänn ärenden automatiskt efter")&nbsp;
                                        @Html.TextBoxFor(model => model.CaseType.AutomaticApproveTime, new { style = "display: inline; width: 30px; text-align: right; margin-left:0;", maxlength = "3" })
                                        &nbsp;@Translation.GetCoreTextTranslation("timmar")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Driftgrupp")
                                    </td>
                                    <td>
                                        <select id="caseType__WorkingGroup_Id" name="caseType.WorkingGroup_Id" data-field="workingGroup" class="working-group">
                                            <option value="">&nbsp;</option>
                                            @if (Model.WorkingGroups != null)
                                            {

                                                foreach (var e in Model.WorkingGroups.Where(e => e.IsActive == 1 || Model.CaseType.WorkingGroup_Id == e.Id))
                                                {
                                                    <option value="@e.Id" class="@(e.IsActive != 1 ? "inactive" : string.Empty)" @e.Id.IdIsSelected(Model.CaseType.WorkingGroup_Id.ToString())>@e.WorkingGroupName</option>
                                                }
                                            }
                                        </select>

                                        @*@Html.DropDownListFor(model => model.CaseType.WorkingGroup_Id, Model.WorkingGroups, "")*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Handläggare")
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.CaseType.User_Id, Model.SystemOwners, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @*@Translation.Get("Visa", Enums.TranslationSource.TextTranslation)*@
                                        @*#57738*@
                                        @Translation.GetCoreTextTranslation("Visa i lista")
                                    </td>
                                    <td>
                                        @*<label class="checkbox">
                                            <input type="checkbox" name="casetype.ShowOnExternalPage" @(Model.CaseType.ShowOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="casetype.ShowOnExternalPage" value="0" />
                                            &nbsp;@Translation.Get("Visa ärendetypen på självservice", Enums.TranslationSource.TextTranslation)
                                        </label>*@
                                        <label class="checkbox">
                                            <input type="checkbox" name="casetype.Selectable" @(Model.CaseType.Selectable == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="casetype.Selectable" value="0" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Helpdesk")
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="casetype.ShowOnExternalPage" @(Model.CaseType.ShowOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="casetype.ShowOnExternalPage" value="0" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Självservice")
                                        </label>         
                                    </td>
                                </tr>
                                @*#57738 Remove this later*@
                                @*<tr>
                                    <td>
                                        @Translation.Get("Valbar", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="casetype.Selectable" @(Model.CaseType.Selectable == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="casetype.Selectable" value="0" />
                                        </label>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Aktiv")
                                    </td>
                                    <td><label class="checkbox">
                                        <input type="checkbox" name="casetype.IsActive" @(Model.CaseType.IsActive == 1 ? "checked=checked" : "") value="1"/>
                                        <input type="hidden" name="casetype.IsActive" value="0" />
                                        &nbsp;@Translation.GetCoreTextTranslation("Aktiv")
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.CaseType.Customer_Id)
                            @Html.HiddenFor(model => model.CaseType.Id)
                            @Html.HiddenFor(model => model.CaseType.Parent_CaseType_Id)
                            @Html.HiddenFor(model => model.CaseType.IsEMailDefault)
                            @Html.HiddenFor(model => model.CaseType.CaseTypeGUID)
                            @Html.HiddenFor(model => model.CaseType.ShowOnExtPageCases)
                        </div>
                    </div>
                </div>

                @if (Model.CaseType.SubCaseTypes != null && Model.CaseType.SubCaseTypes.Any())
                {
                    <div class="container">
                        <h4>@Translation.GetCoreTextTranslation("Ärendetyper")</h4>
                        <table class="table table-striped table-bordered table-hover" id="tblSubCaseType">
                            <thead>
                                <tr>
                                    <th>
                                        @Translation.GetCoreTextTranslation("Ärendetyp")
                                    </th>
                                    <th>
                                        @Translation.GetCoreTextTranslation("Standard")
                                    </th>
                                    <th>
                                        @Translation.GetCoreTextTranslation("Kräver godkännande")
                                    </th>
                                    <th>
                                        @Translation.GetCoreTextTranslation("Handläggare")
                                    </th>
                                    <th>
                                        @Translation.GetCoreTextTranslation("Aktiv")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.CaseTypeTreeString(Model.CaseType.SubCaseTypes.ToList())
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    //$('#caseType__WorkingGroup_Id').on('change', function () {
    //    alert();
    //    SelectValueInOtherDropdownOnChange($(this).val(), '/CaseType/ChangeWorkingGroupFilterUser/', '#caseType__WorkingGroup_Id', '#Customer_Id')
    //        .done(function () {
    //            $('#CaseType_User_Id').trigger('change', 'caseType__WorkingGroup_Id');
    //        });
    //});
</script>