@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using System.Globalization;
@using ECT.Model.Entities;
@{
    Layout = null;
    Model.Language = "en";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @* ---Moved to UnitedkingdomPdfPage Class
        <table style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr style="text-align: right;">
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:d MMMMMM yyyy}", DateTime.Now)</td>
            </tr>
        </table>
        <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            <strong>Private & Confidential</strong><br />
                       @Html.Partial("_HeaderAddress", Model)
            <br />
            <br />
            <br />*@

        <p style="@UnitedKingdomPdfPage.StyleValue()">
            Dear @Model.GetDocumentAnswer("FirstName", true),<br />
            <br />
            Congratulations and thank you for telling me that you will be adopting a child. I am writing to you about your adoption leave and pay.
            <br />
            As we have discussed you are eligible for 52 weeks' adoption leave.
            <br />
            <br />
            You have told me you intend to return to work. Based upon your chosen start date for Ordinary Adoption Leave, which you have given as @Model.GetDocumentAnswer("AbsenceStartFrom" + Model.MultiNr, true), you will return to work on @Model.GetDocumentAnswer("AbsenceEndsOn" + Model.MultiNr, true).<br />
            <br />
            Should you want to change the date on which your leave starts, you must, if at all possible, give at least 28 days notice before your proposed new start date and at the latest by 
            @if (!string.IsNullOrEmpty(Model.GetAnswer(FormLibConstants.FormField.AbsenceStartFrom + Model.MultiNr)))
            {
                <text>@DateTime.ParseExact(Model.GetDocumentAnswer(FormLibConstants.FormField.AbsenceStartFrom + Model.MultiNr, true), "dd.MM.yyyy", CultureInfo.InvariantCulture).AddDays(-28).ToString("dd.MM.yyyy")</text>
            }.
            <br />
            <br />
            In addition, please be aware that if you decide to return to work before the date we have agreed, you must give at least 28 days notice.
            <br />
            <br />

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "26 weeks - 1 year".ToLower() | Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "1 - 2 years".ToLower() | Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                <text>As we discussed you are eligible for 39 weeks Statutory Adoption Pay (SAP).</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Under 26 weeks".ToLower())
            {
                <text>As we discussed you are not eligible for Statutory Adoption Pay.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "1 - 2 years".ToLower())
            {
                <text>As you have a year's continuous service at the matching week, IKEA will enhance your initial 6 weeks of SAP from 90% to 100% and allow a gradual return to the workplace.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                <text>As you have two year’s service at the matching week IKEA, will pay you an additional 12 weeks at 50% pay based on contractual hours. Your SMP payment is included in this 50%.</text>
                <text><br />
                <br /></text>
            }


            <text>There is an opportunity to mutually agree “ keeping in Touch days”, which enables you to keep in touch with your department and the business by working up to a maximum of 10 days without it affecting your statutory adoption pay. You will be paid your normal rate of pay less SAP. There is no obligation on you to attend these days. Please contact me should you wish to discuss these further.</text>
            <text><br />
                <br /></text>

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "1 - 2 years".ToLower() | Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                 
                <text>Your Adoption pay will be &pound;@Model.GetDocumentAnswer("AdoptionPay" + Model.MultiNr, true).</text>
                <text><br />
                <br /></text>
            }



            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Under 26 weeks".ToLower())
            {
                <text>The SAP1 form (enclosed) explains why you do not qualify for Statutory Adoption Pay and if you speak to your Jobcentre Plus you may be entitled to income support.</text>
                <text><br />
                <br /></text>
            }


            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "1 - 2 years".ToLower() | Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                <text>
                We have discussed your gradual return and you wish to take the option of:
            <br />
                <br />
                1. returning on 50% of your contractual hours for the first 12 weeks. You will be paid on the basis of your full contractual hours.
            <br />
                <br />
                2. receiving 6 weeks half pay based on 50% of your contractual hours during your adoption leave and then returning to work on 50% of your contractual hours for 6 weeks and being paid on the basis of your full contractual hours.
            </text>
            }
        </p>


        <endpage />
    </div>
</body>
</html>
