@model DH.Helpdesk.Web.Models.Inventory.EditModel.Shared.PlaceFieldsViewModel
<script>
    $(function () {
        $('#buildings_dropdown').change(function () {
            var selectedBuilding = $(this).val();
            $.get('@Url.Action("SearchFloorsByBuildingId")', { selected: selectedBuilding }, function (json) {

                var sel = $('#floors_dropdown');
                $('#rooms_dropdown').empty();
                fillSelect(sel, json);
            });
        });

        $('#floors_dropdown').change(function () {
            var selectedFloor = $(this).val();
            $.get('@Url.Action("SearchRoomsByFloorId")', { selected: selectedFloor }, function (json) {

                var sel = $('#rooms_dropdown');
                fillSelect(sel, json);
            });
        });
    });

    function fillSelect(select, json) {
        select.empty();
        select.prepend("<option></option>");

        for (var i = 0; i < json.length; i++) {
            var e = json[i];
            $('<option>').text(e.Name).val(e.Value).appendTo(select);
        }
    }
</script>
<table class="tableform">
    @if (Model.PlaceFieldsModel.RoomId.Show
        || Model.PlaceFieldsModel.Location.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Placering")</th>
        </tr>
    }
    @if (Model.PlaceFieldsModel.RoomId.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get("Byggnad")</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.PlaceFieldsModel.BuildingId, Model.Buildings, string.Empty, new { id = "buildings_dropdown" })
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Våning")</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.PlaceFieldsModel.FloorId, Model.Floors, string.Empty, new { id = "floors_dropdown" })
            </td>
        </tr>
    }
    @Html.EditorFor(m => m.PlaceFieldsModel.RoomId, "NotReadonlyFields/List", new { Source = Model.Rooms, id = "rooms_dropdown" })
    @Html.EditorFor(m => m.PlaceFieldsModel.Location, "NotReadonlyFields/Text")
</table>
