@model DH.Helpdesk.Web.Models.Inventory.EditModel.Shared.PlaceFieldsViewModel
<table class="tableform">
    @if (Model.Rooms.Show
        || Model.PlaceFieldsModel.Location.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Placering", Enums.TranslationSource.TextTranslation)</th>
        </tr>
    }
    @if (Model.Rooms.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get("Byggnad", Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    Html.DropDownListFor(m => m.PlaceFieldsModel.BuildingId, Model.Buildings);
                }
                else
                {
                    if (!Model.PlaceFieldsModel.BuildingId.HasValue)
                    {
                        Html.TextBoxFor(m => string.Empty, new { @readonly = true });
                    }
                    else
                    {
                        Html.TextBoxFor(m => m.Buildings.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.BuildingId.ToString()).Text, new { @readonly = true });
                    }
                    Html.HiddenFor(m => m.PlaceFieldsModel.BuildingId);
                }
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Våning", Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    Html.DropDownListFor(m => m.PlaceFieldsModel.FloorId, Model.Rooms.Value);
                }
                else
                {
                    if (!Model.PlaceFieldsModel.FloorId.HasValue)
                    {
                        Html.TextBoxFor(m => string.Empty, new { @readonly = true });
                    }
                    else
                    {
                        Html.TextBoxFor(m => m.Floors.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.FloorId.ToString()).Text, new { @readonly = true });
                    }
                    Html.HiddenFor(m => m.PlaceFieldsModel.FloorId);
                }
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Rooms.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @if (!Model.Rooms.IsReadOnly)
                {
                    Html.DropDownListFor(m => m.PlaceFieldsModel.RoomId, Model.Rooms.Value);
                }
                else
                {
                    if (!Model.PlaceFieldsModel.RoomId.HasValue)
                    {
                        Html.TextBoxFor(m => string.Empty, new { @readonly = true });
                    }
                    else
                    {
                        Html.TextBoxFor(m => m.Rooms.Value.SingleOrDefault(x => x.Value == Model.PlaceFieldsModel.RoomId.ToString()).Text, new { @readonly = true });
                    }
                    Html.HiddenFor(m => m.PlaceFieldsModel.RoomId);
                }
            </td>
        </tr>
    }
    @if (Model.PlaceFieldsModel.Location.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.PlaceFieldsModel.Location.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.PlaceFieldsModel.Location.IsReadOnly
                      ? Html.TextBoxFor(m => m.PlaceFieldsModel.Location.Value)
                      : Html.TextBoxFor(m => m.PlaceFieldsModel.Location.Value, new { @readonly = true }))
            </td>
        </tr>
    }
</table>
