@model DH.Helpdesk.Web.Models.Inventory.EditModel.Shared.ProccesorFieldsViewModel
<table class="tableform">
    @if (Model.Proccessors.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Processor")</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Proccessors.Caption)</label>
            </td>
            <td class="span9">
                @if (!Model.Proccessors.IsReadOnly)
                {
                    @Html.DropDownListFor(m => m.ProccesorFieldsModel.ProccesorId, Model.Proccessors.Value, string.Empty)
                }
                else
                {
                    @(!Model.ProccesorFieldsModel.ProccesorId.HasValue 
                        ? Html.TextBoxFor(m => string.Empty, new { @readonly = true }) 
                        : Html.TextBoxFor(m => m.Proccessors.Value.SingleOrDefault(x => x.Value == Model.ProccesorFieldsModel.ProccesorId.ToString()).Text, new { @readonly = true }))
                    @Html.HiddenFor(m => m.ProccesorFieldsModel.ProccesorId)
                }
            </td>
        </tr>
    }
</table>

