@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@using (Html.BeginForm("edit", "hiringbasic", new { id = Model.Contract.Id }, FormMethod.Post, new { area = "UnitedKingdom", novalidate = "novalidate" }))
{   
    <span style="display: none;" id="narrowDownInit"></span>
    @Html.Partial("_GlobalNavRev", Model)
    <div class="container containeralignright">
        @Html.Partial("_FormInfo", Model)
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            @if(Model.VisibleTab("#servicerequestdetails"))
            {
                <li class="active @(Model.TabHasError("#servicerequestdetails") ? "error" : "")">
                    <a href="#servicerequestdetails">@Model.Translate("Service Request Details")</a></li>
            }
            @if(Model.VisibleTab("#personal"))
            {
                <li class="@(Model.TabHasError("#personal") ? "error" : "")">
                    <a href="#personal">@Model.Translate("Personal Information")</a></li>
            }
            @*@if(Model.VisibleTab("#documents"))
            {
                <li class="@(Model.TabHasError("#documents") ? "error" : "")">
                    <a href="#documents">@Model.Translate("Documents")</a></li>
            }*@
            @if(Model.VisibleTab("#globalview"))
            {
                <li class="@(Model.TabHasError("#globalview") ? "error" : "")">
                    <a href="#globalview" data-url="@Url.Action("GetGlobalViewFields", new { caseId = Model.Contract.Id, formGuid = Model.FormGuid })">@Model.Translate("Global View")</a></li>
            }
            @if(Model.VisibleTab("#attachments"))
            {
                <li class="pull-right">
                    <a href="#attachments"><i class="icon-file icon-white"></i>&nbsp;@Model.Translate("Attachments")&nbsp;(<b id="attachmentCounter">@(Model.Contract.CaseFiles != null ? Model.Contract.CaseFiles.Count() : 0)</b>)</a>
                </li>
            }
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content overflow-visible">
                    @if(Model.VisibleTab("#servicerequestdetails"))
                    {
                        @Html.Partial("_TabServiceRequestDetails", Model)
                    }
                    @if(Model.VisibleTab("#personal"))
                    {
                        @Html.Partial("_TabPersonal", Model)
                    }
                    @*@if(Model.VisibleTab("#documents"))
                    {
                        @Html.Partial("_TabDocuments", Model)
                    }*@
                    @if(Model.VisibleTab("#globalview"))
                    {
                        @Html.Partial("_TabGlobalView", Model)
                    }
                    @if(Model.VisibleTab("#attachments"))
                    {
                        @Html.Partial("_GlobalAttachments", Model)
                    }
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="@Model.ActiveTab" />
}

<script type="text/javascript">

    // Could be placed in separate js file.
    // country selectized ... will descrease loading time with 1/2. 
    var selectize_options = {
        valueField: 'Value',
        labelField: 'Value',
        searchField: 'Value',
        create: false,
        render: {
            option: function (item, escape) {
                return '<div>' +
                    '<span class="title">' +
                        '<span class="name">' + escape(item.Value) + '</span>' +
                    '</span>' +
                '</div>';
            }
        },
        load: function (query, callback) {
            if (!query.length) return callback();

            $.ajax({
                url: '@Url.CurrentController()CountrySearchUK/?query=' + encodeURIComponent(query) + "&=" + Math.random(),
                type: 'GET',
                error: function () {
                    callback();
                },
                success: function (res) {
                    callback(res.options.slice(0, 10));
                }
            });
        }
    };

        $('#PermanentCountry, #OrganisationCountry, #MailingCountry, #EmergencyCountry, ' +
            '#EmployeeDocumentCountry, #EmployeeDocumentIssuePlaceCountry, #EmployeeDocumentCountry2, ' +
            '#EmployeeDocumentIssuePlaceCountry2, #EmployeeDocumentCountry3, #EmployeeDocumentIssuePlaceCountry3, ' +
            '#EmployeeDocumentCountry4, #EmployeeDocumentIssuePlaceCountry4, #EmployeeDocumentCountry5, #EmployeeDocumentIssuePlaceCountry5 , ' +
            '#DependantsDocumentCountry, #DependantsDocumentIssuePlaceCountry, #DependantsDocumentCountry2, #DependantsDocumentIssuePlaceCountry2, ' +
            '#DependantsDocumentCountry3, #DependantsDocumentIssuePlaceCountry3, #DependantsDocumentCountry4, #DependantsDocumentIssuePlaceCountry4, ' +
            '#DependantsDocumentCountry5, #DependantsDocumentIssuePlaceCountry5, #BankCountry, #DocumentCountryOfIssue, #DocumentCountryOfUse')
            .each(function (e, i) {
                var _this = $(this);
                if (!_this[0].selectize) {
                    _this.selectize(selectize_options);
                }
            });

</script>