@model DH.Helpdesk.NewSelfService.Models.Start.StartPageModel

@{
    ViewBag.Title = "Index";
    var welcomePart = 
}

<div class="container-fluid dh-container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">                             
                             @Translation.Get("Welcome to SelfService portal", Enums.TranslationSource.TextTranslation) 
                            @*<div class="row">
                                <div class="col-md-5">
                                    <h3 style="margin-top: 1px;">@Translation.Get("Welcome", Enums.TranslationSource.TextTranslation) @SessionFacade.CurrentUserIdentity.FirstName                                        
                                        @Translation.Get("to the MyHRportal", Enums.TranslationSource.TextTranslation) </h3>
                                    <p> @Translation.Get("Here you can create a new service request", Enums.TranslationSource.TextTranslation). </p> 
                                    <p> @Translation.Get("You can also view your ongoing or completed requests", Enums.TranslationSource.TextTranslation).</p>
                                    <p> @Translation.Get("Need help? Start with Find your way", Enums.TranslationSource.TextTranslation)</p>
                                    <p><img src="@Url.Content("~/Content/img-profile/ikea-map.png")" /></p>
                                </div>
                                <div class="col-md-7">
                                    <img src="@Url.Content("~/Content/img-profile/ikea-notepad.png")" />
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-star"></span>@Translation.Get("Bulletin Board", Enums.TranslationSource.TextTranslation) </div>
                <div class="panel-body">
                    @*<p></p>
                    <!--<p><strong>Please submit all service requests relevant for September payroll by cut off day which is 17th September 3.00pm</strong></p>-->
                    <p></p>
                    <hr />*@
                    @if (Model.BulletinBoard != null)
                    {
                        foreach (var b in Model.BulletinBoard)
                        {                       
                          if (DateTime.Now >= b.ShowDate && DateTime.Now <= b.ShowUntilDate )
                          {
                            <p> <strong> @Html.DisplayFor(m=> b.ShowDate , "Date")  </strong> <br /> &nbsp;&nbsp; @b.Text </p>
                          }
                        }
                    }
                    
                    
                    <img src="@Url.Content("~/Content/img-profile/ikea-peoplestart.png")" />
                </div>
            </div>
        </div>
        <!--ON GOING--->
       
    </div>
    <div class="row">
        <div class="col-md-10 small">
            Version 1.3
            <img src="@Url.Content("~/Content/img-profile/dh_solutions_slogan.png")" class="pull-right" />
        </div>
    </div>
</div>
