@model DH.Helpdesk.NewSelfService.Models.Start.StartPageModel

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid dh-container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <h3 style="margin-top: 1px;">@Translation.Get("Welcome", Enums.TranslationSource.TextTranslation) @SessionFacade.CurrentUserIdentity.FirstName to the MyHRportal</h3>
                                    <p>Here you can create a new service request.</p>
                                    <p>You can also view your ongoing or completed requests.</p>
                                    <p>Need help? Start with Find your way</p>
                                    <p><img src="@Url.Content("~/Content/img-profile/ikea-map.png")" /></p>
                                </div>
                                <div class="col-md-7">
                                    <img src="@Url.Content("~/Content/img-profile/ikea-notepad.png")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-star"></span>@Translation.Get("Anslagstavla", Enums.TranslationSource.TextTranslation) </div>
                <div class="panel-body">
                    @*<p></p>
                    <!--<p><strong>Please submit all service requests relevant for September payroll by cut off day which is 17th September 3.00pm</strong></p>-->
                    <p></p>
                    <hr />*@
                    @if (Model.BulletinBoard != null)
                    {
                        foreach (var b in Model.BulletinBoard)
                        {                       
                          if (DateTime.Now >= b.ShowDate && DateTime.Now <= b.ShowUntilDate )
                          {
                            <p> <strong> @Html.DisplayFor(m=> b.ShowDate , "Date")  </strong> <br /> &nbsp;&nbsp; @b.Text </p>
                          }
                        }
                    }
                    
                    
                    <img src="@Url.Content("~/Content/img-profile/ikea-peoplestart.png")" />
                </div>
            </div>
        </div>
        <!--ON GOING--->
        @*<div class="col-md-6">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">Ongoing Service Requests</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            @if (Model.CaseSearchResult.CaseSettings != null)
                                            {
                                                foreach (var c in Model.CaseSearchResult.CaseSettings)
                                                {
                                                    if (c.Line == 1)
                                                    {
                                <th onclick=" sortCases('@c.Name') " class="thpointer" >
                                    @Translation.Get(c.Name, Enums.TranslationSource.CaseTranslation, c.Customer_Id)  <i class="@c.Name.SetCaseSortIcon()"></i>
                                </th>
                                                }
                                            }
                                        }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CaseSearchResult.Cases.Any())
                                        {                                            
                                            foreach (var r in Model.CaseSearchResult.Cases)
                                            {

                                                var dynamicUrl = Model.DynamicCases.Where(w => w.CaseId == r.Id).Select(d => "~/" + d.FormPath).SingleOrDefault();

                            <tr>
                                <!--fasta kolumner -->
                                <td>
                                    <span class="glyphicon glyphicon-file"  title="@r.CaseIcon.CaseIconTitle()"></span>
                                </td>
                                <!-- valbara kolumner -->

                                @foreach (var c in r.Columns)
                                                    {
                                    <td>
                                        @if (c.FieldType == 1)
                                                            {
                                            <!-- date -->
                                                                if (string.IsNullOrEmpty(dynamicUrl))
                                                                {
                                            <a href ="@Url.Action("Index", "case", new { id = r.Id , area ="" })" >@Html.DisplayFor(m => c.DateTimeValue, "Date") </a>
                                                                }
                                                                else
                                                                {
                                            <a href="@Url.Content(dynamicUrl.SetUrlParameters(r.Id))">@Html.DisplayFor(m => c.DateTimeValue, "Date")</a>
                                                                }
                                                            }
                                                            else if (c.FieldType == 2)
                                                            {
                                            <!-- dateTime -->
                                                                if (string.IsNullOrEmpty(dynamicUrl))
                                                                {
                                            <a href="@Url.Action("Index", "case", new { id = r.Id, area ="" })">@Html.DisplayFor(m => c.DateTimeValue, "DateAndTime")</a>
                                                                }
                                                                else
                                                                {
                                            <a href="@Url.Content(dynamicUrl.SetUrlParameters(r.Id))">@Html.DisplayFor(m => c.DateTimeValue, "DateAndTime")</a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (c.TranslateThis) 
                                                                {
                                            <!-- string -->
                                                                    if (string.IsNullOrEmpty(dynamicUrl))
                                                                    {
                                            <a href="@Url.Action("Index", "case", new { id = r.Id, area ="" })">@Translation.Get(c.StringValue, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                    else
                                                                    {
                                            <a href="@Url.Content(dynamicUrl.SetUrlParameters(r.Id))">@Translation.Get(c.StringValue, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (string.IsNullOrEmpty(dynamicUrl))
                                                                    {
                                            <a href="@Url.Action("Index", "case", new { id = r.Id, area ="" })">@c.StringValue</a>
                                                                    }
                                                                    else
                                                                    {
                                            <a href="@Url.Content(dynamicUrl.SetUrlParameters(r.Id))">@c.StringValue</a>
                                                                    }
                                                                }
                                                            }
                                    </td>
                                                    }
                            </tr>
                                            }
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@
    </div>
    <div class="row">
        <div class="col-md-10 small">
            Version 1.2
            <img src="@Url.Content("~/Content/img-profile/dh_solutions_slogan.png")" class="pull-right" />
        </div>
    </div>
</div>
