@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@functions{
    public string GetContract()
    {
        //BusinessUnit = IKEA Competence B.V. = no documents yet
        if (Model.GetAnswer("BusinessUnit") == "IKEA Competence B.V.")
        {
            return "";
        }
        else if (@Model.GetAnswer("BusinessUnit") == "Service Office Netherlands" && @Model.GetAnswer("EmploymentCategory") != "Apprentice" && @Model.GetAnswer("EmploymentCategory") != "Holiday Co-Worker")
        {
            return "NetherlandsServiceOfficeContract";
            
        }
        else if (@Model.GetAnswer("EmploymentCategory") == "Apprentice")
        {
            return "NetherlandsApprenticeContract";
        }
        else if (@Model.GetAnswer("EmploymentCategory") == "Holiday Co-Worker")
        {
            return "ContractHoliday";
        }    
        else
        {
            //Default
        return "ContractDutch";
        }
    }
}

@if (!string.IsNullOrEmpty(GetContract()))
{
    
<tr>
    <td>@Model.Translate("Contract")</td>
    <td>pdf</td>
    <td>&nbsp;</td>
    <td>
        <a href="@Url.Action("print", "hiring", new
                {
                    id = GetContract(),
                    caseId = Model.Contract.Id,
                    path = Path.Combine(Path.GetDirectoryName(Model.FormXmlPath), Path.GetFileNameWithoutExtension(Model.FormXmlPath)),
                    userId = FormLibSessions.User.UserId
                })" class="btn pull-right print"><i class="icon-file"></i>&nbsp;@Model.Translate("Print")</a>
    </td>
</tr>

}