@model dhHelpdesk_NG.Web.Areas.Admin.Models.UserInputViewModel
<div class="formContainer">
    <table id="iconsAndChks">
        @if (Model.User.UserGroup_Id < 2)
        {
            @Translation.Get("Utseende", Enums.TranslationSource.TextTranslation)
        }
        <tr>
            <th>
                @Translation.Get("Meny", Enums.TranslationSource.TextTranslation)
            </th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                @Translation.Get("Ikon", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <img src="/Content/icons/home.png" alt="home" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/images/case_log.gif" alt="case" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/problem.png" alt="problem" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/casetemplate.png" alt="casesolutions" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/icoCaseTemplate.gif" alt="allcasesgrouped" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/casesearch.png" alt="searchcase" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/reports.png" alt="report" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/faq.png" alt="faq" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/calendar.png" alt="calendar" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/icoOrder.gif" alt="order" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/icoOrderAccount.gif" alt="account" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/checklist.png" alt="checklist" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/dailyreport.png" alt="dailyreport" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/operationlog.png" alt="operationlog" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/inventory.png" alt="inventory" width="26" height="26" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                @Translation.Get("Visa", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[0]" @(Model.User.MenuSettings.IndexOf("0:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[0]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[1]" @(Model.User.MenuSettings.IndexOf("1:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[1]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[2]" @(Model.User.MenuSettings.IndexOf("2:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[2]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[3]" @(Model.User.MenuSettings.IndexOf("3:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[3]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[4]" @(Model.User.MenuSettings.IndexOf("4:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[4]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[5]" @(Model.User.MenuSettings.IndexOf("5:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[5]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[6]" @(Model.User.MenuSettings.IndexOf("6:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[6]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[7]" @(Model.User.MenuSettings.IndexOf("7:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[7]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[8]" @(Model.User.MenuSettings.IndexOf("8:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[8]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[9]" @(Model.User.MenuSettings.IndexOf("9:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[9]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[10]" @(Model.User.MenuSettings.IndexOf("10:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[10]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[11]" @(Model.User.MenuSettings.IndexOf("11:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[11]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[12]" @(Model.User.MenuSettings.IndexOf("12:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[12]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[13]" @(Model.User.MenuSettings.IndexOf("13:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[13]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[14]" @(Model.User.MenuSettings.IndexOf("14:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[14]" value="0" />
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                @Translation.Get("Ikon", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <img src="../../Content/icons/planning.png" alt="planning" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/project.png" alt="project" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/registerquestion.png" alt="question" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/questionnaire.png" alt="questionnaire" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/Licens.png" alt="license" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/documenthandling.png" alt="document" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/customer.png" alt="customer" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/user.png" alt="user" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/plus_userinfo.png" alt="computeruser" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/bulletinboard.png" alt="bulletinboard" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/programlog.png" alt="programlog" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/setup.png" alt="settings" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/icoHelp.gif" alt="help" width="26" height="26" />
            </td>
            <td>
                <img src="../../Content/icons/changes.png" alt="change" width="26" height="26" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                @Translation.Get("Visa", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[15]" @(Model.User.MenuSettings.IndexOf("15:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[15]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[16]" @(Model.User.MenuSettings.IndexOf("16:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[16]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[17]" @(Model.User.MenuSettings.IndexOf("17:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[17]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[18]" @(Model.User.MenuSettings.IndexOf("18:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[18]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[19]" @(Model.User.MenuSettings.IndexOf("19:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[19]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[20]" @(Model.User.MenuSettings.IndexOf("20:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[20]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[21]" @(Model.User.MenuSettings.IndexOf("21:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[21]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[22]" @(Model.User.MenuSettings.IndexOf("22:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[22]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[23]" @(Model.User.MenuSettings.IndexOf("23:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[23]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[24]" @(Model.User.MenuSettings.IndexOf("24:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[24]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[25]" @(Model.User.MenuSettings.IndexOf("25:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[25]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[26]" @(Model.User.MenuSettings.IndexOf("26:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[26]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[27]" @(Model.User.MenuSettings.IndexOf("27:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[27]" value="0" />
            </td>
            <td>
                <input type="checkbox" name="MenuSetting[28]" @(Model.User.MenuSettings.IndexOf("28:1") >= 0 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="MenuSetting[28]" value="0" />
            </td>
        </tr>
    </table>
    <table id="rest">
        <tr>
            <td>
                @Translation.Get("Obligatoriska fält", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.MarkRequiredFields" @(Model.User.MarkRequiredFields == 1 ? "checked='checked'" : "") value="1" />
                <input type="hidden" name="User.MarkRequiredFields" value="0" />
                @Translation.Get("Visa alltid * vid obligatoriska fält", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        @if (Model.User.UserGroup_Id > 2)
        {
            <tr>
                <td>
                    @Translation.Get("Ärendeöversikt", Enums.TranslationSource.TextTranslation)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="stateStatusCase" @(Model.StateStatusCase == 1 ? "checked='checked'" : "") class="stateStatusCase" value="1" /><img src="../../Content/images/ico-black.png" width="100" height="12" />
                    <br />
                    <input type="checkbox" name="stateStatusCase" @(Model.StateStatusCase == 2 ? "checked='checked'" : "") class="stateStatusCase" value="2" /><img src="../../Content/images/ico-green.png" width="100" height="12" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Translation.Get("Välj färg på ärenden som saknar understatus", Enums.TranslationSource.TextTranslation)
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Startsidan", Enums.TranslationSource.TextTranslation)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="User.ShowQuickMenuOnStartPage" @(Model.User.ShowQuickMenuOnStartPage == 1 ? "checked='checked'" : "") value="1" />
                    <input type="hidden" name="User.ShowQuickMenuOnStartPage" value="0" />
                    @Translation.Get("Visa snabbmeny på startsidan", Enums.TranslationSource.TextTranslation)
                </td>
            </tr>
        }
    </table>
</div>
<script type="text/javascript">

    $(function () {
        $('.stateStatusCase').change(function () {
            var t = $(this);
            var s = t.is(':checked');
            $('input[name="' + t.attr('name') + '"]').removeAttr('checked');
            if (s)
                t.attr('checked', 'checked');
        });
    });

</script>
