@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel

@using DH.Helpdesk.Web.Infrastructure
<div class="container">
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Nytt lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="NewPassword" maxlength="20" />
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="ConfirmPassword" maxlength="20" />
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <span id="passConfirmError" hidden class="error">* @Translation.GetForJS("Det nya lösenordet bekräftades inte korrekt. Kontrollera att nytt lösenord och bekräftat lösenord stämmer överens", Enums.TranslationSource.TextTranslation)</span>
                        <span id="passLengthError" hidden class="error">* @Translation.GetForJS("Lösenord är inte giltigt. Minst antal tecken är: ", Enums.TranslationSource.TextTranslation) @Model.UserCustomerMinPassWordLength</span>
                        <span id="passComplexError" hidden class="error">* @Translation.GetForJS("Lösenord är inte giltigt. Minst 8 tecken, varav en stor bokstav, en liten bokstav, en siffra och ett special tecken (!@#=$&?*).", Enums.TranslationSource.TextTranslation)</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSavePassword" class="btn" />
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnClose" class="btn" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_user" value="@Model.User.Id" /> 
        <input type="hidden" id="customer_passwordlength" value="@Model.UserCustomerMinPassWordLength" />
        <input type="hidden" id="customer_complexpassword" value="@Model.CustomerComplexPassword" />   
</div>

