@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel

@using DH.Helpdesk.Web.Infrastructure
<div class="contentContent">
    <div class="formContainer">
        <table cellpadding="0" border="0">
            <tr>
                <td style="width:150px;">
                    @Translation.Get("Nytt lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    &nbsp;&nbsp;<input type="password" id="NewPassword" style="width: 200px;" maxlength="20" />
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    &nbsp;&nbsp;<input type="password" id="ConfirmPassword" style="width: 200px;" maxlength="20" />
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td colspan="3">

                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSavePassword" />
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnClose" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_user" value="@Model.User.Id" />
    </div>
</div>

