
@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel

<div class="container">
    <p>@Translation.GetCoreTextTranslation("För att begränsa rättigheter, markera de enheter som användaren endast bör ha tillgång till"):</p>
    <table class="tableform">
        <thead>
            <tr>
                <th class="span3">@Translation.GetCoreTextTranslation("Kund")</th>
                <th>@Translation.GetCoreTextTranslation("Avdelning")</th>
            </tr>
        </thead>
        <tr>
            @foreach (var cu in Model.CustomerUsers)
            {
            <tr>
                <td>@Translation.GetCoreTextTranslation(cu.CustomerName)</td>
                <td>
                    <table class="admin-user-departments">
                        @{ int i = 1; }
                        <tr>
                            @foreach (var d in Model.Departments)
                            {
                                if (d.Customer_Id == cu.CustomerId)
                                {
                                    <td class="span5">
                                        @{
                                            var inpName = string.Format("d_{0}", d.Id);
                                        }
                                        <input type="checkbox" name="Departments" id="@inpName" @(d.Users.Any(u => u.Id == cu.UserId) ? "checked=checked" : "") value="@d.Id"/>
                                        <label for="@inpName">@d.DepartmentName</label>
                                    </td>

                                    if (i % 3 == 0)
                                    {
                                        @Html.Raw("</tr><tr>");
                                        i = 0;
                                    }
                                    i++;
                                }
                                else if (i > 1)
                                {
                                    @Html.Raw("</tr><tr>");
                                    i = 1;
                                }

                            }
                        </tr>
                    </table>
                </td>
            </tr>
            }
        </table>
    </div>
