@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel

<div class="formContainer">
    <table class="tableform">
        <tr>
            <td class="span3">@Translation.GetCoreTextTranslation("Förnamn") <span class="mandatorystar">*</span></td>
            <td>@Html.TextBoxFor(model => model.User.FirstName, new { maxlength = "20" })</td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("Efternamn") <span class="mandatorystar">*</span></td>
            <td>@Html.TextBoxFor(model => model.User.SurName, new { maxlength = "30" })</td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("Adress")</td>
            <td>@Html.TextBoxFor(model => model.User.Address, new { maxlength = "50" })</td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("Postadress")</td>
            <td>
                @Html.TextBoxFor(model => model.User.PostalCode, new { maxlength = "5", style = "width: 60px;" })
                @Html.TextBoxFor(model => model.User.PostalAddress, new { maxlength = "30", style = "width: 222px;" })
            </td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("Telefon")</td>
            <td>@Html.TextBoxFor(model => model.User.Phone, new { maxlength = "20" })</td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("Mobil")</td>
            <td>@Html.TextBoxFor(model => model.User.CellPhone, new { maxlength = "20" })</td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("E-post") <span class="mandatorystar">*</span></td>
            <td>@Html.TextBoxFor(model => model.User.Email, new { maxlength = "50" })</td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("Time zone") <span class="mandatorystar">*</span></td>
            <td>@Html.DropDownListFor(model => model.SelectedTimeZone, Model.AvailvableTimeZones,  new { style = "width: auto;" })</td>
        </tr>
        <tr>
            <td>@Translation.GetCoreTextTranslation("Aktiv")</td>
            <td>
                <input type="checkbox" name="User.IsActive" @(Model.User.IsActive == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.IsActive" value="0" />
            </td>
        </tr>
        @if (Model.User.Id > 0)
        {
            <tr>
                <td>@Translation.GetCoreTextTranslation("Byt lösenord")</td>
                <td>
                    <input type="button" value="@Translation.GetCoreTextTranslation("Byt lösenord")" name="changePassword" class="changePassword btn"
                           data-toggle="modal" data-target="#divPasswordDialog" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>@Translation.GetCoreTextTranslation("Lösenord")</td>
                <td>@Html.PasswordFor(model => model.NewPassword, new { maxlength = "20" })</td>
            </tr>
            <tr>
                <td>@Translation.GetCoreTextTranslation("Bekräfta lösenord")</td>
                <td>@Html.PasswordFor(model => model.ConfirmPassword, new { maxlength = "20" })</td>
            </tr>
        }
    </table>
</div>
