@using System.Web.Optimization
@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel
@Scripts.Render("~/bundles/admin/users/_input")
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Användare", Enums.TranslationSource.TextTranslation) - @Model.User.FirstName @Model.User.SurName</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">

                <div class="container">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-error">@Translation.Get("Användare", Enums.TranslationSource.TextTranslation)
                            @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
                        </div>   
                    }
                    else
                    if (TempData["PreventError"] != null)
                    {
                        var msg = (string)TempData["PreventError"];
                        <div class="alert alert-error">
                            @Translation.Get(msg, Enums.TranslationSource.TextTranslation)
                        </div>   
                    }
                   
                    @Html.ValidationSummary()
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Id", Enums.TranslationSource.TextTranslation) <span class="mandatorystar">*</span>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.User.UserID, new { maxlength = "40" })
                                    </td>
                                </tr>
                                @if (Model.User.Id != 0)
                                {
                                    <tr>
                                        <td>
                                            @Translation.Get("Domän", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.User.Domain_Id, Model.Domains, "", new { })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container" id="subTabContainer">
                    <ul class="nav nav-tabs" id="myTabSub">
                       
                        <li class="active"><a href="#subfragment-1">@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</a></li>               
                        <li><a href="#subfragment-2">@Translation.Get("Säkerhet", Enums.TranslationSource.TextTranslation)</a></li>
                        <li><a href="#subfragment-3">@Translation.Get("Meddelande", Enums.TranslationSource.TextTranslation)</a></li>
                        <li><a href="#subfragment-5">@Translation.Get("Övrigt", Enums.TranslationSource.TextTranslation)</a></li>
                        <li><a href="#subfragment-6">@Translation.Get("Kund", Enums.TranslationSource.TextTranslation)</a></li>
                        <li><a href="#subfragment-7">@Translation.Get("Avdelning", Enums.TranslationSource.TextTranslation)</a></li>
                        <li><a href="#subfragment-8">@Translation.Get("Driftgrupper", Enums.TranslationSource.TextTranslation)</a></li>
                      
                    </ul>
                    <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="subfragment-1">
                        @Html.Partial("_General", Model)
                    </div>
                    <div class="tab-pane tab-pane-border" id="subfragment-2">
                        @Html.Partial("_Security", Model)
                    </div>
                    <div class="tab-pane tab-pane-border" id="subfragment-3">
                        @Html.Partial("_Message", Model)
                    </div>
                    <div class="tab-pane tab-pane-border" id="subfragment-5">
                        @Html.Partial("_Other", Model)
                    </div>
                    <div class="tab-pane tab-pane-border" id="subfragment-6">
                        @if (Model.User.Id != 0 || Model.IsUserCopy)
                        {
                            @Html.Partial("_Customer", Model)
                        }
                    </div>
                    <div class="tab-pane tab-pane-border" id="subfragment-7">
                        @if (Model.User.Id != 0 || Model.IsUserCopy)
                        {
                            @Html.Partial("_Department", Model)                
                        }
                    </div>
                    <div class="tab-pane tab-pane-border" id="subfragment-8">
                        @if (Model.User.Id != 0 || Model.IsUserCopy)
                        {
                            @Html.Partial("_WorkingGroups", Model)
                        }
                    </div>
                </div>
                </div>
                <div>
                    @Html.HiddenFor(model => model.User.Customer_Id)
                    @Html.HiddenFor(model => model.User.Id)
                    @Html.HiddenFor(model => model.CopyUserid)
                </div>
            </div>
        </div>
    </div>
</div>