@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel
<div class="container">
    <table class="tableform">
        <tr>
            <td class="span3">
                @Translation.Get("Användargrupp", Enums.TranslationSource.TextTranslation)
            </td>
            <td class="span7">
                @Html.DropDownListFor(model => model.User.UserGroup_Id, Model.UserGroups, "", new {})
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Kunder", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Translation.Get("Tillgängliga", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Translation.Get("Användaren har rättighet till", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ListBox("CsAvailable", Model.CsAvailable, new { style = "width: 460px; height: 100px" })
                <input type="button" value="&lt;" id="removeCs" class="btn" />
                <input type="button" value="&gt;" id="addCs" class="btn" />
            </td>
            <td>
                @Html.ListBox("CsSelected", Model.CsSelected, new { style = "width: 460px; height: 100px" })
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Standardkund", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
               
                 @Html.DropDownListFor(model => model.User.Customer_Id, Model.Customers, "", new {})
            
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Ärende", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.Performer" @(Model.User.Performer == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.Performer" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren kan handlägga ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.CreateCasePermission" @(Model.User.CreateCasePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.CreateCasePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får skapa ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.CopyCasePermission" @(Model.User.CopyCasePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.CopyCasePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får kopiera ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.DeleteCasePermission" @(Model.User.DeleteCasePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.DeleteCasePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får ta bort ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.DeleteAttachedFilePermission" @(Model.User.DeleteAttachedFilePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.DeleteAttachedFilePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får ta bort bifogade filer", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.MoveCasePermission" @(Model.User.MoveCasePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.MoveCasePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får flytta ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.ActivateCasePermission" @(Model.User.ActivateCasePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.ActivateCasePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får aktivera ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.CloseCasePermission" @(Model.User.CloseCasePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.CloseCasePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får stänga ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.RestrictedCasePermission" @(Model.User.RestrictedCasePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.RestrictedCasePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren kan endast se sina egna ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.FollowUpPermission" @(Model.User.FollowUpPermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.FollowUpPermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får följa upp ärenden", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="User.DataSecurityPermission" @(Model.User.DataSecurityPermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.DataSecurityPermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren har rättighet till datasäkerhetsinformation", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Ärendemall", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.CaseSolutionPermission" @(Model.User.CaseSolutionPermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.CaseSolutionPermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren får skapa ärendemallar", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Rapporter", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.ReportPermission" @(Model.User.ReportPermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.ReportPermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren kan köra rapporter", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("FAQ", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.FAQPermission" @(Model.User.FAQPermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.FAQPermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren har rättighet att administrera FAQ", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Aktuellt", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.CalendarPermission" @(Model.User.CalendarPermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.CalendarPermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren har rättighet till aktuellt", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Beställning", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="OrderP1" @(Model.OrderP1 == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="OrderP1" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren kan skapa beställningar", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" name="OrderP2" @(Model.OrderP2 == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="OrderP2" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren kan administrera beställningar", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                @Translation.Get("Tillgängliga beställningstyper", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Translation.Get("Användaren har rättighet till", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ListBox("OTsAvailable", Model.OTsAvailable, new { style = "width: 460px; height: 100px" })
                <input type="button" value="&lt;" id="removeOTs" class="btn" />
                <input type="button" value="&gt;" id="addOTs" class="btn" />
            </td>
            <td>
                @Html.ListBox("OTsSelected", Model.OTsSelected, new { style = "width: 460px; height: 100px" })
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Beställning konto", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Translation.Get("Tillgängliga kontobehörigheter", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Translation.Get("Användaren har rättighet till", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ListBox("AAsAvailable", Model.AAsAvailable, new { style = "width: 460px; height: 100px" })
                <input type="button" value="&lt;" id="removeAAs" class="btn" />
                <input type="button" value="&gt;" id="addAAs" class="btn" />
            </td>
            <td>
                @Html.ListBox("AAsSelected", Model.AAsSelected, new { style = "width: 460px; height: 100px" })
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Dagrapport", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.DailyReportReminder" @(Model.User.DailyReportReminder == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.DailyReportReminder" value="0" />
                &nbsp; &nbsp;@Translation.Get("Påminn användaren att skriva dagrapport när ärenden avslutas", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Anslagstavla", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.BulletinBoardPermission" @(Model.User.BulletinBoardPermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.BulletinBoardPermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren har rättighet att administrera anslagstavlan", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Fakturering", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="User.InvoicePermission" @(Model.User.InvoicePermission == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="User.InvoicePermission" value="0" />
                &nbsp; &nbsp;@Translation.Get("Användaren har rättighet till fakturering", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Ändringshantering", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Html.DropDownListFor(model => model.UserRights, Model.UserRoles, "", new {})
            </td>
        </tr>
    </table>
</div>
