@model dhHelpdesk_NG.Web.Areas.Admin.Models.UserInputViewModel
<div class="formContainer">
    <table border="0">
        <tr>
            <h4>@Translation.Get("Kund", Enums.TranslationSource.TextTranslation)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Handläggarrättighet", Enums.TranslationSource.TextTranslation)
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Läsrättighet", Enums.TranslationSource.TextTranslation)
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Standard", Enums.TranslationSource.TextTranslation)
            </h4>
        </tr>
        
        <tr>
            <td>
                <table>
                    @{ var customername=""; }
                    @{ var i = 0; }
                    @foreach (var uwg in Model.ListWorkingGroupsForUser)
                        {
            
                            <tr>
                                <td style="width:150px;">
                                    @if (customername != uwg.CustomerName)
                                    {    
                                        @uwg.CustomerName
                                    }
                                </td>
                                <td style="width:150px;">
                                    @Translation.Get(uwg.WorkingGroupName, Enums.TranslationSource.TextTranslation)
                                </td>
                                <td style="width:150px;">
                                    <input type="checkbox" name="@string.Format("UserWorkingGroups[{0}].UserRole", i)" sel="UserWorkingGroup_[@i]" @(uwg.RoleToUWG == 2 ? "checked=checked" : "") class="userRole" value="2" />
                                    <input type="hidden" name="@string.Format("UserWorkingGroups[{0}].User_Id", i)" value="@uwg.User_Id" />
                                    <input type="hidden" name="@string.Format("UserWorkingGroups[{0}].WorkingGroup_Id", i)" value="@uwg.WorkingGroup_Id" />
                                </td>
                                <td style="width:100px;">
                                    <input type="checkbox" name="@string.Format("UserWorkingGroups[{0}].UserRole", i)" sel="UserWorkingGroup_[@i]" @(uwg.RoleToUWG == 1 ? "checked=checked" : "") class="userRole" value="1" />
                                </td>
                                <td>
                                    <input type="radio" name="User.Default_WorkingGroup_Id" value="@uwg.WorkingGroup_Id" @(uwg.IsStandard == uwg.WorkingGroup_Id ? "checked=checked" : "") />
                                </td>            
                            </tr>   
                            customername = uwg.CustomerName;
                            i++;
                        }
                </table>
            </td>
        </tr>
      
    </table>
</div>
<script type="text/javascript">

    $(function () {
        $('.userRole').change(function () {
            var t = $(this);
            var s = t.is(':checked');
            $('input[sel="' + t.attr('sel') + '"]').removeAttr('checked');
            alert(s);
            if (s)
                t.attr('checked', 'checked');
        });
    });

</script>
