@using DH.Helpdesk.BusinessData.Enums.Users
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel
<div class="container">
    
                <table class="tableform">
                    <thead>
                        <tr>
                            <th class="span3">
                                @Translation.Get("Kund", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th class="span3">
                                @Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th class="span3">
                                @Translation.Get("Handläggarrättighet", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th class="span3">
                                @Translation.Get("Läsrättighet", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th class="span3">
                                @Translation.Get("Standard", Enums.TranslationSource.TextTranslation)
                            </th>
                        </tr>
                    </thead>
                    @{ var customername=""; }
                    @{ var i = 0; }
                    @foreach (var uwg in Model.ListWorkingGroupsForUser)
                    {
                        var enabledDefWG = (uwg.RoleToUWG == 1) || (uwg.RoleToUWG == 2);        
                        <tr>
                            <td>
                                @if (customername != uwg.CustomerName)
                                {    
                                    @uwg.CustomerName
                                    <input type="radio" style="display: none;" data-field="userWorkingGroup" name="@uwg.CustomerId" value="-1" />
                                }
                            </td>
                            <td>                                                      
                                <span class ='@(!uwg.IsActive? "disabled" : "")'  >  @Translation.Get(uwg.WorkingGroupName, Enums.TranslationSource.TextTranslation) </span>                               
                            </td>
                            <td>
                                <input type="checkbox" name="@string.Format("UserWorkingGroups[{0}].UserRole", i)" id="UserWorkingGroup_[@i]_2" @(uwg.RoleToUWG == WorkingGroupUserPermission.ADMINSTRATOR? "checked=checked" : "") data-field-id="@i" class="userRole" value="2" />
                                <input type="hidden" name="@string.Format("UserWorkingGroups[{0}].User_Id", i)" value="@uwg.User_Id" />
                                <input type="hidden" name="@string.Format("UserWorkingGroups[{0}].WorkingGroup_Id", i)" value="@uwg.WorkingGroup_Id" />
                            </td>
                            <td>
                                <input type="checkbox" name="@string.Format("UserWorkingGroups[{0}].UserRole", i)" id="UserWorkingGroup_[@i]_1" @(uwg.RoleToUWG == WorkingGroupUserPermission.READ_ONLY  ? "checked=checked" : "") data-field-id="@i" class="userRole" value="1" />
                            </td>
                            <td>
                                <input type="radio" name="@uwg.CustomerId" data-field="userWorkingGroup" data-field-id="@i" value="@uwg.IsStandard" @(uwg.IsStandard == 1 && enabledDefWG ? "checked=checked" : "") @(enabledDefWG? "" : "disabled") id="UserWorkingGroup_[@i]_Def"/>
                                <input type="hidden" name="@string.Format("UserWorkingGroups[{0}].IsDefault", i)" data-field="@string.Format("userWorkingGroup{0}", i)" value="@(enabledDefWG? uwg.IsStandard : '0')" id="UserWorkingGroup_[@i]_Defhid"/>
                            </td>            
                        </tr>   
                        customername = uwg.CustomerName;
                        i++;
                    }
                </table>
</div>
<script type="text/javascript">

    $(function () {
        $('.userRole').change(function () {
            var t = $(this);
            
            var id = t.attr('id');
            
            if (id.substring(id.length - 1) == '1' && document.getElementById(id).checked == true) {
                var c = id.substring(0, id.length - 1) + '2';

                document.getElementById(c).checked = false;
            }
            if (id.substring(id.length - 1) == '2' && document.getElementById(id).checked == true) {
                var c = id.substring(0, id.length - 1) + '1';

                document.getElementById(c).checked = false;
            }

            var c1 = id.substring(0, id.length - 1) + '1';
            var c2 = id.substring(0, id.length - 1) + '2';
            var r =  id.substring(0, id.length - 1) + 'Def';
            var rh = id.substring(0, id.length - 1) + 'Defhid';
            
            if (document.getElementById(c1).checked || document.getElementById(c2).checked) {                               
                document.getElementById(r).disabled = false;                
            }
            else {
                document.getElementById(r).checked = false;
                document.getElementById(rh).value = '0';
                document.getElementById(r).disabled = true;                
            }

        });
    });


</script>
