@model dhHelpdesk_NG.Web.Areas.Admin.Models.UserInputViewModel
<div class="formContainer">
    <table>
        <tr>
            <th>
                @Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
            </th>
            <th>
                @Translation.Get("Handläggarrättigheter", Enums.TranslationSource.TextTranslation)
            </th>
            <th>
                @Translation.Get("Läsrättigheter", Enums.TranslationSource.TextTranslation)
            </th>
            <th>
                @Translation.Get("Standard", Enums.TranslationSource.TextTranslation)
            </th>
        </tr>
        @{ var i = 0; }
        @foreach (var uwg in Model.ListWorkingGroupsForUser)
        {
            <tr>
                <td>
                    @Translation.Get(uwg.WorkingGroupName, Enums.TranslationSource.TextTranslation)
                    (@Translation.Get(uwg.CustomerName, Enums.TranslationSource.TextTranslation))
                </td>
                <td>
                    <input type="checkbox" name="@string.Format("UserWorkingGroups[{0}].UserRole", i)" sel="UserWorkingGroup_[@i]" @(uwg.RoleToUWG == 2 ? "checked=checked" : "") class="userRole" value="2" />
                    <input type="hidden" name="@string.Format("UserWorkingGroups[{0}].User_Id", i)" value="@uwg.User_Id" />
                    <input type="hidden" name="@string.Format("UserWorkingGroups[{0}].WorkingGroup_Id", i)" value="@uwg.WorkingGroup_Id" />
                </td>
                <td>
                    <input type="checkbox" name="@string.Format("UserWorkingGroups[{0}].UserRole", i)" sel="UserWorkingGroup_[@i]" @(uwg.RoleToUWG == 1 ? "checked=checked" : "") class="userRole" value="1" />
                </td>
                <td>
                    <input type="radio" name="User.Default_WorkingGroup_Id" value="@uwg.WorkingGroup_Id" @(@uwg.IsStandard == uwg.WorkingGroup_Id ? "checked=checked" : "") />
                </td>
            </tr>
            i++;
        }
    </table>
</div>
<script type="text/javascript">

    $(function () {
        $('.userRole').change(function () {
            var t = $(this);
            var s = t.is(':checked');
            $('input[sel="' + t.attr('sel') + '"]').removeAttr('checked');
            if (s)
                t.attr('checked', 'checked');
        });
    });

</script>
