@using DH.Helpdesk.Web.Infrastructure
@using System.Web.Optimization
@using System.Web.Script.Serialization
@model DH.Helpdesk.Web.Areas.Admin.Models.UserIndexViewModel
@{
    ViewBag.Title = "";
    var AMessage = TempData["AlertMessage"];          
}

<script type="text/javascript">
    window.parameters = {        
        alertMessage: '@AMessage',
        userSearchForm: '#searchUsers',
        customerList: '#customerDDL',
        userStatusList: '#statusDDL',
        loggedInUser_CustomerList: '#customerChange',
        loggedInUser_Partial: '#loggedInUsersPartial',
        loggedInUser_Url: '@Url.Content("~/Admin/Users/GetLoggedInUsers")',
        doSort_Url: '@Url.Content("~/Admin/Users/DoSort")'
    };
</script>

@Scripts.Render("~/bundles/admin/users/index")

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.Get("Lägg till") + " " + Translation.Get("Användare"), "new", null, new { @class = "btn" })
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Användare")</a></li>
            <li><a href="#fragment-3">@Translation.Get("Inloggade användare")</a></li>
            <li><a href="#fragment-2">@Translation.Get("Låsta ärenden")</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                @Html.Partial("Index/_UserOverview", Model)
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
                @Html.Partial("Index/_LockedCaseOverview", Model.LockedCaseModel)
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-3">                
                @Html.Partial("Index/_OnlineUserOverview", Model)
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="activeTab" value="@SessionFacade.ActiveTab" />
