@using DH.Helpdesk.Web
@model DH.Helpdesk.Web.Areas.Admin.Models.QuickLinkIndexViewModel
@{
    ViewBag.Title = "";
}
@Scripts.Render(BundleConfig.ScriptNames.QuickLinks)

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Lägg till") + " " + Translation.GetCoreTextTranslation("Snabblänk"), "new", new {customerId = Model.Customer.Id}, new {@class = "btn"})</li>
        </ul>
    </div>
    @Html.Partial("_MasterDataPanel", Model.Customer)
</div>
@Html.HiddenFor(m => m.Customer.Id, new {id = "qlCustomerId"})
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.GetCoreTextTranslation("Snabblänk") - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <table class="tableform">
                    <tr>
                        <td style="width:100px">
                            @Translation.GetCoreTextTranslation("Grupp")
                        </td>
                        <td>
                            <select id="quickLinkFilterGroup" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                @foreach (var e in Model.LinkGroups)
                                {
                                        <option value="@e.Id">@e.LinkGroupName</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <table class="tableform">
                    <tr>
                        <td style="width:100px">
                            @Translation.GetCoreTextTranslation("Sök")
                        </td>
                        <td>
                            <input type="text" id="quickLinkSearch" maxlength="50" style="width: 285px;" value=""/>
                            <input type="button" id="btnQuickLinkSearch" class="btn" value="@Translation.GetCoreTextTranslation("Sök")"/>
                        </td>
                    </tr>
                </table>
                @Html.Partial("_QuickLinksRows", Model.Links)
            </div>
        </div>
    </div>
</div>
