@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@{
    Layout = null;
}
<table class="table-full-width">
    <tr>
        <td style="width: 50%; min-width: 50%;">@Model.DocumentData.EmployerSignatureText

            @if (!string.IsNullOrEmpty(Model.Department.HeadOfDepartmentSignature))
            {
            <div><img style="max-height:80px;" src="@Model.Contract.BaseUrl@Model.Department.HeadOfDepartmentSignature" /></div>
            }
            else
            {
                
            }
    </td>
        <td style="width: 50%; min-width: 50%;">@Model.DocumentData.EmployeeSignatureText
        </td>
    </tr>
    <tr>
        <td>@CustomPdfPage.IsEmpty(@Model.Department.HeadOfDepartmentName, "Name")<br />@CustomPdfPage.IsEmpty(@Model.Department.HeadOfDepartmentTitle, "Job Name")</td>
        <td>@Model.GetDocumentAnswer("FirstName", true)@if (!string.IsNullOrEmpty(Model.GetAnswer("Prefixes")))
                                                   {<text>&nbsp;</text>@Model.GetAnswer("Prefixes")} @Model.GetDocumentAnswer("LastName", true)
        </td>
    </tr>
</table> @{ if (Request.QueryString["debug"] == "1")
            {
                @Model.Contract.BaseUrl@Model.Department.HeadOfDepartmentSignature 
            }}