@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    ViewBag.Title = Model.Translate("Netherlands") + " - " + Model.Translate("Termination Basic");
}

@section Script {
    <script type="text/javascript">

        //$(function () {
        //    validate.run(20);
        //});

    </script>

     @Html.Partial("_Validate", Model)
}
@using (Html.BeginForm("new", "TerminationBasic", FormMethod.Post, new { area = "Netherlands", novalidate = "novalidate" }))
{
     @Html.Partial("_GlobalNavRev", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")  
        @Html.Partial("_ErrorMessage", Model)    
        <ul class="nav nav-tabs">
            @if (Model.VisibleTab("#ServiceRequestDetails"))
            {
                <li class="active @(Model.TabHasError("#ServiceRequestDetails") ? "error" : "")">
                    <a href="#ServiceRequestDetails">@Model.Translate("Service Request Details")</a></li>
            }
            @if (Model.VisibleTab("#Complete"))
            {
                <li class="@(Model.TabHasError("#Complete") ? "error" : "")">
                    <a href="#Complete">@Model.Translate("Complete Termination Details")</a></li>
            }
            
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content">   
                                               
                     @if(Model.VisibleTab("#servicerequestdetails"))
                     {
                     @Html.Partial("_TabServiceRequestDetails", Model)
                     }
                     @if (Model.VisibleTab("#Complete"))
                     {
                        @Html.Partial("_TabComplete", Model)                    
                     }
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="@Model.ActiveTab" />
    <input type="hidden" id="formGuid" value="@Model.FormGuid" />
}
@Html.Partial("_Scripts", Model)