@using DH.Helpdesk.BusinessData.Models.Inventory.Edit.Settings
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.Inventory.InventoryFieldSettingsEditViewModel

<script type="text/javascript">
    $(function () {
        var parameters = {
            saveSettingsUrl: '@Url.Action("InventorySettings")',
            settingsSavedSuccessfullyMessage: '@Translation.GetForJS("Settings saved successfully.")'
        };
        var inventoryParameters = {
            textModeId: '@((int)FieldTypes.Text)'
        };

        applySettingsBehavior(parameters);
        applyInventorySettingsBehavior(inventoryParameters);
    });

    $.validator.setDefaults({
        ignore: ""
    });

</script>

@using (Ajax.BeginForm("InventorySettings", "InventorySettings", new AjaxOptions { UpdateTargetId = "settings_container", OnSuccess = "updateForm(); onSettingsSavedSuccessfully();", HttpMethod = "POST" }, new { id = "settings_form" }))
{
    <ul class="nav nav-tabs" id="problem_tab">
        <li class="active">
            <a href="#fragment-1">@Html.DisplayFor(x => x.InventoryTypeModel.Name)
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane tab-pane-border active" id="fragment-1">
            @Html.EditorFor(m => m.InventoryTypeModel)
            @Html.EditorFor(m => m.InventoryFieldSettingsViewModel, "Settings/InventorySettings")
        </div>
    </div>
}
