@model dhHelpdesk_NG.Web.Models.Changes.InputModel.AnalyzeModel
           
<table class="tableform">
    <tr>
        <td class="span3">
            @Html.LabelFor(m => m.Category)        
        </td>
        <td class="span9">
            @Html.DropDownListFor(m => m.CategoryId, Model.Category)        
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Priority)        
        </td>
        <td>
            @Html.DropDownListFor(m => m.PriorityId, Model.Priority)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Responsible)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ResponsibleId, Model.Responsible)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Solution)
        </td>
        <td>
            @Html.TextAreaFor(m => m.Solution)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Cost)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Cost)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.YearlyCost)
        </td>
        <td>
            @Html.TextBoxFor(m => m.YearlyCost)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Currency)
        </td>
        <td>
            @Html.DropDownListFor(m => m.CurrencyId, Model.Currency)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.TimeEstimatesHours)
        </td>
        <td>
            @Html.TextBoxFor(m => m.TimeEstimatesHours)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Risk)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Risk)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.StartDate)
        </td>
        <td>
            @Html.EditorFor(m => m.StartDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.EndDate)
        </td>
        <td>
            @Html.EditorFor(m => m.EndDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.HasImplementationPlan)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.HasImplementationPlan)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.HasRecoveryPlan)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.HasRecoveryPlan)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Approved)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ApprovedValue, Model.Approved)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ChangeRecommendation)
        </td>
        <td>
            @Html.TextAreaFor(m => m.ChangeRecommendation)        
        </td>
    </tr>
</table>