@using dhHelpdesk_NG.DTO.Enums.Changes
@using dhHelpdesk_NG.Web.Models
@using dhHelpdesk_NG.Web.Models.Changes
@model dhHelpdesk_NG.Web.Models.Changes.InputModel.AnalyzeModel
       
<script type="text/javascript">
    function A(result) {
        for (var i = 0; i < result.length; i++) {
            console.log(result[i]);
        }
    }

    $(function () {
        $('#send_to_button').button().click(function() {
            $('#send_to_dialog').dialog('open');
        });

        $('#analyze_approve_dropdown').change(function() {
            var selectedValue = $(this).val();
            if (selectedValue == '@AnalyzeApproveResult.Rejected') {
                $('#analyze_reject_explanation_textarea').show();
            } else {
                $('#analyze_reject_explanation_textarea').hide();
            }
        });
    });
</script>

<table class="tableform">
    <tr>
        <td class="span3">
            @Html.LabelFor(m => m.Category)        
        </td>
        <td class="span9">
            @Html.DropDownListFor(m => m.CategoryId, Model.Category)        
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.RelatedChanges)
        </td>
        <td>
            @Html.DropDownListFor(m => m.RelatedChangeIds, Model.RelatedChanges, new { @class = "multiselect multiselect-search", multiple = "multiple" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Priority)        
        </td>
        <td>
            @Html.DropDownListFor(m => m.PriorityId, Model.Priority)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Responsible)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ResponsibleId, Model.Responsible)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Solution)
        </td>
        <td>
            @Html.TextAreaFor(m => m.Solution)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Cost)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Cost)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.YearlyCost)
        </td>
        <td>
            @Html.TextBoxFor(m => m.YearlyCost)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Currency)
        </td>
        <td>
            @Html.DropDownListFor(m => m.CurrencyId, Model.Currency)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.TimeEstimatesHours)
        </td>
        <td>
            @Html.TextBoxFor(m => m.TimeEstimatesHours)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Risk)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Risk)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.StartDate)
        </td>
        <td>
            @Html.EditorFor(m => m.StartDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.EndDate)
        </td>
        <td>
            @Html.EditorFor(m => m.EndDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.HasImplementationPlan)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.HasImplementationPlan)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.HasRecoveryPlan)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.HasRecoveryPlan)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.AttachedFilesContainer)
        </td>
        <td>
            @Html.Partial("AttachedFilesContainer", Model.AttachedFilesContainer)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Approved)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ApprovedValue, Model.Approved, new { id = "analyze_approve_dropdown" })
        </td>
    </tr>
    <tr id="analyze_reject_explanation_textarea">
        <td>
            @Html.LabelFor(m => m.ChangeRecommendation)
        </td>
        <td>
            @Html.TextAreaFor(m => m.ChangeRecommendation)        
        </td>
    </tr>
</table>

@Html.Partial("Logs", new List<LogModel>())

@Html.Partial("SendToDialog",

new SendToDialogModel(
    new MultiSelectList(new List<object> { new { Name = "Group 1", Value = "1" }, new { Name = "Group 2", Value = "2" } }, "Value", "Name"), 
    new List<GroupEmailsModel> { new GroupEmailsModel(1, new List<string> { "e1@.d.com", "e2@.d.com" }), new GroupEmailsModel(2, new List<string> { "e1@d.com" }) }, 
    new MultiSelectList(new List<object>()), 
    new List<GroupEmailsModel>(), 
    new MultiSelectList(new List<object>())), new ViewDataDictionary(new ViewDataDictionary{{"Id", "send_to_dialog"}, {"Callback", "A"}}))

<button id="send_to_button" class="btn">@Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)</button>