
@using DH.Helpdesk.BusinessData.Enums.Changes.ApprovalResult
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.AnalyzeModel
       
<table class="tableform">
    @if (Model.Category.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Category.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.CategoryId, Model.Category.Value)        
            </td>
        </tr>
    }
    <tr>
        <td class="span3">
            @Html.LabelFor(m => m.RelatedChanges)
        </td>
        <td class="span9">
            @Html.DropDownListFor(m => m.RelatedChangeIds, Model.RelatedChanges, new { @class = "multiselect multiselect-search", multiple = "multiple" })
        </td>
    </tr>
    @if (Model.Priority.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Priority.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.PriorityId, Model.Priority.Value)
            </td>
        </tr>
    }
    @if (Model.Responsible.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Responsible.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.ResponsibleId, Model.Responsible.Value)
            </td>
        </tr>
    }
    @if (Model.Solution.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Solution.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Solution.Value)
            </td>
        </tr>
    }
    @if (Model.Cost.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Cost.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Cost.Value)
            </td>
        </tr>
    }
    @if (Model.YearlyCost.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.YearlyCost.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.YearlyCost.Value)
            </td>
        </tr>
    }
    @if (Model.Cost.Show || Model.YearlyCost.Show)
    {
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Currency)
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.CurrencyId, Model.Currency)
            </td>
        </tr>
    }
    @if (Model.EstimatedTimeInHours.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.EstimatedTimeInHours.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.EstimatedTimeInHours.Value)
            </td>
        </tr>
    }
    @if (Model.Risk.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Risk.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Risk.Value)
            </td>
        </tr>
    }
    @if (Model.StartDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.StartDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.EditorFor(m => m.StartDate.Value)
            </td>
        </tr>
    }
    @if (Model.FinishDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.FinishDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.EditorFor(m => m.FinishDate.Value)
            </td>
        </tr>
    }
    @if (Model.HasImplementationPlan.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.HasImplementationPlan.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.HasImplementationPlan.Value)
            </td>
        </tr>
    }
    @if (Model.HasRecoveryPlan.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.HasRecoveryPlan.Caption, Enums.TranslationSource.TextTranslation)</label> 
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.HasRecoveryPlan.Value)
            </td>
        </tr>
    }
    @if (Model.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AttachedFiles.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>    
            <td class="span9">
                <div id="analyze_files_uploader"></div>        
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.Logs.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Logs.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div id="analyze_logs_container">
                    @Html.Partial("Logs", Model.Logs.Value)
                </div>        
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a id="analyze_send_to_button" class="btn">
                    @Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)
                </a>
                @Html.Partial("SendToDialog", Model.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "analyze_send_to_dialog" }, { "Callback", "f1" } }))
            </td>
        </tr>
    }
    @if (Model.Approval.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Approval.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.ApprovalValue, Model.Approval.Value, new { id = "analyze_approval_dropdown" })
            </td>
        </tr>
        if (Model.Approval.Value.SelectedValue != null && (AnalyzeApprovalResult)Model.Approval.Value.SelectedValue == AnalyzeApprovalResult.Rejected)
        {
            <tr id="analyze_reject_explanation_textarea">
                <td>
                    <label>@Translation.Get(Model.RejectExplanation.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.RejectExplanation.Value)       
                </td>
            </tr>
        }
        else
        {
            <tr id="analyze_reject_explanation_textarea" style="display: none;">
                <td>
                    <label>@Translation.Get(Model.RejectExplanation.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.RejectExplanation.Value)        
                </td>
            </tr>
        }
    }
</table>