@using DH.Helpdesk.BusinessData.Enums.Changes
@using DH.Helpdesk.BusinessData.Enums.Changes.ApprovalResult
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Changes.Edit.AnalyzeModel
       
<table class="tableform">
    @if (Model.Category.Show)
    {
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Category)        
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.CategoryId, Model.Category.Value)        
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.LabelFor(m => m.RelatedChanges)
        </td>
        <td>
            @Html.DropDownListFor(m => m.RelatedChangeIds, Model.RelatedChanges, new { @class = "multiselect multiselect-search", multiple = "multiple" })
        </td>
    </tr>
    @if (Model.Priority.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Priority)        
            </td>
            <td>
                @Html.DropDownListFor(m => m.PriorityId, Model.Priority.Value)
            </td>
        </tr>
    }
    @if (Model.Responsible.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Responsible)
            </td>
            <td>
                @Html.DropDownListFor(m => m.ResponsibleId, Model.Responsible.Value)
            </td>
        </tr>
    }
    @if (Model.Solution.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Solution)
            </td>
            <td>
                @Html.TextAreaFor(m => m.Solution.Value)
            </td>
        </tr>
    }
    @if (Model.Cost.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Cost)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Cost.Value)
            </td>
        </tr>
    }
    @if (Model.YearlyCost.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.YearlyCost)
            </td>
            <td>
                @Html.TextBoxFor(m => m.YearlyCost.Value)
            </td>
        </tr>
    }
    @if (Model.Currency.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Currency)
            </td>
            <td>
                @Html.DropDownListFor(m => m.CurrencyId, Model.Currency.Value)
            </td>
        </tr>
    }
    @if (Model.TimeEstimatesHours.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.TimeEstimatesHours)
            </td>
            <td>
                @Html.TextBoxFor(m => m.TimeEstimatesHours.Value)
            </td>
        </tr>
    }
    @if (Model.Risk.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Risk)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Risk.Value)
            </td>
        </tr>
    }
    @if (Model.StartDate.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.StartDate)
            </td>
            <td>
                @Html.EditorFor(m => m.StartDate.Value)
            </td>
        </tr>
    }
    @if (Model.EndDate.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.EndDate)
            </td>
            <td>
                @Html.EditorFor(m => m.EndDate.Value)
            </td>
        </tr>
    }
    @if (Model.HasImplementationPlan.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.HasImplementationPlan)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.HasImplementationPlan.Value)
            </td>
        </tr>
    }
    @if (Model.HasRecoveryPlan.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.HasRecoveryPlan)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.HasRecoveryPlan.Value)
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.LabelFor(m => m.AttachedFilesContainer)
        </td>
        <td>
            @Html.Partial("AttachedFilesContainer", Model.AttachedFilesContainer)
        </td>
    </tr>
    @if (Model.Approval.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Approval)
            </td>
            <td>
                @Html.DropDownListFor(m => m.ApprovedValue, Model.Approval.Value, new { id = "analyze_approve_dropdown" })
            </td>
        </tr>
    }
    @if (Model.Approval.Value.SelectedValue != null && (AnalyzeApprovalResult)Model.Approval.Value.SelectedValue == AnalyzeApprovalResult.Rejected)
    {
        <tr id="analyze_reject_explanation_textarea">
            <td>
                @Html.LabelFor(m => m.ChangeRecommendation)
            </td>
            <td>
                @Html.TextAreaFor(m => m.ChangeRecommendation)        
            </td>
        </tr>
    }
    else
    {
        <tr id="analyze_reject_explanation_textarea" style="display: none;">
            <td>
                @Html.LabelFor(m => m.ChangeRecommendation)
            </td>
            <td>
                @Html.TextAreaFor(m => m.ChangeRecommendation)        
            </td>
        </tr>
    }
</table>

<div id="analyze_logs_container">
    @Html.Action("Logs", new { changeId = Model.ChangeId, subtopic = Subtopic.Analyze, area = string.Empty })
</div>

@Html.TextBoxFor(m => m.NewLog.Text)
<button id="analyze_send_to_button" class="btn">@Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)</button>
@Html.Partial("SendToDialog", Model.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "analyze_send_to_dialog" }, { "Callback", "f1" } }))
@Html.ListBox("SendToEmails", new List<SelectListItem>(0), new { id = "analyze_recipient_emails_listbox" })