@model dhHelpdesk_NG.Web.Models.Changes.InputModel.ChangeHeaderModel

           
@Html.LabelFor(m => m.Id)
@Html.TextBoxFor(m => m.Id)

@Html.LabelFor(m => m.Name)
@Html.TextBoxFor(m => m.Name)

@Html.LabelFor(m => m.Phone)
@Html.TextBoxFor(m => m.Phone)

@Html.LabelFor(m => m.CellPhone)
@Html.TextBoxFor(m => m.CellPhone)

@Html.LabelFor(m => m.Email)
@Html.TextBoxFor(m => m.Email)

@Html.LabelFor(m => m.Title)
@Html.TextBoxFor(m => m.Title)

@Html.LabelFor(m => m.Status)
@Html.DropDownListFor(m => m.StatusId, Model.Status)

@Html.LabelFor(m => m.System)
@Html.DropDownListFor(m => m.SystemId, Model.System)

@Html.LabelFor(m => m.Object)
@Html.DropDownListFor(m => m.ObjectId, Model.Object)

@Html.LabelFor(m => m.WorkingGroup)
@Html.DropDownListFor(m => m.WorkingGroupId, Model.WorkingGroup)

@Html.LabelFor(m => m.Administrator)
@Html.DropDownListFor(m => m.AdministratorId, Model.Administrator)

@Html.LabelFor(m => m.FinishingDate)

<div class="input-append date dateie" data-date="">
    @Html.TextBoxFor(m => m.FinishingDate, new { id = "header_finishing_date_datepicker" })
    <span class="add-on">
        <i class="icon-calendar"></i>
    </span>
</div>

@Html.LabelFor(m => m.CreatedDate)
@Html.DisplayFor(m => m.CreatedDate)

@Html.LabelFor(m => m.ChangedDate)
@Html.DisplayTextFor(m => m.ChangedDate)

@Html.LabelFor(m => m.Rss)
@Html.CheckBoxFor(m => m.Rss)