
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.EvaluationModel
 
<table class="tableform">
    @if (Model.ChangeEvaluation.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ChangeEvaluation.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.ChangeEvaluation.Value)            
            </td>
        </tr>
    }
    @if (Model.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AttachedFiles.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>    
            <td class="span9">
                <div id="evaluation_files_uploader"></div>        
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.Logs.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Logs.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div id="evaluation_logs_container">
                    @Html.Partial("Logs", Model.Logs.Value)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a id="evaluation_send_to_button" class="btn">
                    @Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)
                </a>
                @Html.Partial("_SendToDialog", Model.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "evaluation_send_to_dialog" }, { "Callback", "f3" } }))
            </td>
        </tr>
    }
    @if (Model.EvaluationReady.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.EvaluationReady.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.EvaluationReady.Value)    
            </td>
        </tr>
    }
</table>