
@model DH.Helpdesk.Web.Models.Changes.Settings.FieldSettingModel

<td>@Html.LabelFor(m => m)</td>
<td>@Html.CheckBoxFor(m => m.ShowInDetails)</td>
<td>@Html.CheckBoxFor(m => m.ShowInChanges)</td>
<td>@Html.CheckBoxFor(m => m.ShowInSelfService)</td>
<td>@Html.TextBoxFor(m => m.Caption)</td>
<td>@Html.CheckBoxFor(m => m.Required)</td>
<td></td>
<td>@Html.TextBoxFor(m => m.Bookmark)</td>