
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.GeneralModel
 
<table class="tableform">
    @Html.EditorFor(m => m.Prioritisation, "Fields/Number")
    @Html.EditorFor(m => m.Title, "Fields/Text")
    @if (Model.Statuses.Show)
    {
        <tr>
            <td class="span3">
                @Html.FieldCaption(Model.Statuses)
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.StatusId, Model.Statuses.Value)
            </td>
        </tr>
    }
    @if (Model.Systems.Show)
    {
        <tr>
            <td class="span3">
                @Html.FieldCaption(Model.Systems)
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.SystemId, Model.Systems.Value)
            </td>
        </tr>
    }
    @if (Model.Objects.Show)
    {
        <tr>
            <td class="span3">
                @Html.FieldCaption(Model.Objects)
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.ObjectId, Model.Objects.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryDialog.Show)
    {
        <tr>
            <td class="span3">
                @Html.FieldCaption(Model.InventoryDialog)
            </td>
            <td class="span9">
                <input id="general_inventory_dialog_open_button" class="btn" type="button" value="..." />
                @Html.EditorFor(m => m.InventoryDialog.Value)
            </td>
        </tr>
    }
    @if (Model.WorkingGroups.Show)
    {
        <tr>
            <td class="span3">
                @Html.FieldCaption(Model.WorkingGroups)
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.WorkingGroupId, Model.WorkingGroups.Value)
            </td>
        </tr>
    }
    @if (Model.Administrators.Show)
    {
        <tr>
            <td class="span3">
                @Html.FieldCaption(Model.Administrators)
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.AdministratorId, Model.Administrators.Value)
            </td>
        </tr>
    } 
    @Html.EditorFor(m => m.FinishingDate, "Fields/Date", new { id = "general_finishing_date_datepicker" })
    @Html.EditorFor(m => m.Rss, "Fields/Flag")
    @if (!Model.IsNew)
    {
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.CreatedDate)
            </td>
            <td class="span9">
                @Html.DisplayFor(m => m.CreatedDate)
            </td>
        </tr>
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.ChangedDate)
            </td>
            <td class="span9">
                @Html.DisplayTextFor(m => m.ChangedDate)
                @Translation.Get(" by ")
                @(Model.ChangedByUser != null ? Model.ChangedByUser.FirstName + " " + Model.ChangedByUser.LastName : Translation.Get("Unknown user"))
            </td>
        </tr>
    }
</table>