@model dhHelpdesk_NG.Web.Models.Changes.InputModel.ImplementationModel

<table class="tableform">
    <tr>
        <td class="span3">
            @Html.LabelFor(m => m.ImplementationStatus)
        </td>
        <td class="span9">
            @Html.DropDownListFor(m => m.ImplementationStatusId, Model.ImplementationStatus)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.RealStartDate)
        </td>
        <td>
            @Html.EditorFor(m => m.RealStartDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.FinishingDate)
        </td>
        <td>
            @Html.EditorFor(m => m.FinishingDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.BuildImplemented)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.BuildImplemented)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ImplementationPlanUsed)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.ImplementationPlanUsed)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ChangeDeviation)
        </td>
        <td>
            @Html.TextAreaFor(m => m.ChangeDeviation)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.RecoveryPlanUsed)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.RecoveryPlanUsed)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ImplementationReady)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.ImplementationReady)            
        </td>
    </tr>
</table>