
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.ImplementationViewModel
           
<table class="tableform">
    @if (Model.Status.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Status.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Implementation.StatusId, Model.Status.Value)
            </td>
        </tr>
    }
    @if (Model.Implementation.RealStartDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.RealStartDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.Implementation.RealStartDate.Value, new { id = "implementation_real_start_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.Implementation.FinishingDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.FinishingDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.Implementation.FinishingDate.Value, new { id = "implementation_finishing_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.Implementation.BuildImplemented.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.BuildImplemented.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.Implementation.BuildImplemented.Value)
            </td>
        </tr>
    }
    @if (Model.Implementation.ImplementationPlanUsed.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.ImplementationPlanUsed.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.Implementation.ImplementationPlanUsed.Value)
            </td>
        </tr>
    }
    @if (Model.Implementation.Deviation.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.Deviation.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Implementation.Deviation.Value)
            </td>
        </tr>
    }
    @if (Model.Implementation.RecoveryPlanUsed.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.RecoveryPlanUsed.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.Implementation.RecoveryPlanUsed.Value)
            </td>
        </tr>
    }
    @if (Model.Implementation.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.AttachedFiles.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>    
            <td class="span9">
                <div id="implementation_files_uploader"></div>        
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.Implementation.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.Implementation.Logs.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.Logs.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div id="implementation_logs_container">
                    @Html.Partial("Logs", Model.Implementation.Logs.Value)
                </div>
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Log Note", Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Implementation.LogText)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a id="implementation_send_to_button" class="btn">
                    @Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)
                </a>
                @Html.Partial("_SendToDialog", Model.Implementation.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "implementation_send_to_dialog" }, { "Callback", "fillImplementationSendToEmailsTextArea" } }))
                @Html.TextAreaFor(m => m.Implementation.SendToEmails, new { id = "implementation_send_to_emails_textarea", @readonly = "readonly" })
            </td>
        </tr>
    }
    @if (Model.Implementation.ImplementationReady.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Implementation.ImplementationReady.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.Implementation.ImplementationReady.Value)            
            </td>
        </tr>
    }
</table>