
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.ImplementationModel
           
<table class="tableform">
    @if (Model.ImplementationStatuses.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ImplementationStatuses.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.ImplementationStatusId, Model.ImplementationStatuses.Value)
            </td>
        </tr>
    }
    @if (Model.RealStartDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.RealStartDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.EditorFor(m => m.RealStartDate.Value, "DatePicker", new { id = "implementation_real_start_date_datepicker" })
            </td>
        </tr>
    }
    @if (Model.FinishingDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.FinishingDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.EditorFor(m => m.FinishingDate.Value, "DatePicker", new { id = "implementation_finishing_date_datepicker" })
            </td>
        </tr>
    }
    @if (Model.BuildImplemented.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.BuildImplemented.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.BuildImplemented.Value)
            </td>
        </tr>
    }
    @if (Model.ImplementationPlanUsed.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ImplementationPlanUsed.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.ImplementationPlanUsed.Value)
            </td>
        </tr>
    }
    @if (Model.ChangeDeviation.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ChangeDeviation.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.ChangeDeviation.Value)
            </td>
        </tr>
    }
    @if (Model.RecoveryPlanUsed.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.RecoveryPlanUsed.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.RecoveryPlanUsed.Value)
            </td>
        </tr>
    }
    @if (Model.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AttachedFiles.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>    
            <td class="span9">
                <a href="#implementation_files_uploader_popup" role="button" class="btn" data-toggle="modal">@Translation.Get("Upload")</a>
                <div id="implementation_files_uploader_popup" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>&nbsp;</h3>
                    </div>
                    <div class="modal-body">
                        <div id="implementation_files_uploader"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Close")</button>
                    </div>
                </div>
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.Logs.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Logs.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div id="implementation_logs_container">
                    @Html.Partial("Logs", Model.Logs.Value)
                </div>
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Log Note", Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Logs.Value.Text)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a id="implementation_send_to_button" class="btn">
                    @Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)
                </a>
                @Html.Partial("_SendToDialog", Model.Logs.Value.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "implementation_send_to_dialog" }, { "Callback", "fillImplementationSendLogNoteToEmailsTextArea" } }))
                @Html.TextAreaFor(m => m.Logs.Value.Emails, new { id = "implementation_send_to_emails_textarea", @readonly = "readonly" })
            </td>
        </tr>
    }
    @if (Model.ImplementationReady.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ImplementationReady.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.ImplementationReady.Value)            
            </td>
        </tr>
    }
</table>