
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.ImplementationModel
           
<table class="tableform">
    @if (Model.Status.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Status.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.StatusId, Model.Status.Value)
            </td>
        </tr>
    }
    @if (Model.RealStartDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.RealStartDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.RealStartDate.Value, new { id = "implementation_real_start_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.FinishingDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.FinishingDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.FinishingDate.Value, new { id = "implementation_finishing_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.BuildImplemented.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.BuildImplemented.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.BuildImplemented.Value)
            </td>
        </tr>
    }
    @if (Model.ImplementationPlanUsed.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ImplementationPlanUsed.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.ImplementationPlanUsed.Value)
            </td>
        </tr>
    }
    @if (Model.Deviation.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Deviation.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Deviation.Value)
            </td>
        </tr>
    }
    @if (Model.RecoveryPlanUsed.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.RecoveryPlanUsed.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.RecoveryPlanUsed.Value)
            </td>
        </tr>
    }
    @if (Model.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AttachedFiles.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>    
            <td class="span9">
                <div id="implementation_files_uploader"></div>        
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.Logs.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Logs.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div id="implementation_logs_container">
                    @Html.Partial("Logs", Model.Logs.Value)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a id="implementation_send_to_button" class="btn">
                    @Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)
                </a>
                @Html.Partial("_SendToDialog", Model.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "implementation_send_to_dialog" }, { "Callback", "f2" } }))
            </td>
        </tr>
    }
    @if (Model.ImplementationReady.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ImplementationReady.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.ImplementationReady.Value)            
            </td>
        </tr>
    }
</table>