@using dhHelpdesk_NG.DTO.Enums.Changes
@model dhHelpdesk_NG.Web.Models.Changes.Edit.ImplementationModel
           
<script type="text/javascript">
    function f2(selectedEmails) {
        for (var i = 0; i < selectedEmails.length; i++) {
            var email = selectedEmails[i];
            $('#implementation_recipient_emails_listbox').append('<option value="' + email + '">' + email + '</option>');
        }
    }
</script>

<table class="tableform">
    @if (Model.ImplementationStatus.Show)
    {
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.ImplementationStatus)
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.ImplementationStatusId, Model.ImplementationStatus.Value)
            </td>
        </tr>
    }
    @if (Model.RealStartDate.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.RealStartDate)
            </td>
            <td>
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.RealStartDate.Value, new { id = "implementation_real_start_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.FinishingDate.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.FinishingDate)
            </td>
            <td>
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.FinishingDate.Value, new { id = "implementation_finishing_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.BuildImplemented.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.BuildImplemented)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.BuildImplemented.Value)
            </td>
        </tr>
    }
    @if (Model.ImplementationPlanUsed.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.ImplementationPlanUsed)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.ImplementationPlanUsed.Value)
            </td>
        </tr>
    }
    @if (Model.ChangeDeviation.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.ChangeDeviation)
            </td>
            <td>
                @Html.TextAreaFor(m => m.ChangeDeviation.Value)
            </td>
        </tr>
    }
    @if (Model.RecoveryPlanUsed.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.RecoveryPlanUsed)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.RecoveryPlanUsed.Value)
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.LabelFor(m => m.AttachedFilesContainer)
        </td>
        <td>
            @Html.Partial("AttachedFilesContainer", Model.AttachedFilesContainer)
        </td>
    </tr>
    @if (Model.ImplementationReady.Show)
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.ImplementationReady)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.ImplementationReady.Value)            
            </td>
        </tr>
    }
</table>

<div id="implementation_logs_container">
    @Html.Action("Logs", new { changeId = Model.ChangeId, subtopic = Subtopic.Implementation, area = string.Empty })
</div>

@Html.TextBoxFor(m => m.NewLog.Text)
<button id="implementation_send_to_button" class="btn">@Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)</button>
@Html.Partial("SendToDialog", Model.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "implementation_send_to_dialog" }, { "Callback", "f2" } }))
@Html.ListBox("SendToEmails", new List<SelectListItem>(0), new { id = "implementation_recipient_emails_listbox" })