@using dhHelpdesk_NG.DTO.Enums.Changes
@using dhHelpdesk_NG.Web.Models.Changes
@model dhHelpdesk_NG.Web.Models.Changes.InputModel.ImplementationModel
           
<script type="text/javascript">
    $(function() {
        $('#implementation_send_to_button').button().click(function() {
            $('#implementation_send_to_dialog').dialog('open');
        });
    });

    function f2(selectedEmails) {
        for (var i = 0; i < selectedEmails.length; i++) {
            var email = selectedEmails[i];
            $('#implementation_recipient_emails_listbox').append('<option value="' + email + '">' + email + '</option>');
        }
    }
</script>

<table class="tableform">
    <tr>
        <td class="span3">
            @Html.LabelFor(m => m.ImplementationStatus)
        </td>
        <td class="span9">
            @Html.DropDownListFor(m => m.ImplementationStatusId, Model.ImplementationStatus)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.RealStartDate)
        </td>
        <td>
            @Html.EditorFor(m => m.RealStartDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.FinishingDate)
        </td>
        <td>
            @Html.EditorFor(m => m.FinishingDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.BuildImplemented)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.BuildImplemented)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ImplementationPlanUsed)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.ImplementationPlanUsed)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ChangeDeviation)
        </td>
        <td>
            @Html.TextAreaFor(m => m.ChangeDeviation)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.RecoveryPlanUsed)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.RecoveryPlanUsed)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.AttachedFilesContainer)
        </td>
        <td>
            @Html.Partial("AttachedFilesContainer", Model.AttachedFilesContainer)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ImplementationReady)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.ImplementationReady)            
        </td>
    </tr>
</table>

@Html.Action("Logs", new { changeId = Model.ChangeId, subtopic = Subtopic.Implementation, area = string.Empty })
@Html.Partial("SendToDialog", Model.SendToDialog, new ViewDataDictionary(new ViewDataDictionary { { "Id", "implementation_send_to_dialog" }, { "Callback", "f2" } }))
<button id="implementation_send_to_button" class="btn">@Translation.Get("Send to...", Enums.TranslationSource.TextTranslation)</button>
@Html.ListBox("SendToEmails", new List<SelectListItem>(0), new { id = "implementation_recipient_emails_listbox" })