
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.InputModel

@Html.HiddenFor(m => m.Id)
<div class="container">
    <table class="tableform">
        <tr>
            <td class="span8">@Html.EditorFor(m => m.OrdererModel)</td>
            <td>@Html.EditorFor(m => m.GeneralModel)</td>
        </tr>
    </table>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#fragment-1">@Translation.Get("Registration", Enums.TranslationSource.TextTranslation)</a>
        </li>
        @if (Model.IsNew)
        {
            <li class="inactive">
                @Translation.Get("Analyze", Enums.TranslationSource.TextTranslation)
            </li>
            <li class="inactive">
                @Translation.Get("Implementation", Enums.TranslationSource.TextTranslation)
            </li>
            <li class="inactive">
                @Translation.Get("Evaluation", Enums.TranslationSource.TextTranslation)
            </li>
            <li class="inactive">
                @Translation.Get("History", Enums.TranslationSource.TextTranslation)
            </li>
        }
        else
        {
            <li>
                <a href="#fragment-2">@Translation.Get("Analyze", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-3">@Translation.Get("Implementation", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-4">@Translation.Get("Evaluation", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-5">@Translation.Get("History", Enums.TranslationSource.TextTranslation)</a>
            </li>
        }
        <li>
            <a href="#fragment-6">@Translation.Get("Log", Enums.TranslationSource.TextTranslation)</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="fragment-1" class="tab-pane tab-pane-border active">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        @Html.EditorFor(m => m.RegistrationModel)
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsNew)
        {
            <div id="fragment-2" class="tab-pane tab-pane-border"></div>
            <div id="fragment-3" class="tab-pane tab-pane-border"></div>
            <div id="fragment-4" class="tab-pane tab-pane-border"></div>
            <div id="fragment-5" class="tab-pane tab-pane-border"></div>
        }
        else
        {
            <div id="fragment-2" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.EditorFor(m => m.AnalyzeModel)
                        </div>
                    </div>
                </div>
            </div>
            <div id="fragment-3" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.EditorFor(m => m.ImplementationModel)
                        </div>
                    </div>
                </div>
            </div>

            <div id="fragment-4" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.EditorFor(m => m.Evaluation)
                        </div>
                    </div>
                </div>
            </div>
            <div id="fragment-5" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.DisplayFor(m => m.History)
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="fragment-6" class="tab-pane tab-pane-border">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        @(Model.IsNew ? Html.EditorFor(m => m.Log, "NewLog") : Html.EditorFor(m => m.Log, "ExistingLog"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
