
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.InputModel

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Context.CustomerId, new { id = "change_customerId"})

<div class="container">
    <table class="tableform">
        <tr>
            @if (Model.Orderer.Id.Show || Model.Orderer.Name.Show || Model.Orderer.Phone.Show || Model.Orderer.CellPhone.Show || Model.Orderer.Departments.Show)
            {
                <td class="span8">
                    @Html.EditorFor(m => m.Orderer)
                </td>
            }
            <td>
                @Html.EditorFor(m => m.General)
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#fragment-1">@Translation.Get("Registrering")</a>
        </li>
        @if (Model.IsNew)
        {
            <li class="inactive">
                @Translation.Get("Analys")
            </li>
            <li class="inactive">
                @Translation.Get("Implementation")
            </li>
            <li class="inactive">
                @Translation.Get("Utvärdering")
            </li>
        }
        else
        {
            <li>
                <a href="#fragment-2">@Translation.Get("Analys")</a>
            </li>
            <li>
                <a href="#fragment-3">@Translation.Get("Implementation")</a>
            </li>
            <li>
                <a href="#fragment-4">@Translation.Get("Utvärdering")</a>
            </li>
        }
        <li>
            <a href="#fragment-6">@Translation.Get("Logg")</a>
        </li>
        @if (Model.IsNew)
        {
            <li class="inactive">
                @Translation.Get("Historik")
            </li>
        }
        else
        {
            <li>
                <a href="#fragment-5">@Translation.Get("Historik")</a>
            </li>            
        }
    </ul>
    <div class="tab-content">
        <div id="fragment-1" class="tab-pane tab-pane-border active">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        @Html.EditorFor(m => m.Registration)
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsNew)
        {
            <div id="fragment-2" class="tab-pane tab-pane-border"></div>
            <div id="fragment-3" class="tab-pane tab-pane-border"></div>
            <div id="fragment-4" class="tab-pane tab-pane-border"></div>
        }
        else
        {
            <div id="fragment-2" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.EditorFor(m => m.Analyze)
                        </div>
                    </div>
                </div>
            </div>
            <div id="fragment-3" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.EditorFor(m => m.Implementation)
                        </div>
                    </div>
                </div>
            </div>

            <div id="fragment-4" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.EditorFor(m => m.Evaluation)
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="fragment-6" class="tab-pane tab-pane-border">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        @(Model.IsNew ? Html.EditorFor(m => m.Log, "NewLog") : Html.EditorFor(m => m.Log, "ExistingLog"))
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsNew)
        {
            <div id="fragment-5" class="tab-pane tab-pane-border"></div>
        }
        else
        {
            <div id="fragment-5" class="tab-pane tab-pane-border">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @Html.DisplayFor(m => m.History)
                        </div>
                    </div>
                </div>
            </div>            
        }
    </div>
</div>