
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.OrdererModel
 
<table class="tableform">
    @Html.EditorFor(m => m.Id, "Fields/Text")
    @Html.EditorFor(m => m.Name, "Fields/Text")
    @Html.EditorFor(m => m.Phone, "Fields/Text")
    @Html.EditorFor(m => m.CellPhone, "Fields/Text")
    @Html.EditorFor(m => m.Email, "Fields/Text")
    
    @if (Model.Departments.Show)
    {
        <tr>
            <td class="span3">
                @Translation.Get(Model.Departments.Caption, Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Html.DropDownListFor(m => m.DepartmentId, Model.Departments.Value)
            </td>
        </tr>
    }
</table>