@model dhHelpdesk_NG.Web.Models.Changes.InputModel.RegistrationModel

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#contact_1_tab">@Translation.Get("Contact 1", Enums.TranslationSource.TextTranslation)</a>
        </li>
        <li>
            <a href="#contact_2_tab">@Translation.Get("Contact 2", Enums.TranslationSource.TextTranslation)</a>
        </li>
        <li>
            <a href="#contact_3_tab">@Translation.Get("Contact 3", Enums.TranslationSource.TextTranslation)</a>
        </li>
        <li>
            <a href="#contact_4_tab">@Translation.Get("Contact 4", Enums.TranslationSource.TextTranslation)</a>
        </li>
        <li>
            <a href="#contact_5_tab">@Translation.Get("Contact 5", Enums.TranslationSource.TextTranslation)</a>
        </li>
        <li>
            <a href="#contact_6_tab">@Translation.Get("Contact 6", Enums.TranslationSource.TextTranslation)</a>
        </li>
    </ul>
    <div class="tab-content">
    </div>
</div>           

<table class="tableform">
    <tr>
        <td class="span3">
            @Html.LabelFor(m => m.Owner)
        </td>
        <td class="span9">
            @Html.DropDownListFor(m => m.OwnerId, Model.Owner)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ProcessesAffected)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ProcessAffectedIds, Model.ProcessesAffected, new { @class = "multiselect multiselect-search", multiple = "multiple" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.DepartmentsAffected)
        </td>
        <td>
            @Html.DropDownListFor(m => m.DepartmentAffectedIds, Model.DepartmentsAffected, new { @class = "multiselect multiselect-search", multiple = "multiple" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Description)
        </td>
        <td>
            @Html.TextAreaFor(m => m.Description)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.BusinessBenefits)
        </td>
        <td>
            @Html.TextAreaFor(m => m.BusinessBenefits)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Consequence)
        </td>
        <td>
            @Html.TextAreaFor(m => m.Consequence)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Impact)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Impact)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.DesiredDate)
        </td>
        <td>
            @Html.EditorFor(m => m.DesiredDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Verified)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.Verified)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Approved)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ApprovedValue, Model.Approved)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ApprovableExplanation)
        </td>
        <td>
            @Html.TextAreaFor(m => m.ApprovableExplanation)            
        </td>
    </tr>
</table>