@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.RegistrationModel
           
<table class="tableform">
    @Html.EditorFor(m => m.Contacts, "Contacts/ContactsModel")
    @if (Model.Owners.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Owners.Caption)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.OwnerId, Model.Owners.Value)
            </td>
        </tr>
    }
    @if (Model.AffectedProcesses.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AffectedProcesses.Caption)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.AffectedProcessIds, Model.AffectedProcesses.Value, new { @class = "multiselect multiselect-search", multiple = "multiple" })
            </td>
        </tr>
    }
    @if (Model.AffectedDepartments.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AffectedDepartments.Caption)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.AffectedDepartmentIds, Model.AffectedDepartments.Value, new { @class = "multiselect multiselect-search", multiple = "multiple" })
            </td>
        </tr>
    }
    @Html.EditorFor(m => m.Description, "Fields/WideText")
    @Html.EditorFor(m => m.BusinessBenefits, "Fields/WideText")
    @Html.EditorFor(m => m.Consequence, "Fields/WideText")
    @Html.EditorFor(m => m.Impact, "Fields/WideText")
    @Html.EditorFor(m => m.DesiredDate, "Fields/Date", new { id = "registration_desired_date_datepicker" })
    @Html.EditorFor(m => m.Verified, "Fields/Flag")
    @if (Model.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AttachedFiles.Caption)</label>
            </td>    
            <td class="span9">
                <a href="#registration_files_uploader_popup" role="button" class="btn" data-toggle="modal">@Translation.Get("Upload")</a>
                <div id="registration_files_uploader_popup" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>&nbsp;</h3>
                    </div>
                    <div class="modal-body">
                        <div id="registration_files_uploader"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Close")</button>
                    </div>
                </div>
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.ApprovalResults.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ApprovalResults.Caption)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.ApprovalValue, Model.ApprovalResults.Value)
            </td>
        </tr>
        <tr>
            <td>
                <label>@Translation.Get(Model.RejectExplanation.Caption)</label>
            </td>
            <td>
                @Html.TextAreaFor(m => m.RejectExplanation.Value)            
            </td>
        </tr>        
    }
</table>