
@using DH.Helpdesk.BusinessData.Enums.Changes
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.RegistrationViewModel
           
<table class="tableform">
    @Html.EditorFor(m => m.Registration.Contacts)
    
    @if (Model.Owners.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Owners.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Registration.OwnerId, Model.Owners.Value)
            </td>
        </tr>
    }
    @if (Model.AffectedProcesses.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AffectedProcesses.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Registration.AffectedProcessIds, Model.AffectedProcesses.Value, new { @class = "multiselect multiselect-search", multiple = "multiple" })
            </td>
        </tr>
    }
    @if (Model.AffectedDepartments.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AffectedDepartments.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Registration.AffectedDepartmentIds, Model.AffectedDepartments.Value, new { @class = "multiselect multiselect-search", multiple = "multiple" })
            </td>
        </tr>
    }
    @if (Model.Registration.Description.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Registration.Description.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Registration.Description.Value)
            </td>
        </tr>
    }
    @if (Model.Registration.BusinessBenefits.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Registration.BusinessBenefits.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Registration.BusinessBenefits.Value)
            </td>
        </tr>
    }
    @if (Model.Registration.Consequence.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Registration.Consequence.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Registration.Consequence.Value)
            </td>
        </tr>
    }
    @if (Model.Registration.Impact.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Registration.Impact.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Registration.Impact.Value)
            </td>
        </tr>
    }
    @if (Model.Registration.DesiredDateAndTime.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Registration.DesiredDateAndTime.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.Registration.DesiredDateAndTime.Value, new { id = "registration_desired_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.Registration.Verified.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Registration.Verified.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.Registration.Verified.Value)
            </td>
        </tr>
    }
    @if (Model.Registration.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Registration.AttachedFiles.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>    
            <td class="span9">
                <div id="registration_files_uploader"></div>        
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.Registration.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.ApprovalResults.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.ApprovalResults.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Registration.ApprovalValue, Model.ApprovalResults.Value, new { id = "registration_approval_dropdown" })
            </td>
        </tr>
        if (Model.ApprovalResults.Value.SelectedValue != null && (StepStatus)Model.ApprovalResults.Value.SelectedValue == StepStatus.Rejected)
        {
            <tr id="registration_reject_explanation_textarea">
                <td>
                    <label>@Translation.Get(Model.Registration.RejectExplanation.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Registration.RejectExplanation.Value)            
                </td>
            </tr>
        }
        else
        {
            <tr id="registration_reject_explanation_textarea" style="display: none;">
                <td>
                    <label>@Translation.Get(Model.Registration.RejectExplanation.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Registration.RejectExplanation.Value)            
                </td>
            </tr>
        }
    }
</table>