
@using DH.Helpdesk.BusinessData.Enums.Changes
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.RegistrationModel
           
<table class="tableform">
    @if (Model.Owner.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Owner.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.OwnerId, Model.Owner.Value)
            </td>
        </tr>
    }
    @if (Model.AffectedProcesses.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AffectedProcesses.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.AffectedProcessIds, Model.AffectedProcesses.Value, new { @class = "multiselect multiselect-search", multiple = "multiple" })
            </td>
        </tr>
    }
    @if (Model.AffectedDepartments.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AffectedDepartments.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.AffectedDepartmentIds, Model.AffectedDepartments.Value, new { @class = "multiselect multiselect-search", multiple = "multiple" })
            </td>
        </tr>
    }
    @if (Model.Description.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Description.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Description.Value)
            </td>
        </tr>
    }
    @if (Model.BusinessBenefits.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.BusinessBenefits.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.BusinessBenefits.Value)
            </td>
        </tr>
    }
    @if (Model.Consequence.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Consequence.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Consequence.Value)
            </td>
        </tr>
    }
    @if (Model.Impact.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Impact.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Impact.Value)
            </td>
        </tr>
    }
    @if (Model.DesiredDateAndTime.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.DesiredDateAndTime.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                <div class="input-append date dateie" data-date="">
                    @Html.TextBoxFor(m => m.DesiredDateAndTime.Value, new { id = "registration_desired_date_datepicker" })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </td>
        </tr>
    }
    @if (Model.Verified.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Verified.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.CheckBoxFor(m => m.Verified.Value)
            </td>
        </tr>
    }
    @if (Model.AttachedFiles.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.AttachedFiles.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>    
            <td class="span9">
                <div id="registration_files_uploader"></div>        
            </td>    
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.Partial("AttachedFiles", Model.AttachedFiles.Value)
            </td>
        </tr>
    }
    @if (Model.Approval.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Approval.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.ApprovalValue, Model.Approval.Value, new { id = "registration_approval_dropdown" })
            </td>
        </tr>
        if (Model.Approval.Value.SelectedValue != null && (StepStatus)Model.Approval.Value.SelectedValue == StepStatus.Rejected)
        {
            <tr id="registration_reject_explanation_textarea">
                <td>
                    <label>@Translation.Get(Model.RejectExplanation.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.RejectExplanation.Value)            
                </td>
            </tr>
        }
        else
        {
            <tr id="registration_reject_explanation_textarea" style="display: none;">
                <td>
                    <label>@Translation.Get(Model.RejectExplanation.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.RejectExplanation.Value)            
                </td>
            </tr>
        }
    }
</table>