
@using DH.Helpdesk.BusinessData.Enums.Changes
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.ConfigurableFieldModel<SelectList>
           
@if (!Model.Show)
{
    return;
}
   
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m, Model.Value, new { id = "registration_approval_dropdown" })
            </td>
        </tr>
        @if (Model.Value.SelectedValue != null && (StepStatus)Model.Value.SelectedValue == StepStatus.Rejected)
        {
            <tr id="registration_reject_explanation_textarea">
                <td>
                    <label>@Translation.Get(Model.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Value)            
                </td>
            </tr>
        }
        else
        {
            <tr id="registration_reject_explanation_textarea" style="display: none;">
                <td>
                    <label>@Translation.Get(Model.Caption, Enums.TranslationSource.TextTranslation)</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Value)            
                </td>
            </tr>
        }