@model dhHelpdesk_NG.Web.Models.Changes.StringFieldSettingModel

<td>@this.Html.LabelFor(m => m)</td>
<td>@this.Html.CheckBoxFor(m => m.ShowInDetails)</td>
<td>@this.Html.CheckBoxFor(m => m.ShowInChanges)</td>
<td>@this.Html.CheckBoxFor(m => m.ShowInSelfService)</td>
<td>@this.Html.TextBoxFor(m => m.Caption)</td>
<td>@this.Html.CheckBoxFor(m => m.Required)</td>
<td>@this.Html.TextBoxFor(m => m.DefaultValue)</td>
<td>@this.Html.TextBoxFor(m => m.Bookmark)</td>