@model DH.Helpdesk.Web.Areas.Admin.Models.Invoice.CaseInvoiceSettingsModel
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li><a id="save_case_invoice_settings" class="btn">@Translation.Get("Spara")</a></li>
        </ul>
    </div>    
    @Html.Partial("_MasterDataPanel", Model.Customer)
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Settings")</a></li>            
            <li><a href="#fragment-2">@Translation.Get("Articles import")</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
               @Html.EditorFor(m => m.Settings)
            </div>            
            <div class="tab-pane tab-pane-border" id="fragment-2">
                @Html.EditorFor(m => m.ArticlesImport)
            </div>
        </div>        
    </div>
</div>