@using DH.Helpdesk.Mobile.Infrastructure
@model DH.Helpdesk.Mobile.Areas.Licenses.Models.Vendors.VendorsContentModel

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Försäljare")</th>
            <th>@Translation.Get("Kontakt")</th>
            <th>@Translation.Get("Telefon")</th>
            <th>@Translation.Get("E-post")</th>
            <th>@Translation.Get("Hemsida")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in Model.Vendors)
        {
            <tr>
                <td>@vendor.VendorName</td>
                <td>@vendor.VendorContact</td>
                <td>@vendor.VendorPhone</td>
                <td>@vendor.VendorEmail</td>
                <td>@vendor.VendorHomePage</td>
            </tr>
        }        
    </tbody>
</table>