@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.SelfServiceIndexViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "SelfServiceSetting", new { id = Model.Customer.Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
           <div class="secnavs fixed">
            <div class="pull-left">
                <ul class="secnav">
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "Edit", new { id = Model.Customer.Id }, new { onclick = "submitForm();return false;", @class = "btn" })</li>                
                </ul>
            </div>
            @Html.Partial("_MasterDataPanel", Model.Customer)
        </div>
    </div>
    <input type="hidden" id="customerId" value="@Model.Customer.Id" />
    
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#fragment-1">@Translation.Get("Självservice", Enums.TranslationSource.TextTranslation)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    <h4>@Translation.Get("Setting", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="formContainer">
                        <table class="tableform">
                            <tr>
                                <td class="span3">
                                    @Translation.Get("Visa på självservice", Enums.TranslationSource.TextTranslation)
                                </td>
                            </tr>                            
                            <tr style="height:30px">
                                <td></td>
                                <td>
                                    <input type="checkbox" name="customer.ShowFAQOnExternalPage" @(Model.Customer.ShowFAQOnExternalPage == 1 ? "checked=checked" : "") value="1"/>
                                    <input type="hidden" name="customer.ShowFAQOnExternalPage" value="0" />
                                    &nbsp; &nbsp; @Translation.Get("Visa FAQ på självservice", Enums.TranslationSource.TextTranslation)
                                </td>
                            </tr>
                            <tr style="height:40px">
                                <td></td>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="chkFAQOnStartPage" name="customer.ShowFAQOnExternalStartPage" @(Model.Customer.ShowFAQOnExternalStartPage > 0 ? "checked=checked" : "") value="1"/>
                                    <input type="hidden" name="customer.ShowFAQOnExternalStartPage" value="0" />
                                    &nbsp; &nbsp; @Translation.Get("Visa FAQ på självservice start sidan", Enums.TranslationSource.TextTranslation)
                                    
                                    <span id="spNums"> 
                                        &nbsp; &nbsp; @Translation.Get("Antal rader", Enums.TranslationSource.TextTranslation):     
                                      @*  @Html.DropDownListFor(m => Model.Customer.ShowFAQOnExternalStartPage, Model.StartPageFAQNums, new { style = "width: 70px;" }) *@
                                        <select id="Customer.ShowFAQOnExternalStartPage" name="Customer.ShowFAQOnExternalStartPage">                                            
                                            @if (Model.StartPageFAQNums != null)
                                            {
                                                foreach (var e in Model.StartPageFAQNums)
                                                {
                                                  <option value="@e.Value" @(e.Selected? "Selected" : "")> @e.Text </option>
                                                }
                                            }
                                        </select>
                                    </span>                                                                                                         
                                </td>
                            </tr>
                            <tr style="height:40px">
                                <td></td>
                                <td>
                                    <input type="checkbox" name="customer.ShowBulletinBoardOnExtPage" @(Model.Customer.ShowBulletinBoardOnExtPage == 1 ? "checked=checked" : "") value="1"/>
                                    <input type="hidden" name="customer.ShowBulletinBoardOnExtPage" value="0" />
                                    &nbsp; &nbsp; @Translation.Get("Visa anslagstavlan på självservice", Enums.TranslationSource.TextTranslation)
                                </td>
                            </tr>
                            <tr style="height:40px">
                                <td></td>
                                <td>
                                    <input type="checkbox" name="customer.ShowDashboardOnExternalPage" @(Model.Customer.ShowDashboardOnExternalPage == 1 ? "checked=checked" : "") value="1"/>
                                    <input type="hidden" name="customer.ShowDashboardOnExternalPage" value="0" />
                                    &nbsp; &nbsp; @Translation.Get("Visa Dashboard på självservice", Enums.TranslationSource.TextTranslation)
                                </td>
                            </tr>
                            <tr style="height:40px">
                                <td></td>
                                <td>
                                    <input type="checkbox" name="customer.PasswordRequiredOnExternalPage" @(Model.Customer.PasswordRequiredOnExternalPage == 1 ? "checked=checked" : "") value="1"/>
                                    <input type="hidden" name="customer.PasswordRequiredOnExternalPage" value="0" />
                                    &nbsp; &nbsp; @Translation.Get("Självservice kräver lösenord", Enums.TranslationSource.TextTranslation)
                                </td>
                            </tr>
                            <tr style="height:40px">
                                <td></td>
                                <td>
                                    <input type="checkbox" id="chkDoc" name="customer.ShowDocumentsOnExternalPage" @(Model.Customer.ShowDocumentsOnExternalPage == 1 ? "checked=checked" : "") value="1"/>
                                    <input type="hidden" name="customer.ShowDocumentsOnExternalPage" value="0" />
                                    &nbsp; &nbsp; @Translation.Get("Visa Documents på självservice", Enums.TranslationSource.TextTranslation)
                                </td>
                            </tr>                            
                            <tr id="docCategories">
                                <td>
                                    @Translation.Get("Dokument", Enums.TranslationSource.TextTranslation) @Translation.Get("Kategorier", Enums.TranslationSource.TextTranslation)
                                </td>
                                <td>
                                    <table>
                                        <tr>                                           
                                            <td>@Translation.Get("Tillgängliga", Enums.TranslationSource.TextTranslation)</td>
                                            <td></td>
                                            <td>@Translation.Get("Valda", Enums.TranslationSource.TextTranslation)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.ListBox("AvailableCategories", Model.AvailableCategories, new { style = "width: 280px; height: 120px" })
                                            </td>
                                            <td style="vertical-align:middle">
                                                <input type="button" value="&lt;" class="btn" id="removeCat" />
                                                <input type="button" value="&gt;" class="btn" id="addCat" />
                                            </td>
                                            <td>
                                                @Html.ListBox("SelectedCategories", Model.SelectedCategories, new { style = "width: 280px; height: 120px" })
                                            </td>
                                        </tr>
                                    </table>                                    
                                </td>                                
                            </tr>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">

        if ('@Model.Customer.ShowDocumentsOnExternalPage' == 1)
            $('#docCategories').show()
        else
            $('#docCategories').hide();

        if ('@Model.Customer.ShowFAQOnExternalStartPage ' > 0) {
            $('#spNums').show();
            $('#StartPageFAQNums').show()
        }
        else {
            $('#spNums').hide();
            $('#StartPageFAQNums').hide();
        }

        $('#chkDoc').click(function () {
            if ($('#chkDoc').attr('checked')) {
                $('#docCategories').show();
            }
            else {
                $('#docCategories').hide();
            }
        });

        $('#chkFAQOnStartPage').click(function () {
            if ($('#chkFAQOnStartPage').attr('checked')) {                
                $('#spNums').show();
                $('#StartPageFAQNums').show();
            }
            else {
                $('#spNums').hide();
                $('#StartPageFAQNums').hide();
            }
        });

        $("#addCat").click(function () {
            $("#AvailableCategories option:selected").remove().appendTo("#SelectedCategories");
            $("#AvailableCategories").get(0).selectedIndex = -1;
            $("#SelectedCategories").get(0).selectedIndex = -1;
            return false;
        });

        $("#removeCat").click(function () {
            $("#SelectedCategories option:selected").remove().appendTo("#AvailableCategories");
            $("#AvailableCategories").get(0).selectedIndex = -1;
            $("#SelectedCategories").get(0).selectedIndex = -1;
            return false;
        });

        //$("Customer_ShowFAQOnExternalStartPage").change(function () {
        //    $("#SelectedCategories option").attr("selected", "selected");
        //});
           
        function submitForm() {
            $("#SelectedCategories option").attr("selected", "selected");
            $("#target").submit();
        }

    </script>
}