@using DH.Helpdesk.Web.Infrastructure

@model DH.Helpdesk.Web.Areas.Admin.Models.SelfServiceIndexViewModel
@{
    ViewBag.Title = "";
}

@using (Html.BeginForm("Edit", "SelfServiceSetting", new { id = Model.Customer.Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
           <div class="secnavs fixed">
            <div class="pull-left">
                <ul class="secnav">
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "Edit", new { id = Model.Customer.Id }, new { onclick = "submitForm();return false;", @class = "btn" })</li>                
                </ul>
            </div>
            @Html.Partial("_MasterDataPanel", Model.Customer)
        </div>
    </div>
    <input type="hidden" id="customerId" value="@Model.Customer.Id" />
    
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#fragment-1">@Translation.Get("Självservice", Enums.TranslationSource.TextTranslation)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                        <h4>@Translation.Get("Meny", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="formContainer">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Visa i menyn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowCaseOnExternalPage" @(Model.Customer.ShowCaseOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowCaseOnExternalPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Skapa ett ärende i toppmenyn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" id="chkCases" name="customer.ShowCasesOnExternalPage" @(Model.Customer.ShowCasesOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowCasesOnExternalPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Ärenden i toppmenyn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowFAQOnExternalPage" @(Model.Customer.ShowFAQOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowFAQOnExternalPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa FAQ i toppmenyn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" id="chkDoc" name="customer.ShowDocumentsOnExternalPage" @(Model.Customer.ShowDocumentsOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowDocumentsOnExternalPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Dokument i toppmenyn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr id="docCategories">
                                    <td></td>
                                    <td>
                                        <table border="0">
                                            <tr>
                                                <td style="width:24px"></td>
                                                <td>@Translation.Get("Tillgängliga", Enums.TranslationSource.TextTranslation) @Translation.Get("Kategorier", Enums.TranslationSource.TextTranslation)</td>
                                                <td></td>
                                                <td>@Translation.Get("Valda", Enums.TranslationSource.TextTranslation) @Translation.Get("Kategorier", Enums.TranslationSource.TextTranslation)</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    @Html.ListBox("AvailableCategories", Model.AvailableCategories, new { style = "width: 280px; height: 120px" })
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <input type="button" value="&lt;" class="btn" id="removeCat" />
                                                    <input type="button" value="&gt;" class="btn" id="addCat" />
                                                </td>
                                                <td>
                                                    @Html.ListBox("SelectedCategories", Model.SelectedCategories, new { style = "width: 280px; height: 120px" })
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                @*For next release*@
                                @*<tr style="height:40px">
                        <td></td>
                        <td>
                            <input type="checkbox" name="customer.ShowDashboardOnExternalPage" @(Model.Customer.ShowDashboardOnExternalPage == 1 ? "checked=checked" : "") value="1"/>
                            <input type="hidden" name="customer.ShowDashboardOnExternalPage" value="0" />
                            &nbsp; &nbsp; @Translation.Get("Visa Dashboard på självservice", Enums.TranslationSource.TextTranslation)
                        </td>
                    </tr>*@
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowHelpOnExternalPage" @(Model.Customer.ShowHelpOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowHelpOnExternalPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Hjälp i toppmenyn", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowCoWorkersOnExternalPage" @(Model.Customer.ShowCoWorkersOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowCoWorkersOnExternalPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Kundspecifik sida", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="customer.GroupCaseTemplates" @(Model.Customer.GroupCaseTemplates == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.GroupCaseTemplates" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Gruppera Ärendemallar", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <h4>@Translation.Get("Startsida", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="formContainer">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Visa på startsidan", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowOperationalLogOnExtPage" @(Model.Customer.ShowOperationalLogOnExtPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowOperationalLogOnExtPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Driftlogg på startsidan", Enums.TranslationSource.TextTranslation)
                                    </td>                                  
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowCalenderOnExtPage" @(Model.Customer.ShowCalenderOnExtPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowCalenderOnExtPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Aktuellt på startsidan", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowBulletinBoardOnExtPage" @(Model.Customer.ShowBulletinBoardOnExtPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.ShowBulletinBoardOnExtPage" value="0" />
                                        &nbsp; &nbsp; @Translation.Get("Visa Anslagstavlan på startsidan", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                @*For next release*@
                                @*<tr>
                        <td></td>
                        <td style="vertical-align:middle">
                            <input type="checkbox" id="chkFAQOnStartPage" name="customer.ShowFAQOnExternalStartPage" @(Model.Customer.ShowFAQOnExternalStartPage > 0 ? "checked=checked" : "") value="1"/>
                            <input type="hidden" name="customer.ShowFAQOnExternalStartPage" value="0" />
                            &nbsp; &nbsp; @Translation.Get("Visa FAQ på självservice startsida", Enums.TranslationSource.TextTranslation)

                            <span id="spNums">
                                &nbsp; &nbsp; @Translation.Get("Antal rader", Enums.TranslationSource.TextTranslation):
                                @Html.DropDownListFor(m => Model.Customer.ShowFAQOnExternalStartPage, Model.StartPageFAQNums, new { style = "width: 70px;" })
                            </span>
                        </td>
                    </tr>*@
                            </table>
                        </div>
                        <h4>@Translation.GetCoreTextTranslation("Formulär")</h4>
                        <div class="formContainer">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">@Translation.GetCoreTextTranslation("Visa kommandoknappar")</td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowCaseActionsPanelOnTop" @(Model.Customer.ShowCaseActionsPanelOnTop ? "checked=checked" : "") value="true" />
                                        <input type="hidden" name="customer.ShowCaseActionsPanelOnTop" value="false" />
                                        &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Visa knappar överst")
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="customer.ShowCaseActionsPanelAtBottom" @(Model.Customer.ShowCaseActionsPanelAtBottom ? "checked=checked" : "") value="true" />
                                        <input type="hidden" name="customer.ShowCaseActionsPanelAtBottom" value="false" />
                                        &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Visa knappar underst")
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <h4>@Translation.GetCoreTextTranslation("Ärende")</h4>
                        <div class="formContainer">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.GetCoreTextTranslation("Anmälare")
                                    </td>
                                    <td>
                                        <input type="checkbox" name="customer.UseInitiatorAutocomplete" @(Model.Customer.UseInitiatorAutocomplete ? "checked=checked" : "") value="true" />
                                        <input type="hidden" name="customer.UseInitiatorAutocomplete" value="0" />
                                        &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Visa förslag vid sökning")
                                        <span class="icon-info-sign ml15" rel="tooltip" 
                                                           title="" 
                                                           data-original-title='@Translation.GetCoreTextTranslation("Om ej aktiv, hämtas endast information om anmälaren vid exakt matchning av ID")'></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.GetCoreTextTranslation("Loggpost")
                                    </td>
                                    <td>
                                        <input type="checkbox" name="customer.UseInternalLogNoteOnExternalPage" @(Model.Customer.UseInternalLogNoteOnExternalPage == 1 ? "checked=checked" : "") value="1" />
                                        <input type="hidden" name="customer.UseInternalLogNoteOnExternalPage" value="0" />
                                        &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Intern loggpost i ärende")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Möjligt att aktivera ärende inom")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.CaseComplaintDays, new { style = "width: 40px;" })&nbsp;
                                        @Translation.GetCoreTextTranslation("dagar")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.GetCoreTextTranslation("Inventarie")
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Customer.FetchPcNumber) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Hämta PC Nummer")
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <h4>@Translation.GetCoreTextTranslation("Begränsning")</h4>
                        <div class="formContainer">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                       
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Customer.RestrictUserToGroupOnExternalPage) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Tillåt endast chefer logga in")
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Customer.FetchDataFromApiOnExternalPage) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Hämta data från Api")
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <h4 id="headCases">
                            @Translation.GetCoreTextTranslation("Ärenden")
                        </h4>
                        <div class="formContainer" id="divCases">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.GetCoreTextTranslation("Mina ärenden visar")
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Customer.MyCasesRegistrator) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Registrerare")
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Customer.MyCasesInitiator) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Anmälare")
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Customer.MyCasesFollower) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Följare")
                                    </td>
                                </tr>
                                @*<tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.Customer.MyCasesRegarding) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Angående")
            </td>
        </tr>*@
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.Customer.MyCasesUserGroup) &nbsp; &nbsp; @Translation.GetCoreTextTranslation("Användargrupp")
                                    </td>
                                </tr>
                                @if (Model.AvailableInitiators.Any())
                                {
                                    <tr id="initiators">
                                        <td class="span3">
                                            <br />
                                            @Translation.Get("Visa min avdelnings ärenden")
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>@Translation.Get("Tillgängliga")</td>
                                                    <td></td>
                                                    <td>@Translation.Get("Valda")</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select id="AvailableInitiators" multiple="multiple" name="AvailableInitiators" style="width: 400px; height: 120px">
                                                            @foreach (var op in Model.AvailableInitiators)
                                                            {
                                                                if (!op.Disabled)
                                                                {
                                                                    <option value="@op.Value" title="@op.Text">@op.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@op.Value" class="DisabledChosen" title="@op.Text">@op.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input type="button" value="&lt;" class="btn" id="removeInitiators" />
                                                        <input type="button" value="&gt;" class="btn" id="addInitiators" />
                                                    </td>
                                                    <td>
                                                        <select id="SelectedInitiators" multiple="multiple" name="SelectedInitiators" style="width: 400px; height: 120px">
                                                            @foreach (var op in Model.SelectedInitiators)
                                                            {
                                                                if (!op.Disabled)
                                                                {
                                                                    <option value="@op.Value" title="@op.Text">@op.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@op.Value" class="DisabledChosen" title="@op.Text">@op.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
}
                                <tr id="caseTypes">
                                    <td class="span3">
                                        <br />
                                        @Translation.Get("Ärendetyp", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <br />
                                                <td>@Translation.Get("Tillgängliga", Enums.TranslationSource.TextTranslation)</td>
                                                <td></td>
                                                <td>@Translation.Get("Valda", Enums.TranslationSource.TextTranslation)</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select id="AvailableCaseTypes" multiple="multiple" name="AvailableCaseTypes" style="width: 400px; height: 120px">
                                                        @foreach (var op in Model.AvailableCaseTypes)
                                                        {
                                                            if (!op.Disabled)
                                                            {
                                                                <option value="@op.Value" title="@op.Text">@op.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@op.Value" class="DisabledChosen" title="@op.Text">@op.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <input type="button" value="&lt;" class="btn" id="removeCaseType" />
                                                    <input type="button" value="&gt;" class="btn" id="addCaseType" />
                                                </td>
                                                <td>
                                                    <select id="SelectedCaseTypes" multiple="multiple" name="SelectedCaseTypes" style="width: 400px; height: 120px">
                                                        @foreach (var op in Model.SelectedCaseTypes)
                                                        {
                                                            if (!op.Disabled)
                                                            {
                                                                <option value="@op.Value" title="@op.Text">@op.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@op.Value" class="DisabledChosen" title="@op.Text">@op.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="productAreas">
                                    <td>
                                        @Translation.Get("Produktområde", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>@Translation.Get("Tillgängliga", Enums.TranslationSource.TextTranslation)</td>
                                                <td></td>
                                                <td>@Translation.Get("Valda", Enums.TranslationSource.TextTranslation)</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select id="AvailableProductAreas" multiple="multiple" name="AvailableProductAreas" style="width: 400px; height: 120px">
                                                        @foreach (var op in Model.AvailableProductAreas)
                                                        {
                                                            if (!op.Disabled)
                                                            {
                                                                <option value="@op.Value" title="@op.Text">@op.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@op.Value" class="DisabledChosen" title="@op.Text">@op.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <input type="button" value="&lt;" class="btn" id="removeProductArea" />
                                                    <input type="button" value="&gt;" class="btn" id="addProductArea" />
                                                </td>
                                                <td>
                                                    <select id="SelectedProductAreas" multiple="multiple" name="SelectedProductAreas" style="width: 400px; height: 120px">
                                                        @foreach (var op in Model.SelectedProductAreas)
                                                        {
                                                            if (!op.Disabled)
                                                            {
                                                                <option value="@op.Value" title="@op.Text">@op.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@op.Value" class="DisabledChosen" title="@op.Text">@op.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

</div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">

        if ('@Model.Customer.ShowDocumentsOnExternalPage' == 1)
            $('#docCategories').show()
        else
            $('#docCategories').hide();

        if ('@Model.Customer.ShowFAQOnExternalStartPage ' > 0) {
            $('#spNums').show();
            $('#StartPageFAQNums').show()
        }
        else {
            $('#spNums').hide();
            $('#StartPageFAQNums').hide();
        };

        if ('@Model.Customer.ShowCasesOnExternalPage' == 1) {
            $('#divCases').show()
            $('#headCases').show();
        }
        else {
            $('#divCases').hide();
            $('#headCases').hide()
        };

        $('#chkDoc').click(function () {
            if ($('#chkDoc').attr('checked')) {
                $('#docCategories').show();
            }
            else {
                $('#docCategories').hide();
            }
        });

        $('#chkCases').click(function () {
            if ($('#chkCases').attr('checked')) {
                $('#divCases').show();
                $('#headCases').show();
            }
            else {
                $('#divCases').hide();
                $('#headCases').hide();
            }
        });

        $('#chkFAQOnStartPage').click(function () {
            if ($('#chkFAQOnStartPage').attr('checked')) {
                $('#spNums').show();
                $('#StartPageFAQNums').show();
            }
            else {
                $('#spNums').hide();
                $('#StartPageFAQNums').hide();
            }
        });

        $("#addCat").click(function () {
            $("#AvailableCategories option:selected").remove().appendTo("#SelectedCategories");
            $("#AvailableCategories").get(0).selectedIndex = -1;
            $("#SelectedCategories").get(0).selectedIndex = -1;
            return false;
        });

        $("#removeCat").click(function () {
            $("#SelectedCategories option:selected").remove().appendTo("#AvailableCategories");
            $("#AvailableCategories").get(0).selectedIndex = -1;
            $("#SelectedCategories").get(0).selectedIndex = -1;
            return false;
        });

        $("#addInitiators").on('click', function () {
            $("#AvailableInitiators option:selected").remove().appendTo("#SelectedInitiators");
            $("#AvailableInitiators").get(0).selectedIndex = -1;
            $("#SelectedInitiators").get(0).selectedIndex = -1;
            return false;
        });

        $("#removeInitiators").on('click', function () {
            $("#SelectedInitiators option:selected").remove().appendTo("#AvailableInitiators");
            $("#AvailableInitiators").get(0).selectedIndex = -1;
            $("#SelectedInitiators").get(0).selectedIndex = -1;
            return false;
        });

        //For next version 5.3.33
        $("#addCaseType").click(function () {
            $("#AvailableCaseTypes option:selected").remove().appendTo("#SelectedCaseTypes");
            $("#AvailableCaseTypes").get(0).selectedIndex = -1;
            $("#SelectedCaseTypes").get(0).selectedIndex = -1;
            return false;
        });

        $("#removeCaseType").click(function () {
            $("#SelectedCaseTypes option:selected").remove().appendTo("#AvailableCaseTypes");
            $("#AvailableCaseTypes").get(0).selectedIndex = -1;
            $("#SelectedCaseTypes").get(0).selectedIndex = -1;
            return false;
        });

        $("#addProductArea").click(function () {
            $("#AvailableProductAreas option:selected").remove().appendTo("#SelectedProductAreas");
            $("#AvailableProductAreas").get(0).selectedIndex = -1;
            $("#SelectedProductAreas").get(0).selectedIndex = -1;
            return false;
        });

        $("#removeProductArea").click(function () {
            $("#SelectedProductAreas option:selected").remove().appendTo("#AvailableProductAreas");
            $("#AvailableProductAreas").get(0).selectedIndex = -1;
            $("#SelectedProductAreas").get(0).selectedIndex = -1;
            return false;
        });

        //For next release
        //$("Customer_ShowFAQOnExternalStartPage").change(function () {
        //    $("#SelectedCategories option").attr("selected", "selected");
        //});

        function submitForm() {
            $("#SelectedCategories option").attr("selected", "selected");
            $("#SelectedCaseTypes option").attr("selected", "selected");
            $("#SelectedProductAreas option").attr("selected", "selected");
            $("#SelectedInitiators option").attr("selected", "selected");
            $("#target").submit();
        }

    </script>
}