@using DH.Helpdesk.Web.Areas.Orders.Models.Index
@using DH.Helpdesk.Web.Infrastructure
@model BaseIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="secnavs fixed">
    <div class="pull-left">
        @RenderSection("Actions", false)        
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs nav-tabs-actions">
            <li class="@GetIsActive(IndexModelType.Orders)">
                @Html.ActionLink(Translation.Get("Beställningar"), "Index", "Orders")
            </li>
            <li class="@GetIsActive(IndexModelType.OrderFieldSettings)">
                @Html.ActionLink(Translation.Get("Inställningar"), "Index", "OrderFieldSettings")
            </li>
        </ul>
        <div class="tab-content overflow-visible">
            <div class="tab-pane tab-pane-border active">                            
                @RenderBody()   
            </div>
        </div>
    </div>
</div>
@functions    {
    private MvcHtmlString GetIsActive(IndexModelType type)
    {
        return MvcHtmlString.Create(Model.Type == type ? "active" : null);
    }

}

@section Scripts {
    @RenderSection("Scripts", false)
}