@using System.Web.Optimization
@using DH.Helpdesk.BusinessData.Enums.Orders
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.FullOrderEditModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="secnavs fixed">
    <div class="pull-left">
        @RenderSection("Actions", false)
    </div>
</div>
<div class="content">
    <div class="container">
        @RenderSection("Content")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/orders/order")

    <script type="text/javascript">
        $(function () {
            var parameters = {
                id: '@Model.Id',
                deleteOrderUrl: '@Url.Action("Delete")',
                uploadFileUrl: '@Url.Action("UploadFile")',
                deleteFileUrl: '@Url.Action("DeleteFile")',
                deleteLogUrl: '@Url.Action("DeleteLog")',
                logSubtopic: '@Subtopic.Log',
                fileNameSubtopic: '@Subtopic.FileName',
                noMoreFilesText: '@Translation.GetForJS("Inga fler filer tillåts")',
                fileUploadWhiteList: [],
                invalidFileExtensionText: '@Html.Raw(Translation.GetForJS("har inte en giltig filändelse"))'
            };

            @if(Model.FileUploadWhiteList != null)
            {
                foreach(var extension in Model.FileUploadWhiteList)
                {
                    @:parameters.fileUploadWhiteList.push('@extension');
                }
            }
            else
            {
                @:parameters.fileUploadWhiteList = null;
            }

            applyOrderBehavior(parameters);
        });
    </script>

    @RenderSection("Scripts", false)
}