
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Notifiers.Output.NotifierInputModel
           
<script type="text/javascript">
    $(function() {
        $('#region_dropdown').change(function() {
            $('#department_dropdown_container').load('@this.Url.Action("DepartmentDropDown")?regionId=' + $(this).val());
        });
    });
</script>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Anmälare", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                
                @if (Model.UserId.Show || Model.Domain.Show || Model.LoginName.Show || Model.FirstName.Show || Model.Initials.Show || Model.LastName.Show || Model.DisplayName.Show || Model.Place.Show || Model.Phone.Show || Model.CellPhone.Show || Model.Email.Show || Model.Code.Show)
                {
                    <div class="container">
                        <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    @if (this.Model.UserId.Show)
                                    {
                                        <tr>
                                            <td class="span3">
                                                @(Translation.Get(this.Model.UserId.Caption, Enums.TranslationSource.TextTranslation) + (this.Model.UserId.Required ? "*" : string.Empty))
                                            </td>
                                            <td>
                                                @if (this.Model.IsNew)
                                                {
                                                    <input type="text" name="UserId" value="@this.Model.UserId.Value" />
                                                }
                                                else
                                                {
                                                    @this.Model.UserId.Value
                                                }
                                            </td>
                                        </tr>
                                    }
                                    @if (this.Model.Domain.Show)
                                    {
                                        <tr>
                                            <td>
                                                @(Translation.Get(this.Model.Domain.Caption, Enums.TranslationSource.TextTranslation) + (this.Model.Domain.Required ? "*" : string.Empty))
                                            </td>
                                            <td>
                                                @this.Html.DropDown("domain_dropdown", "DomainId", !this.Model.Domain.Required, this.Model.Domain.Content)
                                            </td>
                                        </tr>
                                    }
                                    @Html.EditorFor(m => m.LoginName)
                                    @Html.EditorFor(m => m.FirstName)
                                    @Html.EditorFor(m => m.Initials)
                                    @Html.EditorFor(m => m.LastName)
                                    @Html.EditorFor(m => m.DisplayName)
                                    @Html.EditorFor(m => m.Place)
                                    @Html.EditorFor(m => m.Phone)
                                    @Html.EditorFor(m => m.CellPhone)
                                    @Html.EditorFor(m => m.Email)
                                    @Html.EditorFor(m => m.Code)
                                </table>
                            </div>
                        </div>
                    </div>
                }
                
                @if (Model.PostalAddress.Show || Model.PostalCode.Show || Model.City.Show)
                {
                    <div class="container">
                        <h4>@Translation.Get("Adress", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    @Html.EditorFor(m => m.PostalAddress)
                                    @Html.EditorFor(m => m.PostalCode)
                                    @Html.EditorFor(m => m.City)
                                </table>
                            </div>
                        </div>
                    </div>
                }
                    
                @if (Model.Title.Show || Model.Department.Show || Model.Unit.Show || Model.OrganizationUnit.Show || Model.Division.Show || Model.Manager.Show || Model.Group.Show || Model.Other.Show)
                {
                    <div class="container">
                        <h4>@Translation.Get("Organisation", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    @Html.EditorFor(m => m.Title)
                                    
                                    @if (Model.Region.Show)
                                    {
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get(Model.Region.Caption, Enums.TranslationSource.TextTranslation)
                                            </td>
                                            <td>
                                                @this.Html.DropDown("region_dropdown", "RegionId", !Model.Region.Required, this.Model.Region.Content)
                                            </td>
                                        </tr>
                                    }
                                    @if (this.Model.Department.Show)
                                    {
                                        <tr>
                                            <td>
                                                @(Translation.Get(this.Model.Department.Caption, Enums.TranslationSource.TextTranslation) + (this.Model.Department.Required ? "*" : string.Empty))
                                            </td>
                                            <td>
                                                <div id="department_dropdown_container">
                                                    @this.Html.Partial("DepartmentDropDown", this.Model.Department.Content)
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @Html.EditorFor(m => m.Unit)
                                    @if (this.Model.OrganizationUnit.Show)
                                    {
                                        <tr>
                                            <td class="span3">
                                                @(Translation.Get(this.Model.OrganizationUnit.Caption, Enums.TranslationSource.TextTranslation) + (this.Model.OrganizationUnit.Required ? "*" : string.Empty))
                                            </td>
                                            <td>
                                                @this.Html.DropDown("organization_unit_dropdown", "OrganizationUnitId", !this.Model.OrganizationUnit.Required, this.Model.OrganizationUnit.Content)
                                            </td>
                                        </tr>
                                    }
                                    @if (this.Model.Division.Show)
                                    {
                                        <tr>
                                            <td class="span3">
                                                @(Translation.Get(this.Model.Division.Caption, Enums.TranslationSource.TextTranslation) + (this.Model.Division.Required ? "*" : string.Empty))
                                            </td>
                                            <td>
                                                @this.Html.DropDown("division_dropdown", "DivisionId", !this.Model.Division.Required, this.Model.Division.Content)
                                            </td>
                                        </tr>
                                    }
                                    @if (this.Model.Manager.Show)
                                    {
                                        <tr>
                                            <td class="span3">
                                                @(Translation.Get(this.Model.Manager.Caption, Enums.TranslationSource.TextTranslation) + (this.Model.Manager.Required ? "*" : string.Empty))
                                            </td>
                                            <td>
                                                @this.Html.DropDown("manager_dropdown", "ManagerId", !this.Model.Manager.Required, this.Model.Manager.Content)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                }
                    
                @if (Model.Group.Show)
                {
                    <div class="container">
                        <h4>@Translation.Get("Medlem av", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table>
                                    @if (this.Model.Group.Show)
                                    {
                                        <tr>
                                            <td>
                                                @(Translation.Get(this.Model.Group.Caption, Enums.TranslationSource.TextTranslation) + (this.Model.Group.Required ? "*" : string.Empty))
                                            </td>
                                            <td>
                                                @this.Html.DropDown("group_dropdown", "GroupId", !this.Model.Group.Required, this.Model.Group.Content)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                }
                
                @if (Model.Other.Show)
                {
                    <div class="container">
                        <h4>@Translation.Get("Info", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    @Html.EditorFor(m => m.Other, "WideTextBoxModel")
                                </table>
                            </div>
                        </div>
                    </div>
                }
                
                @if (Model.Ordered.Show)
                {
                    <div class="container">
                        <h4>@Translation.Get("Order", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    @Html.EditorFor(m => m.Ordered)
                                </table>
                            </div>
                        </div>
                    </div>
                }
                 
                @if (!Model.IsNew && (Model.CreatedDate.Show || Model.ChangedDate.Show || Model.SynchronizationDate.Show))
                {
                    <div class="container">
                        <h4>@Translation.Get("State", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Active", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @this.Html.CheckBox("IsActive", this.Model.IsActive)
                                        </td>
                                    </tr>
                                    @if (!Model.IsNew)
                                    {
                                        @Html.EditorFor(m => m.CreatedDate)
                                        @Html.EditorFor(m => m.ChangedDate)
                                        @Html.EditorFor(m => m.SynchronizationDate)
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                }
                    
            </div>
        </div>
    </div>
</div>