@using System.Web.Optimization
@model DH.Helpdesk.Web.Models.Notifiers.InputModel
           
@Scripts.Render("~/bundles/notifiers/notifier")

<script type="text/javascript">
    window.parameters = {
        departmentDropDownUrl: '@Url.Action("DepartmentDropDown")'
    };

    @if (Model.Managers.Show)
    {
        @:window.parameters.showManager = true;
        @:window.parameters.managers = [];

        foreach (var manager in Model.Managers.Value.Items)
        {
            @:window.parameters.managers.push({ displayName: '@manager.Name', id: '@manager.Value' });
        }
    }
    else
    {
        @:window.parameters.showManager = false;
    }
</script>

<div class="content">
    <div class="contentContent">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#fragment-1">@Translation.Get("Anmälare", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    @if (Model.UserId.Show || Model.Domain.Show || Model.LoginName.Show || Model.FirstName.Show || Model.Initials.Show || Model.LastName.Show || Model.DisplayName.Show || Model.Place.Show || Model.Phone.Show || Model.CellPhone.Show || Model.Email.Show || Model.Code.Show)
                    {
                        @Html.Partial("NotifierEdit/GeneralFields", Model)
                    }
                
                    @if (Model.PostalAddress.Show || Model.PostalCode.Show || Model.City.Show)
                    {
                        @Html.Partial("NotifierEdit/AddressFields", Model)
                    }
                    
                    @if (Model.Title.Show || Model.Department.Show || Model.Unit.Show || Model.OrganizationUnit.Show || Model.Division.Show || Model.Managers.Show || Model.Group.Show || Model.Other.Show)
                    {
                        @Html.Partial("NotifierEdit/OrganizationFields", Model)
                    }
                    
                    @if (Model.Ordered.Show)
                    {
                        @Html.Partial("NotifierEdit/OrdererFields", Model)
                    }
                
                    @Html.Partial("NotifierEdit/StateFields", Model)
                </div>
             </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $("#DepartmentErrorMessage").hide();
    $("#OrganizationUnitErrorMessage").hide();

    
    $("#department_dropdown").change(function () {
        if ('@Model.Department.Required'.toLowerCase() == "true" && $('#department_dropdown').val() == "") {
            $("#DepartmentErrorMessage").show();
        }
        else {
            $("#DepartmentErrorMessage").hide();
        }
        $("#organizationUnit_dropdown").change();
    });

    $("#organizationUnit_dropdown").change(function () {
        if ('@Model.OrganizationUnit.Required'.toLowerCase() == "true" && $('#organizationUnit_dropdown').val() == "") {
            $("#OrganizationUnitErrorMessage").show();
         }
         else {
            $("#OrganizationUnitErrorMessage").hide();
         }
    });

    $("#target").submit(function (event) {
        var isPrevent = true;
        if ('@Model.Department.Required'.toLowerCase() == "true" && $('#department_dropdown').val() == "") {
            $("#DepartmentErrorMessage").show();
            isPrevent = false;
        }

        if ('@Model.OrganizationUnit.Required'.toLowerCase() == "true" && $('#organizationUnit_dropdown').val() == "") {
            $("#OrganizationUnitErrorMessage").show();
            isPrevent = false;
        }

        if (!isPrevent)
           return false;
        
    });
</script>          