
@using System.Web.Optimization
@model DH.Helpdesk.Web.Models.Notifiers.IndexModel

@{
    ViewBag.Title = Translation.Get("Anmälare", Enums.TranslationSource.TextTranslation);
}

    @Scripts.Render("~/bundles/notifiers/index")

    <script type="text/javascript">
        $(function () {
            applyIndexViewBehavior();
        });
    </script>

    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    @Html.ActionLink(Translation.Get("Ny anmälare", Enums.TranslationSource.TextTranslation), "NewNotifier", "Notifiers", new { id = "new_notifier_button", @class = "btn" })
                </li>
                <li>
                    <a id="save_button" class="btn" style="display: none;">@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs">
                <li id="notifiers_tab" class="active">
                    <a href="#fragment-1">@Translation.Get("Anmälare", Enums.TranslationSource.TextTranslation)</a>
                </li>
                <li id="categories_tab">
                    <a href="#fragment-2">@Translation.Get("Kategorier", Enums.TranslationSource.TextTranslation)</a>
                </li>
                <li id="settings_tab">
                    <a href="#fragment-3">@Translation.Get("Inställningar", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    @Html.Partial("Notifiers", Model.Notifiers)
                </div>
                <div class="tab-pane tab-pane-border" id="fragment-2">
                    @Html.Action("UserCategories", new { area = string.Empty })
                </div>
                <div class="tab-pane tab-pane-border" id="fragment-3">
                    @Html.Action("Settings", new { area = string.Empty })
                </div>
            </div>
        </div>
    </div>        
