
@model DH.Helpdesk.Web.Models.Notifiers.InputModel

@{
    //ViewBag.Title = @Translation.Get("Ny anmälare", Enums.TranslationSource.TextTranslation);
    ViewBag.Title = "";
}

@using (Html.BeginForm("NewNotifier", "Notifiers", FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "new", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                @*<li>
                    @Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), null, null, null, new { onclick = "$('#target').submit();return false;", @class = "btn" })
                </li>*@
                <li>
                    @Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "Index", "Notifiers", new { @class = "btn" })
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
}


