@model DH.Helpdesk.Web.Models.Notifiers.Output.NotifierInputModel

@{
    this.ViewBag.Title = @Translation.Get("New Notifier", Enums.TranslationSource.TextTranslation);
}

@using (this.Html.BeginForm("NewNotifier", "Notifiers", FormMethod.Post, new { id = "notifier_edit_form" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Save", Enums.TranslationSource.TextTranslation)" class="btn"/>
                </li>
                <li>
                    <a href="@this.Url.Action("Index")" class="btn">@Translation.Get("Cancel", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
        </div>
    </div>
    @this.Html.Partial("_Input", this.Model)
}