@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Notifiers.Output.NotifierModel

@{
    this.ViewBag.Title = @Translation.Get("Notifier", Enums.TranslationSource.TextTranslation);
}

<script type="text/javascript">
    $(function() {
        $('#delete_button').click(function() {
            $.post('@this.Url.Action("Delete")', { id: '@this.Model.Id' }, function() {
                window.location.href = '@this.Url.Action("Index")';
            });
        });
    });
</script>

@using (this.Html.BeginForm("Notifier", "Notifiers", FormMethod.Post, new { id = "notifier_edit_form" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Save", Enums.TranslationSource.TextTranslation)" class="btn"/>
                </li>
                <li>
                    <a href="@this.Url.Action("Index")" class="btn">@Translation.Get("Cancel", Enums.TranslationSource.TextTranslation)</a>
                </li>
                <li>
                    <a class="btn" id="delete_button">@Translation.Get("Delete", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
        </div>
    </div>
    @this.Html.Partial("_Input", this.Model.InputModel)
}