
@using DH.Helpdesk.Common.Enums
@model DH.Helpdesk.Web.Models.Notifiers.Output.NotifiersGridModel
           
@Translation.Get("poster i sökresultat", Enums.TranslationSource.TextTranslation):
@Model.NotifiersFound

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            @foreach (var header in Model.Headers)
            {
                <th onclick=" sortGrid('@header.Name') " class="thpointer">
                    @Translation.Get(header.Caption, Enums.TranslationSource.TextTranslation)
                    @if (Model.SortField != null && header.Name == Model.SortField.Name)
                    {
                        switch (Model.SortField.SortBy)
                        {
                            case SortBy.Ascending:
                                <i class="icon-chevron-up"></i>
                                break;
                            case SortBy.Descending:
                                <i class="icon-chevron-down"></i>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException("");
                        }
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var notifier in Model.Notifiers)
        {
            <tr onclick=" window.location.href = '@Url.Action("Notifier", new RouteValueDictionary { { "id", notifier.Id } })' ">
                @for (var i = 0; i < notifier.FieldValues.Count; i++)
                {
                    var notifierField = Model.Headers[i];
                    var notifierFieldValue = notifier.FieldValues.Single(v => v.FieldName == notifierField.Name);

                    <td class="tdpointer">@notifierFieldValue.Value</td>
                }
            </tr>
        }
    </tbody>
</table>