@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    ViewBag.Title = Model.Translate("Global") + " - " + Model.Translate("Service Request Details");
}

@section Script {
    <script type="text/javascript">

        $(function () {
            validate.run(20);
        });

    </script>

     @Html.Partial("_Validate", Model)
}

@using (Html.BeginForm("new", "Absences", FormMethod.Post, new { area = "Global", novalidate = "novalidate" }))
{
    @Html.Partial("_GlobalNavigation", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")  
        @Html.Partial("_ErrorMessage", Model)    
        <ul class="nav nav-tabs">
            <li class="active"><a href="#ServiceRequestDetails">@Model.Translate("Service Request Details")</a></li>
            <li><a href="#Absences">@Model.Translate("Absences")</a></li>
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content">   
                     
                        @Html.Partial("_TabServiceRequestDetails", Model)
                    
                        @Html.Partial("_TabAbsences", Model)
                                                                                      
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="@Model.ActiveTab" />    
}

<script>


</script>
