@model DH.Helpdesk.BusinessData.Models.CaseDocument.CaseDocumentModel
@using DH.Helpdesk.Common.Extensions.String
@using DH.Helpdesk.BusinessData.Models.CaseDocument
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @(Model.CaseDocumentTemplate != null ? Model.CaseDocumentTemplate.Style.ToHtmlString() : new HtmlString(""))
</head>
<body>
    <div class="page-holder">
        @if (Model.CaseDocumentParagraphs != null)
        {
            foreach (var item in Model.CaseDocumentParagraphs.OrderBy(x => x.SortOrder))
            {
                if (item.CaseDocumentParagraph.CaseDocumentTexts != null)
                {
                    //TODO: OrderBy
                    //Check ParagraphType
                    if (item.CaseDocumentParagraph.ParagraphType == (int)CaseDocumentParagraphType.Text)
                    {
                        <p>
                            @foreach (var paragraphText in item.CaseDocumentParagraph.CaseDocumentTexts.OrderBy(x => x.SortOrder))
                            {
                                if (!string.IsNullOrEmpty(paragraphText.Text))
                                {
                                    @paragraphText.Text.ToHtmlString()
                                }
                            }
                        </p>
                    }
                    if (item.CaseDocumentParagraph.ParagraphType == (int)CaseDocumentParagraphType.TableNumeric)
                    {
                        int nr = 1;

                        <table class="table-full-width table-numeric">
                            @foreach (var paragraphText in item.CaseDocumentParagraph.CaseDocumentTexts.OrderBy(x => x.SortOrder))
                            {
                                //Dont list empty
                                if (!string.IsNullOrEmpty(paragraphText.Text))
                                {
                                    <tr>
                                        <td class="table-numeric-first-column">@nr.</td>
                                        <td class="table-numeric-second-column">@paragraphText.Headline.ToHtmlString()</td>
                                        <td class="table-numeric-third-column">@paragraphText.Text.ToHtmlString()</td>
                                    </tr>
                                    nr = nr + 1;
                                }
                            }
                        </table>

                    }

                    if (item.CaseDocumentParagraph.ParagraphType == (int)CaseDocumentParagraphType.Logo)
                    {
                        foreach (var paragraphText in item.CaseDocumentParagraph.CaseDocumentTexts.OrderBy(x => x.SortOrder))
                        {
                            if (!string.IsNullOrEmpty(paragraphText.Text))
                            {
                                @paragraphText.Text.ToHtmlString()
                            }
                        }
                    }

                    if (item.CaseDocumentParagraph.ParagraphType == (int)CaseDocumentParagraphType.TableTwoColumns)
                    {
                        <table class="table-full-width table-two-colums">
                            @foreach (var paragraphText in item.CaseDocumentParagraph.CaseDocumentTexts.OrderBy(x => x.SortOrder))
                            {
                                //Dont list empty
                                if (!string.IsNullOrEmpty(paragraphText.Text))
                                {
                                    <tr>
                                        <td class="table-two-colums-first-column">@paragraphText.Headline.ToHtmlString()</td>
                                        <td class="table-two-colums-second-column">@paragraphText.Text.ToHtmlString()</td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                }
            }
        }
    </div>
</body>
</html>