
@using CasesFieldsTypes = DH.Helpdesk.Common.Enums.Cases
@using DH.Helpdesk.Common.Extensions.DateTime
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Models.Case.CaseSearchResultModel
@if (Model != null)
{  

    <table class="table table-striped table-bordered table-hover table-cases @Model.GridSettings.SelectedFontStyle">
        <thead>
            <tr>
                <!--fasta kolumner -->
                <th style="width:18px;"></th>
                <!-- valbara kolumner -->            
                @foreach (var columnSettings in Model.GridSettings.SelectedColumns)
                {
                    <th onclick="sortCases('@columnSettings.Name')" class="thpointer @columnSettings.Style" >
                        @Translation.Get(columnSettings.Name, Enums.TranslationSource.CaseTranslation, Model.GridSettings.CustomerId) <i class="@columnSettings.Name.SetCaseSortIcon()"></i>
                    </th>                        
                }
            </tr>
        </thead>        
        <tbody>
            @if (Model.cases.Any())
            {            
                foreach (var r in Model.cases)
                {
                <tr title="@r.Tooltip" class="@r.IsUnread.GetClassForCaseRowTr(@r.IsUrgent)">
                    <!--fasta kolumner -->
                    <td>
                        <a href="@Url.Action("edit", "cases", new { area = "", id = r.Id, backUrl = Model.BackUrl })">
                            <img title="@r.CaseIcon.CaseIconTitle()" alt="@r.CaseIcon.CaseIconTitle()" src="@Url.Content("~/Content/icons/" + r.CaseIcon.CaseIconSrc())" />   
                        </a>
                    </td>
                    <!-- valbara kolumner -->
                    @foreach (var c in r.Columns)
                    {       
                        <td>
                            <a href="@Url.Action("edit", "cases", new { area = "", id = r.Id, backUrl = Model.BackUrl })">
                            @if (c.FieldType == CasesFieldsTypes.FieldTypes.Date)
                            {
                                <!-- date: don't use display template for perfomance reasons -->
                                @(c.DateTimeValue.HasValue ? c.DateTimeValue.Value.ToLocalTime().ToShortDateString() : string.Empty)
                            }
                            else if (c.FieldType == CasesFieldsTypes.FieldTypes.Time)
                            {
                                <!-- dateTime -->
                                @(c.DateTimeValue.HasValue ? c.DateTimeValue.Value.ToLocalTime().ToFormattedDateTime() : string.Empty)
                            }
                            else if (c.FieldType == CasesFieldsTypes.FieldTypes.NullableHours)
                            {
                                <!-- Hours left -->
                                @(string.IsNullOrEmpty(c.StringValue) ? " - " : string.Format("{0} h", c.StringValue))
                            } else                             
                            {   <!-- string -->
                                if (c.TranslateThis)
                                {                                                                                                        
                                    @Translation.Get(c.StringValue)                                                                     
                                }
                                else    
                                {
                                    @c.StringValue.ForHtmlView()
                                }
                            }
                            </a>
                        </td>
                    }    
                </tr>                
                }
            }
            else
            {
                @Html.Partial("_NoHits", "")
            }
        </tbody>
    </table>
}
