@using DH.Helpdesk.Web.Infrastructure.Extensions

<!DOCTYPE html>
<html>
    <head>
        <meta content="html/text; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <title>@Translation.Get("dhHelpdesk")</title>

        <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/dhhelpdesk.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/profile.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/js/jquery.plupload.queue/css/jquery.plupload.queue.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.toastmessage.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-timepicker.min.css")" />

        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.3.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.9.2.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-multiselect.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-timepicker.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/plupload.full.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.plupload.queue/jquery.plupload.queue.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/MicrosoftAjax.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/MicrosoftMvcAjax.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/custom.validation.requiredfrom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/custom.validation.maxlengthfrom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/sortby.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.toastmessage.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/dhHelpdesk-head.js")"></script>
    
    
        <script type="text/javascript" src="@Url.Content("~/Content/js/ui/dh.ui.hierarchylist.js")"></script>

    </head>
    @{
        var model = Html.MasterModel();        
    }
    <body>
    @if(model != null && model.CustomerSetting != null && SessionFacade.CurrentUser != null) {    
        <div class="navbar fixed">
            <div class="navbar-container">
                <a href="/">
                    <div class="navbar-header pull-left navbar-brand">
                        @*<img src="@Url.Content("~/Content/img/dhhelpdesk.png")" class="navbar-brand" />*@
                    </div>
                </a>
                <div class="navbar-header pull-right">
                    <ul class="nav dh-nav">
                        <li class="orange">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-folder-open icon-white"></i>@Translation.Get("Ärenden")<i class="icon-chevron-down icon-white"></i>
                            </a>
                            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                @if (model.IsCaseVisible())
                                {                                     
                                    <li><a href="@Url.Action("index", "cases", new { area = "" })">
                                            <img src="@Url.Content("~/Content/icons/case.png")" alt="cases" />
                                            @Translation.Get("Ärendeöversikt")</a>
                                    </li>
                                    <li><a href="@Url.Action("index", "cases", new { area = "" })">
                                            <img src="@Url.Content("~/Content/icons/casesearch.png")" alt="search" />
                                            @Translation.Get("Sök ärende")</a></li>                                    
                                    if (model.IsProblemVisible())
                                    {                                                
                                        <li><a href="@Url.Action("Index", "Problems", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/problem.png")" alt="problem" />
                                                @Translation.Get("Problem")</a></li> 
                                    }
                                    if (model.IsChangeManagementVisible())
                                    {                                                
                                        <!-- TODO finns inställningar på användare tblUsers_tblUserRole -->
                                        <li><a href="@Url.Action("index", "changes", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/changes.png")" alt="changes" />
                                                @Translation.Get("Ändringshantering")</a></li>
                                    }
                                    if (model.IsCaseSolutionVisible())
                                    {
                                        <li><a href="@Url.Action("index", "casesolution", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/casetemplate.png")" alt="casesolution" />
                                                @Translation.Get("Ärendemallar")</a></li>
                                    }
                                }                                    
                                <li>
                                </li>
                            </ul>
                        </li>
                        @if (model.IsModulesVisible())
                        {
                            <li class="green">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="icon-briefcase icon-white"></i>@Translation.Get("Moduler")<i class="icon-chevron-down icon-white"></i>
                                </a>
                                <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                    @if (model.IsCaseVisible())
                                    {                                    
                                        if (model.IsReportVisible())
                                        {                                        
                                            <li><a href="@Url.Action("index", "reports", new { area = "" })">
                                                    <img src="@Url.Content("~/Content/icons/reports.png")" alt="reports" />
                                                    @Translation.Get("Rapporter")</a></li>                                    
                                        }                                    
                                    }                                                                        
                                    @if (model.IsFaqVisible())
                                    {    
                                        <li><a href="@Url.Action("index", "faq", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/faq.png")" alt="faq" />
                                                @Translation.Get("FAQ")</a></li>
                                    }              
                                    @if (model.IsCalendarVisible())
                                    {    
                                        <li><a href="@Url.Action("index", "calendar", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/news.png")" alt="news" />
                                                @Translation.Get("Aktuellt")</a></li>
                                    }                                    
                                    @if (model.IsOrderVisible())
                                    {    
                                        <li><a href="@Url.Action("index", "order", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/order.png")" alt="order" />
                                                @Translation.Get("Beställningar")</a></li>
                                    }
                                    @if (model.IsAccountVisible())
                                    {    
                                        <li><a href="@Url.Action("index", "accounts", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/orderaccount.png")" alt="account" />
                                                @Translation.Get("Beställning kontobehörighet")</a></li>
                                    }                                
                                    @if (model.IsCheckListVisuble())
                                    {    
                                        <li><a href="@Url.Action("index", "checklist")">
                                                <img src="@Url.Content("~/Content/icons/checklist.png")" alt="checklist" />
                                                @Translation.Get("Checklista")</a></li>
                                    }                                                                            
                                    @if (model.IsDailyReportVisible())
                                    {    
                                        <li><a href="@Url.Action("index", "dailyreport", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/dailyreport.png")" alt="dailyreport" />
                                                @Translation.Get("Dagrapport")</a></li>
                                    }                                                                        
                                    @if (model.IsOperationLogVisible())
                                    {    
                                        <li><a href="@Url.Action("index", "operationlog", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/operationlog.png")" alt="operationlog" />
                                                @Translation.Get("Driftlogg")</a></li>
                                    }                                    
                                    @if (model.IsInventoryVisible())
                                    {    
                                        <li><a href="@Url.Action("Index", "Inventory", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/inventory.png")" alt="inventory" />
                                                @Translation.Get("Inventarier")</a></li> 
                                    }                                    
                                    <li>
                                    </li>
                                </ul>
                            </li>                            
                        }
                        @if (model.IsSettingsModulesVisible())
                        {
                            <li class="purple">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="icon-wrench icon-white"></i>
                                    @Translation.Get("Inställningar") @Translation.Get("Moduler")
                                    <i class="icon-chevron-down icon-white"></i>
                                </a>
                                <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                    @if (model.IsBulletinBoardVisible())
                                    {                                    
                                        <li>
                                            <a href="@Url.Action("index", "bulletinboard", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/bulletinboard.png")" alt="bulletinboard" />
                                                @Translation.Get("Anslagstavla")
                                            </a>
                                        </li>
                                    }
                                    @if (model.IsPlanningVisible())
                                    {                                    
                                        <li><a href="@Url.Action("index", "planning", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/planning.png")" alt="planning" />
                                                @Translation.Get("Planering")</a></li>
                                    }                                    
                                    @if (model.IsProjectVisible())
                                    {                                    
                                        <li><a href="@Url.Action("Index", "Projects", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/project.png")" alt="project" />
                                                @Translation.Get("Projekt")</a></li>
                                    }                                    
                                    @if (model.IsQuestionVisible())
                                    {                                    
                                        <li><a href="@Url.Action("index", "question", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/registerquestion.png")" alt="question" />
                                                @Translation.Get("Frågeregistrering")</a></li>
                                    }                                    
                                    @if (model.IsQuestionnaireVisible())
                                    {                                    
                                        <li><a href="@Url.Action("index", "questionnaire", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/questionnaire.png")" alt="questionnarie" />
                                                @Translation.Get("Enkät")</a></li>
                                    }                                    
                                    @if (model.IsLicenseVisible())
                                    {                                    
                                        <li><a href="@Url.Action("index", "license", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/Licens.png")" alt="license" />
                                                @Translation.Get("Licenshantering")</a></li>
                                    }                                    
                                    @if (model.IsDocumentVisible())
                                    {                                    
                                        <li><a href="@Url.Action("index", "document", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/documenthandling.png")" alt="document" />
                                                @Translation.Get("Dokumenthantering")</a></li> 
                                    }                                                                        
                                    @if (model.IsComputerUserVisible())
                                    {                                    
                                        <li><a href="@Url.Action("index", "Notifiers", new { area = "" })">
                                                <img src="@Url.Content("~/Content/icons/notifier.png")" alt="computeruser" />
                                                @Translation.Get("Anmälare")</a></li>
                                    }                                    
                                    <li>
                                    </li>
                                </ul>
                            </li>                            
                        }
                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <i class="icon-user icon-white"></i>
                                @if (SessionFacade.CurrentCustomer != null)
                                {                            
                                    <span class="user-info">@SessionFacade.CurrentUser.FirstName @SessionFacade.CurrentUser.SurName
                                        <small>@SessionFacade.CurrentCustomer.Name</small>
                                    </span>
                                    <i class="icon-chevron-down icon-white"></i>
                                }
                            </a>
                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        <i class="icon-refresh"></i>
                                        @Translation.Get("Kunder")
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if (model.Customers != null)
                                        {
                                            foreach (var customer in model.Customers)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index", "cases", new { customerId = customer.Id })">@customer.Name</a>
                                                </li>
                                            }
                                        }                                    
                                    </ul>
                                </li>
                                @if (model.IsCustomerOrSystemAdministrator())
                                {
                                    <li>
                                        <a href="@Url.Action("index", "start", new { area = "admin" })" target="_blank">
                                            <i class="icon-wrench"></i>
                                            @Translation.Get("Administration")
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("edit", "profile", new { id = SessionFacade.CurrentUser.Id })">
                                        <i class="icon-user"></i>
                                        @Translation.Get("Profil")
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index", "about")" >
                                        <i class="icon-info-sign"></i>
                                        @Translation.Get("Om")
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("login", "login")">
                                        <i class="icon-off"></i>
                                        @Translation.Get("Logga ut")
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    @RenderBody()
    @RenderSection("Dialogs", false)
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhHelpdesk.js")"></script>
    @RenderSection("Scripts", false)
    <input type="hidden" value="@Request.RawUrl" id="rawUrl" />
    @Html.Partial("_Translations", null)
    </body>
</html>
