<!DOCTYPE html>
<html>
    <head>
        <meta content="html/text; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <title>@Translation.Get("dhHelpdesk", Enums.TranslationSource.TextTranslation)</title>

        <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/dhhelpdesk.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/profile.css")" />

        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.3.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.9.2.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-multiselect.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/MicrosoftAjax.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/MicrosoftMvcAjax.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/custom.validation.maxlengthfrom.notrequired.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/custom.validation.requiredfrom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/custom.validation.maxlengthfrom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/sortby.js")"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>