<!DOCTYPE html>
<html>
    <head>
        <meta content="html/text; charset=utf-8" />
        <title>@Translation.Get("dhHelpdesk", Enums.TranslationSource.TextTranslation)</title>

        <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/dhhelpdesk.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/profile.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/js/jquery.plupload.queue/css/jquery.plupload.queue.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />

        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.9.2.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-multiselect.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/plupload.full.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.plupload.queue/jquery.plupload.queue.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/custom.validation.requiredfrom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/custom.validation.maxlengthfrom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/sortby.js")"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>