@model DH.Helpdesk.Web.Models.Case.CaseSearchFilterData 
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions

@if (Model != null)
{<form id="frmCaseSearch" name="frmCaseSearch">
    <div class="container">
        <div class="row" id="hiddeninfo" style="display:none">
            <div data-field="caseRemainingTimeShowPlace" style="float: right;"></div>
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            <input type="hidden" value="@Model.filterCustomerId" id="hidFilterCustomer_Id" name="hidFilterCustomerId" />                             
                            <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.SortBy" id="hidSortBy" name="hidSortBy" />
                            <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.Ascending" id="hidSortByAsc" name="hidSortByAsc" />
                        </td>
                        <td class="span4">
                        </td>
                        <td class="span5">
                        </td>
                    </tr>
                    @if (Model.filterRegion != null)
                    {
                        <tr>
                            <td>                                                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Region_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                
                            </td>
                            <td>
                                <select id="lstFilterRegion" name="lstFilterRegion" data-field="region" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterRegion)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.Region)>@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterCountry != null)
                    {
                        <tr>
                            <td>
                                @Translation.Get("Country", Enums.TranslationSource.TextTranslation)
                            </td>
                            <td>
                                <select id="lstFilterCountry" name="lstFilterRegion" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterCountry)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.Country)>@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterDepartment != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Department_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <select id="lstfilterDepartment" name="lstfilterDepartment" data-field="department" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterDepartment)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.Department)>@e.DepartmentDescription(Model.customerSetting.DepartmentFilterFormat)</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterCaseUser != null)
                    {
                        <tr>
                            <td>                                                               
                                @Translation.Get(GlobalEnums.TranslationCaseFields.User_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                
                            </td>
                            <td>
                                <select id="lstfilterUser" name="lstfilterUser" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterCaseUser)
                                    {
                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.User)>@e.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterCaseType != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                 
                            </td>
                            <td>
                                <div id="divCaseType" class="btn-group">
                                    <div class="btn" id="divBreadcrumbs_CaseType">@Model.caseSearchFilter.ParantPath_CaseType</div>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
                                        @Html.CaseTypeDropdownButtonString(Model.filterCaseType)
                                    </ul>
                                    <input type="hidden" class="hidden" value="@Model.caseSearchFilter.CaseType.supressZero()" id="hidFilterCaseTypeId" name="hidFilterCaseTypeId" />
                                </div>

                            </td>
                        </tr>                
                    }
                    @if (Model.filterProductArea != null)
                    {
                        <tr>
                            <td>                                                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <div id="divProductArea" class="btn-group pull-left">
                                    <div id="divBreadcrumbs_ProductArea" class="btn">@Model.caseSearchFilter.ParantPath_ProductArea</div>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
                                        @Html.ProductAreaDropdownButtonString(Model.filterProductArea)
                                    </ul>
                                    <input type="hidden" class="hidden" value="@Model.caseSearchFilter.ProductArea" id="hidFilterProductAreaId" name="hidFilterProductAreaId" />
                                </div>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterCategory != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Category_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                 
                            </td>
                            <td>
                                <select id="lstfilterCategory" name="lstfilterCategory" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterCategory)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.Category)>@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterWorkingGroup != null)
                    {
                        <tr>
                            <td>                                                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <select id="lstfilterWorkingGroup" name="lstfilterWorkingGroup" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterWorkingGroup)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.WorkingGroup)>@e.WorkingGroupName</option>
                                        }
                                    }
                                </select>
                            </td>

                        </tr>                
                    }
                    @if (Model.filterUser != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                 
                            </td>
                            <td>
                                <select id="lstfilterResponsible" name="lstfilterResponsible" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterUser)
                                    {
                                        if (e.IsActive == 1 && e.Performer == 1)
                                        {                        
                                            <option value="@e.Id @e.Id.IdIsSelected(Model.caseSearchFilter.UserResponsible)">@e.SurName @e.FirstName</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                 
                    }
                    @if (Model.filterPerformer != null)
                    {
                        <tr>
                            <td>                               
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <select id="lstfilterPerformer" name="lstfilterPerformer" data-field="administrator" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterPerformer)
                                    {
                                        if (e.IsActive == 1 && e.Performer == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.UserPerformer)>@e.SurName @e.FirstName</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                 
                    }
                    @if (Model.filterPriority != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Priority_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <select id="lstfilterPriority" name="lstfilterPriority" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterPriority)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.Priority)>@Translation.Get(e.Name, Enums.TranslationSource.TextTranslation)</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterStatus != null)
                    {
                        <tr>
                            <td>                                                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Status_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <select id="lstfilterStatus" name="lstfilterStatus" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterStatus)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.Status)>@Translation.Get(e.Name, Enums.TranslationSource.TextTranslation)</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.filterStateSecondary != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <select id="lstfilterStateSecondary" name="lstfilterStateSecondary" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.filterStateSecondary)
                                    {
                                        if (e.IsActive == 1)
                                        {                        
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.StateSecondary)>@Translation.Get(e.Name, Enums.TranslationSource.TextTranslation)</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>                
                    }
                    @if (Model.customerUserSetting.CaseRegistrationDateFilterShow)
                    {
                        <tr class="date-block">
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.RegTime.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                @Html.EditorFor(m => m.CaseRegistrationDateStartFilter, "DatePicker", new { id = "CaseRegistrationDateStartFilter"  })                                         
                                @Html.EditorFor(m => m.CaseRegistrationDateEndFilter, "DatePicker", new { id = "CaseRegistrationDateEndFilter" })                                                                         
                            </td>
                        </tr>                
                    }
                    @if (Model.customerUserSetting.CaseWatchDateFilterShow)
                    {
                        <tr class="date-block">
                            <td>                                                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.WatchDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                 
                            </td>
                            <td>
                                @Html.EditorFor(m => Model.CaseWatchDateStartFilter, "DatePicker", new { id = "CaseWatchDateStartFilter" })                                         
                                @Html.EditorFor(m => Model.CaseWatchDateEndFilter, "DatePicker", new { id = "CaseWatchDateEndFilter" })                                                                         
                            </td>
                        </tr>                
                    }
                    @if (Model.customerUserSetting.CaseClosingDateFilterShow)
                    {
                        <tr class="date-block">
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.FinishingDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                @Html.EditorFor(m => m.CaseClosingDateStartFilter, "DatePicker", new { id = "CaseClosingDateStartFilter" })                                         
                                @Html.EditorFor(m => m.CaseClosingDateEndFilter, "DatePicker", new { id = "CaseClosingDateEndFilter" })                                                                         
                            </td>
                        </tr>                
                    }
                    @if (Model.ClosingReasons != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.ClosingReason.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                <div id="divClosingReason" class="btn-group pull-left">
                                    <div id="divBreadcrumbs_ClosingReason" class="btn">@Model.caseSearchFilter.ParentPathClosingReason</div>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">@Translation.Get("--")</a></li>
                                        @Html.FinishingCauseDropdownButtonString(Model.ClosingReasons)
                                    </ul>
                                    <input type="hidden" class="hidden" value="@Model.caseSearchFilter.CaseClosingReasonFilter" id="hidFilterClosingReasonId" name="hidFilterClosingReasonId" />
                                </div>
                            </td>
                        </tr>                
                    }
                    @if (Model.InitiatorName != null)
                    {
                        <tr>
                            <td>                                
                                @Translation.Get(GlobalEnums.TranslationCaseFields.Persons_Name.ToString(), Enums.TranslationSource.CaseTranslation, Model.filterCustomerId):                                    
                            </td>
                            <td>
                                @Html.TextBoxFor(m=>m.InitiatorName)
                            </td>
                        </tr>                
                    }
                    <tr>
                        <td>                            
                        </td>
                        <td>
                            <input type="button" id="btnClearFilter" name="btnClearFilter" class="btn" value='@Translation.Get("Rensa")'>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Sök")
                        </td>
                        <td class="span4">
                            <input type="text" id="txtFreeTextSearch" value="@Model.caseSearchFilter.FreeTextSearch" name="txtFreeTextSearch" 
                                   rel="tooltip" 
                                   title="@Translation.Get("Använd # för att söka efter ärendenummer")" />
                        </td>
                        <td>
                            <select id="lstfilterCaseProgress" name="lstfilterCaseProgress">
                                @foreach (var e in Model.filterCaseProgress)
                                {
                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.caseSearchFilter.CaseProgress)>@e.StringValue</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input id="btnSearch" name="btnSearch" type="submit" class="btn" value="@Translation.Get("Sök")"/>
                        </td>
                        <td class="span5">
                            <a href="#" id="btnMore">
                                <i id="icoPlus" class="icon-plus-sign"></i> 
                                <i id="icoFilter" class="icon-filter"></i>
                            </a>                           
                        </td>
                    </tr>
                </table>
            </div>
            <div data-field="caseRemainingTimeHidePlace" style="float: right;"></div>                            
        </div>
    </div>
    </form>
}

<script>
    $(function () {
        if (
            '@Model.caseSearchFilter.Region' != '' ||
                '@Model.caseSearchFilter.Country' != '' ||
                '@Model.caseSearchFilter.Department' != '' ||
                '@Model.caseSearchFilter.User' != '' ||
                '@Model.caseSearchFilter.CaseType.supressZero()' != '' ||
                '@Model.caseSearchFilter.ProductArea' != '' ||
                '@Model.caseSearchFilter.Category' != '' ||
                '@Model.caseSearchFilter.WorkingGroup' != '' ||
                '@Model.caseSearchFilter.UserResponsible' != '' ||
                '@Model.caseSearchFilter.UserPerformer' != '' ||
                '@Model.caseSearchFilter.Priority' != '' ||
                '@Model.caseSearchFilter.Status' != '' ||
                '@Model.caseSearchFilter.StateSecondary' != '' ||
                '@Model.caseSearchFilter.CaseClosingReasonFilter' != '' ||
                '@Model.CaseClosingDateEndFilter' != '' ||
                '@Model.CaseClosingDateStartFilter' != '' ||
                '@Model.CaseRegistrationDateEndFilter' != '' ||
                '@Model.CaseRegistrationDateStartFilter' != '' ||
                '@Model.CaseWatchDateEndFilter' != '' ||
                '@Model.CaseWatchDateStartFilter' != '') {

            $("#hiddeninfo").toggle();
            $("#icoPlus").removeClass('icon-plus-sign').addClass('icon-minus-sign');
            $("#icoFilter").addClass('icon-filter');                        
        }
        

        $("#btnClearFilter").click(function() {
            window.location.href = '@Url.Action("Index", "Cases", new { customerId = Model.customer != null ? Model.customer.Id : (int?)null, clearFilters = true })';
            return false;
        });

        $("#btnMore").click(function (e) {
            e.preventDefault();
            $("#hiddeninfo").toggle();
            if ($("#icoPlus").hasClass('icon-minus-sign')) {
                $("#icoPlus").removeClass('icon-minus-sign').addClass('icon-plus-sign');
            }
            else {
                $("#icoPlus").removeClass('icon-plus-sign').addClass('icon-minus-sign');
            }
        });

        $('#txtFreeTextSearch').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#btnSearch").click();
            }
        });
    });
</script>