@model DH.Helpdesk.Web.Models.Case.CustomerCasesModel
@if (Model != null && Model.CustomerCases != null && Model.CustomerCases.Any())
{
    <div class="box-header portlet-header">
        <div class="start-tile-img label orange">
            <a href="@Url.Action("index", "cases", new {area = ""})"><img src="@Url.Content("~/Content/icons/customer.png")" alt="@Translation.Get("Kund")" /></a>
        </div>
        <h4>@Translation.Get("Sammanfattning - Ärende")</h4>
    </div>
    <div class="box-body portlet-content">
        <div class="box-post">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                @foreach (var customer in Model.CustomerCases.OrderBy(x => x.CustomerName))
                {
                    if (customer.Active)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("InitFilter", "cases", new { customerId = customer.CustomerId })" class="pull-left">
                                    @customer.CustomerName
                                </a>
                                <div class="pull-right">
                                    <a href="@Url.Action("InitFilter", "cases", new { customerId = customer.CustomerId, clearFilters = true, useMyCases = true })"
                                       class="start-tile label my"
                                       rel="tooltip"
                                       data-toggle="tooltip"
                                       title="@Translation.Get("Mina ärenden")">
                                        @customer.CasesMy
                                    </a>

                                    <a href="@Url.Action("InitFilter", "cases", new { customerId = customer.CustomerId, clearFilters = true, customFilter = "HoldCases" })"
                                       class="start-tile label inrest"
                                       rel="tooltip"
                                       title="@Translation.Get("Vilande ärenden")">
                                        @customer.CasesInRest
                                    </a>
                                    <a href="@Url.Action("InitFilter", "cases", new { customerId = customer.CustomerId, clearFilters = true, customFilter = "UnreadCases" })"
                                       rel="tooltip"
                                       class="start-tile label closed"
                                       title="@Translation.Get("Olästa ärenden")">
                                        @customer.CasesUnreaded
                                    </a>
                                    <a href="@Url.Action("InitFilter", "cases", new { customerId = customer.CustomerId, clearFilters = true, customFilter = "InProcessCases" })"
                                       rel="tooltip"
                                       class="start-tile label unread"
                                       title="@Translation.Get("Pågående ärenden")">
                                        @customer.CasesInProgress
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }

                }
                </tbody>
            </table>
        </div>
    </div>
}
