@using DH.Helpdesk.Common.Extensions.DateTime
@model DH.Helpdesk.Web.Models.Widgets.WidgetModel<DH.Helpdesk.BusinessData.Models.Document.Output.DocumentOverview>

@if (Model != null && Model.Items.Any())
{
    <div class="row-fluid">
        <div class="box-box span12">
            <div class="box-header portlet-header">
                <div class="start-tile-img label purple">
                    <a href="@Url.Action("Index", "Document", new {area = ""})">
                        <img src="@Url.Content("~/Content/icons/documenthandling.png")" alt="@Translation.Get("Dokument")"/>
                    </a>
                </div><h4>@Translation.Get("Dokument")</h4>
            </div>
            <div class="box-body portlet-content">
                @foreach (var document in Model.Items)
                {
                    <div class="box-post" onclick="">
                        <div class="label purple">@document.CustomerName | @document.ChangedDate.ToFormattedDate()</div>
                        <div class="textrow">
                            @if (document.Size == 0)
                            {
                                @document.Name
                            }
                            else
                            {
                                <a href="@Url.Action("DocumentFile", "Document", new {document = document.Id})">@document.Name</a>
                            }
                        </div>
                    </div>
                }
                @if (Model.ShowMore)
                {
                    <div class="box-post more">
                        <a class="btn" href="@Url.Action("index", "Document", new {area = ""})">>></a>
                    </div>
                }
            </div>
        </div>
    </div>
}
