@model DH.Helpdesk.Web.Models.Link.LinksInfoViewModel
@if(Model != null && Model.CustomerGroups.Any())
{
    <div class="row-fluid">
        <div class="box-box span12">
            <div class="box-header portlet-header">
                <div class="start-tile-img label orange">
                    <img src="@Url.Content("~/Content/icons/quicklinks.png")" alt="@Translation.Get("Snabblänkar", Enums.TranslationSource.TextTranslation)" />
                </div>
                <h4>@Translation.Get("Snabblänkar", Enums.TranslationSource.TextTranslation)</h4>
            </div>
            <div class="box-body portlet-content">
                <div class="box-main">
                    <div class="accordion" id="quicklinksstart">
                        @foreach(var customerGroup in Model.CustomerGroups)
                        {
                            <div id="quicklinksstart@(customerGroup.CustomerId)" class="accordion-group accordion-caret">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle accordion-caret collapsed" data-toggle="collapse" data-parent="#quicklinksstart" 
                                        href="#collapseLinkInfo@(customerGroup.CustomerId)"><strong>@Translation.Get(customerGroup.CustomerName, Enums.TranslationSource.TextTranslation)</strong>
                                    </a>
                                </div>
                                <div id="collapseLinkInfo@(customerGroup.CustomerId)" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div id="parent@(customerGroup.CustomerId)">
                                            @foreach(var categoryGroup in customerGroup.Categories)
                                            {
                                                if(!string.IsNullOrEmpty(categoryGroup.CategoryName))
                                                {
                                                <div class="accordion-heading accordion-group">
                                                    <a class="accordion-toggle accordion-caret collapsed" data-toggle="collapse" data-parent="#parent@(customerGroup.CustomerId)" 
                                                        href="#collapseLinkInfoGroup@(categoryGroup.CategoryId)"><strong>@Translation.Get(categoryGroup.CategoryName, Enums.TranslationSource.TextTranslation)</strong>
                                                    </a>
                                                </div>
                                                <ul id="collapseLinkInfoGroup@(categoryGroup.CategoryId)" class="accordion-body collapse">
                                                    @foreach(var link in categoryGroup.Links.OrderBy(x=>x.SortOrder))
                                                    {
                                                        var target = link.OpenInNewWindow ? "target=\"_blank\"" : "";
                                                        <li style="padding-left: 18px;">
                                                            @if(string.IsNullOrEmpty(link.UrlAddress))
                                                            {
                                                                if (link.DocumentId == null || link.DocumentId == 0)
                                                                {
                                                                <a @target href="@Url.Action("new/", "cases", new { customerId = link.CustomerId, templateId = link.CaseSolutionId, templateistrue = 1 })">@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                                else
                                                                {
                                                                <a @target href="@Url.Action("DocumentFile", "Document", new { document = link.DocumentId })">@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                var linkUrlAddress = link.UrlAddress;
                                                                linkUrlAddress = linkUrlAddress.Replace("[UserId]", HttpUtility.UrlEncode(SessionFacade.CurrentUser.UserId)).Replace("[Language]", SessionFacade.CurrentLanguageCode).Replace("[ApplicationType]", "HD5");

                                                                if(link.OpenInNewWindow)
                                                                {
                                                                <a onclick="window.open('@linkUrlAddress', null, 'width=@link.NewWindowWidth,height=@link.NewWindowHeight,resizable=yes,scrollbars=yes');" 
                                                                            style="cursor:pointer"><i class="icon-play-circle"></i>&nbsp;@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                                else
                                                                {         
                                                                <a href="@linkUrlAddress"><i class="icon-play-circle"></i>&nbsp;@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                                }
                                                else
                                                {
                                                <ul>
                                                    @foreach(var link in categoryGroup.Links)
                                                    {
                                                        var target = link.OpenInNewWindow ? "target=\"_blank\"" : "";
                                                        <li>
                                                            @if(string.IsNullOrEmpty(link.UrlAddress))
                                                            {
                                                                if(link.DocumentId == null || link.DocumentId==0)
                                                                {
                                                                <a @target href="@Url.Action("new/", "cases", new { customerId = link.CustomerId, templateId = link.CaseSolutionId, templateistrue = 1 })">@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                                else
                                                                {
                                                                <a @target href="@Url.Action("DocumentFile", "Document", new { document = link.DocumentId })">@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                var linkUrlAddress = link.UrlAddress;
                                                                linkUrlAddress = linkUrlAddress.Replace("[UserId]", SessionFacade.CurrentUser.UserId).Replace("[Language]", SessionFacade.CurrentLanguageCode);

                                                                if(link.OpenInNewWindow)
                                                                {
                                                                <a onclick="window.open('@linkUrlAddress', null, 'width=@link.NewWindowWidth,height=@link.NewWindowHeight,resizable=yes,scrollbars=yes');" 
                                                                            style="cursor:pointer"><i class="icon-play-circle"></i>&nbsp;@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                                else
                                                                {         
                                                                <a href="@linkUrlAddress"><i class="icon-play-circle"></i>&nbsp;@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                }
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    // Make the collapse correct, arrows correct... hack DL 20150526

    $(document).on('click', '.accordion-toggle', function (event) {
        event.stopPropagation();
        var $this = $(this);

        var parent = $this.data('parent');
        var actives = parent && $(parent).find('.collapse.in');

        $(parent).find('.accordion-caret').addClass('collapsed');

        // From bootstrap itself
        if (actives && actives.length) {
            hasData = actives.data('collapse');
            //if (hasData && hasData.transitioning) return;
            actives.collapse('hide');
            $this.removeClass('collapsed');
        }

        var target = $this.attr('data-target') || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, ''); //strip for ie7

        $(target).collapse('toggle');
    });

</script>
