@model DH.Helpdesk.Web.Models.Link.LinksInfoViewModel
@if(Model != null && Model.CustomerGroups.Any())
{
    <div class="row-fluid">
        <div class="box-box span12">
            <div class="box-header portlet-header">
                <div class="start-tile-img label orange">
                    <img src="@Url.Content("~/Content/icons/quicklinks.png")" alt="@Translation.Get("Snabblänkar", Enums.TranslationSource.TextTranslation)" />
                </div>
                <h4>@Translation.Get("Snabblänkar", Enums.TranslationSource.TextTranslation)</h4>
            </div>
            <div class="box-body portlet-content">
                <div class="box-main">
                    <div class="accordion" id="quicklinksstart">
                        <div class="accordion-group accordion-caret">
                            @foreach(var customerGroup in Model.CustomerGroups)
                            {
                                <div class="accordion-heading">
                                    <a class="accordion-toggle accordion-caret collapsed" data-toggle="collapse" data-parent="#quicklinksstart" href="#collapseLinkInfo@(customerGroup.CustomerId)"><strong>@customerGroup.CustomerName</strong>
                                    </a>
                                </div>
                                <div id="collapseLinkInfo@(customerGroup.CustomerId)" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul>
                                            @foreach(var categoryGroup in customerGroup.Categories)
                                            {  
                                                <li><strong>@Translation.Get(categoryGroup.CategoryName, Enums.TranslationSource.TextTranslation)</strong></li>
                                                <li>
                                                    <ul>
                                                        @foreach(var link in categoryGroup.Links)
                                                        {
                                                            var target = link.OpenInNewWindow ? "target=\"_blank\"" : "";
                                                            <li>
                                                                @if(string.IsNullOrEmpty(link.UrlAddress))
                                                                {
                                                                    if(link.DocumentId == null)
                                                                    {
                                                                    <a @target href="@Url.Action("new/", "cases", new { customerId = link.CustomerId, templateId = link.CaseSolutionId })">@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                    else
                                                                    {
                                                                    <a @target href="@Url.Action("DocumentFile", "Document", new { document = link.DocumentId })">@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    var linkUrlAddress = link.UrlAddress;
                                                                    linkUrlAddress = linkUrlAddress.Replace("[UserId]", SessionFacade.CurrentUser.UserId).Replace("[Language]", SessionFacade.CurrentLanguageCode);

                                                                    if(link.OpenInNewWindow)
                                                                    {
                                                                        <a onclick="window.open('@linkUrlAddress', null, 'width=@link.NewWindowWidth,height=@link.NewWindowHeight,resizable=yes,scrollbars=yes');" 
                                                                            style="cursor:pointer"><i class="icon-play-circle"></i>@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                    else
                                                                    {         
                                                                    <a href="@linkUrlAddress"><i class="icon-play-circle"></i>@Translation.Get(link.UrlName, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}