@using DH.Helpdesk.Common.Extensions.DateTime
@model DH.Helpdesk.Web.Models.Case.MyCasesModel

@if (Model != null && Model.Cases != null && Model.Cases.Any())
{
    <div class="box-header portlet-header">
        <div class="start-tile-img label orange">
            <img src="@Url.Content("~/Content/icons/case.png")" alt="@Translation.Get("Mina ärenden")" />
        </div>
        <h4>@Translation.Get("Mina ärenden")</h4>
    </div>
    <div class="box-body portlet-content">
        <div class="box-post">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Translation.Get("Ärende")
                        </th>                         
                        <th>
                            @Translation.Get("Ämne")
                        </th>                       
                        <th>
                            @Translation.Get("Datum")
                        </th>                        
                       @* <th>
                            @Translation.Get("Anmälare")
                        </th> *@                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var myCase in Model.Cases)
                    {     
                        <tr rel="tooltip" title="<strong>@Translation.Get("Anmälare"):</strong> @Html.DisplayFor(m => myCase.InitiatorName)<br /><strong>@Translation.Get("Beskrivning"):</strong> @Html.DisplayFor(m => myCase.Description) " style="cursor: pointer" onclick="window.location.href = '@Url.Action("Edit", "Cases", new { id = myCase.Id })'">
                            <td>
                                @Html.DisplayFor(m => myCase.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => myCase.Subject)
                            </td>
                            <td>
                                @myCase.RegistrationDate.ToFormattedDateTime()
                            </td>
                            @*<td>
                                @Html.DisplayFor(m => myCase.InitiatorName)
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


