@using DH.Helpdesk.Common.Extensions.DateTime
@model IEnumerable<DH.Helpdesk.BusinessData.Models.OperationLog.Output.OperationLogOverview>

@if (Model != null && Model.Any())
{
    <div class="row-fluid">
        <div class="box-box span12">
            <div class="box-header portlet-header">
                <div class="start-tile-img label green"><a href="@Url.Action("index", "operationlog", new {area = ""})"><img src="@Url.Content("~/Content/icons/operationlog.png")" alt="@Translation.Get("Driftlogg", Enums.TranslationSource.TextTranslation)" /></a></div><h4>@Translation.Get("Driftlogg", Enums.TranslationSource.TextTranslation)</h4>
            </div>
            <div class="box-body portlet-content">
                @foreach (var operationLog in Model)
                {
                    if (operationLog.Object.Status == 1)
                    {
                        <div class="box-post">                        
                            <div class="label green">                            
                                @operationLog.CustomerName | Skapad @operationLog.CreatedDate.ToFormattedDateTime() Uppdaterad @operationLog.ChangedDate.ToFormattedDateTime()
                            </div>
                            <div class="captionrow">@operationLog.Object.Name</div>
                            <div class="textrow">@Html.Raw(operationLog.LogText.Replace(Environment.NewLine, "<br />")) <br /> @Html.Raw(operationLog.LogAction.Replace(Environment.NewLine, "<br />"))</div>
                        </div>
                    }
                }            
            </div>
        </div>
    </div>
}
