@using DH.Helpdesk.Common.Extensions.DateTime
@model DH.Helpdesk.Web.Models.Widgets.WidgetModel<DH.Helpdesk.BusinessData.Models.Problem.Output.ProblemInfoOverview>

@if (Model != null && Model.Items.Any())
{
    <div class="row-fluid">
        <div class="box-box span12">
            <div class="box-header portlet-header">
                <div class="start-tile-img label orange">
                    <a href="@Url.Action("Index", "Problems", new {area = ""})">
                        <img src="@Url.Content("~/Content/icons/problem.png")" alt="@Translation.Get("Problem")"/>
                    </a>
                </div>
                <h4>@Translation.Get("Problem")</h4>
            </div>
            <div class="box-body portlet-content">
                @foreach (var problem in Model.Items)
                {
                    <div class="box-post" onclick="">
                        <div class="label orange">@problem.CustomerName | @problem.CreatedDate.ToFormattedDateTime()</div>                        
                        <div class="textrow">@string.Format("#{0}, {1}", problem.ProblemNumber, problem.Name)</div>
                    </div>
                }
                @if (Model.ShowMore)
                {
                    <div class="box-post" style="text-align: center">
                        <a class="btn" href="@Url.Action("index", "Problems", new {area = ""})">>></a>
                    </div>
                }
            </div>
        </div>
    </div>    
}
