@using System.Web.Optimization
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Areas.Reports.Models.ReportService.ReportFilterModel

@Scripts.Render("~/bundles/report/reportViewer")

<div id="CustomerSpecificFilterPartial" >      
    @if (Model != null)
    {                         
        <div class="span6">
            <table class="tableform">

                @if (Model.Departments != null)
                {
                    var selectedItems = Model.Selected.SeletcedDepartments.GetSelectedStr();
                    <tr>
                        <td>
                            @Translation.Get(GlobalEnums.TranslationCaseFields.Department_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id)
                        </td>
                        <td>
                            <select id="lstfilterDepartment" name="lstfilterDepartment" data-field="departments" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                @foreach (var d in Model.Departments)
                                {
                                    if (d.IsActive == 1)
                                    {
                                        <option value="@d.Id" @d.Id.IdIsSelected(selectedItems)>
                                            @d.DepartmentName                                            
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@d.Id" @d.Id.IdIsSelected(selectedItems) class="DisabledChosen" >
                                            @d.DepartmentName
                                        </option>
                                    }                                    
                                }
                            </select>
                        </td>
                    </tr>                
                }
                
                @if (Model.WorkingGroups != null)
                {
                    var selectedItems = Model.Selected.SelectedWorkingGroups.GetSelectedStr();
                    <tr>
                        <td>
                            @Translation.Get(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id)
                        </td>
                        <td>
                            <select id="lstfilterWorkingGroup" name="lstfilterWorkingGroup" data-field="workinggroups" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                @foreach (var w in Model.WorkingGroups)
                                {
                                    if (w.IsActive == 1)
                                    {
                                        <option value="@w.Id" @w.Id.IdIsSelected(selectedItems)>
                                            @w.WorkingGroupName                                            
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@w.Id" @w.Id.IdIsSelected(selectedItems) class="DisabledChosen" >
                                            @w.WorkingGroupName
                                        </option>
                                    }                                    
                                }
                            </select>
                        </td>
                    </tr>                
                }               

                @if (Model.CaseTypes != null)
                {
                    var selectedCaseTypeId = Model.Selected.SelectedCaseTypes.FirstOrDefault();
                    <tr>
                        <td>
                            @Translation.Get(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id)
                        </td>
                        <td>
                            <div id="CaseTypeDropDown" class="btn-group">
                                <div class="btn" id="divBreadcrumbs_CaseTypeDropDown"> @Translation.Get("--", Enums.TranslationSource.TextTranslation)
                                    @*@Model.CaseTypeSelectedText*@  </div>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
                                    @Html.CaseTypeDropdownButtonString(Model.CaseTypes, false)
                                </ul>
                                <input type="hidden" class="hidden" value="@selectedCaseTypeId" id="hid_CaseTypeDropDown" name="hid_CaseTypeDropDown" />
                            </div>
                        </td>
                    </tr>                
                }           
                    
            </table>
        </div>
    }

</div>

