@using DH.Helpdesk.BusinessData.Models.Shared
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@using DH.Helpdesk.BusinessData.OldComponents
@model DH.Helpdesk.Web.Areas.Reports.Models.ReportService.ReportServiceOverviewModel
<script type="text/javascript">
    window.Params = {
        SpecificFilterDataUrl: '@Url.Content("~/Reports/Report/GetCustomerSpecificFilter")',
        ShowReportUrl: '@Url.Content("~/Reports/Report/ShowReport")',
        ShowGeneratedReportUrl: '@Url.Content("~/Reports/Report/GetReportGeneratorReport")',
        SaveFiltersUrl: '@Url.Content("~/Reports/Report/SaveReportFilters")',
        GetReportFilterOptionsUrl: '@Url.Content("~/Reports/Report/GetReportFilterOptions")',
        DeleteReportFavoriteUrl: '@Url.Content("~/Reports/Report/DeleteReportFavorite")',
        CurrentCustomerId: '@Model.CustomerId',
        DateIsEmptyMessage: '@Translation.GetCoreTextTranslation("Var vänlig ange ett datum.")'
    };
</script>

@if (Model != null)
{
    <div class="container">
        <div class="row report-filters">
            <div class="span6">
                <table class="tableform">
                    @if (Model.ReportList != null)
                    {
                        var selectedItems = Model.ReportList.SelectedItems.GetSelectedStr();
                        <tr>
                            <td>
                                @Translation.GetCoreTextTranslation("Rapporter")
                            </td>
                            <td>
                                <select id="lstReports" name="lstReports" data-field="reports" style="width: 300px;">
                                    @foreach (var r in Model.ReportList.Items)
                                    {
                                        var reportId = int.Parse(r.Id);
                                        <option value="@r.Id" data-id="@r.Id" @reportId.IdIsSelected(selectedItems) data-identity="@r.Value">
                                            @Translation.GetMasterDataTranslation(r.Value)
                                        </option>
                                    }
                                    @foreach (var f in Model.ReportFavorites)
                                    {
                                        <option value="@f.Name" data-id="@f.Id" data-orig-report-id="@f.OriginalReportId">
                                            @f.Name
                                        </option>
                                    }

                                </select>
                            </td>
                        </tr>
                    }

                    @if (Model.ReportFilter.GroupByList != null)
                    {
                        <tr id="groupBy" style="display: none">
                            <td>
                                @Translation.GetCoreTextTranslation("Gruppera")
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.ReportFilter.Selected.GroupById, Model.ReportFilter.GroupByList, null,
                                    new { id = "lstGroupBy", style = "width: 300px;" })
                            </td>
                        </tr>
                    }

                    <tr id="reportCategoryParam">
                        <td>
                            @Translation.GetCoreTextTranslation("Gruppera")
                        </td>
                        <td>
                            <select id="lstfilterReportCategory" name="lstfilterCategory" data-field="reportcategories" style="width: 300px;"
                                    data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" @(Model.ReportFilter.ReportCategory == null ? " display: none" : "")>
                                @if (Model.ReportFilter.ReportCategory != null)
                                {
                                    foreach (var r in Model.ReportFilter.ReportCategory)
                                    {
                                        var curId = 0;
                                        int.TryParse(r.Id, out curId);
                                        <option value="@r.Id" @(r.IsActive ? "" : "class='DisabledChosen'")>
                                            @r.Value
                                        </option>
                                    }
                                }
                            </select>
                            <select id="lstfilterReportCategoryRt" name="lstfilterCategoryRt" data-field="reportcategoriesrt" style="width: 300px;"
                                    data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" @(Model.ReportFilter.ReportCategoryRt == null ? " display: none" : "")>
                                @if (Model.ReportFilter.ReportCategoryRt != null)
                                {
                                    foreach (var r in Model.ReportFilter.ReportCategoryRt)
                                    {
                                        var curId = 0;
                                        int.TryParse(r.Id, out curId);
                                        <option value="@r.Id" @(r.IsActive ? "" : "class='DisabledChosen'")>
                                            @r.Value
                                        </option>
                                    }
                                }
                            </select>

                            <select id="lstfilterReportCategory_repl" style="width: 300px;" @(Model.ReportFilter.ReportCategory == null ? "" : " display: none") disabled></select>

                        </td>
                    </tr>

                    @if (Model.ReportFilter.StackByList != null)
                    {
                        <tr id="stackBy">
                            <td>
                                @Translation.GetCoreTextTranslation("Stapla")
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.ReportFilter.Selected.StackById, Model.ReportFilter.StackByList, "",
                                    new { id = "lstStackBy", style = "width: 300px;" })
                            </td>
                        </tr>
                    }

                    @if (Model.ReportFilter.Status != null)
                    {
                        var selectedItems = Model.ReportFilter.Selected.SelectedCaseStatus.GetSelectedStr();
                        <tr>
                            <td>
                                @Translation.GetCoreTextTranslation("Status")
                            </td>
                            <td>
                                <select id="lstStatus" name="lstStatus" data-field="status" style="width: 300px;">
                                    @foreach (var s in Model.ReportFilter.Status.Items)
                                    {
                                        int statusId = int.Parse(s.Id);
                                        <option value="@s.Id" @statusId.IdIsSelected(selectedItems)>
                                            @s.Value
                                        </option>
                                    }
                                </select>
                            </td>
                        </tr>
                    }

                    @if (Model.ReportFilter.CaseCreationDate != null)
                    {
                        <tr class="date-block">
                            <td>
                                @Translation.Get(GlobalEnums.TranslationCaseFields.RegTime.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                            </td>
                            <td>
                                @Html.EditorFor(m => Model.ReportFilter.CaseCreationDate.FromDate, "DatePicker", new { id = "CaseRegistrationFromDate" })
                                &nbsp;
                                @Html.EditorFor(m => Model.ReportFilter.CaseCreationDate.ToDate, "DatePicker", new { id = "CaseRegistrationToDate" })
                            </td>
                        </tr>
                    }
                    <tr class="date-block">
                        <td>
                            @Translation.Get(GlobalEnums.TranslationCaseFields.FinishingDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                        </td>
                        <td>
                            @Html.EditorFor(m => Model.ReportFilter.CaseClosingDate.FromDate, "DatePicker", new { id = "CaseClosingFromDate" })
                            &nbsp;
                            @Html.EditorFor(m => Model.ReportFilter.CaseClosingDate.ToDate, "DatePicker", new { id = "CaseClosingToDate" })
                        </td>
                    </tr>
                    <tr id="logNoteDateFields" class="date-block" style="display: none">
                        <td>
                            @Translation.Get("Noteringsdatum")
                        </td>
                        <td>
                            @Html.EditorFor(m => Model.ReportFilter.LogNoteDate.FromDate, "DatePicker", new { id = "LogNoteFromDate" })
                            &nbsp;
                            @Html.EditorFor(m => Model.ReportFilter.LogNoteDate.ToDate, "DatePicker", new { id = "LogNoteToDate" })
                        </td>
                    </tr>
                    @{
                        <tr id="reportGeneratorFields" style="display: none">
                            <td>
                                @Translation.GetCoreTextTranslation("Fält")
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.ReportGeneratorOptions.FieldIds, Model.ReportGeneratorOptions.Fields,
                                        new
                                        {
                                            id = "lstFields",
                                            multiple = "multiple",
                                            @class = "multiselect multiselect-search"
                                        })

                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="span6">
                <table class="tableform">

                        <tr>
                            <td colspan="2">
                                <label style="font-weight: bold;">@Translation.GetCoreTextTranslation("Nuvarande värden")</label>
                            </td>
                        </tr>

                        @if (Model.ReportFilter.Administrators != null)
                        {
                            var selectedItems = Model.ReportFilter.Selected.SelectedAdministrator.GetSelectedStr();
                            <tr>
                                <td>
                                    @Translation.Get(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                                </td>
                                <td>
                                    <select id="lstfilterAdministrator" name="lstfilterAdministrator" data-field="administrator" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                        @foreach (var a in Model.ReportFilter.Administrators)
                                        {
                                            var userName = "";
                                            if (Model.ReportFilter.FirstUserNameOrientation)
                                            {
                                                userName = a.FirstName + " " + a.SurName;
                                            }
                                            else
                                            {
                                                userName = a.SurName + " " + a.FirstName;
                                            }

                                            <option class="@(a.IsActive == 0 ? "DisabledChosen" : "")" value="@a.Id" @a.Id.IdIsSelected(selectedItems)>
                                                @userName
                                            </option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }


                        @if (Model.ReportFilter.Departments != null)
                        {
                            var selectedItems = Model.ReportFilter.Selected.SeletcedDepartments.GetSelectedStr();
                            <tr>
                                <td>
                                    @Translation.Get(GlobalEnums.TranslationCaseFields.Department_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                                </td>
                                <td>
                                    <select id="lstfilterDepartment" name="lstfilterDepartment" data-field="departments" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                        @foreach (var d in Model.ReportFilter.Departments)
                                        {
                                            if (d.IsActive == 1)
                                            {
                                                <option value="@d.Id" @d.Id.IdIsSelected(selectedItems)>
                                                    @d.DepartmentName
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@d.Id" @d.Id.IdIsSelected(selectedItems) class="DisabledChosen">
                                                    @d.DepartmentName
                                                </option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        }

                        @if (Model.ReportFilter.WorkingGroups != null)
                        {
                            var selectedItems = Model.ReportFilter.Selected.SelectedWorkingGroups.GetSelectedStr();
                            <tr>
                                <td>
                                    @Translation.Get(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                                </td>
                                <td>
                                    <select id="lstfilterWorkingGroup" name="lstfilterWorkingGroup" data-field="workinggroups" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                        @foreach (var w in Model.ReportFilter.WorkingGroups)
                                        {
                                            <option value="@w.Id" @w.Id.IdIsSelected(selectedItems) class="@(w.IsActive == 0 ? "DisabledChosen" : "")">
                                                @w.WorkingGroupName
                                            </option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }

                        @if (Model.ReportFilter.CaseTypes != null)
                        {
                            var selectedItems = Model.ReportFilter.Selected.SelectedCaseTypes.GetSelectedStr();
                            <tr>
                                <td>
                                    @Translation.Get(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                                </td>
                                <td>
                                    <select id="lstfilterCaseType" name="lstfilterCaseType" data-field="casetypes" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                        @foreach (var c in Model.ReportFilter.CaseTypes)
                                        {
                                            if (c.IsActive == 1)
                                            {
                                                <option value="@c.Id" @c.Id.IdIsSelected(selectedItems)>
                                                    @c.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@c.Id" @c.Id.IdIsSelected(selectedItems) class="DisabledChosen">
                                                    @c.Name
                                                </option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        }

                        @if (Model.ReportFilter.ProductAreas != null)
                        {
                            var selectedItems = Model.ReportFilter.Selected.SelectedProductAreas.GetSelectedStr();
                            <tr>
                                <td>
                                    @Translation.Get(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                                </td>
                                <td>
                                    <select id="lstfilterProductArea" name="lstfilterProductArea" data-field="productareas" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                        @foreach (var p in Model.ReportFilter.ProductAreas)
                                        {
                                            if (p.IsActive == 1)
                                            {
                                                <option value="@p.Id" @p.Id.IdIsSelected(selectedItems)>
                                                    @p.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@p.Id" @p.Id.IdIsSelected(selectedItems) class="DisabledChosen">
                                                    @p.Name
                                                </option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                    </table>
            </div>
            <div class="span6" id="historicalFilters" style="display: none">
                <table class="tableform">
                    <tr>
                        <td colspan="2">
                            <label style="font-weight: bold;">@Translation.GetCoreTextTranslation("Historiska värden")</label>
                        </td>
                    </tr>
                    <tr class="date-block">
                        <td>
                            @Translation.Get(GlobalEnums.TranslationCaseFields.ChangeTime.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                        </td>
                        <td>
                            @Html.EditorFor(m => Model.ReportFilter.CaseChangeDate.FromDate, "DatePicker", new { id = "historicalChangeDateFrom" })
                            &nbsp;
                            @Html.EditorFor(m => Model.ReportFilter.CaseChangeDate.ToDate, "DatePicker", new { id = "historicalChangeDateTo" })
                        </td>
                    </tr>
                    @if (Model.ReportFilter.WorkingGroups != null)
                    {
                        var selectedItems = Model.ReportFilter.Selected.SelectedHistoricalWorkingGroups.GetSelectedStr();
                        <tr>
                            <td>
                                @Translation.Get(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.CustomerId)
                            </td>
                            <td>
                                <select id="historicalWorkingGroups" data-placeholder="@Translation.Get("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var w in Model.ReportFilter.WorkingGroups)
                                    {
                                        <option value="@w.Id" @w.Id.IdIsSelected(selectedItems) class="@(w.IsActive == 0 ? "DisabledChosen" : "")">
                                            @w.WorkingGroupName
                                        </option>
                                    }
                                </select>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div id="otherReportsContainer" class="container">
        <div class="row">
            <div class="">
                @Html.Partial("ReportViewer/_PresentReport", Model.ReportViewerData)
            </div>
        </div>
    </div>

    <div id="generateReportContainer" style="display: none">
    </div>

    <div id="jsReportContainer" style="display: none;" class="container">
        <div class="row" style="display: none; position: relative; height:60vh; width:95vw">
            @Html.Partial("ReportViewer/_JsReport", Model.ReportViewerData)
        </div>
    </div>

    // Modal
    <div id="saveFilterDialog" class="modal fade " style="display: none;">
        <div class="modal-dialog">
            <form method="post" id="saveFilterDialogForm" autocomplete="off" class="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5>
                        <i class="icon-star"></i>
                        <span id="saveCaption">@Translation.GetCoreTextTranslation("Spara")</span>
                        <span id="saveAsCaption">@Translation.GetCoreTextTranslation("Spara som")</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <p style="margin-top: 20px;" id="saveBody">@Translation.GetCoreTextTranslation("Spara favorit?")</p>
                    <div id="saveAsBody">
                        <p style="margin-top: 20px;">@Translation.GetCoreTextTranslation("Fyll i ett namn på din nya favorit.")</p>
                        <p class="input-prepend" style="margin-top: 20px;">
                            <span class="add-on">@Translation.GetCoreTextTranslation("Namn")</span>
                            <input type="text" id="txtFilterName" value="" required />
                        </p>
                        <p>
                            <span id="requiredFilterText" hidden class="error">* @Translation.GetCoreTextTranslation("måste anges")</span>
                            <span id="filterDialogError" hidden class="error">@Translation.GetCoreTextTranslation("Namnet finns redan i dina favoriter. Välj ett annat namn eller uppdatera den befintliga favoriten med samma namn.") </span>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveFilter" data-selectedfavorite="" class="btn btn-ok">@Translation.GetCoreTextTranslation("Spara")</button>
                    <button type="button" id="btnCancel" class="btn btn-cancel" data-dismiss="modal">@Translation.GetCoreTextTranslation("Avbryt")</button>
                </div>
            </form>
        </div>
    </div>

}
