@model DH.Helpdesk.Web.Models.ReportService.ReportServiceModel
@using ReportViewerForMvc
@using DH.Helpdesk.Web.Infrastructure

@{
    ViewBag.Title = "ViewPage1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{        
    <div class="container">
        <div class="row">
            <div class="span6">
                <table class="tableform">
                    @if (Model.ReportFilter.Customers != null)
                    {
                        var selectedItems = Model.ReportFilter.Customers.GetSelctedItemsToStr();
                        <tr>
                            <td>
                                @Translation.Get("Kund")
                            </td>
                            <td>
                                <select id="lstfilterCustomers" name="lstfilterCustomers" data-field="customers" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                    @foreach (var c in Model.ReportFilter.Customers.Items)
                                    {
                                        int customerId = int.Parse(c.Id);                
                                        <option value="@customerId" @customerId.IdIsSelected(selectedItems)> @c.Value </option>                                          
                                    }
                                </select>
                            </td>
                        </tr>                
                     }
                </table>
            </div>
        </div>
        <div class="row">
            @if (Model.ReportViewerData != null) 
            {
                Html.ReportViewer(Model.ReportViewerData as Microsoft.Reporting.WebForms.ReportViewer);
            }
        </div>
    </div>
}

