@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using ECT.Model.Entities;
@{
    Layout = null;
    Model.Language = "nl";
}
<!DOCTYPE html>
<html>
<head>
    @*<link href="@Model.Contract.BaseUrl/FormLibContent/assets/css/documents.css" rel="stylesheet" type="text/css" />*@
    @Model.GetStyleAnswer("GetStyleLink")
    @Html.Partial("../Shared/Pdfs/_Styles", Model)
    @Model.GetStyleAnswer("GetStyles")
</head>
<body>
    <div class="default-page">@Html.Partial("../Shared/Pdfs/_Debug", Model)
        @Html.Partial("../Shared/Pdfs/_BarCode", Model)
         @Html.Partial("../Shared/Pdfs/_SectionAddressTop", Model)

            <p>Betreft: uitdiensttreding<br />
            <br />
            Beste @Model.GetDocumentAnswer("FirstName", true),
        </p>


        @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Resignation".ToLower())
        {
            <p>
                Hierbij bevestigen we de ontvangst van jouw mededeling waarmee je het dienstverband tussen jou en IKEA B.V. opzegt.
            </p>
        
            <p>We gaan hiermee akkoord en beschouwen @Model.GetDocumentAnswer("LastDayOfEmployment", true) als laatste dag van de arbeidsovereenkomst.</p>
        }
   
        @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Expiry of Contract".ToLower())
        {
            <p>Je arbeidsovereenkomst voor bepaalde tijd loopt af op @Model.GetDocumentAnswer("LastDayOfEmployment", true) en wordt niet verlengd. Dit betekent dat met ingang van bovengenoemde datum het dienstverband tussen jou en IKEA B.V. van rechtswege eindigt.</p>
        }

        @if (Model.GetDocumentAnswer("TerminationReason").ToLower() == "Termination in probation period by employer".ToLower())
        {
            <p>Het dienstverband tussen jou en IKEA B.V. is tijdens de proeftijd opgezegd. De reden van het ontslag is met jou besproken. De opzegging heeft tot gevolg dat @Model.GetDocumentAnswer("LastDayOfEmployment", true) de laatste dag van de arbeidsovereenkomst is.</p>
        }

        @if (Model.GetDocumentAnswer("TerminationReason").ToLower() == "Termination in probation period by employee".ToLower())
        {
            <p>Op @Model.GetDocumentAnswer("LastDayOfEmployment", true) wordt op jouw verzoek het dienstverband tussen jou en IKEA B.V. tijdens proeftijd beëindigd. Wij gaan hiermee akkoord en daarmee is @Model.GetDocumentAnswer("LastDayOfEmployment", true) de laatste dag van de arbeidsovereenkomst.</p>
            
            @*<p>We gaan hiermee akkoord en beschouwen @Model.GetDocumentAnswer("LastDayOfEmployment", true) als laatste dag van de arbeidsovereenkomst.</p>*@
        }

        @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Retirement".ToLower())
        {
            <p>Hierbij bevestigen we de beëindiging van rechtswege van de arbeidsovereenkomst tussen jou en IKEA, dit vanwege het bereiken van de pensioengerechtigde leeftijd.</p>
            
            <p>We beschouwen @Model.GetDocumentAnswer("LastDayOfEmployment", true) als laatste dag van je arbeidsovereenkomst.</p>

            @* SG 2018-02-06 case:60410 delete this paragraph*@
            @*<p>De personeelspas hoef je niet in te leveren, (vroeg)gepensioneerden behouden gedurende hun hele leven de IKEA personeelspas en daarmee het recht op personeelskorting. Dit is conform CAO.</p>*@
            @* SG 2018-02-06 case:60410 Add this paragraph*@
            <p>
                Conform IKEA CAO artikel 9F behouden (vroeg)gepensioneerden gedurende hun hele leven recht op personeelskorting. Wanneer je wilt genieten van de personeelskorting dien je een IKEA ‘Pensioenpas’ aan te vragen. Deze kun je aanvragen door bijgevoegd formulier in te vullen en met een pasfoto en je oude personeelspas retour te sturen in de bijgesloten retourenvelop.
                <br/><br /> 
                We willen jou de de mogelijkheid bieden om ook na jouw pensionering betrokken te blijven bij IKEA door jou:<br />
                <table border="0">                    
                    <tr>
                        <td style="padding-left: 20px !important;" valign="top">&bull;</td>
                        <td style="padding-left: 15px !important;" valign="top">het personeelsblad Connect Magazine toe te sturen</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px !important;" valign="top">&bull;</td>
                        <td style="padding-left: 15px !important;" valign="top">een kerstattentie aan te bieden</td>
                    </tr>                      
                    <tr>
                        <td style="padding-left: 20px !important;" valign="top">&bull;</td>
                        <td style="padding-left: 15px !important;" valign="top">uit te nodigen voor speciale gelegenheden</td>
                    </tr>  
                </table>
                <br />
                Mocht je na jouw pensionering op de hoogte willen blijven van ontwikkelingen bij IKEA, dan hebben we jouw actuele persoonsgegevens nodig. Met het retourneren van bijgevoegd formulier machtig je Stichting IKEA Pensioenfonds (STIP) om wijzigingen in jouw persoonsgegevens met IKEA B.V. te delen.
            </p>

            <p>Graag willen we je van harte bedanken voor je inzet bij IKEA!</p>
        }

        <p>Als je tenminste zes maanden onafgebroken in dienst bent geweest in dit Financial Year (FY) heb je recht op een naar rato afrekening van de One IKEA Bonus.</p>

        <p>De berekening gebeurt op basis van de laatst bekende schatting van het resultaat van jouw store/unit op het moment van je uitdiensttreding.</p>

        <p>De bonus gaat naar rato van je gewerkte uren, salaris en je bonuslevel. Het bedrag wordt uiterlijk 2 maanden na je uitdiensttreding uitbetaald.</p>

        @*(Coworkerfield is not implemented)*@
        @if (Model.GetDocumentAnswer("Co-WorkerBeenEmployedFor2Months").ToLower() == "Yes".ToLower() && Model.GetDocumentAnswer("BasicTerminationType").ToLower() != "Retirement".ToLower())
        {
            <p>We willen je wijzen op de mogelijkheid van waardeoverdracht van je pensioen naar een nieuwe werkgever. Informeer bij je nieuwe pensioenuitvoerder naar de procedure. Mocht je niet besluiten tot waardeoverdracht en je pensioenuitkering is kleiner dan € 100,- per jaar op je pensioendatum, dan betaalt STIP (Stichting IKEA Pensioenfonds) dit over twee jaar je pensioenaanspraken in één keer (dit noemen we afkoop). Zodra dit van toepassing is, ontvang je hiervoor een formulier van onze pensioenuitvoerder om de gegevens te controleren. STIP informeert je later over het pensioen dat je tijdens je dienstverband bij IKEA hebt opgebouwd.</p>
        }
        @* SG 2018-02-06 case:60410 delete this paragraph*@
        @*<p>
            Als je gebruik maakt van Bedrijfsfitness wordt met de eindafrekening van je salaris het resterende bedrag voor je abonnement verrekend. We verzoeken je om zelf je uitdiensttreding bij Bedrijfsfitness Nederland te melden. Voor meer informatie zie <a href="http://www.bedrijfsfitnessnederland.nl">www.bedrijfsfitnessnederland.nl</a>. 
        </p>*@
        @* SG 2015-10-23 case:52774 used Search key for BU display name: Model.GetDocumentAnswer("BusinessUnit", true)*@
        <p>We vragen je om op je laatste werkdag de eigendommen van IKEA in te leveren bij de vestiging @CustomPdfPage.IsEmpty(Model.Department.Searchkey, "Business Unit"). Denk hierbij aan je bedrijfskleding (schoon en gestreken), je naambadge, de sleutel van je kluisje en eventueel van het fietsenhok, je personeelspas (tenzij je met pensioen gaat), als je die hebt je NS Business card en eventuele andere eigendommen van IKEA zoals specifieke sleutels, laptop of telefoon.</p>

        <p>Indien de eigendommen niet (volledig) zijn geretourneerd kan ter compensatie een bedrag in mindering gebracht worden op de eindafrekening.</p>

        <p>In de bijlage vind je een toelichting op je laatste salarisbetalingen.</p>

        <p>Na @Model.GetDocumentAnswer("LastDayOfEmployment", true) vervalt je toegang tot ico-worker en ESS, de site om je salarisstroken te bekijken. Als je je salarisstroken wilt bewaren, zorg er dan voor dat je ze voor die datum hebt geprint of opgeslagen. De salarisstroken die na die datum nog beschikbaar komen, ontvang je per post.</p>

        <p>Graag ontvangen wij één exemplaar, met daarop je handtekening, voor akkoord retour. Deze kan je in de bijgevoegde envelop terugsturen.</p>

        <p>Mocht je het met één of meerdere bepalingen uit de bevestiging van jouw uitdiensttreding niet eens zijn, dan ontvangt de HR afdeling van jouw vestiging graag een schriftelijke reactie binnen 7 (zeven) kalenderdagen.</p>

        <table>
            <tr style="page-break-inside: avoid">
                <td>
                    <table>
                        <tr>
                            <td colspan="2">We hopen je hiermee voldoende te hebben geïnformeerd. Als je nog vragen hebt kan je contact opnemen met jouw leidinggevende of met de HR afdeling van jouw vestiging.
                                <br />
                                <br />
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">
                                @Html.Partial("../Shared/Pdfs/_Signature", Model)
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</div>  
</body>
</html>
