@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using System.Globalization;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "en";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
     @* ---Moved to UnitedkingdomPdfPage Class  
        <table style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr style="text-align: right;">
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:d MMMMMM yyyy}", DateTime.Now)</td>
            </tr>
        </table>
        <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            <strong>Private & Confidential</strong><br />
            @Html.Partial("_HeaderAddress", Model)
            <br />
            <br />
            <br />*@
        <p style="@UnitedKingdomPdfPage.StyleValue()">
            Dear @Model.GetDocumentAnswer("FirstName", true),<br />
            <br />
            Thank you for giving me your notification of pregnancy form and your MATB1. I am now in a position to confirm your entitlement to maternity pay and maternity leave.
             <br />
            <br />
            You are entitled to 26 weeks Ordinary Maternity Leave and 26 weeks Additional Leave giving a total of 52 weeks leave.
             <br />
            <br />
            You may start your leave any time from the beginning of the 11th week before your expected week of childbirth.
             <br />
            <br />
            In your letter you stated that you wish to start your Ordinary Maternity Leave on @Model.GetDocumentAnswer("AbsenceStartFrom" + Model.MultiNr, true). You may change this date but would need to give us 28 days notice of the original date or the new date, whichever is earlier.
             <br />
            <br />
            If you are still working at the beginning of the 4th week before the expected week of childbirth and you are absent wholly or partly due to pregnancy or childbirth then your Ordinary Maternity Leave will start. 
             <br />
            <br />
            Taking the @Model.GetDocumentAnswer("AbsenceStartFrom" + Model.MultiNr, true) which is when you want Ordinary Maternity Leave to begin this will mean you will be due to return to work on @Model.GetDocumentAnswer("AbsenceEndsOn" + Model.MultiNr, true). If you wish to return earlier than this date then you must give 8 weeks written notice. (<strong>There will be no further correspondence from us regarding your return date</strong>).
        
             <br />
            <br />
            <strong>Maternity Pay</strong><br />
            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Under 26 weeks".ToLower())
            {
                <text>As you have less than 26 weeks service at your 15th week before your expected week of childbirth, unfortunately you do not qualify for SMP. You therefore should make a claim for Maternity Allowance, please contact your local Jobcentre Plus. A SMP1 form will be issued by the HR Unit.</text>
                <text><br />
                <br /></text>
            }


            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "26 weeks - 1 year".ToLower())
            {
                <text>As you have less than one year’s service at your 15th week before your expected week of childbirth.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "1 - 2 years".ToLower())
            {
                <text>As you have more than one year’s service at your 15th week before your expected week of childbirth.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                <text>As you have more than two year’s service at your 15th week before your expected week of childbirth.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() != "Under 26 weeks".ToLower() && !string.IsNullOrEmpty(Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower()))
            {
                 
                <text>Statutory Maternity Pay is 90% of your average weekly earnings for the first six weeks of your Maternity Pay Period. This IKEA enhances to 100% of your normal weekly earnings, this is calculated by taking your average weekly earnings over the 8 week period before the qualifying week which equates to &pound;@Model.GetDocumentAnswer("AveragePay", true).</text>
                <text><br />
                <br /></text>
            }


            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                <text>The next 12 weeks IKEA will enhance your maternity pay up to 50% of your contractual weekly pay if this is greater than the Statutory Maternity pay.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "26 weeks - 1 year".ToLower())
            {
                <text>The lower rate of Statutory Maternity Pay or your average weekly earnings whichever is lowest is then paid for an additional 33 weeks.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "1 - 2 years".ToLower())
            {
                <text>The lower rate of Statutory Maternity Pay or your average weekly earnings whichever is lowest is then paid for an additional 33 weeks.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                <text>The lower rate of Statutory Maternity Pay or your average weekly earnings whichever is lowest is then paid for an additional 21 weeks.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() != "Under 26 weeks".ToLower() && !string.IsNullOrEmpty(Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower()))
            {
                   
                <text>This is currently &pound;@Model.GetDocumentAnswer("LowerRate", true). SMP payments will stop if you decide to return to work while you are still entitled to receive SMP this excludes your 10 K.I.T. (keep in touch) days.</text>
                <text><br />
                </text>
                <text>Statutory Maternity Pay will be paid direct into your bank account and confirmation of payment will be sent to you by the Human Resource Service Centre.</text>
                <text><br />
                <br /></text>
            }

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "1 - 2 years".ToLower() | Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Over 2 years".ToLower())
            {
                <text>In addition you are entitled to enhanced return to work benefit which you can choose from the following two options:<br />
                <br />
                1. Return to work on 50% of your contractual hours and be paid on the basis of your full contractual hours for 12 weeks. 
                <br />
                <br />
                Or<br />
                <br />
                2. Receive 6 weeks half pay based on your contractual hours during your additional Maternity Leave. This will be regarded as Company Maternity Pay. On your return to work you can work 50% of your contractual hours for the first 6 weeks and be paid on the basis of your full contractual hours.</text>
                <text><br />
                <br /></text>
            }

            You have an opportunity to mutually agree "keeping in Touch days", which enables you to keep in touch with your department and the business by working up to a maximum of 10 days without it affecting your statutory maternity pay. You will be paid your normal rate of pay less SMP. There is no obligation on you to attend these days.
            <text><br />
                <br /></text>

            @if (Model.GetDocumentAnswer("Seniority" + Model.MultiNr).ToLower() == "Under 26 weeks".ToLower())
            {
                <text>Returning after additional leave you are entitled to return to the same job you occupied before commencing maternity leave, if this is possible.  However if this is not reasonably practicable IKEA will offer a suitable alternative job on terms and conditions that are no less favorable than would have applied if you had not been absent.</text>
                <text><br />
                <br /></text>
            }


            During the 26 weeks Ordinary Maternity Leave and the first 13 weeks of Additional Leave, your terms and conditions of employment except pay will continue as if you were not absent. For the last 13 weeks of your Additional Maternity Leave, your terms and conditions except pay and pension will continue as if you were not absent. This includes holiday entitlement, using your discount card and receiving an end of year present
              <text><br />
                <br /></text>
            As part of our risk assessment procedures, IKEA keeps under review and health and safety risks to pregnant co-workers; you are also responsible for your own health and safety and should take care to avoid any undue risks. If you have any immediate concerns please discuss these with your manager. 
              <text><br />
                <br /></text>
            On a more personal note, I hope everything goes well with the preparations for the new arrival and I am sorry I have to make this letter so formal. We have agreed that the HR department will keep in contact with you during your leave ensuring you are kept up to date with the store news and tertials/nights out.
              <text><br />
                <br /></text>
            We look forward to hearing news of the birth and seeing you and your baby once you are able to visit. If for any reason you want to contact me for further advice then please do not hesitate to do so. 


        </p>

        <endpage />
    </div>
</body>
</html>
