@model dhHelpdesk_NG.Web.Areas.Admin.Models.CustomerInputViewModel
@using dhHelpdesk_NG.Web.Infrastructure.Extensions
<div class="contentContent">
    <div class="formContainer">
        <table cellpadding="0" cellspacing="5px" border="0">
            @Translation.Get("Sätt LDAP-lösenord", Enums.TranslationSource.TextTranslation)
            <tr>
                <td>
                    @Translation.Get("Nytt lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="NewPassword" style="width: 200px;" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="ConfirmPassword" style="width: 200px;" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSavePassword" />
                </td>
                <td>
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnClose" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_customer" value="@Model.Customer.Id" />
    </div>
</div>
<script type="text/javascript">

    $("#btnClose").unbind('click');
    $("#btnClose").click(function () {
        $('#divSetPasswordDialog').dialog("close")
    });

    $("#btnSavePassword").unbind('click');
    $("#btnSavePassword").click(function (e) {
        if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
            alert('@Translation.Get("De värden du angav stämmer inte överens med varandra. Försök igen", Enums.TranslationSource.TextTranslation)');
        }
        else {
            $.post('/customer/SaveLDAPPassword/', { id: $('#id_customer').val(), newPassword: $('#NewPassword').val(), confirmPassword: $('#ConfirmPassword').val() }, function (data) {
                alert('@Translation.Get("Lösenordet har ändrats", Enums.TranslationSource.TextTranslation)');
                setTimeout(function () { $('#divSetPasswordDialog').dialog("close") }, 500);
            });
            }
    });

</script>

