@model dhHelpdesk_NG.Web.Areas.Admin.Models.CustomerInputViewModel
<div class="formContainer">
    @Translation.Get("Beställning", Enums.TranslationSource.TextTranslation)
    <table id="customerOrder">
        <tr>
            <td>
                @Translation.Get("Skapa ärende", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="checkbox" name="CreateCaseFromOrder" @(Model.Setting.CreateCaseFromOrder == 1 ? "checked=checked" : "") value="1"/>
                <input type="hidden" name="setting.CreateCaseFromOrder" value="0" />
                &nbsp; @Translation.Get("skapa alltid ärende när beställning görs", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
        <tr>
            <td>
                @Translation.Get("Beställare", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                <input type="radio" name="OrderPermission" @(Model.OrderPermission == 0 ? "checked='checked'" : "") id="Customer_OrderPermission1" value="0" />
                @Translation.Get("Inga restriktioner på vem som får anges som beställare", Enums.TranslationSource.TextTranslation)
                <br />
                <input type="radio" name="OrderPermission" @(Model.OrderPermission == 1 ? "checked='checked'" : "") id="Customer_OrderPermission2" value="1" />
                @Translation.Get("Tillåt endast godkända beställare ", Enums.TranslationSource.TextTranslation)
            </td>
        </tr>
    </table>
</div>
