@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("edit", "customer", new { id = Model.Customer.Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara"), "edit", new { id = Model.Customer.Id }, new { onclick = "submitForm();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Avbryt"), "index", null, new { @class = "btn" })</li>
                @if (Model.Customer.Id != null)
                {
                    if (SessionFacade.CurrentUser.UserGroupId == UserGroups.SystemAdministrator)
                    {
                        <li><a data-toggle="modal" href="#divCopyCustomer" title="@Translation.Get("Kopiera")" class="btn">@Translation.Get("Kopiera")</a></li>
                    }   
                }
            </ul>
        </div>
        @Html.Partial("_MasterDataPanel", Model.Customer)
    </div>
    @Html.Partial("_Input", Model)
    <input type="hidden" id="customerId" value="@Model.Customer.Id" />
    <div id="divCopyCustomer" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
        @Html.Partial("_CopyCustomer", Model)
    </div>
}

@section Scripts {
    <script type="text/javascript">

        //function save(Id) {
        //    var cnumber = document.getElementById("customernumber").value;
        //    var cname = document.getElementById("customername").value;
        //    copyCustomer(Id, cnumber, cname);
        //}

        function copyCustomer(id) {
            var cnumber = document.getElementById("customernumber").value;
            var cname = document.getElementById("customername").value;
            var cemail = document.getElementById("customeremail").value;

            $.post('/customer/CopyCustomer/',
                { id: id, customerNumber: cnumber, customerName: cname, customerEmail: cemail },
                function(data) {
                    location.href = "/admin/customer/edit/" + data;
                });

        }

        function submitForm() {
            var usSelectedCtrl = document.getElementById("UsSelected");
            if (usSelectedCtrl && usSelectedCtrl.length) {
                for (var i = 0; i < usSelectedCtrl.length; i++) {
                    usSelectedCtrl[i].selected = true;
                }
            }

            $("#target").submit();
        }
    </script>


}