@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("new", "customer", new { id = Model.Customer.Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "new", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", null, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    
    <div class="contentContent">
        @Html.Partial("_Input", Model)
        <input type="hidden" id="customerId" value="@Model.Customer.Id" />
    </div>
}
<script type="text/javascript">

    $("input:text:visible:first").focus();

</script>
