@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<link href="@Model.Contract.BaseUrl/FormLibContent/assets/css/documents.css" rel="stylesheet" type="text/css" />*@
    @Model.GetStyleAnswer("GetStyleLink")
    @Html.Partial("../Shared/Pdfs/_Styles", Model)
    @Model.GetStyleAnswer("GetStyles")
    @*<style>
        table, p {
            font-size: 9pt !important; /*9pt*/
            line-height: normal !important;
        }
    </style>*@
</head>
<body>
    <div class="default-page">
        <img style="border: none; max-width: 609px; margin-top: 70px;" src="@Model.Contract.BaseUrl/FormLibContent/Assets/img/icocoworker.png" />

        @Html.Partial("../Shared/Pdfs/_CityDate", Model)

        <h2>Altijd toegang tot jouw IKEA</h2>

        <p style="line-height: normal !important; font-size: 9pt !important;">Beste @Model.GetDocumentAnswer("FirstName", true),</p>

        <p style="line-height: normal !important; font-size: 9pt !important;">Bij IKEA kan je via een website altijd en overal toegang krijgen tot HR gerelateerde informatie. Je kan de website bereiken op het werk of thuis, als je maar internet hebt. Wil je weten wat je rooster is? Of informatie lezen over pensioenen, de IKEA cultuur of duurzaamheid?</p>

        <p style="line-height: normal !important; font-size: 9pt !important;">Ga op je eerste werkdag op een computer bij IKEA naar www.ico-worker.com/nl en log in met je IKEA Netwerk ID en wachtwoord die je van je leidinggevende ontvangt. De eerste keer inloggen op de site moet op een IKEA computer plaatsvinden. Daarna kan je ook thuis inloggen.</p>

        <p style="line-height: normal !important; font-size: 9pt !important;">Wil je voor je eerste werkdag al de CAO en Code of Conduct doorlezen, dan vind je die op de voorpagina van ico-worker.com/nl. Je hoeft voor deze pagina niet in te loggen.</p>
        <p style="line-height: normal !important; font-size: 9pt !important;">
            <strong style="text-decoration: underline;">Planningsmodule</strong><br />
            Om je rooster te bekijken of je tijdregistratie te zien ga je naar de planningsmodule op <strong>ico-worker.com/nl</strong>.
        </p>

            <table class="table-full-width">
                <tr>
                    <td style="width:30%;">Gebruikersnaam:</td>
                    <td>@Model.GetDocumentAnswer("Co-WorkerID", true)</td>
                </tr>
                <tr>
                    <td>Wachtwoord:</td>
                    <td>ikea123!</td>
                </tr>
            </table>

        <p style="line-height: normal !important; font-size: 9pt !important;">
            <strong style="text-decoration: underline;">Speakap</strong><br />
            De app voor IKEA medewerkers heet Speakap. In deze app vind je nieuws, updates van jouw winkel of je team en je rooster. Je kunt de app voor iOS en Android downloaden of je bekijkt Speakap op je computer via ikeanederland.speakap.nl. Je ontvangt een mail op je IKEA mailadres van Speakap om in te kunnen loggen.
        </p>

        <p style="line-height: normal !important; font-size: 9pt !important;">
            <strong style="text-decoration: underline;">Hulp nodig?</strong><br />
            Als je hulp nodig hebt bij het inloggen kan je op <strong>ico-worker.com/nl</strong> uitleg vinden en de antwoorden op de meest gestelde vragen.<br /><br />
            Verder kan je terecht bij je leidinggevende, bij de HR Adviseurs van je winkel of bij het Shared Service Centre. Het SSC is bereikbaar via <span style="text-decoration: underline; color: blue;">askSSC.hr.nl@IKEA.com</span> en op maandag t/m vrijdag van 8:00-17:00 uur via 020 – 5648747 (extern) of 747 (intern).
        </p>

        @Html.Partial("../Shared/Pdfs/_SignatureOnlyManager", Model)
    </div>
</body>
</html>
