@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@{
    Layout = null;
}

<table>
    <tr>
        <td style="text-align: left; width:30%;">Voorletters
        </td>
        <td style="text-align: left; width:70%;padding-bottom:10px;">: @Model.GetDocumentAnswer("Initials", true)</td>
    </tr>
    <tr>
        <td style="text-align: left;">Roepnaam
        </td>
        <td style="text-align: left;padding-bottom:10px;">: @Model.GetDocumentAnswer("FirstName", true)</td>
    </tr>
    <tr>
        <td style="text-align: left;">Achternaam
        </td>
        <td style="text-align: left;padding-bottom:10px;">: @if (!string.IsNullOrEmpty(Model.GetAnswer("Prefixes")))
                                        {@Model.GetAnswer("Prefixes")<text>&nbsp;</text>}@Model.GetDocumentAnswer("LastName", true)</td>
    </tr>
    <tr>
        <td style="text-align: left;">Adres
        </td>
        <td style="text-align: left;padding-bottom:10px;">: @Model.GetDocumentAnswer("PermanentAddressLine1", true) @Model.GetDocumentAnswer("PermanentAddressLine2") @Model.GetDocumentAnswer("PermanentAddressLine3")</td>
    </tr>
    <tr>
        <td style="text-align: left; padding-right: 30px;">Postcode / woonplaats
        </td>
        <td style="text-align: left;padding-bottom:10px;">: @Model.GetDocumentAnswer("PermanentPostalCode", true) @Model.GetDocumentAnswer("PermanentCity", true)</td>
    </tr>
    <tr>
        <td style="text-align: left;">Geboortedatum
        </td>
        <td style="text-align: left;@if (Model.GetAnswer("EmploymentCategory").ToLower() == "Temporary".ToLower()) { <text>padding-bottom:10px;</text>}">: @Model.GetDocumentAnswer("DateOfBirth", true)</td>
    </tr>

</table>
