@model DH.Helpdesk.Web.Models.Changes.HistoryItemModel
           
<tr>
    <td>
        @Model.DateAndTime
    </td>
    <td>
        @Model.RegisteredBy
    </td>
    <td>
        @Model.Log
    </td>
    <td>
        @foreach (var fieldDifference in Model.History)
        {
            if (fieldDifference.OldValue == null && fieldDifference.NewValue != null)
            {
                @fieldDifference.FieldName@:: --> @fieldDifference.NewValue
            }
            else
            {
                @fieldDifference.FieldName@:: @fieldDifference.OldValue --> @fieldDifference.NewValue
            }
        }
    </td>
    <td>
        @foreach (var email in Model.Emails)
        {
            @email
        }
    </td>
</tr>