@model dhHelpdesk_NG.Web.Models.Changes.HistoryItemModel
           
<tr>
    <td>
        @Model.DateAndTime
    </td>
    <td>
        @Model.RegisteredBy
    </td>
    <td>
        @Model.Log
    </td>
    <td>
        @Model.History
    </td>
    <td>
        @Model.Email
    </td>
</tr>