@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Areas.OrderAccounts.Models.Order.FieldModels.ConfigurableFieldModel<string>
@if (!Model.Show)
{
    return;
}

@{
    var inputAttributes = (Dictionary<string, object>)ViewData["inputAttributes"];
    Dictionary<string, object> htmlAttributes;
    if (inputAttributes != null)
    {
        htmlAttributes = new Dictionary<string, object>(inputAttributes.Count + 1);

        foreach (var inputAttribute in inputAttributes)
        {
            htmlAttributes.Add(inputAttribute.Key, inputAttribute.Value);
        }
    }
    else
    {
        htmlAttributes = new Dictionary<string, object>(1);
    }

    htmlAttributes.Add("data-dh-is-required", Model.IsRequired);
    htmlAttributes.Add("data-role", "tagsinput");
    htmlAttributes.Add("class", "tagsinput");    
    htmlAttributes.Add("readonly", "readonly");    
}

<tr>
    <td class="span3">
        @Html.FieldCaption(Model)
    </td>
    <td class="span9">
        @Html.DisplayTextFor(m => m.Value)
@*        @Html.TextBoxFor(m => m.Value, htmlAttributes)*@
@*        @Html.HiddenFor(m => m.IsRequired)*@
@*        @Html.ValidationMessageFor(m => m.Value)*@
    </td>
</tr>
