@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    Layout = null;
    }  
@*@functions{
    public string TakeJobtiteIds (string jobTitle)
    {
        string jTToPrint;
        jTToPrint = jobTitle.FindMinusCharachter
        
        
    }
}*@
<!DOCTYPE html>
<html>

<body>
    <div>
        
        <p style="text-align: center;font-family:Verdana; font-size:10px; line-height:16px;"><strong>CONTRACT OF EMPLOYMENT</strong></p>
        <p style="text-align: center;font-family:Verdana; font-size:10px; line-height:16px;">
            Concluded on 
            @if (string.IsNullOrEmpty(Model.GetAnswer("ContractConcludedOn")))
            {
                <text>             
                ....................
                </text>
            } 
            else
            {
                 @Model.GetAnswer("ContractConcludedOn")
            
            }
            
           between<strong> @Model.Company.footerName</strong><br /> seated in 
            @if(Model.Company.Searchkey == "OT")
            {
               <text>
                  Warszawa, Al. Krakowska 61, 02-183 Warszawa,
               </text>
            }
            else
            {
               <text>
                  Janki, Pl. Szwedzki 3; 05 – 090 Raszyn,
               </text>
            }
             represented by<br /><strong>@Model.Company.EmployerName </strong><br />Hereinafter referred to as <strong>Employer</strong><br />
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px; line-height:16px;">
            and 
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px; line-height:16px;">
           @Model.GetAnswer("Prefix")<strong> @Model.GetAnswer("EmployeeFirstName") @Model.GetAnswer("EmployeeLastName")</strong><br />
            Residing:  
            @if (string.IsNullOrEmpty(Model.GetAnswer("HouseNumber")) )
            {
                <strong> @Model.GetAnswer("Street") @Model.GetAnswer("StreetNumber")</strong><br />
            } 
            else
            {
                <strong> @Model.GetAnswer("Street") @Model.GetAnswer("StreetNumber")/@Model.GetAnswer("HouseNumber")</strong><br />
            
            }
            <strong> @Model.GetAnswer("PostCode") @Model.GetAnswer("City")</strong><br />
            Hereinafter referred to as <strong>Employee</strong>
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:9px; line-height:16px;">
           <br />
        </p>
        <p style="text-align: justify;font-family:Verdana; font-size:10px; line-height:16px;">  

                    @switch (Model.GetAnswer("ContractType"))
                    {
                       case "Trial period": 
                       <text> 
                       This agreement is concluded for <strong>Trial period</strong>.
                       </text>
                       break;
                       
                       case "Limited period": 
                       <text>
                       This agreement is concluded for <strong>Limited period</strong>.
                       </text>
                       break;
                       
                       case "Permanent period": 
                       <text> 
                       This agreement is concluded for <strong>Permanent period</strong>.
                       </text>
                       break;
                       
                       case "Replacement contract":
                       <text>
                       This agreement is concluded as a Replacement Contract for duration of an excused absence of <strong> @Model.GetAnswer("PersonReplaced")</strong>.
                       </text>
                       break;
                    }<!-- end of switch-->
                <br />
               @if (Model.GetAnswer("ContractType") == "Permanent period")
               {
                    <text>
                   The period of employment shall commence on <strong>@Model.GetAnswer("EffectiveDate")</strong>.<br />
                   </text>
                  
               }
               else
               {
                   <text> 
                   The period of employment shall commence on <strong>@Model.GetAnswer("EffectiveDate") </strong>and terminate on <strong>@Model.GetAnswer("EndDate")</strong>.<br />
                   </text>
               }
            The Employer shall employ Employee as <strong>@Model.GetAnswer("JobTitle").FindDashCharachter()</strong>.<br />
            
                @if (string.IsNullOrEmpty(Model.GetAnswer("AdditionalPlaceOfWork")))
                {  
                    <text>
                    Place of Work:  <strong>@Model.GetOptionText("Unit", Model.GetAnswer("Unit"))</strong>.
                    </text>
                }
                else
                {
                        <text>                                                                                 
                   Place of Work:  <strong>@Model.GetOptionText("Unit", Model.GetAnswer("Unit"))</strong> and <strong>@Model.GetAnswer("AdditionalPlaceOfWork")</strong>.
                       </text>
                }   
        </p>
        <br />
        <p style="font-family:Verdana; font-size:10px; line-height:16px;">
           
            @if (Model.GetAnswer("Extent") == "Part time")
               {
                   <text> 
                Working load is agreed as a <strong>@Model.GetAnswer("Extent")</strong>.
                Workload percentage is <strong>@Model.GetAnswer("Workload")%</strong>.<br /> 
                   </text>
               } 
            else
            {
                <text>
               Working load is agreed as a <strong>@Model.GetAnswer("Extent")</strong>.<br />
                </text> 
            }
            
           The Employee is obliged to start work as of <strong>@Model.GetAnswer("FirstDayAtWork")</strong>.
        </p>
        <p style="font-family:Verdana; font-size:9px; line-height:16px;">
            <br />
        </p>
        <p style="text-align:justify;font-family:Verdana; font-size:10px;padding-top:4em; line-height:16px;">
             @switch (Model.GetAnswer("MonthlyHourly"))
             {
                case "monthly": 
                <text> 
                The Employer is obliged to pay the Employee a<strong> @Model.GetAnswer("MonthlyHourly")</strong> gross salary of PLN <strong>@Model.GetAnswer("BasicPay") </strong><br />

                    @if (string.IsNullOrEmpty(Model.GetAnswer("BasicPayInWords")))
                    {
                    
                           @* if (Model.Contract.Company.Key == "OI")
                             {
                               <text>                        
                               (in words: ........................................................................................................).<br />
                               </text>
                             }
                             else
                             {*@
                               <text>                        
                               (in words: .........................................................................................................................).<br />
                               </text>
                             @*}*@  
                   
                    } 
                    else
                    {
                        <text>
                     (in words: @Model.GetAnswer("BasicPayInWords")).<br />
                        </text>            
                    }
         
                  The remuneration will be paid out till the <strong>10<sup style="font-size:8px;">th</sup> day of the next month</strong>.
                  <br /><br /> 
               </text>
               break;
               
             case "hourly": 
             <text> 
                The Employer is obliged to pay the Employee a<strong> @Model.GetAnswer("MonthlyHourly")</strong> gross salary of PLN <strong>@Model.GetAnswer("BasicPay") per hour </strong><br />
             
                    @if (string.IsNullOrEmpty(Model.GetAnswer("BasicPayInWords")))
                    {
                    
                           @* if (Model.Contract.Company.Key == "OI")
                             {
                               <text>                        
                               (in words: ........................................................................................................).<br />
                               </text>
                             }
                             else
                             {*@
                               <text>                        
                               (in words: .........................................................................................................................).<br />
                               </text>
                             @*} *@ 
                   
                    } 
                    else
                    {
                        <text>
                        (in words: @Model.GetAnswer("BasicPayInWords")).<br />
                        </text>
            
                    }
           
                The remuneration will be paid out till the <strong>10<sup style="font-size:8px;">th</sup> day of the next month</strong>.
                <br /><br />              
             </text>
                     break;
            }<!-- end of switch-->    
        </p>

        @* <p style="text-align:justify; font-family:Verdana; font-size:10px; line-height:16px;">

            @functions{
                public static bool NewDateOver(DateTime? startDate, DateTime? endDate, int months)
                {
                    if (!startDate.HasValue || !endDate.HasValue) return false;
                    DateTime a = startDate.Value.AddMonths(months);
                    int result = DateTime.Compare(endDate.Value, a);
                    return result >= 0;
                }
            }

           SG : Case : 55762  -- 12-09-2016

            @if (Model.GetAnswer("ContractType") == "Limited period"
                && NewDateOver(Model.ConvertToDateTime("EffectiveDate"), Model.ConvertToDateTime("EndDate"), 6))
            {
                <text>
                The parties agreed that this Employment Agreement can be terminated with a two-week notice period by any of the Parties of the Agreement.
                <br /><br />
                </text>
            }              
        </p>*@ 

        <p style="text-align:justify; font-family:Verdana; font-size:10px; line-height:16px;">
           @if(Model.GetAnswer("ContractType") == "Replacement contract")
           {
                <text>
                Notice period according to art 33<sup style="font-size:8px;">1</sup> Labour Code is <strong>3 working days</strong>.
                <br /><br /> 
                </text>
            }        
        </p>

        <p style="text-align:justify;font-family:Verdana; font-size:10px;margin-top:50px; line-height:16px;"> 
           @if(Model.GetAnswer("Extent") == "Part time")
           {
                <text>
                Work exceeding the standard working time, specified in the Employee contract (considered as an overtime work and entitled to an additional compensation - art. 151¹ § 1 Labour Code) is above <strong>39 hours</strong> per week.
                <br /><br />
                </text>      
              }
        </p>
      
        <p style="font-family:Verdana; font-size:10px;margin-top:10px;padding-top:50px; line-height:16px;">
            All issues not stated in this agreement are covered in applicable Labour Code.
            <br /><br />
        </p>                                   
        <p style= "text-align:justify;font-family:Verdana; font-size:10px; padding-top : 15px; line-height:16px;">
            This contract is drawn up in duplicate, one copy for the Employer and one for the Employee. <br />
            The Employee certifies to have received a copy of this contract and after familiarising with its content – accepts above mentioned conditions of job and remuneration. 
            <br />
            The Employee commits to abide by rules of order at work and work regulations.
        </p>
       <endpage/>
      
        

        <newpage/>
        <p style=" text-align: right; font-family:Verdana; font-size:10px;">
           <strong>@Model.GetAnswer("Prefix") @Model.GetAnswer("EmployeeFirstName") @Model.GetAnswer("EmployeeLastName")</strong><br /> 
        </p>    
        <p style="text-align: center;font-family:Verdana; font-size:9px;">
            <br />
        </p>    
        <p style="text-align:center; font-family:Verdana; font-size:10px;">
            <strong>INFORMATION</strong><br /> 
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:9px;">
            <br />
        </p>  
        <p style="font-family:Verdana; font-size:10px;">
            As specified in article 29 § 3 Labour Code <strong> @Model.Company.footerName</strong> informs that:
        </p>
        <p style="text-align: center;font-family:Verdana; font-size:10px;">
            <br />
        </p> 
               
            @switch (Model.GetAnswer("WorkingTimeSchedule"))
            {
                    
                 case " ": 
                 <text> 
                 <p style="text-align:justify; font-family:Verdana; font-size:10px;">
                 1  . Working hours amount to <strong>8 hours daily</strong>.<br /> 
                 </p>
                 </text>
                 break;
                 
                 case "basic": 
                 <text> 
                 <p style="text-align:justify; font-family:Verdana; font-size:10px;">
                 1  . Working hours amount to <strong>8 hours daily</strong>.<br /> 
                 </p>
                 </text>
                 break;

                 case "equivalent": 
                 <text> 
                 <p style="text-align:justify; font-family:Verdana; font-size:10px;">
                 1  .  Working hours may be extended to <strong>12 hours daily</strong>.<br />
                 </p>
                 </text>
                 break;

                 case "task-based": 
                 <text> 
                 <p style="text-align:justify; font-family:Verdana; font-size:10px;">
                 1  .  Working hours amount to <strong>8 hours daily</strong>. Weekly working hours amount to <strong>40 hours</strong> in an average five-day working week in the monthly accounting period for <strong>task-based working time system</strong>.<br />
                 </p>
                 </text>
                 break;

                 case "pertaining to equipment monitoring, or standby for work.": 
                 <text> 
                 <p style="text-align:justify; font-family:Verdana; font-size:10px;">
                 1  .  Working hours may be extended to <strong>16 hours daily</strong>.<br />
                 </p>
                </text>
                break;
                
            }                                    
        <p style="font-family:Verdana; font-size:10px;">
           2  .  Working time may not exceed average<strong> 40 hours </strong>weekly in the monthly accounting period.<br />
           3  .  Salary is paid in arrears on the <strong>10th day of the month</strong>.<br />
           4  .  As specified in article 154 § 1 Labour Code an Employee is entitled to annual leave of:  <br /> 
        </p>
        <pre style="font-family:Verdana; font-size:10px; padding-left: 20px;">
                1)	<strong> 20 days</strong> – if an Employee has been employed for a period shorter than 10 years.<br />
                2)	<strong> 26 days</strong> – if an Employee has been employed for a period of at least 10 years.<br />
                3)	 For Employees working part-time, annual leave allowance is pro-rated according to workload percentage.<br />
                4)	 Annual leave is pro-rated proportionally to the months worked over calendar year.<br />
        </pre>

        @switch (Model.GetAnswer("ContractType"))
         {
             case "Trial period": 
                 <text> 
             <p style="font-family:Verdana; font-size:10px;">
                5  .  Notice period according to article 34 Labour Code is:	<br />
             </p>
             <p style="font-family:Verdana; font-size:10px; padding-left: 20px;">
              1)  <strong>3 work</strong> days for Trial period of up to 2 weeks, <br /> 
              2)  <strong>1 week</strong> for Trial period of more than 2 weeks,<br />
              3)  <strong>2 weeks</strong> for Trial period of 3 months.<br />
             </p>
                </text>
             break;
             case "Limited period": 
             <text>
             <p style="font-family:Verdana; font-size:10px;">
                5  .  Notice period according to article 36. § 1. Labour Code is:	<br />
             </p>
             <p style="font-family:Verdana; font-size:10px; padding-left: 20px;">
               1)  <strong>2 weeks</strong>, if an Employee has been employed for a period shorter than 6 months,<br />
               2)  <strong>1 month</strong>, if an Employee has been employed for at least 6 months,<br />
               3)  <strong>3 months</strong>, if an Employee has been employed for at least 3 years.<br />
             </p>
            @* S.G : change request 10-02-2016 , Help desk case #53870 *@
            @* <p style="font-family:Verdana; font-size:10px;">
                5  .  Notice period according to article 33 Labour Code is:	<br />
             </p>
             <p style="font-family:Verdana; font-size:10px; padding-left: 20px;">
               
                  1)  <strong>2 weeks</strong> for Contract longer than 6 months if the parties agreed for notice period,<br />
                  2)  <strong>no notice period</strong> for Contract of up to 6 months. <br />
             </p>*@
             </text>
             break;
             case "Permanent period": 
             <text> 
             <p style="font-family:Verdana; font-size:10px;">
                5  .  Notice period according to article 36. § 1. Labour Code is:	<br />
             </p>
             <p style="font-family:Verdana; font-size:10px; padding-left: 20px;">
               1)  <strong>2 weeks</strong>, if an Employee has been employed for a period shorter than 6 months,<br />
               2)  <strong>1 month</strong>, if an Employee has been employed for at least 6 months,<br />
               3)  <strong>3 months</strong>, if an Employee has been employed for at least 3 years.<br />
             </p>
             </text>
             break;
             case "Replacement contract": 
             <text> 
             <p style="text-align:justify; font-family:Verdana; font-size:10px;">
               5  .  As an employee of <strong>@Model.Company.footerName</strong> you are not covered by any collective agreement.<br />
             </p>
             </text>
             break;
         }<!-- end of switch-->
        <p style="text-align:justify; font-family:Verdana; font-size:10px;">
            @if (Model.GetAnswer("ContractType") != "Replacement contract")
            {
                <text>
                 6  .  As an employee of <strong>@Model.Company.footerName</strong> you are not covered by any collective agreement.<br />
                </text>
            }
         <br />
        </p> 
           
    </div>
    <endpage/>

</body>
</html>
