@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Reports.Models.Reports.FinishingCauseCustomerModel

<table class="table table-striped table-bordered table-hover table-pointer">
    <thead>
        <tr>
            <th>@string.Format("{0} / {1}", Translation.Get("Avslutsorsak"), Translation.Get("Avdelning"))</th>
            @foreach (var department in Model.Data.Departments)
            {
                <th><strong>@department.DepartmentName</strong></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Data.Rows)
        {            
            var level = row.FinishingCause.GetLevel();            
            <tr>
                <td style="@(level > 0 ? string.Format("padding-left: {0}em;", 2 * level) : String.Empty)">
                    <strong>@row.FinishingCause.Name</strong>
                </td>
                @foreach (var column in row.Columns)
                {
                    <td>
                        @if (column.CasesNumber > 0)
                        {
                            @MvcHtmlString.Create(string.Format("{0} ({1}%)", column.CasesNumber, column.CaseNumberPercents))                            
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>