@using System.Globalization
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Tools
@model DH.Helpdesk.Web.Areas.Reports.Models.Reports.LeadtimeFinishedCasesModel

<table>
    <tbody>
        <tr>
            <td><strong>@string.Format("{0}:", Translation.Get("Antal ärenden"))</strong></td>
            <td>@Model.Data.NumberOfCases</td>
        </tr>
        <tr>
            <td><strong>@string.Format("{0} {1} {2}:", Translation.Get("Antal ärenden med ledtid kortare än eller lika med"), Model.Data.LeadTime, Translation.Get("dagar"))</strong></td>
            <td>@string.Format("{0} ({1} %)", Model.Data.NumberOfCasesShorterEqual, Model.Data.GetShorterEqualPercents())</td>
        </tr>
        <tr>
            <td><strong>@string.Format("{0} {1} {2}:", Translation.Get("Antal ärenden med ledtid längre än"), Model.Data.LeadTime, Translation.Get("dagar"))</strong></td>
            <td>@string.Format("{0} ({1} %)", Model.Data.NumberOfCasesLonger, Model.Data.GetLongerPercents())</td>
        </tr>
    </tbody>
</table>
@if (Model.IsShowDetails)
{
    <br/>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@Translation.Get("År")</th>            
                <th>@Translation.Get("Månad")</th>            
                <th>@Translation.Get("Ärenden")</th>            
                <th>@string.Format("{0} <= {1} {2}", Translation.Get("Ledtid"), Model.Data.LeadTime, Translation.Get("dagar"))</th>            
                <th>@string.Format("{0} > {1} {2}", Translation.Get("Ledtid"), Model.Data.LeadTime, Translation.Get("dagar"))</th>            
            </tr>
        </thead>
        <tbody>
            @foreach (var leadTime in Model.Data.CasesByLeadTime)
            {
                <tr>
                    <td>@leadTime.FinishDate.ToYearString()</td>
                    <td>@leadTime.FinishDate.ToMonthString()</td>
                    <td>@leadTime.NumberOfCases</td>
                    <td>@(leadTime.NumberOfCasesShorterEqual > 0 ? string.Format("{0} ({1} %)", leadTime.NumberOfCasesShorterEqual, leadTime.GetShorterEqualPercents()) : leadTime.NumberOfCasesShorterEqual.ToString(CultureInfo.InvariantCulture))</td>
                    <td>@(leadTime.NumberOfCasesLonger > 0 ? string.Format("{0} ({1} %)", leadTime.NumberOfCasesLonger, leadTime.GetLongerPercents()) : leadTime.NumberOfCasesLonger.ToString(CultureInfo.InvariantCulture))</td>
                </tr>                
            }
        </tbody>
    </table>
    <br/>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@Translation.Get("År")</th>            
                <th>@Translation.Get("Månad")</th>            
                <th>@Translation.Get("Antal")</th>            
                <th>@string.Format("< {0}", Translation.Get("1 dag"))</th>  
                @for (var i = 1; i <= 10; i++)
                {
                    <th>@(i == 1 ? Translation.Get("1 dag") : string.Format("{0} {1}", i, Translation.Get("dagar")))</th>  
                }
                <th>@string.Format("> 10 {0}", Translation.Get("dagar"))</th>                                   
            </tr>
        </thead>        
        <tbody>
        @foreach (var leadTime in Model.Data.CasesByLeadTimes)
        {
            <tr>
                <td>@leadTime.FinishDate.ToYearString()</td>
                <td>@leadTime.FinishDate.ToMonthString()</td>
                <td>@leadTime.NumberOfCases</td>
                @foreach (var lt in leadTime.NumberOfCasesLeadTime)
                {
                    <td>@(lt > 0 ? string.Format("{0} ({1} %)", lt, leadTime.GetPercents(lt)) : lt.ToString(CultureInfo.InvariantCulture))</td>                    
                }
            </tr>                
        }            
        </tbody>
    </table>
}
