@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Reports.Models.Reports.LeadtimeActiveCasesModel
@{
    var columns = Model.LowDays + 2;
}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="@columns">@Translation.Get("Prioritet")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="@columns">
                <strong>@string.Format("{0} ({1} {2})", Translation.Get("Hög"), Model.HighHours, Translation.Get("h"))</strong>
            </td>
        </tr>
        <tr>
            <td width="20%">@Translation.Get("Antal dagar kvar på åtgärdstid")</td>
            <td colspan="@(columns - 1)">@Translation.Get("Åtgärdstid saknas")</td>
        </tr>        
        <tr>
            <td>@Translation.Get("Antal ärenden")</td>
            <td colspan="@(columns - 1)">@Model.Data.HighHours.NumberOfCases</td>
        </tr>
        <tr>
            <td colspan="@columns">
                <strong>@string.Format("{0} ({1} {2})", Translation.Get("Medium"), Model.MediumDays, Translation.Get("dagar"))</strong>
            </td>
        </tr>
        <tr>
            <td>@Translation.Get("Antal dagar kvar på åtgärdstid")</td>
            @foreach (var medium in Model.Data.MediumDays)
            {
                <td><strong>@medium.Time</strong></td>
            }
            <td colspan="@(columns - Model.MediumDays)"></td>
        </tr>
        <tr>
            <td>@Translation.Get("Antal ärenden")</td>
            @foreach (var medium in Model.Data.MediumDays)
            {
                <td style='@(medium.Time == 0 && medium.NumberOfCases > 0 ? "color: red;" : string.Empty)'>@medium.NumberOfCases</td>
            }
            <td colspan="@(columns - Model.MediumDays)"></td>
        </tr>
        <tr>
            <td colspan="@columns">
                <strong>@string.Format("{0} ({1} {2})", Translation.Get("Låg"), Model.LowDays, Translation.Get("dagar"))</strong>
            </td>
        </tr>
        <tr>
            <td>@Translation.Get("Antal dagar kvar på åtgärdstid")</td>
            @foreach (var low in Model.Data.LowDays)
            {
                <td><strong>@low.Time</strong></td>
            }
        </tr>
        <tr>
            <td>@Translation.Get("Antal ärenden")</td>
            @foreach (var low in Model.Data.LowDays)
            {
               <td style='@(low.Time == 0 && low.NumberOfCases > 0 ? "color: red;" : string.Empty)'>@low.NumberOfCases</td>
            }
        </tr>
    </tbody>
</table>