@using DH.Helpdesk.BusinessData.Models.Inventory.Edit.Settings
@using DH.Helpdesk.Web.Models.Inventory.EditModel.Inventory
@model InventoryViewModel
<table class="tableform">
    @if (Model.Departments.Show
         || Model.Inventory.Name.Show
         || Model.Inventory.Model.Show
         || Model.Inventory.Manufacturer.Show
         || Model.Inventory.SerialNumber.Show
         || Model.Inventory.TheftMark.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</th>
        </tr>
    }
    @if (Model.Departments.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Departments.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Inventory.DepartmentId, Model.Departments.Value);
            </td>
        </tr>
    }
    @if (Model.Inventory.Name.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.Name.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Inventory.Name.Value)
            </td>
        </tr>
    }
    @if (Model.Inventory.Model.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.Model.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Inventory.Model.Value)
            </td>
        </tr>
    }
    @if (Model.Inventory.Manufacturer.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.Manufacturer.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Inventory.Manufacturer.Value)
            </td>
        </tr>
    }
    @if (Model.Inventory.SerialNumber.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.SerialNumber.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Inventory.SerialNumber.Value)
            </td>
        </tr>
    }
    @if (Model.Inventory.TheftMark.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.TheftMark.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Inventory.TheftMark.Value)
            </td>
        </tr>
    }
    @if (Model.Inventory.BarCode.Show
         || Model.Inventory.PurchaseDate.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Inventering", Enums.TranslationSource.TextTranslation)</th>
        </tr>
    }
    @if (Model.Inventory.BarCode.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.BarCode.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Inventory.BarCode.Value)
            </td>
        </tr>
    }
    @if (Model.Inventory.PurchaseDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.PurchaseDate.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.EditorFor(m => m.Inventory.PurchaseDate.Value, "DatePicker", new { id = "general_finishing_date_datepicker" })
            </td>
        </tr>
    }
    @if (Model.Inventory.Info.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Övrigt", Enums.TranslationSource.TextTranslation)</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.Info.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Inventory.Info.Value)
            </td>
        </tr>
    }
    @if (Model.Inventory.ComputerName.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Tillbehör till", Enums.TranslationSource.TextTranslation)</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Inventory.ComputerName.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DisplayFor(m => m.Inventory.ComputerName.Value)
            </td>
        </tr>
    }
    @if (Model.Rooms.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Placering", Enums.TranslationSource.TextTranslation)</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Byggnad", Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Inventory.BuildingId, Model.Buildings);
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Våning", Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Inventory.FloorId, Model.Floors);
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Rooms.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.Inventory.RoomId, Model.Rooms.Value);
            </td>
        </tr>
    }
    <tr>
        <th colspan="2" class="header">@Translation.Get("Status", Enums.TranslationSource.TextTranslation)</th>
    </tr>
    <tr>
        <td class="span3">
            <label>@Translation.Get("Skapad datum", Enums.TranslationSource.TextTranslation)</label>
        </td>
        <td class="span9">
            @Html.DisplayFor(m => m.Inventory.ChangeDate, "Date"))
        </td>
    </tr>
    <tr>
        <td class="span3">
            <label>@Translation.Get("Senast ändrad datum", Enums.TranslationSource.TextTranslation)</label>
        </td>
        <td class="span9">
            @Html.DisplayFor(m => m.Inventory.CreatedDate, "Date"))
        </td>
    </tr>

    @{
        var groups = Model.TypeGroupModels.OrderBy(x => x.SortOrder);

        foreach (var group in groups)
        {
            int id = group.Id;
            var itemsInGroup = Model.DynamicFieldModels.Where(x => x.GroupId == id).OrderBy(x => x.Position).ToList();

            if (!itemsInGroup.Any())
            {
                continue;
            }

            <tr>
                <th colspan="2" class="header">@Html.DisplayFor(m => group.Name))</th>
            </tr>

            foreach (var item in itemsInGroup)
            {
                <tr>
                    <td class="span3">
                        <label>@Html.DisplayFor(m => item.Caption)</label>
                    </td>
                    <td class="span9">
                        @switch (item.FieldTypes)
                        {
                            case FieldTypes.Bool:
                                @Html.CheckBoxFor(m => item.Value == DynamicFieldModel.True)
                                break;
                            case FieldTypes.Date:
                                @Html.EditorFor(m => item.Value, "DatePicker", new { id = "general_finishing_date_datepicker" })
                                break;
                            default:
                                @Html.EditorFor(m => item.Value)
                                break;
                        }
                    </td>
                </tr>
            }
        }
    }
</table>
