@using DH.Helpdesk.BusinessData.Models.Inventory.Edit.Settings
@using DH.Helpdesk.Web.Models.Inventory.EditModel.Inventory
@model InventoryEditViewModel
<table class="tableform">
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.Departments.Show
         || Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Name.Show
         || Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Model.Show
         || Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Manufacturer.Show
         || Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.SerialNumber.Show
         || Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.TheftMark.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Allmänt")</th>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.Departments.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.Departments.Caption)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.DepartmentId, Model.InventoryViewModel.DefaultFieldsViewModel.Departments.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Name.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Name.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Name.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Model.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Model.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Model.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Manufacturer.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Manufacturer.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Manufacturer.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.SerialNumber.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.SerialNumber.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.SerialNumber.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.TheftMark.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.TheftMark.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.TheftMark.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.BarCode.Show
         || Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.PurchaseDate.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Inventering")</th>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.BarCode.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.BarCode.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.BarCode.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.PurchaseDate.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.PurchaseDate.Caption)</label>
            </td>
            <td class="span9">
                @Html.EditorFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.PurchaseDate.Value, "DatePicker", new { id = "inventory_edit_purchasedate_date_datepicker" })
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Info.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Övrigt")</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Info.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.Info.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.ComputerName.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Tillbehör till")</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.ComputerName.Caption)</label>
            </td>
            <td class="span9">
                @Html.DisplayFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.ComputerName.Value)
            </td>
        </tr>
    }
    @if (Model.InventoryViewModel.DefaultFieldsViewModel.Rooms.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Placering")</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Byggnad")</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.BuildingId, Model.InventoryViewModel.DefaultFieldsViewModel.Buildings);
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get("Våning")</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.FloorId, Model.InventoryViewModel.DefaultFieldsViewModel.Floors);
            </td>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.InventoryViewModel.DefaultFieldsViewModel.Rooms.Caption)</label>
            </td>
            <td class="span9">
                @Html.DropDownListFor(m => m.InventoryViewModel.DefaultFieldsViewModel.DefaultFieldsModel.RoomId, Model.InventoryViewModel.DefaultFieldsViewModel.Rooms.Value);
            </td>
        </tr>
    }
    @{
        var groups = Model.TypeGroupModels.OrderBy(x => x.SortOrder);

        foreach (var group in groups)
        {
            int id = group.Id;
            var itemsInGroup = Model.DynamicFieldModels.Where(x => x.GroupId == id).OrderBy(x => x.Position).ToList();

            if (!itemsInGroup.Any())
            {
                continue;
            }

            <tr>
                <th colspan="2" class="header">@Html.DisplayFor(m => group.Name)</th>
            </tr>

            foreach (var item in itemsInGroup)
            {
                // todo
                <tr>
                    <td class="span3">
                        <label>@Html.DisplayFor(m => item.Caption)</label>
                    </td>
                    <td class="span9">
                        @switch (item.FieldTypes)
                        {
                            case FieldTypes.Bool:
                                var boolValue = !string.IsNullOrWhiteSpace(item.Value) && item.Value == DynamicFieldModel.True;
                                @Html.CheckBoxFor(m => boolValue)
                                break;
                            case FieldTypes.Date:
                                var dateValue = !string.IsNullOrWhiteSpace(item.Value) ? (DateTime?)DateTime.Parse(item.Value) : null;
                                @Html.EditorFor(m => dateValue, "DatePicker", new { id = "general_finishing_date_datepicker" })
                                break;
                            case FieldTypes.Text:
                                var textValue = new DynamicFieldStringValue(item.Value, item.MaxSize);
                                @Html.EditorFor(m => textValue)
                                break;
                            case FieldTypes.Numeric:
                                var intValue = !string.IsNullOrWhiteSpace(item.Value) ? (int?)int.Parse(item.Value) : null;
                                @Html.EditorFor(m => intValue)
                                break;
                            default:
                                @Html.EditorFor(m => item.Value)
                                break;
                        }
                    </td>
                </tr>
            }
        }
    }
    <tr>
        <th colspan="2" class="header">@Translation.Get("Status")</th>
    </tr>
    <tr>
        <td class="span3">
            <label>@Translation.Get("Skapad datum")</label>
        </td>
        <td class="span9">
            @Html.DisplayFor(m => m.InventoryViewModel.ChangeDate, "Date")
        </td>
    </tr>
    <tr>
        <td class="span3">
            <label>@Translation.Get("Senast ändrad datum")</label>
        </td>
        <td class="span9">
            @Html.DisplayFor(m => m.InventoryViewModel.CreatedDate, "Date")
        </td>
    </tr>
</table>
