@model DH.Helpdesk.Web.Models.Inventory.EditModel.Settings.Computer.FieldSettingModel
<td>@Html.LabelFor(m => m)</td>
<td>@Html.CheckBoxFor(m => m.ShowInDetails)</td>
<td>@Html.TextBoxFor(m => m.Caption)</td>
<td>@Html.CheckBoxFor(m => m.IsRequired, new { @class = "is_required" })</td>
<td>@Html.CheckBoxFor(m => m.ShowInList)</td>
<td>@Html.CheckBoxFor(m => m.IsReadOnly, new { @class = "is_readonly" })</td>

