@model DH.Helpdesk.Web.Models.Inventory.EditModel.Settings.InventoryDynamicFieldSettingViewModel
<td>@Html.DropDownListFor(m => m.InventoryDynamicFieldSettingModel.InventoryTypeGroupId, Model.InventoryTypeGroups)
    @Html.HiddenFor(m => m.InventoryDynamicFieldSettingModel.Id)
</td>
<td>@Html.TextBoxFor(m => m.InventoryDynamicFieldSettingModel.Caption)</td>
<td>@Html.TextBoxFor(m => m.InventoryDynamicFieldSettingModel.Position)</td>
<td>@Html.DropDownListFor(x => x.InventoryDynamicFieldSettingModel.FieldType, Model.FieldTypes, new { @class = "inventory_field_type_class" })
</td>
<td>@Html.TextBoxFor(m => m.InventoryDynamicFieldSettingModel.PropertySize, new { @class = "inventory_property_size_class" })</td>
<td>@Html.CheckBoxFor(m => m.InventoryDynamicFieldSettingModel.ShowInDetails, new { @class = "switchcheckbox" })</td>
<td>@Html.CheckBoxFor(m => m.InventoryDynamicFieldSettingModel.ShowInList, new { @class = "switchcheckbox" })</td>
<td>@Ajax.ActionLink(Translation.Get("Ta bort"), "DeleteDynamicSetting", new { id = Model.InventoryDynamicFieldSettingModel.Id, inventoryTypeId = Model.InventoryDynamicFieldSettingModel.InventoryTypeId }, new AjaxOptions { UpdateTargetId = "settings_container", OnSuccess = "updateForm(); onSettingsSavedSuccessfully();" }, new { @class = "btn" })
</td>
