
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.Contacts.ContactModel

@Html.HiddenFor(m => m.Id)           

<div>
    @Html.EditorFor(m => m.Name, "Contacts/Text")    
</div>
<div>
    @Html.EditorFor(m => m.Phone, "Contacts/Text")
</div>
<div>
    @Html.EditorFor(m => m.Email, "Contacts/Text")
</div>
<div>
    @Html.EditorFor(m => m.Company, "Contacts/Text")
</div>
