
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.Contacts.ContactsModel

@if (Model.IsUnshowable())
{
    return;
}
           
<ul class="nav nav-tabs">
    @if (!Model.ContactOne.IsUnshowable())
    {
        <li class="active">
            <a href="#contact_one_tab">
                @string.Format("{0} 1", Translation.Get("Kontakt"))
            </a>
        </li>        
    }
    @if (!Model.ContactTwo.IsUnshowable())
    {
        <li>
            <a href="#contact_two_tab">
                @string.Format("{0} 2", Translation.Get("Kontakt"))
            </a>
        </li>        
    }
    @if (!Model.ContactThree.IsUnshowable())
    {
        <li>
            <a href="#contact_three_tab">
                @string.Format("{0} 3", Translation.Get("Kontakt"))
            </a>
        </li>        
    }
    @if (!Model.ContactFourth.IsUnshowable())
    {
        <li>
            <a href="#contact_fourth_tab">
                @string.Format("{0} 4", Translation.Get("Kontakt"))
            </a>
        </li>        
    }
    @if (!Model.ContactFive.IsUnshowable())
    {
        <li>
            <a href="#contact_five_tab">
                @string.Format("{0} 5", Translation.Get("Kontakt"))
            </a>
        </li>        
    }
    @if (!Model.ContactSix.IsUnshowable())
    {
        <li>
            <a href="#contact_six_tab">
                @string.Format("{0} 6", Translation.Get("Kontakt"))
            </a>
        </li>        
    }
</ul>
<div class="tab-content">
    @if (!Model.ContactOne.IsUnshowable())
    {
        <div id="contact_one_tab" class="tab-pane tab-pane-border active">
            @Html.EditorFor(m => m.ContactOne, "Contacts/ContactModel")
        </div>        
    }
    @if (!Model.ContactTwo.IsUnshowable())
    {
        <div id="contact_two_tab" class="tab-pane tab-pane-border">
            @Html.EditorFor(m => m.ContactTwo, "Contacts/ContactModel")
        </div>        
    }
    @if (!Model.ContactThree.IsUnshowable())
    {
        <div id="contact_three_tab" class="tab-pane tab-pane-border">
            @Html.EditorFor(m => m.ContactThree, "Contacts/ContactModel")
        </div>        
    }
    @if (!Model.ContactFourth.IsUnshowable())
    {
        <div id="contact_fourth_tab" class="tab-pane tab-pane-border">
            @Html.EditorFor(m => m.ContactFourth, "Contacts/ContactModel")
        </div>        
    }
    @if (!Model.ContactFive.IsUnshowable())
    {
        <div id="contact_five_tab" class="tab-pane tab-pane-border">
            @Html.EditorFor(m => m.ContactFive, "Contacts/ContactModel")
        </div>        
    }
    @if (!Model.ContactSix.IsUnshowable())
    {
        <div id="contact_six_tab" class="tab-pane tab-pane-border">
            @Html.EditorFor(m => m.ContactSix, "Contacts/ContactModel")
        </div>            
    }
</div>