@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    const string CompanyName = "IKEA Distribution Services Limited";
    const string EmployeeCategory = "Permanent";
    const string PartTime = "Part Time";
    const string FullTime = "Full Time";
    const string ZeroHours = "Zero Hours";
    const string DefaultProbationPeriod = "Yes";
}
<div class="tab-pane" id="OrganisationalAssignment">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Organisation")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OrganisationCountry")</td>
                    <td>@Model.Element("OrganisationCountry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Company")</td>
                    <td>@Model.Element("Company")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BusinessUnit")</td>
                    <td>@Model.Element("BusinessUnit")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ServiceArea")</td>
                    <td>@Model.Element("ServiceArea")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Department")</td>
                    <td>@Model.Element("Department")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HomeCostCentre")</td>
                    <td>@Model.Element("HomeCostCentre")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("CostAllocation")</td>
                    <td>@Model.Element("CostAllocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("CrossChargeCostCentre")</td>
                    <td>@Model.Element("CrossChargeCostCentre")</td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Job")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("JobTitle")</td>
                    <td>@Model.Element("JobTitle")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewPosition")</td>
                    <td>@Model.Element("NewPosition")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ReportsToLineManager")</td>
                    <td>@Model.Element("ReportsToLineManager")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ManagersJobTitle")</td>
                    <td>@Model.Element("ManagersJobTitle")</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Employment Conditions")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmploymentCategory")</td>
                    <td>@Model.Element("EmploymentCategory")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContractEndDate")</td>
                    <td>@Model.Element("ContractEndDate")</td>
                </tr>

                <tr>
                    <td class="tdstrong">@Model.Label("ContractedHours")</td>
                    <td>@Model.Element("ContractedHours")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("DaysPerWeek")</td>
                    <td>@Model.Element("DaysPerWeek")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContractType")</td>
                    <td>@Model.Element("ContractType")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ProbationPeriod")</td>
                    <td>@Model.Element("ProbationPeriod")</td>
                </tr>
                <tr>
                    <td id="probationDate" class="tdstrong">@Model.Label("ProbationEndDate")</td>
                    <td>@Model.Element("ProbationEndDate")</td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("CDS")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PrimarySite")</td>
                    <td>@Model.Element("PrimarySite")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("TECApprover")</td>
                    <td>@Model.Element("TECApprover")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("HelpDesk")</td>
                    <td>@Model.Element("HelpDesk")</td>
                </tr>

                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Employment Conditions")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContractReviewDate")</td>
                    <td>@Model.Element("ContractReviewDate")</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script>


    $(function () {




        function setProbationEndDate(value) {
            var probationEndDate = $('#ProbationEndDate');

            if (value == '@DefaultProbationPeriod') {
                var sStart = $('#ContractStartDate').val();
                var format = APIGlobal.DateTime.parseFormat('dd.mm.yyyy');
                var dStart = APIGlobal.DateTime.parseDate(sStart, format);

                var endDate = new Date(dStart.getFullYear(), dStart.getMonth() + 6, dStart.getDate() - 1, 0, 0, 0, 0);
                var visibleDate = APIGlobal.DateTime.formatDate(endDate, format);
                probationEndDate.val(visibleDate.toString());
            }
            else {
                probationEndDate.val("");
            }
        };

        function setEmployeeBehavior(value) {
            if (value == '@EmployeeCategory') {
                $('#date_ContractEndDate').datepicker("destroy");
                $('#date_ContractEndDate').addClass("disabled");
                $('#ContractEndDate').prop('disabled', true);
            }
            else {
                $('#date_ContractEndDate').datepicker();
                $('#ContractEndDate').prop('disabled', false);
                $("#ContractEndDate").removeClass("disabled");
            }
        }

        if ($('EmploymentCategory').val() == '@EmployeeCategory') {
            $('#date_ContractEndDate').datepicker("destroy");
            $('#date_ContractEndDate').addClass("disabled");
            $('#ContractEndDate').prop('disabled', true);
        }

        // setEmployeeBehavior($('#EmploymentCategory').val());
        setProbationEndDate($('#ProbationPeriod').val());



        $('#Company').change(function () {
            if ($("#Company option:selected").text() == 'IKEA Limited')
            { document.getElementById('HelpDesk').value = 'ICC3 UK Retail'; }
            if ($("#Company option:selected").text() == 'IKEA Properties Investments Ltd')
            { document.getElementById('HelpDesk').value = 'ICC3 UK Retail'; }
            if ($("#Company option:selected").text() == 'IKEA Distribution Services Limited')
            { document.getElementById('HelpDesk').value = 'ICC3 WER DS'; }

            var value = $("#Company option:selected").text();;

            if (!(value == '@CompanyName')) {
                document.getElementById('CostAllocation').disabled = true;
                if ($('#CrossChargeCostCentre')[0].selectize)
                { $('#CrossChargeCostCentre')[0].selectize.disable(); }

                //$('#CostAllocation, #CrossChargeCostCentre').prop('disabled', true);
            }
            else {
                document.getElementById('CostAllocation').disabled = false;
                if ($('#CrossChargeCostCentre')[0].selectize)
                { $('#CrossChargeCostCentre')[0].selectize.enable(); }
                //$('#CostAllocation, #CrossChargeCostCentre').prop('disabled', false);
            }
        });

        $('#EmploymentCategory').change(function () {
            setEmployeeBehavior($(this).val());
        });

        $('#ContractedHours').on("input propertychange", function () {
            var value = $(this).val();

            if (value >= 16 && value <= 38) {
                $('#ContractType option[value="' + '@PartTime' + '"]').prop('selected', true);
            }
            else if (value >= 39 && value <= 40) {
                $('#ContractType option[value="' + '@FullTime' + '"]').prop('selected', true);
            }
            else if (value == "0") {
                $('#ContractType option[value="' + '@ZeroHours' + '"]').prop('selected', true);
            }
            else {
                $('#ContractType option:not([value])').prop('selected', true);
            }
        });

        $('#ProbationPeriod').change(function () {
            setProbationEndDate($(this).val());
        });

        $('#ReportsToLineManager').change(function () {
            //////////
            //ReportsToLineManager change function
            //////////
            ///DONE IN CHANGE

            var bus = $("#BusinessUnit option:selected").text();

            if (bus == 'Distribution Centre Peterborough 012' | bus == 'IKEA Property Services' | bus == 'Peterborough Contact Centre' | bus == 'Service Office UK' | bus == 'Customer Distribution Centre Peterborough 269') {
                var line = document.getElementById('ReportsToLineManager').value;

                var tec = $("#TECApprover option:selected").text();

                if (tec == '') {

                    $('#TECApprover')[0].selectize.setValue(line);
                }
            }


        });


        $('#BusinessUnit').change(function () {
            ///DONE IN CHANGE
            //alert();
            addTecProviders();
            setPayrollCategory();
            setBasicPayAmount();
            setAllowanceType2();
            setAllowanceType();
            setAllowanceType3();



            var value = $(this).val();
            if ($('#BusinessUnit')[0].selectize) {
                var selectedText = $('#BusinessUnit')[0].selectize.getItem(value).text();

                if ($('#PrimarySite')[0].selectize) {
                    $('#PrimarySite')[0].selectize.setValue(selectedText);
                }
                else {
                    $('#PrimarySite').val(selectedText);
                }
            }
            else {
                var selectedText = $('#BusinessUnit').find('option:selected').text();
                if ($('#PrimarySite')[0].selectize) {
                    $('#PrimarySite')[0].selectize.setValue(selectedText);
                }
                else {
                    var selectedText = $('#BusinessUnit').find('option:selected').text();
                    $('#PrimarySite').val(selectedText);
                }
            }
        });





        $('#AllowancesType').change(function () {
            //////////
            //AllowancesType change function
            //////////
            ///DONE IN CHANGE


            setAllowanceType();

        });

        $('#AllowancesType2').change(function () {
            //////////
            //AllowancesType change function
            //////////
            ///DONE IN CHANGE

            setAllowanceType2();

        });

        $('#AllowancesType3').change(function () {
            //////////
            //AllowancesType change function
            //////////
            ///DONE IN CHANGE

            setAllowanceType2();

        });

        function setAllowanceType() {
            //////////
            ///DONE IN CHANGE
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_allowancetype_defaults_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setAllowanceTypeXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function setAllowanceType2() {
            //////////
            ///DONE IN CHANGE
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_allowancetype_defaults_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setAllowanceTypeXML2,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function setAllowanceType3() {
            //////////
            ///DONE IN CHANGE
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';



            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_allowancetype_defaults_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setAllowanceTypeXML3,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function setAllowanceTypeXML(xml) {
            //////////
            //Sets allowance type units from predefined_allowancetype_units_outs.XML based on Allowance type
            //////////
            ///DONE IN CHANGE

            var show = ''
            var show2 = ''

            if (document.getElementById('AllowancesAmountUnits')) {
                document.getElementById('AllowancesAmountUnits').value = '';
            }
            if (document.getElementById('AllowancesNetGross')) {
                document.getElementById('AllowancesNetGross').value = '';
            }

            var res = '0';

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;
            }
            var dep = '';
            if (document.getElementById('AllowancesType')) {
                dep = document.getElementById('AllowancesType').value;
            }
            var bus = '';
            if (document.getElementById('AllowancesType')) {
                bus = $("#BusinessUnit option:selected").text();
            }

            var d = dep + '_' + pay;

            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();


                if (dep.toString().trim() == 'Location Allowance') {

                    if (bus == 'Store Bristol 264') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '0,10';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '203,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Lakeside 262') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '0,77';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1560,00';
                            }
                        }
                    }
                    else if (bus == 'Store Milton Keynes 185') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '0,35';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '709,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Tottenham 255') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Wembley 141') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Service Office UK') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = '2600,00';
                            }
                        }
                    }
                }
                else {

                    if (department.toString().trim() == dep.toString().trim()) {

                        if (show != '') {
                            if (document.getElementById('AllowancesAmountUnits')) {

                                if (dep.toString().trim() == 'Advanced') {
                                    if (bus.toString().trim() != 'Peterborough Contact Centre') {
                                        document.getElementById('AllowancesAmountUnits').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits').value = '0,55';
                                    }
                                }
                                else if (dep.toString().trim() == 'Fork Lift Truck Allowance') {
                                    if (bus.toString().trim() != 'Store Milton Keynes 185') {
                                        document.getElementById('AllowancesAmountUnits').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits').value = '1,72';
                                    }
                                }
                                else if (dep.toString().trim() == 'Kitchen Skills')
                                    if (bus.toString().trim() == 'Store Edinburgh 265') {
                                        document.getElementById('AllowancesAmountUnits').value = '1,00';
                                    }

                                    else if (bus.toString().trim() == 'Store London Tottenham 255' | bus == 'Store London Wembley 141' | bus == 'Store London Croydon 144' | bus == 'Store London Lakeside 262') {
                                        document.getElementById('AllowancesAmountUnits').value = '0,30';
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits').value = show;
                                    }
                            }
                            else {
                                if (document.getElementById('AllowancesAmountUnits')) {
                                document.getElementById('AllowancesAmountUnits').value = show;
                                    }
                            }

                        }

                        res = '1';
                    }


                    if (res == 1) {
                        return;
                    }
                }





                ////OLD
                //if (dep == '150B - Hourly Location Allow') {
                //    if (bus == 'Store Bristol 264') {
                //        //alert();
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '0,10';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Croydon 144') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '1,28';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Lakeside 262') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '0,77';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store Milton Keynes 185') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '0,35';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Tottenham 255') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '1,28';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Wembley 141') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '1,28';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Service Office UK') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '1,28';
                //        }
                //        res = '1';
                //    }
                //}
                //else if (dep == '100B - Salary Location Allow') {
                //    if (bus == 'Store Bristol 264') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '203,00';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Croydon 144') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '2600,00';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Lakeside 262') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '1560,00';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store Milton Keynes 185') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '709,00';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Tottenham 255') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '2600,00';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Store London Wembley 141') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '2600,00';
                //        }
                //        res = '1';
                //    }
                //    else if (bus == 'Service Office UK') {
                //        if (document.getElementById('AllowancesAmountUnits')) {
                //            document.getElementById('AllowancesAmountUnits').value = '2600,00';
                //        }
                //        res = '1';
                //    }
                //}
                //else {
                //    if (department.toString().trim() == d.toString().trim()) {

                //        if (show != '') {
                //            if (document.getElementById('AllowancesAmountUnits')) {
                //                document.getElementById('AllowancesAmountUnits').value = show;
                //            }

                //            res = '1';
                //        }

                //        if (show2 != '') {
                //            var n = show2.indexOf(",");
                //            if (n == -1) {
                //                if (document.getElementById('AllowancesAmountUnits')) {
                //                    document.getElementById('AllowancesNetGross').value = show2;
                //                }
                //            }
                //            else {
                //                var res = show2.substring(0, n);
                //                if (document.getElementById('AllowancesAmountUnits')) {
                //                    document.getElementById('AllowancesNetGross').value = res;
                //                }
                //            }
                //            res = '1';
                //        }


                //        if (res == 1) {
                //            return;
                //        }
                //    }
                //}
            });
        }



        function addAllowanceOnPayroll() {
            //////////
            //Add deduction types on selected payroll category
            //////////
            //DONE IN CHANGE

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_payroll_allowance_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: addAllowanceOnPayrollXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


        }


        function addAllowanceOnPayrollXML(xml) {
            ///DONE IN CHANGE
            var show = ''
            var dep = '';

            if (document.getElementById('PayrollCategory')) {
                dep = $("#PayrollCategory option:selected").text();
            }

            var temp = '';

            $(xml).find('dependent').each(function () {

                var $sel = $(this);

                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department.toString().trim() == dep.toString().trim()) {

                    if (show != '') {

                        var optionsarray = show.split(',');
                        var seloption = "";

                        $('#AllowancesType')
                            .find('option')
                            .remove();


                        seloption = '<option value="' + temp + '">' + temp + '</option>';

                        $.each(optionsarray, function (i) {
                            seloption += '<option value="' + optionsarray[i] + '">' + optionsarray[i] + '</option>';
                        });


                        $('#AllowancesType').append(seloption);




                        return;
                    }


                }
            });

        }



        function addTecProviders() {
            //////////
            //Add deduction types on selected payroll category
            //////////
            ///DONE IN CHANGE

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';

            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_businessunit_tecprovider_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: addTecProvidersXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        function addTecProvidersXML(xml) {
            //////////
            //Sets Line manager from predefined_linemanager_department_outs.XML and selected department
            //////////
            ///DONE IN CHANGE
            var show = ''
            if (document.getElementById('TECApprover')) {
                $('#TECApprover')[0].selectize.setValue('');
            }
            var dep = '';
            if (document.getElementById('BusinessUnit')) {
                dep = $("#BusinessUnit option:selected").text();
            }
            //var line = $("#ReportsToLineManager option:selected").text();

            var line = '';
            if (document.getElementById('ReportsToLineManager')) {
                line = document.getElementById('ReportsToLineManager').value;
            }

            if (dep == 'Distribution Centre Peterborough 012' | dep == 'IKEA Property Services' | dep == 'Peterborough Contact Centre' | dep == 'Service Office UK' | dep == 'Customer Distribution Centre Peterborough 269') {
                //alert(line);
                if (document.getElementById('TECApprover')) {
                    $('#TECApprover')[0].selectize.setValue(line);
                }
            }

            else {
                $(xml).find('dependent').each(function () {

                    var $sel = $(this);
                    show = '';

                    var department = $sel.find('selected').text();

                    show = $sel.find('show').text();

                    if (department == dep) {

                        if (show != '') {
                            var n = show.indexOf(",");

                            if (n == -1) {

                                $('#TECApprover')[0].selectize.setValue(show);
                            }
                            else {
                                var res = show.substring(0, n);

                                $('#TECApprover')[0].selectize.setValue(res);
                            }
                            return;
                        }
                    }
                });
            }
        }



        function setAllowanceTypeXML2(xml) {
            //////////
            //Sets allowance type units from predefined_allowancetype_units_outs.XML based on Allowance type
            //////////
            ///DONE IN CHANGE

            var show = ''
            var show2 = ''
            if (document.getElementById('AllowancesAmountUnits2')) {
                document.getElementById('AllowancesAmountUnits2').value = '';
            }
            if (document.getElementById('AllowancesNetGross2')) {
                document.getElementById('AllowancesNetGross2').value = '';
            }

            var res = '0';

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;
            }
            var dep = '';
            if (document.getElementById('AllowancesType2')) {
                dep = document.getElementById('AllowancesType2').value;
            }
            var bus = '';
            if (document.getElementById('BusinessUnit')) {
                bus = $("#BusinessUnit option:selected").text();
            }
            var d = dep + '_' + pay;

            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();

                if (dep.toString().trim() == 'Location Allowance') {

                    if (bus == 'Store Bristol 264') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '0,10';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '203,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Lakeside 262') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '0,77';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1560,00';
                            }
                        }
                    }
                    else if (bus == 'Store Milton Keynes 185') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '0,35';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '709,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Tottenham 255') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Wembley 141') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Service Office UK') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits2')) {
                                document.getElementById('AllowancesAmountUnits2').value = '2600,00';
                            }
                        }
                    }
                }
                else {

                    if (department.toString().trim() == dep.toString().trim()) {

                        if (show != '') {
                            if (document.getElementById('AllowancesAmountUnits2')) {

                                if (dep.toString().trim() == 'Advanced') {
                                    if (bus.toString().trim() != 'Peterborough Contact Centre') {
                                        document.getElementById('AllowancesAmountUnits2').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits2').value = '0,55';
                                    }
                                }
                                else if (dep.toString().trim() == 'Fork Lift Truck Allowance') {
                                    if (bus.toString().trim() != 'Store Milton Keynes 185') {
                                        document.getElementById('AllowancesAmountUnits2').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits2').value = '1,72';
                                    }
                                }
                                else if (dep.toString().trim() == 'Kitchen Skills')
                                    if (bus.toString().trim() == 'Store Edinburgh 265') {
                                        document.getElementById('AllowancesAmountUnits2').value = '1,00';
                                    }

                                    else if (bus.toString().trim() == 'Store London Tottenham 255' | bus == 'Store London Wembley 141' | bus == 'Store London Croydon 144' | bus == 'Store London Lakeside 262') {
                                        document.getElementById('AllowancesAmountUnits2').value = '0,30';
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits2').value = show;
                                    }
                            }
                            else {
                                if (document.getElementById('AllowancesAmountUnits2')) {
                                    document.getElementById('AllowancesAmountUnits2').value = show;
                                }
                            }

                        }

                        res = '1';
                    }


                    if (res == 1) {
                        return;
                    }
                }

            });
        }

        function setAllowanceTypeXML3(xml) {
            //////////
            //Sets allowance type units from predefined_allowancetype_units_outs.XML based on Allowance type
            //////////
            ///DONE IN CHANGE

            var show = ''
            var show2 = ''
            if (document.getElementById('AllowancesAmountUnits3')) {
                document.getElementById('AllowancesAmountUnits3').value = '';
            }
            if (document.getElementById('AllowancesNetGross3')) {
                document.getElementById('AllowancesNetGross3').value = '';
            }

            var res = '0';

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;
            }

            var dep = '';
            if (document.getElementById('AllowancesType3')) {
                dep = document.getElementById('AllowancesType3').value;
            }
            var bus = '';
            if (document.getElementById('BusinessUnit')) {
                bus = $("#BusinessUnit option:selected").text();
            }
            var d = dep + '_' + pay;

            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();

                if (dep.toString().trim() == 'Location Allowance') {

                    if (bus == 'Store Bristol 264') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '0,10';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '203,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Lakeside 262') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '0,77';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1560,00';
                            }
                        }
                    }
                    else if (bus == 'Store Milton Keynes 185') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '0,35';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '709,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Tottenham 255') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Store London Wembley 141') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                    else if (bus == 'Service Office UK') {
                        if (pay == 'Hourly') {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '1,28';
                            }
                        }
                        else {
                            if (document.getElementById('AllowancesAmountUnits3')) {
                                document.getElementById('AllowancesAmountUnits3').value = '2600,00';
                            }
                        }
                    }
                }
                else {

                    if (department.toString().trim() == dep.toString().trim()) {

                        if (show != '') {
                            if (document.getElementById('AllowancesAmountUnits3')) {

                                if (dep.toString().trim() == 'Advanced') {
                                    if (bus.toString().trim() != 'Peterborough Contact Centre') {
                                        document.getElementById('AllowancesAmountUnits3').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits3').value = '0,55';
                                    }
                                }
                                else if (dep.toString().trim() == 'Fork Lift Truck Allowance') {
                                    if (bus.toString().trim() != 'Store Milton Keynes 185') {
                                        document.getElementById('AllowancesAmountUnits3').value = show;
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits3').value = '1,72';
                                    }
                                }
                                else if (dep.toString().trim() == 'Kitchen Skills')
                                    if (bus.toString().trim() == 'Store Edinburgh 265') {
                                        document.getElementById('AllowancesAmountUnits3').value = '1,00';
                                    }

                                    else if (bus.toString().trim() == 'Store London Tottenham 255' | bus == 'Store London Wembley 141' | bus == 'Store London Croydon 144' | bus == 'Store London Lakeside 262') {
                                        document.getElementById('AllowancesAmountUnits3').value = '0,30';
                                    }
                                    else {
                                        document.getElementById('AllowancesAmountUnits3').value = show;
                                    }
                            }
                            else {
                                if (document.getElementById('AllowancesAmountUnits3')) {
                                    document.getElementById('AllowancesAmountUnits3').value = show;
                                }
                            }

                        }

                        res = '1';
                    }


                    if (res == 1) {
                        return;
                    }
                }

            });
        }



        //$('#PayrollCategory').change(function () {
        jQuery('#PayrollCategory').change(function () {
            //////////
            //PAyroll category change function
            //////////
            ///DONE IN CHANGE
            setBasicPayAmount();
            addAllowanceOnPayroll();
            setPayrollCategory();

            addDeductionTypesOnPayroll();


        });

        function addDeductionTypesOnPayrollXML(xml) {
            ///DONE IN CHANGE
            var show = ''

            var dep = '';
            if (document.getElementById('PayrollCategory')) {
                dep = $("#PayrollCategory option:selected").text();
            }

            var temp = '';

            $(xml).find('dependent').each(function () {

                var $sel = $(this);

                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department.toString().trim() == dep.toString().trim()) {

                    if (show != '') {

                        var optionsarray = show.split(',');
                        var seloption = "";

                        $('#DeductionsType')
                            .find('option')
                            .remove();


                        seloption = '<option value="' + temp + '">' + temp + '</option>';

                        $.each(optionsarray, function (i) {
                            seloption += '<option value="' + optionsarray[i] + '">' + optionsarray[i] + '</option>';
                        });


                        $('#DeductionsType').append(seloption);




                        return;
                    }


                }
            });

        }

        function addDeductionTypesOnPayroll() {
            //////////
            //Add deduction types on selected payroll category
            //////////
            ///DONE IN CHANGE

            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';



            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/Predefined_PayrollCategory_DeductionsType.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: addDeductionTypesOnPayrollXML,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


        }

        $('#JobTitle').change(function () {
            //////////
            //JobTitle change function
            //////////
            ///DONE IN CHANGE

            setPayrollCategory();
        });

        $('#PayScaleGroup').change(function () {
            //////////
            //pay scale group change functon to set basic pay amount
            //////////
            ///DONE IN CHANGE

            setBasicPayAmount();

        });


        function setBasicPayAmount() {
            //////////
            //Sets Basic pay amount based on payroll category and pay scale group
            //////////
            ///DONE IN CHANGE

            if (document.getElementById('BasicPayAmount')) {
                document.getElementById('BasicPayAmount').value = ''
            }


            var bus = '';
            if (document.getElementById('BusinessUnit')) {
                bus = $("#BusinessUnit option:selected").text();
            }
            var grp = '';
            if (document.getElementById('PayScaleGroup')) {
                grp = document.getElementById('PayScaleGroup').value;
            }

            var pay = '';
            if (document.getElementById('PayrollCategory')) {
                pay = document.getElementById('PayrollCategory').value;
            }


            if (pay == 'Hourly') {

                if (bus == 'Peterborough Contact Centre') {
                    if (grp == 'STARTER') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,84'
                        }
                    }
                }
                else if (bus == 'Customer Distribution Centre Peterborough 269' | bus == 'Distribution Centre Peterborough 012') {
                    if (grp == 'STARTER') {

                        if (document.getElementById('BasicPayAmount')) {
                            //$('#BasicPayAmount')[0].selectize.setValue('8,45');

                            document.getElementById('BasicPayAmount').value = '8,45'
                        }
                    }
                    else if (grp == 'APPRENT1') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,69'
                        }
                    }
                    else if (grp == 'APPRENT2') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '6,66'
                        }
                    }
                }
                else {
                    if (grp == 'STARTER') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '7,13'
                        }
                    }
                    else if (grp == 'INTERN') {
                        if (document.getElementById('BasicPayAmount')) {
                            document.getElementById('BasicPayAmount').value = '6,50'
                        }
                    }
                }

            }

            //if (bus == 'Store Cardiff 267' | bus == 'Store Edinburgh 265') {
            //    if (grp == 'STARTER') {
            //        if (document.getElementById('BasicPayAmount')) {
            //            document.getElementById('BasicPayAmount').value = '6,31'
            //        }
            //    }
            //}
            //else if (bus == 'Peterborough Contact Centre') {
            //    if (grp == 'STARTER') {
            //        if (document.getElementById('BasicPayAmount')) {
            //            document.getElementById('BasicPayAmount').value = '7,69'
            //        }
            //    }
            //}
            //else if (bus == 'Customer Distribution Centre Peterborough 269' | bus == 'Distribution Centre Peterborough 012') {
            //    if (grp == 'STARTER') {
            //        if (document.getElementById('BasicPayAmount')) {
            //            document.getElementById('BasicPayAmount').value = '8,45'
            //        }
            //    }
            //    else if (grp == 'APPRENT1') {
            //        if (document.getElementById('BasicPayAmount')) {
            //            document.getElementById('BasicPayAmount').value = '7,69'
            //        }
            //    }
            //    else if (grp == 'APPRENT2') {
            //        if (document.getElementById('BasicPayAmount')) {
            //            document.getElementById('BasicPayAmount').value = '6,66'
            //        }
            //    }
            //}
            //else {

            //    if (grp == 'STARTER') {
            //        if (document.getElementById('BasicPayAmount')) {
            //            document.getElementById('BasicPayAmount').value = '6,99'
            //        }
            //    }
            //    else if (grp == 'INTERN') {
            //        if (document.getElementById('BasicPayAmount')) {
            //            document.getElementById('BasicPayAmount').value = '6,31'
            //        }
            //    }
            //}



        }

        function setCostCentre(xml) {
            //////////
            //Sets cost centre from predefined_costcentre_department_outs.XML and selected department
            //////////
            ///DONE IN CHANGE

            var show = ''

            if (document.getElementById('HomeCostCentre')) {
                $('#HomeCostCentre')[0].selectize.setValue('');
            }
            var dep = '';
            if (document.getElementById('Department')) {
                dep = $("#Department option:selected").text();
            }
            $(xml).find('dependent').each(function () {

                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department == dep) {

                    if (show != '') {
                        var n = show.indexOf(",");

                        if (n == -1) {

                            $('#HomeCostCentre')[0].selectize.setValue(show);
                        }
                        else {
                            var res = show.substring(0, n);

                            $('#HomeCostCentre')[0].selectize.setValue(res);
                        }
                        return;
                    }
                }
            });
        }

        $('#ServiceArea').change(function () {

            //Line manager job title
            path = '';
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';



            //path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_department_jobtitle_UK_outs.xml'
            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_function_jobtitleUK_outs.xml'


            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setLineManagerJobTitle,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });

        });



        $('#Department').change(function () {
            //////////
            //Change function for Department
            //////////
            ///DONE IN CHANGE



            //Cost centre department
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_department_costcentre_outs.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setCostCentre,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });


            //Line manager department
            path = '';
            var path = window.location.protocol + '//';
            path = path + window.location.host + '/';


            path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_linemanager_department_outs_UK.xml'

            $.ajax({
                type: "GET",
                url: path,
                dataType: "xml",
                success: setLineManager,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(textStatus);
                    alert(errorThrown);
                }

            });







        });





        function setLineManagerJobTitle(xml) {
            //////////
            //Sets Line manager job title from predefined_linemanager_jobtitle_outs.XML and selected line manager
            //////////
            ///DONE IN CHANGE

            var show = ''
            //var dep = $("#ReportsToLineManager option:selected").text();
            //if (document.getElementById('ManagersJobTitle')) {
            //    $('#ManagersJobTitle')[0].selectize.setValue('');
            //}
            var dep = '';
            //if (document.getElementById('ReportsToLineManager')) {
            //    document.getElementById('ReportsToLineManager').value;
            //}

            if (document.getElementById('ServiceArea')) {
                dep = $("#ServiceArea option:selected").text();
            }

            var selectize_tags = $("#JobTitle")[0].selectize
            selectize_tags.clearOptions();


            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();


                if (department == dep) {

                    if (show != '') {





                        var optionsarray = show.split(',');
                        optionsarray.push('   ');

                        $.each(optionsarray, function (i) {
                            selectize_tags.addOption({
                                text: optionsarray[i],
                                value: optionsarray[i]
                            });
                            selectize_tags.addItem(optionsarray[i])
                        });




                        return;

                    }
                }
            });
        }

        function setLineManager(xml) {
            //////////
            //Sets Line manager from predefined_linemanager_department_outs.XML and selected department
            //////////
            ///DONE IN CHANGE

            var show = ''
            if (document.getElementById('ReportsToLineManager')) {
                $('#ReportsToLineManager')[0].selectize.setValue('');
            }
            var dep = '';
            if (document.getElementById('Department')) {
                dep = $("#Department option:selected").text();
            }
            $(xml).find('dependent').each(function () {

                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department == dep) {

                    if (show != '') {
                        var n = show.indexOf(",");

                        if (n == -1) {

                            $('#ReportsToLineManager')[0].selectize.setValue(show);
                        }
                        else {
                            var res = show.substring(0, n);

                            $('#ReportsToLineManager')[0].selectize.setValue(res);
                        }
                        return;
                    }
                }
            });
        }



        function setPayrollCategory() {
            //////////
            //Sets PayScaleGroup, OneIKEABonusLevel, BenefitLevel from predefined_payroll_category_outs.XML and selected Job title and payroll category
            //////////
            ///DONE IN CHANGE

            var sal = '';
            if (document.getElementById('PayrollCategory')) {
                sal = document.getElementById('PayrollCategory').value;
            }

            if (sal == 'Salaried' | sal == 'Salaried Management' | sal == 'Salaried Senior Management') {



                var path = window.location.protocol + '//';
                path = path + window.location.host + '/';



                path = site.baseUrl + '/FormLibContent/Xmls/UnitedKingdom/Templates/predefined_payroll_category_outs.xml'

                $.ajax({
                    type: "GET",
                    url: path,
                    dataType: "xml",
                    success: setPayrollCategoryXML,
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                        alert(textStatus);
                        alert(errorThrown);
                    }

                });


            }
            else if (sal == 'Hourly') {
                if (document.getElementById('PayScaleGroup')) {
                    document.getElementById('PayScaleGroup').value = '';
                }
                if (document.getElementById('BenefitLevel')) {
                    document.getElementById('BenefitLevel').value = '';
                }




            }
        }

        function setPayrollCategoryXML(xml) {
            //////////
            //Sets PayScaleGroup, OneIKEABonusLevel, BenefitLevel from predefined_payroll_category_outs.XML and selected Job title and payroll category
            //////////
            ///DONE IN CHANGE

            var show = ''
            var show2 = ''
            var show3 = ''
            var show4 = ''
            var show5 = ''
            var show6 = ''
            var res = '0';

            var dep = '';
            if (document.getElementById('JobTitle')) {
                dep = document.getElementById('JobTitle').value;
            }

            var bus = '';
            if (document.getElementById('BusinessUnit')) {
                bus = $("#BusinessUnit option:selected").text();
            }


            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';
                show2 = '';
                show3 = '';
                show4 = '';
                show5 = '';
                show6 = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show1').text();
                show2 = $sel.find('show2').text();
                show3 = $sel.find('show3').text();
                show4 = $sel.find('show4').text();
                show5 = $sel.find('show5').text();
                show6 = $sel.find('show6').text();



                if (department == dep) {

                    if (bus == 'Store Manchester 186' | bus == 'Store Belfast 113' | bus == 'Store Cardiff 267' | bus == 'Store Edinburgh 265' | bus == 'Store Gateshead 143' | bus == 'Store Milton Keynes 185' | bus == 'Store Coventry 150') {
                        res = '1';
                        if (show != '') {
                            var n = show.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = show;
                                }
                            }
                            else {
                                var res = show.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }
                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = '';
                            }
                        }
                    }
                    else if (bus == 'Store Bristol 264' | bus == 'Store London Tottenham 255' | bus == 'Store Glasgow 266' | bus == 'Store London Lakeside 262' | bus == 'Store Leeds 261' | bus == 'Store Nottingham 263' | bus == 'Store Southampton 125' | bus == 'Store Warrington 140' | bus == 'Store Birmingham 142') {
                        res = '1';
                        if (show2 != '') {
                            var n = show2.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = show2;
                                }
                            }
                            else {
                                var res = show2.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }

                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = '';
                            }
                        }
                    }
                    else if (bus == 'Store London Croydon 144' | bus == 'Store London Wembley 141' | bus == 'Store Glasgow 266') {
                        res = '1';
                        if (show3 != '') {
                            var n = show3.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = show3;
                                }
                            }
                            else {
                                var res = show3.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }
                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = '';
                            }
                        }
                    }
                    else {
                        res = '1';
                        if (show4 != '') {
                            var n = show4.indexOf(",");
                            if (n == -1) {
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = show4;
                                }
                            }
                            else {
                                var res = show4.substring(0, n);
                                if (document.getElementById('PayScaleGroup')) {
                                    document.getElementById('PayScaleGroup').value = res;
                                }
                            }
                        }
                        else {
                            if (document.getElementById('PayScaleGroup')) {
                                document.getElementById('PayScaleGroup').value = '';
                            }
                        }
                    }

                    setBasicPayAmount();

                    if (show6 != '') {
                        var n = show6.indexOf(",");
                        if (n == -1) {
                            if (document.getElementById('OneIKEABonusLevel')) {
                                document.getElementById('OneIKEABonusLevel').value = show6;
                            }
                        }
                        else {
                            var res = show6.substring(0, n);
                            if (document.getElementById('OneIKEABonusLevel')) {
                                document.getElementById('OneIKEABonusLevel').value = res;
                            }
                        }
                        res = '1';
                    }
                    else {
                        res = '1';
                        if (document.getElementById('OneIKEABonusLevel')) {
                            document.getElementById('OneIKEABonusLevel').value = '';
                        }
                    }

                    if (!(show5 == '')) {
                        var n = show5.indexOf(",");
                        if (n == -1) {
                            if (document.getElementById('BenefitLevel')) {
                                document.getElementById('BenefitLevel').value = show5;
                            }

                        }
                        else {
                            var res = show5.substring(0, n);
                            if (document.getElementById('BenefitLevel')) {
                                document.getElementById('BenefitLevel').value = res;
                            }

                        }
                        res = '1'
                    }
                    else {

                        res = '1';
                        if (document.getElementById('BenefitLevel')) {
                            document.getElementById('BenefitLevel').value = '';
                        }
                        $('#notice_BenefitLevel').show();
                    }

                    if (res == 1) {
                        return;
                    }
                }
            });
        }



        $('#date_ContractStartDate').datepicker().on('changeDate', function (ev) {

            setProbationEndDate($('#ProbationPeriod').val());
        });
    });

</script>
