@model DH.Helpdesk.NewSelfService.Models.Documents.DocumentsModel
@{    
    ViewBag.Title = "Documents";
}

<div class="container-fluid dh-container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">@Translation.Get("HR Documents", Enums.TranslationSource.TextTranslation)</a></li>
    </ul>
    <div class="content">
        <div class="tab-pane active" id="home">
            <div class="container-fluid dh-container">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Translation.Get("Name", Enums.TranslationSource.TextTranslation)
                                    </th>
                                    <th>
                                        @Translation.Get("Description", Enums.TranslationSource.TextTranslation)                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doc in Model.Documents)
                                {
                                    <tr>
                                        <td style="width:20px">
                                            <a href="@Url.Content("~/Content/img-profile/Pay query form.xlsm")" target="_blank" class="btn btn-dhblue btn-xs"><span class="glyphicon glyphicon-file"></span></a>
                                        </td>
                                        <td>
                                            @doc.Name
                                        </td>
                                        <td>
                                            @doc.Description
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
