@using System.Web.Optimization
@using DH.Helpdesk.Web
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.ComputerViewModel
@{
    Layout = "~/Areas/Inventory/Views/Shared/_EditLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        <li id="menu1">
            <input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn" onclick=" $('#workstation_edit_form').submit(); " />
        </li>
        <li id="menu2">@Html.ActionLink(Translation.GetCoreTextTranslation("Avbryt"), "Index", null, new { @class = "btn" })</li>
    </ul>
}

@section Title
{
    @Translation.GetCoreTextTranslation("Arbetsstation")
}

@section Content
{
    @using (Html.BeginForm("New", "Workstation", FormMethod.Post, new { id = "workstation_edit_form" }))
    {
        @Html.EditorFor(m => m.WorkstationFieldsViewModel)
        @Html.EditorFor(m => m.ChassisFieldsModel)
        @Html.EditorFor(m => m.InventoryFieldsModel)
        @Html.EditorFor(m => m.OperatingSystemFieldsViewModel)
        @Html.EditorFor(m => m.ProccesorFieldsViewModel)
        @Html.EditorFor(m => m.MemoryFieldsViewModel)
        @Html.EditorFor(m => m.CommunicationFieldsViewModel)
        @Html.EditorFor(m => m.GraphicsFieldsModel)
        @Html.EditorFor(m => m.SoundFieldsModel)
        @Html.EditorFor(m => m.ContractFieldsViewModel)
        @Html.EditorFor(m => m.OtherFieldsModel)
        @Html.EditorFor(m => m, "Documents")
        @Html.EditorFor(m => m.ContactInformationFieldsModel, new { ComputerId = Model.Id })
        @Html.EditorFor(m => m.OrganizationFieldsViewModel)
        @Html.EditorFor(m => m.PlaceFieldsViewModel)
        @Html.EditorFor(m => m.ContactFieldsModel)
        @Html.EditorFor(m => m.StateFieldsViewModel)

        @Html.HiddenFor(m => m.DocumentFileKey)
    }
}

@section Scripts{
    @Scripts.Render(BundleConfig.ScriptNames.InventoryWorkstation)
<script type="text/javascript">

        window.parameters = (window.parameters == null ? {} : window.parameters);
        window.parameters.fileUploadWhiteList = [];

        window.parameters.invalidFileExtensionText = '@Html.Raw(Translation.GetForJS("har inte en giltig filändelse"))';

        @if (Model.FileUploadWhiteList != null)
        {
            foreach (var extension in Model.FileUploadWhiteList)
            {
                @:window.parameters.fileUploadWhiteList.push('@extension');
            }
        }
        else
        {
            @:window.parameters.fileUploadWhiteList = null;
        }

        $(function(jQuery) {
            $('#@Html.IdFor(m => m.CommunicationFieldsViewModel.CommunicationFieldsModel.MacAddress.Value)')
                .attr("data-val-remote",'@string.Format(" {0} {1}", Html.PureFieldCaption(Model.CommunicationFieldsViewModel.CommunicationFieldsModel.MacAddress), Translation.GetCoreTextTranslation("måste vara unikt"))');
            $('#@Html.IdFor(m => m.CommunicationFieldsViewModel.CommunicationFieldsModel.MacAddress.Value)')
                .attr("data-val-remote-url", '@Url.Action("ValidateMacAddress", "Workstation")');

            $('#@Html.IdFor(m => m.WorkstationFieldsViewModel.WorkstationFieldsModel.Theftmark.Value)')
                .attr("data-val-remote", '@string.Format(" {0} {1}", Html.PureFieldCaption(Model.WorkstationFieldsViewModel.WorkstationFieldsModel.Theftmark), Translation.GetCoreTextTranslation("måste vara unikt"))');
            $('#@Html.IdFor(m => m.WorkstationFieldsViewModel.WorkstationFieldsModel.Theftmark.Value)')
                .attr("data-val-remote-url", '@Url.Action("ValidateTheftmark", "Workstation")');

            $('#@Html.IdFor(m => m.WorkstationFieldsViewModel.WorkstationFieldsModel.Name.Value)')
                .attr("data-val-remote", '@string.Format(" {0} {1}", Html.PureFieldCaption(Model.WorkstationFieldsViewModel.WorkstationFieldsModel.Name), Translation.GetCoreTextTranslation("måste vara unikt"))');
            $('#@Html.IdFor(m => m.WorkstationFieldsViewModel.WorkstationFieldsModel.Name.Value)')
                .attr("data-val-remote-url", '@Url.Action("ValidateComputerName", "Workstation")');

            $('#@Html.IdFor(m => m.CommunicationFieldsViewModel.CommunicationFieldsModel.IPAddress.Value)')
                .attr("data-val-remote", '@string.Format(" {0} {1}", Html.PureFieldCaption(Model.CommunicationFieldsViewModel.CommunicationFieldsModel.IPAddress), Translation.GetCoreTextTranslation("måste vara unikt"))');
            $('#@Html.IdFor(m => m.CommunicationFieldsViewModel.CommunicationFieldsModel.IPAddress.Value)')
                 .attr("data-val-remote-url", '@Url.Action("ValidateIpAddress", "Workstation")');

            if (typeof WorkstationEdit !== 'undefined') {
                window.workstationEdit = new WorkstationEdit($);
                window.workstationEdit.init({
                    id: @Model.Id,
                    userId: @SessionFacade.CurrentUser.Id,
                    customerId: @SessionFacade.CurrentCustomer.Id,
                    getUnitsUrl: '@Url.Action("GetUnits", "Ajax", new {area = ""})',
                    getDepartmentsUrl: '@Url.Action("GetDepartments", "Ajax", new {area = ""})',
                    copyUrl: '@Url.Action("Copy", "Workstation")',
                });
            }
        });
</script>

    @if (Model.ContractFieldsViewModel.ContractFieldsModel.Document.Show)
    {
        @Html.Partial("_InventoryFiles")
        @Scripts.Render(BundleConfig.ScriptNames.InventoryFiles)
        @Scripts.Render(BundleConfig.ScriptNames.InventoryWorkstation)
        <script type="text/javascript">

            var inventoryFilesOptions = {
                id: @Model.Id.ToString(),
                attachedFileName: '', //new
                documentFileKey: '@Model.DocumentFileKey',
                uploadDocumentFileUrl: '@Url.Action("UploadFile", "Workstation")',
                fileDownloadUrlMask: '@Url.Action("DownloadFile", "Workstation")',
                fileDeleteUrl: '@Url.Action("DeleteFile", "Workstation")'
            };

            $(function(jQuery) {
                // create instance and init
                window.inventoryFiles = new InventoryFiles(jQuery);
                window.inventoryFiles.init(inventoryFilesOptions);
            });
        </script>
    }
}
