@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Licenses.Models.Manufacturers.ManufacturerEditModel

@section Actions
{
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Spara"), null, null, new { id = "btnSave", @class = "btn" })
        </li>
        @if (!Model.IsNew())
        {
            <li>
                @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Manufacturers", new { id = Model.Id }, 
                    new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post") + "?" })
            </li>                
        }
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Manufacturers", null, new { @class = "btn" })
        </li>
    </ul>    
}
@{    
    var requiredMessage = " " + Translation.Get("måste anges");
}

@section Content {
    @using (Html.BeginForm("Manufacturer", "Manufacturers", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.HiddenFor(m => m.Id, Model.Id)
        @Html.HiddenFor(m => m.CustomerId, Model.CustomerId)        
        <h4>@Translation.Get("Allmänt")</h4>
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Tillverkare")
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.ManufacturerName, Model.ManufacturerName)
                    @Html.ValidationMessageFor(m => m.ManufacturerName, Translation.Get("Tillverkare") + requiredMessage)
                </td>
            </tr>
        </table>                
    } 
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function() {
                $("#edit_form").submit();
                return false;
            });
        });
    </script>          
}
