@model dhHelpdesk_NG.Web.Models.Problem.ProblemEditViewModel
@{
    ViewBag.Title = "_InputProblem";
}

<div class="container">
    <h4>@Translation.Get("General", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="span12">
            <table>
                @if (Model.Problem.Id != 0)
                {
                    <tr>
                        <td>@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td>
                            @Html.DisplayTextFor(x => x.Problem.ProblemNumber)
                        </td>
                    </tr>
                }
                <tr>
                    <td>@Translation.Get("Caption", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.EditorFor(x => x.Problem.Name)
                        @Html.ValidationMessageFor(x => x.Problem.Name)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Description", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.Problem.Description)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Responsible", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.Problem.ResponsibleUserId, Model.Users, string.Empty)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Inventory Number", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.EditorFor(x => x.Problem.InventoryNumber)
                        @Html.ValidationMessageFor(x => x.Problem.InventoryNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Show", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        <div>
                            @Html.CheckBoxFor(x => x.Problem.ShowOnStartPage)
                            @Translation.Get("Show On Start Page", Enums.TranslationSource.TextTranslation)
                        </div>
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.Problem.Id)
        </div>
    </div>
</div>
