@using dhHelpdesk_NG.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model dhHelpdesk_NG.Web.Models.Problem.LogEditModel
@{
    ViewBag.Title = "_InputLog";
}

@if (ViewContext.FormContext == null)
{
    ViewContext.FormContext = new FormContext();
}

<div class="container">
    <h4>@Translation.Get("Log Note", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="span12">
            <table>
                <tr>
                    <td>@Translation.Get("Log Note", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.LogText)
                        @Html.ValidationMessageFor(x => x.LogText)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Show in case Log", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.InternNotering, new { id = "notering_intern_checkBox" })
                        @Translation.Get("Intern notering", Enums.TranslationSource.TextTranslation)
                        @Html.CheckBoxFor(x => x.ExternNotering, new { id = "notering_extern_checkBox" })
                        @Translation.Get("Extern notering", Enums.TranslationSource.TextTranslation)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Finishing Cause", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.DropDownWithSubmenus("causes_dropdown", "FinishingCauseId", true, Model.FinishingCauses)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Finishing Date", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        <div class="input-append date dateie" data-date="" id="dt">
                            @Html.EditorFor(x => x.FinishingDate)<span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Kopplade ärenden", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.FinishConnectedCases)
                        @Translation.Get("Avsluta kopplade ärenden", Enums.TranslationSource.TextTranslation)
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.Id)
        </div>
    </div>
</div>

<script>
    $("input:checkbox[id*='notering']").click(function () {
        $("input:checkbox[id*='notering']").not(this).attr("checked", false);
    });
</script>
