@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Problem.LogEditModel
@{
    ViewBag.Title = "_InputLog";
}

@if (ViewContext.FormContext == null)
{
    ViewContext.FormContext = new FormContext();
}

<div class="container">
    <h4>@Translation.GetCoreTextTranslation("Loggpost")</h4>
    <div class="row">
        <div class="span12">
            <table>
                <tr>
                    <td class="span3">@Translation.GetCoreTextTranslation("Loggtext")
                    </td>
                    <td class="span9">
                        @Html.TextAreaFor(x => x.LogText)
                        @Html.ValidationMessageFor(x => x.LogText)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.GetCoreTextTranslation("Visa i ärendelogg som")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.InternNotering, new { id = "notering_intern_checkBox" })
                        @Translation.GetCoreTextTranslation("Intern notering")
                        @Html.CheckBoxFor(x => x.ExternNotering, new { id = "notering_extern_checkBox" })
                        @Translation.GetCoreTextTranslation("Extern notering")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.GetCoreTextTranslation("Avslutsorsak")
                    </td>
                    <td>
                        @Html.DropDownWithSubmenus("causes_dropdown", "FinishingCauseId", true, Model.FinishingCauses)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.GetCoreTextTranslation("Avslutsdatum")
                    </td>
                    <td>
                        @Html.EditorFor(m => m.FinishingDate, "DatePicker", new { id = "finishing_date_datepicker" })
                    </td>
                </tr>
                <tr>
                    <td>@Translation.GetCoreTextTranslation("Kopplade ärenden")
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.FinishConnectedCases)
                        @Translation.GetCoreTextTranslation("Avsluta kopplade ärenden")
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.Id)
        </div>
    </div>
</div>

<script>
    $("input:checkbox[id*='notering']").click(function () {
        $("input:checkbox[id*='notering']").not(this).attr("checked", false);
    });
</script>
