@model DH.Helpdesk.Web.Models.Problem.ProblemEditViewModel
@{
    ViewBag.Title = "";
}

<div class="container">
    <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="span12">
            <table>
                @if (Model.Problem.Id != 0)
                {
                    <tr>
                        <td class="span3">@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td class="span9">
                            @Html.DisplayTextFor(x => x.Problem.ProblemNumber)
                        </td>
                    </tr>
                }
                <tr>
                    <td class="span3">@Translation.Get("Rubrik", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td class="span9">
                        @Html.EditorFor(x => x.Problem.Name)
                        @Html.ValidationMessageFor(x => x.Problem.Name)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.Problem.Description)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Ansvarig", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.Problem.ResponsibleUserId, Model.Users, string.Empty)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Inventarie", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.EditorFor(x => x.Problem.InventoryNumber)
                        @Html.ValidationMessageFor(x => x.Problem.InventoryNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Visa", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        <div>
                            @Html.CheckBoxFor(x => x.Problem.ShowOnStartPage)
                            @Translation.Get("Visa på startsidan", Enums.TranslationSource.TextTranslation)
                        </div>
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.Problem.Id)
        </div>
    </div>
</div>
