@model dhHelpdesk_NG.Web.Models.Problem.Output.ProblemEditOutputViewModel
@{
    ViewBag.Title = "_InputProblem";
}

<div class="container">
    <h4>@Translation.Get("General", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="span12">
            <table>
                <tr>
                    <td>@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => x.Problem.ProblemNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Caption", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.Problem.Name)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Description", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.Problem.Description)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Responsible", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.Problem.ResponsibleUserId, Model.Users, string.Empty)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Inventory Number", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.Problem.InventoryNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Translation.Get("Show", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        <div>
                            @Html.CheckBoxFor(x => x.Problem.ShowOnStartPage)
                            @Translation.Get("Show On Start Page", Enums.TranslationSource.TextTranslation)
                        </div>
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.Problem.Id)
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#problem_edit_form").validate({
            ignore: "",
            rules: {
                "Problem.Name": {
                    required: true,
                    maxlength: 50
                },
                "Problem.InventoryNumber": {
                    required: true,
                    maxlength: 20
                }
            },
            messages: {
                "Problem.Name": {
                    required: "@Translation.Get("Du måste ange ett problem", Enums.TranslationSource.TextTranslation)"
                },
                "Problem.InventoryNumber": {
                    required: "@Translation.Get("Du måste ange ett inventeringsnummer", Enums.TranslationSource.TextTranslation)"
                }
            },
        });
    });

</script>
