@model dhHelpdesk_NG.Web.Models.Problem.Output.ProblemOutputViewModel
           
<div class="secnavs">
    <div class="pull-left">
        <ul class="secnav">
            <li id="menu1">@Html.ActionLink(Translation.Get("New Problem", Enums.TranslationSource.TextTranslation), "NewProblem", null, new { @class = "btn" })</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Problems", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @using (Ajax.BeginForm("Search", null, new AjaxOptions { UpdateTargetId = "problems_grid" }, new { id = "search_form" }))
                            {
                                <table>
                                    <tr>
                                        <td>@Translation.Get("Customer", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @Html.DropDownList("CustomerId", Model.Customers, new { id = "customer_dropDown" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Translation.Get("Show", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @Translation.Get("Active", Enums.TranslationSource.TextTranslation)
                                            @Html.RadioButton("Show", 1, Model.Show == Enums.Show.Active, new { id = "showActive_radioButton" })

                                            @Translation.Get("Finished", Enums.TranslationSource.TextTranslation)
                                            @Html.RadioButton("Show", 0, Model.Show == Enums.Show.Inactive, new { id = "showFinished_radioButton" })

                                            @Translation.Get("All", Enums.TranslationSource.TextTranslation)
                                            @Html.RadioButton("Show", 2, Model.Show == Enums.Show.All, new { id = "showAll_radioButton" })
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                    <div id="problems_grid">
                        @Html.Partial("ProblemGrid", Model.Problems)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(".showContentButton").click(function () {
        $(".hideThis").slideToggle("slow");
        $(this).toggleClass("showContentButtonactive"); return false;
    });

    $('#customer_dropDown').change(function () {
        $('#search_form').submit();
    });

    $('input[name="Show"]').click(function () {
        $('#search_form').submit();
    });

    $('input[id="showActive_radioButton"]')[0].checked = true;

</script>
