@model DH.Helpdesk.Web.Models.Problem.ProblemEditViewModel
@{
    //ViewBag.Title = @Translation.Get("Nytt problem", Enums.TranslationSource.TextTranslation);
    ViewBag.Title = "";
}

<div id="main">

    @using (Html.BeginForm("Add", "Problems", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.ValidationSummary(true)

        <div class="secnavs fixed">
            <div class="pull-left">
                <ul class="secnav">
                    <li>
                        @*<input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn"/>*@
                        <a href="#" onclick="DoSubmit()" class="btn">@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)</a>                        
                    </li>

                    <li id="menu2">@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "Index", null, new { @class = "btn" })</li>

                    <li id="menu4" style="display: none">@Ajax.ActionLink(Translation.Get("Ny loggpost", Enums.TranslationSource.TextTranslation), "LogForNewProblem", "Problems", new AjaxOptions { UpdateTargetId = "log_edit", OnSuccess = "updateForm()" }, new { @class = "btn" })</li>
                    <li id="menu5" style="display: none">@Ajax.ActionLink(Translation.Get("Avbryt loggpost", Enums.TranslationSource.TextTranslation), "ResetLog", "Problems", new AjaxOptions { UpdateTargetId = "log_edit" }, new { @class = "btn" })</li>
                </ul>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <ul class="nav nav-tabs" id="problem_tab">
                    <li class="active">
                        <a href="#fragment-1" onclick="$('#menu4, #menu5').hide();">@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)</a>
                    </li>
                    <li>
                        <a href="#fragment-2" onclick="$('#menu4, #menu5').show();">@Translation.Get("Logg", Enums.TranslationSource.TextTranslation)</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="fragment-1">
                        @Html.Partial("_InputProblem", Model)
                    </div>
                    <div class="tab-pane tab-pane-border" id="fragment-2">
                        <div id="log_edit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>

    $('#menu4').click(function () {
        $('#edit_form').attr('action', "@Url.Action("AddProblemWithLog", "Problems")");
    });

    $('#menu5').click(function () {
        $('#edit_form').attr('action', "@Url.Action("Add", "Problems")");
    });

    $.validator.setDefaults({
        ignore: ""
    });

    function updateForm() {
        $("form").each(function () { $.data($(this)[0], 'validator', false); });
        $.validator.unobtrusive.parse("form");
    }

    function DoSubmit() {
        $("#edit_form").submit();        
    }

</script>
