@using dhHelpdesk_NG.Web.Models.Problem.Output
@model dhHelpdesk_NG.Web.Models.Problem.Output.ProblemEditOutputViewModel
@{
    ViewBag.Title = @Translation.Get("NewProblem", Enums.TranslationSource.TextTranslation);
}

<div class="secnavs">
    <div class="pull-left">
        <ul class="secnav">
            <li id="menu1">@Html.ActionLink(Translation.Get("Save Problem", Enums.TranslationSource.TextTranslation), "Add", null, new { onclick = "$('#problem_edit_form').submit();$('#log_edit_form').submit();return false;", @class = "btn" })</li>
            <li id="menu2">@Html.ActionLink(Translation.Get("Cancel", Enums.TranslationSource.TextTranslation), "Index", null, new { @class = "btn" })</li>
            <li id="menu4" style="display: none">@Html.ActionLink(Translation.Get("Add Log Note", Enums.TranslationSource.TextTranslation), "NewLogNote", null, new { @class = "btn" })</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="problem_tab">
            <li class="active">
                <a href="#fragment-1" onclick="$('#menu4').hide();">@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li>
                <a href="#fragment-2" onclick="$('#menu4').show();">@Translation.Get("Log", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <form id="problem_edit_form" action="@Url.Action("Add")" method="POST">
                    @Html.Partial("_InputProblem", Model)
                </form>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
                <form id="log_edit_form" action="@Url.Action("Add")" method="POST">
                    @Html.Partial("_InputLog", new LogEditModel())
                </form>
            </div>
        </div>
    </div>
</div>
