@model IList<DH.Helpdesk.Web.Models.Problem.ProblemOutputModel>
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Problem", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Ansvarig", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Status", Enums.TranslationSource.TextTranslation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer" onclick="window.location.href = '@Url.Action("Problem", new RouteValueDictionary { { "id", item.Id } })'">
                <td>#@Html.DisplayFor(x => item.ProblemNumber)
                </td>
                <td>@Html.DisplayFor(x => item.Name)
                </td>
                <td>@item.Description.ForHtmlView()
                </td>
                <td>@Html.DisplayFor(x => item.ResponsibleUserName)
                </td>
                <td>
                    @if (item.State == "Active")
                    {
                        @Translation.Get("Pågående", Enums.TranslationSource.TextTranslation)
                    }
                    @if (item.State == "Finished")
                    {
                        @Translation.Get("Avslutad", Enums.TranslationSource.TextTranslation)
                    }
                    @*@Html.DisplayFor(x => item.State)*@
                </td>
            </tr>
        }
    </tbody>
</table>
