@model DH.Helpdesk.Mobile.Areas.Admin.Models.CustomerInputViewModel
@using DH.Helpdesk.Mobile.Infrastructure
<div class="contentContent">
    <div class="formContainer">
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Nytt lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="NewPassword" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="ConfirmPassword" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSavePassword" class="btn" />
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnClose" class="btn" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_customer" value="@Model.Customer.Id" />
    </div>
</div>

