@using DH.Helpdesk.Web.Infrastructure
@model IList<DH.Helpdesk.Domain.Division>
@{
    ViewBag.Title = "";
}
<div class="menuContent">
    @Html.ActionLink(Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation) + " " + Translation.Get("division", Enums.TranslationSource.TextTranslation), "new")
</div>
<div class="contentContent">
    <div id="containerAdmin">
        <div class="pane ui-layout-center">
            <div id="tabContainer">
                <ul>
                    <li><a href="#fragment-1">@Translation.Get("Division", Enums.TranslationSource.TextTranslation)</a></li>
                </ul>
                <div id="fragment-1" class="ui-tabs-panel">
                    <table id="tbldivision">
                        <thead>
                            <tr>
                                <th>
                                    @Translation.Get("Division", Enums.TranslationSource.TextTranslation)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("edit", "division", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        //tableOptions.sortable = false;
        //tableOptions.pager = false;
        //$("#tbldivision").fixheadertable(tableOptions);
        //$("#containerAdmin").layout();
    });

</script>
