@using System.Web.Optimization
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta content="html/text; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    @Styles.Render("~/Content/css/login")
    @Styles.Render("~/img-profile/css")
    @Scripts.Render("~/bundles/common/login")
    <title>@ViewBag.Title</title>
</head>
<body class="login" onload="catchTime()">
    <div class="form-signin">
        @using (Html.BeginForm("Login", "Login", null, FormMethod.Post, new { id = "frmLogin", name = "frmLogin" }))
        {
            @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
            <div class="form-signin-heading">&nbsp;</div>
            if (TempData["LoginFailed"] != null)
            {
                <div class="alert alert-error">
                    @TempData["LoginFailed"]; 
                </div>
            }            
            

            @(Translation.Get("Username") + ":")<br />
            <input type="text" maxlength="50" name="txtUid" id="txtUid" class="input-block-level" placeholder="Username" />
            <br />
            @(Translation.Get("Password") + ":")<br />
            <input type="password" maxlength="50" name="txtPwd" id="txtPwd" class="input-block-level" placeholder="Password" />
            <!--
                @Translation.Get("Logga in med"):<br />
                <select name="checkInWith" id="checkInWith" class="input-block-level">
                    <option value="0">@Translation.Get("Lokalt konto")</option>
                    <option value="1">@Translation.Get("Nätverkskonto")</option>
                </select>
                -->
            <br />
            <input type="hidden" id="timeZoneOffsetInJan1" name="timeZoneOffsetInJan1"/>
            <input type="hidden" id="timeZoneOffsetInJul1" name="timeZoneOffsetInJul1"/>
            <input type="submit" value="Login" name="btnLogin" id="btnLogin" class="btn btn-large btn-success" style="width:100%;" />            
        }
    </div>
    <div class="signin-bottom">
        <p><img src="@Url.Content("~/Content/img/dhhelpdesk.png")" /></p>
        <p>DH Helpdesk is a case handling system from DH Solutions</p>
        <p>@Translation.Get("version")&nbsp;@ApplicationFacade.Version</p>
        <a href="http://www.dhsolutions.se" target="_blank">www.dhsolutions.se</a>
    </div>
</body>

<script type="text/javascript">
    function catchTime() {
        var Jan1 = new Date(2015, 0, 1);
        var Jul1 = new Date(2015, 6, 1);
        document.getElementById('timeZoneOffsetInJan1').value = Jan1.getTimezoneOffset();
        document.getElementById('timeZoneOffsetInJul1').value = Jul1.getTimezoneOffset();
        $("input:text:visible:first").focus();
    };    

</script>
</html>