@using System.Web.Optimization
@using DH.Helpdesk.Web.Models.Shared
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta content="html/text; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    @Styles.Render("~/Content/css/login")
    @Styles.Render("~/img-profile/css")
    @Scripts.Render("~/bundles/common/login")
    <script src="https://www.google.com/recaptcha/api.js?render=6Lf-hQIqAAAAABec6utu1g7Aw9eBNPOE0w7yA2zF"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="login" onload="catchTime()">
    <div class="form-signin">
        @using (Html.BeginForm("Login", "Login", null, FormMethod.Post, new { id = "frmLogin", name = "frmLogin" }))
        {
            @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
            <div class="form-signin-heading">&nbsp;</div>
            if (TempData["LoginFailed"] != null)
            {
                <div class="alert alert-error">
                    @TempData["LoginFailed"]
                </div>
            }
            @(Translation.Get("Username") + ":")<br />
            <input type="text" maxlength="50" name="txtUid" id="txtUid" class="input-block-level" placeholder="Username" value='@(ViewBag.UserId != null ? ViewBag.UserId : "")' />
            <br />
            @(Translation.Get("Password") + ":")<br />
            <input type="password" maxlength="50" name="txtPwd" id="txtPwd" class="input-block-level" placeholder="Password" />

            <br />
            <input type="hidden" id="timeZoneOffsetInJan1" name="timeZoneOffsetInJan1" />
            <input type="hidden" id="timeZoneOffsetInJul1" name="timeZoneOffsetInJul1" />
            <input type="submit" value="Login" name="btnLogin" id="btnLogin" class="btn btn-large btn-success" style="width:100%;" />
        }
        @if (ViewBag.ShowMsButton != null)
        {
            if (ViewBag.ShowMsButton)
            {
                using (Html.BeginForm("SignIn", "Login", null, FormMethod.Post, new { id = "frmLoginMS", name = "frmLoginMS" }))
                {
                    @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
                    // Changed image
                    <div class="text-center">
                        <input type="image" value="Login with Microsoft" name="btnLoginMS" id="btnLoginMS" src="~/Content/img/ms-symbollockup_signin_light-en.svg" />
                    </div>
                }
            }

        }

    </div>
    <div class="signin-bottom">
        <p><img src="@Url.Content("~/Content/img/dhhelpdesk.png")" /></p>
        <p>DH Helpdesk is a case handling system from DH Solutions</p>
        <p>@Translation.Get("version")&nbsp;@ApplicationFacade.Version</p>
        <a href="http://www.dhsolutions.se" target="_blank">www.dhsolutions.se</a>
    </div>

    @if (ViewBag.ChangePasswordModel != null)
    {
        @Html.Partial("_ChangePassword", (ChangePasswordModel)ViewBag.ChangePasswordModel)
    }
    <script>
        $(document).ready(function () {
            $('#frmLogin').submit(function (e) {
                e.preventDefault();
                console.log("onClick");
                grecaptcha.ready(function () {
                    grecaptcha.execute('6Lf-hQIqAAAAABec6utu1g7Aw9eBNPOE0w7yA2zF', { action: 'submit' }).then(function (token) {
                        console.log(token);
                        // Add your logic to submit to your backend server here.
                        // For example, add the token to the form and submit it.
                        $('#frmLogin').append('<input type="hidden" name="reCaptchaToken" id="reCaptchaToken" value="' + token + '">');
                        $('#frmLogin')[0].submit();
                    });
                });
            });
        });
    </script>
    <script type="text/javascript">

        $(function () {
            if (window.ChangePasswordDialog) {
                window.ChangePasswordDialog.SetSuccessCallback(window.onPasswordChanged);
                window.ChangePasswordDialog.Show();
            }
        });

        function onPasswordChanged(pwd) {
            $('#txtPwd').val(pwd);
            $('#frmLogin').submit();
        }

        function catchTime() {
            var now = new Date();
            var Jan1 = new Date(now.getFullYear(), 0, 1);
            var Jul1 = new Date(now.getFullYear(), 6, 1);
            document.getElementById('timeZoneOffsetInJan1').value = Jan1.getTimezoneOffset();
            document.getElementById('timeZoneOffsetInJul1').value = Jul1.getTimezoneOffset();
            $("input:text:visible:first").focus();
        };

        $(function () {
            if (window.ChangePasswordDialog) {
            window.ChangePasswordDialog.SetSuccessCallback(window.onPasswordChanged);
        window.ChangePasswordDialog.Show();
            }
        });

        function onPasswordChanged(pwd) {
            $('#txtPwd').val(pwd);
        $('#frmLogin').submit();
        }
    </script>
</body>
</html>
