@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="payment">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Advance Payment / Loan Details")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PaymentType")</td>
                    <td>
                        @Model.Element("PaymentType")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PaymentAmount")</td>
                    <td>
                        @Model.Element("PaymentAmount")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PaymentCurrency")</td>
                    <td>
                        @Model.Element("PaymentCurrency")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PaymentDate")</td>
                    <td>
                        @Model.Element("PaymentDate")
                        <div id="notice_PaymentDate" style="display:none;" class="notice">
                            @Model.Translate("The date you've entered is in the past. Are you sure you want to continue?")
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PaymentMethod")</td>
                    <td>
                        @Model.Element("PaymentMethod")
                    </td>
                </tr>
             

            </tbody>
        </table>
    </div>

    </div>

<script>
    
    var noticePaymentDate = $('#notice_PaymentDate');
    var datePaymentDate = $('#date_PaymentDate');
    if (noticePaymentDate.length > 0 && noticePaymentDate.length > 0) {
        var startDate = new Date();
        startDate.setHours(0, 0, 0, 0);

        datePaymentDate.datepicker()
            .on('changeDate', function (e) {
                
                if (e.date.valueOf() < startDate.valueOf()) {
                    noticePaymentDate.show();
                } else {
                    noticePaymentDate.hide();
                }
            });
    }


    $('#PaymentDate').change(function () {
        var startDate = $('#PaymentDate').val();
        var format = APIGlobal.DateTime.parseFormat('dd.mm.yyyy');
        var dstartDate = APIGlobal.DateTime.parseDate(startDate, format);
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        noticePaymentDate.hide();
        
        if (dstartDate.valueOf() < now.valueOf())
            noticePaymentDate.show();

        }
    );

      
    
</script>