@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Common.Extensions.DateTime
@model DH.Helpdesk.Web.Models.Faq.Output.FAQFileModel     

@if (Model != null && Model.FAQFiles != null && Model.FAQFiles.Any())
{    
    <table id="faq_files_table" class="table table-striped" >
        <thead>
            <tr>
                <th>
                    @Translation.Get("Filnamn")
                </th>
               
                <th></th>
            </tr>    
        </thead>
        <tbody>            
        @{
            var myFiles = ViewData["FN"];
            //.ToString().Split('|').ToList()
            var i = 0;
            foreach (var file in Model.FAQFiles) 
            {
                <tr>
                    <td>
                        @if (Model.LanguageId == LanguageIds.Swedish)
                        {
                            <a href="@Url.Action("DownloadFile", new RouteValueDictionary {{"faqId", this.Model.FAQId}, {"fileName", file}})">@file</a>
                        }
                        else
                        {
                            <a>@file</a>
                        }
                    </td>

                    <td>
                        @if (Model.LanguageId == LanguageIds.Swedish)
                        {
                            <a id="@string.Format("delete_faqfile_button_{0}", i)" class="btn bt-small read-only" title="@Translation.GetCoreTextTranslation("Ta bort")"><i class="icon-remove"></i></a>
                        }
                        else
                        {
                            <a class="btn bt-small" disabled="true" title="@Translation.GetCoreTextTranslation("Ta bort")"><i class="icon-remove"></i></a>
                        }
                    </td>
                                          
                </tr>
                
                i++;
            }
        }
        </tbody>
    </table> 
}    
