@using System.Globalization
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Faq.Output.EditingCategoryModel

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.GetCoreTextTranslation("FAQ Kategori")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                @if (!Model.IsNew)
                                {
                                    <tr>
                                        <td class="span3">
                                            @Translation.GetCoreTextTranslation("Språk")
                                        </td>
                                        <td class="span9">
                                            @Html.DropDownListFor(model => model.LanguageId, Model.Languages, new {id = "languageList"})
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td class="span3">
                                        @Translation.GetCoreTextTranslation("Namn") <span class="mandatorystar">*</span>
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(m => m.Name)
                                        @Html.ValidationMessageFor(m => m.Name)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#languageList").change(function() {
            var selectedItem = $(this).val();
            window.location.href = '@Url.Action("EditCategory", "Faq")?id=' + @Model.Id.ToString(CultureInfo.InvariantCulture) + "&languageId=" + selectedItem;
        });
    });
</script>