@using DH.Helpdesk.Web
@using DH.Helpdesk.Web.Models.Faq.Output

@model EditFaqModel


@Scripts.Render("~/bundles/dhhelpdesk")
@Scripts.Render(BundleConfig.ScriptNames.ConfirmationDialog)
<script>
    $.validator.setDefaults({ ignore: ':hidden:not(textarea)' });
    $(document).ready(function () {
        FAQInitForm();
    });

    window.parameters = (window.parameters == null ? {} : window.parameters);
    window.parameters.fileUploadWhiteList = [];
    window.parameters.invalidFileExtensionText = '@Html.Raw(Translation.GetForJS("har inte en giltig filändelse"))';

    @if (Model.FileUploadWhiteList != null)
    {
        foreach(var extension in Model.FileUploadWhiteList)
        {
            @:window.parameters.fileUploadWhiteList.push('@extension');
        }
    }
    else
    {
        @:window.parameters.fileUploadWhiteList = null;
    }
</script>


@{
    //ViewBag.Title = Translation.GetCoreTextTranslation("Edit FAQ");
    ViewBag.Title = "";
}

<script type="text/javascript">
    $(function () {
        $('#delete_button').click(function (e) {
            e.stopImmediatePropagation();
            var dlg = new ConfirmationDialog();
            var opts = {
                dlgText: '@Html.Raw(Translation.GetForJS("Är du säker på att du vill ta bort aktuell FAQ"))',
                btnYesText: '@Translation.GetForJS("Ja")',
                btnNoText: '@Translation.GetForJS("Nej")',
                onClick: function (button) {
                    if (button === ConfirmationDialog.YES) {
                        $.post('@Url.Action("DeleteFaq")', { id: '@Model.Id' }, function () {
                            window.location.href = '@Url.Action("Index")';
                        });
                    } else {
                        dlg.hide();
                    }
                }
            }
            dlg.init(opts);
            dlg.show();
        });
    });
</script>

@Html.Partial("_Plupload")
@using (this.Html.BeginForm("EditFaq", "Faq", FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                @if (Model.UserHasFaqAdminPermission)
                {
                <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Spara"), "edit", null, new { onclick = "tinymce.triggerSave();$('#target').submit();return false;", @class = "btn" })</li>
                    <li><a id="delete_button" class="btn">@Translation.GetCoreTextTranslation("Ta bort")</a></li>
                }
                <li><a href="@Url.Action("Index")?showDetails=@Model.ShowDetails.ToString()" class="btn">@Translation.GetCoreTextTranslation("Avbryt")</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("FaqEditing", new EditingFaqModel(this.Model.Id.ToString(), this.Model.Category, this.Model.Question, this.Model.Answer, this.Model.InternalAnswer, this.Model.Files, this.Model.UrlOne, this.Model.UrlTwo, this.Model.WorkingGroup, this.Model.InformationIsAvailableForNotifiers, this.Model.ShowOnStartPage, Model.Languages, Model.LanguageId, Model.ShowDetails))
}