@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Models.Faq.Output

@model DH.Helpdesk.Web.Models.Faq.Output.EditCategoryModel

@{
    //this.ViewBag.Title = Translation.Get("Edit FAQ Category", Enums.TranslationSource.TextTranslation);
    ViewBag.Title = "";
}

<script type="text/javascript">
    $(function() {
        $('#delete_button').click(function() {
            $.post('@Url.Action("DeleteCategory")', { id: '@Model.Id' }, function() { window.location.href = '@Url.Action("Index")'; });
        });
    });
</script>

@using (this.Html.BeginForm("EditCategory", "Faq", FormMethod.Post, new { id = "target" }))
{
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                @if (Model.UserHasFaqAdminPermission)
                {
                    <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Spara"), "edit", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                    @*<li><input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn" /></li>*@
             
                    if (Model.HasFaqs || Model.HasSubcategories)
                    {
                        <li>
                                @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "#", new { id = Model.Id },
                                new { @class = "btn deleteDeniedDialog", deleteDialogText = Translation.GetCoreTextTranslation("Det går inte att ta bort en kategori som är kopplad till en eller flera FAQ"), deleteDialogButtonText = @Translation.GetCoreTextTranslation("Avbryt") })
                        </li>
                    }
                    else
                    {
                        <li>
                            <a id="delete_button" class="btn">@Translation.GetCoreTextTranslation("Ta bort")</a>
                        </li>
                    }
                }                
                <li><a href="@Url.Action("Index")" class="btn">@Translation.GetCoreTextTranslation("Avbryt")</a></li>
                
                @if (Model.UserHasFaqAdminPermission)
                {
                    <li><a href="@Url.Action("NewCategory", new RouteValueDictionary { { "parentCategoryId", this.Model.Id } })" class="btn">@Translation.GetCoreTextTranslation("Ny kategori")</a></li>
                }
            </ul>
        </div>
    </div>
    @Html.Partial("CategoryEditing", new EditingCategoryModel(Model.Id, Model.Name, Model.Languages))
}