@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Faq.Output.EditingFaqModel
           


<input type="hidden" name="Id" value="@this.Model.Id" />
 @Html.Hidden("CurLanguageId", SessionFacade.CurrentLanguageId)

<div class="content">
    <div class="container">
               <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("FAQ", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                     <input type="hidden" id ="FAQKey" name="FAQKey" value="@this.Model.Id" />
                     <input type="hidden" id = "FAQFileNames" name="FAQFileNames" value="@ViewData["FN"]" />

                    <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Kategori", Enums.TranslationSource.TextTranslation) <span class="mandatorystar">*</span>
                                    </td>
                                    <td class="span9" style="">                                        
                                        @this.Html.DropDownWithSubmenus("category_dropdown", "CategoryId", false, Model.Category)
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Fråga", Enums.TranslationSource.TextTranslation)
                                        <span class="mandatorystar">*</span>
                                    </td>
                                    <td>
                                        @this.Html.TextBoxFor(m => m.Question)
                                        @this.Html.ValidationMessageFor(m => m.Question)
                                    </td>
                                </tr>                                
                                <tr>
                                    <td>
                                        @Translation.Get("Svar", Enums.TranslationSource.TextTranslation)
                                        <span class="mandatorystar">*</span>
                                    </td>
                                    <td>
                                        @this.Html.TextAreaFor(m => m.Answer, new { style = "height: 250px;" })
                                        @this.Html.ValidationMessageFor(m => m.Answer)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Internt svar", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @this.Html.TextAreaFor(m => m.InternalAnswer, new { style = "height: 250px;" })
                                        @this.Html.ValidationMessageFor(m => m.InternalAnswer)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Bifogad fil", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @*<table id="files_table">
                                            <tbody>
                                                @if (!this.Model.Files.Any())
                                                {
                                                    <div id="no_uploaded_files_label">
                                                      
                                                    </div>
                                                }
                                                else
                                                {
                                                    for (var i = 0; i < this.Model.Files.Count; i++)
                                                    {
                                                        var file = this.Model.Files[i];

                                                        <tr>
                                                            <td>
                                                                <a href="@this.Url.Action("DownloadFile", new RouteValueDictionary { { "faqId", this.Model.Id }, { "fileName", file } })">@file</a>
                                                            </td>
                                                            <td>
                                                                <a id="@string.Format("delete_file_button_{0}", i)" class="btn">@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>*@
    
                                        @*<a href="#upload_files_popup" role="button" class="btn" data-toggle="modal" id ="b1">@Translation.Get("Upload", Enums.TranslationSource.TextTranslation)</a>

                                        <div id="upload_files_popup" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3>&nbsp;</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div id="file_uploader"></div>                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="refreshFileList()">@Translation.Get("Stäng", Enums.TranslationSource.TextTranslation)</button>
                                            </div>
                                        </div>
                                        *@

                                        <a href="#upload_FAQfiles_popup" role="button" class="btn" data-toggle="modal">@Translation.Get("Lägg till")</a>
                                                
                                        <div id="divFAQFiles">
                                            @Html.Partial("_FAQFiles", Model.FAQLFile)
                                        </div>
                                            
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("URL", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @this.Html.TextBoxFor(m => m.UrlOne)
                                        @this.Html.ValidationMessageFor(m => m.UrlOne)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("URL", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @this.Html.TextBoxFor(m => m.UrlTwo)
                                        @this.Html.ValidationMessageFor(m => m.UrlTwo)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <h4>@Translation.Get("Säkerhet", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @this.Html.DropDown("working_groups_dropdown", "WorkingGroupId", true, this.Model.WorkingGroup)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h4>@Translation.Get("Visa", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Uppgifterna är tillgängliga för anmälare", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @this.Html.CheckBox("InformationIsAvailableForNotifiers", this.Model.InformationIsAvailableForNotifiers, new { @class = "switchcheckbox" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Visa på startsidan", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @this.Html.CheckBox("ShowOnStartPage", this.Model.ShowOnStartPage, new { @class = "switchcheckbox" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
