@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Models.Faq.Output

@model DH.Helpdesk.Web.Models.Faq.Output.NewCategoryModel

@{
    //this.ViewBag.Title = @Translation.Get("FAQ Kategori", Enums.TranslationSource.TextTranslation);
    ViewBag.Title = "";
}

@using (this.Html.BeginForm("NewCategory", "Faq", FormMethod.Post, new { id = "target" }))
{
    <input type="hidden" name="ParentCategoryId" value="@Model.ParentCategoryId" />
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                @if (Model.UserHasFaqAdminPermission)
                {
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "new", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                    @*<li><input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn"/></li>*@                    
                }
                <li><a href="@Url.Action("Index")" class="btn">@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("CategoryEditing", new EditingCategoryModel(0, string.Empty, null))
}