@using System.Web.Optimization
@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Models.Faq.Output

@model DH.Helpdesk.Web.Models.Faq.Output.NewFaqModel

  

@Scripts.Render("~/bundles/dhhelpdesk")
<script>
    $.validator.setDefaults({ ignore: ':hidden:not(textarea)' });
    $(document).ready(function () {
        FAQInitForm();
    });

    window.parameters = (window.parameters == null ? {} : window.parameters);
    window.parameters.fileUploadWhiteList = [];
    window.parameters.invalidFileExtensionText = '@Html.Raw(Translation.GetForJS("har inte en giltig filändelse"))';

    @if (Model.FileUploadWhiteList != null)
    {
        foreach(var extension in Model.FileUploadWhiteList)
        {
            @:window.parameters.fileUploadWhiteList.push('@extension');
        }
    }
    else
    {
        @:window.parameters.fileUploadWhiteList = null;
    }

</script>

@Html.Partial("_Plupload") 


@{
    //this.ViewBag.Title = Translation.GetCoreTextTranslation("Ny FAQ");
    ViewBag.Title = "";
}

@using (this.Html.BeginForm("NewFaq", "Faq", FormMethod.Post, new { id = "target" }))

{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                @if (Model.UserHasFaqAdminPermission)
                {
                    <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Spara"), "new", null, new { onclick = "tinymce.triggerSave();$('#target').submit();return false;", @class = "btn" })</li>
                    <!-- <li><input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn" /></li>-->                    
                }
                <li><a href="@Url.Action("Index")" class="btn">@Translation.GetCoreTextTranslation("Avbryt")</a></li>
            </ul>
        </div>
    </div>
    @Html.Partial("FaqEditing", new EditingFaqModel(this.Model.TemporaryId, this.Model.Categories, string.Empty, string.Empty, string.Empty, new List<string>(0), string.Empty, string.Empty, this.Model.WorkingGroups, false, false, null, LanguageIds.Swedish))
}

@*<script type="text/javascript" src="~/Content/js/dhHelpdesk.js">*@


