@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Licenses.Models.Products.ProductEditModel

@section Actions
{
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Spara"), null, null, new { id = "btnSave", @class = "btn" })
        </li>
        @if (!Model.IsNew())
        {
            <li>
                @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Products", new { id = Model.Id },
                    new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuellt program/applikation") + "?" })
            </li>                
        }
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Products", null, new { @class = "btn" })
        </li>
    </ul>    
}

@{    
    var requiredMessage = " " + Translation.Get("måste anges");
}

@section Content {
    @using (Html.BeginForm("Product", "Products", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.HiddenFor(m => m.Id, Model.Id)
        @Html.HiddenFor(m => m.CustomerId, Model.CustomerId)        
        <h4>@Translation.Get("Allmänt")</h4>
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Produkt")
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.ProductName)
                    @Html.ValidationMessageFor(m => m.ProductName, Translation.Get("Produkt") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span3">
                    @Translation.Get("Tillverkare")
                </td>
                <td class="span9">
                    @Html.DropDownListFor(m => m.ManufacturerId, Model.Manufacturers)
                    @Html.ValidationMessageFor(m => m.ManufacturerId, Translation.Get("Tillverkare") + requiredMessage)
                </td>
            </tr>
            <tr>
                <td class="span12" colspan="4">
                    <h4>@Translation.Get("Applikationer som ingår i produkten")</h4>                
                </td>
            </tr>
            <tr>
                <td class="span3">@Translation.Get("Applikationer")</td>
                <td>
                    <table>                        
                        <tbody>
                            <tr>
                                <td class="span4">
                                    @Translation.Get("Tillgängliga")
                                </td>
                                <td class="span4"></td>
                                <td class="span4">
                                    @Translation.Get("Valda")
                                </td>
                            </tr>                                    
                            <tr>
                                <td class="span4">
                                    @Html.ListBox("AvailableApplications", Model.AvailableApplications)                                
                                </td>
                                <td class="span4">
                                    <div class="center">
                                        <input type="button" value="&gt;" id="btnAddApplication" class="btn" />
                                        <input type="button" value="&lt;" id="btnRemoveApplication" class="btn" />   
                                    </div>                             
                                </td>
                                <td class="span4">
                                    @Html.ListBox("SelectedApplications", Model.SelectedApplications)                                
                                </td>                                                            
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>        
        </table>
    } 
    <script type="text/javascript">
        $(function () {
            var addButton = $("#btnAddApplication");
            var removeButton = $("#btnRemoveApplication");
            var availableList = $("#AvailableApplications");
            var selectedList = $("#SelectedApplications");

            addButton.click(function () {
                availableList.find("option:selected").remove().appendTo(selectedList);
                availableList.get(0).selectedIndex = -1;
                selectedList.get(0).selectedIndex = -1;
                return false;
            });

            removeButton.click(function () {
                selectedList.find("option:selected").remove().appendTo(availableList);
                availableList.get(0).selectedIndex = -1;
                return false;
            });

            $("#btnSave").click(function () {
                selectedList.find("option").attr("selected", "selected");
                $("#edit_form").submit();
                return false;
            });
        });
    </script>          
}

