@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Licenses.Models.Products.ProductEditModel

@section Actions
{
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Spara"), null, null, new { id = "btnSave", @class = "btn" })
        </li>
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Products", null, new { @class = "btn" })
        </li>
        @if (!Model.IsNew())
        {
            <li>
                @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Products", new { id = Model.Id }, 
                    new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuellt program/applikation") })
            </li>                
        }
    </ul>    
}

@section Content {
    @using (Html.BeginForm("Product", "Products", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.HiddenFor(m => m.Id, Model.Id)
        @Html.HiddenFor(m => m.CustomerId, Model.CustomerId)        
        <h4>@Translation.Get("Allmänt")</h4>
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Produkt")
                </td>
                <td class="span9">
                    @Html.TextBoxFor(m => m.ProductName)
                </td>
            </tr>
        </table>
        <h4>@Translation.Get("Applikationer som ingår i produkten")</h4>
        <table class="tableform">
            <tr>
                <td class="span9">
                    @Html.EditorFor(m => m.Applications)
                </td>
            </tr>
        </table>                
    }    
}

