@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.ComputerModuleEditModel
@{
    Layout = "~/Areas/Inventory/Views/Shared/_EditLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        @if (Model.UserHasInventoryAdminPermission)
        {
            <li id="menu1">
                <input type="submit" value="@Translation.Get("Spara")" class="btn" onclick=" $('#computerModule_edit_form').submit(); "/>
            </li>
            <li id="menu3">@Html.ActionLink(Translation.Get("Ta bort"), "Delete", new { id = Model.Id }, new { @class = "btn" })</li>
        }
        <li id="menu2">@Html.ActionLink(Translation.Get("Avbryt"), "Index", null, new { @class = "btn" })</li>
    </ul>
}

@section Title
{
    @Translation.Get("Datortyp")
}

@section Content
{
    <h4>@Translation.Get("Allmänt")</h4>
    
    <div class="row">
        <div class="span12">
            @using (Html.BeginForm("Edit", "ComputerType", FormMethod.Post, new { id = "computerModule_edit_form" }))
            {
                @Html.Partial("_Input", Model)
            }
        </div>
    </div>
}