@{
    ViewBag.Title = "";
}
<div class="content nonemenu">
    <div class="container">
        <ul class="nav nav-tabs">
            <li id="tab_1" class="active">
                <a href="#fragment-1">@Translation.Get("About DH Helpdesk", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="fragment-1" class="tab-pane tab-pane-border active">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span2">
                                    <p>
                                        <img src="@Url.Content("~/Content/img/ico-dhhelpdesk.png")" class="bg-blue" />
                                    </p>
                                </div>
                                <div class="span9">
                                    <h5>What is DH Helpdesk?</h5>
                                    <p>
                                        DH Helpdesk is a flexible and easy-to-use case management system. 
                                    </p>
                                    <p>
                                        Version @ApplicationFacade.Version
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <p>
                                        <img src="@Url.Content("~/Content/img/ico-customerservice.png")" class="bg-green" />
                                    </p>
                                </div>
                                <div class="span9">
                                    <h5>Can we make it better?</h5>
                                    <p>
                                        For support, please contact your local system administrator or IT-helpdesk.<br />
                                        We welcome your feedback! Send an e-mail with your recommendations to us at <a href="mailto:sales@dhsolutions.se">sales@dhsolutions.se</a>

                                    </p>
                                </div>
                            </div>
                            <!--
                    <div class="row">
                        <div class="span2">
                            <p>
                                <img src="@Url.Content("~/Content/img/ico-license.png")" class="bg-purple" />
                            </p>
                        </div>
                        <div class="span9">
                            <h5>Licenses</h5>
                            <p>Do you have questions regarding your licenses? Do you want add more system users?</p>
                            <p>Please contact DH Solutions.</p>
                        </div>
                    </div>
                    -->
                            <div class="row">
                                <div class="span2">
                                    <p>
                                        <img src="@Url.Content("~/Content/img/ico-dhsolutions.png")" class="bg-orange" />
                                    </p>
                                </div>
                                <div class="span9">
                                    <h5>Want to know more?</h5>
                                    <p>
                                        DH Solutions is a Swedish IT-company with a passion for developing systems that are easy to use and makes a difference to our customer; reducing complexity and improving their customer relationships.<br />
                                        For more information about our products and services go to <a href="http://www.dhsolutions.se" target="_blank">www.dhsolutions.se</a>
                                    </p>
                                    <p>DH Helpdesk is engineered and developed by DH Solutions AB. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

