@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.ContractCategoryInputViewModel
@if (TempData["Error"] != null)
{
    <div class="alert alert-error">@Translation.Get("Avtalskategori", Enums.TranslationSource.TextTranslation)
        @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
    </div>    
}
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Avtalskategori", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Avtalskategori", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.ContractCategory.Name, new { maxlength = "50" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Skapa ärende", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Användar ID", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.ContractCategory.Case_UserId, new { maxlength = "40" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Ärendetyp", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.ContractCategory.CaseType_Id, Model.CaseType, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Understatus", Enums.TranslationSource.TextTranslation), @Translation.Get("För uppföljning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.ContractCategory.StateSecondary_Id1, Model.StateSecondary, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Understatus", Enums.TranslationSource.TextTranslation), @Translation.Get("För uppsägning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.ContractCategory.StateSecondary_Id2, Model.StateSecondary, "")
                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.ContractCategory.Customer_Id)
                            @Html.HiddenFor(model => model.ContractCategory.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

