@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using System.Globalization;
@using ECT.Model.Entities;
@{
    Layout = null;
    Model.Language = "en";

    
}
<!DOCTYPE html>
<html>
<body>
    <div>
      @* <table style="@IrelandPdfPage.StyleValue() width: 100%;" border="0">
            <tr style="text-align: right;">
                <td>@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:d MMMMMM yyyy}", DateTime.Now)</td>
            </tr>
        </table>*@

         <p style="@IrelandPdfPage.StyleValue()">
           @*  <strong>Private & Confidential</strong><br />
             @Html.Partial("_HeaderAddress", Model)*@

             Dear @Model.GetDocumentAnswer("FirstName",true),<br /><br />         

                     We are writing to confirm that you will no longer receive a @Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr)@if(Model.GetDocumentAnswer("AllowancesType" + Model.MultiNr).Contains("Power Stacker")){ <text> allowance</text>}.
                    <br />
                    <br />
                    This allowance will cease from @Model.GetDocumentAnswer("AllowancesValidFrom" + Model.MultiNr, true).
                    <br />
                    <br />
            
                All other Terms and Conditions remain the same. IKEA reserves the right to vary terms and conditions of employment subject to consultation and reasonable notice.

        </p>
        <endpage />
    </div>
</body>
</html>