@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.ChangePriorityIndexViewModel
@{
    ViewBag.Title = "";
}
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation) + " " + Translation.Get("Prioritet", Enums.TranslationSource.TextTranslation), "new", new { customerId = Model.Customer.Id }, new { @class = "btn" })</li>
        </ul>
    </div>
    @Html.Partial("_MasterDataPanel", Model.Customer)
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Prioritet", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <table class="table table-striped table-bordered table-hover" id="tblchangepriority">
                    <thead>
                        <tr>
                            <th>
                                @Translation.Get("Prioritet", Enums.TranslationSource.TextTranslation)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ChangePriorities)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit", "changepriority", new { area = "admin", id = item.Id, customerId = item.Customer_Id })">@Html.DisplayFor(modelItem => item.ChangePriority)</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
