@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel 
@using DH.Helpdesk.Web.Infrastructure.Extensions

@if (Model != null && Model.CaseHistories != null)
{
    var userTimeZone = TimeZoneInfo.FindSystemTimeZoneById(SessionFacade.CurrentUser.TimeZoneId);
    <div class="tab-pane tab-pane-border" id="historytab">
        <table class="table table-striped table-bordered table-hover">
            @if (Model.CaseHistories.Any())
            {            
                <thead>
                    <tr>
                        <th>@Translation.Get("Datum")</th>
                        <th>@Translation.Get("Registrerad av")</th>
                        <th>@Translation.Get("Historik")</th>
                        <th>@Translation.Get("E-post")</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    var histories = Model.CaseHistories.OrderByDescending(x => x.Id).ToArray();
                 }
                    @for(var i = 0; i < histories.Length; i++)
                    {
                        var current = histories[i];
                        var previous = i < histories.Length - 1 ? histories[i + 1] : null;
                        <tr>
                            <td style="width:15%">
                                @{
                                    current.CreatedDate = TimeZoneInfo.ConvertTimeFromUtc(current.CreatedDate.ToUniversalTime(), userTimeZone);
                                }
                                @Html.DisplayFor(m => current.CreatedDate, "DateAndTime") 
                            </td>
                            <td style="width:15%">
                                @current.CreatedByUser
                            </td>
                            <td style="width:45%">
                                <table class="tableintable">
                                    @current.GetCaseHistoryInfo(previous, Model.case_.Customer_Id, Model.DepartmentFilterFormat, Model.caseFieldSettings, Model.OutFormatter )
                                </table>
                            </td>
                            <td style="width:25%">
                                @if (current.Emaillogs != null) 
                                {
                                    <div>
                                        @foreach (var l in current.Emaillogs)
                                        {    
                                            <p>
                                                @l.EmailAddress (@l.MailId.GetMailTemplateName(Model.MailTemplates))
                                            </p>
                                        }
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
}