@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel 
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions

<div class="secnavs">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                <div class="checkbox">
                    <input type="checkbox" name="CaseLog.InformCustomer" @(Model.CaseLog.InformCustomer == 1 ? "checked=checked" : "") value="1"/>
                    <input type="hidden" name="CaseLog.InformCustomer" value="0" />
                    <span class="lbl">@Translation.Get("Informera anmälaren om åtgärden", Enums.TranslationSource.TextTranslation) </span>
                </div>                                    
            </li>
            <li class="secspace"></li>
            <li>
                <div class="checkbox">
                    <input name="form-field-checkbox" type="checkbox" />
                    <span class="lbl">@Translation.Get("Hög prioritet", Enums.TranslationSource.TextTranslation) </span>
                </div> 
            </li>
            @if (Model.CaseLog.Id == 0) 
            {                
            <li class="secspace"></li>
            <li>
                @Translation.Get("Standardtext", Enums.TranslationSource.TextTranslation)&nbsp;
                <select id="lstStandarTexts">
                    <option>&nbsp;</option>
                    @if (Model.standardTexts != null)    
                    {
                        foreach (var e in Model.standardTexts.Where(e => e.IsActive == 1))
                        {
                            <option value="@e.Id">@e.Name</option>
                        }
                    }      
                </select>
            </li>
            }    
        </ul>
    </div>
</div>
<h4>
@if (Model.case_.CaseNumber > 0)
{
    @Translation.Get("Ärende", Enums.TranslationSource.TextTranslation) <span>@Model.case_.CaseNumber - </span>
}
    @if (Model.CaseLog.Id == 0) 
    {
        @Translation.Get("Ny loggpost", Enums.TranslationSource.TextTranslation)
    }            
    else
    {
        @Translation.Get("Loggpost", Enums.TranslationSource.TextTranslation)
    }        
</h4>
<div class="row">
    <div class="span12">
        <table class="tableform">
            <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.tblLog_Text_External.ToString())">                                        
                <td class="span3">
                    @Translation.Get(GlobalEnums.TranslationCaseFields.tblLog_Text_External.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) 
                    @if (Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.tblLog_Text_External.ToString()).Required == 1)
                    {
                        <span class="mandatorystar">*</span>
                    }
                </td>
                <td class="span3">
                    @Html.TextAreaFor(model => model.CaseLog.TextExternal)
                </td>
                <td>
                    @Html.HiddenFor(model => model.CaseLog.RegUser)  
                    @Html.HiddenFor(model => model.CaseLog.LogType)  
                    @Html.HiddenFor(model => model.CaseLog.UserId)  
                    @Html.HiddenFor(model => model.CaseLog.Id)  
                    @Html.HiddenFor(model => model.CaseLog.CaseId)  
                    @Html.HiddenFor(model => model.CaseLog.LogGuid)  
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get(GlobalEnums.TranslationCaseFields.tblLog_Text_Internal.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) 
                    @if (Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.tblLog_Text_Internal.ToString()).Required == 1)
                    {
                        <span class="mandatorystar">*</span>
                    }
                </td>
                <td>
                    @Html.TextAreaFor(model => model.CaseLog.TextInternal)
                </td>
                <td>
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.CaseLog.SendMailAboutInternalNote)  
                        <span class="lbl">@Translation.Get("Skicka intern loggpost till", Enums.TranslationSource.TextTranslation)</span>
                    </div>
                    <div id="divEmailRecepientsInternalLog" style="display:none">
                        <select id="CaseLog_EmailRecepientsInternalLog" name="CaseLog.EmailRecepientsInternalLog" multiple="multiple">
                        </select>  
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bifogade filer", Enums.TranslationSource.TextTranslation) 
                </td>
                @if (Model.CaseLog.Id == 0) 
                {                                        
                    <td>
                        <a href="#upload_logfiles_popup" role="button" class="btn" data-toggle="modal">@Translation.Get("Bifoga fil", Enums.TranslationSource.TextTranslation)</a>
                    </td>
                }
            </tr>                
            <tr>
                <td class="span3"></td>
                <td>
                    <div id="divCaseLogFiles">
                        @Html.Partial("_CaseLogFiles", Model.LogFilesModel)
                    </div>
                </td>
            </tr>
            <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.FinishingDescription.ToString())">
                <td>
                    @Translation.Get(GlobalEnums.TranslationCaseFields.FinishingDescription.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) 
                    @if (Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.FinishingDescription.ToString()).Required == 1)
                    {
                        <span class="mandatorystar">*</span>
                    }                                            
                </td>
                <td>
                    @Html.TextAreaFor(model => model.case_.FinishingDescription)
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Avslutsorsak", Enums.TranslationSource.TextTranslation) 
                </td>
                <td>
                    <div id="divFinishingType" class="btn-group">
                        <div class="btn" id="divBreadcrumbs_FinishingType">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</div>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" value="">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
                            @Html.FinishingCauseDropdownButtonString(Model.finishingCauses)
                        </ul>
                        @Html.HiddenFor(model => model.CaseLog.FinishingType)
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get(GlobalEnums.TranslationCaseFields.FinishingDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) 
                </td>
                <td>
                    <div class="input-append date dateie" data-date="" >
                        @Html.TextBoxFor(model => model.CaseLog.FinishingDate,  new { maxlength = "10", Class="span2", @Value = Model.case_.FinishingDate.HasValue ? Model.case_.FinishingDate.Value.ToString(DateExtensions.GetDateFormat()) : string.Empty} )<span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="divInvoice" style="@Model.ShowInvoiceFields.displayHtml()">
    <h4>
        @Translation.Get("Fakturering", Enums.TranslationSource.TextTranslation)
    </h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                <tr>
                    <td class="span3" >
                        @Translation.Get("Tidsåtgång", Enums.TranslationSource.TextTranslation) 
                    </td>
                    <td class="span4">
                        <select id="CaseLog_WorkingTimeHour" name="CaseLog.WorkingTimeHour" Class="inputw100">
                        @for (var i = 0; i < 100; i++)  
                        {
                            <option value="@i.ToString()" >@i.ToString()</option>
                        }
                        </select>&nbsp;@Translation.Get("Tim", Enums.TranslationSource.TextTranslation)&nbsp; 
                        <select id="CaseLog_WorkingTimeMinute" name="CaseLog.WorkingTimeMinute" Class="inputw100">
                            <option value="0">0</option>
                            <option value="30">30</option>
                        </select>&nbsp;@Translation.Get("Min", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td class="span5">
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Material", Enums.TranslationSource.TextTranslation) 
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CaseLog.EquipmentPrice, new { maxlength = "8"} )
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Pris", Enums.TranslationSource.TextTranslation) 
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CaseLog.Price, new { maxlength = "8" })
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Translation.Get("Debitering", Enums.TranslationSource.TextTranslation) 
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input name="form-field-checkbox" type="checkbox" />
                                @Html.CheckBox("CaseLog.Charge", Model.CaseLog.Charge.convertIntToBool())
                                <span class="lbl">@Translation.Get("Debitera kunden för genomförd åtgärd", Enums.TranslationSource.TextTranslation)</span>
                            </label>
                        </div>                                                
                    </td>
                    <td>
                    </td>
                </tr>
            </table>                                    
        </div>
    </div>                            
</div>