@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Common.Tools
@model DH.Helpdesk.BusinessData.Models.Case.FilesModel     
@using System.Web.Optimization

<script type="text/javascript">
    dhHelpdesk.caseLog =
        {
            deleteLogFileConfirmMessage: '@Translation.GetForJS("Är du säker på att du vill ta bort bifogad fil")' + '?',
            deleteCaseFileExtraInvoiceMessage: '@Translation.GetForJS("Obs! Den tas även bort från order")',                                                                        
            okText: '@Translation.GetForJS("OK")',
            cancelText: '@Translation.GetForJS("Avbryt")',
            yesText: '@Translation.GetForJS("Ja")',
            noText: '@Translation.GetForJS("Nej")'
        };
</script>

@if (Model != null)
{    
    <table id="log_files_table" class="table table-striped">
        <tbody>
            @if (Model.Files != null)
            {
                var i = 0;
                foreach (var filename in Model.Files)
                {
                    <tr data-field="caseLogFile" data-field-id="@Model.Id" data-field-name="@filename.Name">
                        <td>
                            <input type="hidden" id="logfile_id" value="@filename.Id" />
                            @if (Model.VirtualDirectory)
                            {
                                if (filename.IsExistCaseFile && filename.ObjId.HasValue)
                                {
                                    <a target="_blank" class="isExisted" href="@Html.Action("CaseFileLinkVD", "FileHandler", new RouteValueDictionary {{"id", filename.ObjId}, {"fileName", filename.Name}})"><i class="icon- attachedFile"></i>@filename.Name</a>
                                }
                                else
                                {
                                    if (filename.IsExistLogFile && filename.ObjId.HasValue)
                                    {
                                        <a target="_blank" class="isExisted" href="@Html.Action("LogFileLinkVD", "FileHandler", new RouteValueDictionary {{"id", filename.ObjId}, {"fileName", filename.Name}})"><i class="icon- attachedFile"></i> @filename.Name</a>
                                    }
                                    else
                                    {
                                        <a target="_blank" class="isExisted" href="@Html.Action("LogFileLinkVD", "FileHandler", new RouteValueDictionary {{"id", Model.Id}, {"fileName", filename.Name}})"><i class="icon-file"></i> @filename.Name</a>
                                    }
                                }
                            }
                            else
                            {
                                if (filename.IsExistCaseFile && filename.ObjId.HasValue)
                                {
                                    <a target="_blank" class="isExisted" href="@Html.Action("CaseFileLinkVD", "FileHandler", new RouteValueDictionary {{"id", filename.ObjId}, {"fileName", filename.Name}})">
                                        <i class="icon- attachedFile"></i>@filename.Name
                                    </a>
                                }
                                else
                                {
                                    if (filename.IsExistLogFile && filename.ObjId.HasValue)
                                    {
                                        <a target="_blank" class="isExisted" href="@Html.Action("LogFileLinkVD", "FileHandler", new RouteValueDictionary {{"id", filename.ObjId}, {"fileName", filename.Name}})"><i class="icon- attachedFile"></i> @filename.Name</a>
                                    }
                                    else
                                    {
                                        <a class="isExisted" href="@Url.Action("DownloadLogFile", new RouteValueDictionary {{"id", Model.Id}, {"fileName", filename.Name}})"><i class="icon-file"></i> @filename.Name</a>
                                    }
                                }
                            }
                        </td>
                        <td>
                            @* TODO: fix this, set deleteattachedfilepermission to true if usergroupid is administrator *@
                            @if (!GuidHelper.IsGuid(Model.Id) && (SessionFacade.CurrentUser.DeleteAttachedFilePermission == 1 || SessionFacade.CurrentUser.UserGroupId == 4))
                            {                            
                                <a id="@string.Format("delete_logfile_button_{0}", i)" class="btn bt-small" data-field="deleteFile" title="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)">
                                    <i class="icon-remove"></i>
                                </a>
                            }else
                            {
                               if (GuidHelper.IsGuid(Model.Id))
                                {
                                   <a id="@string.Format("delete_logfile_button_{0}", i)" class="btn bt-small" data-field="deleteFile" title="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)">
                                    <i class="icon-remove"></i>
                                </a>
                               }
                            }
                        </td>
                    </tr>
                            i++;
                }
            }    
        </tbody>
    </table>     
}    

@Scripts.Render("~/bundles/cases/_caseLogFiles")