@model dhHelpdesk_NG.Web.Models.CaseInputViewModel 
@using dhHelpdesk_NG.DTO.Utils

@if (Model != null && Model.Logs != null)
{    
    <div class="tab-pane tab-pane-border active" id="logtab">
        <table class="table table-striped table-bordered table-hover">
            @if (Model.Logs.Any())
            {            
                <thead>
                    <tr>
                        <th>@Translation.Get("Datum", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get("Registrerad av", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get(GlobalEnums.TranslationCaseFields.tblLog_Text_External.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) </th>
                        <th>@Translation.Get(GlobalEnums.TranslationCaseFields.tblLog_Text_Internal.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) </th>
                        <th>@Translation.Get("E-post", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get("Filer", Enums.TranslationSource.TextTranslation)</th>
                    </tr>
                </thead>
                foreach (var r in Model.Logs)
                {
                    <tbody>
                        <tr>
                            <td>
                                <a href="@Url.Action("editlog", "cases", new { area = "", id = r.Id, customerId = Model.case_.Customer_Id })">@r.LogDate</a>
                            </td>
                            <td>
                                @(r.User == null ? r.RegUser : r.User.FirstName + " " + r.User.SurName)  
                            </td>
                            <td>
                                @r.Text_External
                            </td>
                            <td>
                                @r.Text_Internal
                            </td>
                            <td>
                                @if (r.CaseHistory != null)
                                {
                                    if (r.CaseHistory.Emaillogs != null)
                                    {                                        
                                        foreach (var l in r.CaseHistory.Emaillogs)      
                                        {                                            
                                        <div>
                                            <p>
                                                @l.EmailAddress 
                                            </p>
                                        </div>
                                        }                                    
                                    }                                        
                                }
                            </td>
                            <td>
                                @if (r.LogFiles != null)
                                {
                                    foreach (var l in r.LogFiles)      
                                    {                                            
                                    <div>
                                        <p>
                                            <a href="@this.Url.Action("DownloadLogFile", new RouteValueDictionary { { "id", r.Id }, { "fileName", l.FileName} })">@l.FileName</a>
                                        </p>
                                    </div>
                                    }                                    
                                }
                            </td>
                        </tr>
                    </tbody>
                }
            }                
        </table>
    </div>
}