@model DH.Helpdesk.Web.Models.Case.CaseSettingModel
@using DH.Helpdesk.BusinessData.OldComponents
<form id="frmCaseSetting" name="frmCaseSetting">
    <div class="tab-content overflow-visible">
        <div class="tab-pane tab-pane-border active" id="fragment-1">
            <div class="container">
                <h4>@Translation.Get("Filter") @Translation.Get("Ärendesök")</h4>    

                @Html.HiddenFor(m => Model.CustomerId)                
                @Html.HiddenFor(m => Model.UserId)

                <div class="row">
                    <div class="span100">
                        <table id="tblCaseSetting" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Translation.Get("Fält", Enums.TranslationSource.TextTranslation)
                                    </th>
                                    <th >
                                        @Translation.Get("Visa", Enums.TranslationSource.TextTranslation)
                                    </th>                                                        
                                    <th >
                                        @Translation.Get("Filter", Enums.TranslationSource.TextTranslation)
                                    </th>                                     
                                </tr>
                            </thead>
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.Persons_Name.ToString()) == 1) 
                            { 
                                <tr>
                                    <td class="span3">                                        
                                        @{
                                            var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.Persons_Name.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                        @lbl:
                                    </td>
                                    <td colspan="3"> 
                                        @Html.CheckBoxFor(m => Model.CaseInitiatorFilterShow, new { @class = "switchcheckbox" })                                   
                                    </td>
                                </tr>
                            }
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.Region_Id.ToString()) == 1) 
                            { 
                                <tr>
                                    <td class="span3">                                        
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.Region_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                        @lbl:     
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => Model.RegionCheck, new { @class = "switchcheckbox" })                                   
                                    </td>                            
                                    <td colspan="2">
                                        <select id="lstRegions" name="lstRegions" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                            @foreach (var e in Model.Regions)
                                            {                                                                                                      
                                                <option value="@e.Id" @e.Id.IdIsSelected(Model.SelectedRegion)>@e.Name</option>                                       
                                            }
                                        </select>
                                    </td>                                                        
                                </tr>
                            }
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.User_Id.ToString()) == 1) 
                            {                                    
                                <tr>
                                    <td class="span3">
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.User_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                         @lbl:                                         
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => Model.RegisteredByCheck, new { @class = "switchcheckbox" })
                                    </td>                            
                                    <td colspan="2">
                                        <select id="lstRegisterBys" name="lstRegisterBy" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                            @foreach (var e in Model.RegisteredBy)
                                            {                                                                                                      
                                                <option value="@e.Id" @e.Id.IdIsSelected(Model.SelectedRegisteredBy)>@e.SurName @e.FirstName</option>                                       
                                            }
                                        </select>
                                    </td>                                                        
                                </tr>
                            }
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString()) == 1) 
                            {                                 
                                <tr>
                                    <td class="span3">                                        
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                        @lbl:                                             
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => Model.CaseTypeCheck, new { @class = "switchcheckbox" })
                                    </td>                        
                                    <td colspan="2">
                                        <div id="divCaseTypeSetting" class="btn-group">
                                            <div class="btn" id="divBreadcrumbs_CaseTypeSetting">@Model.CaseTypePath</div>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">@Translation.Get("--")</a></li>
                                                @Html.CaseTypeDropdownButtonString(Model.CaseTypes)
                                            </ul>
                                            @Html.HiddenFor(model => model.CaseTypeId)
                                        </div>
                                    </td>                            
                                </tr>
                            } 
                           @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString()) == 1)
                           {
                                <tr>
                                    <td class="span3">                                        
                                        @{
                               var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);                                                                                          
                                         }
                                        @lbl:                                             
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.ProductAreaCheck, new { @class = "switchcheckbox" })
                                    </td>                                                        
                                    <td colspan="2">
                                        <div id="divProductAreaSetting" class="btn-group">
                                            <div class="btn" id="divBreadcrumbs_ProductAreaSetting">@Model.ProductAreaPath</div>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
                                                @Html.ProductAreaDropdownButtonString(Model.ProductAreas)
                                            </ul>
                                            @Html.HiddenFor(model => model.ProductAreaId)
                                        </div>
                                    </td>                            
                                </tr>             
                           } 
                           @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString()) == 1)
                           {                                         
                                <tr>
                                    <td class="span3">                                        
                                        @{
                               var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                         @lbl:   
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => Model.WorkingGroupCheck, new { @class = "switchcheckbox" })
                                    </td>                        
                                    <td colspan="2">
                                        <select id="lstWorkingGroups" name="lstWorkingGroup" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                            @foreach (var e in Model.WorkingGroups)
                                            {                                                                                                      
                                                <option value="@e.Id" @e.Id.IdIsSelected(Model.SelectedWorkingGroup)>@e.WorkingGroupName</option>                                       
                                            }
                                        </select>
                                    </td>                                                        
                                </tr>
                           } 
                           @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString()) == 1)
                           {         
                                <tr>
                                    <td class="span3">                                        
                                        @{
                               var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                         @lbl: 
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.ResponsibleCheck, new { @class = "switchcheckbox" })
                                    </td>                            
                                    <td>
                                
                                    </td>                            
                                </tr>
                           } 
                           @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString()) == 1)
                           {             
                                <tr>
                                    <td class="span3">                                        
                                        @{
                               var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                         @lbl:
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => Model.AdministratorCheck, new { disabled = "1", @class = "switchcheckbox" })
                                    </td>
                                    <td colspan="2">
                                        <select id="lstAdministrators" name="lstAdministrator" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                            @foreach (var e in Model.Administrators)
                                            {                                                                                                      
                                                <option value="@e.Id" @e.Id.IdIsSelected(Model.SelectedAdministrator)>@e.SurName @e.FirstName</option>                                       
                                            }
                                        </select>
                                    </td>                                                        
                                </tr> 
                           } 
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.Priority_Id.ToString()) == 1)
                           {                                                         
                                <tr>
                                    <td class="span3">                                        
                                        @{
                               var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.Priority_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                         @lbl:
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => Model.PriorityCheck, new { @class = "switchcheckbox" })
                                    </td>                            
                                    <td colspan="2">
                                        <select id="lstPriorities" name="lstPriority" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                            @foreach (var e in Model.Priorities)
                                            {                                                                                                      
                                                <option value="@e.Id" @e.Id.IdIsSelected(Model.SelectedPriority)>@e.Code. @e.Name </option>                                       
                                            }
                                        </select>
                                    </td>                                                                                                                
                                </tr>
                            }
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.Status_Id.ToString()) == 1)
                            { 
                                <tr>
                                    <td class="span3">                                        
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.Status_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                         }
                                         @lbl:
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => Model.StateCheck, new { @class = "switchcheckbox" })
                                    </td>                        
                                    <td>
                                
                                    </td>
                                </tr>
                            }
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString()) == 1)
                            { 
                            <tr>
                                <td class="span3">                                    
                                    @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                      }
                                      @lbl:
                                </td>                            
                                <td>
                                    @Html.CheckBoxFor(m => Model.SubStateCheck, new { @class = "switchcheckbox" })
                                </td>                            
                                <td colspan="2">
                                    <select id="lstSubStates" name="lstSubState" data-placeholder="@Translation.Get("Välj en eller flera", Enums.TranslationSource.TextTranslation)" multiple="multiple" class="chosen-select">
                                        @foreach (var e in Model.SubStates)
                                        {                                                                                                      
                                            <option value="@e.Id" @e.Id.IdIsSelected(Model.SelectedSubState)>@e.Name </option>                                       
                                        }
                                    </select>
                                </td>                                                                                                                
                            </tr>  
                            }        
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.RegTime.ToString()) == 1)
                            { 
                                <tr>
                                    <td class="span3">                                      
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.RegTime.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                      }
                                      @lbl:
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => m.CaseRegistrationDateFilterShow, new { @class = "switchcheckbox" })
                                    </td>                            
                                    <td>
                                        @Html.EditorFor(m => m.CaseRegistrationDateStartFilter, "DatePickerNoJs", new { id = "CaseRegistrationDateStartFilter" })                                         
                                        @Html.EditorFor(m => m.CaseRegistrationDateEndFilter, "DatePickerNoJs", new { id = "CaseRegistrationDateEndFilter" })                                         
                                    </td>                                                                                                                
                                </tr>  
                            }        
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.WatchDate.ToString()) == 1)
                            { 
                                <tr>
                                    <td class="span3">                                       
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.WatchDate.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                      }
                                      @lbl:
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => m.CaseWatchDateFilterShow, new { @class = "switchcheckbox" })
                                    </td>                            
                                    <td>
                                        @Html.EditorFor(m => m.CaseWatchDateStartFilter, "DatePickerNoJS", new { id = "CaseWatchDateStartFilter" })                                         
                                        @Html.EditorFor(m => m.CaseWatchDateEndFilter, "DatePickerNoJS", new { id = "CaseWatchDateEndFilter" })                                         
                                    </td>                                                                                                                
                                </tr>  
                            }        
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.FinishingDate.ToString()) == 1)
                            { 
                                <tr>
                                    <td class="span3">                                        
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.FinishingDate.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                      }
                                      @lbl:
                                    </td>                            
                                    <td>
                                        @Html.CheckBoxFor(m => m.CaseClosingDateFilterShow, new { @class = "switchcheckbox" })
                                    </td>                            
                                    <td>
                                        @Html.EditorFor(m => m.CaseClosingDateStartFilter, "DatePickerNoJS", new { id = "CaseClosingDateStartFilter" })                                         
                                        @Html.EditorFor(m => m.CaseClosingDateEndFilter, "DatePickerNoJS", new { id = "CaseClosingDateEndFilter" })                                         
                                    </td>                                                                                                                
                                </tr>  
                            }   
                            @if (Model.ColumnSettingModel.CaseFieldSettings.getShowOnStartPage(GlobalEnums.TranslationCaseFields.ClosingReason.ToString()) == 1)
                            {
                                <tr>
                                    <td class="span3">                                        
                                        @{
                                var lbl = Translation.Get(GlobalEnums.TranslationCaseFields.ClosingReason.ToString(), Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id);
                                      }
                                      @lbl:
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.ClosingReasonCheck, new { @class = "switchcheckbox" })
                                    </td>                                                        
                                    <td colspan="2">
                                        <div id="divClosingReasonSetting" class="btn-group">
                                            <div class="btn" id="divBreadcrumbs_ClosingReasonSetting">@Model.ClosingReasonPath</div>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">@Translation.Get("--")</a></li>
                                                @Html.FinishingCauseDropdownButtonString(Model.ClosingReasons)
                                            </ul>
                                            @Html.HiddenFor(model => model.ClosingReasonId)
                                        </div>
                                    </td>                            
                                </tr>             
                            }                         
                        </table>
                    </div>
                </div>
            </div>

             </div>                
    </div>
</form>
<!-- ************************* Columns ********************************* -->      
<div id="colsetting_result" class="container">
    @Html.Partial("_ColumnCaseSetting", Model.ColumnSettingModel) 
</div>
