@using System.Web.Mvc.Html
@model DH.Helpdesk.Web.Models.Case.CaseLogInputFilesAttachmentViewModel

@{
    var logNoteType = Model.IsExternalNote ? "externalLog" : "internalLog";
 }

@if (Model.AllowFileAttach)
{
    <tr style="@Model.FieldStyles">
        <td>@Html.Raw(Model.Caption)</td>
        <td>
            @if (Model.IsReadonly)
            {
                <a href="" role="button" class="btn disabled" onclick="return false;" disabled="true">@Translation.GetCoreTextTranslation("Lägg till")</a>
            }
            else
            {
                <a href="#upload_logfiles_popup" class="btn uploadLogFilesBtn" role="button" data-logtype="@logNoteType">@Translation.GetCoreTextTranslation("Lägg till")</a>
                <a href="#upload_clipboard_file_popup" class="btn uploadLogFileFromClipboardBtn" role="button" data-logtype="@logNoteType" data-src="log">@Translation.GetCoreTextTranslation("Lägg till från Urklipp")</a>
            }
        </td>
        <td>
            <a href="" class="btn attachExistingFile" role="button" data-logtype="@logNoteType" style="margin-left: 20px;">
                <img src="@Url.Content("~/Content/img/clip.png")" />
            </a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
}
<tr>
    <td class="span3"></td>
    <td>
        @Html.Hidden(Model.IsExternalNote ? "LogFileNames" : "LogFileNamesInternal")
        <div id="divCaseLogFiles" class="@(logNoteType)-files">
            @Html.Partial("_CaseLogFiles", Model.LogFilesModel)
        </div>
    </td>
</tr>