@using DH.Helpdesk.Web.Infrastructure.Extensions
@using ReportViewerForMvc
@using DH.Helpdesk.Common.Enums
@model DH.Helpdesk.Web.Models.Shared.ReportModel
          
<div id="CasePrintArea" >
    @if (Model != null && Model.CanShow)
    {
        var tempNewLine = "{{NEWLINE}}";
        <div id="PrintCaseDialog" class="modal modalprintA4P fade " style="display:none">
            <div class="modal-dialog">            
                <div class="modal-header" style="cursor: move;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>                    
                    <h5> 
                        <span  id="headerCaption"> @Translation.Get("Ärende") @Translation.Get("skriv ut") </span>                         
                         <button style="float:right;margin-right:20px;" type="button" class="btn sendToPrinter" >Print</button>
                    </h5>                                        
                </div>

                <div id="caseReportContainer" class="modal-body">
                    @*Enable it if you need to show Report Service Report (Need to change the controller as well)*@
                    @*@Html.ReportViewer(Model.Report)*@
                                                                              
                    @{var user = Model.ReportData.Where(d => d.LineType == ReportLineTypes.User).SingleOrDefault(); }

                    <table class="printheader">
                        <tr>
                            <td style="width: 1050px;">
                                @(user != null? user.FieldValue : "")
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 1050px;">
                                @DateTime.Now.ToLocalTime() 
                            </td>
                        </tr>
                    </table>
                                                            
                    <table border="1" style="border-color:black" class="printcase">
                        @foreach (var row in Model.ReportData.Where(d=> d.LineType != ReportLineTypes.User))
                        {                          
                            <tr>
                                @*<td style="width: 20px;text-align:center;">                                    
                                    @row.LineType
                                </td>*@

                                <td style="width: 250px; margin-left:20px;" class="textbold @row.LineType">
                                    @row.FieldCaption                                  
                                </td>

                                @if (row.LineType == ReportLineTypes.File)
                                {
                                    var filesStr = row.FieldValue.Replace(Environment.NewLine, tempNewLine).RemoveHTMLTags();
                                    var files = filesStr.Split(new string[] { tempNewLine }, StringSplitOptions.None);
                                    <td style="width: 800px;" class="@row.LineType">                                    
                                        @foreach (var file in files.Where(f=> !string.IsNullOrEmpty(f)).ToList())
                                        {
                                             <p> <img src="@Url.Content("~/Content/icons/case.png")" style="width:14px;height:14px;"> @file.ForHtmlView() </p>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 800px;" class="@row.LineType">                                    
                                        @row.FieldValue.Replace(Environment.NewLine, tempNewLine).RemoveHTMLTags().Replace(tempNewLine, Environment.NewLine).ForHtmlView()
                                    </td>
                                }
                            </tr>                            
                        }
                    </table>
                </div>               
            </div>    
        </div>                         
    }
</div>

<script type="text/javascript">    
    $(function () {
        $(".btn.sendToPrinter").click(function () {
            var contents = $("#caseReportContainer").html();
            var printFrame = $('<iframe />');
            printFrame[0].name = "printFrame";
            printFrame.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(printFrame);
            var frameDoc = printFrame[0].contentWindow ? printFrame[0].contentWindow : printFrame[0].contentDocument.document ? printFrame[0].contentDocument.document : printFrame[0].contentDocument;
            frameDoc.document.open();
            //new HTML document.
            frameDoc.document.write('<html><head>');
            frameDoc.document.write('</head><body>');
            //CSS files.     
            var css1 = '@Url.Content("~/Content/css/bootstrap.css")';
            var css2 = '@Url.Content("~/Content/css/print.css")';
            
            frameDoc.document.write("<link rel='stylesheet' type='text/css' href='"+ css1 + "'>");
            frameDoc.document.write("<link rel='stylesheet' type='text/css' href='" + css2 + "'>");
            //contents:
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["printFrame"].focus();
                window.frames["printFrame"].print();
                printFrame.remove();
            }, 500);
        });
    });

    /*directly print after load*/
    $(".btn.sendToPrinter").click();
</script>