@model IEnumerable<DH.Helpdesk.BusinessData.Models.CaseDocument.CaseDocumentModel>
@using DH.Helpdesk.Common.Constants;

@if (Model != null && Model.Any())
{
            <table class="table table-striped table-full-width">
                <thead>
                    <tr>
                        <th class="span4">@Translation.GetCoreTextTranslation("Namn")</th>
                        <th class="span4"></th>
                        <th class="span4"></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Name<text>.</text>@item.FileType
                    </td>
                    <td>
                        <a href="/casedocument/CaseDocumentGet?caseDocumentGUID=@item.CaseDocumentGUID&id=@item.CaseId" target="_blank" title="@Translation.GetCoreTextTranslation("Skriv ut") @item.Name" class="btn"><i class="icon-file"></i> @Translation.GetCoreTextTranslation("Skriv ut")</a>
                    </td>
                    <td></td>
                </tr>
                }


            </table>
}