@model dhHelpdesk_NG.Web.Models.CaseInputViewModel 
@using dhHelpdesk_NG.DTO.Utils

@if (Model != null && Model.caseHistories != null)
{    
    <div class="tab-pane tab-pane-border" id="historytab">
        <table class="table table-striped table-bordered table-hover">
            @if (Model.caseLogs.Any())
            {            
                <thead>
                    <tr>
                        <th>@Translation.Get("Datum", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get("Registrerad av", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get("Historik", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get("E-post", Enums.TranslationSource.TextTranslation)</th>
                    </tr>
                </thead>
                foreach (var r in Model.caseHistories)
                {
                    <tbody>
                        <tr>
                            <td>
                                @r.CreatedDate 
                            </td>
                            <td>
                                @r.CreatedByUser 
                            </td>
                            <td>
                                <strong>@Translation.Get(GlobalEnums.TranslationCaseFields.Department_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id):</strong> @(r.Department != null ? r.Department.DepartmentName : string.Empty) <br/>
                                <strong>@Translation.Get(GlobalEnums.TranslationCaseFields.Category_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id):</strong> @(r.Category != null ? r.Category.Name : string.Empty) <br/>
                                <strong>@Translation.Get(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id):</strong> @(r.StateSecondary != null ? r.StateSecondary.Name : string.Empty) <br/>
                                <strong>@Translation.Get(GlobalEnums.TranslationCaseFields.Priority_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id):</strong> @(r.Priority != null ? r.Priority.Name : string.Empty) 
                            </td>
                            <td>
                                TODO al@datahalland.se
                            </td>
                        </tr>
                    </tbody>
                }
            }                
        </table>
    </div>
}