@using DH.Helpdesk.Common.Extensions.DateTime

@model DH.Helpdesk.Web.Models.Case.CaseFilesModel     
@if (Model != null && Model.Files != null && Model.Files.Any())
{    

    <table id="case_files_table" class="table table-striped" style="margin-top:10px;">
        <thead>
            <tr>
                <th>
                    @Translation.Get("Filnamn")
                </th>
                <th>
                    @Translation.Get("Skapad datum")
                </th>
                <th>
                    @Translation.Get("Upplagd av")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
    var i = 0;
    var caseInactive = false;
    caseInactive = (ViewData["CaseInactive"] != null? (bool) ViewData["CaseInactive"]:false);
                var userTimezone = TimeZoneInfo.FindSystemTimeZoneById(SessionFacade.CurrentUser.TimeZoneId);
    
    foreach (var file in Model.Files)
    {
        var date = TimeZoneInfo.ConvertTimeFromUtc(file.CreatedDate.ToUniversalTime(), userTimezone);
                <tr data-field="caseFile" data-field-id="@Model.ObjectId" data-field-name="@file.FileName">
                    <td>
                        @if (Model.VirtualDirectory)
                        {
                            <a target="_blank" href="@Html.Action("CaseFileLinkVD","FileHandler", new RouteValueDictionary { { "id", Model.ObjectId }, { "fileName", file.FileName } })"><i class="icon-file"></i>@file.FileName</a>
                        }
                        else
                        {
                            <a href="@Url.Action("DownloadFile", new RouteValueDictionary { { "id", Model.ObjectId }, { "fileName", file.FileName } })"><i class="icon-file"></i>@file.FileName</a>
                        }
                    </td>
                    <td>
                        @date.ToFormattedDateTime()
                    </td>
                    <td>
                        @file.UserName
                    </td>
                    <td>
                        @if (file.CanDelete)
                        {
                            if (!caseInactive)
                            {
                                <a id="@string.Format("delete_casefile_button_{0}", i)" class="btn bt-small" data-fileName="@file.FileName" data-field="deleteFile" title="@Translation.Get("Ta bort")"><i class="icon-remove"></i></a> 
                            }
                           
                        }
                    </td>
                </tr>
                        i++;
    }
            }
        </tbody>
    </table> 
}
