@model DH.Helpdesk.Web.Models.Case.CaseColumnsSettingsModel
<form id="frmColCaseSetting" name="frmColCaseSetting">
    <div class="tab-content">
        <div class="tab-pane tab-pane-border active" id="fragment-1">                                   
            <h4>@Translation.Get("Filter", Enums.TranslationSource.TextTranslation)  @Translation.Get("Ärendeöversikt", Enums.TranslationSource.TextTranslation) </h4>    
            <div id="colsetting_result" class="row">                
                <div class="span12">
                     @Html.HiddenFor(m=> Model.CustomerId)                
                     @Html.HiddenFor(m=> Model.UserId)
                    <table class="table table-striped table-bordered table-hover" id="customerCaseSum">
                        <thead>
                            <tr>
                                <th>
                                    @Translation.Get("Kolumn", Enums.TranslationSource.TextTranslation)
                                </th>
                                <th>
                                    @Translation.Get("Rad", Enums.TranslationSource.TextTranslation)
                                </th>
                                <th>
                                    @Translation.Get("Min längd", Enums.TranslationSource.TextTranslation)
                                </th>
                                <th>
                                    @Translation.Get("Ordning", Enums.TranslationSource.TextTranslation)
                                </th>
                                <th>&nbsp;
                                </th>
                            </tr>
                        </thead>
                        <tbody id="dataTable">
                            @if (Model != null)
                            {
                                <tr class="rowAdding">                                   
                                    <td>
                                        <select style="width: 190px;" id="labellist">
                                            <option></option>
                                             @foreach (var cfs in Model.CaseFieldSettingLanguages)
                                                {
                                                    if (cfs.Name != "Filename" && cfs.Name != "text_internal" && cfs.Name != "tblLog.Text_External" && cfs.Name != "tblLog.Text_Internal" && cfs.Name != "tblLog.Charge" && cfs.Name != "tblLog.Filename")
                                                    {
                                                        <option id="label" value="@cfs.Name">@cfs.Label</option>  
                                                    }
                                                }
                                        </select>
                                    </td>          
                                    <td>
                                        <select style="width: auto;" id="linelist">                                            
                                            @foreach (var line in Model.LineList)
                                            {
                                                <option id="line" value="@line.Value">@line.Text</option>
                                            }
                                        </select>
                                    </td> 
                   
                                    <td id="_minWidth">
                                        <input type="text" style="width: 80px;" name="minWidthValue" id="minWidthValue" value="" />
                                    </td>
                                    <td id="_colOrder">
                                        <input type="text" style="width: 80px;" name="colOrderValue" id="colOrderValue" value="" />
                                    </td>
                                    <td>
                                        <input class="btn btn-success" type="button" value="@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)" id="AddRow" 
                                               onclick="addCaseSettingRow()" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                        <input type="hidden" id="caseSettingId" value="" />
                                    </td> 
                                              
                                </tr>                                                 
                                foreach (var uc in  Model.UserColumns)
                                {          
                                    <tr>                                        
                                        @if (Model.UserColumns != null)
                                        {
                                            <td>
                                                <select style="width: 190px;" id="_dellabellist" disabled="disabled">                                                    
                                                    @foreach (var cfs in Model.CaseFieldSettingLanguages)
                                                    {                                                    
                                                        <option value="@cfs.Id" @(cfs.Name.ToUpper() == uc.Name.ToUpper() ? "selected=selected" : "")>@cfs.Label</option>
                                                    }                                                    
                                                </select>
                                            </td> 
                                        }
                                        <td>
                                            <select style="width: auto;" id="dellinelist" name="rows">                                                
                                                @foreach (var line in Model.LineList)
                                                {                                            
                                                    <option id="lines" value="@line.Value" @(line.Value == uc.Line.ToString() ? "selected=selected" : "")>@line.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td>                                            
                                            @Html.TextBoxFor(model => uc.MinWidth, new { style = "width: 80px;" })                                            
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => uc.ColOrder, new { style = "width: 80px;" })
                                        </td>
                                        <td>
                                            @Html.HiddenFor(model => uc.Id)
                                            @Html.HiddenFor(model => uc.Name)
                                            @Html.HiddenFor(model => uc.UserGroup)
                                            <input class="btn btn-danger" type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)"
                                                   onclick="deleteCaseSettingRow(@uc.Id)" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                            <input type="hidden" id="deleteCaseSettingsId" value="@uc.Id" />
                                            <input type="hidden" id="userGroup" value="@uc.UserGroup" />                                                                                         
                                        </td>
                                    </tr>                                           
                                }
                            }
                        </tbody>
                    </table>                    
                </div>
            </div>
            
        </div>                
    </div>
</form>

<script type="text/javascript">       

    function addCaseSettingRow() {                       
        $.post('/cases/AddCaseSettingColumn/' + '?customerId=' + @Model.CustomerId.ToString() + '&userId=' + @Model.UserId.ToString() + 
            '&labellist=' + $("#labellist").val() + '&linelist=' + $("#linelist").val() +
            '&minWidthValue=' + $("#minWidthValue").val() + '&colOrderValue=' + $("#colOrderValue").val() + '&userGroup=' + $("#userGroup").val(), function (result) {
                $("#colsetting_result").html(result);
           });
    }

    function deleteCaseSettingRow(id) {                
        $.post('/cases/DeleteRowFromCaseSettings/' + id + '?userId=' + @Model.UserId.ToString() + '&customerId=' + @Model.CustomerId.ToString() , 
               function(result) {$("#colsetting_result").html(result);}
              );
    }

</script>
