@using DH.Helpdesk.BusinessData.Models
@using DH.Helpdesk.Web.Models.Case
@model CaseColumnsSettingsModel
           @if (Model.AvailableColumns.Any())
           {
               <div id="messageStrings" style="display: none">
                   <span id="savingMsg">@Translation.Get("Sparar...")</span>
                   <span id="maxWideColumnMsg">@Translation.Get("<b>Bred</b> kan väljas på högst 3 kolumner!")</span>
                   <span id="atLeastOneColumnMsg">@Translation.Get("Välj minst en kolumn för att visa ärendeöversikten!")</span>
                   <span id="columnAlreadyExists">@Translation.Get("Kolumn \"{0}\" har redan valts att visas i ärendeöversikten")</span>
               </div>
               <form id="frmColCaseSetting" name="frmColCaseSetting">
                   <div class="tab-content">
                       <div class="tab-pane tab-pane-border active" id="fragment-1">                                   
                           <h4>@Translation.Get("Filter", Enums.TranslationSource.TextTranslation)  @Translation.Get("Ärendeöversikt", Enums.TranslationSource.TextTranslation) </h4>    
                           <div id="colsetting_result" class="row">
                               <div class="span100">                    
                                   @Translation.Get("Teckensnittsstorlek i tabell (ju mindre desto mer information kan visas på skärmen).", Enums.TranslationSource.TextTranslation)<br />
                                   @Html.DropDownListFor(x => x.SelectedFontStyle, CaseColumnsSettingsModel.FontStyles)
                               </div>             
                               <div class="span100">
                                   @Translation.Get("Välj den mest lämpliga bredden för de kolumner som du vill visa på ärendeöversikten (beroende på mängden information i varje kolumn).", Enums.TranslationSource.TextTranslation)
                                   <br />
                                   @Translation.Get("(Du kan endast välja bredd på högst 3 kolumner).", Enums.TranslationSource.TextTranslation)                    
                               </div>       
                               <div class="span5">
                                   @Html.HiddenFor(m => Model.CustomerId)                
                                   @Html.HiddenFor(m => Model.UserId)
                                   <table class="table table-striped table-bordered table-hover" id="customerCaseSum">
                                       <thead>
                                           <tr>
                                               <th>
                                                   &nbsp;
                                               </th>                                
                                               <th>
                                                   @Translation.Get("Kolumn", Enums.TranslationSource.TextTranslation)
                                               </th>                                
                                               <th>
                                                   @Translation.Get("Kolumnbredd", Enums.TranslationSource.TextTranslation)
                                               </th>
                                               <th>
                                                   &nbsp;
                                               </th>
                                           </tr>
                                       </thead>                                                             
                                       <tbody id="dataTable">
                                           <tr class="rowAdding">
                                                <td>
                                                    &nbsp;
                                                </td>                                                                       
                                               <td>
                                                   <input type="hidden" style="width: 80px;" name="colOrderValue" id="colOrderValue" value="99" />
                                                   <input type="hidden" style="width: 80px;" name="minWidthValue" id="minWidthValue" value="100" />

                                                   <select id="labellist">
                                            @foreach (CaseOverviewGridColumnSetting fieldSetting in Model.AvailableColumns)
                                                       {
                                                           <option value="@fieldSetting.Name">@Translation.Get(fieldSetting.Name, Enums.TranslationSource.CaseTranslation, Model.CustomerId)</option>
                                                       }
                                                   </select>
                                               </td>                                           
                                               <td>
                                                   <select id="newColStyle">
                                            @foreach (SelectListItem fieldSetting in CaseColumnsSettingsModel.FieldStyles)
                                                       {
                                                           <option value="@fieldSetting.Value">@fieldSetting.Text</option>
                                                       }
                                                   </select>
                                               </td>
                                               <td>
                                                   <input class="btn btn-success addrow" type="button" value="@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)" />
                                                   <input type="hidden" id="caseSettingId" value="" />
                                               </td>
                                           </tr>     
                                           @if (Model != null)
                                           {
                                    int i = 0;
                                    foreach (CaseOverviewGridColumnSetting columnSettings in  Model.SelectedColumns)
                                               {
                                                   <tr class="SortableRow">
                                                       <td class="SortableIcon">
                                                           <i class="icon-move"></i>
                                                       </td>
                                                       <td>
                                                           <label for="subCategoryName"> @Translation.Get(columnSettings.Name, Enums.TranslationSource.CaseTranslation, Model.CustomerId) </label>
                                                       </td>
                                                       <td>
                                                @Html.DropDownList(string.Format("column_style", i), CaseColumnsSettingsModel.GetColStyles(columnSettings.Style))
                                                @Html.Hidden(string.Format("column_name", i++), @columnSettings.Name, new {id = ""})
                                                       </td>                                     
                                                       <td>
                                                           <input class="btn btn-danger deleterow" type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)" />
                                                       </td>
                                                   </tr>
                                               }
                                           }
                                       </tbody>
                                   </table>                    
                               </div>
                           </div>
                       </div>                
                   </div>
               </form>
               <script id="caseFieldRow" type="text/x-jsrender">
                <tr class="SortableRow">
                    <td class="SortableRow">
                        <i class="icon-move"></i>
                    </td>
                    <td>
                        <label for="subCategoryName">{{:label}}</label>
                    </td> 
                    <td>
                        <select name="column_style" fieldid="{{:fieldId}}">
                            @foreach (SelectListItem fieldSetting in CaseColumnsSettingsModel.FieldStyles)
                            {
                                <option value="@fieldSetting.Value">@fieldSetting.Text</option>
                            }
                        </select>
                        <input type="hidden" name="column_name" value="{{:fieldId}}"/>
                    </td>
                    <td>
                        <input class="btn btn-danger deleterow" type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)" />
                    </td>
                </tr>
            </script>
           }
           else
           {
    <div class="nofields-msg">@Translation.Get("Inga ärendefält har valts för denna kund, kontakta systemadministratören.")</div>
           }