@model DH.Helpdesk.Web.Models.Case.CaseColumnsSettingsModel
<form id="frmColCaseSetting" name="frmColCaseSetting">
    <div class="tab-content">
        <div class="tab-pane tab-pane-border active" id="fragment-1">                                   
            <h4>@Translation.Get("Filter", Enums.TranslationSource.TextTranslation)  @Translation.Get("Ärendeöversikt", Enums.TranslationSource.TextTranslation) </h4>    
            <div id="colsetting_result" class="row">                
                <div class="span5">
                     @Html.HiddenFor(m=> Model.CustomerId)                
                     @Html.HiddenFor(m=> Model.UserId)
                    <table class="table table-striped table-bordered table-hover" id="customerCaseSum">
                        <thead>
                            <tr>
                                <th style="width:20px">                                        
                                   
                               </th>
                                <th>
                                    @Translation.Get("Kolumn", Enums.TranslationSource.TextTranslation)
                                </th>
                                @*<th>
                                    @Translation.Get("Rad", Enums.TranslationSource.TextTranslation)
                                </th>*@
                                 @*<th>
                                    @Translation.Get("Min längd", Enums.TranslationSource.TextTranslation)
                                </th>
                               <th>
                                    @Translation.Get("Ordning", Enums.TranslationSource.TextTranslation)
                                </th>*@
                                <th>&nbsp;
                                </th>
                            </tr>
                        </thead>
                                                             
                        <tbody id="dataTable" >
                            <tr class="rowAdding" id="0">                                   
                                    <td style="width:20px">                                        
                                   
                                    </td>
                                    <td>
                                        <input type="hidden" style="width: 80px;" name="colOrderValue" id="colOrderValue" value="99" />
                                        <input type="hidden" style="width: 80px;" name="minWidthValue" id="minWidthValue" value="100" />

                                        <select  id="labellist">
                                            @*<option></option>*@
                                             @foreach (var cfs in Model.CaseFieldSettingLanguages)
                                                {
                                                    if (cfs.Name != "Filename" && cfs.Name != "text_internal" && cfs.Name != "tblLog.Text_External" && cfs.Name != "tblLog.Text_Internal" && cfs.Name != "tblLog.Charge" && cfs.Name != "tblLog.Filename")
                                                    {
                                                        <option id="label" value="@cfs.Name">@(string.IsNullOrEmpty(cfs.Label)? Translation.Get(cfs.Name, Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id): cfs.Label)</option>  
                                                    }
                                                }
                                        </select>
                                    </td>          
                                   @* <td>
                                        <select  id="linelist">                                            
                                            @foreach (var line in Model.LineList)
                                            {
                                                <option id="line" value="@line.Value">@line.Text</option>
                                            }
                                        </select>
                                    </td> *@
                   
                                   @* <td id="_minWidth">
                                        
                                    </td>*@
                                    @*<td id="_colOrder">
                                        
                                    </td>*@
                                    <td>
                                        <input class="btn btn-success" type="button" value="@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)" id="AddRow" 
                                               onclick="addCaseSettingRow()" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                        <input type="hidden" id="caseSettingId" value="" />
                                    </td> 
                                              
                                </tr>     
                            @if (Model != null)
                            {
                                
                                foreach (var uc in  Model.UserColumns)
                                {                                    
                                    <tr id="@uc.Id" class="SortableRow">                                        
                                        @if (Model.UserColumns != null)
                                        {
                                            <td>                                        
                                   
                                            </td>
                                            <td>
                                                @Html.HiddenFor(model => uc.ColOrder)
                                                @Html.HiddenFor(model => uc.MinWidth)                                                

                                                @*<select id="_dellabellist" disabled="disabled">    *@                                                
                                                @foreach (var cfs in Model.CaseFieldSettingLanguages)
                                                {
                                                    if (cfs.Name.ToUpper() == uc.Name.ToUpper())
                                                    {  
                                                        @Html.Label((string.IsNullOrEmpty(cfs.Label)? Translation.Get(cfs.Name, Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id): cfs.Label))  
                                                            //@Html.DisplayText("MMM") //cfs.Label                                                                                                               
                                                    }
                                                }
                                                @*    <option value="@cfs.Id" @(cfs.Name.ToUpper() == uc.Name.ToUpper() ? "selected=selected" : "")>@(string.IsNullOrEmpty(cfs.Label)? Translation.Get(cfs.Name, Enums.TranslationSource.CaseTranslation, SessionFacade.CurrentCustomer.Id): cfs.Label)</option>
                                                *@                                                    
                                                @*</select>*@
                                            </td> 
                                        }
                                        @*<td>
                                            <select  id="dellinelist" name="rows">                                                
                                                @foreach (var line in Model.LineList)
                                                {                                            
                                                    <option id="lines" value="@line.Value" @(line.Value == uc.Line.ToString() ? "selected=selected" : "")>@line.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td>                                            
                                                                                       
                                        </td>
                                        <td>
                                            
                                        </td>*@
                                        <td>
                                            @Html.HiddenFor(model => uc.Id)
                                            @Html.HiddenFor(model => uc.Name)
                                            @Html.HiddenFor(model => uc.UserGroup)
                                            <input class="btn btn-danger" type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)" 
                                                   onclick ="deleteCaseSettingRow(@uc.Id)" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                                            <input type="hidden" id="deleteCaseSettingsId" value="@uc.Id" />
                                            <input type="hidden" id="userGroup" value="@uc.UserGroup" />                                                                                         
                                        </td>
                                    </tr>                                           
                                }
                            }
                        </tbody>
                    </table>                    
                </div>
            </div>
            
        </div>                
    </div>
</form>

<script type="text/javascript">    

    $(function () {        
        $("#customerCaseSum tbody").sortable(
            {                
                items: "> tr:not(:first)",                
                update: function (event, ui) {
                    //var elements = document.getElementsByClassName('SortableRow');
                    var elements = document.querySelectorAll('.SortableRow');
                    console.log('Count:' + elements.length.toString());
                    var newOrder = "";
                    for (var i = 0; i < elements.length; ++i) {
                        var item = elements[i];              
                        newOrder += item.id.toString() + "|" ;                        
                    }
                    console.log(newOrder);
                    $.post('/cases/SortCaseSettingColumn/' + '?customerId=' + '@Model.CustomerId.ToString()' + '&userId=' + '@Model.UserId.ToString()' +
                                                             '&sortIds=' + newOrder, function (result) {
                        $("#colsetting_result").html(result);
                    });
                }                
            });

        $("#customerCaseSum tbody").disableSelection();
    });


    function addCaseSettingRow() {                       
        $.post('/cases/AddCaseSettingColumn/' + '?customerId=' + '@Model.CustomerId.ToString()' + '&userId=' + '@Model.UserId.ToString()' + 
            '&labellist=' + $("#labellist").val() + '&linelist=1' + //+ $("#linelist").val() +
            '&minWidthValue=' + $("#minWidthValue").val() + '&colOrderValue=' + $("#colOrderValue").val() + '&userGroup= 4 ' , function (result) {
                $("#colsetting_result").html(result);
           });
    }

    function deleteCaseSettingRow(id) {                
        $.post('/cases/DeleteRowFromCaseSettings/' + id + '?userId=' + '@Model.UserId.ToString()' + '&customerId=' + '@Model.CustomerId.ToString()', 
               function(result) {$("#colsetting_result").html(result);}
              );
    }

</script>
