@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel 
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions

@if(Model.case_ != null)
{
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#fragment-1">@Translation.Get("Ärende", Enums.TranslationSource.TextTranslation)
                        @if(Model.case_.Id != 0)
                        {@Model.case_.CaseNumber }
                    </a>
                </li>
                @if(Model.CaseIsLockedByUserId > 0)
                {
                    <li class="notice">
                        <a>@Translation.Get("OBS! Ärendet är öppnat av", Enums.TranslationSource.TextTranslation)&nbsp; @Model.CaseIsLockedByUserName</a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    <div class="container">
                        @Html.HiddenFor(model => model.case_.Id)
                        @Html.HiddenFor(model => model.case_.CaseGUID)
                        @Html.HiddenFor(model => model.case_.Customer_Id)
                        @Html.HiddenFor(model => model.case_.User_Id)
                        @Html.HiddenFor(model => model.case_.RegLanguage_Id)
                        @Html.HiddenFor(model => model.case_.IpAddress)
                        @Html.HiddenFor(model => model.case_.Deleted)
                        @Html.HiddenFor(model => model.case_.RegistrationSource)
                        @Html.HiddenFor(model => model.DepartmentFilterFormat)
                        @Html.HiddenFor(model => model.case_.RegUserDomain)
                        @Html.HiddenFor(model => model.case_.RegUserId)
                        @Html.HiddenFor(model => model.case_.CaseNumber)
                        @Html.HiddenFor(model => model.case_.ProductAreaSetDate)
                        @Html.HiddenFor(model => model.case_.LockCaseToWorkingGroup_Id)
                        @Html.HiddenFor(model => model.case_.FinishingDate)
                        @Html.HiddenFor(model => model.case_.ProductAreaQuestionVersion_Id)
                        @Html.HiddenFor(model => model.case_.LeadTime)
                        @Html.HiddenFor(model => model.case_.CaseCleanUp_Id)
                        @Html.HiddenFor(model => model.case_.RelatedCaseNumber)
                        @Html.HiddenFor(model => model.case_.ApprovedDate)
                        @Html.HiddenFor(model => model.case_.ApprovedBy_User_Id)
                        @Html.HiddenFor(model => model.case_.ApprovedBy_User_Id)
                        @Html.HiddenFor(model => model.case_.FollowUpDate)
                        @Html.HiddenFor(model => model.case_.ExternalTime)
                        @Html.HiddenFor(model => model.CaseKey)
                        @Html.HiddenFor(model => model.LogKey)
                        @Html.HiddenFor(model => model.CaseMailSetting.SendMailAboutNewCaseTo)
                        @Html.HiddenFor(model => model.CaseMailSetting.HelpdeskMailFromAdress)
                        @Html.HiddenFor(model => model.CaseMailSetting.AbsoluterUrl)
                        @Html.HiddenFor(model => model.CaseMailSetting.DontConnectUserToWorkingGroup)
                        @Html.Hidden("WriteTextToExternalNote", Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.tblLog_Text_External.ToString()))

                        <div style="@Model.caseFieldSettings.displayUserInfoHtml()" >
                            <h4>@Translation.Get("Användarinformation", Enums.TranslationSource.TextTranslation)</h4>
                            <div class="row">
                                <div class="span12">
                                    <table class="tableform">
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.ReportedBy.ToString())">
                                            <td class="span3">
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.ReportedBy.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.ReportedBy.ToString()).Required == 1)
                                                {                                                
                                                    <span class="mandatorystar">*</span>
                                                } <!-- <a rel="tooltip" data-toggle="tooltip" class="icon-info-sign icon-blue" title="Helptext about notifier"></a> -->
                                            </td>
                                            <td class="span4">
                                                @Html.TextBoxFor(model => model.case_.ReportedBy, new { maxlength = "40", autocomplete = "Off" })
                                            </td>
                                            <td class="span5">
                                                <!-- <a href="#" id="AddNotifier" class="btn">@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)</a> -->
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Persons_Name.ToString())">
                                            <td class="span3">
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.Persons_Name.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Persons_Name.ToString()).Required == 1)
                                                {                                                
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td class="span4">
                                                @Html.TextBoxFor(model => model.case_.PersonsName, new { maxlength = "50" })
                                            </td>
                                            <td class="span5"></td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Persons_EMail.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.Persons_EMail.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Persons_EMail.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.case_.PersonsEmail, new { maxlength = "100" })
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Persons_Phone.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.Persons_Phone.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Persons_Phone.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.case_.PersonsPhone, new { maxlength = "30" })
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Persons_CellPhone.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.Persons_CellPhone.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Persons_CellPhone.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.case_.PersonsCellphone, new { maxlength = "30" })
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Region_Id.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.Region_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Region_Id.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                <select id="case__Region_Id" name="case_.Region_Id">
                                                    <option value="">&nbsp;</option>
                                                    @if(Model.regions != null)
                                                    {
                                                        foreach(var e in Model.regions.Where(e => e.IsActive == 1 || Model.case_.Region_Id == e.Id))
                                                        {
                                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Region_Id.ToString()) >@e.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Department_Id.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.Department_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Department_Id.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                <select id="case__Department_Id" name="case_.Department_Id">
                                                    <option value="">&nbsp;</option>
                                                    @if(Model.departments != null)
                                                    {
                                                        foreach(var e in Model.departments.Where(e => e.IsActive == 1 || Model.case_.Department_Id == e.Id).Where(e => Model.case_.Region_Id == e.Region_Id || !Model.case_.Region_Id.IntHasValue()))
                                                        {
                                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Department_Id.ToString())>@e.DepartmentDescription(Model.DepartmentFilterFormat)</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.OU_Id.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.OU_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.OU_Id.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                <select id="case__Ou_Id" name="case_.Ou_Id">
                                                    <option value="">&nbsp;</option>
                                                    @if(Model.ous != null)
                                                    {
                                                        foreach(var e in Model.ous.Where(e => e.IsActive == 1 || Model.case_.OU_Id == e.Id).Where(e => Model.case_.Department_Id == e.Department_Id || !Model.case_.Department_Id.IntHasValue()))
                                                        {
                                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.OU_Id.ToString()) >@e.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Place.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.Place.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Place.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.case_.Place, new { maxlength = "100" })
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.UserCode.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.UserCode.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.UserCode.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.case_.UserCode, new { maxlength = "20" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="@Model.caseFieldSettings.displayComputerInfoHtml()">
                            <h4>@Translation.Get("Datorinformation", Enums.TranslationSource.TextTranslation)</h4>
                            <div class="row">
                                <div class="span12">
                                    <table class="tableform">
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.InventoryNumber.ToString())">
                                            <td class="span3">
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.InventoryNumber.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.InventoryNumber.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td class="span4">
                                                @Html.TextBoxFor(model => model.case_.InventoryNumber, new { maxlength = "20", autocomplete = "Off" })
                                            </td>
                                            <td class="span5"></td>
                                        </tr>
                                        <tr @Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.ComputerType_Id.ToString())>
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.ComputerType_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.case_.InventoryType, new { maxlength = "50" })
                                            </td>
                                        </tr>
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.InventoryLocation.ToString())">
                                            <td>
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.InventoryLocation.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                                @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.InventoryLocation.ToString()).Required == 1)
                                                {
                                                    <span class="mandatorystar">*</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.case_.InventoryLocation, new { maxlength = "100" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <h4>@Translation.Get("Ärendeinformation", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    @if(Model.case_.Id != 0)
                                    {
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.CaseNumber.ToString())">
                                            <td class="span3">
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.CaseNumber.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            </td>
                                            <td class="span4">
                                                @Model.case_.CaseNumber
                                            </td>
                                            <td class="span5"></td>
                                        </tr>                                        
                                        <tr>
                                            <td>
                                                @Translation.Get("Registreringsdatum", Enums.TranslationSource.TextTranslation)
                                            </td>
                                            <td>
                                                @Model.case_.RegTime
                                            </td>
                                        </tr>                                             
                                        <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.User_Id.ToString())">
                                            <td class="span3">
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.User_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            </td>
                                            <td class="span4">
                                                @if(Model.RegByUser != null)
                                                {    
                                                    <span>@Model.RegByUser.FirstName @Model.RegByUser.SurName</span>
                                                }
                                                &nbsp;(@Model.case_.IpAddress)  
                                            </td>
                                            <td class="span5"></td>
                                        </tr>                                        
                                    }
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td colspan="2">
                                            <div id="divCaseType" class="btn-group">
                                                <div class="btn" id="divBreadcrumbs_CaseType">@Model.ParantPath_CaseType</div>
                                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
                                                    @Html.CaseTypeDropdownButtonString(Model.caseTypes)
                                                </ul>                                                
                                                <input type="hidden" id="case__CaseType_Id" name="case_.CaseType_Id" value="@Model.case_.CaseType_Id.supressZero()" />

                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.System_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.System_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.System_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__System_Id" name="case_.System_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.systems != null)
                                                {
                                                    foreach(var e in Model.systems)
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.System_Id.ToString()) >@e.SystemName</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Urgency_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Urgency_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Urgency_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case_.Urgency_Id" name="case_.Urgency_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.urgencies != null)
                                                {
                                                    foreach(var e in Model.urgencies)
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Urgency_Id.ToString()) >@e.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Impact_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Impact_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Impact_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__Impact_Id" name="case_.Impact_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.impacts != null)
                                                {
                                                    foreach(var e in Model.impacts)
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Impact_Id.ToString()) >@e.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Category_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Category_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Category_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__Category_Id" name="case_.Category_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.categories != null)
                                                {
                                                    foreach(var e in Model.categories.Where(e => e.IsActive == 1 || Model.case_.Category_Id == e.Id))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Category_Id.ToString()) >@e.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Supplier_Id.ToString())">
                                        <td>
                                            @if(Model.countries != null)
                                            {
                                                @Translation.Get("Land", Enums.TranslationSource.TextTranslation)<span>/</span>
                                            }
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Supplier_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Supplier_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        @if(Model.countries != null)
                                        {
                                            <td>
                                                <select id="CountryId" name="CountryId">
                                                    <option value="">&nbsp;</option>
                                                    @foreach(var e in Model.countries.Where(e => e.IsActive == 1 || Model.CountryId == e.Id))
                                                    {
                                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.CountryId.ToString()) >@e.Name</option>
                                                    }
                                                </select>
                                            </td>                       
                                        }
                                        <td>
                                            <select id="case__Supplier_Id" name="case_.Supplier_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.suppliers != null)
                                                {
                                                    foreach(var e in Model.suppliers.Where(e => e.IsActive == 1 || Model.case_.Supplier_Id == e.Id).Where(e => Model.CountryId.IntHasValue() && (e.Country_Id == Model.CountryId && e.Country_Id.HasValue)))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Supplier_Id.ToString()) >@e.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.InvoiceNumber.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.InvoiceNumber.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.InvoiceNumber.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.case_.InvoiceNumber, new { maxlength = "50" })
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.ReferenceNumber.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.ReferenceNumber.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.ReferenceNumber.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.case_.ReferenceNumber, new { maxlength = "200" })
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Caption.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Caption.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Caption.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.case_.Caption, new { maxlength = "60" })
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Description.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Description.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Description.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.case_.Description)
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Miscellaneous.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Miscellaneous.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Miscellaneous.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.case_.Miscellaneous)
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td colspan="2">
                                            <div id="divProductArea" class="btn-group">
                                                <div class="btn" id="divBreadcrumbs_ProductArea">@Model.ParantPath_ProductArea</div>
                                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
                                                    @Html.ProductAreaDropdownButtonString(Model.productAreas)
                                                </ul>
                                                @Html.HiddenFor(model => model.case_.ProductArea_Id)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.ContactBeforeAction.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.ContactBeforeAction.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.ContactBeforeAction.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" name="case_.ContactBeforeAction" @(Model.case_.ContactBeforeAction == 1 ? "checked=checked" : "") value="1"/>
                                            <input type="hidden" name="case_.ContactBeforeAction" value="0" />
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.SMS.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.SMS.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.SMS.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" name="case_.SMS" @(Model.case_.SMS == 1 ? "checked=checked" : "") value="1"/>
                                            <input type="hidden" name="case_.SMS" value="0" />
                                            <span class="lbl">@Translation.Get("Skicka SMS när ärendet avslutas", Enums.TranslationSource.TextTranslation).</span>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.AgreedDate.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.AgreedDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.AgreedDate.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="input-append date dateie" data-date="">
                                                @Html.TextBoxFor(model => model.case_.AgreedDate, new { maxlength = "10", Class = "span2", @Value = Model.case_.AgreedDate.HasValue ? Model.case_.AgreedDate.Value.ToString(DateExtensions.GetDateFormat()) : string.Empty })<span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Available.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Available.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Available.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.case_.Available, new { maxlength = "100" })
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Cost.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Cost.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>@Translation.Get("Artikelkostnad", Enums.TranslationSource.TextTranslation)<br />
                                                        @Html.TextBoxFor(model => model.case_.Cost, new { maxlength = "7", Class = "inputw50" })
                                                    </td>
                                                    <td>@Translation.Get("Övrig kostnad", Enums.TranslationSource.TextTranslation)<br />
                                                        @Html.TextBoxFor(model => model.case_.OtherCost, new { maxlength = "7", Class = "inputw50" })
                                                    </td>
                                                    <td>@Translation.Get("Valuta", Enums.TranslationSource.TextTranslation)<br />
                                                        <select id="case__Currency" name="case_.Currency" class="inputw100">
                                                            <option value="">&nbsp;</option>
                                                            @if(Model.currencies != null)
                                                            {
                                                                foreach(var e in Model.currencies)
                                                                {
                                                                <option value="@e.Code" @e.Code.ValueIsSelected(Model.case_.Currency) >@e.Code</option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Filename.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Filename.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                        </td>
                                        <td colspan="2">
                                            @if(Model.EditMode)
                                            {
                                                <a href="#upload_files_popup" role="button" class="btn" data-toggle="modal">@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)</a>
                                            }
                                            <div id="divCaseFiles">
                                                @Html.Partial("_CaseFiles", Model.CaseFilesModel)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span3"></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <h4>@Translation.Get("Ärendehantering", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString())">
                                        <td class="span3">
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td class="span9">
                                            <select id="case__WorkingGroup_Id" name="case_.WorkingGroup_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.workingGroups != null)
                                                {
                                                    foreach(var e in Model.workingGroups.Where(e => e.IsActive == 1 || Model.case_.WorkingGroup_Id == e.Id))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.WorkingGroup_Id.ToString()) >@e.WorkingGroupName</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__CaseResponsibleUser_Id" name="case_.CaseResponsibleUser_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.users != null)
                                                {
                                                    foreach(var e in Model.users.Where(e => e.IsActive == 1 && e.Performer == 1 || Model.case_.CaseResponsibleUser_Id == e.Id))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.CaseResponsibleUser_Id.ToString()) >@e.SurName @e.FirstName</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__Performer_User_Id" name="case_.Performer_User_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.performers != null)
                                                {
                                                    foreach(var e in Model.performers.Where(e => e.IsActive == 1 && e.Performer == 1 || Model.case_.Performer_User_Id == e.Id))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Performer_User_Id.ToString()) >@e.SurName @e.FirstName</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Priority_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Priority_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Priority_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__Priority_Id" name="case_.Priority_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.priorities != null)
                                                {
                                                    foreach(var e in Model.priorities.Where(e => e.IsActive == 1 || Model.case_.Priority_Id == e.Id))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Priority_Id.ToString()) >@Translation.Get(e.Name, Enums.TranslationSource.TextTranslation)</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Status_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Status_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.Status_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case_.Status_Id" name="case_.Status_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.statuses != null)
                                                {
                                                    foreach(var e in Model.statuses.Where(e => e.IsActive == 1 || Model.case_.Status_Id == e.Id))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Status_Id.ToString())>@Translation.Get(e.Name, Enums.TranslationSource.TextTranslation)</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__StateSecondary_Id" name="case_.StateSecondary_Id">
                                                <option value="">&nbsp;</option>
                                                @if(Model.stateSecondaries != null)
                                                {
                                                    foreach(var e in Model.stateSecondaries.Where(e => e.IsActive == 1 || Model.case_.StateSecondary_Id == e.Id))
                                                    {
                                                    <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.StateSecondary_Id.ToString()) >@Translation.Get(e.Name, Enums.TranslationSource.TextTranslation)</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    @if(Model.projects != null)
                                    {
                                        if(Model.projects.Any())
                                        {                                                                                        
                                        <tr>
                                            <td>
                                                @Translation.Get("Projekt", Enums.TranslationSource.TextTranslation)
                                            </td>
                                            <td>
                                                <select id="case__Project_Id" name="case_.Project_Id">
                                                    <option value="">&nbsp;</option>
                                                    @if(Model.projects != null)
                                                    {
                                                        foreach(var e in Model.projects.Where(e => e.IsActive == 1 || Model.case_.Project_Id == e.Id))
                                                        {
                                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Project_Id.ToString()) >@e.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        }
                                    }
                                    @if(Model.problems != null)
                                    {
                                        if(Model.problems.Any())
                                        {                                                                                        
                                        <tr>
                                            <td>
                                                @Translation.Get("ITIL Problem", Enums.TranslationSource.TextTranslation)
                                            </td>
                                            <td>
                                                <select id="case__Problem_Id" name="case_.Problem_Id">
                                                    <option value="">&nbsp;</option>
                                                    @foreach(var e in Model.problems.Where(e => e.FinishingDate == null || Model.case_.Problem_Id == e.Id))
                                                    {
                                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Problem_Id.ToString()) >@e.Name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <div id="divProblemResponsible" style="display: none">
                                                    @Translation.Get("Ansvarig", Enums.TranslationSource.TextTranslation)
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    }
                                    @if(Model.changes != null)
                                    {
                                        if(Model.changes.Any())
                                        {                                           
                                        <tr>
                                            <td>
                                                @Translation.Get("Ändring", Enums.TranslationSource.TextTranslation)
                                            </td>
                                            <td>
                                                <select id="case__Change_Id" name="case_.Change_Id">
                                                    <option value="">&nbsp;</option>
                                                    @foreach(var e in Model.changes)
                                                    {
                                                        <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.Change_Id.ToString()) >@e.ChangeTitle</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        }
                                    }
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.PlanDate.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.PlanDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.PlanDate.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="input-append date dateie" data-date="">
                                                @Html.TextBoxFor(model => model.case_.PlanDate, new { maxlength = "10", Class = "span2", @Value = Model.case_.PlanDate.HasValue ? Model.case_.PlanDate.Value.ToString(DateExtensions.GetDateFormat()) : string.Empty })<span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.WatchDate.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.WatchDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.WatchDate.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="input-append date dateie" data-date="">
                                                @Html.TextBoxFor(model => model.case_.WatchDate, new { maxlength = "10", Class = "span2", @Value = Model.case_.WatchDate.HasValue ? Model.case_.WatchDate.Value.ToString(DateExtensions.GetDateFormat()) : string.Empty })<span class="add-on"><i class="icon-calendar"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.Verified.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.Verified.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                        </td>
                                        <td>
                                            <input type="checkbox" name="case_.Verified" @(Model.case_.Verified == 1 ? "checked=checked" : "") value="1"/>
                                            <input type="hidden" name="case_.Verified" value="0" />
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.VerifiedDescription.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.VerifiedDescription.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.VerifiedDescription.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td title="@Model.case_.VerifiedDescription">
                                            @Html.TextBoxFor(model => model.case_.VerifiedDescription, new { maxlength = "200" })
                                        </td>
                                    </tr>
                                    <tr style="@Model.caseFieldSettings.displayHtml(GlobalEnums.TranslationCaseFields.SolutionRate.ToString())">
                                        <td>
                                            @Translation.Get(GlobalEnums.TranslationCaseFields.SolutionRate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            @if(Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.SolutionRate.ToString()).Required == 1)
                                            {
                                                <span class="mandatorystar">*</span>
                                            }
                                        </td>
                                        <td>
                                            <select id="case__SolutionRate" name="case_.SolutionRate">
                                                <option value="">&nbsp;</option>
                                                @for(var i = 10; i < 110; i = i + 10)
                                                {
                                                    <option value="@i.ToString()" @i.IdIsSelected(Model.case_.SolutionRate) >@i.ToString()</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        @if(Model.case_.Id != 0)
                        {
                            <div class="container">
                                <ul class="nav nav-tabs" id="logandhistorytabs">
                                    <li class="active"><a href="#logtab">@Translation.Get("Ärendelogg", Enums.TranslationSource.TextTranslation)</a></li>
                                    <li><a href="#historytab">@Translation.Get("Historik", Enums.TranslationSource.TextTranslation)</a></li>
                                </ul>
                                <div class="tab-content">
                                    @Html.Partial("_CaseLog", Model)
                                    @Html.Partial("_CaseHistory", Model)
                                </div>
                            </div>
                        }
                        @if(Model.case_.FinishingDate.HasValue)
                        {
                            <h4>
                                @Translation.Get("Status", Enums.TranslationSource.TextTranslation)
                            </h4>    
                            <div class="row">
                                <div class="span12">
                                    <table class="tableform">
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.FinishingDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            </td>
                                            <td class="span4">
                                                @Model.case_.FinishingDate.Value.FormatDate() 
                                            </td>
                                            <td class="span5"></td>
                                        </tr>
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get(GlobalEnums.TranslationCaseFields.FinishingDescription.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id)
                                            </td>
                                            <td class="span4">
                                                @Model.case_.FinishingDescription
                                            </td>
                                            <td class="span5"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            if(Model.CaseIsLockedByUserId == 0)
                            {
                            @Html.Partial("_CaseLogInput", Model)
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var validator = $("#target").validate({
        ignore: "",
        rules: {
            "case_.ReportedBy": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.ReportedBy.ToString())")
            },
            "case_.PersonsName": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Persons_Name.ToString())")
            },
            "case_.PersonsEmail": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Persons_EMail.ToString())")
            },
            "case_.PersonsCellPhone": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Persons_CellPhone.ToString())")
            },
            "case_.PersonsPhone": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Persons_Phone.ToString())")
            },
            "case_.Region_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Region_Id.ToString())")
            },
            "case_.Department_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Department_Id.ToString())")
            },
            "case_.OU_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.OU_Id.ToString())")
            },
            "case_.Place": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Place.ToString())")
            },
            "case_.UserCode": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.UserCode.ToString())")
            },
            "case_.InventoryNumber": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.InventoryNumber.ToString())")
            },
            "case_.InventoryLocation": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.InventoryLocation.ToString())")
            },
            "case_.ComputerType_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.ComputerType_Id.ToString())")
            },
            "case_.ProductArea_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString())")
            },
            "case_.CaseType_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString())")
            },
            "case_.System_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.System_Id.ToString())")
            },
            "case_.Urgency_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Urgency_Id.ToString())")
            },
            "case_.Impact_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Impact_Id.ToString())")
            },
            "case_.Category_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Category_Id.ToString())")
            },
            "case_.Supplier_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Supplier_Id.ToString())")
            },
            "case_.InvoiceNumber": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.InvoiceNumber.ToString())")
            },
            "case_.ReferenceNumber": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.ReferenceNumber.ToString())")
            },
            "case_.Caption": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Caption.ToString())")
            },
            "case_.Description": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Description.ToString())")
            },
            "case_.Miscellaneous": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Miscellaneous.ToString())")
            },
            "case_.AgreedDate": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.AgreedDate.ToString())")
            },
            "case_.Available": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Available.ToString())")
            },
            "case_.WorkingGroup_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString())")
            },
            "case_.Performer_User_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString())")
            },
            "case_.CaseResponsible_User_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString())")
            },
            "case_.Priority_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Priority_Id.ToString())")
            },
            "case_.Status_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.Status_Id.ToString())")
            },
            "case_.StateSecondary_Id": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString())")
            },
            "case_.PlanDate": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.PlanDate.ToString())")
            },
            "case_.WatchDate": {
                required: FieldIsRequired("@Model.caseFieldSettings.CaseFieldSettingRequiredCheck(GlobalEnums.TranslationCaseFields.WatchDate.ToString())")
            },
        },
        messages: {
            "case_.ReportedBy": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.ReportedBy.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.PersonsName": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Persons_Name.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.PersonsEmail": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Persons_EMail.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.PersonsCellPhone": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Persons_CellPhone.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.PersonsPhone": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Persons_Phone.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Region_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Region_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Department_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Department_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.OU_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.OU_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Place": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Place.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.UserCode": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.UserCode.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.InventoryNumber": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.InventoryNumber.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.InventoryLocation": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.InventoryLocation.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.ComputerType_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.ComputerType_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.ProductArea_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.ProductArea_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.CaseType_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.CaseType_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.System_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.System_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Urgency_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Urgency_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Impact_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Impact_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Category_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Category_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Supplier_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Supplier_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.InvoiceNumber": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.InvoiceNumber.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.ReferenceNumber": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Category_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Caption": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Caption.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Description": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Description.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Miscellaneous": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Miscellaneous.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.AgreedDate": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.AgreedDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Available": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Available.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.WorkingGroup_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.WorkingGroup_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Performer_User_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Performer_User_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.CaseResponsible_User_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.CaseResponsibleUser_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Priority_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Priority_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.Status_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Status_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.StateSecondary_Id": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.StateSecondary_Id.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.PlanDate": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.PlanDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
            "case_.WatchDate": {
                required: "@Translation.Get(GlobalEnums.TranslationCaseFields.WatchDate.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            },
        },
        //errorPlacement: function (error, element) {
        //    alert(error.text());
        //},
        submitHandler: function (form) {
            form.submit();
        }
    });

    function FieldIsRequired(value) {
        var ret = false;
        if (value == '1') {
            ret = true;
        }
        return ret;
    }

</script>


