@using DH.Helpdesk.BusinessData.Models.Logs.Output
@using DH.Helpdesk.Common.Enums.Logs
@model DH.Helpdesk.Web.Models.Case.LogNoteFilesViewModel

@{ var currentLog = Model.CurrentLog; }

@functions
{
    string BuildCaseFileLinkVD(string fileName)
    {
        return Model.FilesUrlBuilder.BuildCaseFileLinkVD(Model.CaseNumber, fileName);
    }

    string BuildLogFileLinkVD(int logId, string fileName, LogFileType logType)
    {
        return Model.FilesUrlBuilder.BuildLogFileLinkVD(logId,  fileName, logType);
    }

    //string GetFileIcon(LogFileOverview logFileOverview)
    //{
    //    var icon = "";
    //}
}

@if (currentLog.LogFiles != null)
{
    foreach (var l in currentLog.LogFiles)
    {
        <div>
            <p>
                @if (Model.CaseFiles.VirtualDirectory)
                {
                    if (l.CaseId.HasValue)
                    {
                        <a target="_blank" class="isExisted" href="@BuildCaseFileLinkVD(l.FileName)"><i class="icon- attachedFile"></i>@l.FileName</a>
                    }
                    else
                    {
                        if (l.LogId.HasValue)
                        {
                            <a target="_blank" class="isExisted" href="@BuildLogFileLinkVD(l.LogId.Value, l.FileName, l.LogType)"><i class="icon- attachedFile"></i> @l.FileName</a>
                        }
                        else
                        {
                            <a target="_blank" class="isExisted" href="@BuildLogFileLinkVD(currentLog.Id, l.FileName, l.LogType)"><i class="icon-file"></i> @l.FileName</a>
                        }
                    }
                }
                else
                {
                    if (l.CaseId.HasValue)
                    {
                        <a target="_blank" class="isExisted" href="@BuildCaseFileLinkVD(l.FileName)"><i class="icon- attachedFile"></i>@l.FileName</a>
                    }
                    else
                    {
                        if (l.LogId.HasValue)
                        {                            
                            <a target="_blank" class="isExisted" href="@BuildLogFileLinkVD(l.LogId.Value, l.FileName, l.LogType)"><i class="icon- attachedFile"></i> @l.FileName</a>
                        }
                        else
                        {
                            <a target="_blank" class="isExisted" href="@Url.Action("DownloadLogFile", new { id = currentLog.Id, fileName = l.FileName })"><i class="icon-file"></i> @l.FileName</a>
                        }
                    }
                }
            </p>
        </div>
    }
}
