@model DH.Helpdesk.Web.Models.Case.CaseMoveModel

<div class="modal-header">
<strong>@Translation.Get("Flytta", Enums.TranslationSource.TextTranslation) @Translation.Get("ärende", Enums.TranslationSource.TextTranslation)</strong>
</div>
<div class="modal-body">
    <p>
        @Translation.Get("Eventuella ändringar måste sparas innan du flyttar ärendet. Vill du flytta ärendet nu eller avbryta", Enums.TranslationSource.TextTranslation)?                
    </p>
    <p>
        @Translation.Get("Kund", Enums.TranslationSource.TextTranslation): 
        <select id="moveCaseToCustomerId" name="moveCaseToCustomerId" >
        @if (Model.Customers.Any())
        {
            var nonUserCustomers = Model.NonUserCustomers;
            if (nonUserCustomers.Any())
            {
                <optgroup label="Inner">
                    @foreach (var cus in Model.UserCustomers)
                    {
                        <option value="@cus.Id">@cus.Name</option>
                    }
                </optgroup>

                <optgroup label="External">
                    @foreach (var cus in Model.NonUserCustomers)
                    {
                        <option data-external="1" value="@cus.Id">@cus.Name</option>
                    }
                </optgroup>
            }
            else
            {
                foreach (var cus in Model.Customers.Where(x => x.Id != Model.CurrentCustomerId))
                {
                    <option value="@cus.Id">@cus.Name</option>
                }    
            }
        }
        </select>
    </p>
</div>
<div class="modal-footer">
    <button id="btnMoveCase"  class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Flytta", Enums.TranslationSource.TextTranslation)</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)</button>
</div>
