@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel 
@using DH.Helpdesk.BusinessData.OldComponents
<div class="modal-header">
<strong>@Translation.Get("Flytta", Enums.TranslationSource.TextTranslation) @Translation.Get("ärende", Enums.TranslationSource.TextTranslation)</strong>
</div>
<div class="modal-body">8
    <p>
        @Translation.Get("Eventuella ändringar måste sparas innan du flyttar ärendet. Vill du flytta ärendet nu eller avbryta", Enums.TranslationSource.TextTranslation)?                
    </p>
    <p>
        @Translation.Get("Kund", Enums.TranslationSource.TextTranslation): 
        <select id="moveCaseToCustomerId" name="moveCaseToCustomerId" >
        @if (Html.MasterModel().Customers != null)
        {
            foreach (var cus in Html.MasterModel().Customers)
            {
                if (cus.Id != Model.case_.Customer_Id)
                {
                <option value="@cus.Id">@cus.Name</option>                    
                }
            }
        }  
        </select>
    </p>
</div>
<div class="modal-footer">
    <button id="btnMoveCase" onclick="moveCase(@Model.case_.Id)"  class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Flytta", Enums.TranslationSource.TextTranslation)</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)</button>
</div>