@model DH.Helpdesk.Web.Models.Case.CaseMoveModel

<div class="modal-header">
<strong>@Translation.Get("Flytta", Enums.TranslationSource.TextTranslation) @Translation.Get("ärende", Enums.TranslationSource.TextTranslation)</strong>
</div>
<div class="modal-body">
    <p>
        @Translation.Get("Eventuella ändringar måste sparas innan du flyttar ärendet. Vill du flytta ärendet nu eller avbryta", Enums.TranslationSource.TextTranslation)?                
    </p>
    <p>
        @Translation.Get("Kund", Enums.TranslationSource.TextTranslation): 
        <select id="moveCaseToCustomerId" name="moveCaseToCustomerId" >
            @if (Model.Customers.Any())
            {
                foreach (var cus in Model.Customers)
                {
                    <option data-external="@(cus.IsUserCustomer ? "0" : "1")" value="@cus.Id">@cus.Name</option>
                }
            }
        </select>
    </p>
    <div id="externalCustomerNote" style="display:none">
        <p class="dh-note">Note: Selected customer is not from your access list and case will not be available after it has been moved.</p>
    </div>
</div>
<div class="modal-footer">
    <button id="btnMoveCase"  class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Flytta", Enums.TranslationSource.TextTranslation)</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)</button>
</div>
