@using System.Web.Script.Serialization
@using DH.Helpdesk.Web
@model DH.Helpdesk.Web.Models.Case.JsonCaseIndexViewModel
@{
    var jsSerializer = new JavaScriptSerializer();
    var perPageText = Translation.GetForJS("Antal per sida");
    var perShowingText = Translation.GetForJS("Visar sida");
}
<script type="text/javascript">
    $(function () {
        var pageSettings = @Html.Raw(jsSerializer.Serialize(Model.PageSettings));
        pageSettings.perPageText = '@perPageText';
        pageSettings.perShowingText = '@perShowingText';
        pageSettings.curUserId = '@(SessionFacade.CurrentUser != null ? System.Web.HttpUtility.JavaScriptStringEncode(SessionFacade.CurrentUser.UserId.ToLower()): string.Empty)';

        $("#case_connect_to_parent_btn").on("click", function () {
            $("#tomerge").val('false');
            $("#dontSendMailToNotifier").val('false');
            var $src = $(this);
            var $target = $("#divConnectParentToParent");
            $target.attr("data-src", $src.attr("data-src"));
            $target.modal("show");
            LoadConnectToParent(pageSettings);
        });

        $("#merge_case_to_parent").on("click", function () {
            var sendEmail = $("#autoCheckNotifyerCheckbox").val();
            if (sendEmail == "True") {
                $("#dontSendMailToNotifier").val('false');
            } else {
                $("#dontSendMailToNotifier").val('true');
            }
            $("#tomerge").val('true');
            var $src = $(this);
            var $target = $("#divConnectParentToParent");
            $target.attr("data-src", $src.attr("data-src"));
            $target.modal("show");
            LoadConnectToParent(pageSettings);
        });

    });
</script>

<button type="button" class="close" data-dismiss="modal" style="margin-right: 5px;">&times;</button>
<div id="case_connect_to_parent_popup">
    <div class="content modalpopup">
        <div>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    @Html.Partial("_Search", Model.CaseSearchFilterData)
                    <div>@Translation.GetCoreTextTranslation("Poster i sökresultat"): <span data-field="TotalAmountCases"></span><span id="caseLimitInfo" style="display: none;">&nbsp;(@Translation.GetCoreTextTranslation("Antal ärende som visas är begränsade till 500."))</span></div>
                    <div class="container" id="search_result">
                        <table id="caseResults" class="table table-striped table-bordered table-hover table-cases"><thead></thead><tbody></tbody></table>
                        <div class="nofields-msg">@Translation.GetCoreTextTranslation("Inga standardkolumner har valts för din användare på denna kund, för att visa kolumner, klicka på fliken Inställningar och gå till Filter Ärendeöversikt")</div>
                        <div class="noavailablefields-msg">@Translation.GetCoreTextTranslation("Inga ärendefält har valts för denna kund, kontakta systemadministratören.")</div>
                        <div class="loading-msg">
                            <div class="content-wrapper">
                                <div class="loader">@Translation.GetCoreTextTranslation("Laddar...")</div>
                            </div>
                        </div>
                        <div class="no-data-msg">&nbsp;</div>
                        <div class="error-msg">@Html.Raw(string.Format(Translation.GetCoreTextTranslation("Ett fel inträffade, klicka") + " {0}" + Translation.GetCoreTextTranslation("här") + "{1} " + Translation.GetCoreTextTranslation("för att ladda om sidan."), "<a href=\"#refresh\" class=\"refresh-grid\">", "</a>"))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render(BundleConfig.ScriptNames.CaseConnectToParent)