
@using System.Web.Optimization
@using DH.Helpdesk.Web

@Scripts.Render(BundleConfig.ScriptNames.CaseIntLogEmailSearch)

<script type="text/javascript">
    $(function() {

        var toType = 1;
        var ccType = 2;

        $('#SendIntLogCase')
            .dialog({
                autoOpen: false,
                modal: false,
                resizable: false,
                heigth: 200,
                width: 350,
                dialogType: toType,
                buttons: [
                    {
                        text: '@Translation.GetForJS("Avbryt", Enums.TranslationSource.TextTranslation)',
                        click: function() {
                            $(this).dialog("close");
                            $("#casesIntLogSendInput").val("");
                        },
                        'class': 'btn'
                    }
                ],

                open: function() {
                    InitCaseIntLogSendSearch();
                }
            });
    });
</script>

<style type="text/css">
    .ui-dialog {
        overflow: visible !important;
    }
</style>

<div id="SendIntLogCase" title="@Translation.GetCoreTextTranslation("E-post")" class="overflow-visible">
    <label>
        <input id="searchIntSendToCheckboxWg" checked="checked" name="WorkingGroup" type="checkbox" value="true"> @Translation.GetCoreTextTranslation("Driftgrupp")
    </label>
    <label>
        <input id="searchIntSendToCheckboxInit" checked="checked" name="Initiator" type="checkbox" value="true"> @Translation.GetCoreTextTranslation("Anmälare")
    </label>
    <label>
        <input id="searchIntSendToCheckboxAdm" checked="checked" name="Administrator" type="checkbox" value="true"> @Translation.GetCoreTextTranslation("Handläggare")
    </label>
    <label>
        <input id="searchIntSendToCheckboxEg" checked="checked" name="EmailGroup" type="checkbox" value="true"> @Translation.GetCoreTextTranslation("E-postgrupp")
    </label>
    <br/>
@*    <input id="casesIntLogSendInput"/>*@
    <textarea cols="20" id="casesIntLogSendInput" ></textarea>
</div>
