@using System.Web.Optimization
@model DH.Helpdesk.Web.Models.Case.CaseByIdsViewModel

<div class="content">
    <div class="container">
        <div class="tab-content overflow-visible">
            <div class="tab-pane tab-pane-border active" id="mainTab">
                <input id="caseIds" type="hidden" value="@Model.CaseIds" />
                <input type="hidden" value="@Model.SortBy" id="hidSortBy" name="hidSortBy" />
                <input type="hidden" value="@Model.SortByAsc" id="hidSortByAsc" name="hidSortByAsc" />                              
                <div class="container" id="search_result">
                    @Html.Partial("_CaseRows", Model.SearchResult)
                </div>                                            
            </div>
        </div>        
    </div>
</div>
@Scripts.Render("~/bundles/cases/caseByIds")