@using System.Globalization
@using DH.Helpdesk.Web.Models.Case
@model CaseRemainingTimeViewModel

@{
    var columns = 1 + Model.Hours.Count + Model.Days.Count + (Model.MoreThenMaxDays != null ? 1 : 0);
}

<table class="table table-striped table-bordered table-hover case-remaining-time" data-field="caseRemainingTime">
    <thead>
        <tr>
            <td colspan="@columns">@Translation.Get("Antal ärenden med återstående åtgärdstid")</td>
        </tr>
        <tr>
            <th>@Translation.Get("Akut")</th>
            @foreach (var hour in Model.Hours)
            {
                if (!hour.TimeUntil.HasValue)
                {
                    <th>@string.Format("<{0} {1}", hour.Time, Translation.Get("h"))</th>
                }
                else
                {
                    if (hour.TimeUntil.Value < 23)
                    {
                        <th>@string.Format("<{0} {1}", hour.TimeUntil, Translation.Get("h"))</th>
                    }
                    else
                    {
                        <th>@string.Format("<24 {0}", Translation.Get("h"))</th>
                    }
                }
            }
            @foreach (var day in Model.Days)
            {
                <th>@string.Format("<{0} {1}", day.Time, Translation.Get("d"))</th>
            }
            @if (Model.MoreThenMaxDays != null)
            {
                <th>@string.Format(">={0} {1}", Model.MaxDays, Translation.Get("d"))</th>                
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@GetLinkForNumberOfCases(Model.Delayed)</td>
            @foreach (var hours in Model.Hours)
            {
                <td>@GetLinkForNumberOfCases(hours, true)</td>
            }
            @foreach (var day in Model.Days)
            {
                <td>@GetLinkForNumberOfCases(day)</td>
            }
            @if (Model.MoreThenMaxDays != null)
            {
                <td>@GetLinkForNumberOfCases(Model.MoreThenMaxDays)</td>
            }
            <td style="text-align:center !important;"><a href="#">@Translation.Get("Rensa")</a></td>
        </tr>
    </tbody>
</table>
@functions
{
    private MvcHtmlString GetLinkForNumberOfCases(CaseRemainingTimeItemViewModel model, bool hours = false)
    {
        
        //    return MvcHtmlString.Create(string.Format("<span data-remaining-time=\"{0}\" data-remaining-time-until=\"{4}\" data-remaining-time-max=\"{1}\" data-remaining-time-hours=\"{2}\">{3}</span>", 
        //                model.Time, 
        //                Model.MaxDays,
        //                hours,
        //                model.NumberOfCases,
        //                model.TimeUntil));
        //}
        if (model.NumberOfCases > 0)
        {
            return MvcHtmlString.Create(string.Format("<a href=\"#\" data-remaining-time=\"{0}\" data-remaining-time-until=\"{4}\" data-remaining-time-max=\"{1}\" data-remaining-time-hours=\"{2}\">{3}</a>",
                            model.Time,
                            Model.MaxDays,
                            hours,
                            model.NumberOfCases,
                            model.TimeUntil));
        }
        return MvcHtmlString.Create(model.NumberOfCases.ToString(CultureInfo.InvariantCulture));
    }
}
