@using System.Globalization
@using DH.Helpdesk.Web.Models.Case
@model CaseRemainingTimeViewModel

@{
    var columns = Model.Days.Count + 3;
}

<table class="table table-striped table-bordered table-hover" data-field="caseRemainingTime">
    <thead>
        <tr>
            <th colspan="@columns">@Translation.Get("Antal ärenden med återstående åtgärdstid")</th>
        </tr>
        <tr>
            <th>@Translation.Get("Akut")</th>
            <th>@string.Format("< {0}", 1)</th>
            @foreach (var day in Model.Days)
            {
                <th>@day.Time</th>
            }
            <th>@string.Format("> {0} {1}", Model.MaxDays, Translation.Get("dagar"))</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@GetLinkForNumberOfCases(Model.Delayed)</td>
            <td>@GetLinkForNumberOfCases(Model.LessThenOneDay)</td>
            @foreach (var day in Model.Days)
            {
                <td>@GetLinkForNumberOfCases(day)</td>
            }
            <td>@GetLinkForNumberOfCases(Model.MoreThenMaxDays)</td>
        </tr>
    </tbody>
</table>
@functions
{
    private MvcHtmlString GetLinkForNumberOfCases(CaseRemainingTimeItemViewModel model)
    {
        if (model.NumberOfCases > 0)
        {
            return MvcHtmlString.Create(string.Format("<a href=\"#\" data-remaining-time=\"{0}\" data-remaining-time-max=\"{1}\">{2}</a>", 
                        model.Time, 
                        Model.MaxDays,
                        model.NumberOfCases));
        }

        return MvcHtmlString.Create(model.NumberOfCases.ToString(CultureInfo.InvariantCulture));
    }
}
