@model dhHelpdesk_NG.Web.Models.CaseInputViewModel
@{
    ViewBag.Title = "Edit";
}

@section Scripts {
 <script type="text/javascript">

     function submitForm() {
         $("#target").submit();
     }

     $(document).ready(function () {
         CaseInitForm();
     });
     
    </script>
}

@if (Model != null)
{
    using (Html.BeginForm("edit", "cases", null, FormMethod.Post, new { id = "target" }))
    {    
    <div class="secnavs">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "edit", "cases", null, new { onclick = "submitForm();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Spara och Stäng", Enums.TranslationSource.TextTranslation), "edit", "cases", new { onclick = "submitForm();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation) + "/" + Translation.Get("Nytt ärende", Enums.TranslationSource.TextTranslation), "edit", "cases", new { onclick = "submitForm();return false;", @class = "btn" })</li>
                <li class="secspace"></li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", new {customerId = @Model.case_.Customer_Id}, new { @class = "btn" })</li>
                <li>
                    <div class="btn-group">
                        <button class="btn">Åtgärder</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kopiera</a></li>
                            <!--
                            <li><a href="#">Skapa ändring</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Skapa beställning</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Communication</a></li>
                                    <li><a href="#">PC</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <ul class="secnav">
                <li><a href="#" class="btn"><i class="icon-file"></i></a></li>
                <li><a href="#" class="btn"><i class="icon-th-large"></i></a></li>
                <li><a href="#" class="btn"><i class="icon-list"></i></a></li>
                <li><a href="#" class="btn"><i class="icon-chevron-left"></i></a></li>
                <li><a href="#" class="btn"><i class="icon-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="secnavs">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <select class="span1">
                        <option>SV</option>
                        <option>EN</option>
                    </select></li>
                <li class="secspace"></li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox"> @Translation.Get("Skicka ej mail till anmälaren", Enums.TranslationSource.TextTranslation)
                    </label>
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
    }
}