@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Common.Extensions.String
@using DH.Helpdesk.Web.Infrastructure

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        LogInitForm();

        $("a.isExisted").on("click", function (e) {
            var exists = $(this).checkUrlFileExists();
            if (!exists) {
                e.preventDefault();
                ShowToastMessage(window.parameters.fileExistError, "error");
            }
        });
    });
</script>
}

@if (Model != null)
{   
    ViewData.Add("readonlyLog", !Model.newLog);
    using (Html.BeginForm("editlog", "cases", null, FormMethod.Post, new { id = "target" }))
    {
        <div class="secnavs fixed">
            <div class="pull-left">
                <ul class="secnav">                
                    @if (Model.EditMode == Enums.AccessMode.FullAccess && !Model.newLog)
                    {
                        <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "deletelog", new { id = @Model.CaseLog.Id, caseId = @Model.case_.Id }, 
                        new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post", Enums.TranslationSource.TextTranslation) + "?" })</li>
                    }                    
                    @if (Model.newLog)
                    {
                        @*<li>@Html.ActionLink(Translation.GetCoreTextTranslation("Spara"), null, null, null, new { @class = "btn", id = "log-action-save" })</li>*@
                        <li><input type="submit" id = "log-action-save" class = "btn" value="@Translation.GetCoreTextTranslation("Spara")"> </li>
                        @*<li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "editlog", "cases", new { Id = Model.CaseLog.Id }, new { @class = "btn save", id = "case-action-save" })</li>*@
                        
                    }
                    else
                    {
                        <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Ändra"), "editlog", "cases", new { Id = @Model.CaseLog.Id, customerId = Model.case_.Customer_Id, newLog = true, editLog = false, isCaseReopened = Model.IsCaseReopened }, new { @class = "btn" })</li>
                    }
                    <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Stäng"), "edit", "cases", new { Id = @Model.case_.Id }, new { @class = "btn" })</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#fragment-1">@Translation.Get("Logg", Enums.TranslationSource.TextTranslation)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active editmode" id="logtab">
                        @Html.Partial("_CaseLogInput", Model)
                    </div>
                </div>
            </div>
        </div>
    }
}