@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel
@using DH.Helpdesk.Web.Infrastructure

@section Scripts {
<script type="text/javascript">

    $(document).ready(function () {
        LogInitForm();
    });

</script>
}

@if (Model != null)
{
    using (Html.BeginForm("editlog", "cases", null, FormMethod.Post, new { id = "target" }))
    {    
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                @if (Model.EditMode)
                {
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "editlog", "cases", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                    <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "deletelog", new { id = @Model.CaseLog.Id, caseId = @Model.case_.Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post?", Enums.TranslationSource.TextTranslation) })</li>
                }                    
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "edit", "cases", new { Id = @Model.case_.Id }, new { @class = "btn"})</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">        
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="logtab">
                    <table class="table table-striped table-bordered table-hover">
                        @Html.Partial("_CaseLogInput", Model)
                    </table>
                </div>
            </div>
        </div>
    </div>
    }
}