@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.BusinessData.OldComponents

@section Scripts {
<script type="text/javascript">

     $(document).ready(function () {
         CaseInitForm();
     });

</script>
}

@Html.Partial("_Plupload")

@if (Html.MasterModel() != null && SessionFacade.CurrentUser != null && Model != null)
{
    using (Html.BeginForm("edit", "cases", null, FormMethod.Post, new { id = "target" }))
    {    
    <div class="secnavs fixed">
        <div class="pull-left"> 
            <ul class="secnav">
                @if (Model.EditMode == Enums.AccessMode.FullAccess)
                {
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), null, null, null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                    <li>@Html.ActionLink(Translation.Get("Spara och stäng", Enums.TranslationSource.TextTranslation), null, null, new { onclick = "EditCaseAndClose();return false;", @class = "btn" })</li>
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation) + "/" + Translation.Get("Nytt ärende", Enums.TranslationSource.TextTranslation), null, null, new { onclick = "EditCaseAndAddCase();return false;", @class = "btn" })</li>
                    <li class="secspace"></li>
                    if (SessionFacade.CurrentUser.DeleteCasePermission == 1)
                    {                            
                        <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "DeleteCase", new { caseId = @Model.case_.Id, customerId = @Model.case_.Customer_Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuellt ärende och tillhörande loggposter", Enums.TranslationSource.TextTranslation) })</li>
                    }
                }
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "Index", new { customerId = @Model.case_.Customer_Id }, new { @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Print", Enums.TranslationSource.TextTranslation), "PrintCase", new { caseId = @Model.case_.Id }, new { @class = "btn" })</li>
                <li>
                    <div id="divActionMenu" class="btn-group">
                        <button class="btn">@Translation.Get("Åtgärder", Enums.TranslationSource.TextTranslation)</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        @if (SessionFacade.CurrentUser.ActivateCasePermission == 1 && Model.case_.FinishingDate.HasValue)
                        {                                
                            <li><a href="/cases/activate/@Model.case_.Id">@Translation.Get("Aktivera", Enums.TranslationSource.TextTranslation)</a></li>
                        }   
                        @if (Model.EditMode == Enums.AccessMode.FullAccess)
                        {
                            if (SessionFacade.CurrentUser.MoveCasePermission == 1)
                            {                                
                                <li><a data-toggle="modal" href="#divMoveCase" >@Translation.Get("Flytta", Enums.TranslationSource.TextTranslation)</a></li>
                                <!-- TODO special jönköpings kommun
                                <li><a href="#" >@Translation.Get("Flytta ärende till annan site", Enums.TranslationSource.TextTranslation)</a></li>
                                -->
                            }
                            if (SessionFacade.CurrentUser.CopyCasePermission == 1)
                            {                                
                                <li><a href="/cases/copy/@Model.case_.Id?customerId=@Model.case_.Customer_Id" >@Translation.Get("Kopiera", Enums.TranslationSource.TextTranslation)</a></li>
                            }
                            if (SessionFacade.CurrentUser.FollowUpPermission == 1)
                            {
                                if (Model.case_.FollowUpDate.HasValue)
                                {
                                    <li><a href="/cases/followupRemove/@Model.case_.Id" >@Translation.Get("Ta bort uppföljning", Enums.TranslationSource.TextTranslation)</a></li>
                                }
                                else
                                {
                                    <li><a href="/cases/followup/@Model.case_.Id" >@Translation.Get("Följ upp", Enums.TranslationSource.TextTranslation)</a></li>
                                }
                            }
                            if (Html.MasterModel().CustomerSetting.ModuleChangeManagement == 1 && Model.case_.Change_Id == null)
                            {
                                <!--TODO kontroll av behörighet -->
                                <li><a href="#">@Translation.Get("Skapa ändring", Enums.TranslationSource.TextTranslation)</a></li>
                            }
                            if (Html.MasterModel().CustomerSetting.ModuleOrder == 1 && ((SessionFacade.CurrentUser.OrderPermission > 0 || SessionFacade.CurrentUser.UserGroupId > 2)))
                            {
                                <!--TODO kontroll att order inte finns -->
                                <li><a href="#" >@Translation.Get("Skapa beställning", Enums.TranslationSource.TextTranslation)</a></li>
                            }
                        }
                        </ul> 
                    </div>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <ul class="secnav">
                <li><a href="#" title="@Translation.Get("Skriv ut", Enums.TranslationSource.TextTranslation)" class="btn"><i class="icon-file"></i></a></li>
                @if (Html.MasterModel().CustomerSetting.ModuleInventory > 0)
                {                                                            
                    <li><a href="#" title="@Translation.Get("Visa inventarie", Enums.TranslationSource.TextTranslation)" class="btn"><i class="icon-th-large"></i></a></li>
                }                    
                @if (Model.caseFieldSettings.getCaseSettingsValue(GlobalEnums.TranslationCaseFields.ReportedBy.ToString()).ShowOnStartPage == 1)
                {
                    if (Model.RelatedCases != null)
                    {
                        if (Model.RelatedCases.Count > 0)
                        {
                        <li><a data-toggle="modal" href="#divRelatedCases" title="@Translation.Get("Relaterade ärenden", Enums.TranslationSource.TextTranslation)" class="btn"><i class="icon-list"></i></a></li>
                        }
                    }                                            
                }
                <li><a href="@Model.case_.Id.GetUrlForNavigationBetweenCases()" title="@Translation.Get("Föregående ärende", Enums.TranslationSource.TextTranslation)" class="btn"><i class="icon-chevron-left"></i></a></li>
                <li><a href="@Model.case_.Id.GetUrlForNavigationBetweenCases(true)"  title="@Translation.Get("Nästa ärende", Enums.TranslationSource.TextTranslation)" class="btn"><i class="icon-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="secnavs fixedrow2">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <select id="case__RegLanguage_Id" name="case_.RegLanguage_Id" class="span1">
                    @if (Model.languages != null)
                    {
                        foreach (var e in Model.languages)
                        {
                        <option value="@e.Id" @e.Id.IdIsSelected(Model.case_.RegLanguage_Id.ToString()) >@e.LanguageID</option>
                        }
                    }
                    </select>
                </li>
                <li class="secspace"></li>
                <li>
                    <label class="checkbox">
                        @Html.CheckBoxFor(model => model.CaseMailSetting.DontSendMailToNotifier) @Translation.Get("Skicka ej mail till anmälaren", Enums.TranslationSource.TextTranslation)
                    </label>
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
    }
    <div id="divMoveCase" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true" >
        @Html.Partial("_MoveCase", Model)
    </div>    
    <div id="divRelatedCases" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true" >
        @Html.Partial("_RelatedCases", Model)
    </div>        
}

