@using System.Web.Optimization
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Case.CaseIndexViewModel

@if (Html.MasterModel() != null && SessionFacade.CurrentUser != null && Model != null)
{    
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            @if (SessionFacade.CurrentUser.CreateCasePermission == 1)
            {                                        
                <li id="btnNewCase">
                    @Html.ActionLink(Translation.Get("Skapa ärende"), "new", "cases", new { customerId = Model.caseSearchFilterData.filterCustomerId } , new { @class = "btn" })
                </li>
                <li id="btnCaseTemplate">                   
                    @Html.Partial("_CaseTemplateTree", Model.CaseTemplateTreeButton)
                </li>                
            }                    
            <li id="btnSaveCaseSetting" style= "display: none">                   
                <input type="button"  class="btn" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" /> 
            </li>    
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li id="CasesTab"  class="active"><a href="#fragment-1">@Translation.Get("Ärenden", Enums.TranslationSource.TextTranslation)</a></li>

            @*
            @if (Html.MasterModel().CustomerSetting.ModuleChangeManagement == 1)
            {
                <li><a href="#fragment-2">@Translation.Get("Ändringshantering", Enums.TranslationSource.TextTranslation)</a></li>    
            }
            @if (Html.MasterModel().CustomerSetting.ModuleOrder == 1)
            {
                <li><a href="#fragment-3">@Translation.Get("Beställningar", Enums.TranslationSource.TextTranslation)</a></li>
            }
            *@

            <li id="SettingTab"><a href="#fragment-4">@Translation.Get("Inställningar", Enums.TranslationSource.TextTranslation)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                    @Html.Partial("_Search", Model.caseSearchFilterData)
                <div class="container" id="search_result">
                    @Html.Partial("_CaseRows", Model.caseSearchResult)
                </div>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
                <div class="container">
                    -
                </div>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-3">
                <div class="container">
                    -
                </div>
            </div>
            <div class="tab-pane tab-pane-border " id="fragment-4">
                <div id="setting_result" class="container">
                    @Html.Partial("_CaseSetting", Model.CaseSetting)
                </div>
            </div>
        </div>
    </div>
</div>
}
@Scripts.Render("~/bundles/cases/index")

<script type="text/javascript">
    $(function() {
        var scope = dhHelpdesk.casesList.scope({
            getDepartmentsUrl: '@Url.Action("GetDepartments", "Ajax")'
        });
        
        var ReloadCaseOverview = function(){
            var TimeBeforeReload = "@Model.CaseSetting.RefreshContent";
            TimeBeforeReload = TimeBeforeReload / 60;
            TimeBeforeReload = TimeBeforeReload * 60000;
            if (TimeBeforeReload != null || TimeBeforeReload != NaN || TimeBeforeReload != "")
            {
                setTimeout(function () { location.reload(); }, TimeBeforeReload);
            }
            
        };
        ReloadCaseOverview();
    });
</script>