@using System.Web.Script.Serialization
@using System.Web.Optimization
@using DH.Helpdesk.Web
@using DH.Helpdesk.Web.Models.Case
@model DH.Helpdesk.Web.Models.Case.JsonCaseIndexViewModel
@{
    var jsSerializer = new JavaScriptSerializer();
    var perPageText = Translation.GetForJS("Antal per sida");
    var perShowingText = Translation.GetForJS("Visar sida");

    var caseRelationTypeParent = Translation.GetForJS("Det här ärendet är ett underärende, klicka för att gå till huvudärendet");
    var caseRelationTypeChild = Translation.GetForJS("Det här ärendet är ett huvudärende, klicka för att se underärenden");
}
<script type="text/javascript">
    window.pageSettings = @Html.Raw(jsSerializer.Serialize(Model.PageSettings));
    window.pageSettings.perPageText = '@perPageText';
    window.pageSettings.perShowingText = '@perShowingText';
    window.pageSettings.curUserId = '@(SessionFacade.CurrentUser != null ? System.Web.HttpUtility.JavaScriptStringEncode(SessionFacade.CurrentUser.UserId.ToLower().Replace("\\","\\\\")): string.Empty)';
    window.pageSettings.isParentText = '@caseRelationTypeParent';
    window.pageSettings.isChildText = '@caseRelationTypeChild';
</script>
<div class="case-overview page">
    <div class="secnavs fixed">
        <div class="pull-left">
            <input type="hidden" id="hidExpandedGroup" value="" />
            <ul class="secnav">
                @if (SessionFacade.CurrentUser.CreateCasePermission == 1)
                {
                    <li id="btnNewCase">
                        @Html.ActionLink(Translation.Get("Skapa ärende"), "new", "cases", new { customerId = Model.CaseSearchFilterData.filterCustomerId }, new { @class = "btn" })
                    </li>
                    <li id="btnCaseTemplate">
                        @Html.Partial("_CaseTemplateTree", Model.CaseTemplateTreeButton)
                    </li>
                    <li id="liBulkCaseEdit" style="display: none">
                        <a data-toggle="modal" data-url="1" href="#divBulkCaseEdit" title="@Translation.Get("Massredigera")" class="btn">@Translation.Get("Massredigera")</a>
                    </li>
                }
                <li id="btnSaveCaseSetting" style="display: none">
                    <input type="button" class="btn" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" />
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li id="CasesTab" class="active"><a href="#fragment-1">@Translation.Get("Ärenden", Enums.TranslationSource.TextTranslation)</a></li>
                <li id="SettingTab"><a href="#fragment-4">@Translation.Get("Inställningar", Enums.TranslationSource.TextTranslation)</a></li>
            </ul>
            <div id="divBulkCaseEdit" role="dialog" class="modal modalBulkCaseEdit hide fade" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                @Html.Partial("ModalDialogs/_BulkCaseEdit", Model.CaseInputViewModel)
            </div>
            
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    @Html.Partial("_Search", Model.CaseSearchFilterData)
                    <div>@Translation.GetCoreTextTranslation("Poster i sökresultat"): <span data-field="TotalAmountCases"></span><span id="caseLimitInfo" style="display: none;">&nbsp;(@Translation.GetCoreTextTranslation("Antal ärende som visas är begränsade till 500."))</span></div>
                    <div class="container" id="search_result">
                        <table id="caseResults" class="table table-striped table-bordered table-hover table-cases"><thead></thead><tbody></tbody></table>
                        <div class="nofields-msg">@Translation.Get("Inga standardkolumner har valts för din användare på denna kund, för att visa kolumner, klicka på fliken Inställningar och gå till Filter Ärendeöversikt")</div>
                        <div class="noavailablefields-msg">@Translation.Get("Inga ärendefält har valts för denna kund, kontakta systemadministratören.")</div>
                        <div class="loading-msg">
                            <div class="content-wrapper">
                                <div class="loader">@Translation.Get("Laddar...")</div>
                            </div>
                        </div>
                        <div class="no-data-msg">&nbsp;</div>
                        <div class="error-msg">@Html.Raw(string.Format(Translation.Get("Ett fel inträffade, klicka") + " {0}" + Translation.Get("här") + "{1} " + Translation.Get("för att ladda om sidan."), "<a href=\"#refresh\" class=\"refresh-grid\">", "</a>"))</div>
                    </div>
                    <div id="performanceData"> </div>
                </div>
                <div class="tab-pane tab-pane-border " id="fragment-4">
                    <div id="setting_result" class="container">
                        @Html.Partial("_CaseSetting", Model.CaseSetting)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/cases/index")


