@model DH.Helpdesk.Web.Models.Case.CaseInputViewModel
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Web.Infrastructure

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            CaseInitForm();
        });

        $("#case__RegLanguage_Id").change(function () {

            var ci = '@Model.NewModeParams.customerId';
            var cfc = '@Model.NewModeParams.copyFromCaseId';
            var ti = '@Model.NewModeParams.templateId';
            var cli = $('#case__RegLanguage_Id').val();

            var p2 = "";
            if (ti != '')
                p2 = "&templateId=" + ti;

            var p3 = "";
            if (cfc != '')
                p3 = "&copyFromCaseId=" + cfc

            //location.href = '/Cases/new?customerId=' + ci + p2 + p3 + '&caseLanguageId=' + cli;       
        });
    </script>
}

@Html.Partial("_Plupload")
@{ var t = new ViewDataDictionary();
   t.Add("isJS", "true");
}
@if(Model != null)
{
    using(Html.BeginForm("new", "cases", null, FormMethod.Post, new { id = "target" }))
    {        
        <div class="secnavs fixed">
            <div class="pull-left">
                <ul class="secnav">
                    @if (Model.templateistrue != 1)
                    {
                        <li><a class="btn save" href="#">@Translation.Get("Spara")</a></li>
                    }

                    <li><a class="btn save-close" href="#">@Translation.Get("Spara och stäng")</a></li>

                    @if (Model.templateistrue != 1)
                    {
                        <li><a class="btn save-new">@string.Format("{0} / {1}", Translation.Get("Spara"), Translation.Get("Nytt ärende"))</a></li>
                    }
                        <li class="secspace"></li>
                    <li>@Html.ActionLink(Translation.Get("Stäng", Enums.TranslationSource.TextTranslation), "index", new { customerId = @Model.case_.Customer_Id }, new { @class = "btn" })</li>

                    <li>
                        <div id="divActionMenu" class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                @Translation.Get("Åtgärder", Enums.TranslationSource.TextTranslation)
                                <span class="caret">&nbsp;</span>
                            </button>
                            <ul class="dropdown-menu">                                                               
                                @if (Model.Languages != null && Model.Languages.Where(l => l.IsActive).ToList().Count > 1)
                                {     
                                    var curLanguage = (Model.case_.Id == 0? SessionFacade.CurrentLanguageId:Model.case_.RegLanguage_Id);                               
                                    <li class="dropdown-submenu">
                                        <a href="#">
                                         
                                            @Translation.Get("Språk för E-mail")
                                        </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var lang in Model.Languages.Where(l => l.IsActive).ToList())
                                            {
                                                var langNameId = "langItem" + lang.Id;
                                                <li>
                                                                                                        
                                                        <a id="@langNameId" class="langItem" href="#" onclick="ChangeCaseLanguageTo(@lang.Id,true);"> @Translation.Get(lang.Name) 
                                                            @if (lang.Id == curLanguage) 
                                                            {
                                                              <i class='icon-ok'></i>
                                                            }
                                                        </a>
                                                    @*}
                                                    else
                                                    {
                                                        <a id="@langNameId" href="#" onclick="ChandeCaseLanguageTo(@lang.Id);"> @Translation.Get(lang.Name) </a>                                                        
                                                    }*@
                                                </li>
                                            }
                                        </ul>
                                    </li>                                    
                                }                                                        
                            </ul>
                        </div>
                    </li>
                    @if (Model.templateistrue != 1)
                    {
                        <li id="btnCaseTemplate">
                            @Html.Partial("_CaseTemplateTree", Model.CaseTemplateTreeButton, t)
                        </li>
                     }
                </ul>
            </div>
        </div>
        <div class="newmode">
            @Html.Partial("_Input", Model)
            @Html.Hidden("templateId", Model.NewModeParams.templateId)
        </div>
    }    
}

