@model dhHelpdesk_NG.Web.Models.CaseInputViewModel
@using dhHelpdesk_NG.DTO.Utils

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function() {
            CaseInitForm();
        });

        var validator = $("#target").validate({
            rules: {
                "case_.Caption": {
                    required: true
                }
            },
            messages: {
                "case_.Caption": {
                    required: "@Translation.Get(GlobalEnums.TranslationCaseFields.Caption.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) @Translation.Get("måste anges", Enums.TranslationSource.TextTranslation)"
            }
        },
        submitHandler: function (form) {
            form.submit();
    }
});

    </script>
}

@if (Model != null)
{
    using (Html.BeginForm("new", "cases", null, FormMethod.Post, new { id = "target" }))
    {        
    <div class="secnavs">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "new", "cases", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Spara och stäng", Enums.TranslationSource.TextTranslation), "new", "cases", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation) + "/" + Translation.Get("Nytt ärende", Enums.TranslationSource.TextTranslation), "new", "cases", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li class="secspace"></li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", new { customerId = @Model.case_.Customer_Id }, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    <div class="secnavs">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <select class="span1">
                        <option>SV</option>
                        <option>EN</option>
                    </select></li>
                <li class="secspace"></li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox"> @Translation.Get("Skicka ej mail till anmälaren", Enums.TranslationSource.TextTranslation)
                    </label>
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
    }
}

