@model  DH.Helpdesk.SelfService.Models.Case.UserCasesModel  

<form id="frmCaseSearch" name="frmCaseSearch">   
    <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.SortBy" id="hidSortBy" name="hidSortBy" />
    <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.Ascending" id="hidSortByAsc" name="hidSortByAsc" />

    <div class="row">
        <div class="col-md-3 dh-col">
            <div class="container form-horizontal">
                <div class="form-group row">
                    <table>
                        <tr>
                            <td class="span12">
                                &nbsp; &nbsp;  @Translation.Get("Search Phrase", Enums.TranslationSource.TextTranslation) &nbsp;&nbsp;                    
                            </td>
                            <td>
                                @Html.TextBoxFor(s => Model.PharasSearch)
                                <button id="btnSearch" name="btnSearch" class="btn btn-default">@Translation.Get("Search", Enums.TranslationSource.TextTranslation)</button>
                                <i id="searchIndicator" class="gif-loader">&nbsp;</i>
                            </td>
                        </tr>
                    </table>
                        
                    @*<div class="col-md-10">
                        
                    </div>*@
                </div>                              
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $("#searchIndicator").hide();

    $('#btnSearch').click(function (e) {
        e.preventDefault();
        search();
    });

    function search() {
        $("#searchIndicator").show();
        $.post('@Url.Action("SearchUserCase", "Case")', $("#frmUserCases").serialize(), function (result) {
            $('#search_result').html(result);           
        }).done(function () { $("#searchIndicator").hide(); });
    }


    function sortCases(sortBy) {
        var asc = '@SessionFacade.CurrentCaseSearch.Search.Ascending'; 
        var selected = $("#hidSortBy").val();
        
        if (sortBy == selected) {            
            asc = asc.toLowerCase().match('true') ? 'false' : 'true';            
        }
        else {
            asc = 'true';
        }
        
        $("#hidSortBy").val(sortBy);
        $("#hidSortByAsc").val(asc);
        search();
    }
</script>
