@model DH.Helpdesk.SelfService.Models.Case.CaseSearchFilterModel

<div class="row">
    <div class="col-md-3 dh-col">
        <div class="container form-horizontal">
            <div class="form-group row">
                <table>
                    <tr>
                        <td class="">
                            &nbsp; &nbsp; @Translation.Get("Status") &nbsp;&nbsp;
                        </td>
                        <td>@Html.DropDownListFor(m => m.ProgressId, Model.ProgressItems)</td>
                    </tr>
                    <tr>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp; &nbsp; @Translation.Get("Search Phrase") &nbsp;&nbsp;
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.PharasSearch)
                            <button id="btnSearch" name="btnSearch" type="submit" class="btn btn-default">@Translation.Get("Search")</button>
                            <i id="searchIndicator" class="gif-loader" style="display: none">&nbsp;</i>
                        </td>
                    </tr>
                </table>
                @*<div class="col-md-10"></div>*@
            </div>
        </div>
    </div>
</div>

