@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.SelfService.Models.Case
@model CaseLogsModel

@{
    var expand = string.Empty;
    CaseLogModel lastMsg = null;
    if (Model.CaseLogs != null && Model.CaseLogs.Count > 0)
    {
        lastMsg = Model.GetLastLog();
        if (lastMsg != null && lastMsg.UserId != null)
        {
            expand = "expand";
        }
    }
    var isReadOnly = ViewData["readonly"] != null && (bool)ViewData["readonly"];
}

<div id="communicationPanel" class="siteCom">
    <div id="btnOpenLog" class="mapButtonclose mapButton @expand"><span class="glyphicon glyphicon-remove"></span></div>

    <div class="mapButtonside mapButton">
        @if (Model.CaseLogs != null && Model.CaseLogs.Count > 0)
        {
            if (lastMsg != null && string.IsNullOrEmpty(lastMsg.RegUserName))
            {
                <div class="mapText" title="@Translation.Get("Communicate")">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="glyphicon glyphicon-certificate newcom"></span>
                </div>
            }
            else
            {
                <div class="mapText" title="@Translation.Get("Communicate")"><span class="glyphicon glyphicon-comment"></span></div>
            }
        }
        else
        {
            <div class="mapText" title="@Translation.Get("Communicate")"><span class="glyphicon glyphicon-comment"></span></div>
        }
    </div>
    <div class="theMap">
        @if (!isReadOnly)
        {
            <div class="container-fluid">
                <div class="row">
                    <form onsubmit="return false">
                        <div class="form-group col-md-10">
                            <label for="logNote">@Translation.Get("Add comment"):</label>
                            <div class="form-group">
                                <textarea id="logNote" style="width: 450px; height: 100px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            @if (Model.IsAttachmentsAllowed)
                            {
                                <label>@Translation.GetForCase(GlobalEnums.TranslationCaseFields.Filename.ToString(), @SessionFacade.CurrentCustomerID)</label>
                                <div class="form-group">
                                    <a id="btnUploadFile" href="#Log_upload_files_popup" role="button" class="btn btn-default" data-toggle="modal">@Translation.Get("Add")</a>
                                    <a id="addLogFileFromClipboard" role="button" class="btn btn-default">@Translation.Get("Add from clipboard")</a>
                                    <table id="LogFile_table" class="table com-files" style="margin-top: 10px;"></table>
                                </div>
                            }
                        </div>
                        <br />
                        <div class="form-group col-md-10">
                            <a id="btnSendLog" data-src="communication" role="button" class="btn btn-default">@Translation.Get("Send")</a>
                            <i id="sendLogIndicator" style="display: none" class="gif-loader">&nbsp;</i>
                        </div>
                    </form>
                </div>
            </div>
        }

        <hr />
        <div id="CaseLogPartial" class="com-list">
            @Html.Partial("_CaseLogNote", Model)
        </div>
    </div>
</div>