@using System.Web.Optimization
@using DH.Helpdesk.SelfService
@model DH.Helpdesk.SelfService.Models.Case.UserCasesModel         

@{
    var tabTitle = ViewBag.IsLineManagerApplication ? Translation.Get("Service Requests") : Translation.Get("Cases");
 }

<div class="container-fluid dh-container">
        <ul class="nav nav-tabs" id="NewCaseTab">
            <li id="NewCaseT" class="active">
                <a href="#fragment-1">@tabTitle</a>
            </li>
        </ul>
        <div id="fragment-1" class="tab-pane active">
            <div class="container-fluid dh-container">
                <div class="row dh-container">
                    <div class="col-md-12">
                        @Html.Partial("_CaseSearch", Model)
                    </div>
                </div>
                <div> @Translation.Get("Records in search result"): <span id="casesCount_@Model.CustomerId">0</span></div>
                <div id="result_@Model.CustomerId">
                </div>
            </div>
        </div>
</div>

@section Scripts{
    @Scripts.Render(BundleConfig.ScriptNames.CasesSearch)

    <script type="text/javascript">
        
        $(function () {
            var caseSearch = new CaseSearch();
            caseSearch.init({
                searchAction: '@Url.Action("SearchCustomerCases", "CasesSearchAsync")'
            });
            
            //set for global access
            window.caseSearch = caseSearch;
            
            var customerId = @Model.CustomerId;
            
            $("#btnSearch").click(function(e) {
                e.preventDefault();

                window.caseSearch.searchCustomerCases(customerId);

                return false;
            });

            //run first search
            caseSearch.searchCustomerCases(customerId);
        });

        function sortCases(customerId, newSortBy) {
            window.caseSearch.sortCases(customerId, newSortBy);
        }
    </script>
}