@using DH.Helpdesk.SelfService.Infrastructure
@model DH.Helpdesk.SelfService.Models.Case.CaseOverviewModel
@{
    ViewBag.Title = "Index";
}

@*<link rel="stylesheet" href="/Content/themes/base/minified/jquery-ui.min.css" />*@

<div class="content">
    <div>
         <!-- Printer Icon and others -->     
    </div>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li id="CasePreviewTab" class="active">
                <a href="#fragment-1">@Translation.Get("Ärende", Enums.TranslationSource.TextTranslation): @Model.CasePreview.CaseNumber</a>
            </li>
            <li id="NewCaseTab" class="">
                <a href="#fragment-2">@Translation.Get("Nytt ärende", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li id="OrdersTab" class="">
                <a href="#fragment-3">@Translation.Get("Beställning", Enums.TranslationSource.TextTranslation) </a>
            </li>
            <li id="OrderAccountTab" class="">
                <a href="#fragment-4">@Translation.Get("Beställning konto", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li id="DashboardTab" class="">
                <a href="#fragment-5">@Translation.Get("Dashboard", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li id="FAQTab" class="">
                <a href="#fragment-6">@Translation.Get("FAQ", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        
        <div class="tab-content">
            <!-- Case Preview Tab content-->
            <div id="fragment-1" class="tab-pane tab-pane-border active" >                
                                   
                <div class="container">
                    <div>
                       @Html.Raw(Model.InfoText)
                        <br />
                    </div>
                    <ul class="nav nav-tabs" id="mysubTab1">
                        <li id="CaseTab" class="active">
                            <a href="#fragment-1-1">@Translation.Get("Ärende", Enums.TranslationSource.TextTranslation)</a>
                        </li>
                        <li id="PolandDataChangeTab" class="">
                            <a href="#fragment-1-2">Pland Data Change</a>
                        </li>
                    </ul>
                    
                    <div class="tab-content">
                        <!-- Case Tab content -->
                        <div class="tab-pane tab-pane-border active" id="fragment-1-1">      
                           @Html.Partial("_CasePreview")
                        </div>
                        <!-- Pland Tab content-->
                        <div class="tab-pane tab-pane-border " id="fragment-1-2">                                  
                            -                           
                        </div>
                    </div>
                </div>                
            </div>  

            <!-- New Case Tab content-->
            <div id="fragment-2" class="tab-pane tab-pane-border ">
                <div class="container">
                    -  
                </div>
            </div>

            <!-- Orders Tab content-->
            <div id="fragment-3" class="tab-pane tab-pane-border " >
                <div class="container">
                    -  
                </div>
            </div>

            <!-- Order Account Tab content-->
            <div id="fragment-4" class="tab-pane tab-pane-border " >
                <div class="container">
                    -  
                </div>
            </div>

            <!-- Dashboard Tab content-->
            <div id="fragment-5" class="tab-pane tab-pane-border ">
                <div class="container">
                    -  
                </div>
            </div>

            <!-- FAQ Tab content-->
            <div id="fragment-6" class="tab-pane tab-pane-border ">
                <div class="container">
                    -  
                </div>
            </div>
        </div>
    </div>
    
</div>

