@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
<div class="tab-pane" id="payment">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Basic pay")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PayrollCategory")</td>
                    <td>
                        @Model.Element("PayrollCategory")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BasicPayAmount")</td>
                    <td>
                        @Model.Element("BasicPayAmount")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Allowances")</h4>
                    </td>
                </tr>
                @Html.Partial("Sections/_Allowances", Model)
            </tbody>
        </table>
    </div>
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Deductions")</h4>
                    </td>
                </tr>
                @Html.Partial("Sections/_Deductions", Model)
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Bonus Eligibility")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OneIKEABonusLevel")</td>
                    <td>
                        @Model.Element("OneIKEABonusLevel")
                    </td>
                </tr>
                <tr class="globalmobility-first">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Global Mobility")</h4>
                    </td>
                </tr>
                <tr class="globalmobility-first">
                    <td class="tdstrong">@Model.Label("TaxAssignment")</td>
                    <td>
                        @Model.Element("TaxAssignment")
                    </td>
                </tr>
                <tr class="globalmobility-first">
                    <td class="tdstrong">@Model.Label("SocialInsuranceAssignment")</td>
                    <td>
                        @Model.Element("SocialInsuranceAssignment")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    // Following script is for hiding global mobility class if NewToIKEA is equal to string 'International Transfer'
    if ('@Model.GetAnswer("NewToIKEA")' == 'International Transfer') {
        var globalmobility = document.querySelectorAll('.globalmobility'), i;

        for (var i = 0; i < globalmobility.length; i++) {
            globalmobility[i].style.display = 'none';
        }
    }

    $('#date_ContractStartDate').not(".disabled").datepicker().on('changeDate', function (e) {
        SetAllowancesDates();
        SetDeductionsDates();
    });

    $('#ContractStartDate').change(function () {
        SetAllowancesDates();
        SetDeductionsDates();
    });

    function SetAllowancesDates() {
        $('#AllowancesValidFrom').val($('#ContractStartDate').val());
        $('#AllowancesValidFrom2').val($('#ContractStartDate').val());
        $('#AllowancesValidFrom3').val($('#ContractStartDate').val());
        $('#AllowancesValidFrom4').val($('#ContractStartDate').val());
        $('#AllowancesValidFrom5').val($('#ContractStartDate').val());
    };

    function SetDeductionsDates() {
        $('#DeductionsValidFrom').val($('#ContractStartDate').val());
        $('#DeductionsValidFrom2').val($('#ContractStartDate').val());
        $('#DeductionsValidFrom3').val($('#ContractStartDate').val());
        $('#DeductionsValidFrom4').val($('#ContractStartDate').val());
        $('#DeductionsValidFrom5').val($('#ContractStartDate').val());
    };

</script>
