@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    ViewBag.Title = Model.Translate("Global") + " - " + Model.Translate("Hiring");
}

@section Script {
    <script>

        $(document).on('click', '#btnMailingAddress, #btnEmergencyAddress', function (e) {
            e.preventDefault();

            var prefix = $(this).attr('data-prefix');
            document.getElementById(prefix + "AddressLine1").value = document.getElementById('PermanentAddressLine1').value;
            document.getElementById(prefix + "AddressLine2").value = document.getElementById('PermanentAddressLine2').value;
            document.getElementById(prefix + "PostalCode").value = document.getElementById('PermanentPostalCode').value;

            document.getElementById(prefix + "City").value = document.getElementById('PermanentCity').value;
            //document.getElementById(prefix + "Country").value = document.getElementById('PermanentCountry').value;

            var value = document.getElementById('PermanentCountry').value;

            if ($('#PermanentCountry')[0].selectize) {

                var selectedText = $('#PermanentCountry')[0].selectize.getItem(value).text();

                if ($('#' + prefix + 'Country')[0].selectize) {
                    $('#' + prefix + 'Country')[0].selectize.setValue(selectedText);
                }
                else {
                    $('#' + prefix + 'Country').val(selectedText);
                }
            }
            else {

                var selectedText = $('#PermanentCountry').find('option:selected').text();
                if ($('#' + prefix + 'Country')[0].selectize) {
                    $('#' + prefix + 'Country')[0].selectize.setValue(selectedText);
                }
                else {
                    var selectedText = $('#PermanentCountry').find('option:selected').text();
                    $('#' + prefix + 'Country').val(selectedText);
                }
            }


        });

        validate.run($('#actionState').val());

        $(document).on('change', '#actionState', function (e) {
            var val = $(this).val();
            validate.run(val);
        });

    </script>

    @Html.Partial("_Validate", Model)
}

@using(Html.BeginForm("new", "hiring", FormMethod.Post, new { area = "global", novalidate = "novalidate" }))
{
    @Html.Partial("_GlobalNavRev", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            @if(Model.VisibleTab("#servicerequestdetails"))
            {
                <li class="active @(Model.TabHasError("#servicerequestdetails") ? "error" : "")">
                    <a href="#servicerequestdetails">@Model.Translate("Service Request Details")</a></li>
            }
            @if(Model.VisibleTab("#OrganisationalAssignment"))
            {
                <li class="@(Model.TabHasError("#OrganisationalAssignment") ? "error" : "")">
                    <a href="#OrganisationalAssignment">@Model.Translate("Organisational Assignment")</a></li>
            }
            @if(Model.VisibleTab("#payment"))
            {
                <li class="@(Model.TabHasError("#payment") ? "error" : "")">
                    <a href="#payment">@Model.Translate("Payment Information")</a></li>
            }
            @if(Model.VisibleTab("#personal"))
            {
                <li class="@(Model.TabHasError("#personal") ? "error" : "")">
                    <a href="#personal">@Model.Translate("Personal Information")</a></li>
            }
            @if(Model.VisibleTab("#attachments"))
            {
                <li class="pull-right">
                    <a href="#attachments"><i class="icon-file icon-white"></i>&nbsp;@Model.Translate("Attachments")&nbsp;(<b id="attachmentCounter">0</b>)</a>
                </li>
            }
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content overflow-visible">
                    @if(Model.VisibleTab("#servicerequestdetails"))
                    {
                        @Html.Partial("_TabServiceRequestDetails", Model)
                    }
                    @if(Model.VisibleTab("#OrganisationalAssignment"))
                    {
                        @Html.Partial("_TabOrganisationalAssignment", Model)
                    }
                    @if(Model.VisibleTab("#payment"))
                    {
                        @Html.Partial("_TabPayment", Model)
                    }
                    @if(Model.VisibleTab("#personal"))
                    {
                        @Html.Partial("_TabPersonal", Model)
                    }
                    @if(Model.VisibleTab("#attachments"))
                    {
                        @Html.Partial("_GlobalAttachments", Model)
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="@Model.ActiveTab" /> 
}


<script type="text/javascript">

    function changeBusinessUnitCallback() {
        SetHelpDeskDefault();
        SetPrimarySiteDefault();
        GetXML('Predefined_BusinessUnit_JobTitle.xml', setJobTitle);
    }

</script>