@model DH.Helpdesk.Web.Models.Inventory.EditModel.Printer.CommunicationFieldsModel
<table class="tableform">
    @if (Model.NetworkAdapterName.Show
        || Model.IPAddress.Show
        || Model.MacAddress.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Kommunikation")</th>
        </tr>
    }
    @if (Model.NetworkAdapterName.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.NetworkAdapterName.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.NetworkAdapterName.Value)
            </td>
        </tr>
    }
    @if (Model.IPAddress.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.IPAddress.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.IPAddress.Value)
            </td>
        </tr>
    }
    @if (Model.MacAddress.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.MacAddress.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.MacAddress.Value)
            </td>
        </tr>
    }
</table>
