@model DH.Helpdesk.Web.Models.Inventory.EditModel.Printer.GeneralFieldsModel
<table class="tableform">
    @if (Model.Name.Show
        || Model.Manufacturer.Show
        || Model.Model.Show
        || Model.SerialNumber.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Allmänt")</th>
        </tr>
    }
    @if (Model.Name.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Name.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Name.Value)
            </td>
        </tr>
    }
    @if (Model.Manufacturer.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Manufacturer.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Manufacturer.Value)
            </td>
        </tr>
    }
    @if (Model.Model.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Model.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Model.Value)
            </td>
        </tr>
    }
    @if (Model.SerialNumber.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.SerialNumber.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.SerialNumber.Value)
            </td>
        </tr>
    }
</table>

