@model DH.Helpdesk.Web.Models.Inventory.EditModel.Printer.GeneralFieldsModel
@if (Model.Name.Show
        || Model.Manufacturer.Show
        || Model.Model.Show
        || Model.SerialNumber.Show)
{
    <h4>@Translation.Get("Allmänt")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.Name, "NotReadonlyFields/Text")
                @Html.EditorFor(m => m.Manufacturer, "NotReadonlyFields/Text")
                @Html.EditorFor(m => m.Model, "NotReadonlyFields/Text")
                @Html.EditorFor(m => m.SerialNumber, "NotReadonlyFields/Text")
            </table>
        </div>
    </div>
}

