@model DH.Helpdesk.Web.Models.Inventory.EditModel.Printer.GeneralFieldsModel
<table class="tableform">
    @if (Model.Name.Show
        || Model.Manufacturer.Show
        || Model.Model.Show
        || Model.SerialNumber.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</th>
        </tr>
    }
    @if (Model.Name.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Name.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.Name.IsReadOnly
                      ? Html.TextBoxFor(m => m.Name.Value)
                      : Html.TextBoxFor(m => m.Name.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.Manufacturer.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Manufacturer.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.Manufacturer.IsReadOnly
                      ? Html.TextBoxFor(m => m.Manufacturer.Value)
                      : Html.TextBoxFor(m => m.Manufacturer.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.Model.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Model.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.Model.IsReadOnly
                      ? Html.TextBoxFor(m => m.Model.Value)
                      : Html.TextBoxFor(m => m.Model.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.SerialNumber.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.SerialNumber.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.SerialNumber.IsReadOnly
                      ? Html.TextBoxFor(m => m.SerialNumber.Value)
                      : Html.TextBoxFor(m => m.SerialNumber.Value, new { @readonly = true }))
            </td>
        </tr>
    }
</table>

