@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Le styles -->
@*@Styles.Render("~/FormLibContent/assets/css/bundle")*@
<link href="~/FormLibContent/assets/css/bootstrap.css" rel="stylesheet">
<link href="~/FormLibContent/assets/css/datepicker.css" rel="stylesheet">
<link href="~/FormLibContent/assets/css/ect.css" rel="stylesheet">
<link href="~/FormLibContent/assets/selectize/css/selectize.css" rel="stylesheet" />
<link href="~/Content/css/dhplus.css" rel="stylesheet" />
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="~/FormLibContent/assets/js/html5shiv.js"></script>
    <![endif]-->
<!-- For IE7 support of JSON functions -->
<!--[if lt IE 8]>
      <script src="~/FormLibContent/assets/js/json2.js"></script>
    <![endif]-->
<!-- Le scripts -->
@*@Scripts.Render("~/FormLibContent/assets/js/bundle")*@
<script src="~/FormLibContent/assets/js/typeahead.js"></script>
<script src="~/FormLibContent/assets/js/bootstrap-datepicker.js"></script>
<script src="~/FormLibContent/assets/selectize/js/standalone/selectize.min.js"></script>
<script src="~/FormLibContent/assets/selectize/js/es5-shim.js"></script>
<script src="~/FormLibContent/assets/js/integration.js"></script>
<script src="~/FormLibContent/assets/js/spin.js"></script>
<script src="~/FormLibContent/assets/js/ect.js"></script>
<div id="lmEmbedded">
    <div style="display: none;">
        <span id="cancelRequest">@ECT.FormLib.FormLibI18N.Translate("Are you sure you want to cancel the request?", ECT.FormLib.FormLibSessions.User.Language)</span>
    </div>
    @RenderBody()
    @RenderSection("Validation", required: false)
    @RenderSection("Script", required: false)
    <div class="container containeralignright">
        <small>@ECT.FormLib.FormLibI18N.Translate("Version", ECT.FormLib.FormLibSessions.User.Language)&nbsp;0.8.26.1</small>
    </div>
</div>
<div id ="spinnerDiv" style="position:fixed;top:50%;left:50%"></div>