@model DH.Helpdesk.Web.Models.Feedback.FeedbackAnswerModel

@{
    ViewBag.Title = "Answer";
}
@using (Html.BeginForm(MvcUrlName.Feedback.Answer, MvcUrlName.Feedback.Controller, FormMethod.Post, new {id = "edit_form"}))
{
    @Html.HiddenFor(x => x.Guid)
    @Html.HiddenFor(x => x.OptionId)
    @Html.HiddenFor(x => x.LanguageId)
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.GetCoreTextTranslation("Spara och stäng")" class="btn"/>
                    <a href="" class="btn">
                        @Translation.GetCoreTextTranslation("Rensa")
                    </a>
                </li>
                <li>
                    @Html.CheckBoxFor(x => x.IsAnonym)
                    @Translation.GetCoreTextTranslation("Jag vill vara anonym")
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active">

                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    <div class="container">
                        <h3 style="color: gray">@Translation.GetCoreTextTranslation("Tack för återkopplings")</h3>
                        <div class="row">
                            <div class="span12">
                                @Translation.GetCoreTextTranslation("Ärende"): @Model.CaseId
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane tab-pane-border active" id="fragment-2">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                @if (Model.IsShowNote)
                                {
                                    <table class="span10">
                                        <tbody>
                                        <tr>
                                            <td>
                                                @Html.Label(Model.NoteTextLabel)
                                                @Html.TextAreaFor(x => Model.NoteText, new {maxlength = "2000", style = "height:80px;"})
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for=""> </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for=""> </label>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                        <table border="1" class="span12">
                            <tbody>
                            <tr>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
}