@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Web.Models.Feedback
@model FeedbackStatisticsViewModel
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                <a href="@Url.Action(MvcUrlName.Questionnaire.Index, MvcUrlName.Questionnaire.Controller, new {tab = "feedback"})" class="btn">
                    @Translation.GetCoreTextTranslation("Avbryt")
                </a>
            </li>
            <li>
                <button value="@Translation.GetCoreTextTranslation("Visa")" class="btn" id="show_feedback_ctatistics">@Translation.GetCoreTextTranslation("Visa")</button>
            </li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"></li>
        </ul>
        <div class="tab-content">
            <div id="fragment-2" class="tab-pane tab-pane-border active">
                <div>
                    @using (Ajax.BeginForm("Statistics", null, new AjaxOptions {UpdateTargetId = "feedback_statistics_grid"}, new {id = "feedback_statistics_search_form"}))
                    {
                        @Html.HiddenFor(x => x.QuestionnaireId)
                        <table class="tableform">
                            <tr>
                                <td class="span3">@Translation.GetCoreTextTranslation("Återkopplingsdatum")</td>
                                <td>
                                    @Html.EditorFor(m => m.StatisticsFilter.CircularCreatedDate.DateFrom, "DatePicker", new {id = "feedbackCreatedDateFrom_datepicker"})
                                    -
                                    @Html.EditorFor(m => m.StatisticsFilter.CircularCreatedDate.DateTo, "DatePicker", new {id = "feedbackCreatedDateTo_datepicker"})
                                    <div class="ico-right" style="display: inline;">
                                        @Translation.GetCoreTextTranslation("Selektera ut")
                                        @Html.TextBoxFor(m => m.StatisticsFilter.EmailsCount, new {type = "number", min = "0", max = "99", style = "width: 35px;", id = "emailsCol"})
                                        @Translation.GetCoreTextTranslation("e-postadresser från urval")
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <div id="feedback_statistics_grid">
                    @Html.Partial("~/Views/Questionnaire/Feedback/FeedbackStatisticsGrid.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#show_feedback_ctatistics').click(function () {
            $('#feedback_statistics_search_form').submit();
        });
    });
</script>
