@using System.Web.Optimization
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Reports.Models.Options.ReportsOptions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
             <li>
                 <input type="button" id="btnPreviewReport" class="btn" style="display: none" data-preview="true" value="@Translation.GetCoreTextTranslation("Kör")" />
            </li>
            <li>
                <input type="button" id="showReport" class="btn" style="display: none" disabled="true" value="@Translation.GetCoreTextTranslation("Visa")" />
            </li>
            <li>
                <a id="printReport" class="btn" style="display: none">@Translation.GetCoreTextTranslation("Skriv ut")</a>
            </li>
            <li>
                <input type="button" id="excelReport" class="btn" style="display: none" disabled="true" data-excel="true" value="@Translation.GetCoreTextTranslation("Export to Excel")"/>
            </li>
            <li>
                <a id="btnShowReport" class="btn">@Translation.GetCoreTextTranslation("Visa")</a>                
            </li>
            <li>
                <a id="btnSaveFilter" class="btn" style="display: none">@Translation.GetCoreTextTranslation("Spara")</a>
            </li>
            <li>
                <a id="btnSaveAsFilter" class="btn">@Translation.GetCoreTextTranslation("Spara som")</a>
            </li>
            <li>
                <a id="btnDeleteFavorite" class="btn" style="display: none">@Translation.GetCoreTextTranslation("Ta bort")</a>
            </li>
            <li>
                <img id="showReportLoader" src="@Url.Content("~/Content/icons/ajax-loader.gif")" style="display: none;" />
            </li>
        </ul>
    </div>
</div>
<div class="content report-page">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="tab_reportViewer" href="#fragment-2">@Translation.GetCoreTextTranslation("Rapporter")</a>
            </li>
        </ul>
        <div class="tab-content overflow-visible">
            <div id="fragment-2" class="tab-pane tab-pane-border active">
                @Html.Partial("ReportViewer/_Overview", Model.ReportServiceOverview)
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/report")

<script type="text/javascript">
    var scope;

    $(function () {
        scope = dhHelpdesk.reports.scope({
            workingGroupUsersRoute: '@Url.Action("GetWorkingGroupUsers", "Services", new { area = "reports" })',

        });
    });

    function onLoadOptions() {
        scope.onLoadOptions();
    }
</script>

