@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "nl";
    
    //set fields that are mandatory in the contract here. This can be done in a better way... /TA
    Model.SetDocumentMandatoryField("ContractType");
}
<!DOCTYPE html>
<html>
<body>


  
    <div>
        <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            <strong>ARBEIDSOVEREENKOMST</strong><br />
            <br />
        </p>
        <p style="text-align: left;font-family: Verdana; font-size: 11px;">
            Tussen IKEA B.V., hierna te noemen de werkgever, en
            <br />
            <br />
        </p>
        <table style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
                <tr>
                    <td width="30%" style="text-align: left;">Voorletters</td>
                    <td width="70%" style="text-align: left;">: @Model.GetDocumentAnswer("Initials", true)</td>
                </tr>
            <tr>
                <td style="text-align: left;">Voornam</td>
                <td style="text-align: left;">: @Model.GetDocumentAnswer("FirstName",true)</td>
            </tr>
            <tr>
                <td style="text-align: left;">Achternaam</td>
                <td style="text-align: left;">: @Model.GetDocumentAnswer("Prefixes") @Model.GetDocumentAnswer("LastName",true)</td>
            </tr>
            <tr>
                <td style="text-align: left;">Adres</td>
                <td style="text-align: left;">: @Model.GetDocumentAnswer("PermanentAddressLine1",true) @Model.GetDocumentAnswer("PermanentAddressLine2") @Model.GetDocumentAnswer("PermanentAddressLine3")</td>
            </tr>
            <tr>
                <td style="text-align: left;">Postcode / woonplaats</td>
                <td style="text-align: left;">: @Model.GetDocumentAnswer("PermanentPostalCode",true) @Model.GetDocumentAnswer("PermanentCity",true)</td>
            </tr>
            <tr>
                <td style="text-align: left;">Geboortedatum</td>
                <td style="text-align: left;">: @Model.GetDocumentAnswer("DateOfBirth",true)</td>
            </tr>
        </table>
        <p style="text-align: left;font-family: Verdana; font-size: 11px;">
            <br />
            Hierna te noemen medewerker, wordt een arbeidsovereenkomst afgesloten waarvan de voorwaarden als volgt luiden:     
           <br />
        </p>

        @{
            var list = new List<PdfListItem>();
            var pdfList = new List<PdfListItem>();


            var brText = "<br /><br />";

            //1
            string text1 = "Met ingang van {0} treedt de medewerker bij de werkgever in dienst.";
            list.Add(new PdfListItem { Text = string.Format(text1, Model.GetDocumentAnswer("ContractStartDate", true)) });

            //2
            string text2 = "De medewerker wordt aangesteld in de functie van {0} bij de vestiging {1}. Deze functie is ingedeeld in functieschaal {2}. Tevens kan de medewerker op verzoek van de manager ingezet worden op andere afdelingen binnen IKEA.";
            list.Add(new PdfListItem { Text = string.Format(text2, Model.GetDocumentAnswer("LocalJobTitle", true), Model.GetDocumentAnswer("BusinessUnit", true), Model.GetDocumentAnswer("PayScaleLevel", true)) });


            if ((Model.GetDocumentAnswer("BusinessUnit").ToLower() == "Store Amsterdam 088".ToLower() || Model.GetDocumentAnswer("BusinessUnit").ToLower() == "Store Heerlen 089".ToLower() || Model.GetDocumentAnswer("BusinessUnit").ToLower() == "Store Rotterdam Barendrecht 274".ToLower())
                   && Model.GetDocumentAnswer("NewPosition").ToLower() == "New Position for VAP store?".ToLower())
            {

                //2+

                string text2add = "De bovenstaande functie is specifiek voor de vestiging {0} en valt buiten de kaders van het functiegebouw van IKEA B.V. Op het moment dat VAPS constructie van IKEA {0} vervalt en IKEA {0} weer een reguliere vestiging wordt, heeft dit consequenties voor deze functie. Met jou wordt dan gesproken over herplaatsing in een andere functie behorende bij het functiegebouw van IKEA B.V.";
                pdfList.Add(new PdfListItem { Text = string.Format(text2add, Model.GetDocumentAnswer("BusinessUnit", true)) });
                list[list.Count - 1].SubList = pdfList;
            }


            if (Model.GetDocumentAnswer("EmploymentCategory").ToLower() == "Permanent".ToLower())
            {
                //3
                string text3a = "Deze arbeidsovereenkomst wordt afgesloten voor onbepaalde tijd.";
                list.Add(new PdfListItem { Text = text3a });
            }


            if (Model.GetDocumentAnswer("EmploymentCategory").ToLower() == "Temporary".ToLower())
            {
               
                //3
                string text3b = "Deze arbeidsovereenkomst wordt afgesloten voor bepaalde tijd. De looptijd van het contract is van {0} tot en met {1} en eindigt derhalve van rechtswege aan het einde van de overeengekomen periode, zonder dat hiervoor enige opzegging is vereist.";
                list.Add(new PdfListItem { Text = string.Format(text3b, Model.GetDocumentAnswer("ContractStartDate", true), Model.GetDocumentAnswer("ContractEndDate", true)) });
            }


            //4
            string text4 = "Partijen zijn gerechtigd om de arbeidsovereenkomst tussentijds tegen het einde van de kalendermaand op te zeggen met inachtneming van de wettelijke opzegtermijn.";
            list.Add(new PdfListItem { Text = text4 });


            //5
            string text5 = "Het dienstverband tussen werkgever en medewerker eindigt in ieder geval van rechtswege bij het bereiken van de pensioengerechtigde leeftijd door medewerker.";
            list.Add(new PdfListItem { Text = text5 });


            if (Model.GetDocumentAnswer("ProbationPeriod").ToLower() == "Yes".ToLower())
            {
                //6
                string text6 = "De eerste twee maanden van het dienstverband gelden als proeftijd. Tijdens de proeftijd hebben beide partijen het recht om het dienstverband met onmiddellijke ingang op te zeggen en te beëindigen.";
                list.Add(new PdfListItem { Text = text6 });
            }

            //7
            string text7 = "Het betreft een {0} dienstverband. Het gemiddeld te werken uren per week bedraagt {1}, volgens rooster. De medewerker behoort tot de categorie {2}. De medewerker is conform de IKEA CAO flexibel in tijd en uren in te roosteren tijdens weekdagen, zaterdagen en op zon- en feestdagen en verklaart zich hiermee uitdrukkelijk akkoord.";
            list.Add(new PdfListItem { Text = string.Format(text7, Model.GetDocumentTranslatedAnswer("ContractType"), Model.GetDocumentAnswer("ContractedHours", true), NetherlandsPdfPage.GetPayRollCategoryText(Model.GetDocumentAnswer("PayrollCategory", true), Model)) });
           
            
            //8
            if (Model.GetDocumentAnswer("ContractType").ToLower() == "Full Time".ToLower())
            {

                string text8 = "8a.	Het salaris bedraagt &euro;  {0} bruto per maand. De salarisbetaling vindt telkens aan het einde van de kalendermaand plaats.";
                list.Add(new PdfListItem { Text = string.Format(text8, Model.GetDocumentAnswer("BasicPay", true), brText) });
            }

            //8 START
            if (Model.GetDocumentAnswer("ContractType").ToLower() == "Part Time".ToLower())
            {

                string text8 = "8a.	Het salaris bedraagt &euro;  {0} bruto per uur. 	De salarisbetaling vindt telkens aan het einde van de kalendermaand plaats.";
                list.Add(new PdfListItem { Text = string.Format(text8, Model.GetDocumentAnswer("BasicPayAmount", true), brText) });
            }

            //SUBLIST

            //8b

            pdfList = new List<PdfListItem>();
            
         
            
            if (Model.GetDocumentAnswer("TypeOfBenefit").ToLower() == "Company Car".ToLower() | Model.GetDocumentAnswer("TypeOfBenefit2").ToLower() == "Company Car".ToLower() | Model.GetDocumentAnswer("TypeOfBenefit3").ToLower() == "Company Car".ToLower())
            {
                string text8b = "Werknemer heeft recht op gebruik van een lease-auto categorie {0}. {1}";

                //Need to do this check because you can add 3 benefits

                if (Model.GetDocumentAnswer("TypeOfBenefit").ToLower() == "Company Car".ToLower())
                {
                    //set mandatory for contract
                    Model.SetDocumentMandatoryField("TypeOfCar");
                    Model.SetDocumentMandatoryField("Category");
                    
                    string TypeOfCar = Model.GetDocumentTranslatedAnswer("TypeOfCar");
                    
                    pdfList.Add(new PdfListItem { Text = string.Format(list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + text8b, Model.GetDocumentAnswer("Category"), NetherlandsPdfPage.FirstLetterToUpperCase(TypeOfCar)) });
                }

                if (Model.GetDocumentAnswer("TypeOfBenefit2").ToLower() == "Company Car".ToLower())
                {
                    //set mandatory for contract
                    Model.SetDocumentMandatoryField("TypeOfCar2");
                    Model.SetDocumentMandatoryField("Category2");
                    
                    string TypeOfCar2 = Model.GetDocumentTranslatedAnswer("TypeOfCar2");
                    pdfList.Add(new PdfListItem { Text = string.Format(list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + text8b, Model.GetDocumentAnswer("Category2"), NetherlandsPdfPage.FirstLetterToUpperCase(TypeOfCar2)) });
                }


                if (Model.GetDocumentAnswer("TypeOfBenefit3").ToLower() == "Company Car".ToLower())
                {
                    //set mandatory for contract
                    Model.SetDocumentMandatoryField("TypeOfCar3");
                    Model.SetDocumentMandatoryField("Category3");
                    
                    string TypeOfCar3 = Model.GetDocumentTranslatedAnswer("TypeOfCar3");
                    pdfList.Add(new PdfListItem { Text = string.Format(list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + text8b, Model.GetDocumentAnswer("Category3"), NetherlandsPdfPage.FirstLetterToUpperCase(TypeOfCar3)) });
                }

            }
            else
            {
                string text8b = list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + "De tegemoetkoming in de reiskosten wordt berekend conform de geldende IKEA CAO, artikel 29.";
                pdfList.Add(new PdfListItem { Text = text8b });
            }

            //8c
            if (Model.GetDocumentAnswer("PayrollCategory").ToLower() == "MT/Dep/SM".ToLower() && (Model.GetDocumentAnswer("PayScaleLevel") == "9" || Model.GetDocumentAnswer("PayScaleLevel") == "10" || Model.GetDocumentAnswer("PayScaleLevel") == "11" || Model.GetDocumentAnswer("PayScaleLevel") == "12"))
            {
                string text8c = list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + "Als tegemoetkoming in kosten voor representatie en telefoongebruik ontvang je een algemene onkostenvergoeding van EUR 50,- bruto per maand. Dit is conform CAO artikel 28A.";
                pdfList.Add(new PdfListItem { Text = text8c });
            }

            //8d

            if (Model.GetDocumentAnswer("TypeOfBenefit") == "Salary Revision" | Model.GetDocumentAnswer("TypeOfBenefit2") == "Salary Revision" | Model.GetDocumentAnswer("TypeOfBenefit3") == "Salary Revision")
            {
                //Need to do this check because you can add 3 benefits

                string text8d = "Eerste salarisrevisie: {0}.";

                if (Model.GetDocumentAnswer("TypeOfBenefit").ToLower() == "Salary Revision".ToLower())
                {

                    pdfList.Add(new PdfListItem { Text = string.Format(list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + text8d, Model.GetDocumentAnswer("NextRevisionDate", true)) });

                }

                if (Model.GetDocumentAnswer("TypeOfBenefit2").ToLower() == "Salary Revision".ToLower())
                {
                    pdfList.Add(new PdfListItem { Text = string.Format(list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + text8d, Model.GetDocumentAnswer("NextRevisionDate2", true)) });

                }

                if (Model.GetDocumentAnswer("TypeOfBenefit3").ToLower() == "Salary Revision".ToLower())
                {
                    pdfList.Add(new PdfListItem { Text = string.Format(list.Count.ToString() + NetherlandsPdfPage.GetLetter(pdfList.Count) + text8d, Model.GetDocumentAnswer("NextRevisionDate3", true)) });
                }

            }

            //lägg till i sublist (vet att b alltid kommer läggas till så behöver inte kolla null
            list[list.Count - 1].SubList = pdfList;

            //SUBLIST END

            //8 END

            //9
            string text9 = "Op deze arbeidsovereenkomst is het pensioenreglement van toepassing als bedoeld in artikel 10 van de IKEA CAO.";
            list.Add(new PdfListItem { Text = text9 });


            //10
            if (Model.GetDocumentAnswer("BusinessUnit").ToLower() == "CCCN".ToLower())
            {
                string text10 = "IKEA beschikt over faciliteiten om telefoongesprekken die worden gevoerd tussen klanten en medewerkers van het CCCN op te nemen. Deze gesprekken zijn bestemd voor trainingsdoeleinden om de medewerkers van IKEA te kunnen trainen. Werknemer verklaart zich door ondertekening van dit contract ermee bekend en akkoord dat IKEA van deze opname faciliteiten gebruik maakt.";
                list.Add(new PdfListItem { Text = text10 });
            }

            //11
            if (Model.GetDocumentAnswer("DocumentType").ToLower() == "Work Permit".ToLower())
            {
                string text11 = "Medewerkers die op basis van een verblijfsvergunning in Nederland verblijvenen bij wie arbeid (tijdelijk) is toegestaan, verplichten zich om bij iedere wijziging in hun verblijfsstatus (verblijfsvergunning) en/of werkstatus (werkvergunning) IKEA hierover te informeren.";
                list.Add(new PdfListItem { Text = text11 });
            }

            //12 START
            string text12 = "Op deze arbeidsovereenkomst zijn de van tijd tot tijd geldende IKEA CAO, de  IKEA Group Code of Conduct en de regels die zijn opgenomen in Mijn IKEA van toepassing. De IKEA CAO en de IKEA Group Code of Conduct zijn te raadplegen op en downloaden via de internetsite <a href=\"http://www.ico-worker.com/nl\" target=\"_blank\" title=\"http://www.ico-worker.com/nl\" style=\"text-decoration: underline; color: blue;\">www.ico-worker.com/nl</a>. De inloggegevens voor deze site vind je in de bijgesloten brief. Op verzoek van de werknemer stuurt IKEA een digitale versie per e-mail of een geprinte versie per gewone post toe van de toepasselijke regels. Het boekje Mijn IKEA ontvang je tegelijk met deze arbeidsovereenkomst.";


            if ((Model.GetDocumentAnswer("PayScaleType").ToLower() == "IKEA NL CAO".ToLower() | Model.GetDocumentAnswer("PayScaleType").ToLower() == "IKEA NL geen CAO - out of scope".ToLower()) && ((Model.GetDocumentAnswer("PayScaleLevel") == "14" || Model.GetDocumentAnswer("PayScaleLevel") == "15")))
            {

                text12 += brText + "Hoewel de IKEA CAO niet op deze arbeidsovereenkomst van toepassing is, worden de artikelen met de volgende onderwerpen uit de laatst overeengekomen IKEA CAO door ondertekening van deze arbeidsovereenkomst op de arbeidsovereenkomst van toepassing en worden die geacht daarvan onderdeel uit te maken, ook als de looptijd van deze CAO is verstreken en nog geen nieuwe CAO tot stand is gekomen:";
                text12 += brText + "- Ontwikkel- en beoordelingscyclus (II, artikel 4)";
                text12 += "<br />- Beloningssysteem (II, artikel 5)";
                text12 += "<br />- Personeelskorting (II, artikel 9)";
                text12 += "<br />- Pensioen (II artikel 10)";
                text12 += "<br />- Vergoedingen incidentele dienstreizen binnen- en buitenland (II, artikel 30)";
                text12 += "<br />- Algemeen (wettelijk) verlof (VI, artikel 41)";
                text12 += "<br />- Bijzonder verlof met behoud van salaris (VI, artikel 42)";
                text12 += "<br />- Gezondheidsbeleid (VII, artikel 45 t/m 52)";
                text12 += "<br />- Verzekeringen (VIII artikel 55 t/m 59).";

                text12 += brText + "De tussen haakjes vermelde artikelen verwijzen naar de desbetreffende bepalingen van de IKEA CAO zoals deze luidde ten tijde van het aangaan van de arbeidsovereenkomst. Indien een of meer van de bovengenoemde bepalingen of de nummering ervan in een latere IKEA CAO wijzigen, treden deze gewijzigde bepalingen in de plaats van die bepalingen.";
            }


            list.Add(new PdfListItem { Text = text12 });

            //12 END

            //13
            int PayScaleLevel = 0;

            if (Model.GetDocumentAnswer("PayScaleLevel").Length > 0 && Model.GetDocumentAnswer("PayScaleLevel").ToLower() != "N/A".ToLower())
            {
                try
                {
                    PayScaleLevel = int.Parse(Model.GetDocumentAnswer("PayScaleLevel"));
                }
                catch (Exception)
                {
                }
                

                if (PayScaleLevel >= 14)
                {
                    list.Add(new PdfListItem { Text = "Werknemer gaat akkoord met een mogelijk volgende loopbaanstap welke uitzending naar het buitenland zou kunnen betekenen. Plaatsing geschiedt in overleg met werknemer." });
                }
                
            }
        }

            @if (list.Count > 1)
            {
                for (int i = 0; i < list.Count; i++)
                { 
            <br />                                        
        <p style="text-align: left;font-family: Verdana; font-size: 11px; padding-left: 20px; padding-right: 50px;">@(i + 1). @Html.Raw(list[i].Text)</p>
                    if (list[i].SubList != null && list[i].SubList.Count > 0)
                    {
                        foreach (var item in list[i].SubList)
                        {
        <br />
        <p style="text-align: left;font-family: Verdana; font-size: 11px; padding-left: 20px; padding-right: 50px;">@item.Text </p>
                        }
                    }
                }
            }
            else
            {
                for (int i = 0; i == list.Count - 1; i++)
                {
        <p style="font-family: Verdana; font-size: 11px;">@Html.Raw(list[i])</p>
                }
            }
    
           <endpage />

    </div>
</body>
</html>
