
@model DH.Helpdesk.SelfService.Models.Orders.OrderEdit.FullOrderEditModel
@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
}

@section Actions
{

    <ul class="secnav">
        @Html.Hidden("order_languageId", SessionFacade.CurrentLanguageId);
        @if (Model.UserHasAdminOrderPermission)
        {
            <li>
                @Html.ActionLink(Translation.Get("Spara"), null, null, new {id = "btnSave", @class = "btn btn-default"})
            </li>
            <li>
                @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Orders", new {id = Model.Id},
                    new
                    {
                        @class = "btn btn-default deleteDialog",
                        deleteDialogText = Translation.Get("Are you sure?"),
                        deleteDialogDeleteButtonText = Translation.Get("Ta bort"),
                        deleteDialogCancelButtonText = Translation.Get("Avbryt"),
                        customerId = SessionFacade.CurrentCustomerID
                    })
            </li>
        }
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Orders", new {customerId = SessionFacade.CurrentCustomerID}, new {@class = "btn btn-default"})
        </li>
        <li>
            <i id="actionIndicator" class="gif-loader" style="display: none">&nbsp;</i>
        </li>
        @if (Model.UserHasAdminOrderPermission)
        {
            <li>
                @Html.CheckBoxFor(m => m.InformOrderer, new {id = "informOrderer_action", style = "display:none"})
            </li>
            <li>
                @Html.CheckBoxFor(m => m.InformReceiver, new {id = "informReceiver_action", style = "display:none"})
            </li>
            if (Model.Other.CaseNumber.Value == null || Model.Other.CaseNumber.Value == 0)
            {
                <li>
                    @Html.CheckBoxFor(m => m.CreateCase, new {id = "createCase_action", style = "display:none"})
                </li>
            }

        }
    </ul>
}

@section Content
{
    @using (Html.BeginForm("Edit", "Orders", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.EditorFor(m => m)
    }
}

@section Scripts
{
    <script type="text/javascript">

        window.parameters = (window.parameters == null ? {} : window.parameters);
        window.parameters.fileUploadWhiteList = [];
        window.parameters.invalidFileExtensionText = '@Html.Raw(Translation.GetForJS("har inte en giltig filändelse."))';

        @if (Model.FileUploadWhiteList != null)
        {
            foreach(var extension in Model.FileUploadWhiteList)
            {
                @:window.parameters.fileUploadWhiteList.push('@extension');
            }
        }
        else
        {
            @:window.parameters.fileUploadWhiteList = null;
        }

    </script>
    }
