@using System.Collections.Generic;
@using System.Configuration;
@using DH.Helpdesk.NewSelfService.Infrastructure
@using DH.Helpdesk.NewSelfService.Infrastructure.Extensions
@using DH.Helpdesk.NewSelfService.Infrastructure.Common;
@using DH.Helpdesk.Services.Infrastructure
@using DH.Helpdesk.Common.Enums;
@using DH.Helpdesk.NewSelfService.Models.Case;

 @{
        
        int pCustomerId = -1;

        if(SessionFacade.CurrentCustomer != null)
        {
            pCustomerId = SessionFacade.CurrentCustomer.Id;
            SessionFacade.CurrentCustomerID = pCustomerId;
        }

        if(pCustomerId == -1 && SessionFacade.CurrentCustomerID > 0)
        {
            pCustomerId = SessionFacade.CurrentCustomerID;
            if(SessionFacade.CurrentCustomer != null)
            {
                SessionFacade.CurrentCustomer.Id = pCustomerId;
            }
        }

        var helper = ManualDependencyResolver.Get<ICommonFunctions>();

        var pCaseTemplates = helper.GetCaseTemplates(pCustomerId);
        var pActionSettings = helper.GetActionSettings(pCustomerId);

        var hideMenu = false;

        if(SessionFacade.UserHasAccess == false)
        {
            hideMenu = true;
        }

        var showLanguageSelect = false;
        if(TempData["ShowLanguageSelect"] != null && TempData["ShowLanguageSelect"].ToString().ToLower() == "true")
        {
            showLanguageSelect = true;
        }

        CaseLogModel pCaseLogs = null;
        var currentCaseId = ViewBag.CurrentCaseId;
        if(currentCaseId != null)
        {
            pCaseLogs = helper.GetCaseLogs(currentCaseId);
        }

        var appType = System.Configuration.ConfigurationManager.AppSettings[AppSettingsKey.CurrentApplicationType].ToString().ToLower();

        var hasError = ViewBag.HasError;
        var pHasError = false;
        if(hasError == "true")
        {
            pHasError = true;
        } 
        
    }

<!DOCTYPE html>
<html>
<head>
    <meta content="html/text; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>
        @if (appType == ApplicationTypes.LineManager)
        {
            @Translation.Get("DH-Line Manager", Enums.TranslationSource.TextTranslation)
        }
        else
        {
            @Translation.Get("DH-Self Service", Enums.TranslationSource.TextTranslation)
        }
    </title>            

    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/selfservice.css")" />
    <link rel="stylesheet" href="@Url.Content("~/img-profile/profile.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/js/jquery.plupload.queue/css/jquery.plupload.queue.css")" />

    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.11.0.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.9.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-multiselect.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/plupload.full.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.plupload.queue/jquery.plupload.queue.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/MicrosoftAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/MicrosoftMvcAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.js")"></script>   
    <script type="text/javascript" src="@Url.Content("~/Content/js/Shared/sortby.js")"></script>
    

    <!--[if lt IE 9]>
	 <script src="@Url.Content("~/Content/js/html5shiv.js")"></script>
      <script src="@Url.Content("~/Content/js/respond.min.js")"></script>
	<![endif]-->


    <script type="text/javascript">

        var isDirty = false;

        $(function () {

            $("input[type='text']").change(function () {
                isDirty = true;
            });

            // Delete dialog start 
            $(".deleteDialog").click(function (e) {

                e.preventDefault();

                var action = $(this).attr("href");
                var text = $(this).attr("deleteDialogText");

                var NewDialog = $('<div id="myModal" class="modal fade">\
                                        <div class="modal-dialog">\
                                            <form method="post" id="deleteDialogForm" class="modal-content">\
                                                <div class="modal-body">\
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>\
                                                    <p class="alert alert-info infop">\Infotext kommer här, ta ej bort</p>\
                                                </div>\
                                                <div class="modal-footer">\
                                                    <button type="button" class="btn btn-ok">@Translation.Get("Delete", Enums.TranslationSource.TextTranslation)</button>\
                                                    <button type="button" class="btn btn-cancel">@Translation.Get("Cancel", Enums.TranslationSource.TextTranslation)</button>\
                                                </div>\
                                            </form>\
                                        </div>\
                                    </div>');

                NewDialog.on("show", function () {
                    NewDialog.find("form").attr("action", action);
                    NewDialog.find("p:eq(0)").text(text);

                    NewDialog.find(".btn-cancel").on("click", function (e) {
                        NewDialog.modal('hide');
                    });

                    NewDialog.find(".btn-ok").on("click", function (e) {
                        $("#deleteDialogForm").submit();
                        NewDialog.modal('hide');
                    });
                });

                NewDialog.on("hide", function () {
                    $("#myModal .btn-ok").off("click");
                    $("#myModal .btn-cancel").off("click");
                });

                NewDialog.on("hidden", function () {
                    $("#myModal").remove();
                });

                NewDialog.modal({
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true
                });
            });
            // Delete dialog end

        });
       

    </script>

    <!--COMMUNICATE SCRIPT---->
    <script type='text/javascript'>
        $(document).ready(function () {
            $("* [rel='tooltip']").tooltip({
                html: true
            });

            $('.mapButton').click(function () {
                var mapPos = parseInt($('.siteCom').css('left'), 10);
                if (mapPos < 0) {
                    $('.siteCom').animate({
                        left: '+=600'
                    }, 458, 'swing', function () {
                        // Animation complete.
                    });
                }
                else {
                    $('.siteCom').animate({
                        left: '-=600'
                    }, 458, 'swing', function () {
                        // Animation complete.
                    });
                }
            });
        });
    </script>
    <!--END COMMUNICATE SCRIPT---->
</head>
<body>
   
   
    <!-- COMMUNICATE DIV--->
    @*<input type="button" value ="@employeeList" />*@

    @if(currentCaseId != null)
    {
        <div class="siteCom">
            <div class="mapButton">
                 @if((pCaseLogs != null) && (pCaseLogs.CaseLogs != null) && (pCaseLogs.CaseLogs.Count > 0) && (string.IsNullOrEmpty(pCaseLogs.CaseLogs.Where(l => !string.IsNullOrEmpty(l.Text_Internal.Trim())).First().RegUser)))
                 {
                    <div class="mapText" title="@Translation.Get("Communicate", Enums.TranslationSource.TextTranslation)"><span class="glyphicon glyphicon-comment"></span><span class="glyphicon glyphicon-certificate newcom"></span></div>
                 }
                 else
                 {
                    <div class="mapText" title="@Translation.Get("Communicate", Enums.TranslationSource.TextTranslation)"><span class="glyphicon glyphicon-comment"></span></div>
                 }                
            </div>
            <div class="theMap">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                @Translation.Get("Add comment", Enums.TranslationSource.TextTranslation):
                            </label>
                            <div>
                                <textarea id="myNote"  style="width:450px; height:100px;"></textarea>
                            </div>
                            <button  class="btn btn-success" onclick=" SaveExternalMessage() ">@Translation.Get("Send", Enums.TranslationSource.TextTranslation)</button>
                            <hr />
                        </div>                        
                    </div>
                </div>
                <div id="CaseLogPartial" class="com-list">
                     @Html.Partial("_CaseLogNote", pCaseLogs)
                 </div>
            </div>
        </div>
    }
    <!-- END COMMUNICATE DIV--->

    <div class="jumbotron">
        <div class="container-fluid">
             <a href="@Url.Action("Index", "Start", new { customerId = pCustomerId, area = "" })">
                <div class="pull-left toplogo"></div>
             </a>
            <div class="pull-right small toplogout">            
                               
                    <div class="dropdown"> 
                      <a href="#" type="button" class="dropdown-toggle" data-toggle="dropdown">
                        @Translation.Get("Select language", Enums.TranslationSource.TextTranslation)<span class="caret"></span>
                      </a>
                      @if(SessionFacade.AllLanguages != null)
                      {
                          <ul class="dropdown-menu" role="menu">
                              @foreach(var lang in SessionFacade.AllLanguages)
                              {
                                <li>
                                    <a href="@Url.Action("ChangeLanguage", "start", new { area = "", language = lang.LanguageId, currentUrl = this.Request.Url.LocalPath, lastParams = HttpContext.Current.Request.QueryString })"> 
                                       @Translation.Get(lang.Name, Enums.TranslationSource.TextTranslation, (SessionFacade.CurrentCustomer != null ? SessionFacade.CurrentCustomer.Language_Id : 0)) @(lang.Id == SessionFacade.CurrentLanguageId ? "●" : "")
                                    </a>
                                </li>
                              }                         
                          </ul>
                      }
                    </div>
                @if (!hideMenu && ConfigurationManager.AppSettings[AppSettingsKey.LoginMode].ToString().ToLower() != LoginMode.Anonymous)
                {                    
                    <span class="toplogout-space"> | </span> <a href="#" >  @Translation.Get("User", Enums.TranslationSource.TextTranslation): @SessionFacade.CurrentSystemUser</a>                                      
                     @*<a href="@System.Configuration.ConfigurationManager.AppSettings["LogoutUrl"].ToString()">@Translation.Get("Logga ut", Enums.TranslationSource.TextTranslation)</a>*@
                }
                
            </div>
        </div>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(!hideMenu)
                    {
                        var start = pActionSettings.SingleOrDefault(a => a.ObjectId == ActionObject.Start);
                        if(start != null)
                        {
                            if(start.Visibled)
                            {
                            <li class="blue">
                                <a href="@Url.Action("Index", "Start", new { customerId = pCustomerId, area = "" })">
                                    <div class="@(string.IsNullOrEmpty(start.ObjectClass) ? "ico-home" : start.ObjectClass)"></div>
                                    @Translation.Get(start.ObjectValue, Enums.TranslationSource.TextTranslation) 
                                </a>
                            </li>
                            }
                        }
                        else
                        {
                            <li class="blue">
                                <a href="@Url.Action("Index", "Start", new { customerId = pCustomerId, area = "" })">
                                    <div class="ico-home"></div>
                                   @Translation.Get("Start", Enums.TranslationSource.TextTranslation) 
                                </a>
                            </li>
                        }
                    }
                    
                    @if(!hideMenu)
                    {
                        var serviceRequest = pActionSettings.SingleOrDefault(a => a.ObjectId == ActionObject.ServiceRequest);
                        if(serviceRequest != null)
                        {
                            if(serviceRequest.Visibled)
                            {
                            <li class="dropdown blue">
                                <a href="#" class="dropdown-toggle blue" data-toggle="dropdown">
                                    <div class="@(string.IsNullOrEmpty(serviceRequest.ObjectClass) ? "ico-new" : serviceRequest.ObjectClass)"></div>
                                    @Translation.Get(serviceRequest.ObjectValue, Enums.TranslationSource.TextTranslation)
                                </a>

                                <ul class="dropdown-menu">
                                    @if(pCaseTemplates != null)
                                    {
                                        foreach(var c in pCaseTemplates)
                                        {
                                             
                                        <li>
                                            @if(string.IsNullOrEmpty(c.TemplatePath))
                                            {
                                                <a href="@Url.Action("NewCase", "case", new { customerId = pCustomerId, caseTemplateId = c.Id, area = "" })">
                                                    <span class="glyphicon glyphicon-plus"></span>@c.Name
                                                    <br />
                                                    <span class="small">@c.Description</span>
                                                </a>
                                            }
                                            else
                                            {
                                                var tempPath = c.TemplatePath;
                                                tempPath += "?language=[language]";
                                                <a href="@Url.Content(tempPath.SetUrlParameters())">
                                                    <span class="glyphicon glyphicon-plus"></span>@c.Name
                                                    <br />
                                                    <span class="small">@c.Description</span>
                                                </a>
                                            }
                                        </li>
                                        }
                                    }
                                </ul>
                            </li>
                            }
                        }
                        else
                        {
                            <li class="dropdown blue">
                                <a href="#" class="dropdown-toggle blue" data-toggle="dropdown">
                                    <div class="ico-new"></div>
                                    @if(appType == ApplicationTypes.LineManager)
                                    {
                                       @Translation.Get("Order New Service Request", Enums.TranslationSource.TextTranslation)
                                    }
                                    else
                                    {
                                       @Translation.Get("Initiate a case", Enums.TranslationSource.TextTranslation)
                                    }
                                </a>

                                <ul class="dropdown-menu">
                                    @if(pCaseTemplates != null)
                                    {
                                        foreach(var c in pCaseTemplates)
                                        {
                                        <li>
                                            @if(string.IsNullOrEmpty(c.TemplatePath))
                                            {
                                                <a href="@Url.Action("NewCase", "case", new { customerId = pCustomerId, caseTemplateId = c.Id, area = "" })">
                                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;@Translation.Get(c.Name, Enums.TranslationSource.TextTranslation)
                                                    <br />
                                                    <span class="small">@Translation.Get(c.Description, Enums.TranslationSource.TextTranslation)</span>
                                                </a>
                                            }
                                            else
                                            {
                                                var tempPath = c.TemplatePath;
                                                tempPath += "?language=[language]";
                                                <a href="@Url.Content(tempPath.SetUrlParameters())">                                                
                                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;@Translation.Get(c.Name, Enums.TranslationSource.TextTranslation)
                                                    <br />
                                                    <span class="small">@Translation.Get(c.Description, Enums.TranslationSource.TextTranslation)</span>
                                                </a>
                                            }
                                        </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }

                    @if(!hideMenu)
                    {
                        var ongoingService = pActionSettings.SingleOrDefault(a => a.ObjectId == ActionObject.OngoingService);
                        if(ongoingService != null)
                        {
                            if(ongoingService.Visibled)
                            {
                            <li class="blue">
                                <a href="@Url.Action("UserCases", "case", new { customerId = pCustomerId, progressId = "2", area = "" })">
                                    <div class="@(string.IsNullOrEmpty(ongoingService.ObjectClass) ? "ico-ongoing" : ongoingService.ObjectClass)"></div>
                                    @Translation.Get(ongoingService.ObjectValue, Enums.TranslationSource.TextTranslation)
                                </a>
                            </li>
                            }
                        }
                        else
                        {
                            <li class="blue">
                                <a href="@Url.Action("UserCases", "case", new { customerId = pCustomerId, progressId = "2", area = "" })">
                                    <div class="ico-ongoing"></div>
                                    @if(appType == ApplicationTypes.LineManager)
                                    {
                                      @Translation.Get("Ongoing Service Requests", Enums.TranslationSource.TextTranslation)
                                    }
                                    else
                                    {
                                      @Translation.Get("Ongoing cases", Enums.TranslationSource.TextTranslation)
                                    }
                                </a>
                            </li>
                        }
                    }

                    @if(!hideMenu)
                    {
                        var finishedService = pActionSettings.SingleOrDefault(a => a.ObjectId == ActionObject.FinishedService);
                        if(finishedService != null)
                        {
                            if(finishedService.Visibled)
                            {
                            <li class="blue">
                                <a href="@Url.Action("UserCases", "case", new { customerId = pCustomerId, progressId = "1", area = "" })">
                                    <div class="@(string.IsNullOrEmpty(finishedService.ObjectClass) ? "ico-finished" : finishedService.ObjectClass)"></div>
                                    @Translation.Get(finishedService.ObjectValue, Enums.TranslationSource.TextTranslation)
                                </a>
                            </li>
                            }
                        }
                        else
                        {
                            <li class="blue">
                                <a href="@Url.Action("UserCases", "case", new { customerId = pCustomerId, progressId = "1", area = "" })">
                                    <div class="ico-finished"></div>
                                    @if(appType == ApplicationTypes.LineManager)
                                    {
                                      @Translation.Get("Finished Service Requests", Enums.TranslationSource.TextTranslation)
                                    }
                                    else
                                    {
                                      @Translation.Get("Closed cases", Enums.TranslationSource.TextTranslation)
                                    }
                                    
                                </a>
                            </li>
                        }
                    }

                    @if(!pHasError && SessionFacade.CurrentCustomer.ShowDocumentsOnExternalPage != 0)
                    {
                        if(!hideMenu)
                        {
                            var document = pActionSettings.SingleOrDefault(a => a.ObjectId == ActionObject.Document);
                            if(document != null)
                            {
                                if(document.Visibled)
                                {
                                <li class="blue">
                                    <a href="@Url.Action("Index", "Documents", new { customerId = pCustomerId, area = "" })">
                                        <div class="@(string.IsNullOrEmpty(document.ObjectClass) ? "ico-documents" : document.ObjectClass)"></div>
                                        @Translation.Get(document.ObjectValue, Enums.TranslationSource.TextTranslation)
                                    </a>
                                </li>
                                }
                            }
                            else
                            {                            
                                <li class="blue">
                                    <a href="@Url.Action("Index", "Documents", new { customerId = pCustomerId, area = "" })">
                                        <div class="ico-documents"></div>
                                        @if(appType == ApplicationTypes.LineManager)
                                        {
                                            @Translation.Get("HR Documents", Enums.TranslationSource.TextTranslation)
                                        }
                                        else
                                        {
                                            @Translation.Get("Documents", Enums.TranslationSource.TextTranslation)
                                        }                                    
                                    </a>
                                </li>
                            }
                        }
                    }

                    @if(!pHasError && SessionFacade.CurrentCustomer.ShowCoWorkersOnExternalPage != 0)
                    {
                        if(!hideMenu)
                        {
                            var coWorker = pActionSettings.SingleOrDefault(a => a.ObjectId == ActionObject.CoWorker);
                            if(coWorker != null)
                            {
                                if(coWorker.Visibled)
                                {
                                    <li class="blue">
                                        <a href="@Url.Action("Index", "CoWorkers", new { customerId = pCustomerId, area = "" })">
                                            <div class="@(string.IsNullOrEmpty(coWorker.ObjectClass) ? "ico-coworkers" : coWorker.ObjectClass)"></div>
                                            @Translation.Get(coWorker.ObjectValue, Enums.TranslationSource.TextTranslation)
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {                            
                                <li class="blue">
                                    <a href="@Url.Action("Index", "CoWorkers", new { customerId = pCustomerId, area = "" })">
                                        <div class="ico-coworkers"></div>
                                        @Translation.Get("My Co-Workers", Enums.TranslationSource.TextTranslation)
                                    </a>
                                </li>
                            }
                        }
                    }

                    @if(!pHasError && SessionFacade.CurrentCustomer.ShowHelpOnExternalPage != 0)
                    {
                        if(!hideMenu)
                        {
                            var help = pActionSettings.SingleOrDefault(a => a.ObjectId == ActionObject.Help);
                            if(help != null)
                            {
                                if(help.Visibled)
                                {
                                    <li class="dropdown blue">
                                        <a href="#" class="dropdown-toggle blue" data-toggle="dropdown">
                                            <div class="@(string.IsNullOrEmpty(help.ObjectClass) ? "ico-help" : help.ObjectClass)"></div>
                                            @Translation.Get(help.ObjectValue, Enums.TranslationSource.TextTranslation)
                                        </a>
                                        <ul class="dropdown-menu">
                                            @*<li><a href="@Url.Action("FindYourWay", "Help", new { customerId = pCustomerId, area = "" })">@Translation.Get("Find Your Way", Enums.TranslationSource.TextTranslation)</a></li>*@
                                            <li><a href="@Url.Action("Index", "Help", new { customerId = pCustomerId, area = "" })">@Translation.Get("Help", Enums.TranslationSource.TextTranslation)</a></li>
                                            <li><a href="@Url.Action("About", "Help", new { customerId = pCustomerId, area = "" })">@Translation.Get("About", Enums.TranslationSource.TextTranslation)</a></li>
                                        </ul>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="dropdown blue">
                                <a href="#" class="dropdown-toggle blue" data-toggle="dropdown">
                                    <div class="ico-help"></div>                                
                                    @Translation.Get("Need Help", Enums.TranslationSource.TextTranslation)?                                                                                                
                                </a>                               
                                <ul class="dropdown-menu">
                                    @*<li><a href="@Url.Action("FindYourWay", "Help", new { customerId = pCustomerId, area = "" })">@Translation.Get("Find Your Way", Enums.TranslationSource.TextTranslation)</a></li>*@
                                    <li><a href="@Url.Action("Index", "Help", new { customerId = pCustomerId, area = "" })">@Translation.Get("Help", Enums.TranslationSource.TextTranslation)</a></li>
                                    <li><a href="@Url.Action("About", "Help", new { customerId = pCustomerId, area = "" })">@Translation.Get("About", Enums.TranslationSource.TextTranslation)</a></li>
                                </ul>                                
                            </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
   
    @RenderBody()
    @RenderSection("Dialogs", false)
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhHelpdesk.js")"></script>
    @RenderSection("Scripts", false)
    <input type="hidden" value="@this.Request.RawUrl" id="rawUrl" />

    <!-- Modal Test by Jonas -->
    @*<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width:900px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h3 class="modal-title" id="H1">Communicate</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Date
                                                                </th>
                                                                <th>Comment
                                                                </th>
                                                                <th>Name
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>2014-01-02
                                                                </td>
                                                                <td>Lorem ipsum dölor. Sit amet cönsectetur ädipisicing elit sed do. Eiusmod tempör incididunt ut läbore et. Dolöre mågnå åliqua. Adipiscing lectus amet tempör suspendisse leo elementum.
                                                                </td>
                                                                <td>Per Eriksson
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2014-02-03
                                                                </td>
                                                                <td>Lorem ipsum dölor. Sit amet cönsectetur ädipisicing elit sed do.
                                                                </td>
                                                                <td>Daniel Lönnesjö
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2014-03-04
                                                                </td>
                                                                <td>Eiusmod tempör incididunt ut läbore et. Dolöre mågnå åliqua. Adipiscing lectus amet tempör suspendisse leo elementum.
                                                                </td>
                                                                <td>Alf Larsson
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-md-2">
                                                            Add comment:
                                                        </label>
                                                        <div class="col-md-10">
                                                            <textarea></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-2">
                                                            Attached File:
                                                        </label>
                                                        <div class="col-md-10">
                                                            <a href="#" role="button" data-toggle="modal" data-target="#myModal2" class="btn btn-default">Add</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="text-align:left;">
                                            <button type="button" class="btn btn-success">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>*@    
</body>

</html>


<script type="text/javascript">
    
    function ChangeLang(langId) {                
        if ('@showLanguageSelect' == false)
            return;

        var currentPath = window.location.href;

        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeLanguage")', 
                contentType: "application/json; charset=utf-8",
                data: "{ languageId:" + langId +"}",
                dataType: "html",
                success: function (result) {                   
                    window.location.reload();
                },
                error: function (result) {
                    //alert('Error in change language');
                }
       });        
    }


    function SaveExternalMessage() {        
        if ('@currentCaseId' == null || '@currentCaseId' == "")
            return;
        
        var note = $('#myNote').val();        
        if (note == "") {
            alert('Note text is empty!');
        } else {                                             
            $.get('/Case/_CaseLogNote', { caseId: '@currentCaseId', note: note }, function (_CaseLogNoteMarkup) {
                $('#CaseLogPartial').html(_CaseLogNoteMarkup);
                $('#myNote').val('');
            });            
        }               
    }   

</script>