@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "nl";
}
<!DOCTYPE html>
<html>
<head>
    @*<link href="@Model.Contract.BaseUrl/FormLibContent/assets/css/documents.css" rel="stylesheet" type="text/css" />*@
    @Model.GetStyleAnswer("GetStyleLink")
    @Html.Partial("../Shared/Pdfs/_Styles", Model)
    @Model.GetStyleAnswer("GetStyles")
</head>
<body>
    <div class="default-page">@Html.Partial("../Shared/Pdfs/_Debug", Model)
        @Html.Partial("../Shared/Pdfs/_BarCode", Model)
        @Html.Partial("../Shared/Pdfs/_SectionAddressTop", Model)
        <p>
            Betreft: @Model.Translate(Model.GetDocumentAnswer("AbsenceType", true))
        </p>
        <p>Beste @Model.GetDocumentAnswer("FirstName"),</p>
        <p>Hierbij bevestigen wij je het volgende.</p>

        @*Paragraph appears if  AB1 Absence Type = Emergency leave*@
        @if (Model.GetAnswer("AbsenceType").ToLower() == "Emergency leave".ToLower())
        {
            <p>Op @Model.GetDocumentAnswer("AbsenceStartFrom", true) heb jij voor @Model.GetDocumentAnswer("AbsenceHours", true) uur gebruik gemaakt van de calamiteitenregeling uit de IKEA CAO.</p>
        }
        
@*        Paragraph appears if  AB1 Absence Type = Short-term care leave*@
        @if (Model.GetAnswer("AbsenceType").ToLower() == "Short term care leave (paid leave)".ToLower())
        {
            <p>Van @Model.GetDocumentAnswer("AbsenceStartFrom", true) tot en met @Model.GetDocumentAnswer("AbsenceEndsOn", true) heb jij @Model.GetDocumentAnswer("AbsenceHours", true) uur kortdurend zorgverlof opgenomen met behoud van je salaris tot 100%.</p>
        }

@*Paragraphs appear if  AB1 Absence Type = Unpaid leave OR Long term care leave (unpaid)*@
        @if (Model.GetAnswer("AbsenceType").ToLower().Trim() == "Unpaid leave".ToLower() | Model.GetAnswer("AbsenceType").ToLower().Trim() == "Long term care leave (unpaid)".ToLower())
        {
            <p>Jij hebt aan je manager het verzoek gedaan om in de periode van @Model.GetDocumentAnswer("AbsenceStartFrom", true) tot en met @Model.GetDocumentAnswer("AbsenceEndsOn", true) @Model.GetDocumentAnswer("AbsenceHoursWeekly", true) uur per week onbetaald verlof op te nemen.</p>
            <p>Je manager gaat hiermee akkoord.</p>
            <p>We willen je er graag op wijzen dat je gedurende bovenstaande periode geen opbouw hebt van verlofuren, 13e maand, vakantiegeld en pensioenpremie.</p>
            <p>Na afloop van je onbetaald verlof ben je weer werkzaam voor @Model.GetDocumentAnswer("ContractedHoursOldData", true) uur per week.</p>
        }
        @if (Model.GetAnswer("AbsenceType").ToLower().Trim() == "Long term care leave (unpaid)".ToLower())
        {
            <p>Het verlof is toegekend op basis van het artikel Langdurend Zorgverlof zoals vermeld in de CAO en conform de wettelijke regels voor langdurend zorgverlof.</p>
        }
        @if (Model.GetAnswer("AbsenceType").ToLower().Trim() == "Parental leave".ToLower())
        {
            <p>Jij hebt aan je manager het verzoek gedaan om van @Model.GetDocumentAnswer("AbsenceStartFrom", true) tot en met @Model.GetDocumentAnswer("AbsenceEndsOn", true) @Model.GetDocumentAnswer("AbsenceHoursWeekly", true) uur per week onbetaald ouderschapsverlof op te nemen. Je neemt in deze periode in totaal @Model.GetDocumentAnswer("AbsenceHours", true) uur ouderschapsverlof op, van de @Model.GetDocumentAnswer("Totalparentalleaveentitlement", true) uur waar je aanspraak op kan maken. Je manager gaat hiermee akkoord.</p>

            
            if (!string.IsNullOrEmpty(Model.GetAnswer("ChildName")) && (!string.IsNullOrEmpty(Model.GetAnswer("ChildDateOfBirth"))))
            {
            <ul class="dash_ul">
                <li>Dit ouderschapsverlof geldt voor @Model.GetAnswer("ChildName") geboren op @Model.GetAnswer("ChildDateOfBirth").</li>
            </ul>
            }
            else
            {
            <ul class="dash_ul">
                <li>Dit ouderschapsverlof geldt voor je nog ongeboren baby.</li>
            </ul>
            }
        
            <p>Wij willen je erop wijzen dat je het bovengenoemde ouderschapsverlof niet kan wijzigen of voortijdig kan stopzetten. Wanneer je het ouderschapsverlof voor @(!string.IsNullOrEmpty(Model.GetAnswer("ChildName")) ? Model.GetAnswer("ChildName") : "je nog ongeboren baby") stopzet, vervallen de resterende aangevraagde verlofuren, tenzij de reden van de onderbreking een volgend zwangerschaps-/bevallings-/adoptieverlof is.</p>
            <p>Tijdens de periode van onbetaald ouderschapsverlof wordt de pensioenopbouw voortgezet waarbij zowel het werkgevers- als werknemersdeel van de pensioenpremie voor rekening komen van IKEA.</p>
            <p>Na afloop van je ouderschapsverlof ben je weer werkzaam voor @Model.GetDocumentAnswer("ContractedHoursOldData", true) uur per week.</p>
        }
        <table class="table-full-width">
            <tr style="page-break-inside: avoid">
                <td>
                    <table class="table-full-width">
                        <tr>
                            <td colspan="2">
                                <p style="margin-top:0px; padding-top:0px;">
                                    We hopen je hiermee voldoende geïnformeerd te hebben. Voor meer informatie verwijzen wij je naar ico-worker.com/nl of raadpleeg de IKEA CAO.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.Partial("../Shared/Pdfs/_Signature", Model)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
