@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "nl";
}
<!DOCTYPE html>
<html>
<body>
    <div>

        <br />
    
        <table width="100%" style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;">     
                    <table style="font-family: Verdana; font-size: 11px;" border="0">
            <tr>
                <td style="text-align: left;">@Model.GetDocumentAnswer("FirstName",true) @Model.GetDocumentAnswer("LastName",true)</td>
            </tr>
            <tr>
                <td style="text-align: left;">@Model.GetDocumentAnswer("PermanentAddressLine1",true) @Model.GetDocumentAnswer("PermanentAddressLine2") @Model.GetDocumentAnswer("PermanentAddressLine3")</td>
            </tr>
            <tr>
                <td style="text-align: left;">@Model.GetDocumentAnswer("PermanentPostalCode",true) @Model.GetDocumentAnswer("PermanentCity",true)</td>
            </tr>
        </table></td>

            </tr>
            </table>
        <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            <br />
            @CustomPdfPage.IsEmpty(Model.Department.HeadOfDepartmentCity, "City"), @string.Format(new System.Globalization.CultureInfo("nl-NL"), "{0:d MMMM yyyy}", DateTime.Now)<br />
            <br />

            Betreft: kortdurend zorgverlof<br />
            <br />

            Beste @Model.GetDocumentAnswer("FirstName",true),<br />
            <br />

            Hierbij bevestigen wij je het volgende.
        <br />
            <br />

            Van @Model.GetDocumentAnswer("AbsenceStartFrom" +Model.AbsenceNr,true) tot en met @Model.GetDocumentAnswer("AbsenceEndsOn"+Model.AbsenceNr,true).Trim() heb jij @Model.GetDocumentAnswer("AbsenceHours"+Model.AbsenceNr,true).Trim() uur kortdurend zorgverlof opgenomen met behoud van je salaris tot 100%. 
               <br />
            <br />
            Voor meer informatie over deze regeling verwijzen wij je naar ico-worker.com/nl of raadpleeg artikel 41C van de IKEA CAO.</p>
        <endpage />
    </div>
</body>
</html>