@model DH.Helpdesk.BusinessData.Models.Invoice.CaseInvoiceSettings

@using (Html.BeginForm("SaveSettings", "CaseInvoice", FormMethod.Post, new { id = "case_invoice_settings_form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CustomerId)
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="tableform">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Export path")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.ExportPath, new { maxlength = "200" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Currency")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.Currency, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Issuer")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.Issuer, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Our reference")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.OurReference, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Order no prefix")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.OrderNoPrefix, new { maxlength = "50" })
                        </td>                       
                    </tr>
                    <tr>
                        <td class="span3">
                            @Translation.Get("Doc template")
                        </td>
                        <td class="span9">
                            @Html.TextBoxFor(m => m.DocTemplate, new { maxlength = "50" })
                        </td>                       
                    </tr>
                </table>
            </div>
        </div>        
    </div>
}
<script type="text/javascript">
    $(function() {
        $("#save_case_invoice_settings").click(function() {
            $("#case_invoice_settings_form").submit();
            return true;
        });
    });
</script>