@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Areas.Admin.Models.ProductAreaInputViewModel
<div class="content">
    <div class="formContainer">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Produktområde", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-error">@Translation.Get("Produktområde", Enums.TranslationSource.TextTranslation)
                            @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
                        </div>
                    }
                    
                    @Html.ValidationSummary()
                    <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Produktområde", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.ProductArea.Name, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(model => model.ProductArea.Description, new { style = "width:600px; height:125px;", maxlength = "300" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Translation.Get("Driftgruppen tilldelas ärende med aktuellt produktområde", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.DropDownListFor(model => model.ProductArea.WorkingGroup_Id, Model.WorkingGroups, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        @Translation.Get("Prioritet", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.ProductArea.Priority_Id, Model.Priorities, "")
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Meddelande", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("E-post mall", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.DropDownListFor(model => model.ProductArea.MailID, Model.MailTemplates, "") @Translation.Get("Sänds bara första gången produktområde väljs", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Självservice", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Translation.Get("Visa följande meddelande när aktuellt produktområde väljs", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.TextAreaFor(model => model.ProductArea.InformUserText, new { style = "width:600px; height:125px;", maxlength = "300" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Övrigt", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Aktivera", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        <input type="checkbox" name="productarea.IsActive" @(Model.ProductArea.IsActive == 1 ? "checked=checked" : "") value="1"/>
                                        <input type="hidden" name="productarea.IsActive" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @*@Translation.Get("Visa", Enums.TranslationSource.TextTranslation)*@
                                        @*#57740*@
                                        @Translation.Get("Visa i lista", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td><label class="checkbox">
                                        <input type="checkbox" name="productarea.ShowOnExternalPage" @(Model.ProductArea.ShowOnExternalPage == 1 ? "checked=checked" : "") value="1"/>
                                        <input type="hidden" name="productarea.ShowOnExternalPage" value="0" />
                                            &nbsp;@*@Translation.Get("Visa produktområde på självservice", Enums.TranslationSource.TextTranslation)*@
                                        @*#57740*@
                                        @Translation.Get("Självservice", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Säkerhet", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform"> 
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td style="vertical-align:top" class="span9">
                                        <input type="checkbox" name="chkPermission" id="chkPermission" onchange="showWorkingGroup()" @(Model.WgSelected.Count > 0 ? "checked=checked" : "") value="0"/> @Translation.Get("Begränsa rättighet att skapa ärenden till", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.ProductArea.Customer_Id)
                            @Html.HiddenFor(model => model.ProductArea.Id)
                            @Html.HiddenFor(model => model.ProductArea.Parent_ProductArea_Id)
                            @Html.HiddenFor(model => model.ProductArea.ShowOnExtPageCases)
                        </div>
                    </div>
                    <div class="row" id="divWorkingGroup" @(Model.WgSelected.Count > 0 ? "display:block" : "")>
                        <div class="span20">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">

                                    </td>
                                    <td class="span15">
                                        @Translation.Get("Tillgängliga", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td></td>
                                    <td>
                                        @Translation.Get("Valda", Enums.TranslationSource.TextTranslation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         
                                    </td>
                                    <td>
                                        @Html.ListBox("WgAvailable", Model.WgAvailable, new { style = "width: 314px; height: 100px" })
                                    </td>
                                    <td>
                                        <input type="button" value="&gt;" id="addWg" class="btn" /><br />
                                        <input type="button" value="&lt;" id="removeWg" class="btn" />
                                    </td>
                                    <td>
                                        @Html.ListBox("WgSelected", Model.WgSelected, new { style = "width: 314px; height: 100px" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                @if (Model.ProductArea.SubProductAreas != null && Model.ProductArea.SubProductAreas.Any())
                {
                    <h4>@Translation.Get("Produktområde", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="container">
                        <table class="table table-striped table-bordered table-hover" id="tblSubProductAreas">
                            <thead>
                                <tr>
                                    <th>
                                        @Translation.Get("Produktområde", Enums.TranslationSource.TextTranslation)
                                    </th>
                                    <th>
                                        @Translation.Get("Aktiv", Enums.TranslationSource.TextTranslation)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.ProductAreaTreeString(Model.ProductArea.SubProductAreas.ToList())
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        //        tableOptions.sortable = false;
        //        tableOptions.pager = false;
        //$("#tblSubProductArea").fixheadertable(tableOptions);

        var validator = $("#target").validate({
            rules: {
                "ProductArea.Name": {
                    required: true
                }
            },
            messages: {
                "ProductArea.Name": {
                    required: "@Translation.GetForJS("Du måste ange ett produktområde", Enums.TranslationSource.TextTranslation)"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });

    function showWorkingGroup() {
        if (document.getElementById("chkPermission").checked == true) {
            document.getElementById("divWorkingGroup").style.display = ""
        }
        else {
            document.getElementById("divWorkingGroup").style.display = "none"
        }
    }

    //$("#addWg").click(function () {
    //    $("#WgAvailable option:selected").remove().appendTo("#WgSelected");
    //    $("#WgAvailable").get(0).selectedIndex = -1;
    //    $("#WgSelected").get(0).selectedIndex = -1;
    //    return false;
    //});

    //$("#removeWg").click(function () {
    //    $("#WgSelected option:selected").remove().appendTo("#WgAvailable");
    //    $("#WgAvailable").get(0).selectedIndex = -1;
    //    $("#WgAvailable").get(0).selectedIndex = -1;
    //    return false;
    //});

    $("#addWg").click(function () {
        //if (document.getElementById("WgAvailable").length != 0 && document.getElementById("WgAvailable").selectedIndex != -1) {
        //    // Lägg till bild
        //    document.getElementById("WgSelected").options[document.getElementById("WgSelected").length] = new Option(document.getElementById("WgAvailable")[document.getElementById("WgAvailable").selectedIndex].text, document.getElementById("WgAvailable")[document.getElementById("WgAvailable").selectedIndex].value, false, false)

        //    // Ta bort bild
        //    document.getElementById("WgAvailable").options[document.getElementById("WgAvailable").selectedIndex] = null
        //}
        
        $("#WgAvailable option:selected").remove().appendTo("#WgSelected");
        $("#WgAvailable").get(0).selectedIndex = -1;
        $("#WgSelected").get(0).selectedIndex = -1;
        return false;        
    });

    $("#removeWg").click(function () {

        $("#WgSelected option:selected").remove().appendTo("#WgAvailable");
        $("#WgAvailable").get(0).selectedIndex = -1;
        $("#WgSelected").get(0).selectedIndex = -1;

        //if (document.getElementById("WgSelected").length != 0 && document.getElementById("WgSelected").selectedIndex != -1) {
        //    // Lägg till bild
        //    document.getElementById("WgAvailable").options[document.getElementById("WgAvailable").length] = new Option(document.getElementById("WgSelected")[document.getElementById("WgSelected").selectedIndex].text, document.getElementById("WgSelected")[document.getElementById("WgSelected").selectedIndex].value, false, false)

        //    // Ta bort bild
        //    document.getElementById("WgSelected").options[document.getElementById("WgSelected").selectedIndex] = null
        //}

        return false;
    });
</script>
