@model DH.Helpdesk.Web.Models.Feedback.FeedbackThankYouModel
@{
    ViewBag.Title = "";
}

<div class="content">
    <div class="container">
        <div id="feedbackThanksText" style="display: @(Model.IsShowNote ? "none" : "block")">
            @Html.Raw(Model.Html)
        </div>
        @if (Model.IsShowNote)
        {
            using (Html.BeginForm("SaveComment", "FeedbackAnswer", new { customerId = Model.CustomerId, languageId = Model.LanguageId, questionId = Model.QuestionId, noteText = Model.NoteText }, FormMethod.Post))
            {
                <div id="feedbackContent">

                    @Html.DisplayFor(m => m.NoteLabel)

                    <br />
                    @Html.TextAreaFor(m => m.NoteText, new { id = "feedbackComment" })
                    @Html.ValidationMessageFor(m => m.NoteText)
                    @Html.HiddenFor(m => m.CustomerId)
                    @Html.HiddenFor(m => m.LanguageId)
                    @Html.HiddenFor(m => m.QuestionId)
                    <br />
                    @if (Model.LanguageId == 1)
                    {
                        <a href="#" id="btnSaveComment" class="btn templateQuickButton"> Spara </a>
                    }
                    else if (Model.LanguageId == 2)
                    {
                        <a href="#" id="btnSaveComment" class="btn templateQuickButton"> Save </a>
                    }
                    else
                    {
                        <a href="#" id="btnSaveComment" class="btn templateQuickButton">@Translation.GetCoreTextTranslation("Spara")</a>
                    }
                </div>
            }
        }
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
            $("#btnSaveComment").click(function(e) {
                    $.ajax({
                        type: "POST",
                        url: "/FeedbackAnswer/SaveComment",
                        data: {
                            customerId: @Model.CustomerId,
                            languageId: @Model.LanguageId,
                            questionId: @Model.QuestionId,
                            noteText: $("#feedbackComment").val()
                        },
                        dataType: 'json',
                        success: function(data) {
                            if (data && data.success) {
                                $('#btnSaveComment').unbind('click');
                                $("#feedbackContent").hide();
                                $("#feedbackThanksText").show();
                            }
                        }
                    });
                    e.preventDefault();
                });
        });
</script>