@model DH.Helpdesk.Web.Models.Feedback.FeedbackThankYouModel
@{
    ViewBag.Title = "Feedback Completed";
}

<div class="content">
    <div class="container">
        @Html.Raw(Model.Html)
        @using (Html.BeginForm("SaveComment", "FeedbackAnswer", new {customerId = Model.CustomerId, languageId = Model.LanguageId, questionId = Model.QuestionId, noteText = Model.NoteText}, FormMethod.Post))
        {
            if (Model.IsShowNote)
            {
                @Html.DisplayFor(m => m.NoteLabel)
                <br/>
                @Html.TextAreaFor(m => m.NoteText, new {id = "feedbackComment"})
                @Html.ValidationMessageFor(m => m.NoteText)
                @Html.HiddenFor(m => m.CustomerId)
                @Html.HiddenFor(m => m.LanguageId)
                @Html.HiddenFor(m => m.QuestionId)
                <br/>
                <a href="#" id="btnSaveComment" class="btn templateQuickButton"> Save </a>
                <span id="saveMessage" style="display: none"></span>
            }
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
            $("#btnSaveComment").click(function(e) {
                    $.ajax({
                        type: "POST",
                        url: "/FeedbackAnswer/SaveComment",
                        data: {
                            customerId: @Model.CustomerId,
                            languageId: @Model.LanguageId,
                            questionId: @Model.QuestionId,
                            noteText: $("#feedbackComment").val()
                        },
                        dataType: 'json',
                        success: function(data) {
                            if (data){
                                $("#btnSaveComment").attr('disabled', 'disabled');
                                $("#feedbackComment").attr('disabled', 'disabled');
                                $('#btnSaveComment').unbind('click');
                                $('#btnSaveComment').hide();
                                $('#saveMessage').text(data.message);
                                $('#saveMessage').show();
                                if (data.success) {
                                    $('#saveMessage').addClass("textgreen");
                                } else {
                                    $('#saveMessage').addClass("textred");
                                }
                            }
                        }
                    });
                    e.preventDefault();
                });
        });
</script>