@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.OrderFieldSettings.FieldSettings.FullFieldSettingsModel

<table class="table table-striped table-bordered table-hover table-cases">
    <thead>
        <tr>
            <th>@Translation.Get("Fält")</th>
            <th>@Translation.Get("Visa")</th>
            <th>@Translation.Get("Visa på självservice")</th>
            <th>@Translation.Get("Rubrik")</th>
            <th>@Translation.Get("Obligatorisk")</th>
            <th>@Translation.Get("Lista")</th>
            <th>@Translation.Get("Standardvärde")</th>
            <th>@Translation.Get("Hjälp")</th>
            @*<th>@Translation.Get("Identifierare")</th>*@
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Allmänt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.OrderNumber)
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Customer)
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Status)
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Administrator)
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.Domain)
        </tr>
        <tr>
            @Html.EditorFor(m => m.General.OrderDate)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Användare")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.UserId)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.UserFirstName)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.UserLastName)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.UserPhone)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.UserEMail)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Användarinformation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Initials)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.PersonalIdentityNumber)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Extension)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Title)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Location)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.RoomNumber)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.PostalAddress)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.EmploymentType)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.DepartmentId1)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.DepartmentId2)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.UnitId)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Info)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Responsibility)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Activity)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.Manager)
        </tr>
        <tr>
            @Html.EditorFor(m => m.User.ReferenceNumber)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Kontoinformation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.StartedDate)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.FinishDate)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.EMailTypeId)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.HomeDirectory)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.Profile)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.InventoryNumber)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.AccountType)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.AccountType2)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.AccountType3)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.AccountType4)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.AccountType5)
        </tr>
        <tr>
            @Html.EditorFor(m => m.AccountInfo.Info)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Kontakt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Contact.Id)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Contact.Name)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Contact.Phone)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Contact.Email)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Beställare")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererId)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererName)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererLocation)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererEmail)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererPhone)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererCode)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.Department)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.Unit)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererAddress)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererInvoiceAddress)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.OrdererReferenceNumber)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.AccountingDimension1)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.AccountingDimension2)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.AccountingDimension3)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.AccountingDimension4)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Orderer.AccountingDimension5)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Beställning")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.Property)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow1)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow2)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow3)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow4)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow5)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow6)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow7)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderRow8)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.Configuration)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderInfo)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Order.OrderInfo2)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Mottagare")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Receiver.ReceiverId)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Receiver.ReceiverName)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Receiver.ReceiverEmail)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Receiver.ReceiverPhone)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Receiver.ReceiverLocation)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Receiver.MarkOfGoods)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Orderinformation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Supplier.SupplierOrderNumber)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Supplier.SupplierOrderDate)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Supplier.SupplierOrderInfo)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Leveransinformation")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.Name)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.Phone)
        </tr>  
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryDate)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.InstallDate)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryDepartment)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryOu)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryAddress)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryPostalCode)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryPostalAddress)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryLocation)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryInfo1)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryInfo2)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryInfo3)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Delivery.DeliveryOuId)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Program")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Program.Program)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Program.InfoProduct)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Övrigt")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Other.FileName)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Other.CaseNumber)
        </tr>
        <tr>
            @Html.EditorFor(m => m.Other.Info)
        </tr>
        <tr>
            <td colspan="8" class="header">@Translation.Get("Logg")</td>
        </tr>
        <tr>
            @Html.EditorFor(m => m.Log.Log)
        </tr>
    </tbody>
</table>