@model DH.Helpdesk.Web.Models.CheckLists.CheckListInputModel

<div class="span8">
<table class="tableform" border="0" style="width:820px">
    <tbody>
    <tr>
        <td>
            @Translation.GetCoreTextTranslation("Nytt Område/Tjänst")
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.ServiceName)
        </td>
        <td>
            <a href="#" class="btn" id="AddService">@Translation.GetCoreTextTranslation("Lägg till")</a>
        </td>
    </tr>
    <tr>
        <td>
            @Translation.GetCoreTextTranslation("Ny åtgärd")
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(t => Model.SelectedServiceId, Model.ServicesList)
            @Html.HiddenFor(model => model.CheckListId)
        </td>
        <td>
            @Html.TextAreaFor(model => model.ActionInput)
        </td>
        <td>
            <a href="#" class="btn" id="AddAction">@Translation.GetCoreTextTranslation("Lägg till")</a>
        </td>
    </tr>
        @for (int i = 0; i < Model.Services.Count; i++)
        {
            <tr>
                <td>
                    <input name="Services[@i].ServiceName" type="text" value="@Model.Services[i].ServiceName">
                    <input name="Services[@i].CheckList_Id" type="hidden" value="@Model.Services[i].CheckList_Id">
                    <input name="Services[@i].Id" type="hidden" value="@Model.Services[i].Id">
                </td>
                <td>
                    @Translation.GetCoreTextTranslation("Aktivera Service")
                </td>
                <td class="field switch">
                    <input class="switchcheckbox" name="Services[@i].IsActive" type="checkbox" @(Model.Services[i].IsActive == 1 ? "checked" : "") value="@Model.Services[i].IsActive">
                </td>
                <td>
                </td>
            </tr>
            for (int j = 0; j < Model.Services[i].ActionsList.Count; j++)
            {
                <tr>
                    <td>
                        <textarea cols="20" name="Services[@i].ActionsList[@j].ActionName" rows="2">@Model.Services[i].ActionsList[j].ActionName</textarea>
                        <input name="Services[@i].ActionsList[@j].Action_Id" type="hidden" value="@Model.Services[i].ActionsList[j].Action_Id">
                        <input name="Services[@i].ActionsList[@j].Service_Id" type="hidden" value="@Model.Services[i].ActionsList[j].Service_Id">
                    </td>
                    <td>
                        @Translation.GetCoreTextTranslation("Aktivera Action")
                    </td>
                    <td>
                        <input class="switchcheckbox" name="Services[@i].ActionsList[@j].IsActive" type="checkbox" @(Model.Services[i].ActionsList[j].IsActive == 1 ? "checked" : "") value="@Model.Services[i].ActionsList[j].IsActive">
                    </td>
                    <td>
                        @if (Model.Services[i].ActionsList[j].Action_Id > 0)
                        {
                            @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "DeleteAction", new {id = Model.Services[i].ActionsList[j].Action_Id}, new {@class = "btn deleteDialog", deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"});
                        }
                        else
                        {
                            <a class="btn">@Translation.GetCoreTextTranslation("Ta bort")</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>


<script type="text/javascript">

    $('#tblNewService').submit(function (e) {
        e.preventDefault();
        _this = $(this);
        var data = _this.serialize();
        var url = _this.attr('action');
        var container = $('#tblNewService');

        $.post(url, data, function (result) {
            container.html(result);
        });

    });

    $('#AddAction').on('click', function () {
        var serviceId = $("select#SelectedServiceId").find(":selected").val();
        var checkListId = $("#CheckListId").val();
        var actionName = $("#ActionInput").val();
        $.ajax({
            url: "/checklist/saveaction",
            type: "POST",
            data: { serviceId: serviceId, checkListId: checkListId, actionName: actionName },
            dataType: "json",
            success: function (result) {
                window.location.href = result;
            }
        });
    });

    $('#AddService').on('click', function () {
        var serviceName = $("#ServiceName").val();
        var checkListId = $("#CheckListId").val();
        $.ajax({
            url: "/checklist/addService",
            type: "POST",
            data: { serviceName: serviceName, checkListId: checkListId },
            dataType: "json",
            success: function (result) {
                window.location.href = result;
            }
        });
    });

    $('.switchcheckbox').on('switchChange.bootstrapSwitch', function (event, state) {
        if (state === true)
            $(this).val("1");
        if (state === false)
            $(this).val("0");
    });

</script>