@model DH.Helpdesk.Web.Models.CheckLists.CheckListServiceModel

<div class="span8">
<table class="tableform" border="0" style="width:820px">
    <tbody>
    <tr>
        <td>
            @Translation.GetCoreTextTranslation("Nytt Område/Tjänst")
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.ServiceName)
        </td>
        <td>
            @Html.ActionLink(Translation.GetCoreTextTranslation("Lägg till"), "Edit", null, new {onclick = "$('#target').submit();return false;", @class = "btn"})
        </td>
    </tr>
    <tr>
        <td>
            @Translation.GetCoreTextTranslation("Ny åtgärd")
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownListFor(t => Model.SId, Model.ServicesList)
            @Html.HiddenFor(model => model.SId)
            @Html.HiddenFor(model => model.Service_Id)
            @Html.HiddenFor(model => model.CheckList_Id)
        </td>
        <td>

            @Html.TextAreaFor(model => model.ActionInput)
            @* @Html.Partial("_Actions", Model.ActionsList)
                     @Html.HiddenFor(model => model.ActionsList)*@
            @*@Html.TextAreaFor(model => model.ListOfActions.ActionName)*@
        </td>
        <td>
            <a href="#" class="btn" id="saveAction">@Translation.GetCoreTextTranslation("Lägg till")</a>
        </td>
    </tr>
    @foreach (var service in Model.ServicesList)
    {
        bool serviceIsActive = Convert.ToBoolean(Model.IsActive);
        var serviceId = Convert.ToInt32(service.Value);
        <tr>
            <td>
                @Html.EditorFor(t => service.Text)
            </td>
            <td>
                @Translation.GetCoreTextTranslation("Aktivera Service")
            </td>
            <td class="field switch">
                @Html.CheckBoxFor(t => serviceIsActive, new {@class = "switchcheckbox"})
            </td>
            <td>
                @*Html.CheckBoxFor(t=> service.)*@
            </td>
        </tr>
        if (Model.ActionsList != null)
        {
            foreach (var action in Model.ActionsList.Where(x => x.Service_Id == serviceId))
            {
                bool actionIsActive = Convert.ToBoolean(action.IsActive);
                <tr>
                    <td>
                        @Html.TextAreaFor(a => action.ActionName)
                        @Html.HiddenFor(a => action.Service_Id)
                    </td>
                    <td>
                        @Translation.GetCoreTextTranslation("Aktivera Action")
                    </td>
                    <td>
                        @Html.CheckBoxFor(t => actionIsActive, new {@class = "switchcheckbox"})
                    </td>
                    <td>
                        @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "DeleteAction",
                            new {id = action.Action_Id}, new {@class = "btn deleteDialog", deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"})
                    </td>
                </tr>
            }
        }
    }
    </tbody>
</table>
</div>


<script type="text/javascript">

    $('#tblNewService').submit(function (e) {
        e.preventDefault();
        _this = $(this);
        var data = _this.serialize();
        var url = _this.attr('action');
        var container = $('#tblNewService');

        $.post(url, data, function (result) {
            container.html(result);
        });

    });

    $('#saveAction').on('click', function () {
        var serviceId = $("select#SId").find(":selected").val();
        var checkListId = $("#CheckList_Id").val();
        var actionName = $("#ActionInput").val();
        $.ajax({
            url: "/checklist/saveaction",
            type: "POST",
            data: { serviceId: serviceId, checkListId: checkListId, actionName: actionName },
            dataType: "json",
            success: function (result) {
                window.location.href = result;
            }
        });
    });

</script>