@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.CheckLists.CheckListInputModel

@{
    ViewBag.Title = "";
 }

@using (Html.BeginForm("Edit", "checklist", new { id = Model.CheckListId }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "Edit", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                 <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "delete",
                new { id = @Model.CheckListId}, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post" , Enums.TranslationSource.TextTranslation) + "?"}) </li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", null, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
     @Html.Partial("_ServiceInput", Model)
}
<script type="text/javascript">

    $("input:text:visible:first").focus();

</script>
