@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Models.CheckLists.CheckListIndexViewModel

@{
    ViewBag.Title = ""; 
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li id="btnAdd">@Html.ActionLink(Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation) + " " +
            Translation.Get("Checklista", Enums.TranslationSource.TextTranslation), "new", null, new { @class = "btn" })</li>
            @*<li> @Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "Save", "Checklists", null, new { @class = "btn" }) </li>  *@          
           @* <li> @Html.EditorFor(model => model.CreatDate, "DatePicker", new { id = "CreatDate" })</li>*@
       </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li id="CheckLisTab" class="active">
                <a href="#fragment-1">@Translation.Get("Checklista", Enums.TranslationSource.TextTranslation)</a>
            </li>
            <li id="CheckListsTab">
                <a href="#fragment-2">@Translation.Get("Checklistor", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">

                  @*  @using (Html.BeginForm("index", "Checklist", FormMethod.Post, new { id = "checkLists" }))
                {                                        
                      
                }*@
                @Html.Partial("_CheckListsAction", Model)            
            </div>

            <div class="tab-pane tab-pane-border" id="fragment-2">                                            
                @using (Html.BeginForm("index", "Checklist", FormMethod.Post, new { id = "checkLists" }))
                {                                        
                      @Html.Partial("_Input")
                }
            </div>            
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#btnAdd').hide();

    $('#CheckListsTab').click(function (e) {
        $('#btnAdd').show();
    });

    $('#CheckLisTab').click(function (e) {
        $('#btnAdd').hide();
    });

</script>
