@using DH.Helpdesk.Web.Infrastructure
@model IList<DH.Helpdesk.Web.Models.Case.CaseOverview>
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Ärende", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Registreringsdatum", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Ärendetyp", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Understatus", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Rubrik", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Bevakningsdatum", Enums.TranslationSource.TextTranslation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer" onclick=" window.location.href = '@Url.Action("Edit", "Cases", new RouteValueDictionary { { "id", item.Id } })'">
                <td>@Html.DisplayFor(x => item.CaseNumber)
                </td>
                <td>@Html.DisplayFor(x => item.RegistrationDate)
                </td>
                <td>@Html.DisplayFor(x => item.CaseType)
                </td>
                <td>@Html.DisplayFor(x => item.SubState)
                </td>
                <td>@Html.DisplayFor(x => item.Caption)
                </td>
                <td>@Html.DisplayFor(x => item.WatchDate)
                </td>
            </tr>
        }
    </tbody>
</table>
