@using DH.Helpdesk.Web.Models.Projects
@model IndexProjectViewModel

@functions 
{

    private Dictionary<string, object> GetDictionary(Enums.Show show)
    {
        var dict = new Dictionary<string, object>();
        if (Model.Filter.State == show)
        {
            dict.Add("checked", "checked");
        }

        return dict;
    }

}
<script>
    $(function () {
        
        window.sortGrid = function (fieldName) {
            var sortFieldName = $('#sortFieldName').val();
            if (sortFieldName == null || sortFieldName != fieldName) {
                $('#sortFieldName').val(fieldName);
                $('#sortFieldBy').val(sortBy.ASCENDING);
            } else {
                if ($('#sortFieldBy').val() == sortBy.ASCENDING) {
                    $('#sortFieldBy').val(sortBy.DESCENDING);
                } else {
                    $('#sortFieldBy').val(sortBy.ASCENDING);
                }
            }

            $('#search_form').submit();
        };
    });
</script>
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li id="menu1">@Html.ActionLink(Translation.Get("Nytt projekt", Enums.TranslationSource.TextTranslation), "NewProject", null, new { @class = "btn" })</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Projekt", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @using (Ajax.BeginForm("Search", null, new AjaxOptions { UpdateTargetId = "projects_grid" }, new { id = "search_form" }))
                            {
                                @Html.HiddenFor(m => m.Filter.SortField.Name, new { id = "sortFieldName" })
                                @Html.HiddenFor(m => m.Filter.SortField.SortBy, new { id = "sortFieldBy" })

                                <table>
                                    <tr>
                                        <td>@Translation.Get("Visa", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            <label class="radio inline">
                                                @Html.RadioButtonFor(x => x.Filter.State, 1, @GetDictionary(Enums.Show.Active)) @Translation.Get("Pågående projekt", Enums.TranslationSource.TextTranslation)
                                            </label>
                                            <label class="radio inline">
                                                @Html.RadioButtonFor(x => x.Filter.State, 0, @GetDictionary(Enums.Show.Inactive)) @Translation.Get("Avslutade projekt", Enums.TranslationSource.TextTranslation)

                                            </label>
                                            <label class="radio inline">
                                                @Html.RadioButtonFor(x => x.Filter.State, 2, @GetDictionary(Enums.Show.All)) @Translation.Get("Alla projekt", Enums.TranslationSource.TextTranslation)

                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Translation.Get("Projektledare", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.Filter.ProjectManagerId, Model.Users, string.Empty)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td>
                                            @Html.EditorFor(x => x.Filter.ProjectNameLikeString)
                                            <input type ="submit" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" name="btnSearch" class="btn"/>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                    <div>
                    </div>
                    <div id="projects_grid">
                        @Html.Partial("ProjectGrid", new ProjectOverviewSorting(Model.Projects, Model.Filter.SortField))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


