@using DH.Helpdesk.Web.Infrastructure
@model IList<DH.Helpdesk.BusinessData.Models.Projects.Output.ProjectLogOverview>
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Text", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Datum", Enums.TranslationSource.TextTranslation)
            </th>
            <th>@Translation.Get("Av", Enums.TranslationSource.TextTranslation)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.LogText)
                </td>
                <td>@Html.DisplayFor(x => item.ChangedDate)
                </td>
                <td>@Html.DisplayFor(x => item.ResponsibleUser)
                </td>
                <td>
                    @Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "DeleteProjectLog", new { projectId = item.ProjectId, logId = item.Id }, new { @class = "btn" })
                </td>
            </tr>
        }
    </tbody>
</table>
