@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Models.Projects
@model DH.Helpdesk.Web.Models.Projects.NewProjectViewModel
@using (Html.BeginForm("NewProject", "Projects", FormMethod.Post, new { id = "edit_form" }))
{
    @Html.ValidationSummary(true)

    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn"/>
                </li>
                <li id="menu2">@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "Index", null, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="problem_tab">
                <li class="active">
                    <a href="#fragment-1">@Translation.Get("Projekt", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
            <div class="tab-content overflow-visible">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    @{
                        @Html.Partial("_InputProject", new ProjectEditViewModel { Users = Model.Users, ProjectEditModel = Model.ProjectEditModel, Guid = Model.Guid }) // todo Implement Mappers
                    }
                </div>
                <div class="tab-pane tab-pane-border" id="fragment-2">
                    <div id="log_edit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.Guid)
}

<script>
    window.parameters = (window.parameters == null ? {} : window.parameters);
    window.parameters.fileUploadWhiteList = [];

        @if (Model.FileUploadWhiteList != null)
        {
            foreach(var extension in Model.FileUploadWhiteList)
            {
                @:window.parameters.fileUploadWhiteList.push('@extension');
            }
        }
        else
        {
            @:window.parameters.fileUploadWhiteList = null;
        }

    $.validator.setDefaults({
        ignore: ""
    });

</script>
