@model DH.Helpdesk.SelfService.Models.Orders.OrderEdit.OrderEditModel

<h4>@Model.Header</h4>
<div class="container">
    <div class="row form-horizontal">
        <div class="col-md-12 dh-col ">
            @Html.EditorFor(m => m.StartedDate, "Fields/Date", new { Id = "accInfo_started_date" })
            @Html.EditorFor(m => m.FinishDate, "Fields/Date", new { Id = "accInfo_finish_date" })
            @Html.EditorFor(m => m.Property, "Fields/List", new { Source = Model.Properties })
            @Html.EditorFor(m => m.EMailTypeId, "Fields/List", new { Source = Model.EmailTypes })
            @Html.EditorFor(m => m.HomeDirectory, "Fields/Flag")
            @Html.EditorFor(m => m.Profile, "Fields/Flag")
            @Html.EditorFor(m => m.OrderRow1, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.OrderRow2, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.OrderRow3, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.OrderRow4, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.OrderRow5, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.OrderRow6, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.OrderRow7, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.OrderRow8, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "100" }, { "class", "inputw450" } } })
            @Html.EditorFor(m => m.AccountTypeId, "Fields/List", new { Source = Model.AccountTypes })
            @Html.EditorFor(m => m.AccountTypeId2, "Fields/FlagsList", new { Source = Model.AccountTypes2 })
            @Html.EditorFor(m => m.AccountTypeId3, "Fields/List", new { Source = Model.AccountTypes3 })
            @Html.EditorFor(m => m.AccountTypeId4, "Fields/List", new { Source = Model.AccountTypes4 })
            @Html.EditorFor(m => m.AccountTypeId5, "Fields/List", new { Source = Model.AccountTypes5 })
            @Html.EditorFor(m => m.Configuration, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "400" } } })
            @Html.EditorFor(m => m.OrderInfo, "Fields/WideText", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "800" } } })
            @*@Html.EditorFor(m => m.OrderInfo2, "Fields/Number")  *@
            @if (Model.OrderInfo2.Show)
            {
                <div class="row form-group">
                    <div class="col-md-3">
                        @Html.FieldCaption(Model.OrderInfo2)
                    </div>
                    <div class="col-md-6">
                        @Html.SpecialCheckBox(Html.NameFor(m => m.OrderInfo2.Value).ToString(), Model.OrderInfo2.Value, 1)
                    </div>
                    <div class="col-md-3">
                        @Model.OrderInfo2.Help
                    </div>
                </div>
            }
        </div>
    </div>
</div>
