
@model DH.Helpdesk.SelfService.Models.Orders.OrderEdit.UserInfoEditModel

<h4>@Model.Header</h4>
<div class="container">
    <div class="row form-horizontal">
        <div class="col-md-12 dh-col ">
            @if (Model.OrdererId.IsMultiple)
            {
                @Html.EditorFor(m => m.OrdererId, "Fields/MultiText")
            }
            else
            {
                @Html.EditorFor(m => m.OrdererId, "Fields/Text",
                    new
                    {
                        inputAttributes = new Dictionary<string, object>
                        {
                            {"id", "orderer_OrdererId"},
                            {"maxlength", "40"},
                            {"autocomplete", "Off"},
                            {"data-field", "userId"},
                            {"required", false}
                        }
                    })
            }

            @Html.EditorFor(m => m.PersonalIdentityNumber, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_OrdererCode" }, { "maxlength", "200" } } })
            @Html.EditorFor(m => m.OrdererName, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_OrdererName" }, { "maxlength", "50" } } })
            @Html.EditorFor(m => m.OrdererLocation, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_OrdererLocation" }, { "maxlength", "50" } } })
            @Html.EditorFor(m => m.OrdererEmail, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_OrdererEmail" }, { "maxlength", "100" } } })
            @Html.EditorFor(m => m.Extension, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })
            @Html.EditorFor(m => m.Title, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "50" } } })
            @Html.EditorFor(m => m.EmploymentTypeId, "Fields/List", new { Source = Model.EmploymentTypes })
            @Html.EditorFor(m => m.OrdererAddress, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "50" } } })
            @*@if (Model.DepartmentId1.Show)
    {
        <div class="row form-group">
            <div class="col-md-3">
                <label>@Translation.Get("Område")</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.RegionId, Model.Regions, string.Empty, new {id = "region_dropdown"})
            </div>
            <div class="col-md-3"></div>
        </div>
    }*@
            @Html.EditorFor(m => m.DepartmentId1, "Fields/List", new {Source = Model.Departments, Id = "orderer_departmentId"})
            @Html.EditorFor(m => m.Unit, "Fields/List", new {Source = Model.Units, Id = "orderer_unit_select"})
            @Html.EditorFor(m => m.DepartmentId2, "Fields/List", new {Source = Model.Departments2})
            @Html.EditorFor(m => m.RoomNumber, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "50" } } })
            @Html.EditorFor(m => m.OrdererPhone, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "id", "order_OrdererPhone" }, { "maxlength", "50" } } })
            @Html.EditorFor(m => m.OrdererCode, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "10" } } })
            @Html.EditorFor(m => m.Activity, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "50" } } })
            @Html.EditorFor(m => m.Manager, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "50" } } })
            @Html.EditorFor(m => m.OrdererInvoiceAddress, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "50" } } })
            @Html.EditorFor(m => m.OrdererReferenceNumber, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })
            @Html.EditorFor(m => m.AccountingDimension1, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })
            @Html.EditorFor(m => m.AccountingDimension2, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })
            @Html.EditorFor(m => m.AccountingDimension3, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })
            @Html.EditorFor(m => m.AccountingDimension4, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })
            @Html.EditorFor(m => m.AccountingDimension5, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })
            @Html.EditorFor(m => m.Info, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "200" } } })
        </div>
    </div>
</div>
