@model List<DH.Helpdesk.BusinessData.Models.Inventory.Output.ComputerUserOverview>
<script>
    $(function () {
        $('#user_select_div').dialog({
            autoOpen: false,
            modal: false,
            resizable: false,
            resizeable: false,
            maxWidth: 1200,
            maxHeight: 500,
            width: 1200,
            height: 500,
        });
    });

    function fillUserInputs(id, userId, firstName, surName, deparment, unit) {
        $("#user_dialog_userId").val(id);
        $("#user_dialog_textbox").val(userId);
        $("#firstname_dialog_td").html(firstName);
        $("#surname_dialog_td").html(surName);
        $("#department_dialog_td").html(deparment);
        $("#unit_dialog_td").html(unit);

        $('#user_select_div').dialog('close');
    }

</script>

<div id="user_select_div" title="@Translation.Get("Användarinformation")">
    @Translation.Get("Klicka på raden för att lägga in informationen.")
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@Translation.Get("Användar ID")
                </th>
                <th>@Translation.Get("Förnamn")
                </th>
                <th>@Translation.Get("Efternamn")
                </th>
                <th>@Translation.Get("E-post")
                </th>
                <th>@Translation.Get("Telefon")
                </th>
                <th>@Translation.Get("Mobil")
                </th>
                <th>@Translation.Get("Avdelning")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="cursor: pointer"  onclick="fillUserInputs('@item.Id', '@item.UserId', '@item.FirstName', '@item.SurName', '@item.Department', '@item.Unit')">
                    <td>@Html.DisplayFor(x => item.UserId)
                    </td>
                    <td>@Html.DisplayFor(x => item.FirstName)
                    </td>
                    <td>@Html.DisplayFor(x => item.SurName)
                    </td>
                    <td>@Html.DisplayFor(x => item.Email)
                    </td>
                    <td>@Html.DisplayFor(x => item.Phone)
                    </td>
                    <td>@Html.DisplayFor(x => item.MobilePhone)
                    </td>
                    <td>@Html.DisplayFor(x => item.Department)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
