@using DH.Helpdesk.Domain.Invoice
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.DepartmentInputViewModel
@if (TempData["Error"] != null)
{
    <div class="alert alert-error">@Translation.Get("Avdelning", Enums.TranslationSource.TextTranslation)
        @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
    </div>    
}

<div class="content">
    <div class="container">
        
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment1">@Translation.Get("Avdelning", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
            @if (Model.CustomerSettings.ModuleInvoice == true)
            {
                <li><a href="#fragment2">@Translation.Get("Fakturering", Enums.TranslationSource.TextTranslation)</a></li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Avdelning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.Department.DepartmentName, new { maxlength = "200", @class = "txt50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Kortbeteckning", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Department.DepartmentId, new { @class = "txt20", maxlength = "20" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Söknyckel", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Department.SearchKey, new { maxlength = "400", @class = "txt50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Avdelningschef", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Department.HeadOfDepartment, new { maxlength = "50", @class = "txt50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Avdelningschef e-post", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Department.HeadOfDepartmentEMail, new { maxlength = "50", @class = "txt50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Land", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Department.Country_Id, Model.Countries, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Område", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Department.Region_Id, Model.Regions, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Språk för E-mail", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Department.LanguageId, Model.Languages, "")
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Integration", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("LDAP sökväg", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.TextAreaFor(model => model.Department.Path, new { maxlength = "1000", style = "width:600px; height:250px;" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Övrigt", Enums.TranslationSource.TextTranslation)</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Kalender", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.DropDownListFor(model => model.Department.HolidayHeader_Id, Model.Holidays, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Kalender", Enums.TranslationSource.TextTranslation)&nbsp;@Translation.Get("Bevakningsdatum", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Department.WatchDateCalendar_Id, Model.WatchDateCalendar, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Kod", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => Model.Department.Code, new { maxlength = "20" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Aktiv", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="department.IsActive" @(Model.Department.IsActive == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="department.IsActive" value="0" />
                                        </label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Standard", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="department.IsEMailDefault" @(Model.Department.IsEMailDefault == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="department.IsEMailDefault" value="0" />
                                            &nbsp;@Translation.Get("Sätt avdelningen som standard på ärenden som registreras via e-mail", Enums.TranslationSource.TextTranslation)
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane tab-pane-border" id="fragment2">
                <div class="container">
                    <h4>@Translation.GetCoreTextTranslation("Fakturering")</h4>
                    <div class="row">
                        <div>
                            <table class="tableform span12">
                                <tr>
                                    <td class="span2">
                                        @Translation.GetCoreTextTranslation("Debitering")
                                    </td>
                                    <td class="span10">
                                        <label class="checkbox">
                                            <input type="checkbox" name="department.Charge" @(Model.Department.Charge == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="department.Charge" value="0" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Avdelningen kan debiteras för genomförda åtgärder")
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" id="chkChargeMandatory" name="department.ChargeMandatory" @(Model.Department.ChargeMandatory == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="department.ChargeMandatory" value="0" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Debitering är obligatorisk")
                                        </label>
                                        <div id="invoiceChargeTypeDiv" style='padding-left: 25px;display: @(Model.Department.ChargeMandatory == 1 ? "block" : "none")'>
                                            <div id="invoiceChargeTypes">
                                                <label class="radio">
                                                    @Html.RadioButton("department.InvoiceChargeType", "PerDepartment", new {id = "perDep"})
                                                    &nbsp; @Translation.GetCoreTextTranslation("Avdelning")
                                                </label>
                                                <label class="radio">
                                                    @Html.RadioButton("department.InvoiceChargeType", "PerOU", new {id = "perOUs"})
                                                    &nbsp; @Translation.GetCoreTextTranslation("Organisationsenhet")
                                                </label>
                                                <div id="selectOUs" style="display: @(Model.Department.InvoiceChargeType == InvoiceChargeType.PerOU ? "block" : "none")">
                                                    @Html.Partial("_Invoicing", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="department.ShowInvoice" @(Model.Department.ShowInvoice == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="department.ShowInvoice" value="0" />
                                            &nbsp;@Translation.GetCoreTextTranslation("Visa fakturor")
                                        </label>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.Department.ShowInvoiceTime)
                                        &nbsp; @Translation.GetCoreTextTranslation("Visa tid")
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.Department.ShowInvoiceOvertime)
                                        &nbsp; @Translation.GetCoreTextTranslation("Visa övertid")
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.Department.ShowInvoiceMaterial)
                                        &nbsp; @Translation.GetCoreTextTranslation("Visa Material")
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.Department.ShowInvoicePrice)
                                        &nbsp; @Translation.GetCoreTextTranslation("Visa Pris")
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Bokföringsbelopp")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Department.AccountancyAmount, new { maxlength = "8" })&nbsp;SEK
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Övertidsbelopp")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Department.OverTimeAmount, new { maxlength = "8" })&nbsp;SEK
                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.Department.Customer_Id)
                            @Html.HiddenFor(model => model.Department.Id)
                            @Html.HiddenFor(model => model.Department.Code)
                            @Html.HiddenFor(model => model.Department.DepartmentGUID)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var $vailableOUs = $("#InvoiceAvailableOUs");
        var $selectedOUs = $("#InvoiceSelectedOUs");

        $('#chkChargeMandatory').change(function(e) {
            var isChecked = $(this).is(":checked");
            $('#invoiceChargeTypeDiv').toggle(isChecked);
        });

        $('#invoiceChargeTypes input').change(function() {
            var self$ = $(this);
            var selectedId = self$.prop('id');
            $('#selectOUs').toggle(selectedId === 'perOUs');
        });

        $("#addOU").click(function () {
            $("#InvoiceAvailableOUs option:selected").remove().appendTo($selectedOUs.selector);
            $vailableOUs.get(0).selectedIndex = -1;
            $selectedOUs.get(0).selectedIndex = -1;
            return false;
        });

        $("#removeOU").click(function () {
            $("#InvoiceSelectedOUs option:selected").remove().appendTo($vailableOUs.selector);
            $vailableOUs.get(0).selectedIndex = -1;
            $selectedOUs.get(0).selectedIndex = -1;
            return false;
        });
    });
</script>