@model DH.Helpdesk.Web.Areas.Admin.Models.DepartmentInputViewModel
<table style="width: 740px">
    <tr>
        <td>@Translation.GetCoreTextTranslation("Tillgängliga")</td>
        <td></td>
        <td>@Translation.GetCoreTextTranslation("Valda")</td>
    </tr>
    <tr>
        <td>
            <select id="InvoiceAvailableOUs" multiple="multiple" name="InvoiceAvailableOUs" style="width: 350px; height: 120px">
                @foreach (var av in Model.InvoiceAvailableOUs)
                {
                    <option value="@av.Value" class='@(av.Disabled? "DisabledChosen":"")'>@av.Text</option>
                }
            </select>
        </td>
        <td style="vertical-align:middle">
            <input type="button" value="&lt;" class="btn" id="removeOU" />
            <input type="button" value="&gt;" class="btn" id="addOU" />
        </td>
        <td>
            <select id="InvoiceSelectedOUs" multiple="multiple" name="InvoiceSelectedOUs" style="width: 350px; height: 120px">
                @foreach (var s in Model.InvoiceSelectedOUs)
                {
                    <option value="@s.Value" class='@(s.Disabled? "DisabledChosen":"")'>@s.Text</option>
                }
            </select>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(function() {
        var $vailableOUs = $("#InvoiceAvailableOUs");
        var $selectedOUs = $("#InvoiceSelectedOUs");

        $("#addOU").click(function () {
            $("#InvoiceAvailableOUs option:selected").remove().appendTo($selectedOUs.selector);
            $vailableOUs.get(0).selectedIndex = -1;
            $selectedOUs.get(0).selectedIndex = -1;
            return false;
        });

        $("#removeOU").click(function () {
            $("#InvoiceSelectedOUs option:selected").remove().appendTo($vailableOUs.selector);
            $vailableOUs.get(0).selectedIndex = -1;
            $selectedOUs.get(0).selectedIndex = -1;
            return false;
        });
    });
</script>
