@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.BusinessRule.BusinessRuleInputModel
@{
    ViewBag.Title = "";
}

@Html.HiddenFor(m=> Model.CustomerId)
@Html.HiddenFor(m=> Model.RuleId)
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Rule", Enums.TranslationSource.TextTranslation)</a></li>                        
        </ul>

        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <table>
                    <tr>
                        <td class="span2">
                            @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => Model.RuleName, new { @class="BR-text"})
                            @Html.ValidationMessageFor(x => x.RuleName)
                        </td>
                    </tr>
                    <tr>
                        <td class="span2">
                            @Translation.Get("Event", Enums.TranslationSource.TextTranslation) 
                        </td>
                        <td>                            
                            <select id="lstEvents" name="lstEvents" class="BR-chosen-single-select">                                    
                                @foreach (var _event in Model.Events)
                                {
                                    <option value="@_event.Id"  @(_event.Selected? "Selected":"")> @_event.Name </option>                                
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="span2">
                            @Translation.Get("Sequence", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => Model.Sequence, new { id="ruleSequence" , @class="BR-text"})
                        </td>
                    </tr>
                     @*<tr>
                        <td class="span2">
                            @Translation.Get("Continue on success", Enums.TranslationSource.TextTranslation) 
                        </td>
                        <td>
                            @Html.CheckBoxFor(m=> Model.ContinueOnSuccess, new { @class="switchcheckbox", id="continueOnSuccess"})                           
                        </td>
                    </tr>
                     <tr>
                        <td class="span2">
                            @Translation.Get("Continue on error", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td>
                            @Html.CheckBoxFor(m=> Model.ContinueOnError, new { @class="switchcheckbox", id="continueOnError"})
                        </td>
                    </tr>*@
                    
                    <tr>
                        <td class="span2">
                            @Translation.Get("Active", Enums.TranslationSource.TextTranslation)                            
                        </td>
                        <td>
                             @Html.CheckBoxFor(m => Model.IsActive, new { @class="switchcheckbox", id="isRuleActive"})
                        </td>
                    </tr>
                </table>

                @if (Model.Condition != null)
                {
                    @Html.Partial("_RuleCondition", Model.Condition)
                }

                @if (Model.Action != null)
                {
                    @Html.Partial("_RuleAction", Model.Action)
                }

            </div>            
        </div>        
    </div>
</div>