@using DH.Helpdesk.Web.Areas.Admin.Models.BusinessRule
@model BRConditionModel
@{
    ViewBag.Title = "";
}

<h4>@Translation.Get("Conditions")</h4>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width:10%">
                Field
            </th>
            <th style="width:25%">
                From value
            </th>
            <th style="width:25%">
                To value
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Translation.Get("Process")
            </td>
            <td>
                @Html.ListBoxExtendedOptionsFor(x => x.ProcessesFromValue, (List<DdlModel>) @ViewBag.ProcessList, new {@id = "lstProcessFrom", @name = "lstProcessFrom", @class = "BR-chosen-select", @multiple = ""}, x => ((DdlModel) x).Disabled ? "DisabledChosen" : "")
                @Html.ValidationMessageFor(model => model.ProcessesFromValue)
            </td>
            <td>
                @Html.ListBoxExtendedOptionsFor(x => x.ProcessesToValue, (List<DdlModel>) @ViewBag.ProcessList, new {@id = "lstProcessTo", @name = "lstProcessTo", @class = "BR-chosen-select", @multiple = ""}, x => ((DdlModel) x).Disabled ? "DisabledChosen" : "")
                @Html.ValidationMessageFor(model => model.ProcessesToValue)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Translation.Get("SubStatus")
            </td>
            <td>
                @Html.ListBoxExtendedOptionsFor(x => x.SubStatusesFromValue, (List<DdlModel>) @ViewBag.SubStatus, new {@id = "lstSubStatusFrom", @name = "lstSubStatusFrom", @class = "BR-chosen-select", @multiple = ""}, x => ((DdlModel) x).Disabled ? "DisabledChosen" : "")
                @Html.ValidationMessageFor(model => model.SubStatusesFromValue)
            </td>
            <td>
                @Html.ListBoxExtendedOptionsFor(x => x.SubStatusesToValue, (List<DdlModel>) @ViewBag.SubStatus, new {@id = "lstSubStatusTo", @name = "lstSubStatusTo", @class = "BR-chosen-select", @multiple = ""}, x => ((DdlModel) x).Disabled ? "DisabledChosen" : "")
                @Html.ValidationMessageFor(model => model.SubStatusesToValue)
            </td>

            <td></td>
        </tr>

    </tbody>
</table>
