@using DH.Helpdesk.Web.Areas.Admin.Models.BusinessRule
@model BRActionModel
@{
    ViewBag.Title = "";
}


<h4>@Translation.Get("Åtgärder")</h4>

<table>
    <tbody>
        <tr id="BRActionMailTemplate">
            <td class="span2"> @Translation.Get("E-post mall") </td>
            <td>
                @Html.DropDownListFor(x => x.EmailTemplateId, (List<SelectListItem>)@ViewBag.EMailTemplates, "", new { @id = "lstEmailTemplates", name = "lstEmailTemplates", @class = "BR-chosen-single-select" })
                @Html.ValidationMessageFor(x => x.EmailTemplateId)
            </td>
        </tr>
        <tr id="BRActionEmailGroup">
            <td class="span2">
                @Translation.Get("E-postgrupp")
            </td>
            <td>
                @Html.ListBoxExtendedOptionsFor(x => x.EMailGroupIds, (List<DdlModel>)@ViewBag.EMailGroups, new { @id = "lstEmailGroups", @name = "lstEmailGroups", @class = "BR-chosen-select", @multiple = "" }, x => ((DdlModel)x).Disabled ? "DisabledChosen" : "")
            </td>
        </tr>
        <tr id="BRActionWorkingGroup">
            <td class="span2">
                @Translation.Get("Driftgrupp")
            </td>
            <td>
                @Html.ListBoxExtendedOptionsFor(x => x.WorkingGroupIds, (List<DdlModel>)@ViewBag.WorkingGroups, new { @id = "lstWorkingGroups", @name = "lstWorkingGroups", @class = "BR-chosen-select", @multiple = "" }, x => ((DdlModel)x).Disabled ? "DisabledChosen" : "")
            </td>
        </tr>
        <tr id="BRActionAdministrator">
            <td class="span2">
                @Translation.Get("Handläggare")
            </td>
            <td>
                @Html.ListBoxExtendedOptionsFor(x => x.AdministratorIds, (List<DdlModel>)@ViewBag.Administrators, new { @id = "lstAdministrators", @name = "lstAdministrators", @class = "BR-chosen-select", @multiple = "" }, x => ((DdlModel)x).Disabled ? "DisabledChosen" : "")
            </td>
        </tr>
        <tr id="BRActionAdministratorSingleSelect">
            <td class="span2">
                @Translation.Get("Handläggare")
            </td>
            <td>
                @Html.DropDownListFor(x => x.Administrator, (List<DdlModel>)@ViewBag.Administrators, "", new { @id = "lstAdministrators", name = "lstAdministrators", @class = "BR-chosen-single-select" })
            </td>
        </tr>
        <tr id="BRActionRecipients">
            <td class="span2">
                @Translation.Get("Mottagare", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Html.TextBoxFor(m => Model.Recipients, new { id = "recipients", @class = "BR-text" })
            </td>
        </tr>
        <tr id="BRActionCreatedBy">
            <td class="span2">
                @Translation.Get("Skapad av", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.CaseCreator, new { @class = "switchcheckbox", id = "caseCreator" })
            </td>
        </tr>
        <tr id="BRActionRegistrator">
            <td class="span2">
                @Translation.Get("Anmälare", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.Initiator, new { @class = "switchcheckbox", id = "initiator" })
            </td>
        </tr>
        <tr id="BRActionAbout">
            <td class="span2">
                @Translation.Get("Angående", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.CaseIsAbout, new { @class = "switchcheckbox", id = "caseIsAbout" })
            </td>
        </tr>
        <tr id="BRActionDisableFinishingType">
            <td class="span2">
                @Translation.Get("Inaktivera avslut", Enums.TranslationSource.TextTranslation)
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.DisableFinishingType, new { @class = "switchcheckbox", id = "disableFinishingType" })
            </td>
        </tr>
    </tbody>
</table>
