@using DH.Helpdesk.Web
@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.BusinessRule.BusinessRuleInputModel
@{
    //ViewBag.Title = Translation.Get("New Rule", Enums.TranslationSource.TextTranslation);
    ViewBag.Title = "";
}

<script type="text/javascript">
    window.Params = {
        saveRuleUrl: '@Url.Content("~/Admin/BusinessRule/SaveRule")',
        overviewRuleUrl: '@Url.Content("~/Admin/BusinessRule/Index?customerId="+ Model.CustomerId.ToString())'
    };
</script>



@using (Html.BeginForm("SaveRule", "BusinessRule", FormMethod.Post, new { id = "newRule" }))
{    
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li><input id="btnSaveRule" type="button" class="btn" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" /> </li>
                <li>
                    @Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "delete", new { id = Model.RuleId },
                    new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post", Enums.TranslationSource.TextTranslation) })
            </li>
            <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "Index", new { customerId = Model.CustomerId }, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>         
    
    @Scripts.Render("~/bundles/businessrule/businessRules")
    @Scripts.Render(BundleConfig.ScriptNames.AttributesValidation)

    @Html.Partial("_InputRule", Model)
    
    
   
      @*<script type="text/javascript">
         window.Params = {
             customerId: '1',
             ruleId: '1',
             rulePageAreaId: "#rulePageArea",
             rulePageAreaTemplatePath: "/areas/admin/content/templates/businessrule/rulePage.tmpl.html",

             ruleSectionId: "#ruleSec",
             ruleSecTemplatePath: "/areas/admin/content/templates/businessrule/rule.tmpl.html",

             conditionSectionId: "#conditionSec",
             conditionSecTemplatePath: "/areas/admin/content/templates/businessrule/condition.tmpl.html",
             conditionRowsTemplatePath: "/areas/admin/content/templates/businessrule/condition-rows.tmpl.html",

             actionSectionId: "#actionSec",
             actionTemplatePath: ""
         };
    </script>
    
      
    <div id="rulePageArea">

    </div>*@

}