@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Areas.Admin.Models.MailTemplateIndexViewModel
<table class="table table-striped table-bordered table-hover">
    @foreach (var item in Model.OrderTypes)
    {
        <tr><td>@Translation.Get("E-post mall", Enums.TranslationSource.TextTranslation): <a href="@Url.Action("edit", "mailtemplate", new { area = "admin", id = 40, customerId = Model.Customer.Id, languageId = 2 })">@Translation.Get("Beställning", Enums.TranslationSource.TextTranslation) - @Html.DisplayFor(modelItem => item.Name)</a>
        </td></tr>
    }
</table>
<!--
<ul>
    
    <li>
        @Html.OrderTypeForMailTemplateTreeString(Model.OrderTypes)</li>

</ul>
-->