@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.MailTemplateInputViewModel
@{              
    ViewBag.Title = "";
    string accountactivityid = Request.QueryString["accountactivityId"];
    string ordertypeid = Request.QueryString["ordertypeId"];

    var routeValues = new RouteValueDictionary();
    
        
                                         
}
@using (Html.BeginForm("edit", "mailTemplate", new { customerId = Model.Customer.Id, area = "admin" }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara"), "edit", new { }, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                @if (!(Model.IsStandardTemplate))
                {
                    <li>@Html.ActionLink(
                                     Translation.Get(("Ta bort")), "delete",
                                                    new
                                                    {
                                                        id = Model.MailTemplateLanguage.MailTemplate.Id,
                                                        languageid = Model.MailTemplateLanguage.Language_Id,
                                                        customerId = Model.Customer.Id
                                                    },
                                     new
                                     {
                                         @class = "btn deleteDialog",
                                         deleteDialogText = Translation.Get(("Är du säker på att du vill ta bort denna mall")) + "?"
                                       ,
                                         buttonTypes = "YesNo",
                                         id = "DelBtn"
                                     })
                    </li>
                }


                <li>@Html.ActionLink(Translation.Get("Avbryt"), "index", new { customerId = Model.Customer.Id }, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    <input type="hidden" id="customerId" name="customerId" value="@Model.Customer.Id" />
    <input type="hidden" id="mailTemplateLanguageId" name="mailTemplateLanguageId" value="@Model.MailTemplateLanguage.MailTemplate_Id" />
    <input type="hidden" id="languageId" name="languageId" value="@Model.MailTemplateLanguage.Language_Id" />
    <input type="hidden" id="mailTemplateId" name="mailTemplateId" value="@Model.MailTemplateLanguage.MailTemplate.Id" />
    <input type="hidden" id="accountactivityId" name="accountactivityId" value="@accountactivityid" />
    <input type="hidden" id="ordertypeId" name="ordertypeId" value="@ordertypeid" />
    <input type="hidden" id="mailId" name="mailId" value="@Model.MailTemplateLanguage.MailTemplate.MailID" />
    <input type="hidden" id="mailTemplateName" name="mailTemplateName" value="@Model.MailTemplateLanguage.MailTemplateName" />
    <div id="mailtemplate_container">
        <span id="languageList">
            @Html.Partial("_Input", Model)
        </span>
    </div>
}
@section Scripts {
    <script type="text/javascript">        
        function changeLanguageList(id) {
            var actionLink = '/admin/mailtemplate/delete/' + '@Model.MailTemplateLanguage.MailTemplate.Id.ToString()' +
                                                        '?customerId=' + '@Model.Customer.Id.ToString()' +
                                                        '&languageid=' + id.toString();

            $('#DelBtn').prop('href', actionLink);
            var list = $("#languageList");
            list.html("");
            if (id != "") {
                $.get('/MailTemplate/UpdateLanguageList/' + $("#mailId").val() + '?customerId=' + $("#customerId").val() +
                                                            '&mailTemplateLanguageId=' + id + '&mailTemplateId=' + $("#mailTemplateId").val() +
                                                            '&ordertypeId=' + $("#ordertypeId").val() +
                                                            '&mailId=' + $("#mailId").val() + '&mailTemplateName=' + $("#mailTemplateName").val() +
                                                            "&dt=" + $.now(), function (result) {
                    list.html(result)
                });
            }
        }
    </script>
}

