@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerCaseSummaryViewModel 
<div class="formContainer">
    <table id="customerCaseSum">
        <thead>
            <tr>
                <th>
                    @Translation.Get("Kolumn", Enums.TranslationSource.TextTranslation)
                </th>
                <th>
                    @Translation.Get("Rad", Enums.TranslationSource.TextTranslation)
                </th>
                <th>
                    @Translation.Get("Min längd", Enums.TranslationSource.TextTranslation)
                </th>
                <th>
                    @Translation.Get("Ordning", Enums.TranslationSource.TextTranslation)
                </th>
            </tr>
        </thead>
        <tbody id="dataTable">
            @if (Model.CaseSettings != null)
            {
                <tr class="rowAdding">
                    @if (Model.ListSummaryForLabel != null)
                    {
                        <td>
                            <select style="width: auto;" id="labellist">
                                <option></option>
                                @foreach (var cfs in Model.CaseFieldSettingLanguages)
                                {   
                                    <option id="label" value="@cfs.Id">@cfs.Label</option>                              
                                }
                            </select>
                        </td>          
                        <td>
                            <select style="width: auto;" id="linelist">
                                <option></option>
                                @foreach (var line in Model.LineList)
                                {
                                    <option id="line" value="@line.Value">@line.Text</option>
                                }
                            </select>
                        </td> 
                   
                        <td id="minWidth">
                            <input type="text" style="width: 80px;" name="minWidthValue" id="minWidthValue" value="@Model.CSetting.MinWidth" onclick="this.valueOf()" />
                        </td>
                        <td id="colOrder">
                            <input type="text" style="width: 80px;" name="colOrderValue" id="colOrderValue" value="@Model.CSetting.ColOrder" onclick="this.valueOf()" />
                        </td>
                        <td>
                            <input type="button" value="@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)" id="AddRow" 
                                onclick="addCaseSettingRow()" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                            <input type="hidden" id="caseSettingId" value="@Model.CSetting.Id" />
                        </td> 
                       
                    }
                </tr>                 
                    for (var i = 0; i < Model.CaseSettings.Count; i++)
                    {          
                <tr>
                    @if (Model.ListSummaryForLabel != null)
                    {
                        <td>
                            <select style="width: auto;" id="dellabellist" disabled="disabled">
                                <option></option>
                                @foreach (var cfs in Model.CaseFieldSettingLanguages)
                                {   
                                    <option id="labels" value="@cfs.Id" @(cfs.Name.ToUpper() == Model.CaseSettings[i].Name.ToUpper() ? "selected=selected" : "")>@cfs.Label</option>                              
                                }
                            </select>
                        </td> 
                    }
                    <td>
                        <select style="width: auto;" id="dellinelist">
                            <option></option>
                            @foreach (var line in Model.LineList)
                            {
                                <option id="lines" value="@line.Value" @(int.Parse(line.Value) == Model.CaseSettings[i].Line ? "selected=selected" : "")>@line.Text</option>
                            }
                        </select>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CaseSettings[i].MinWidth, new { style = "width: 80px;" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CaseSettings[i].ColOrder, new { style = "width: 80px;" })
                    </td>
                    <td>
                        <input type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)"
                        onclick="deleteCaseSettingRow(@Model.CaseSettings[i].Id)" onmouseover="javascript:this.style.cursor='hand'; javascript:this.style.cursor='pointer';"/>
                        <input type="hidden" id="deleteCaseSettingsId" value="@Model.CaseSettings[i].Id" />
                    </td>
                </tr>                                           
                    }
            }
        </tbody>
    </table>
    <input type="hidden" name="usergroupId" id="usergroupId" value="@Model.UserGroupId" />
</div>
<script type="text/javascript">

    function addCaseSettingRow() {
        var list = $("#userGroupList");
        $.post('/customer/AddRowToCaseSettings/' + '?usergroupId=' + $("#usergroupId").val() + '&customerId=' + $("#customerId").val()
           + '&labellist=' + $("#labellist").val() + '&linelist=' + $("#linelist").val()
           + '&minWidthValue=' + $("#minWidthValue").val() + '&colOrderValue=' + $("#colOrderValue").val(), function (result) {
               list.html(result);
           });
    }

    function deleteCaseSettingRow(id) {
        var list = $("#userGroupList");
        $.post('/customer/DeleteRowFromCaseSettings/' + id + '?usergroupId=' + $("#usergroupId").val() + '&customerId=' + $("#customerId").val(), function(result) {
            list.html(result);
        });
    }

</script>
