@model DH.Helpdesk.Mobile.Areas.Admin.Models.CustomerInputViewModel
@using DH.Helpdesk.Mobile.Infrastructure
<div class="contentContent">
    <div class="formContainer">
        <table class="tableform">
            <tr>
                <td class="span3">
                    @Translation.Get("Nytt lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="NewPassword" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    @Translation.Get("Bekräfta lösenord", Enums.TranslationSource.TextTranslation)
                </td>
                <td>
                    <input type="password" id="ConfirmPassword" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" id="btnSavePassword" class="btn" />
                </td>
                <td>
                    <input type="button" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" id="btnClose" class="btn" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="id_customer" value="@Model.Customer.Id" />
    </div>
</div>
<script type="text/javascript">

    $("#btnClose").unbind('click');
    $("#btnClose").click(function () {
        $('#divSetPasswordDialog').dialog("close")
    });

    $("#btnSavePassword").unbind('click');
    $("#btnSavePassword").click(function (e) {
        if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
            alert('@Translation.Get("Det nya lösenordet bekräftades inte korrekt. Kontrollera att nytt lösenord och bekräftat lösenord stämmer överens", Enums.TranslationSource.TextTranslation)');
        }
        else {
            $.post('/customer/SaveLDAPPassword/', { id: $('#id_customer').val(), newPassword: $('#NewPassword').val(), confirmPassword: $('#ConfirmPassword').val() }, function (data) {
                alert('@Translation.Get("Lösenordet har ändrats", Enums.TranslationSource.TextTranslation)');
                setTimeout(function () { $('#divSetPasswordDialog').dialog("close") }, 500);
            });
            }
    });

</script>

