
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Notifiers.InputModel

<div class="container">
    <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @*@if (Model.IsNew)
                {
                    @Html.EditorFor(m => m.UserId, "TextBox")
                }
                else
                {
                    @Html.DisplayFor(m => m.UserId, "Label")
                }*@
                        
                @Html.EditorFor(m => m.UserId, "TextBox") 
                           
                @if (Model.Domain.Show)
                {
                    <tr>
                        <td>
                            @(Translation.Get(Model.Domain.Caption, Enums.TranslationSource.TextTranslation) + (Model.Domain.Required ? "*" : string.Empty))
                        </td>
                        <td>
                            @Html.DropDown("domain_dropdown", "DomainId", !Model.Domain.Required, Model.Domain.Value)
                        </td>
                    </tr>
                }

                @Html.EditorFor(m => m.LoginName, "TextBox")
                @Html.EditorFor(m => m.FirstName, "TextBox")
                @Html.EditorFor(m => m.Initials, "TextBox")
                @Html.EditorFor(m => m.LastName, "TextBox")
                @Html.EditorFor(m => m.DisplayName, "TextBox")
                @Html.EditorFor(m => m.Place, "TextBox")
                @Html.EditorFor(m => m.Phone, "TextBox")
                @Html.EditorFor(m => m.CellPhone, "TextBox")
                @Html.EditorFor(m => m.Email, "TextBox")
                @Html.EditorFor(m => m.Code, "TextBox")
                

                @if (Model.Language.Show)
                {
                    <tr>
                        <td>
                            @(Translation.Get(Model.Language.Caption, Enums.TranslationSource.TextTranslation) + (Model.Language.Required ? "*" : string.Empty))
                        </td>
                        <td>
                            @Html.DropDown("language_dropdown", "LanguageId", Model.Language.Required, Model.Language.Value)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>