
@using System.Web.Optimization
@using System.Web.Script.Serialization
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Notifiers.InputModel

@{ var attributes = Model.ComputerUserCategoryModel.IsReadOnly ? (object)new { htmlAttributes = new { @readonly = "readonly" } } : new { };}

<div class="container">
    <h4>@Translation.Get("Organisation", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.Title, "TextBox")

                @if (Model.Region.Show)
                {
                    <tr>
                        <td class="span3">
                            @* Region in Notifier is only for filtering help*@
                            @(Translation.Get(Model.Region.Caption, Enums.TranslationSource.TextTranslation))
                        </td>
                        <td>
                            @Html.DropDown("region_dropdown", "RegionId", !Model.Region.Required, Model.Region.Value, false, Model.ComputerUserCategoryModel.IsReadOnly)
                        </td>
                    </tr>
                }

                @if (Model.Department.Show)
                {
                    <tr>
                        <td class="span3">
                            @(Translation.Get(Model.Department.Caption, Enums.TranslationSource.TextTranslation) + (Model.Department.Required ? "*" : string.Empty))
                        </td>
                        <td>
                            <div id="department_dropdown_container">
                                @Html.Partial("DepartmentDropDown", Model.Department.Value, new ViewDataDictionary { { "Required", Model.Department.Required }, { "ReadOnly", Model.ComputerUserCategoryModel.IsReadOnly } })
                            </div>
                        </td>
                    </tr>
                }

                @if (Model.OrganizationUnit.Show)
                {
                    <tr>
                        <td class="span3">
                            @(Translation.Get(Model.OrganizationUnit.Caption, Enums.TranslationSource.TextTranslation) + (Model.OrganizationUnit.Required ? "*" : string.Empty))
                        </td>
                        <td>
                            <div id="organizationUnit_dropdown_container">
                                @Html.Partial("OrganizationUnitDropDown", Model.OrganizationUnit.Value, new ViewDataDictionary { { "Required", Model.OrganizationUnit.Required }, { "ReadOnly", Model.ComputerUserCategoryModel.IsReadOnly } })
                            </div>
                        </td>
                    </tr>
                }

                @Html.EditorFor(m => m.CostCentre, "TextBox", attributes)
                @Html.EditorFor(m => m.Unit, "TextBox", attributes)

                @if (Model.Division.Show)
                {
                    <tr>
                        <td class="span3">
                            @(Translation.Get(Model.Division.Caption, Enums.TranslationSource.TextTranslation) + (Model.Division.Required ? "*" : string.Empty))
                        </td>
                        <td>
                            @Html.DropDown("division_dropdown", "DivisionId", !Model.Division.Required, Model.Division.Value, Model.Division.Required, Model.ComputerUserCategoryModel.IsReadOnly)
                        </td>
                    </tr>
                }

                @if (Model.Managers.Show)
                {
                    <tr>
                        <td class="span3">
                            @(Translation.Get(Model.Managers.Caption, Enums.TranslationSource.TextTranslation) + (Model.Managers.Required ? "*" : string.Empty))
                        </td>
                        <td>
                            @{
                                int? selectedManagerId = null;
                                string selectedManagerDisplayName = null;

                                if (!string.IsNullOrEmpty(Model.Managers.Value.SelectedValue))
                                {
                                    selectedManagerId = int.Parse(Model.Managers.Value.SelectedValue);
                                    selectedManagerDisplayName = Model.Managers.Value.Items.Single(m => m.Value == Model.Managers.Value.SelectedValue).Name;
                                }
                            }
                            <input id="manager_textbox" type="text" value="@selectedManagerDisplayName" name="Manager" />
                            <input id="manager_id_hidden" type="hidden" name="ManagerId" value="@selectedManagerId" />
                        </td>
                    </tr>
                                }

                @if (Model.Group.Show)
                {
                    <tr>
                        <td class="span3">
                            @(Translation.Get(Model.Group.Caption, Enums.TranslationSource.TextTranslation) + (Model.Group.Required ? "*" : string.Empty))
                        </td>
                        <td>
                            @Html.DropDown("group_dropdown", "GroupId", !Model.Group.Required, Model.Group.Value, false, Model.ComputerUserCategoryModel.IsReadOnly)
                        </td>
                    </tr>
                }
                @Html.EditorFor(m => m.Other, "TextArea", attributes)
            </table>
            
        </div>
    </div>
</div>