@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
        $(function() {
            $("#saveButton, #saveAndCloseButton").click(function() {
                $('#clickedButton').val($(this).val());
                $('#edit_form').submit();
            });

            $('.tagsinput').tagsinput('destroy'); // todo
            $('.tagsinput').tagsinput({
                maxTags: 10
            });

        })
    </script>
    
    @Scripts.Render("~/bundles/orderaccounts/order")

    <script type="text/javascript">
        $(function() {
            var parameters = {
                id: '@Model.Guid',
                uploadFileUrl: '@Url.Action("UploadFile")',
                deleteFileUrl: '@Url.Action("DeleteFile")',
            };

            applyOrderAccountBehavior(parameters);
        });
    </script>
}

<div class="secnavs fixed">
    <div class="pull-left">
        @RenderSection("Actions", false)
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#mainTab">
                    @RenderSection("Title", false)
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="mainTab">
                <div class="container">
                    @RenderSection("Content", false)
                </div>
            </div>
        </div>
    </div>
</div>
