@model FormModel

<tr>
    <td>@Model.Translate("English Contract")</td>
    <td>pdf</td>
    <td>@Model.GetAnswer("Contract")</td>
    <td>
        <a href="@Url.Action("print", "hiring", new
                {
                    id = "Contract",
                    caseId = Model.Contract.Id,
                    path = Path.Combine(Path.GetDirectoryName(Model.FormXmlPath), Path.GetFileNameWithoutExtension(Model.FormXmlPath)),
                    userId = SessionFacade.User.UserId
                })" class="btn pull-right print"><i class="icon-file"></i>&nbsp;@Model.Translate("Print")</a>
    </td>
</tr>
<tr>
    <td>@Model.Translate("Dutch Contract")</td>
    <td>pdf</td>
    <td>@Model.GetAnswer("ContractDutch")</td>
    <td>
        <a href="@Url.Action("print", "hiring", new
                {
                    id = "ContractDutch",
                    caseId = Model.Contract.Id,
                    path = Path.Combine(Path.GetDirectoryName(Model.FormXmlPath), Path.GetFileNameWithoutExtension(Model.FormXmlPath)),
                    userId = SessionFacade.User.UserId,
                    
                })" class="btn pull-right print" ><i class="icon-file"></i>&nbsp;@Model.Translate("Print")</a>
    </td>
</tr>
