@using DH.Helpdesk.Web.Models.Questionnaire.Input
@model List<ConnectedToCircularOverview>
@{
    var questionnaireId = ViewData["QuestionnaireId"];
    if (questionnaireId == null)
    {
        throw new ArgumentNullException("QuestionnaireId", "QuestionnaireId must be specified.");
    }
}
<div class="container">
    <div class="row">
        <div class="span100">
            <table id="tblCircular" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Translation.Get("Ärende")
                        </th>
                        <th>
                            @Translation.Get("Rubrik")
                        </th>
                        <th>
                            @Translation.Get("E-post")
                        </th>
                        <th>
                            @Translation.Get("Status")
                        </th>
                        <th>
                            @Translation.Get("Ta bort")
                        </th>
                    </tr>
                </thead>
                @{
                    var cases = Model;
                    foreach (ConnectedToCircularOverview @connectedCase in cases)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => @connectedCase.CaseNumber)
                                @Html.HiddenFor(m => @connectedCase.CaseId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @connectedCase.Caption)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @connectedCase.Email)
                            </td>
                            <td>
                                @connectedCase.IsSent.GetDisplayValue()
                            </td>
                            <td>
                                @Html.ActionLink(Translation.Get("Ta bort"), "DeleteConnectedCase", new { questionnaireId, caseId = @connectedCase.CaseId, circularId = @connectedCase.CircularId }, new { @class = "btn" })
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
