@using DH.Helpdesk.Common.Enums
@model DH.Helpdesk.Web.Models.Questionnaire.Output.CircularOverviewViewModel
@{
    ViewBag.Title = "CircularOverviewViewModel";
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                @Html.ActionLink(Translation.Get("Nytt utskick"), "NewCircular", "Questionnaire",
                        new { questionnaireId = Model.QuestionnaireId },
                        new { @class = "btn" })
            </li>
            <li>
                @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Questionnaire", new { @class = "btn" })
            </li>

        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("utskick")</a>
            </li>
            <li class="">
                <a href="#fragment-2">@Translation.Get("Rapporter")</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="fragment-1" class="tab-pane tab-pane-border active">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @using (Ajax.BeginForm("SearchCirculars", null, new AjaxOptions { UpdateTargetId = "circulars_grid" }, new { id = "search_form" }))
                            {
                                @Html.HiddenFor(x => x.QuestionnaireId)
                                    
                                <table class="tableform">
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Status"):
                                        </td>
                                        <td class="span12">
                                            @Html.RadioButtonFor(x => x.CircularStateId, CircularStateId.ReadyToSend, new { @checked = Model.CircularStateId == CircularStateId.ReadyToSend, Name = "Show" })
                                            @Translation.Get("Klar att skicka")
                                            &nbsp; &nbsp; &nbsp;
                                                @Html.RadioButtonFor(x => x.CircularStateId, CircularStateId.Sent, new { @checked = Model.CircularStateId == CircularStateId.Sent, Name = "Show" })
                                            @Translation.Get("Skickad")
                                            &nbsp; &nbsp; &nbsp;
                                                @Html.RadioButtonFor(x => x.CircularStateId, CircularStateId.All, new { @checked = Model.CircularStateId == CircularStateId.All, Name = "Show" })
                                            @Translation.Get("Alla")
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>

                    <div id="circulars_grid">
                        @Html.Partial("CircularOverviewGrid", Model.CircularOverviewModels, new ViewDataDictionary { { "QuestionnaireId", @Model.QuestionnaireId } })
                    </div>
                </div>
            </div>

            <div id="fragment-2" class="tab-pane tab-pane-border">
                <div class="row">
                    <div class="span12">
                        <table class="tableform">
                            @*<tr>
                                    <td class="span3">
                                        @Translation.Get("Språk", Enums.TranslationSource.TextTranslation):
                                    </td>
                                    <td class="span9">
                                        @Html.DropDownListFor(model => model.LanguageId, Model.Languages,new {id = "languageList"})                                            
                                    </td> 
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Namn", Enums.TranslationSource.TextTranslation):
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.Name)
                                    </td> 
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation):
                                    </td>
                                    <td class="span9">
                                        @Html.TextAreaFor(model => model.Description, new { maxlength = "2000", style = "height:100px;" })
                                    </td> 
                                </tr>*@
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('input[name="Show"]').click(function () {
            $('#search_form').submit();
        });
    })

</script>


