@model DH.Helpdesk.Web.Models.Questionnaire.Input.EditQuestionnaireModel
@{
    ViewBag.Title = "";
}

@using (Html.BeginForm("EditQuestionnaire", "Questionnaire", FormMethod.Post, new { id = "questionnaire_edit_form" }))
{    
    @Html.HiddenFor(m => m.Id)

    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn"/>
                </li>
                @if (!Model.IsSent)
                {
                    <li>
                        @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "DeleteQuestionnaire",
                            new {questionnaireId = Model.Id},
                            new
                            {
                                @class = "btn deleteDialog",
                                deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"
                            })
                    </li>
                }
                <li>
                    @Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "Index", "Questionnaire", null, new { @class = "btn" })
                </li>
                <li class="secspace"></li>
                <li>
                    @Html.ActionLink(Translation.Get("Förhandsgranska", Enums.TranslationSource.TextTranslation),
                        "PreviewQuestionnaire", "Questionnaire", new { questionnaireId = Model.Id, languageId = Model.LanguageId }, new { @class = "btn", target = "_blank" })
                </li>
                <li class="secspace"></li>
                <li>
                    @Html.ActionLink(Translation.Get("Ny", Enums.TranslationSource.TextTranslation) + " " +
                                     Translation.Get("Fråga", Enums.TranslationSource.TextTranslation),
                                     "NewQuestionnaireQuestion", "Questionnaire", new { questionnaireId = Model.Id, languageId = Model.LanguageId }, new { @class = "btn" })
                </li>
            </ul>
        </div>
    </div>
    
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#fragment-1">@Translation.Get("Enkät", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    <div class="container">
                        <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Språk", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td class="span9">
                                            @Html.DropDownListFor(model => model.LanguageId, Model.Languages, new { id = "languageList" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td class="span9">
                                            @Html.TextBoxFor(model => model.Name)
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td class="span9">
                                            @Html.TextAreaFor(model => model.Description, new { maxlength = "2000", style = "height:100px;" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Questionnaire -->
            @if (Model.Questions != null)
            {
                @Html.Partial("_QuestionnaireQuestionsOverview", Model);
            }

        </div>
    </div>        
}
