@using DH.Helpdesk.Common.Enums
@model DH.Helpdesk.Web.Models.Questionnaire.Input.CircularModel
@{
    ViewBag.Title = "Circular";
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                <button value="@Translation.Get("Spara")" class="btn" id="subbut">@Translation.Get("Spara")</button>
            </li>
            <li>
                <button value="@Translation.Get("Skapa urval")" class="btn" id="async_subbut">@Translation.Get("Skapa urval")</button>
            </li>
            <li>
                <a href="@Url.Action("CircularOverview", new { questionnaireId = Model.QuestionnaireId, statusId = (int?)ViewBag.BackStatusId})" class="btn">
                    @Translation.Get("Avbryt")
                </a>
            </li>
            @if (Model.Id != 0)
            {
                <li>
                @if (Model.State.Value != CircularStates.Sent && Model.State.Value != CircularStates.None)
                {
                    @Html.ActionLink(Translation.Get("Ta bort"), "DeleteCircular", new { questionnaireId = Model.QuestionnaireId, circularId = Model.Id, backStatusId = (int?)ViewBag.BackStatusId}, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post", Enums.TranslationSource.TextTranslation) + "?" })
                }
                </li>
                <li>
                    @{
                    switch (Model.State.Value)
                    {
                        case CircularStates.ReadyToSend:
                                @Html.ActionLink(Translation.Get("Skicka enkät"), "Send", new { circularId = Model.Id }, new { @class = "btn" })
                            break;
                        case CircularStates.Sent:
                                @Html.ActionLink(Translation.Get("Skicka påminnelse"), "Remind", new { circularId = Model.Id }, new { @class = "btn" })
                            break;
                    }
                    }
                </li>
            }
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Utskick")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                    <h4>@Translation.Get("Urval")</h4>
                    <div class="row">
                        <div class="span12">
                            @using (Html.BeginForm("EditCircular", "Questionnaire", FormMethod.Post, new { id = "circular_new_form" }))
                            {
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.QuestionnaireId)
                                @Html.HiddenFor(m => m.State)
                                @Html.Hidden("backStatusId", (int?)ViewBag.BackStatusId)

                                <table class="tableform">
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Namn")
                                        </td>
                                        <td class="span9">
                                            @Html.TextBoxFor(model => model.CircularName)
                                            @Html.ValidationMessageFor(model => model.CircularName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Status")
                                        </td>
                                        <td class="span9">
                                            @Model.State.GetDisplayValue()
                                        </td>
                                    </tr>
                                </table>
                            }
                            @using (Ajax.BeginForm("CaseRowGrid", null, new AjaxOptions { UpdateTargetId = "case_grid_container" }, new { id = "circular_case_filter_form" }))
                            {
                                @Html.HiddenFor(m => m.QuestionnaireId)

                                <div>
                                    @Html.CheckBoxFor(x => x.CaseFilter.IsUniqueEmail)
                                    @Translation.Get("Endast unika e-postadresser")

                                    <table class="tableform">
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get("Avslutsdatum")
                                            </td>
                                            <td class="span9">
                                                @Html.EditorFor(model => model.CaseFilter.FinishingDateFrom, "DatePicker", new { id = "finishing_date_from_datepicker" })
                                                &nbsp; - &nbsp;
                                                @Html.EditorFor(model => model.CaseFilter.FinishingDateTo, "DatePicker", new { id = "finishing_date_to_datepicker" })
                                            </td>
                                        </tr>

                                    </table>

                                   <table>
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get("Avdelning")
                                            </td>
                                            <td class="span9">
                                                @Html.ListBoxFor(model => model.CaseFilter.SelectedDepartments, Model.AvailableDepartments, new { multiple = "multiple", @class = "chosen-select" })
                                            </td>
                                        </tr>
                                    </table>

                                    <table>
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get("Ärendetyp")
                                            </td>
                                            <td class="span9">
                                                @Html.ListBoxFor(model => model.CaseFilter.SelectedCaseTypes, Model.AvailableCaseTypes, new { multiple = "multiple", @class = "chosen-select" })
                                            </td>
                                        </tr>
                                    </table>

                                    <table>
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get("Produktområde")
                                            </td>
                                            <td class="span9">
                                                @Html.ListBoxFor(model => model.CaseFilter.SelectedProductAreas, Model.AvailableProductArea, new { multiple = "multiple", @class = "chosen-select" })
                                            </td>
                                        </tr>
                                    </table>

                                    <table>
                                        <tr>
                                            <td class="span3">
                                                @Translation.Get("Driftgrupp")
                                            </td>
                                            <td class="span9">
                                                @Html.ListBoxFor(model => model.CaseFilter.SelectedWorkingGroups, Model.AvailableWorkingGroups, new { multiple = "multiple", @class = "chosen-select" })
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="tableform">
                                        <tr>
                                            <td class="span2">
                                                @Translation.Get("Urval")
                                            </td>
                                            <td class="span6">
                                               @Translation.Get("Selektera ut") @Html.DropDownListFor(model => model.CaseFilter.SelectedProcent, Model.Procent, new { style = "width: 60px" }) @Translation.Get("procent av tillgängliga ärenden")
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("EditCircular", "Questionnaire", FormMethod.Post, new { id = "circular_case_grid_form" }))
                {
                    <div id="case_grid_container">
                        @Html.Partial("_CircularPartOverviewWithDelete", Model.ConnectedCases, new ViewDataDictionary { { "QuestionnaireId", Model.QuestionnaireId } })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#subbut").click(function () {

            if (!$("#circular_new_form").valid()) {
                return;
            }

            $.each($('#circular_case_grid_form input').serializeArray(), function (i, obj) {
                $('<input type="hidden">').prop(obj).appendTo($('#circular_new_form'));
            });

            $('#circular_case_filter_form input:not(:hidden), select').each(function (i, obj) {
                $(obj).appendTo($('#circular_new_form'));
            });

            $("#circular_new_form").submit();
        });

        $("#async_subbut").click(function () {
            $("#circular_case_filter_form").submit();
        });
    });

</script>
