@using System.Globalization
@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Common.Extensions.Integer
@model DH.Helpdesk.Web.Models.Questionnaire.Input.EditQuestionnaireQuestionModel

@{
    ViewBag.Title = "";
}

@using (Html.BeginForm("EditQuestionnaireQuestion", "Questionnaire", FormMethod.Post, new { id = "questionnaireQuestion_edit_form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.QuestionnaireId)

    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn"/>
                </li>
                @if (!Model.IsSent)
                {
                    <li>
                        @Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "DeleteQuestion",
                            new
                            {
                                questionnaireId = Model.QuestionnaireId,
                                languageId = Model.LanguageId,
                                questionId = Model.Id
                            },
                            new
                            {
                                @class = "btn deleteDialog",
                                deleteDialogText = Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort aktuell post") + "?"
                            })
                    </li>
                }
                <li>
                    <a href="@Url.Action("EditQuestionnaire",new {questionnaireId = Model.QuestionnaireId, languageId = Model.LanguageId})" class="btn">
                        @Translation.GetCoreTextTranslation("Avbryt")
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#fragment-1">@Translation.GetCoreTextTranslation("Fråga")</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    <div class="container">
                        <h4>@Translation.GetCoreTextTranslation("Allmänt")</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    <tr>
                                        <td class="span3">
                                            @Translation.GetCoreTextTranslation("Språk")
                                        </td>
                                        <td class="span9">
                                            @Html.DropDownListFor(model => model.LanguageId, Model.Languages,new {id = "languageList"} )                                            
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.GetCoreTextTranslation("Nummer")
                                        </td>
                                        <td class="span9">
                                            @if (Model.LanguageId == LanguageIds.Swedish)
                                            {
                                                @Html.EditorFor(model => model.QuestionNumber)
                                                @Html.ValidationMessageFor(model => model.QuestionNumber)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.QuestionNumber,new {@readonly="readonly"})
                                            }
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.GetCoreTextTranslation("Fråga")
                                        </td>
                                        <td class="span9">
                                            @Html.TextAreaFor(model => model.Question, new { maxlength = "1000", style = "height:100px;" })
                                            @Html.ValidationMessageFor(model => model.Question)
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.GetCoreTextTranslation("Visa kommentar")
                                        </td>                                        
                                        <td class="checkbox" style="padding-left: 20px">                                        
                                            <input type="checkbox" name="ShowNote" @(Model.ShowNote == 1 ? "checked=checked" : "")  @(Model.LanguageId != LanguageIds.Swedish ? "disabled" : "") value ="1" />                                        
                                            <input type="hidden" name="ShowNote" value="0" />                                                                                                                 
                                        </td> 
                                    </tr>                                    
                                    <tr>
                                        <td class="span3">
                                            @Translation.GetCoreTextTranslation("Text kommentar")
                                        </td>
                                        <td class="span9">                                                                                        
                                            @Html.TextAreaFor(model => model.NoteText, new { maxlength = "1000", style = "height:100px;" })                                            
                                        </td> 
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Options != null)
            {
                @Html.Partial("_QuestionnaireQuestionOptions", Model);
            }
        </div>
    </div>
}

