@using DH.Helpdesk.Common.Enums
@model DH.Helpdesk.Web.Models.Questionnaire.Input.EditCircularModel
@{
    ViewBag.Title = "EditCircular";
}

<script>
    $(function () {
        $("#save_button").click(function() {
            $("#circular_edit_form").submit();
        });
    })
</script>

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                <button value="@Translation.Get("Spara")" class="btn" id="save_button">@Translation.Get("Spara")</button>
            </li>
            <li>
                @if (Model.State.Value != CircularStates.Sent)
                {
                    @Html.ActionLink(Translation.Get("Ta bort"), "DeleteCircular", new { questionnaireId = Model.QuestionnaireId, stateId = Model.State, circularId = Model.Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post", Enums.TranslationSource.TextTranslation) + "?" })
                }
            </li>
            <li>
                @Html.ActionLink(Translation.Get("Avbryt"), "CircularOverview", new { questionnaireId = Model.QuestionnaireId}, new { @class = "btn" })
            </li>
            <li>
                @{
                    switch (Model.State.Value)
                    {
                        case CircularStates.ReadyToSend:
                            @Html.ActionLink(Translation.Get("Skicka enkät"), "Send", new { circularId = Model.Id }, new { @class = "btn" })
                            break;
                        case CircularStates.Sent:
                            @Html.ActionLink(Translation.Get("Skicka påminnelse"), "Remind", new { circularId = Model.Id }, new { @class = "btn" })
                            break;
                    }
                }
            </li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("utskick")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                    <h4>@Translation.Get("Urval")</h4>
                    <div class="row">
                        <div class="span12">
                            @using (Html.BeginForm("EditCircular", "Questionnaire", FormMethod.Post, new { id = "circular_edit_form" }))
                            {
                                <table class="tableform">
                                    <tr>
                                        <td class="span3">

                                            @Html.HiddenFor(m => m.Id)
                                            @Html.HiddenFor(m => m.QuestionnaireId)
                                            @Html.HiddenFor(m => m.State)

                                            @Translation.Get("Namn"):
                                      
                                        </td>
                                        <td class="span9">
                                            @Html.EditorFor(model => model.CircularName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Status"):
                                        </td>
                                        <td class="span9">
                                            @Model.State.GetDisplayValue()
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div id="case_grid_container">
                    @Html.Partial("_CircularPartOverviewWithDelete", Model.ConnectedCases, new ViewDataDictionary { { "QuestionnaireId", Model.QuestionnaireId } })
                </div>
            </div>
        </div>
    </div>
</div>

