@model DH.Helpdesk.Web.Models.Questionnaire.Input.NewQuestionnaireModel
@{
    ViewBag.Title = "";
}

@using (Html.BeginForm("NewQuestionnaire", "Questionnaire", FormMethod.Post, new { id = "questionnaire_new_form" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn" />
                </li>
                <li>
                    <a href="@Url.Action("Index")" class="btn">
                        @Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#fragment-1">@Translation.Get("Enkät", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane tab-pane-border active" id="fragment-1">
                    <div class="container">
                        <h4>@Translation.Get("Allmänt", Enums.TranslationSource.TextTranslation)</h4>
                        <div class="row">
                            <div class="span12">
                                <table class="tableform">
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td class="span9">
                                            @Html.EditorFor(model => model.Name)
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span3">
                                            @Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
                                        </td>
                                        <td class="span9">
                                            @Html.TextAreaFor(model => model.Description, new { maxlength = "2000", style = "height:100px;" })
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

