@model DH.Helpdesk.Web.Models.Questionnaire.Output.PreviewQuestionnaireModel


@{
    ViewBag.Title = "";
}


<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li style="width: 27px;">
                @if (!String.IsNullOrWhiteSpace(Model.LanguageId.GetLanguageIconFileName()))
                {
                    <img src="@Url.Content("~/Content/img/" + @Model.LanguageId.GetLanguageIconFileName())" style="width: 27px; height: 27px"/>
                }
            </li>               
            <li>
                @Html.DropDownListFor(model => model.LanguageId, Model.Languages,new {id = "languageList", style="width: 150px"}) 
            </li>
            <li>
                <input type="button" id="closewindow" class="btn" value = "@Translation.Get("Stäng", Enums.TranslationSource.TextTranslation)" />
            </li>
                
        </ul>
    </div>
</div>
    
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">                    
                    <h3 style="color: gray">@Model.Name</h3>
                    <div class="row">
                        <div class="span12">
                            @Model.Description                    
                        </div>    
                    </div>            
                </div>
            </div>
            

            <div class="tab-pane tab-pane-border active" id="fragment-2">
                <div class="container">
                    @foreach (var item in Model.Questions)
                    {
                        <h5> @item.QuestionNumber. @item.QuestionText</h5>
                        <div class="row">
                            <div class="span12">
                                <table class="span10">                                     
                                    @foreach (var op in item.Options)
                                    {
                                        <tr>    
                                            <td>  
                                                <div class="radio">                                                                                              
                                                @Html.RadioButton(item.QuestionNumber,op.OptionText) 
                                                @op.OptionText    
                                                </div>                                            
                                            </td> 
                                        </tr>                                                                            
                                    }                                                  
                                    @if (item.ShowNote)
                                    {
                                        <tr>                                             
                                            <td>
                                                @Html.Label("     ")
                                            </td>
                                        </tr>
                                        <tr>                                             
                                            <td>
                                                @Html.Label("     ")
                                            </td>
                                        </tr>
                                        <tr>                                    
                                            <td>
                                                @Html.Label(item.NoteText)                                                                                          
                                                @Html.TextArea("note", "", new { maxlength = "2000", style = "height:80px;" })          
                                            </td> 
                                        </tr>
                                    }                                    
                                    <tr>                                             
                                        <td >
                                            @Html.Label("     ")
                                        </td>
                                    </tr>
                                    <tr>                                             
                                        <td >
                                            @Html.Label("     ")
                                        </td>
                                    </tr>
                                        
                                </table>
                            </div>
                        </div>
                        <table border="1" class="span12">
                            <tr>
                                <td>
                                    
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>

        </div> 
    </div>
</div>        

<script type="text/javascript">
    $(function() {
        $("#languageList").change(function() {
            var selectedItem = $(this).val();
            window.location.href = '@Url.Action("PreviewQuestionnaire","Questionnaire")?questionnaireId=' + @Model.Id.ToString() +"&languageId=" + selectedItem; 
        });
    });

    $(function () {
        $("#closewindow").click(function () {
            window.close();
        });
    });
</script>