@model DH.Helpdesk.Web.Models.CaseSolution.CaseSolutionInputViewModel

<h4>@Translation.GetCoreTextTranslation("Villkor")</h4>

<div class="row">
    <div class="span12">
        <table class="tableform" border="0">
            <tr style="width:100%">
                <td style="width:100%">
                    @Translation.GetCoreTextTranslation("Detta arbetsflöde kommer endast visas om alla villkor är uppfyllda i ärendet. Det kan finnas mer än ett värde för varje fält, ett av värdena för fältet måste vara uppfyllt.")
                </td>

            </tr>
        </table>

        <table class="tableform" border="0">


            @*<tr>
                    <td style="width:200px">
                        @Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Html.DropDownList("lstAddFieldSettings", Model.CaseSolutionFieldSettings, new { id = "lstAddFieldSettings", @class = "chosen-select" })
                        <input class="btn btn-success addrow" onclick="AddCondition()" type="button" value="@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)" />
                    </td>
                </tr>*@

            @foreach (var cs in Model.CSSelectedSettingsField)
            {
                if (cs.SelectList != null)
                {
                    <tr>
                        @* var r= @Request.Url.AbsoluteUri.ToString();*@
                        <td style="width:200px">
                            @Translation.GetCoreTextTranslation(cs.Text)
                        </td>
                        <td>
                            <select tag="lst" class="chosen-select" id="'lst' + @cs.PropertyName" multiple="multiple" name="'lst_' + @cs.PropertyName" style="display: none;">
                                @foreach (var op in cs.SelectList)
                                {
                                    if (!op.Disabled)
                                    {
                                        <option value="@op.Value">@op.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@op.Value" class="DisabledChosen">@op.Text</option>
                                    }
                                }
                            </select>
                            @* <input id="btn_@cs.PropertyName" class="btn btn-danger deleterow" onclick="RemoveCondition(this)" type="button" value="@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)" />*@
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>