@model DH.Helpdesk.Web.Models.CaseSolution.RowIndexViewModel[]
@using System.Web.Optimization
@using DH.Helpdesk.Common.Enums.CaseSolution

@{
    var searchText = (SessionFacade.CurrentCaseSolutionSearch != null &&
                     SessionFacade.CurrentCaseSolutionSearch.SearchCss != null) ? SessionFacade.CurrentCaseSolutionSearch.SearchCss : string.Empty;
    var _asc = SessionFacade.CurrentCaseSolutionSearch.Ascending;    
}

@Scripts.Render("~/bundles/casetemplates/index")

<div id="caseTemplateRowsArea">
    <div>
        <table class="tableform">
            <tr>
                <td style="width:100px">
                    @Translation.GetCoreTextTranslation("Sök")
                </td>
                <td>
                    <input type="text" id="caseSolutionSearch" maxlength="50" style="width: 285px;" value="@searchText"/>
                    <input type="button" id="btnCaseSolutionSearch" class="btn" value="@Translation.GetCoreTextTranslation("Sök")"/>
                    <i id="icoImg" class="icon-plus-sign"; style="cursor: pointer;"onclick="showDiv()"></i>
                </td>
                
            </tr>
        </table>
    </div>
    <table class="table table-striped table-bordered table-hover" id="tblCaseSolution">
        <thead>
            <tr>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.Name" data-asc="@_asc" style="cursor: pointer; cursor: hand; width: 15%">
                    @Translation.GetCoreTextTranslation("Namn")                    
                    <i class="@CaseSolutionIndexColumns.Name.SetCaseSolutionSortIcon()"></i>
                </th>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.Category" data-asc="@_asc" style="cursor: pointer; cursor: hand; width: 12%">
                    @Translation.GetCoreTextTranslation("Kategori")                    
                    <i class="@CaseSolutionIndexColumns.Category.SetCaseSolutionSortIcon()"></i>                    
                </th>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.Caption" data-asc="@_asc" style="cursor: pointer; width: 15%">
                    @Translation.GetCoreTextTranslation("Rubrik")                    
                    <i class="@CaseSolutionIndexColumns.Caption.SetCaseSolutionSortIcon()"></i>
                </th>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.Administrator" data-asc="@_asc" style="cursor: pointer; cursor: hand; width: 10%">
                    @Translation.GetCoreTextTranslation("Handläggare")
                    <i class="@CaseSolutionIndexColumns.Administrator.SetCaseSolutionSortIcon()"></i>
                </th>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.Priority" data-asc="@_asc" style="cursor: pointer; cursor: hand; width: 15%">
                    @Translation.GetCoreTextTranslation("Prioritet")
                    <i class="@CaseSolutionIndexColumns.Priority.SetCaseSolutionSortIcon()"></i>
                </th>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.ConnectedToButton" data-asc="@_asc" style="cursor: pointer; cursor: hand; width: 15%">
                    @Translation.GetCoreTextTranslation("Kopplat till")
                    <i class="@CaseSolutionIndexColumns.ConnectedToButton.SetCaseSolutionSortIcon()"></i>
                </th>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.Status" data-asc="@_asc" style="cursor: pointer; cursor: hand; width: 8%">
                    @Translation.GetCoreTextTranslation("Aktiv")
                    <i class="@CaseSolutionIndexColumns.Status.SetCaseSolutionSortIcon()"></i>
                </th>
                <th class="sortable" data-sort="@CaseSolutionIndexColumns.SortOrder" data-asc="@_asc" style="cursor: pointer; width: 10%">
                    @Translation.GetCoreTextTranslation("Sorteringsordning")
                    <i class="@CaseSolutionIndexColumns.SortOrder.SetCaseSolutionSortIcon()"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var inactiveVal = item.IsActive ? string.Empty : "inactive";
                <tr>
                    <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                    </td>
                    <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.CaseCaption)</a>
                    </td>
                    <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.PerformerUserName)</a>
                    </td>
                    <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.PriorityName)</a>
                    </td>
                    <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })"> @item.ConnectedToButton</a>
                    </td>
                     <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })"> @item.IsActive.BoolToYesNo()</a>
                    </td>      
                    <td>
                        <a class="@inactiveVal" href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.SortOrder)</a>
                    </td>              
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function showDiv() {
       // alert();

        var x = document.getElementById('searchDiv');
        if (x.style.display === 'none') {
            x.style.display = 'block';

            document.getElementById("icoImg").classList.remove('icon-plus-sign');
            document.getElementById("icoImg").classList.add('icon-minus-sign');

        } else {
            x.style.display = 'none';
            
            document.getElementById("icoImg").classList.remove('icon-minus-sign');
            document.getElementById("icoImg").classList.add('icon-plus-sign');
        }
    }

</script>

