@model dhHelpdesk_NG.Web.Models.CaseSolutionIndexViewModel
@{
    ViewBag.Title = "Index";
}
@{var CurIcon = "";}
<div class="secnavs">
    <div class="pull-left">
        <ul class="secnav">
            <li id="menu1" style="display: block">@Html.ActionLink(Translation.Get("Ny ärendemall", Enums.TranslationSource.TextTranslation), "new", null, new { @class = "btn" })</li>
            <li id="menu2" style="display: none">@Html.ActionLink(Translation.Get("Ny kategori", Enums.TranslationSource.TextTranslation), "newcategory", null, new { @class = "btn" })</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active" id="tab1" onclick="$('#menu1').show(); $('#menu2').hide();"><a href="#fragment-1">@Translation.Get("Ärendemallar", Enums.TranslationSource.TextTranslation)</a></li>
            <li id="tab2" onclick="$('#menu2').show(); $('#menu1').hide();"><a href="#fragment-2">@Translation.Get("Kategorier", Enums.TranslationSource.TextTranslation)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                @using (Html.BeginForm("index", "casesolution", FormMethod.Post, new { id = "search" }))
                {
                    <div>
                        <table>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(model => model.SearchCss, new { maxlength = "50", style = "width: 200px;" })
                                    <input type="button" id="searchQueryBtn" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" onclick="submit();" />
                                </td>
                                <td>
                                   @* <span class="label label-info">@Model.CaseSolutions.Count()
                                    @Translation.Get(" poster i sökresultat", Enums.TranslationSource.TextTranslation)</span>*@
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="tblCaseSolution">
                        <thead>
                            <tr>
                                <th sort-data="Name" onclick="submit();" style="cursor: pointer; cursor: hand">
                                    @Translation.Get("Namn", Enums.TranslationSource.TextTranslation)
                                    @{CurIcon = "Name";}
                                    <i class="@CurIcon.SetCaseSolutionSortIcon()"></i>
                                </th>
                                <th sort-data="CaseType" onclick="submit();" style="cursor: pointer; cursor: hand">
                                    @Translation.Get("Ärendetyp", Enums.TranslationSource.TextTranslation)
                                    @{CurIcon = "CaseType";}
                                    <i class="@CurIcon.SetCaseSolutionSortIcon()"></i>
                                </th>
                                <th sort-data="Caption" onclick="submit();" style="cursor: pointer; cursor: hand">
                                    @Translation.Get("Rubrik", Enums.TranslationSource.TextTranslation)
                                    @{CurIcon = "Caption";}
                                    <i class="@CurIcon.SetCaseSolutionSortIcon()"></i>
                                </th>
                                <th sort-data="Description" onclick="submit();" style="cursor: pointer; cursor: hand">
                                    @Translation.Get("Beskrivning", Enums.TranslationSource.TextTranslation)
                                    @{CurIcon = "Description";}
                                    <i class="@CurIcon.SetCaseSolutionSortIcon()"></i>
                                </th>
                                <th sort-data="PerformerUser" onclick="submit();" style="cursor: pointer; cursor: hand">
                                    @Translation.Get("Handläggare", Enums.TranslationSource.TextTranslation)
                                    @{CurIcon = "PerformerUser";}
                                    <i class="@CurIcon.SetCaseSolutionSortIcon()"></i>
                                </th>
                                <th sort-data="Priority" onclick="submit();" style="cursor: pointer; cursor: hand">
                                    @Translation.Get("Prioritet", Enums.TranslationSource.TextTranslation)
                                    @{CurIcon = "Priority";}
                                    <i class="@CurIcon.SetCaseSolutionSortIcon()"></i>
                                </th>
                                <th sort-data="FinishingCause" onclick="submit();" style="cursor: pointer; cursor: hand">
                                    @Translation.Get("Avslutsorsak", Enums.TranslationSource.TextTranslation)
                                    @{CurIcon = "FinishingCause";}
                                    <i class="@CurIcon.SetCaseSolutionSortIcon()"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CaseSolutions)
                            {                               
                                <tr>
                                    <td>
                                        <a href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.CaseType.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Caption)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Description)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit", "casesolution", new { id = item.Id })">
                                            @Html.DisplayFor(modelItem => item.PerformerUser.SurName) @Html.DisplayFor(modelItem => item.PerformerUser.FirstName)
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Priority.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit", "casesolution", new { id = item.Id })">@Html.DisplayFor(modelItem => item.FinishingCause.Name)</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>            
                }
            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
                <table class="table table-striped table-bordered table-hover" id="tblCaseSolutionCategory">
                    <thead>
                        <tr>
                            <th>
                                @Translation.Get("Kategori", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th>
                                @Translation.Get("Standard", Enums.TranslationSource.TextTranslation)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model.CaseSolutionCategories)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("editcategory", "casesolution", new { id = items.Id })">@Html.DisplayFor(modelItem => items.Name)</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("editcategory", "casesolution", new { id = items.Id })">@items.IsDefault.IntToYES_NO()</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var customerId = $("#currentCustomerId").val();

    $(document).ready(function () {
        //tableOptions.sortable = false;
        //tableOptions.pager = false;
        //$("#tblCaseSolution").fixheadertable(tableOptions);
        //$("#tblCaseSolutionCategory").fixheadertable(tableOptions);

        $("#currentCustomer").change(function () {
            $("#search").submit();
        });
    });

    $(document).on('click', 'th', function (e) {
        var sortBy = $(this).attr('sort-data');
        $.ajax({
            url: 'casesolution/Sort/?FieldName=' + sortBy,
            type: 'POST'
        });
    });

</script>
