@using DH.Helpdesk.Web.Infrastructure.Extensions
@using System.Web.Optimization
@model DH.Helpdesk.Web.Models.CaseSolution.CaseSolutionIndexViewModel

@{
    ViewBag.Title = "";

    var menu1Style = "";
    var menu2Style = "";

    var menu1TabClass = "";
    var menu2TabClass = "";

    if (!string.IsNullOrEmpty(Model.ActiveTab))
    {
        switch (Model.ActiveTab.ToLower())
        {
            case "categories":
                menu2Style = "display: block";
                menu1Style = "display: none";
                menu2TabClass = "active";
                menu1TabClass = "";
                break;

            default:
                menu1Style = "display: block";
                menu2Style = "display: none";
                menu1TabClass = "active";
                menu2TabClass = "";

                break;
        }
    }
    var searchCategories = (SessionFacade.CurrentCaseSolutionSearch != null &&
                     SessionFacade.CurrentCaseSolutionSearch.CategoryIds != null && SessionFacade.CurrentCaseSolutionSearch.CategoryIds.Any())
                     ? SessionFacade.CurrentCaseSolutionSearch.CategoryIds : null;


}

@*@Scripts.Render("~/bundles/casetemplates/index")*@
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li id="menu1" style="@menu1Style">@Html.ActionLink(Translation.GetCoreTextTranslation("Ny ärendemall"), "new", null, new { @class = "btn" })</li>
            <li id="menu2" style="@menu2Style">@Html.ActionLink(Translation.GetCoreTextTranslation("Ny kategori"), "newcategory", null, new { @class = "btn" })</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li id="CaseTemplateTab" class="@menu1TabClass">
                <a href="#fragment-1">@Translation.GetCoreTextTranslation("Ärendemallar")</a>
            </li>
            <li id="CategoriesTab" class="@menu2TabClass">
                <a href="#fragment-2">@Translation.GetCoreTextTranslation("Kategorier")</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane tab-pane-border @menu1TabClass" id="fragment-1">
                <div id="searchDiv" style="display: none;">
                    <table class="tableform">

                        <tr>
                            <td style="width:200px">
                                @Translation.GetCoreTextTranslation("Ärende - Understatus")
                            </td>
                            <td>
                                <select id="caseSolFilterSubstatus" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionSubStatus)
                                    {
                                        if (e.IsActive == 1)
                                        {
                                            <option value="@e.StateSecondaryGUID">@e.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@e.StateSecondaryGUID" class="DisabledChosen">@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px">
                                @Translation.GetCoreTextTranslation("Ärende - Driftgrupp")
                            </td>
                            <td>
                                <select id="caseSolFilterWGroup" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionWGroup)
                                    {
                                        if (e.IsActive == 1)
                                        {
                                            <option value="@e.WorkingGroupGUID">@e.WorkingGroupName</option>
                                        }
                                        else
                                        {
                                            <option value="@e.WorkingGroupGUID" class="DisabledChosen">@e.WorkingGroupName</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px">
                                @Translation.GetCoreTextTranslation("Ärende - Prioritet")
                            </td>
                            <td>
                                <select id="caseSolFilterPriority" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionPriorities)
                                    {
                                        if (e.IsActive == 1)
                                        {
                                            <option value="@e.PriorityGUID">@e.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@e.PriorityGUID" class="DisabledChosen">@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px">
                                @Translation.GetCoreTextTranslation("Ärende - Status")
                            </td>
                            <td>
                                <select id="caseSolFilterStatus" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionStatuses)
                                    {
                                        if (e.IsActive == 1)
                                        {
                                            <option value="@e.StatusGUID">@e.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@e.StatusGUID" class="DisabledChosen">@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px">
                                @Translation.GetCoreTextTranslation("Ärende - Produktområde")
                            </td>
                            <td>
                                <select id="caseSolFilterProductArea" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionProductArea)
                                    {
                                        if (e.IsActive == 1)
                                        {
                                            <option value="@e.ProductAreaGUID">@e.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@e.ProductAreaGUID" class="DisabledChosen">@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px">
                                @Translation.GetCoreTextTranslation("Användare - Driftgrupp")
                            </td>
                            <td>
                                <select id="caseSolFilterUserWGroup" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionUserWGroup)
                                    {
                                        if (e.IsActive == 1)
                                        {
                                            <option value="@e.WorkingGroupGUID">@e.WorkingGroupName</option>
                                        }
                                        else
                                        {
                                            <option value="@e.WorkingGroupGUID" class="DisabledChosen">@e.WorkingGroupName</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px">
                                @Translation.GetCoreTextTranslation("Ärendemall - Produktområde")
                            </td>
                            <td>
                                <select id="caseSolFilterCaseTemplateProductArea" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionCTemplateProductArea)
                                    {
                                        if (e.IsActive == 1)
                                        {
                                            <option value="@e.ProductAreaGUID">@e.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@e.ProductAreaGUID" class="DisabledChosen">@e.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100px">
                                @Translation.GetCoreTextTranslation("Applikation")
                            </td>
                            <td>
                                <select id="caseSolFilterApplication" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                    @foreach (var e in Model.CaseSolutionApplication)
                                    {
                                        <option value="@e.Value">@e.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="tableform">

                    <tr>
                        <td style="width:200px">
                            @Translation.GetCoreTextTranslation("Kategori")
                        </td>
                        <td>
                            <select id="caseSolFilterCategory" data-field="region" data-placeholder="@Translation.GetCoreTextTranslation("Välj en eller flera")" multiple="multiple" class="chosen-select">
                                @foreach (var e in Model.CaseSolutionCategories)
                                {
                                    <option value="@e.Id" @e.Id.IdIsSelected(searchCategories)>@e.Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>

                
                @Html.Partial("_RowsOverview", Model.Rows)
                

            </div>
            <div class="tab-pane tab-pane-border @menu2TabClass" id="fragment-2">
                <table class="table table-striped table-bordered table-hover" id="tblCaseSolutionCategory">
                    <thead>
                        <tr>
                            <th style="width: 20%">
                                @Translation.GetCoreTextTranslation("Kategori")
                            </th>
                            <th>
                                @Translation.GetCoreTextTranslation("Standard")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model.CaseSolutionCategories)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("editcategory", "casesolution", new { id = items.Id })">@Html.DisplayFor(modelItem => items.Name)</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("editcategory", "casesolution", new { id = items.Id })">@items.IsDefault.IntToYES_NO()</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
