@using DH.Helpdesk.Common.Tools
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Models.BulletinBoardIndexViewModel
@{
    ViewBag.Title = "";
}
@{var CurIcon = "";}
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
             @if (Model.UserHasBulletinBoardAdminPermission)
            {
                <li>@Html.ActionLink(Translation.Get("Nytt anslag", Enums.TranslationSource.TextTranslation) , "new", null, new { @class = "btn" })</li>
             }
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Anslagstavla", Enums.TranslationSource.TextTranslation)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                @using (Html.BeginForm("index", "bulletinboard", FormMethod.Post, new { id = "search" }))
                {
                    <div class="container">
                        <table>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(model => model.SearchBbs, new { maxlength = "50" })
                                </td>
                                <td>
                                    <input type="button" id="searchQueryBtn" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" onclick="submit();" />
                                </td>                                
                            </tr>
                        </table>
                    </div>
                    <div class="container">
                        <table class="table table-striped table-bordered table-hover" id="tblbulletinboard">
                            <thead>
                                <tr>
                                    <th sort-data="ChangedDate" style="cursor: pointer;" >
                                        @Translation.Get("Datum", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "ChangedDate";}
                                        <i class="@CurIcon.SetBulletinBoardSortIcon()"></i>
                                    </th>
                                    <th sort-data="ShowUntilDate" style="cursor: pointer;" >
                                        @Translation.Get("Visa t.o.m", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "ShowUntilDate";}
                                        <i class="@CurIcon.SetBulletinBoardSortIcon()"></i>
                                    </th>
                                    <th sort-data="Text" style="cursor: pointer; width:70%;">
                                        @Translation.Get("Text", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "Text";}
                                        <i class="@CurIcon.SetBulletinBoardSortIcon()"></i>
                                    </th>
                                    <th sort-data="ShowOnStartPage" style="cursor: pointer;">
                                        @Translation.Get("Visa på startsidan", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "ShowOnStartPage";}
                                        <i class="@CurIcon.SetBulletinBoardSortIcon()"></i>
                                    </th>
                                    <th sort-data="PublicInformation" style="cursor: pointer;">
                                        @Translation.Get("Självservice", Enums.TranslationSource.TextTranslation)
                                        @{CurIcon = "PublicInformation";}
                                        <i class="@CurIcon.SetBulletinBoardSortIcon()"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BulletinBoards.Where(b=> b.ShowUntilDate >= DateTime.Now.RoundToDay()).ToList())
                                {                               
                                    <tr onclick="location.href='@Url.Action("edit", "bulletinboard", new { id = item.Id })'" style="cursor: pointer;">
                                        <td>
                                            <span class="label label-success">@Html.DisplayFor(modelItem => item.ShowDate, "Date")</span>
                                        </td>
                                        <td>
                                            <span class="label label-success">@Html.DisplayFor(modelItem => item.ShowUntilDate, "Date")</span>
                                        </td>
                                        <td>
                                            @Html.Raw(item.Text)
                                        </td>
                                        <td>
                                            <span class="label @item.ShowOnStartPage.GetClassforYesNo()">@Translation.Get(item.ShowOnStartPage.TranslateBit(), Enums.TranslationSource.TextTranslation)</span>
                                        </td>
                                        <td>
                                            <span class="label @item.PublicInformation.GetClassforYesNo()">@Translation.Get(item.PublicInformation.TranslateBit(), Enums.TranslationSource.TextTranslation)</span>
                                        </td>
                                    </tr>
                                }
                                @foreach (var item in Model.BulletinBoards.Where(b=> b.ShowUntilDate < DateTime.Now.RoundToDay()).ToList())
                                {                               
                                    <tr onclick="location.href='@Url.Action("edit", "bulletinboard", new { id = item.Id })'" style="cursor: pointer;">
                                        <td>
                                            <span class="label">@Html.DisplayFor(modelItem => item.ShowDate, "Date")</span>
                                        </td>
                                        <td>
                                            <span class="label">@Html.DisplayFor(modelItem => item.ShowUntilDate, "Date")</span>
                                        </td>
                                        <td>
                                            <span style="color:#999;">@Html.Raw(item.Text)</span>
                                        </td>
                                        <td>
                                            <span class="label">@Translation.Get(item.ShowOnStartPage.TranslateBit(), Enums.TranslationSource.TextTranslation)</span>
                                        </td>
                                        <td>
                                            <span class="label">@Translation.Get(item.PublicInformation.TranslateBit(), Enums.TranslationSource.TextTranslation)</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var customerId = $("#currentCustomerId").val();

    $(function () {
        //tableOptions.sortable = false;
        //tableOptions.pager = false;
        //$("#tblbulletinboard").fixheadertable(tableOptions);
        //$("#containerAdmin").layout();

        $("#currentCustomer").change(function () {
            $("#search").submit();
        });
    });


    $(document).on('click', 'th', function (e) {
        var sortBy = $(this).attr('sort-data');
        $.post("/bulletinboard/Sort", { fieldName: sortBy });
        $("#search").submit();

    });
    
</script>
