@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.ChangeObjectInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("edit", "changeobject", new { id = Model.ChangeObject.Id, customerId = Model.ChangeObject.Customer_Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "edit", new { id = Model.ChangeObject.Id }, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "delete",
         new { id = Model.ChangeObject.Id, customerId = Model.ChangeObject.Customer_Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post", Enums.TranslationSource.TextTranslation) })</li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "Index", new { customerId = Model.ChangeObject.Customer_Id }, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
}
@section Scripts {
    <script type="text/javascript">

        $(function () {
            var validator = $("#target").validate({
                rules: {
                    "ChangeObject.ChangeObject": {
                        required: true
                    }
                },
                messages: {
                    "ChangeObject.ChangeObject": {
                        required: "@Translation.GetForJS("Du måste ange", Enums.TranslationSource.TextTranslation)" + " " + "@Translation.GetForJS("Objekt", Enums.TranslationSource.TextTranslation)"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });

</script>
}