@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.ComputerUserGroupInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("edit", "computerusergroup", new { id = Model.ComputerUserGroup.Id, area = "admin" }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "edit", new { id = Model.ComputerUserGroup.Id }, new { onclick = "submitForm();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "delete",
          new { id = Model.ComputerUserGroup.Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post", Enums.TranslationSource.TextTranslation) })</li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", null, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
}
@section Scripts {
    <script type="text/javascript">

        $(function () {
            var validator = $("#target").validate({
                rules: {
                    "ComputerUserGroup.Name": {
                        required: true
                    },
                    "ComputerUserGroup.Path": {
                        required: true
                    }
                },
                messages: {
                    "ComputerUserGroup.Name": {
                        required: "@Translation.GetForJS("Du måste ange en AD-grupp", Enums.TranslationSource.TextTranslation)"
                },
                "ComputerUserGroup.Path": {
                    required: "@Translation.GetForJS("Du måste ange en LDAP-sökväg", Enums.TranslationSource.TextTranslation)"
                }
            }
        });
    });

    function submitForm() {
        $("#OUsSelected option").attr("selected", "selected");
        $("#target").submit();
    }

    $("#addOUs").click(function () {
        $("#OUsAvailable option:selected").remove().appendTo("#OUsSelected");
        $("#OUsAvailable").get(0).selectedIndex = -1;
        $("#OUsSelected").get(0).selectedIndex = -1;
        return false;
    });

    $("#removeOUs").click(function () {
        $("#OUsSelected option:selected").remove().appendTo("#OUsAvailable");
        $("#OUsAvailable").get(0).selectedIndex = -1;
        $("#OUsAvailable").get(0).selectedIndex = -1;
        return false;
    });

</script>

}