@model dhHelpdesk_NG.Web.Areas.Admin.Models.CustomerInputViewModel
<div class="formContainer">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#subfragment-1">@Translation.Get("Ärende", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li><br />
    </ul>
    @if (Model.Customer.Id > 0)
    {
        <div id="labelList">
            <h4>@Translation.Get("Inställningar av de fält som ska visas på ärendeinformationen", Enums.TranslationSource.TextTranslation)</h4>
            <input type="hidden" id="customerId" name="customerId" value="@Model.Customer.Id" />
            <table>
                <tr>
                    <td>
                        @Translation.Get("Fält", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td>
                        @Translation.Get("Visa", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @Translation.Get("Visa på självservice", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td></td>
                    <td>
                        @Translation.Get("Rubrik", Enums.TranslationSource.TextTranslation)
                         @Html.DropDownListFor(model => model.Language.Id, Model.Languages, new { style = "width: auto;", id = "LanguageId", onchange = "changeLabelList(this.options[this.selectedIndex].value);" })
                    </td>
                    <td></td>
                    <td>
                        @Translation.Get("Obligatorisk", Enums.TranslationSource.TextTranslation)
                    </td>
                    <td></td>
                    <td>
                        @Translation.Get("Storlek", Enums.TranslationSource.TextTranslation)
                    </td>
                </tr>
                <tr></tr>
                @{ var i = 0; }
                @foreach (var lc in Model.ListCaseForLabel)
                {                
                    <tr>
                        <td>
                            @Translation.Get(lc.LabelNotToChange, Enums.TranslationSource.TextTranslation)
                        </td>
                        <td>
                            <input type="checkbox" name="@string.Format("CaseFieldSettings[{0}].ShowOnStartPage", i)" @(lc.ShowOnStartPage == 1 ? "checked=checked" : "") value="1"/>
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].ShowOnStartPage", i)" value="0" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Customer_Id", i)" value="@Model.Customer.Id" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Id", i)" value="@lc.CFS_Id" />
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="checkbox" name="@string.Format("CaseFieldSettings[{0}].ShowExternal", i)" @(lc.ShowExternal == 1 ? "checked=checked" : "") value="1"/>
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].ShowExternal", i)" value="0" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Customer_Id", i)" value="@Model.Customer.Id" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Id", i)" value="@lc.CFS_Id" />
                        </td>
                        <td></td>
                        <td>
                            <input type="text" name="@string.Format("CaseFieldSettings[{0}].Name", i)" value="@lc.LabelToChange" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Customer_Id", i)" value="@Model.Customer.Id" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Id", i)" value="@lc.CFS_Id" />
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" name="@string.Format("CaseFieldSettings[{0}].Required", i)" @(lc.Required == 1 ? "checked=checked" : "") value="1"/>
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Required", i)" value="0" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Customer_Id", i)" value="@Model.Customer.Id" />
                            <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Id", i)" value="@lc.CFS_Id" />
                        </td>
                        <td></td>
                        @if (lc.FieldSize > 0)
                        {
                            <td>
                                <input type="text" name="@string.Format("CaseFieldSettings[{0}].FieldSize", i)" value="@lc.FieldSize" style="width: 40px;" />
                                <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Customer_Id", i)" value="@Model.Customer.Id" />
                                <input type="hidden" name="@string.Format("CaseFieldSettings[{0}].Id", i)" value="@lc.CFS_Id" />
                            </td>
                        }
                        else
                        {
                            <td>
                                &nbsp;
                            </td>
                        }
                    </tr>
                        i++;
                }
            </table>
            <input type="hidden" id="LanguageId" name="LanguageId" value="@Model.Language.Id" />
            @Html.HiddenFor(model => model.CaseFieldSettingLanguage.Language_Id)
            @Html.HiddenFor(model => model.CaseFieldSettingLanguage.CaseFieldSettings_Id)
            @Html.HiddenFor(model => model.CaseFieldSettingLanguage)
        </div>
    }
</div>

