model@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.CustomerInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("edit", "customercasefieldsettings", new { customerId = Model.Customer.Id, area = "admin" }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "edit", new { id = Model.Customer.Id }, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "edit", new { area = "admin", controller = "Customer", action = "Edit", id = Model.Customer.Id }, new { @class = "btn" })</li>

            </ul>
        </div>
         @Html.Partial("_MasterDataPanel", Model.Customer)
    </div>
    <input type="hidden" id="customerId" name="customerId" value="@Model.Customer.Id" />
    <div id="casefieldsetting_container">
            <span id="labelList">
                @Html.Partial("_Input", Model)
            </span>
    </div>
}
@section Scripts {
    <script type="text/javascript">

        function changeLabelList(id) {
            var list = $('#labelList');
            list.html('');
            if (id != '') {
                $.get('/CustomerCaseFieldSettings/ChangeLabel/' + id + '?customerId=' + $("#customerId").val(), function (result) {
                    list.html(result);
                });
            }
        }
</script>


}