<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Le styles -->
    @Styles.Render("~/assets/css/bundle")
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="~/assets/js/html5shiv.js"></script>
    <![endif]-->
    <!-- For IE7 support of JSON functions -->
    <!--[if lt IE 8]>
      <script src="~/assets/js/json2.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" data-lang="@SessionFacade.User.Language">
    <div style="display:none;">
        <span id="cancelRequest">@I18N.Translate("Are you sure you want to cancel the request?", SessionFacade.User.Language)</span>
    </div>
    @RenderBody()
    @RenderSection("Validation", required: false)
    <!-- Le scripts -->
    @Scripts.Render("~/assets/js/bundle")
    @RenderSection("Script", required: false)
    <div class="container containeralignright">
        <small>@I18N.Translate("Version", SessionFacade.User.Language)&nbsp;@Html.Version()</small>
    </div>
</body>
</html>
