@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "nl";

   
}
<!DOCTYPE html>
<html>

<body>

        <div>
            <br />
            <table style="font-family: Verdana; font-size: 11px; width: 100%;" border="0">
                <tr>
                    <td style="text-align: right;">@Model.GetDocumentAnswer("FirstName",true) @Model.GetDocumentAnswer("LastName",true)</td>
                </tr>
                <tr>
                    <td style="text-align: right;">@Model.GetDocumentAnswer("PermanentAddressLine1",true) @Model.GetDocumentAnswer("PermanentAddressLine2") @Model.GetDocumentAnswer("PermanentAddressLine3")</td>
                </tr>
                <tr>
                    <td style="text-align: right;">@Model.GetDocumentAnswer("PermanentPostalCode",true) @Model.GetDocumentAnswer("PermanentCity",true)</td>
                </tr>
            </table>

            <p style="text-align: left; font-family: Verdana; font-size: 11px;">
            @CustomPdfPage.IsEmpty(Model.Department.HeadOfDepartmentCity, "City"), @string.Format(new System.Globalization.CultureInfo("nl-NL"), "{0:d MMMM yyyy}", DateTime.Now)<br />
            <br />
            Betreft: uitdiensttreding
            <br />
            <br />
            Beste @Model.GetDocumentAnswer("FirstName"),<br /><br />


            @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Resignation".ToLower())
            {
                
                //Set mandatory!
                Model.SetDocumentMandatoryField("LastDayOfEmployment");
                
                <text> Hierbij bevestigen we de ontvangst van jouw mededeling waarmee je het dienstverband tussen jou en IKEA B.V. opzegt. 
                <br />
                <br />
                We gaan hiermee akkoord en zullen @Model.GetDocumentAnswer("LastDayOfEmployment") als laatste dag van de arbeidsovereenkomst beschouwen.
             <br />
                <br />
                </text>
            }




            @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Expiry of Contract".ToLower())
            {

                //Set mandatory!
                Model.SetDocumentMandatoryField("LastDayOfEmployment");
                
                <text>
                Je arbeidsovereenkomst voor bepaalde tijd loopt af op @Model.GetDocumentAnswer("LastDayOfEmployment") en wordt niet verlengd. Dit betekent dat met ingang van bovengenoemde datum het dienstverband tussen jou en IKEA B.V. van rechtswege eindigt.
                <br />
                <br />
                </text>
            }


            @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Termination in probation period by employer".ToLower())
            {
                //Set mandatory!
                Model.SetDocumentMandatoryField("LastDayOfEmployment");
                
                <text>
                Met ingang van @Model.GetDocumentAnswer("LastDayOfEmployment") is het dienstverband tussen jou en IKEA tijdens de proeftijd beëindigd. De reden van het ontslag is met jou besproken.
                <br />
                <br />
                </text> 
            }


            @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Termination in probation period by employee".ToLower())
            {
                //Set mandatory!
                Model.SetDocumentMandatoryField("LastDayOfEmployment");
                
                <text>
                Met ingang van @Model.GetDocumentAnswer("LastDayOfEmployment") wordt op jouw verzoek het dienstverband tussen jou en IKEA B.V. tijdens de proeftijd beëindigd.
             <br />
                <br />
                We gaan hiermee akkoord en zullen @Model.GetDocumentAnswer("LastDayOfEmployment") als laatste dag van de arbeidsovereenkomst beschouwen.
             <br />
                <br />
                </text>
            }


            @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Retirement".ToLower())
            {
                //Set mandatory!
                Model.SetDocumentMandatoryField("LastDayOfEmployment");
                
                <text>
                Hierbij bevestigen we de wettelijke beëindiging van de arbeidsovereenkomst tussen jou en IKEA B.V., dit vanwege het bereiken van de pensioengerechtigde leeftijd. 
            <br />
                <br />
                We beschouwen @Model.GetDocumentAnswer("LastDayOfEmployment") als laatste dag van je arbeidsovereenkomst.

             <br />
                <br />
                </text>
            }

            We willen je vragen om op je laatste werkdag de eigendommen van IKEA in te leveren bij de vestiging @Model.GetDocumentAnswer("BusinessUnit",true). Denk hierbij aan je bedrijfskleding (schoon en gestreken), je naambadge, je laptop en/of telefoon van IKEA, de sleutel van je kluisje en van het fietsenhok. Daarnaast vragen wij je om na je laatste werkdag je personeelspas en OV-abonnementspas (indien van toepassing) in de bijgevoegde retourenvelop terug te sturen. Na ontvangst van deze pas(sen), zullen wij in de maand  na je uitdiensttreding overgaan tot de eindafrekening van je salaris. In de daarop volgende maand zullen de eventuele vakantie-uren worden uitbetaald. In de bijlage vind je een toelichting op je laatste salarisbetalingen.
              <br />
                <br />

             @if (Model.GetDocumentAnswer("BasicTerminationType").ToLower() == "Retirement".ToLower())
            {
                <text>

            In jouw geval hoef je de personeelspas niet in te leveren, want (vroeg)gepensioneerden behouden gedurende hun hele leven de IKEA personeelspas en daarmee het recht op personeelskorting. Dit is conform CAO artikel 9F.

              <br />
                <br />
                </text>
            }


            

   
                 @if (Model.GetDocumentAnswer("UsingCompanyFitness").ToLower() == "Yes".ToLower())
            {
                <text>
            Aangezien je gebruik maakt van Bedrijfsfitness zal met de eindafrekening van je salaris het resterende bedrag voor je abonnement worden verrekend. We verzoeken je om zelf je uitdiensttreding bij Bedrijfsfitness Nederland te melden. Voor meer informatie zie www.bedrijfsfitnessnederland.nl.
            <br />
                <br />
                </text>
            }

          

                @if (Model.GetDocumentAnswer("Co-WorkerBeenEmployedFor2Months").ToLower() == "Yes".ToLower())
            {
                <text>
            Tot slot willen we je wijzen op de mogelijkheid van waardeoverdracht van je pensioen naar een nieuwe werkgever. Informeer bij je nieuwe pensioenuitvoerder naar de procedure. Mocht je niet besluiten tot waardeoverdracht en je pensioenuitkering is kleiner dan &euro;  100,- per jaar op je pensioendatum, dan zal STIP (Stichting IKEA Pensioenfonds) over twee jaar je pensioenaanspraken in één keer uitbetalen (dit noemen we afkoop). Zodra dit van toepassing is, zal je hiervoor een formulier ontvangen van onze pensioenuitvoerder om de gegevens te controleren. STIP zal je later informeren over het pensioen dat je tijdens je dienstverband bij IKEA hebt opgebouwd.
              <br />
                <br />
                </text>
            }
 </p> 
  
            
            <p style="text-align: left; font-family: Verdana; font-size: 11px;">Graag ontvangen wij één exemplaar, met daarop je handtekening, voor akkoord retour. Deze kan je in de bijgevoegde envelop terugsturen.</p>
            
            <endpage />
        </div>
</body>
</html>
