@model DH.Helpdesk.Web.Models.Contract.ContractsSearchSummary


<div align="right">
    <table style="border-style: solid; border-width: thin; color: gray; font-weight: bold; font-size: 11px; border-color: #E0E0E0; font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
        <tr style="border-style: solid; border-width: thin">
            <td colspan="2" style="color: black; background-color: #f9f9f9; padding-left: 5px">
                @Translation.GetCoreTextTranslation("Avtal")
            </td>
        </tr>
        <tr style="border-style: solid; border-width: thin; border-color: #E0E0E0">
            <td style="border-style: solid; border-width: thin; border-color: #E0E0E0; padding-left: 5px">
                @Translation.GetCoreTextTranslation("Antal")
            </td>

            <td style="border-style: solid; border-width: thin; text-align: right; width: 100px; border-color: #E0E0E0; padding-right: 5px">
                @Model.TotalCases
            </td>
        </tr>
        <tr style="border-style: solid; border-width: thin; border-color: #E0E0E0">
            <td style="border-style: solid; border-width: thin; padding-right: 100px; border-color: #E0E0E0; padding-left: 5px">
                @Translation.GetCoreTextTranslation("Pågående")
            </td>

            <td style="border-style: solid; border-width: thin; text-align: right; border-color: #E0E0E0; padding-right: 5px">
                @Model.OnGoingCases
            </td>
        </tr>
        <tr style="border-style: solid; border-width: thin; border-color: #E0E0E0">
            <td style="border-style: solid; border-width: thin; border-color: #E0E0E0; padding-left: 5px">
                @Translation.GetCoreTextTranslation("Avslutade")
            </td>

            <td style="border-style: solid; border-width: thin; text-align: right; border-color: #E0E0E0; padding-right: 5px">
                @Model.FinishedCases
            </td>
        </tr>
        <tr style="border-style: solid; border-width: thin; border-color: #E0E0E0">
            <td style="border-style: solid; border-width: thin; border-color: #E0E0E0; padding-left: 5px">
                <span>@Translation.GetCoreTextTranslation("För uppsägning")</span>
            </td>
            <td style="border-style: solid; border-width: thin; text-align: right; border-color: #E0E0E0; padding-right: 5px">
                <span> @Model.ContractNoticeOfRemovalCount </span>
            </td>
        </tr>
        <tr style="border-style: solid; border-width: thin; border-color: #E0E0E0">
            <td style="border-style: solid; border-width: thin; border-color: #E0E0E0; padding-left: 5px">
                <span>@Translation.GetCoreTextTranslation("För uppföljning")</span>
            </td>

            <td style="border-style: solid; border-width: thin; text-align: right; border-color: #E0E0E0; padding-right: 5px">
                <span> @Model.ContractFollowUpCount </span>
            </td>
        </tr>
        <tr style="border-style: solid; border-width: thin; border-color: #E0E0E0">
            <td style="border-style: solid; border-width: thin; border-color: #E0E0E0; padding-left: 5px">
                <span>@Translation.GetCoreTextTranslation("Löpande")</span>
            </td>

            <td style="border-style: solid; border-width: thin; text-align: right; border-color: #E0E0E0; padding-right: 5px">
                <span> @Model.RunningCases</span>
            </td>
        </tr>
    </table>
</div>