
@model DH.Helpdesk.Web.Models.Contract.ContractsSettingViewModel
           
<script type="text/javascript">
    $(function () {
        // YES and NO SWITCH FOR CHECKBOXES
        $('.switchcheckbox').bootstrapSwitch('onText', trans_yes);
        $('.switchcheckbox').bootstrapSwitch('offText', trans_no);
        $('.switchcheckbox').bootstrapSwitch('size', 'small');
        $('.switchcheckbox').bootstrapSwitch('onColor', 'success');
    });
</script>

<div class="secnavs fixed">
    <div class="pull-left">                
            <ul class="secnav">
                <li>                    
                   <a href="" id="btnSave" class = "btn"> @Translation.Get("Spara", Enums.TranslationSource.TextTranslation) </a>
                </li> 
            </ul>                            
        </div>   
</div>

 <table id="contractSettings" class="table table-striped table-bordered table-hover table-cases">
        <thead>
            <tr>
                <th style="width:8%">
                    @Translation.GetCoreTextTranslation("Fält")
                </th>
                <th style="width:6%">
                    @Translation.GetCoreTextTranslation("Visa")
                </th>
                <th  style="width:8%">
                    @Translation.GetCoreTextTranslation("Rubrik")
                    @Html.DropDownListFor(m => m.CurrentLanguage, Model.Languages, new { style="width: auto;"})
                </th>
                <th style="width:8%">
                    @Translation.GetCoreTextTranslation("Obligatorisk")
                </th>    
                <th style="width:6%">
                    @Translation.GetCoreTextTranslation("Lista")
                </th>                
            </tr>
        </thead>
        <tbody> 
             @using (Html.BeginForm("SaveContractFieldsSetting", "Contracts", FormMethod.Post, new {id = "contractSettingRows"}))
             {
                 @Html.Partial("_ContractsFieldsSettings", Model.SettingRows)
             }
        </tbody>
    </table>
