@model DH.Helpdesk.Web.Models.Contract.ContractIndexViewModel

@section Scripts
{
    @Scripts.Render("~/bundles/contract")

    <script type="text/javascript">

        $(function () {
            var settings = {
                SearchActionUrl: '@Url.Action("Search", "Contracts")',
                SortActionUrl: '@Url.Action("SortBy", "Contracts")',
                SaveContractFieldsSettings: '@Url.Action("SaveContractFieldsSetting", "Contracts", "")',
                IndexUrl: '@Url.Action("index", "Contracts", null)'
            };

            window.ContractsPage = createContractsPage($);
            window.ContractsPage.Init(settings);
        });

        function SortCol(colName) {
            window.ContractsPage.Sort(colName);
        }
    </script>    
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Nytt avtal"), "new", new { customerId = Model.Customer.Id }, new { @class = "btn" })</li>
            @*@Html.HiddenFor(x => Model.Setting)*@
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <div id="globalProgress" class="loading-msg" style="display:none">
            <div class="content-wrapper">
                <div class="loader">@Translation.GetCoreTextTranslation("Laddar...")</div>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active" id="overview_Tab"><a href="#fragment-1">@Translation.GetCoreTextTranslation("Avtal")</a></li>
            <li id="settings_tab">
                <a href="#fragment-2">@Translation.GetCoreTextTranslation("Inställningar")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div style="margin:auto 5px">
                    @using (Html.BeginForm("Search", "Contracts", FormMethod.Post, new {id = "search_form"}))
                    {
                        <input type="hidden" id="currentCustomerId" name="CustomerId" value="@Model.Customer.Id" />
                        <div class="row">
                            <div class="pull-left">
                                @Html.Partial("_ContractsSearchFilter", Model.SearchFilterModel)
                            </div>
                            <div class="pull-right">
                                @Html.Partial("_ContractsSearchSummary", Model.SearchResults.SearchSummary)
                            </div>
                        </div>
                    }
                </div>
                <div id="contracts_grid">
                    @Html.Partial("_ContractsIndexRows", Model.SearchResults)
                </div>

            </div>
            <div class="tab-pane tab-pane-border" id="fragment-2">
                @using (Html.BeginForm("SaveContractFieldsSetting", "Contracts", FormMethod.Post, new { id = "contractSetting" }))
                {
                    @Html.Partial("_Settings", Model.Setting)
                }
            </div>
        </div>
    </div>
</div>