@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Contract.ContractViewInputModel
       @{
    ViewBag.Title = "";
}
@using (Html.BeginForm("New", "Contracts", FormMethod.Post, new { id = "target" }))
{
  <div class="secnavs fixed">
    <div class="pull-left">
       <ul class="secnav">
        <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "New", null, new { @class = "btn", onclick = "$('#target').submit();return false;", id=Model.ContractId , contractKey = Model.ContractFileKey})</li>       
             @Html.HiddenFor(x => Model.SettingsModel)
         <li>
            <input name="actiontype" type="submit" value="@Translation.Get("Spara och stäng")" class="btn"/>
         </li>

       <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", null, new { @class = "btn" })</li>
      </ul>                                      
   </div>   
  </div>
        @Html.Partial("_Input", Model)
    @Html.HiddenFor(i => i.ContractId)
    @Html.HiddenFor(i => i.ContractFileKey)

}
<script type="text/javascript">

    $("input:text:visible:first").focus();    
</script>