@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using System.Collections;

@{
    var url = Url.CurrentController() + "typeahead";
}

@functions{  
    public string PrintText()
    {
        return Model.Translate("Print");
    }
}

@using(Html.BeginForm("edit", "ChangeTermsConditions", new { id = Model.Contract.Id }, FormMethod.Post, new { area = "UnitedKingdom", novalidate = "novalidate", id = "changeform" }))
{   
    <span style="display: none;" id="narrowDownInit" url="@url"></span>
    @Html.Partial("_GlobalNavRev", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            @if(Model.VisibleTab("#ServiceRequestDetails"))
            {
                <li class="active @(Model.TabHasError("#ServiceRequestDetails") ? "error" : "")">
                    <a href="#ServiceRequestDetails">@Model.Translate("Service Request Details")</a></li>
            }
            @if(Model.VisibleTab("#OrganisationalAssignment"))
            {
                <li class="@(Model.TabHasError("#OrganisationalAssignment") ? "error" : "")">
                    <a href="#OrganisationalAssignment">@Model.Translate("Organisational Assignment")</a></li>
            }
            @if(Model.VisibleTab("#Payment"))
            {
                <li class="@(Model.TabHasError("#Payment") ? "error" : "")">
                    <a href="#Payment">@Model.Translate("Payment Information")</a></li>
            }
             @if(Model.VisibleTab("#documents"))
            {
                <li class="@(Model.TabHasError("#documents") ? "error" : "")">
                    <a href="#documents">@Model.Translate("Documents")</a></li>
            }
            @if(Model.VisibleTab("#globalview"))
            {
                <li class="@(Model.TabHasError("#globalview") ? "error" : "")">
                    <a href="#globalview" data-url="@Url.Action("GetGlobalViewFields", new { caseId = Model.Contract.Id, formGuid = Model.FormGuid })">@Model.Translate("Global View")</a></li>
            }

            @if (Model.VisibleTab("#SSCUseOnly"))
            {
                <li class="@(Model.TabHasError("#SSCUseOnly") ? "error" : "")">
                    <a href="#SSCUseOnly">@Model.Translate("SSC use only")</a></li>
            }
            <li>
                <a href="@Url.Action("ChangePrint", "ChangeTermsConditions", new
                {
                    id = "Print",
                    caseId = Model.Contract.Id,
                    path = "",
                    userId = FormLibSessions.User.UserId,
                    allowanceNr = ""
                })" class="changeprint"><i class="icon-print icon-white"></i>&nbsp;@PrintText()</a>
            </li>
            @if(Model.VisibleTab("#attachments"))
            {
                <li class="pull-right">
                    <a href="#attachments"><i class="icon-file icon-white"></i>&nbsp;@Model.Translate("Attachments")&nbsp;(<b id="attachmentCounter">@(Model.Contract.CaseFiles != null ? Model.Contract.CaseFiles.Count() : 0)</b>)</a>
                </li>
            }

        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content overflow-visible">
                    @if(Model.VisibleTab("#ServiceRequestDetails"))
                    {
                        @Html.Partial("_TabServiceRequestDetails", Model)
                    }
                    @if(Model.VisibleTab("#OrganisationalAssignment"))
                    {
                        @Html.Partial("_TabOrganisationalAssignment", Model)
                    }
                    @if(Model.VisibleTab("#Payment"))
                    {
                        @Html.Partial("_TabPayment", Model)
                    }
                    @if(Model.VisibleTab("#SSCUseOnly"))
                    {
                        @Html.Partial("_TabSsc", Model)
                    }
                    @if(Model.VisibleTab("#documents"))
                    {
                        @Html.Partial("_TabDocuments", Model)
                    }
                    @if(Model.VisibleTab("#globalview"))
                    {
                        @Html.Partial("_TabGlobalView", Model)
                    }
                    @if(Model.VisibleTab("#attachments"))
                    {
                        @Html.Partial("_GlobalAttachments", Model)
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="@Model.ActiveTab" />
    @Html.Partial("_Validate", Model)
    <script>
    function changeNewCompanyCallback() {
        var value = $('#NewCompany').find('option:selected').text();

        if (value == '')
            return;

        if (value == 'IKEA Ltd')
            document.getElementById('HelpDesk').value = 'ICC3 UK Retail';

        if (value == 'IKEA Prop Investments Ltd')
            document.getElementById('HelpDesk').value = 'ICC3 UK Retail';

        if (value == 'IKEA Dist Services Ltd')
            document.getElementById('HelpDesk').value = 'ICC3 WER DS';

        if (value != 'IKEA Dist Services Ltd') {
            document.getElementById('CostAllocation').disabled = true;
            if ($('#CrossChargeCostCentre')[0] != undefined && $('#CrossChargeCostCentre')[0].selectize)
                $('#CrossChargeCostCentre')[0].selectize.disable();
        }
        else {
            if ("@Model.ReadOnlyTab("#Payment")" == 'False' && lockedbyUserGroup == 'False') {
                document.getElementById('CostAllocation').disabled = false;
            }
            if ($('#CrossChargeCostCentre')[0] != undefined && $('#CrossChargeCostCentre')[0].selectize)
                $('#CrossChargeCostCentre')[0].selectize.enable();
        }
    }

    function changeNewBusinessUnitCallback() {
        var selectedText = $('#NewBusinessUnit').find('option:selected').text();
        $('#PrimarySite').val(selectedText);
    }

    function changeFunctionsCallback() {
        
        //setTimeout(function () { GetXML('predefined_function_department_linemanager_outs.xml', setLineManagerAndCostCentre); }, 1);

        //setTimeout(function () { GetXML('predefined_function_jobtitleUK_outs.xml', setLineManagerJobTitle); }, 1);


        GetXML('predefined_function_jobtitleUK_outs.xml', NarrowDownJobTitle);


        function NarrowDownJobTitle(xml) {
            $('#JobTitle').off('change');
            var show = ''

            var dep = '';
            var bus = '';

            if (document.getElementById('NewServiceArea')) {
                dep = $("#NewServiceArea option:selected").text();
            }

            if (document.getElementById('NewBusinessUnit')) {
                bus = $("#NewBusinessUnit option:selected").text();
            }


            var jobtitle_value;
            jobtitle_value = $('#JobTitle').val();

            $('#JobTitle').val("");

            var selectize_tags = $("#JobTitle")[0].selectize
            selectize_tags.clearOptions();



            $(xml).find('dependent').each(function () {


                var $sel = $(this);
                show = '';

                var department = $sel.find('selected').text();

                show = $sel.find('show').text();

                if (department == dep) {

                    if (show != '') {

                        show = ' ,' + show;

                        //temp, replace spaces that occours in the beginning of comma separation.
                        show = show.replace(/\, /g, ",");

                        var optionsarray = show.split(',');
                        optionsarray.unshift('');

                        //TEMP for Steering Group_Doncaster, Sales (problem with commas in the name) so we use  #
                        if (show.indexOf("#") > -1) {
                            $.each(optionsarray, function (i) {
                                optionsarray[i] = optionsarray[i].replace(/\#/g, ",");
                            });
                        }

                        var items = optionsarray.map(function (x) { return { text: x, value: x }; });
                        selectize_tags.addOption(items);

                        if (jobtitle_value != '')
                            selectize_tags.setValue(jobtitle_value);
                        else
                            selectize_tags.setValue('');
                        return;
                    }
                }

            });

            var jobtitleoptions = $('#JobTitle')[0].selectize.options;
            var jobtitleoptionslength = Object.keys(jobtitleoptions).length;
            if (jobtitleoptionslength == 0) {
                GetXML('Data_JobTitle.xml', SetAllJobtitles);
            }

            $('#JobTitle').on('change', function () {
                ////////
                //JobTitle change function
                setDefaultPayroll();
                addDeductionTypesOnPayroll();
                addAllowanceOnPayroll();
                addPayScaleOnPayroll();
                setPayrollCategory();
                setBasicPayAmount();
            });
        }
       
    }


    //InitIntegration(); 
    //changeNewCompany();

    validate.run($('#actionState').val());

    $(document).on('change', '#actionState', function (e) {
        var val = $(this).val();
        validate.run(val);
    });
         
    </script>
}