@model DH.Helpdesk.SelfService.Models.Start.StartPageModel

@{
    ViewBag.Title = "";

    var welcomePart = "";
    if (Model.WelcomeHtml != null)
    {
        welcomePart = Model.WelcomeHtml.SetHtmlParameters();
    }
    var isVisibleOperationalLog = SessionFacade.CurrentCustomer.ShowOperationalLogOnExtPage != 0 && Model.OperationLog != null && Model.OperationLog.Any();
    var isVisibleCalendar = SessionFacade.CurrentCustomer.ShowCalenderOnExtPage != 0 && Model.Calendar != null && Model.Calendar.Any();
    var isVisibleBulletinBoard = SessionFacade.CurrentCustomer.ShowBulletinBoardOnExtPage != 0 && Model.BulletinBoard != null && Model.BulletinBoard.Any();
    var mainClassName = (isVisibleOperationalLog || isVisibleCalendar || isVisibleBulletinBoard) ? "col-md-8" : "col-md-12";
}

<div class="start-page container-fluid dh-container ">
    <div class="row">
        <div class="@mainClassName">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(welcomePart)
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @if (isVisibleOperationalLog)
            {
                <div class="panel panel-default">
                    <div class="panel-heading phselfservice">@Translation.Get("Driftlogg") </div>
                    <div class="panel-body">
                        @if (Model.OperationLog != null)
                        {
                            foreach (var o in Model.OperationLog)
                            {
                                <p> <strong> @Html.DisplayFor(m => o.ChangedDate, "DateAndTime") </strong> <br /> @Html.Raw(o.LogTextExternal) </p>
                                <br />
                            }
                        }
                    </div>
                </div>
            }
            @if (isVisibleCalendar)
            {
                <div class="panel panel-default">
                    <div class="panel-heading phselfservice">@Translation.Get("Aktuellt") </div>
                    <div class="panel-body">
                        @if (Model.Calendar != null)
                        {
                            foreach (var c in Model.Calendar)
                            {
                                <p> <strong> @Html.DisplayFor(m => c.CalendarDate, "Date") <br /> @Html.Raw(c.Caption) </strong>  <br /> @Html.Raw(c.Text) </p>
                                <br />
                            }
                        }
                    </div>
                </div>
            }
            @if (isVisibleBulletinBoard)
            {
                <div class="panel panel-default">
                    <div class="panel-heading phselfservice">@Translation.Get("Bulletin Board") </div>
                    <div class="panel-body">
                        @if (Model.BulletinBoard != null)
                        {
                            foreach (var b in Model.BulletinBoard)
                            {
                                <p> <strong> @Html.DisplayFor(m => b.ChangedDate, "DateAndTime") </strong> <br /> @Html.Raw(b.Text) </p>
                                <br />
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>

</div>
