@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    ViewBag.Title = Model.Translate("Poland") + " - " + Model.Translate("Termination");
}

@section Script {
    <script type="text/javascript">

        $(function () {
            validate.run(10);
        });

    </script>

     @Html.Partial("_Validate", Model)
}
@using(Html.BeginForm("new", "termination", FormMethod.Post, new { area = "poland" }))
{
    @Html.Partial("_Navigation", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            <li class="active"><a href="#termination">@Model.Translate("Termination")</a></li>
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content">
                    @Html.Partial("_TabTermination", Model)
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="#termination" />
}