@model DH.Helpdesk.EForm.FormLib.Models.FormModel
@using DH.Helpdesk.EForm.FormLib;
@using DH.Helpdesk.EForm.FormLib.Models;

@*<div class="row-fluid">
    <ul class="inline alignrighttop marginbuttontop">
        @if(Model.Form != null)
        {
            <li id="TempFixFormName" class="pull-left">@Model.Translate(Model.Form.FormName)</li>
        }
        @if(Model.Contract.ParentCaseNumber != 0)
        {
            <li>@Model.Translate("Parent case number") @Model.Contract.ParentCaseNumber</li>
        }
        @if(Model.Contract.ChildCaseNumbers.FirstOrDefault() != null && Model.Contract.ChildCaseNumbers.FirstOrDefault() != 0)
        {
            <li>@Model.Translate("Child case number") @Model.Contract.ChildCaseNumbers.FirstOrDefault()</li>
        }
        <li>@DH.Helpdesk.EForm.FormLib.FormLibSessions.User.FullName</li>
    </ul>
</div>*@
