@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Le styles -->
@Styles.Render("~/FormLibContent/assets/css/bundle")
<link href="~/FormLibContent/assets/css/self-service-specifics.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="~/FormLibContent/assets/js/html5shiv.js"></script>
    <![endif]-->
<!-- For IE7 support of JSON functions -->
<!--[if lt IE 8]>
      <script src="~/FormLibContent/assets/js/json2.js"></script>
    <![endif]-->
<!-- Le scripts -->
@Scripts.Render("~/FormLibContent/assets/js/bundle")
<div id="lmEmbedded">
    <div style="display: none;">
        <span id="cancelRequest">@ECT.FormLib.FormLibI18N.Translate("Are you sure you want to cancel the request?", ECT.FormLib.FormLibSessions.User.Language)</span>
    </div>
    @RenderBody()
    @RenderSection("Validation", required: false)
    @RenderSection("Script", required: false)
    <div class="container containeralignright">
        <small>@ECT.FormLib.FormLibI18N.Translate("Version", ECT.FormLib.FormLibSessions.User.Language)&nbsp;0.5.28.1</small>
    </div>
</div>