@model Web.Areas.Poland.Models.MassRequest

<div class="tab-pane active" id="MassRequest">
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <tr>
                    <td class="tdstrong">@Model.Label("EmployeeNumber")</td>
                    <td>
                        @Model.Element("EmployeeNumber")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmployeeFirstName")</td>
                    <td>
                        @Model.Element("EmployeeFirstName")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmployeeLastName")</td>
                    <td>
                        @Model.Element("EmployeeLastName")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AdditionalInfo")</td>
                    <td>
                        @Model.Element("AdditionalInfo")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NumberOfRecords")</td>
                    <td>
                        @Model.Element("NumberOfRecords")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Translate("Attachfiles")</td>
                    <td>
                        @Model.Element("AttachFile")
                        <input type="file" multiple="multiple" name="fileBase" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
