@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
<div class="tab-pane active" id="servicerequestdetails">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Details")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("NewToIKEA")</td>
                    <td>@Model.Element("NewToIKEA")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContractStartDate")</td>
                    <td>@Model.Element("ContractStartDate")

                        <div id="notice_HiringDate" style="display:none;" class="notice">
                            @Model.Translate("The date you've entered is in the past. Are you sure you want to backdate Hiring date?")
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ServiceRequestPriority")</td>
                    <td>@Model.Element("ServiceRequestPriority")</td>
                </tr>
                @if (!FormLibUtils.IsSelfService()){
                <tr>
                    <td class="tdstrong">@Model.Translate("SLA")</td>
                    <td>
                        @if (Model.Contract.CaseNumber != null)
                        {
                            @Model.Contract.PriorityName;
                        }
                        else if (Model.Form != null){ 
                            @Model.Form.PriorityName;
                        }
                    </td>
                </tr>
                }
                <tr>
                    <td class="tdstrong">@Model.Label("Co-WorkerID")</td>
                    <td>@Model.Element("Co-WorkerID")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("GlobalHRID")</td>
                    <td>@Model.Element("GlobalHRID")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Title")</td>
                    <td>@Model.Element("Title")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FirstName")</td>
                    <td>@Model.Element("FirstName")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("LastName")</td>
                    <td>@Model.Element("LastName")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("DateOfBirth")</td>
                    <td>@Model.Element("DateOfBirth")</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Permanent Address")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentAddressLine1")</td>
                    <td>@Model.Element("PermanentAddressLine1")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentAddressLine2")</td>
                    <td>@Model.Element("PermanentAddressLine2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentPostalCode")</td>
                    <td>@Model.Element("PermanentPostalCode")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentCity")</td>
                    <td>@Model.Element("PermanentCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PermanentCountry")</td>
                    <td>@Model.Element("PermanentCountry")</td>
                </tr>
                @Html.Partial("_InternalLogNoteV2", Model)
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="CustomerId" value="@Model.Form.CustomerId" />
<input type="hidden" id="formGuid" value="@Model.FormGuid" />
<script>

    $("#NewToIKEA").change(function () {
        var newtoikea = $('#NewToIKEA').val();
        SetGlobalHRIDStatus(newtoikea);
        SetCoWorkerIDStatus(newtoikea);
    });



    if ($('#NewToIKEA').val() == 'New Hire')    
    {
        document.getElementById('Co-WorkerID').disabled = true;
        document.getElementById('GlobalHRID').disabled = true;
    }


    function SetCoWorkerIDStatus(newtoikea)
    {
        if (newtoikea == 'New Hire') {
            document.getElementById('Co-WorkerID').disabled = true;
        }
        else
        {
            document.getElementById('Co-WorkerID').disabled = false;
        }
    };

    function SetGlobalHRIDStatus(newtoikea) {
        
        if (newtoikea == 'New Hire')
        {
            document.getElementById('GlobalHRID').disabled = true;
        }
        else if (newtoikea == 'International Transfer') {
            document.getElementById('GlobalHRID').disabled = false;
        }
        else if (newtoikea == 'Re-Hire')
        {
            document.getElementById('GlobalHRID').disabled = false;
        }
    };

</script>