@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.ConfigurableFieldModel<DateTime?>
@if (!Model.Show)
{
    return;
}

<tr>
    <td class="span3">
        @Html.FieldCaption(Model)
    </td>
    <td class="span9">
        @if (!Model.IsReadOnly)
        {
            @Html.EditorFor(m => m.Value, "DatePicker", new { id = ViewData["Id"], inputAttributes = new Dictionary<string, object> { { "data-dh-is-required", Model.IsRequired } } })
            @Html.HiddenFor(m => m.IsRequired)
            @Html.ValidationMessageFor(m => m.Value)
        }
        else
        {
            @Html.DisplayFor(m => m.Value, "Date")
        }
    </td>
</tr>
