@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.DailyReports.DailyReportModel



@{
    ViewBag.Title = "";    
}
      
<div class="secnavs fixed">
        <div class="pull-left">    
            <ul class="secnav">
                <li id="btnSave">                    
                   @Html.ActionLink(Translation.Get("Spara"), "Save", "DailyReport", new { onclick = "SaveReport();return false;", @class = "btn" })
                   @Html.HiddenFor(x => Model.InputModels)                                      
                </li>                             
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li id="DailyTab" class="active">
                    <a href="#fragment-1">@Translation.Get("Dagrapport", Enums.TranslationSource.TextTranslation) , 
                                          @System.DateTime.Now.ToShortDateString()
                    </a>
                </li>
                <li id="HistoryTab">
                    <a href="#fragment-2">@Translation.Get("Historik", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
            <div class="tab-content">                                                           
                    <div class="tab-pane tab-pane-border active" id="fragment-1">
                        @using (Html.BeginForm("Save", "DailyReport", FormMethod.Post, new { id = "dailyReport" }))
                        {
                        @Html.Partial("_DailyReportInput", Model.InputModels)                                                       
                        }
                    </div>                                                
                    <div class="tab-pane tab-pane-border" id="fragment-2">
                      @Html.Partial("_HistoryOverview", Model.HistoryModel)                                   
                        @Html.HiddenFor(x => Model.HistoryModel)
                    </div>                             
            </div>
        </div>
    </div>



<script type="text/javascript">

    $('#DailyTab').click(function (e) {
        $('#btnSave').show();
    });

    $('#HistoryTab').click(function (e) {       
        $('#btnSave').hide();
    });


    function SaveReport(e) {
        var form = $('#dailyReport').serialize();
        
        $('#dailyReport').submit();
       
        //$.post('/DailyReport/Save/', $("#dailyReport").serialize(), function (result) {

        //    });
    }

</script>