@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
 
<div class="tab-pane" id="Payment">
    <div class="span8">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2"><h4>@Model.Translate("Basic pay")</h4></td>
                    <td class="tdstrong" ><h4>@Model.Translate("Current record")</h4></td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PayrollCategory")</td>
                    <td>@Model.Element("PayrollCategory")</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BasicPayAmount")</td>
                    <td>@Model.Element("BasicPayAmount")</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BasicPayChangeReason")</td>
                    <td>@Model.Element("BasicPayChangeReason")</td>
                    <td></td>
                </tr>

                <!--ALLOWANCES-->
                <tr>
                    <td class="tdstrong" colspan="2"><h4>@Model.Translate("Allowances")</h4></td>
                    <td class="tdstrong" ><h4>@Model.Translate("Current record")</h4></td>
                </tr>
                @Html.Partial("Sections/_Allowances", Model)
                <!--ALLOWANCES END-->

                <!--DEDUCTIONS-->
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Deductions")</h4>
                    </td>
                    <td class="tdstrong" ><h4>@Model.Translate("Current record")</h4></td>
                </tr>
               @Html.Partial("Sections/_Deductions", Model)
                <!--DEDUCTIONS END-->

                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Bonus Eligibility")</h4>
                    </td>
                    <td class="tdstrong" >
                        <h4>@Model.Translate("Current record")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OneIKEABonusLevel")</td>
                    <td>@Model.Element("OneIKEABonusLevel")</td>
                    <td></td>
                </tr>
             </tbody>
        </table>
    </div>
</div>

<script>
    // Following script is for hiding global mobility class if NewToIKEA is equal to string 'International Transfer'
  

    @*document.getElementById('AllowancesValidFrom').value = '@Model.GetAnswer("ChangeValidFrom")';
        document.getElementById('DeductionsValidFrom').value = '@Model.GetAnswer("ChangeValidFrom")';
    
    var MultiNr = @FormLibConstants.FormField.MultipleEntrySectionsNr ;

    for (var i = 2; i <= MultiNr; i++)
        {
            var AllowancesValidFrom = "AllowancesValidFrom" + [i].toString();
            var DeductionsValidFrom = "DeductionsValidFrom" + [i].toString();
            document.getElementById(AllowancesValidFrom).value = '@Model.GetAnswer("ChangeValidFrom")';
            document.getElementById(DeductionsValidFrom).value = '@Model.GetAnswer("ChangeValidFrom")';
        }*@



    // setting Alolowances valid From date fields

    function setDates(id) {
        var startDate = $('#ChangeValidFrom').val();   
        var value = $('#' + id).val(startDate);
    };

    $('#AllowancesType').change(function () {

        if ($(this).val() !== "") {

            setDates('AllowancesValidFrom');
        }

        else {
            $('#AllowancesValidFrom').val("");
        }
        
    });

    $('#AllowancesType2').change(function () {

        if ($(this).val() !== "") {

            setDates('AllowancesValidFrom2');
        }

        else {
            $('#AllowancesValidFrom2').val("");
        }        
    });

    $('#AllowancesType3').change(function () {

        if ($(this).val() !== "") {

            setDates('AllowancesValidFrom3');
        }

        else {
            $('#AllowancesValidFrom3').val("");
        }
        
    });

    $('#AllowancesType4').change(function () {

        if ($(this).val() !== "") {

            setDates('AllowancesValidFrom4');
        }

        else {
            $('#AllowancesValidFrom4').val("");
        }
    });

    $('#AllowancesType5').change(function () {

        if ($(this).val() !== "") {

            setDates('AllowancesValidFrom5');
        }

        else {
            $('#AllowancesValidFrom5').val("");
        }
    });


    // setting deductions valid From date fields

    $('#DeductionsType').change(function () {

        if ($(this).val() !== "") {

            setDates('DeductionsValidFrom');
        }

        else {
            $('#DeductionsValidFrom').val("");
        }

    });

    $('#DeductionsType2').change(function () {

        if ($(this).val() !== "") {

            setDates('DeductionsValidFrom2');
        }

        else {
            $('#DeductionsValidFrom2').val("");
        }
    });

    $('#DeductionsType3').change(function () {

        if ($(this).val() !== "") {

            setDates('DeductionsValidFrom3');
        }

        else {
            $('#DeductionsValidFrom3').val("");
        }

    });

    $('#DeductionsType4').change(function () {

        if ($(this).val() !== "") {

            setDates('DeductionsValidFrom4');
        }

        else {
            $('#DeductionsValidFrom4').val("");
        }
    });

    $('#DeductionsType5').change(function () {

        if ($(this).val() !== "") {

            setDates('DeductionsValidFrom5');
        }

        else {
            $('#DeductionsValidFrom5').val("");
        }
    });

    var allowancesT = $('select[name^="AllowancesType"]');
    var deductionsT = $('select[name^="DeductionsType"]');
   
    $('#date_ChangeValidFrom').on('changeDate', function (ev) {
        if (allowancesT.length != null) {
            for (var i = 0; i < allowancesT.length; i++) {
                var item = allowancesT[i];
                var item_id = item.id;
                var fieldName = $('#' + item_id)
                if (fieldName.val() !== "")
                    fieldName.change();
            }           
        }

        if (deductionsT.length != null) {
            for (var i = 0; i < deductionsT.length; i++) {
                var item = deductionsT[i];
                var item_id = item.id;
                var fieldName = $('#' + item_id)
                if (fieldName.val() !== "")
                    fieldName.change();
            }
        }
    });

</script>