@model DH.Helpdesk.Web.Models.Inventory.EditModel.Server.GeneralFieldsModel
<table class="tableform">
    @if (Model.Name.Show
        || Model.Manufacturer.Show
        || Model.Description.Show
        || Model.Model.Show
        || Model.SerialNumber.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Server")</th>
        </tr>
    }
    @Html.EditorFor(m => m.Name, "NotReadonlyFields/Text")
    @Html.EditorFor(m => m.Manufacturer, "NotReadonlyFields/Text")
    @Html.EditorFor(m => m.Description, "NotReadonlyFields/Text")
    @Html.EditorFor(m => m.Model, "NotReadonlyFields/Text")
    @Html.EditorFor(m => m.SerialNumber, "NotReadonlyFields/Text")
</table>

