@model DH.Helpdesk.Web.Models.Inventory.EditModel.Server.OtherFieldsModel
<table class="tableform">
    @if (Model.Info.Show
        || Model.Other.Show
        || Model.URL.Show
        || Model.URL2.Show
        || Model.Owner.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Övrigt")</th>
        </tr>
    }
    @if (Model.Info.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Info.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Info.Value)
            </td>
        </tr>
    }
    @if (Model.Other.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Other.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextAreaFor(m => m.Other.Value)
            </td>
        </tr>
    }
    @if (Model.URL.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.URL.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.URL.Value)
            </td>
        </tr>
    }
    @if (Model.URL2.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.URL2.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.URL2.Value)
            </td>
        </tr>
    }
    @if (Model.Owner.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Owner.Caption)</label>
            </td>
            <td class="span9">
                @Html.TextBoxFor(m => m.Owner.Value)
            </td>
        </tr>
    }
</table>


