@using System.Text
@using DH.Helpdesk.Services.Response.Questionnaire
@using DH.Helpdesk.Web.Models.Questionnaire.Output
@model DH.Helpdesk.Web.Models.Feedback.FeedbackStatisticsViewModel
@{
    bool isAnswersExists = Model.OptionResults.Any();
}
<div class="tab-content">
    <div class="tab-pane tab-pane-border active" id="fragment-1">
        <div class="container">
            <div class="ico-right">
                @foreach (var email in Model.Emails)
                {
                    @email
                    <br />
                }
            </div>
            <h3 style="color: gray">@Model.QuestionnaireOverview.Name</h3>
            <div class="row">
                <div class="span12">
                    @Model.QuestionnaireOverview.Description
                </div>

            </div>
        </div>
    </div>

    <div class="tab-pane tab-pane-border active" id="fragment-2">
        <div class="container">

            <table class="table table-striped table-bordered table-hover">
                @foreach (var question in Model.QuestionnaireOverview.Questions)
                {
                    List<OptionResult> values = Model.OptionResults.Where(x => question.Options.Select(y => y.Id).Contains(x.OptionId)).ToList();
                    var antal = values.Sum(x => x.Count);
                    var options = question.Options.Where(x => Model.OptionResults.Select(y => y.OptionId).Contains(x.Id)).ToList();
                    var optSum = 0;
                    foreach (var option in options)
                    {
                        var optResult = values.FirstOrDefault(x => x.OptionId == option.Id);
                        var count = optResult != null ? optResult.Count : 0;
                        optSum = optSum + option.Value * count;
                    }
                    var medel = antal > 0 && optSum > 0 ? string.Format(", {0}: {1}", Translation.GetCoreTextTranslation("Medelvärde"), optSum / antal) : string.Empty;
                    <tr>
                        <td colspan="6" class="header">@question.Number. @question.Question (@Translation.GetCoreTextTranslation("Antal svar"): @antal@medel)</td>
                    </tr>

                    foreach (var option in question.Options.OrderBy(x => x.Position))
                    {
                        OptionResult result = values.FirstOrDefault(x => x.OptionId == option.Id);
                        int count = result == null ? 0 : result.Count;
                        var caseIds = result != null ? string.Join(",", result.CaseIds) : string.Empty;

                        int percent = GetPercent(count, values.Select(x => x.Count).ToList());

                        var notes = string.Empty;
                        var hiddenNote = string.Empty;
                        if (result != null)
                        {
                            notes = string.Join(Environment.NewLine + Environment.NewLine, result.Notes.Where(x => !string.IsNullOrEmpty(x.NoteText)).Select(x => x.NoteText));
                            foreach (var optionNote in result.Notes)
                            {
                                if (!string.IsNullOrEmpty(optionNote.NoteText))
                                {
                                    var str = new StringBuilder();
                                    str.Append("<div class='brdbottom'>");
                                    str.Append("<label class='toplabel'>");
                                    str.Append(optionNote.NoteText);
                                    str.Append("</label>");
                                    str.Append("<label class='case-dropdown-div'>");
                                    str.Append(decimal.Round(optionNote.CaseId));
                                    str.Append(" " + optionNote.CaseSubject);
                                    str.Append("</label><br/></div>");
                                    hiddenNote = hiddenNote + str;
                                }
                            }
                        }

                        <tr>
                            <td style="width: 40%">
                                @option.Option
                            </td>
                            @if (isAnswersExists)
                            {
                                <td style="width: 30%">
                                    <div style="background: lightblue; width: @percent%; height: 20px;">
                                    </div>
                                </td>
                            }
                            <td style="width: 10%">
                                    @if (!string.IsNullOrEmpty(caseIds))
                                    {
                                        <div class='text-right feedbackPopupCls cursor-pointer'>
                                            <input type="hidden" name="feedbackCaseIds" value="@caseIds"/>
                                            @count
                                        </div>
                                    }
                                    else
                                    {
                                        <div class='text-right'>@count</div>
                                    }
                            </td>
                            <td style="width: 10%">
                                @Translation.GetCoreTextTranslation("svar")
                            </td>
                            <td style="width: 10%">@percent%
                            </td>
                            @if (!string.IsNullOrEmpty(notes))
                            {
                                <td style="width: 5%">
                                    <div style="width: 16px;" class="qn-div-data">
                                        <a href="#" class="feedbackNote icon-comment" title="@notes"></a>
                                        @Html.Hidden("popupNote", hiddenNote)
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td style="width: 2%"></td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
<div id="divFeedbackCases" role="dialog" class="modal hide fade case-connect-to-parent" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("~/Views/Questionnaire/Feedback/_StatisticsCases.cshtml", Model)
</div>

<div id="feedback_notes_popup" role="dialog" class="modal fade" aria-labelledby="feedbNote" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5>@Translation.GetCoreTextTranslation("Kommentarer")</h5>
            </div>
            <div class="fb_content">
                <div id="fb_comment_content"></div>
            </div>
            <div class="modal-body overflow-visible">
                <div>
                    <button type="button" id="btnCancel" class="btn btn-cancel btn-default" data-dismiss="modal">@Translation.GetCoreTextTranslation("OK")</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('a.feedbackNote.icon-comment').on("click", function () {
                    var $src = $(this);
                    var parentDiv = $(this).closest('.qn-div-data');
                    var popupNote = parentDiv.find("#popupNote").val();
                    var $target = $("#feedback_notes_popup");
                    $("#fb_comment_content").html(popupNote);
                    $target.attr("data-src", $src.attr("data-src"));
                    $target.modal("show");
                });
    });
</script>
@functions 
{

    private int GetPercent(int value, List<int> values)
    {
        if (!values.Any())
        {
            return 0;
        }

        int sum = values.Sum();

        int percent = value * 100 / sum;

        return percent;
    }

}