@{
    ViewBag.Title = "About";
}

<div class="container-fluid dh-container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12">
                                    <p><img src="@Url.Content("~/Content/img/about.jpg")" /></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <p>
                                        <img src="@Url.Content("~/Content/img/ico-dhhelpdesk.png")" class="bg-purple" />
                                    </p>
                                </div>
                                <div class="col-md-9">
                                    <h5>DH Helpdesk</h5>
                                    <p>
                                        MyHR is HR Service Request Management Solution with Integrated Document Production that is custom made for IKEA and is a part of DH Solutions Case Management system DH Helpdesk.
                                    </p>
                                    <p>
                                        Version 1.3.3
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <p>
                                        <img src="@Url.Content("~/Content/img/ico-customerservice.png")" class="bg-green" />
                                    </p>
                                </div>
                                <div class="col-md-9">
                                    <h5>Support</h5>
                                    <p>
                                        Need help or support? Please contact your local system administrator.
                                    </p>
                                </div>
                            </div>
                            <!--
                    <div class="row">
                        <div class="col-md-2">
                            <p>
                                <img src="@Url.Content("~/Content/img/ico-license.png")" class="bg-blue" />
                            </p>
                        </div>
                        <div class="col-md-9">
                            <h5>Licenses</h5>
                            <p>Do you have questions regarding your licenses? Do you want add more system users?</p>
                            <p>Please contact DH Solutions.</p>
                        </div>
                    </div>
                    -->
                            <div class="row">
                                <div class="col-md-2">
                                    <p>
                                        <img src="@Url.Content("~/Content/img/ico-dhsolutions.png")" class="bg-orange" />
                                    </p>
                                </div>
                                <div class="col-md-9">
                                    <h5>DH Solutions</h5>
                                    <p>
                                        DH Solutions is a Swedish IT company that have a passion for developing user friendly systems that makes a difference for our customers.
                                    </p>
                                    <p><a href="http://www.dhsolutions.se" target="_blank">www.dhsolutions.se</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
