@model FormModel

<div class="tab-pane" id="documents">
    @if(Model.GetAnswer("DataChangeSelection").Split(',').Contains("1")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("4")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("5")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("6")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("7")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("8"))
    {
        <div class="span12">

            <table class="table-striped">
                <thead>
                    <tr>
                        <th>@Model.Translate("Document")
                        </th>
                        <th>@Model.Translate("Type")
                        </th>
                        <th>
                            @Model.Translate("Printed by")
                        </th>
                        <th>
                            @Model.Translate("Contract concluded on")
                        </th>
                        <th>&nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.GetAnswer("DataChangeSelection").Split(',').Contains("1")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("4")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("5")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("7")
            || Model.GetAnswer("DataChangeSelection").Split(',').Contains("8"))
                    {
                        <tr>
                            <td>@Model.Translate("Appendix")</td>
                            <td>pdf</td>
                            <td>@Model.GetAnswer("Appendix")</td>
                            <td>@Model.Element("AppendixConcludedOn", Model.Language, false, "concludedOn")</td>
                            <td>
                                <a href="@Url.Action("print", new { id = "Appendix", caseId = Model.Contract.Id, userId = SessionFacade.User.UserId })" class="btn pull-right print"><i class="icon-file"></i>&nbsp;@Model.Translate("Print")</a>
                            </td>
                        </tr>
                        <tr>
                            <td>@Model.Translate("Appendix Polish")</td>
                            <td>pdf</td>
                            <td>@Model.GetAnswer("AppendixPolish")</td>
                            <td>@Model.Element("AppendixPolishConcludedOn", Model.Language, false, "concludedOn")</td>
                            <td>
                                <a href="@Url.Action("print", new { id = "AppendixPolish", caseId = Model.Contract.Id, userId = SessionFacade.User.UserId })" class="btn pull-right print"><i class="icon-file"></i>&nbsp;@Model.Translate("Print")</a>
                            </td>
                        </tr>
                    }
                    @if(Model.GetAnswer("DataChangeSelection").Split(',').Contains("6"))
                    {
                        @Html.Partial("_Documents", Model)
                    }
                </tbody>
            </table>
        </div>
    }
</div>
