@model dhHelpdesk_NG.Web.Models.Projects.NewProjectScheduleEditModel
<div class="container">
    <h4>@Translation.Get("New Project Schedule", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="span12">
            <table>
                <tr>
                    <td>@Html.LabelFor(x => x.ProjectScheduleEditModel.Position)
                    </td>
                    <td>@Html.DropDownListFor(x => x.ProjectScheduleEditModel.Position, new SelectList(Model.Positions, "Value", "Text", Model.ProjectScheduleEditModel.Position))
                    </td>
                    <td>@Html.LabelFor(x => x.ProjectScheduleEditModel.Name)
                    </td>
                    <td>@Html.EditorFor(x => x.ProjectScheduleEditModel.Name)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@Html.HiddenFor(x => x.ProjectScheduleEditModel.Id)
@Html.HiddenFor(x => x.ProjectScheduleEditModel.ProjectId)
