@using dhHelpdesk_NG.Web.Models.Projects
@model UpdatedProjectScheduleEditModel
<tr>
    <td>
        <i class="icon-plus-sign project-schedule-expand-button" style="cursor: pointer"></i>
        @Html.DropDownListFor(x => x.ProjectScheduleEditModel.Position, Model.Positions)
    </td>
    <td>
        @Html.EditorFor(x => x.ProjectScheduleEditModel.Name)
    </td>
    <td>
        @Html.DropDownListFor(x => x.ProjectScheduleEditModel.UserId, Model.Users, string.Empty)
    </td>
    <td>
        @Html.EditorFor(x => x.ProjectScheduleEditModel.Time)
    </td>
    <td>
        @Html.DropDownListFor(model => model.ProjectScheduleEditModel.State, new SelectList(Enum.GetValues(typeof(ScheduleStates))), string.Empty)
    </td>
    <td>
        @Html.ActionLink(Translation.Get("Delete", Enums.TranslationSource.TextTranslation), "DeleteProjectSchedule", new { projectId = Model.ProjectScheduleEditModel.ProjectId, scheduleId = Model.ProjectScheduleEditModel.Id }, new { @class = "btn" })
    </td>
</tr>
<tr>
    <td colspan="6" class="expanded-content">
        @Html.LabelFor(x => x.ProjectScheduleEditModel.Description)
        @Html.TextAreaFor(x => x.ProjectScheduleEditModel.Description)

        @Html.LabelFor(x => x.ProjectScheduleEditModel.StartDate)
        <div class="input-append date dateie" data-date="" id="dt-start">
            @Html.EditorFor(x => x.ProjectScheduleEditModel.StartDate)<span class="add-on"><i class="icon-calendar"></i></span>
        </div>

        @Html.LabelFor(x => x.ProjectScheduleEditModel.FinishDate)
        <div class="input-append date dateie" data-date="" id="dt-finish">
            @Html.EditorFor(x => x.ProjectScheduleEditModel.FinishDate)<span class="add-on"><i class="icon-calendar"></i></span>
        </div>

        @Html.LabelFor(x => x.ProjectScheduleEditModel.CaseNumber)
        @Html.EditorFor(x => x.ProjectScheduleEditModel.CaseNumber)
    </td>
</tr>
