<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Spara"), "edit", new { customerId = Model.Customer.Id }, new { onclick = "submitForm();return false;", @class = "btn" })</li>
            <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Ta bort"), "edit", new { customerId = Model.Customer.Id }, new { onclick = "submitForm();return false;", @class = "btn" })</li>
            <li>@Html.ActionLink(Translation.GetCoreTextTranslation("Avbryt"), "edit", new { area = "admin", controller = "Customer", action = "Edit", id = Model.Customer.Id }, new { @class = "btn" })</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#subfragment-1">@Translation.GetCoreTextTranslation("Avdelning") - @Model.Customer.Name</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    @Translation.GetCoreTextTranslation("Allmänt")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Translation.GetCoreTextTranslation("Formulär")  @Translation.GetCoreTextTranslation("Namn")
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Translation.GetCoreTextTranslation("Sektionsnamn")
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Translation.GetCoreTextTranslation("Aktiv")
                                </td>
                                <td>
                                    <input type="checkbox" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Form editor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div id="fb-editor"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Components/Formbuilder/dist/form-builder.min.js"></script>
<script src="~/Components/Formbuilder/dist/form-render.min.js"></script>
<script>
    jQuery(function ($) {

        $(document.getElementById('fb-editor')).formBuilder();
    });

</script>