@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.SystemInputViewModel

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("System") - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-error">@Translation.Get("System")
                            @Translation.Get("som används går inte att ta bort")
                        </div>    
                    }
                    <h4>@Translation.Get("Allmänt")</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("System")
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.System.SystemName, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Version")
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.System.Version, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Operativsystem")
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.System.OS_Id, Model.OperatingSystem, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Brådskandegrad")
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.System.Urgency_Id, Model.Urgencies, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Leverantör")
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.System.Supplier_Id, Model.Suppliers, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Licens")
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.System.License, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Prioritet")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.System.Priority, new { style = "width:30px;", maxlength = "4" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Övrigt")
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(model => model.System.Info, new { style = "width:600px; height:125px;", maxlength = "500" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Länk dokument")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.System.DocumentPath, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.GetCoreTextTranslation("Aktiv")
                                    </td>
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="system.Status" @(Model.System.Status == 1 ? "checked=checked" : "") value="1" />
                                            <input type="hidden" name="system.Status" value="0" />
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Organisation")</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Domän")
                                    </td>
                                    <td class="span9">
                                        @Html.DropDownListFor(model => model.System.Domain_Id, Model.Domains, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Ägare")
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.System.Owner, new { maxlength = "50" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Kontakt")</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Kontakt")
                                    </td>
                                    <td class="span9">
                                        <label class="radio inline">@Html.RadioButton("optContact", 1, true, new { onclick = "changeContactView()"})  @Translation.Get("Handläggare") </label> <label class="radio inline">@Html.RadioButton("optContact", 2, new { onclick = "changeContactView()"}) @Translation.Get("Anmälare")</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Systemägare")
                                    </td>
                                    <td class="span9" id="ddlSystemOwner" style="display:block">
                                        @Html.DropDownListFor(model => model.System.SystemOwnerUser_Id, Model.Administrators, "")
                                    </td>
                                    <td class="span9" id="txtSystemOwner" style="display:none">
                                        @Html.TextBoxFor(model => model.System.SystemOwnerUserId, new { maxlength = "50" })
                                    </td>
                                </tr> 
                                <tr>
                                    <td>
                                        @Translation.Get("Systemansvarig")
                                    </td>
                                    <td id="ddlSystemResponsibleUser" style="display:block">
                                        @Html.DropDownListFor(model => model.System.SystemResponsibleUser_Id, Model.Administrators, "")
                                    </td>
                                    <td class="span9" id="txtSystemResponsibleUser" style="display:none">
                                        @Html.TextBoxFor(model => model.System.SystemResponsibleUserId, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Vice systemansvarig")
                                    </td>
                                    <td id="ddlViceSystemResponsibleUser" style="display:block">
                                        @Html.DropDownListFor(model => model.System.ViceSystemResponsibleUser_Id, Model.Administrators, "") 
                                    </td>
                                    <td class="span9" id="txtViceSystemResponsibleUser" style="display:none">
                                        @Html.TextBoxFor(model => model.System.ViceSystemResponsibleUserId, new { maxlength = "50" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h4>@Translation.Get("Övrigt")</h4>
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Namn")
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.System.ContactName, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("Telefon")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.System.ContactPhone, new { maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Translation.Get("E-post")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.System.ContactEMail, new { maxlength = "50" })
                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.System.Customer_Id)
                            @Html.HiddenFor(model => model.System.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        var validator = $("#target").validate({
            rules: {
                "System.SystemName": {
                    required: true
                },
                "System.Priority": {
                    required: true
                }
            },
            messages: {
                "System.SystemName": {
                    required: "@Translation.GetForJS("Du måste ange ett systemnamn")"
                },
                "System.Priority": {
                    required: "@Translation.GetForJS("Du måste ange en prioritet")"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });

    function changeContactView() {
       
        if (document.getElementById("optContact").checked == true) {

            document.getElementById("ddlSystemOwner").style.display = "block";
            document.getElementById("txtSystemOwner").style.display = "none";

            document.getElementById("ddlSystemResponsibleUser").style.display = "block";
            document.getElementById("txtSystemResponsibleUser").style.display = "none";

            document.getElementById("ddlViceSystemResponsibleUser").style.display = "block";
            document.getElementById("txtViceSystemResponsibleUser").style.display = "none";
            
        }
        else {
          
            document.getElementById("ddlSystemOwner").style.display = "none";
            document.getElementById("txtSystemOwner").style.display = "block";

            document.getElementById("ddlSystemResponsibleUser").style.display = "none";
            document.getElementById("txtSystemResponsibleUser").style.display = "block";

            document.getElementById("ddlViceSystemResponsibleUser").style.display = "none";
            document.getElementById("txtViceSystemResponsibleUser").style.display = "block";
           
        }
    }
</script>