@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="personal">
    <div class="span6">
        <table class="table">
            <tbody>
                
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Contact Details")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("TelephoneNumber")</td>
                    <td>@Model.Element("TelephoneNumber")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("ContactEMailAddress")</td>
                    <td>@Model.Element("ContactEMailAddress")</td>
                </tr>
                
               <!-- MAILING ADDRESS -->
                <tr class="mailingaddress" id="mailingaddress">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Mailing Address")
                        <button class="btn btn-mini pull-right" id="btnMailingAddress" data-prefix="Mailing">
                            <i class="icon-share"></i>&nbsp;@Model.Translate("Copy from Permanent Address")
                        </button>
                            </h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingAddressLine1")</td>
                    <td>@Model.Element("MailingAddressLine1")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingAddressLine2")</td>
                    <td>@Model.Element("MailingAddressLine2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingPostalCode")</td>
                    <td>@Model.Element("MailingPostalCode")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingCity")</td>
                    <td>@Model.Element("MailingCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("MailingCountry")</td>
                    <td>@Model.Element("MailingCountry")</td>
                </tr>
                
                <!-- EMERGENCY ADDRESS -->
                <tr class="emergencyaddress" id="emergencyaddress">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Emergency Address")
                        <button class="btn btn-mini pull-right" id="btnEmergencyAddress" data-prefix="Emergency">
                            <i class="icon-share"></i>&nbsp;@Model.Translate("Copy from Permanent Address")
                        </button>
                            </h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyAddressLine1")</td>
                    <td>@Model.Element("EmergencyAddressLine1")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyAddressLine2")</td>
                    <td>@Model.Element("EmergencyAddressLine2")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyPostalCode")</td>
                    <td>@Model.Element("EmergencyPostalCode")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyCity")</td>
                    <td>@Model.Element("EmergencyCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyCountry")</td>
                    <td>@Model.Element("EmergencyCountry")</td>
                </tr>
                                <tr>
                    <td class="tdstrong">@Model.Label("EmergencyContactRelationship")</td>
                    <td>@Model.Element("EmergencyContactRelationship")</td>
                </tr>
                


                <!-- FAMILY MEMBER / DEPENDENTS -->
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Family Member / Dependents")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FamilyMember")</td>
                    <td>@Model.Element("FamilyMember")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FamilyMemberLastName")</td>
                    <td>@Model.Element("FamilyMemberLastName")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FamilyMemberFirstName")</td>
                    <td>@Model.Element("FamilyMemberFirstName")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FamilyMemberGender")</td>
                    <td>@Model.Element("FamilyMemberGender")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("FamilyMemberDateOfBirth")</td>
                    <td>@Model.Element("FamilyMemberDateOfBirth")</td>
                </tr>
                
                
                  @for (int i = 2; i <= 4; i++)
                  {
                      <tr class="familyMember@(i.ToString())" id="familyMember@(i.ToString())">
                          <td class="tdstrong" colspan="2">
                              <h4>@Model.Translate("Family Member & Dependents") @i.ToString()</h4>
                          </td>
                      </tr>
                      <tr class="familyMember@(i.ToString())">
                          <td class="tdstrong">@Model.Label("FamilyMember" + i.ToString())</td>
                          <td>
                              @Model.Element("FamilyMember" + i.ToString())</td>
                      </tr>
                      <tr class="familyMember@(i.ToString())">
                          <td class="tdstrong">@Model.Label("FamilyMemberLastName" + i.ToString())</td>
                          <td>
                              @Model.Element("FamilyMemberLastName" + i.ToString())</td>
                      </tr>
                      <tr class="familyMember@(i.ToString())">
                          <td class="tdstrong">@Model.Label("FamilyMemberFirstName" + i.ToString())</td>
                          <td>
                              @Model.Element("FamilyMemberFirstName" + i.ToString())</td>
                      </tr>
                      <tr class="familyMember@(i.ToString())">
                          <td class="tdstrong">@Model.Label("FamilyMemberGender" + i.ToString())</td>
                          <td>
                              @Model.Element("FamilyMemberGender" + i.ToString())</td>
                      </tr>
                      <tr class="familyMember@(i.ToString())">
                          <td class="tdstrong">@Model.Label("FamilyMemberDateOfBirth" + i.ToString())</td>
                          <td>
                              @Model.Element("FamilyMemberDateOfBirth" + i.ToString())</td>
                      </tr>
                  }
                
                <tr id="addFamilyMemberTr">
                    <td colspan="2">
                        @Model.Element("FamilyMembers")
                        <a id="addFamilyMember" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another family member")</a></td>
                </tr>
                

                

                
                <!-- Global Mobility Employee Documents -->
                <tr class="globalmobility">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Global Mobility - Employee Documents")</h4>
                    </td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("EmployeeDocumentType")</td>
                    <td>@Model.Element("EmployeeDocumentType")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("EmployeeDocumentCountry")</td>
                    <td>@Model.Element("EmployeeDocumentCountry")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("EmployeeDocumentNo")</td>
                    <td>@Model.Element("EmployeeDocumentNo")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("EmployeeDocumentIssueDate")</td>
                    <td>@Model.Element("EmployeeDocumentIssueDate")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("EmployeeDocumentIssuePlace")</td>
                    <td>@Model.Element("EmployeeDocumentIssuePlace")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("EmployeeDocumentIssuePlaceCountry")</td>
                    <td>@Model.Element("EmployeeDocumentIssuePlaceCountry")</td>
                </tr>
                
                <!-- Global Mobility Dependants -->
                <tr class="globalmobility">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Global Mobility - Dependants")</h4>
                    </td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantFamilyMember")</td>
                    <td>@Model.Element("DependantFamilyMember")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("Accompanying")</td>
                    <td>@Model.Element("Accompanying")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsLastName")</td>
                    <td>@Model.Element("DependantsLastName")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsFirstName")</td>
                    <td>@Model.Element("DependantsFirstName")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsDateOfBirth")</td>
                    <td>@Model.Element("DependantsDateOfBirth")</td>
                </tr>
                
                
                
                <!-- Global Mobility Dependants Documents -->
                <tr class="globalmobility">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Global Mobility - Dependants Documents")</h4>
                    </td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsDocumentType")</td>
                    <td>@Model.Element("DependantsDocumentType")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsDocumentCountry")</td>
                    <td>@Model.Element("DependantsDocumentCountry")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsDocumentNo")</td>
                    <td>@Model.Element("DependantsDocumentNo")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsDocumentIssueDate")</td>
                    <td>@Model.Element("DependantsDocumentIssueDate")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsDocumentIssuePlace")</td>
                    <td>@Model.Element("DependantsDocumentIssuePlace")</td>
                </tr>
                <tr class="globalmobility">
                    <td class="tdstrong">@Model.Label("DependantsDocumentIssuePlaceCountry")</td>
                    <td>@Model.Element("DependantsDocumentIssuePlaceCountry")</td>
                </tr>
                
            </tbody>
        </table>
    </div>
      <div class="span6">
        <table class="table">
            <tbody>
                <!-- Bank Account Details -->
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Bank Account Details")</h4>
                    </td>
                </tr>
@*                <tr>
                    <td class="tdstrong">@Model.Label("BankType")</td>
                    <td>@Model.Element("BankType")</td>
                </tr>*@
                <tr>
                    <td class="tdstrong">@Model.Label("Payee")</td>
                    <td>@Model.Element("Payee")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BankCountry")</td>
                    <td>@Model.Element("BankCountry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BankKey")</td>
                    <td>@Model.Element("BankKey")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("AccountNumber")</td>
                    <td>@Model.Element("AccountNumber")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("IBAN")</td>
                    <td>@Model.Element("IBAN")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("PaymentCurrency")</td>
                    <td>@Model.Element("PaymentCurrency")</td>
                </tr>

@*                <tr class="SecondBank">
                    <td class="tdstrong">@Model.Label("BankType2")</td>
                    <td>@Model.Element("BankType2")</td>
                </tr>*@
                <tr class="SecondBank">
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Second Bank Account Details")</h4>
                    </td>
                </tr>
                <tr class="SecondBank">
                    <td class="tdstrong">@Model.Label("Payee2")</td>
                    <td>@Model.Element("Payee2")</td>
                </tr>
                <tr class="SecondBank">
                    <td class="tdstrong">@Model.Label("BankCountry2")</td>
                    <td>@Model.Element("BankCountry2")</td>
                </tr>
                <tr class="SecondBank">
                    <td class="tdstrong">@Model.Label("BankKey2")</td>
                    <td>@Model.Element("BankKey2")</td>
                </tr>
                <tr class="SecondBank">
                    <td class="tdstrong">@Model.Label("AccountNumber2")</td>
                    <td>@Model.Element("AccountNumber2")</td>
                </tr>
                <tr class="SecondBank">
                    <td class="tdstrong">@Model.Label("IBAN2")</td>
                    <td>@Model.Element("IBAN2")</td>
                </tr>
                <tr class="SecondBank">
                    <td class="tdstrong">@Model.Label("PaymentCurrency2")</td>
                    <td>@Model.Element("PaymentCurrency2")</td>
                </tr>

                

                <tr id="addBankButton">
                    <td colspan="2">
                        <a id="addBank" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another Bank")</a></td>
                </tr>





                <tr>
                    <td class="tdstrong">@Model.Label("OtherBankPercentageOrAmount")</td>
                    <td>@Model.Element("OtherBankPercentageOrAmount")</td>
                </tr>
                
                <!-- FISCAL DATA AND SOCIAL INSURANCE -->
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Fiscal Data")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Social Insurance")</h4>
                    </td>
                </tr>
                
              
                <!-- Nationality / Language -->
                
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Nationality / Language")</h4>
                    </td>
                </tr>  
                <tr>
                    <td class="tdstrong">@Model.Label("Nationality")</td>
                    <td>@Model.Element("Nationality")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Language")</td>
                    <td>@Model.Element("Language")</td>
                </tr>
                
                <!-- Education -->
                
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Education")</h4>
                    </td>
                </tr>  
                <tr>
                    <td class="tdstrong">@Model.Label("EducationalEstablishment")</td>
                    <td>@Model.Element("EducationalEstablishment")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("InstituteLocation")</td>
                    <td>@Model.Element("InstituteLocation")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Certificate")</td>
                    <td>@Model.Element("Certificate")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("DurationOfCourse")</td>
                    <td>@Model.Element("DurationOfCourse")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("BranchOfStudy")</td>
                    <td>@Model.Element("BranchOfStudy")</td>
                </tr>
                
                @for (int i = 2; i <= 4; i++)
                  {
                      <tr class="education@(i.ToString())" id="education@(i.ToString())">
                          <td class="tdstrong" colspan="2">
                              <h4>@Model.Translate("Education") @i.ToString()</h4>
                          </td>
                      </tr>
                      <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("EducationalEstablishment" + i.ToString())</td>
                          <td>
                              @Model.Element("EducationalEstablishment" + i.ToString())</td>
                      </tr>
                    
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("InstituteLocation" + i.ToString())</td>
                          <td>
                              @Model.Element("InstituteLocation" + i.ToString())</td>
                      </tr>
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("Certificate" + i.ToString())</td>
                          <td>
                              @Model.Element("Certificate" + i.ToString())</td>
                      </tr>
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("DurationOfCourse" + i.ToString())</td>
                          <td>
                              @Model.Element("DurationOfCourse" + i.ToString())</td>
                      </tr>
                    <tr class="education@(i.ToString())">
                          <td class="tdstrong">@Model.Label("BranchOfStudy" + i.ToString())</td>
                          <td>
                              @Model.Element("BranchOfStudy" + i.ToString())</td>
                      </tr>
                }
                <tr id="addEducationTr">
                    <td colspan="2">
                        @Model.Element("Educations")
                        <a id="addEducation" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another education")</a></td>
                </tr>

                
                <!-- Other / Previous employers -->
                
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Other / Previous employers")</h4>
                    </td>
                </tr>  
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployer")</td>
                    <td>@Model.Element("OtherPreviousEmployer")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerCity")</td>
                    <td>@Model.Element("OtherPreviousEmployerCity")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerCountry")</td>
                    <td>@Model.Element("OtherPreviousEmployerCountry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerIndustry")</td>
                    <td>@Model.Element("OtherPreviousEmployerIndustry")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerJob")</td>
                    <td>@Model.Element("OtherPreviousEmployerJob")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("OtherPreviousEmployerWorkContract")</td>
                    <td>@Model.Element("OtherPreviousEmployerWorkContract")</td>
                </tr>

                @for (int i = 2; i <= 4; i++)
                  {
                      <tr class="otherpreviousemployers@(i.ToString())" id="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong" colspan="2">
                              <h4>@Model.Translate("Other / Previous Employers") @i.ToString()</h4>
                          </td>
                      </tr>
                      <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployer" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployer" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerCity" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerCity" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerCountry" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerCountry" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerIndustry" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerIndustry" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerJob" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerJob" + i.ToString())</td>
                      </tr>
                    <tr class="otherpreviousemployers@(i.ToString())">
                          <td class="tdstrong">@Model.Label("OtherPreviousEmployerWorkContract" + i.ToString())</td>
                          <td>
                              @Model.Element("OtherPreviousEmployerWorkContract" + i.ToString())</td>
                      </tr>
                }
                <tr id="addOtherPreviousEmployersTr">
                    <td colspan="2">
                        @Model.Element("OtherPreviousEmployers")
                        <a id="addOtherPreviousEmployers" class="btn btn-link btn-mini pull-right">@Model.Translate("Add another previous employer")</a></td>
                </tr>

           </tbody>
        </table>
    </div>
</div>

<script>
    // Following script is for hiding global mobility class if NewToIKEA is equal to string 'International Transfer'
    if ('@Model.GetAnswer("NewToIKEA")' == 'New Hire') {

        $(".globalmobility").hide();


    }

    
    if (!('@Model.GetAnswer("IBAN2")' === "")) {
        $(".SecondBank").show();
        $("#addBankButton").hide();
    }
    else {
        $(".SecondBank").hide();
    }

    document.getElementById('addBank').onclick = function () {
        $(".SecondBank").show();
        $("#addBankButton").hide();

    };
    

    document.getElementById('Payee').value = '@Model.GetAnswer("FirstName") @Model.GetAnswer("LastName")';
    document.getElementById('Payee2').value = '@Model.GetAnswer("FirstName") @Model.GetAnswer("LastName")';

</script>