@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="globalview">
    <div class="span12">
        <div class="well">
            <p>@Model.Element("SubmittedToExternalBody")</p>
        </div>
        <table class="table-striped table-gv">
            <thead>
                <tr>
                    <th>@Model.Translate("Label")</th>
                    <th>@Model.Translate("Value")</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdstrong globalview" colspan="3">
                        @Model.Translate("Basic Data")
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmployeeNumber")</td>
                    <td class="copy-me">@Model.GetTranslatedAnswer("EmployeeNumber")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Prefix")</td>
                    <td class="copy-me">@Model.GetTranslatedAnswer("Prefix")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmployeeFirstName")</td>
                    <td class="copy-me">@Model.GetTranslatedAnswer("EmployeeFirstName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EmployeeLastName")</td>
                    <td class="copy-me">@Model.GetTranslatedAnswer("EmployeeLastName")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EffectiveDate")</td>
                    <td class="copy-me">@Model.GetTranslatedAnswer("EffectiveDate")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("EndDate")</td>
                    <td class="copy-me">@Model.GetTranslatedAnswer("EndDate")</td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                        </div>
                    </td>
                </tr>
                @foreach(var value in Model.GetAnswer("DataChangeSelection").Split(','))
                {
                    if(value == "")
                    {
                        continue;
                    }
                    
                    var nodes = Model.GetDataChangeFields(value);
                    var header = Model.GetDataChangeSectionName(value);
                  
                    <tr>
                        <td class="tdstrong globalview" colspan="3">
                            @Model.Translate(header)
                        </td>
                    </tr>            
                    foreach(var node in nodes)
                    {
                    <tr>
                        <td class="tdstrong">@Model.Label(node)</td>
                        <td class="copy-me">@Model.GetTranslatedAnswer(node)</td>
                        <td>
                            <div class="pull-right">
                                <button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.Translate("Select")</button>
                            </div>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
