@model dhHelpdesk_NG.Web.Areas.Admin.Models.ChangeImplementationStatusInputViewModel
@if (TempData["Error"] != null)
{
    <div class="alert alert-error">@Translation.Get("Implementeringsstatus", Enums.TranslationSource.TextTranslation)
        @Translation.Get("som används går inte att ta bort", Enums.TranslationSource.TextTranslation)
    </div>    
}
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Implementeringsstatus", Enums.TranslationSource.TextTranslation) - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Implementeringsstatus", Enums.TranslationSource.TextTranslation)
                                    </td>
                                    <td class="span9">
                                        @Html.TextBoxFor(model => model.ChangeImplementationStatus.Name, new { maxlength = "50" })
                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.ChangeImplementationStatus.Customer_Id)
                            @Html.HiddenFor(model => model.ChangeImplementationStatus.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

