@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
<div class="tab-pane" id="SSCUseOnly">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong">@Model.Label("Co-workerIDSSCUSE")</td>
                    <td>@Model.Element("Co-workerIDSSCUSE")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Annualleaveprorata")</td>
                    <td>@Model.Element("Annualleaveprorata")</td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("Annualleaveentitlement")</td>
                    <td>@Model.Element("Annualleaveentitlement")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>