@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    ViewBag.Title = Model.Translate("South Korea") + " - " + Model.Translate("Service Request Details");
    var url = Url.CurrentController() + "typeahead";
}

@section Script {
    <script type="text/javascript">

        //$(function () {
        //validate.run(20);
        //});

        $(document).on('click', '#btnHomeAddress, #btnEmergencyAddress, #btnHomeAddressEN', function (e) {
            e.preventDefault();

            var prefix = $(this).attr('data-prefix');
            document.getElementById(prefix + "Addressline1").value = document.getElementById('PermanentAddressline1').value;
            document.getElementById(prefix + "Addressline2").value = document.getElementById('PermanentAddressline2').value;

            document.getElementById(prefix + "PostalCode").value = document.getElementById('PermanentPostalcode').value;
            document.getElementById(prefix + "City").value = document.getElementById('PermanentCity').value;
            document.getElementById(prefix + "Country").value = document.getElementById('PermanentCountry').value;
            document.getElementById(prefix + "Telephone").value = document.getElementById('PermanentTelephone').value;

        });

        validate.run($('#actionState').val());

        $(document).on('change', '#actionState', function (e) {
            var val = $(this).val();
            validate.run(val);
        });

    </script>

    @Html.Partial("_Validate", Model)
}
@using(Html.BeginForm("new", "Hiring", FormMethod.Post, new { area = "SouthKorea", novalidate = "novalidate" }))
{
    <span style="display: none;" id="narrowDownInit" url="@url"></span>
    @Html.Partial("_GlobalNavRev", Model)
    <div class="container containeralignright">
        @Html.Partial("_CurrentUser")
        @Html.Partial("_ErrorMessage", Model)
        <ul class="nav nav-tabs">
            @if(Model.VisibleTab("#ServiceRequestDetails"))
            {
                <li class="active @(Model.TabHasError("#ServiceRequestDetails") ? "error" : "")">
                    <a href="#ServiceRequestDetails">@Model.Translate("Service Request Details")</a></li>
            }
            @if(Model.VisibleTab("#OrganisationalAssignment"))
            {
                <li class="@(Model.TabHasError("#OrganisationalAssignment") ? "error" : "")">
                    <a href="#OrganisationalAssignment">@Model.Translate("Organisational Assignment")</a></li>
            }
            @if(Model.VisibleTab("#Payment"))
            {
                <li class="@(Model.TabHasError("#Payment") ? "error" : "")">
                    <a href="#Payment">@Model.Translate("Payment Information")</a></li>
            }
            @if(Model.VisibleTab("#Personal"))
            {
                <li class="@(Model.TabHasError("#Personal") ? "error" : "")">
                    <a href="#Personal">@Model.Translate("Personal Information")</a></li>
            }
            @if(Model.VisibleTab("#SSCUseOnly"))
            {
                <li class="@(Model.TabHasError("#SSCUseOnly") ? "error" : "")">
                    <a href="#SSCUseOnly">@Model.Translate("SSC use only")</a></li>
            }
            @if(Model.VisibleTab("#SocialInsuranceAndTax"))
            {
                <li class="@(Model.TabHasError("#SocialInsuranceAndTax") ? "error" : "")">
                    <a href="#SocialInsuranceAndTax">@Model.Translate("Social Insurance and Tax")</a></li>
            }
            @if(Model.VisibleTab("#attachments"))
            {
                <li class="pull-right">
                    <a href="#attachments"><i class="icon-file icon-white"></i>&nbsp;@Model.Translate("Attachments")&nbsp;(<b id="attachmentCounter">0</b>)</a>
                </li>
            }
        </ul>
        <div class="content">
            <div class="row-fluid">
                <div class="tab-content overflow-visible">
                    @if(Model.VisibleTab("#ServiceRequestDetails"))
                    {
                        @Html.Partial("_TabServiceRequestDetails", Model)
                    }
                    @if(Model.VisibleTab("#OrganisationalAssignment"))
                    {
                        @Html.Partial("_TabOrganisationalAssignment", Model)
                    }
                    @if(Model.VisibleTab("#Payment"))
                    {
                        @Html.Partial("_TabPayment", Model)
                    }
                    @if(Model.VisibleTab("#Personal"))
                    {
                        @Html.Partial("_TabPersonal", Model)
                    }
                    @if(Model.VisibleTab("#SSCUseOnly"))
                    {
                        @Html.Partial("_TabSsc", Model)
                    }
                    @if(Model.VisibleTab("#SocialInsuranceAndTax"))
                    {
                        @Html.Partial("_TabSocialInsuranceAndTax", Model)
                    }
                    @if(Model.VisibleTab("#attachments"))
                    {
                        @Html.Partial("_GlobalAttachments", Model)
                    }
                    @Html.Partial("_TabHiringJS", Model)
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="activeTab" name="activeTab" value="@Model.ActiveTab" />    
}


