@model DH.Helpdesk.Mobile.Models.Case.CaseInputViewModel 
@using DH.Helpdesk.BusinessData.Models.Changes.Output
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Mobile.Infrastructure

@if (Model != null && Model.Logs != null)
{    
    <div id="logtab">
            @if (Model.Logs.Any())
            {            
                @*<thead>
                    <tr>
                        <th>@Translation.Get("Datum", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get("Registrerad av", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get(GlobalEnums.TranslationCaseFields.tblLog_Text_External.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) </th>
                        <th>@Translation.Get(GlobalEnums.TranslationCaseFields.tblLog_Text_Internal.ToString(), Enums.TranslationSource.CaseTranslation, Model.case_.Customer_Id) </th>
                        <th>@Translation.Get("E-post", Enums.TranslationSource.TextTranslation)</th>
                        <th>@Translation.Get("Filer", Enums.TranslationSource.TextTranslation)</th>
                    </tr>
                </thead>*@
                <ul>
                @foreach (var r in Model.Logs)
                {
                    
                        <li>
                            <a href="@GetLogLink(r)">@Html.DisplayFor(m => r.LogDate, "DateAndTime") </a>
                            <br />
                            <a href="@GetLogLink(r)">@(r.User == null ? r.RegUser : r.User.FirstName + " " + r.User.SurName)</a>
                            <br />
                            <a href="@GetLogLink(r)">@r.TextExternal.ForHtmlView()</a> <a href="@GetLogLink(r)">@r.TextInternal.ForHtmlView()</a>
                            <br />
                            @if (r.CaseHistory != null)
                            {
                                if (r.CaseHistory.Emaillogs != null)
                                {                                        
                                    foreach (var l in r.CaseHistory.Emaillogs)      
                                    {                                            
                                    <div>
                                        <p>
                                            @l.EmailAddress 
                                        </p>
                                    </div>
                                    }                                    
                                }                                        
                            }
                        <br />
                            @if (r.LogFiles != null)
                            {
                                foreach (var l in r.LogFiles)      
                                {                                            
                                <div>
                                    <p>
                                        <a href="@Url.Action("DownloadLogFile", new { id = r.Id, fileName = l.FileName })">@l.FileName</a>
                                    </p>
                                </div>
                                }                                    
                            }
                        </li>
                }
                </ul>
            }    
    </div>
}

@functions 
{

    private string GetLogLink(DH.Helpdesk.BusinessData.Models.Logs.Output.LogOverview log)
    {
        if (log.ProblemId.HasValue)
        {
            return Url.Action("Problem", "Problems", new { id = log.ProblemId.Value });
        }
        return Url.Action("editlog", "cases", new { area = "", id = log.Id, customerId = Model.case_.Customer_Id });
    }
    

}