@model DH.Helpdesk.Mobile.Models.Case.CaseInputViewModel
@using DH.Helpdesk.Mobile.Infrastructure
@using DH.Helpdesk.BusinessData.OldComponents

@section Scripts {
<script type="text/javascript">

     $(document).ready(function () {
         CaseInitForm();
     });

</script>
}
<div data-role="page">
@Html.Partial("_Plupload")

@if (Html.MasterModel() != null && SessionFacade.CurrentUser != null && Model != null)
{
    using (Html.BeginForm("edit", "cases", null, FormMethod.Post, new { id = "target" }))
    {    
    
    
    @Html.Partial("_Input", Model)
    }
    <div id="divMoveCase" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true" >
        @Html.Partial("_MoveCase", Model)
    </div>    
    <div id="divRelatedCases" role="dialog" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true" >
        @Html.Partial("_RelatedCases", Model)
    </div> 
    <div data-role="footer" data-position="fixed">
        <div class="pull-left"> 
            <ul class="secnav">
                @if (Model.EditMode == Enums.AccessMode.FullAccess)
                {
                    @*<li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), null, null, null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>*@
                    <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), null, null, new { onclick = "EditCaseAndClose();return false;", @class = "ui-btn ui-corner-all" })</li>
                    @*<li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation) + "/" + Translation.Get("Nytt ärende", Enums.TranslationSource.TextTranslation), null, null, new { onclick = "EditCaseAndAddCase();return false;", @class = "btn" })</li>*@
                    
                    @*
                    if (SessionFacade.CurrentUser.DeleteCasePermission == 1)
                    {                            
                        <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "DeleteCase", new { caseId = @Model.case_.Id, customerId = @Model.case_.Customer_Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("är du säker pе att du vill ta bort aktuellt ärende", Enums.TranslationSource.TextTranslation) })</li>
                    }*@
                }
                <li>@Html.ActionLink(Translation.Get("Stäng", Enums.TranslationSource.TextTranslation), "Index", new { customerId = @Model.case_.Customer_Id }, new { @class = "ui-btn ui-corner-all" })</li>                    
            </ul>
        </div>
    </div>      
}

</div>