@model DH.Helpdesk.Mobile.Models.Case.CaseInputViewModel
@using DH.Helpdesk.BusinessData.OldComponents
@using DH.Helpdesk.Mobile.Infrastructure

@section Scripts {
<script type="text/javascript">

    $(document).ready(function() {
        CaseInitForm();
    });
    
</script>
}
<div data-role="page">
@Html.Partial("_Plupload")

@if (Model != null)
{
    using (Html.BeginForm("new", "cases", null, FormMethod.Post, new { id = "target" }))
    { 
     @Html.Partial("_Input", Model)
    <div data-role="footer" data-position="fixed">       
    
            <ul class="secnav">                
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), null, null, null, new { onclick = "NewCaseAndClose();return false;", @class = "btn" })</li>                
                <li>@Html.ActionLink(Translation.Get("Stäng", Enums.TranslationSource.TextTranslation), "index", new { customerId = @Model.case_.Customer_Id }, new { @class = "btn" })</li>
            </ul>
        
    </div>
    
    }
}
</div>
