@{
    Layout = Model.IsForDialog ? "~/Views/Shared/_PopupLayout.cshtml" : "~/Views/Shared/_Layout.cshtml"; 
}

@RenderSection("Scripts", false)
<div class="secnavs fixed" style="@(Model.IsForDialog ? "top: 0" : "")">
    <div class="pull-left">
        @RenderSection("Actions", false)
    </div>
</div>
<div class="content" style="@(Model.IsForDialog ? "margin-top: 50px" : "")">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#mainTab">
                    @RenderSection("Title", false)
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="mainTab">
                <div class="container">
                    @RenderSection("Content", false)
                </div>
            </div>
        </div>
    </div>
</div>
