@using DH.Helpdesk.Web.Areas.Inventory.Models
@using DH.Helpdesk.Web.Infrastructure

@model IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @functions {
    private MvcHtmlString GetIsActive(Tabs tab)
    {
        return MvcHtmlString.Create(Model.Tab == tab ? "active" : null);
    }
 }

<div class="secnavs fixed">
    <div class="pull-left">
        @RenderSection("Actions", false)
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs nav-tabs-actions">
            <li class="@GetIsActive(Tabs.Inventory)">
                @Html.ActionLink(Translation.Get("Inventarier"), "Index", "Workstation")
            </li>
            <li class="@GetIsActive(Tabs.Settings)">
                @Html.ActionLink(Translation.Get("Inventarietyp"), "Index", "InventorySettings")
            </li>
            <li class="@GetIsActive(Tabs.Reports)">
                @Html.ActionLink(Translation.Get("Rapporter"), "Index", "OperatingSystemReport")
            </li>
            <li class="@GetIsActive(Tabs.MasterData)">
                @Html.ActionLink(Translation.Get("Grunddata"), "Index", "Processor")
            </li>
        </ul>
        <div class="tab-content overflow-visible">
            <div class="tab-pane tab-pane-border active">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@RenderSection("Scripts", false)