@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.ComputerModalViewModel
@{
    const string Hotfix = "Hotfix";
}

<script>
    $(function () {
        window.onInfoSavedSuccessfully = function () {
            $().toastmessage('showToast', {
                text: '@Translation.GetForJS("Info saved successfully.")',
                sticky: false,
                position: 'top-center',
                type: 'success',
                stayTime: 3000,
                inEffectDuration: 1000
            });
        };

        $('#computer_short_info_select_div').dialog({
            autoOpen: false,
            modal: false,
            resizable: false,
            resizeable: false,
            maxWidth: 1200,
            maxHeight: 500,
            width: 1200,
            height: 500,
        });

        $('#save_info_button').click(function () {
            var value = $("#dialog_info_text_area").val();
            $.post('@Url.Action("EditComputerInfo")', { id: '@Model.ComputerShortOverview.Id', info: value }, function () { onInfoSavedSuccessfully(); });
        });

    });
</script>

<div id="computer_short_info_select_div" title="@Translation.Get("Inventarie")">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#modal_fragment-1" data-toggle="tab">@Translation.Get("Arbetsstation")</a>
            </li>
            <li>
                <a href="#modal_fragment-2" data-toggle="tab">@Translation.Get("Lagring")</a>
            </li>
            <li>
                <a href="#modal_fragment-3" data-toggle="tab">@Translation.Get("Program")</a>
            </li>
            <li>
                <a href="#modal_fragment-4" data-toggle="tab">@Translation.Get("Hotfix")</a>
            </li>
            <li>
                <a href="#modal_fragment-5" data-toggle="tab">@Translation.Get("Logg")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="modal_fragment-1">
                <table class="tableform">
                    @if (Model.Settings.NameFieldSetting.IsShow || Model.Settings.ManufacturerFieldSetting.IsShow || Model.Settings.ComputerModelFieldSetting.IsShow || Model.Settings.SerialNumberFieldSetting.IsShow || Model.Settings.BiosVersionFieldSetting.IsShow || Model.Settings.BiosDateFieldSetting.IsShow)
                    {
                        <tr>
                            <th colspan="2" class="header">@Translation.Get("Hårdvara")</th>
                        </tr>
                    }
                    @if (Model.Settings.NameFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.NameFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.ComputerName)</td>
                        </tr>
                    }
                    @if (Model.Settings.ManufacturerFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.ManufacturerFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.Manufacturer)</td>
                        </tr>
                    }
                    @if (Model.Settings.ComputerModelFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.ComputerModelFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.ComputerModelName)</td>
                        </tr>
                    }
                    @if (Model.Settings.SerialNumberFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.SerialNumberFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.SerialNumber)</td>
                        </tr>
                    }
                    @if (Model.Settings.BiosVersionFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.BiosVersionFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.BIOSVersion)</td>
                        </tr>
                    }
                    @if (Model.Settings.BiosDateFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.BiosDateFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.BIOSDate)</td>
                        </tr>
                    }
                    @if (Model.Settings.OperatingSystemFieldSetting.IsShow
                         || Model.Settings.ServicePackFieldSetting.IsShow)
                    {
                        <tr>
                            <th colspan="2" class="header">@Translation.Get("Operativsystem")</th>
                        </tr>
                    }
                    @if (Model.Settings.OperatingSystemFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.OperatingSystemFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.OperatingSystemName)</td>
                        </tr>
                    }
                    @if (Model.Settings.ServicePackFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.ServicePackFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.ServicePack)</td>
                        </tr>
                    }
                    @if (Model.Settings.ProcessorFieldSetting.IsShow)
                    {
                        <tr>
                            <th colspan="2" class="header">@Translation.Get("Processor")</th>
                        </tr>
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.ProcessorFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.ProccesorName)</td>
                        </tr>
                    }
                    @if (Model.Settings.MemoryFieldSetting.IsShow)
                    {
                        <tr>
                            <th colspan="2" class="header">@Translation.Get("Minne")</th>
                        </tr>
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.MemoryFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.RAMName)</td>
                        </tr>
                    }
                    @if (Model.Settings.NicFieldSetting.IsShow
                         || Model.Settings.IpAddressFieldSetting.IsShow
                         || Model.Settings.MacAddressFieldSetting.IsShow
                         || Model.Settings.RasFieldSetting.IsShow)
                    {
                        <tr>
                            <th colspan="2" class="header">@Translation.Get("Kommunikation")</th>
                        </tr>
                    }
                    @if (Model.Settings.NicFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.NicFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.NetworkAdapterName)</td>
                        </tr>
                    }
                    @if (Model.Settings.IpAddressFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.IpAddressFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.IPAddress)</td>
                        </tr>
                    }
                    @if (Model.Settings.MacAddressFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.MacAddressFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.MacAddress)</td>
                        </tr>
                    }
                    @if (Model.Settings.RasFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.RasFieldSetting.Caption)</td>
                            <td>@Html.DisplayFor(m => m.ComputerShortOverview.RAS)</td>
                        </tr>
                    }
                    @if (Model.Settings.InfoFieldSetting.IsShow)
                    {
                        <tr>
                            <td class="span3">@Translation.Get(Model.Settings.InfoFieldSetting.Caption)</td>
                            <td>
                                @Html.TextAreaFor(m => m.ComputerShortOverview.Info, new { id = "dialog_info_text_area" })
                            </td>
                            <td>
                                <input type="submit" value="@Translation.Get("Spara")" class="btn" id="save_info_button" /></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="tab-pane tab-pane-border" id="modal_fragment-2">
                @Html.Partial("StorageGrid", Model.LogicalDrives)
            </div>
            <div class="tab-pane tab-pane-border" id="modal_fragment-3">
                @Html.Partial("SoftwareGrid", Model.Softwaries.Where(x => !x.Name.Contains(Hotfix)).OrderBy(x => x.Name).ToList())
            </div>
            <div class="tab-pane tab-pane-border" id="modal_fragment-4">
                @{
                    List<string> models = Model.Softwaries.Where(x => x.Name.Contains(Hotfix)).Select(x => x.Name).OrderBy(x => x).ToList();

                    @Html.Partial("HotFixesGrid", models)
                }
            </div>
            <div class="tab-pane tab-pane-border" id="modal_fragment-5">
                @Html.Partial("LogGrid", Model.ComputerLogs)
            </div>
        </div>
    </div>
</div>
