@using DH.Helpdesk.Web.Infrastructure
@model List<DH.Helpdesk.BusinessData.Models.Inventory.Output.ComputerLogOverview>

@{    
    var userPermission = false;
    var isForDialog = false;
    string userId = null;
    if (ViewData.Keys.Contains("InventoryAdminPermission"))
    {
        userPermission = (bool)ViewData["InventoryAdminPermission"];
    }
    if (ViewData.Keys.Contains("IsForDialog"))
    {
        isForDialog = (bool)ViewData["IsForDialog"];
    }
    if (ViewData.Keys.Contains("UserId"))
    {
        userId = (string)ViewData["UserId"];
    }
 }
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Datum")
            </th>
            <th>@Translation.Get("Registrerad av")
            </th>
            <th>@Translation.Get("Text")
            </th>
            <th style="width:100px;">@Translation.Get(" ")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.CreatedDate, "Date")
                </td>
                <td>@Html.DisplayFor(x => item.CreatedByUser.FirstName) @Html.DisplayFor(x => item.CreatedByUser.LastName)
                </td>
                <td>@Html.DisplayFor(x => item.ComputerLogText)
                </td>
                <td>
                    @if (userPermission)
                    {
                        @Html.ActionLink(Translation.Get("Ta bort"), "DeleteComputerLog", new { logId = item.Id, computerId = item.ComputerId, dialog = isForDialog, userId }, new { @class = "btn" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
