@using System.Web.Optimization
@using DH.Helpdesk.Web
@model DH.Helpdesk.Web.Areas.Inventory.Models.RelatedCasesModel

<div>
    <div class="container">
        <div class="tab-content overflow-visible">
            <div class="tab-pane tab-pane-border active" id="mainTab">
                @Html.HiddenFor(m => m.InventoryId, new { id = "relatedCasesInvId" })
                @Html.HiddenFor(m => m.InventoryType, new { id = "relatedCasesInvType" })
                <input type="hidden" value="@Model.SortBy" id="hidSortBy" name="hidSortBy"/>
                <input type="hidden" value="@Model.SortByAsc" id="hidSortByAsc" name="hidSortByAsc"/>
                <div class="container" id="search_result">
                    @Html.Partial("_CaseRows", Model.SearchResult)
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render(BundleConfig.ScriptNames.InventoryRelatedCases)
