@model DH.Helpdesk.Web.Areas.Inventory.Models.SearchModels.ReportsSearchViewModel
@using DH.Helpdesk.Web.Enums.Inventory
@using DH.Helpdesk.Web.Infrastructure
@{
    const int ServerId = (int)@ReportDataTypes.Server;
}

<script>
    $(function () {

        $('input[name="Show"]').click(function () {
            var selected = $(this).val();

            if (selected == '@ServerId') {
                $('#departments_tr').hide();
                $('#departments_tr input').disable = true;
            } else {
                $('#departments_tr').show();
                $('#departments_tr input').disable = false;
            }
        });

    });
</script>

@using (Ajax.BeginForm("ReportsGrid", null, new AjaxOptions { UpdateTargetId = "report_grid_container" }, new { id = "report_search_form" }))
{
    <table class="tableform">
        <tr id="departments_tr">
            <td class="span3">@Translation.Get("Avdelning")</td>
            <td>@Html.DropDownListFor(m => m.Filter.DepartmentId, Model.Departments, string.Empty, new { id = "departments_drop_down" })</td>
        </tr>
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.Filter.SearchFor)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Filter.SearchFor)
            </td>
        </tr>
        <tr id="reports_data_switch_tr">
            <td>@Translation.Get("Typ")
            </td>
            <td>
                <label class="radio inline">
                    @Html.RadioButton("Filter.ReportDataType", 1, Model.Filter.ReportDataType == ReportDataTypes.Workstation, new { id = "show_workstation_radio_button" })
                    @Translation.Get("Arbetsstationer")
                </label>
                <label class="radio inline">
                    @Html.RadioButton("Filter.ReportDataType", 2, Model.Filter.ReportDataType == ReportDataTypes.Server, new { id = "show_server_radio_button" })
                    @Translation.Get("Server")
                </label>
                <label class="radio inline">
                    @Html.RadioButton("Filter.ReportDataType", 3, Model.Filter.ReportDataType == ReportDataTypes.All, new { id = "show_all_radio_button" })
                    @Translation.Get("Alla")
                </label>
            </td>
        </tr>
        <tr id="inventory_tr">
            <td>@Translation.Get("Visa") @Translation.Get("Inventarie")
            </td>
            <td>
                @Html.CheckBoxFor(x => x.Filter.IsShowParentInventory, new { @class = "switchcheckbox" })
            </td>
        </tr>
        <tr>
            <td class="span3">&nbsp;
            </td>
            <td>
                <input type="submit" value="@Translation.Get("Sök")" class="btn" />
            </td>
        </tr>
    </table>
}
<div id="report_grid_container">
    @Html.Action("ReportsGrid", new { filter = Model.Filter })
</div>
