@using DH.Helpdesk.Web.Infrastructure
@model IList<DH.Helpdesk.BusinessData.Models.Inventory.Output.SoftwareOverview>
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Program")
            </th>
            <th>@Translation.Get("Version")
            </th>
            <th>@Translation.Get("Tillverkare")
            </th>
            <th>@Translation.Get("Registreringskod")
            </th>
            <th>@Translation.Get("Produktnyckel")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Name)
                </td>
                <td>@Html.DisplayFor(x => item.Version)
                </td>
                <td>@Html.DisplayFor(x => item.Manufacturer)
                </td>
                <td>@Html.DisplayFor(x => item.RegistrationCode)
                </td>
                <td>@Html.DisplayFor(x => item.ProductKey)
                </td>
            </tr>
        }
    </tbody>
</table>

