@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@using System.Globalization;
@using ECT.Model.Entities;

@{
    Layout = null;
    Model.Language = "KR";

    //set fields that are mandatory in the contract here. This can be done in a better way... /TA
    
    Model.SetDocumentMandatoryField("Contractstartdate");


    string convertedStartDate = Model.GetAnswer("Contractstartdate");
    string convertedEndDate = Model.GetAnswer("Contractenddate");
    string format = "yyyy" + " 년 " + "MM" + " 월 " + "dd" + " 일";

    //// Convert start date if cannot convert Print the value exists in Textbox
    if (!string.IsNullOrEmpty(convertedStartDate))
    {

         convertedStartDate = SouthKoreaPdfPage.ConvertStringToDateFormat(convertedStartDate, format);

    }
    else
    {

        convertedStartDate = Model.GetDocumentAnswer("Contractstartdate", true);
    }

     //Convert End date if cannot convert Print the value exists in Textbox
    if (!string.IsNullOrEmpty(convertedEndDate))
    {

        convertedEndDate = SouthKoreaPdfPage.ConvertStringToDateFormat(convertedEndDate, format);

    }
    else
    {

        convertedEndDate = Model.GetDocumentAnswer("Contractenddate", true);
    }
   
}
<!DOCTYPE html>
<html>
<body>
    <div>     

        <p style="text-align: center;font-family:Malgun; font-size:20px;"><strong><u>고 용 계 약 서</u></strong></p>
          <br />
  
        <p style="@SouthKoreaPdfPage.StyleValue()">     <!--Changed position so "LastnameinKR" comes first, followed by "FirstnameinKr" #59272 -->   
            이케아 코리아 유한회사 (이하 "회사")와 @Model.GetDocumentAnswer("LastnameinKR", true) @Model.GetDocumentAnswer("FirstnameinKR", true) (@Model.GetDocumentAnswer("Co-workerIDSSCUSE", true)) (이하 "직원")은 재직 중 노동관련법 및 당 회사의 Co-worker Handbook
            을 상호간 성실하게 준수할 것을 동의하고 다음과 같이 근로계약을 체결합니다.
             <br /><br />
        </p>
        @{
            var list = new List<PdfListItem>();
            var pdfList = new List<PdfListItem>();


            //1

            string text1;
            if (!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && Model.GetAnswer("Employmentcategory") == "Permanent")
            {
                text1 = "근무시작일 : " + convertedStartDate;
                list.Add(new PdfListItem { Text = text1 });
            }
            else
            {
                if (!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && Model.GetAnswer("Employmentcategory") == "Temporary")
                {
                    text1 = "근 무 기 간 : " + convertedStartDate + " ~ " + convertedEndDate;
                    list.Add(new PdfListItem { Text = text1 });
                }
            }

            //2  address is Model.Company.KapitalNo
            string text2 = "<table border='0'><tr><td width='15%' valign=" + "top" + " CELLPADDING= 1>부&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;서 : </td><td valign=" +
                           "top" + " CELLPADDING= 1>" + Model.Translate(Model.GetDocumentAnswer("Department", true)) + "</td>";
            text2 += "<tr><td width='15%' valign=" + "top" + " CELLPADDING= 1>직&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;책 : </td><td valign=" +
                     "top" + " CELLPADDING= 1>" + Model.Translate(Model.GetDocumentAnswer("JobTitle", true)) + "</td></tr>";

            // If field OA.CS.10.1 Short job description has no value, leave it blank #59272
            if (!string.IsNullOrEmpty(Model.GetDocumentAnswer("ShortSortjobdescription")))
            {
                text2 += "<tr><td width='15%' valign=" + "top" + " CELLPADDING= 1>업&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;무 : </td><td valign=" +
                     "top" + " CELLPADDING= 1>" + Model.GetDocumentAnswer("ShortSortjobdescription", true) + "</td></tr>";
            }
            else
            {
                text2 += "<tr><td width='15%' valign=" + "top" + " CELLPADDING= 1>업&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;무 : </td><td valign=" +
                     "top" + " CELLPADDING= 1></td></tr>";
            }

            //Location for BU Gwangmyeong Store, Service Office, Customer Support Center, Distribution Support Unit: 경기도 광명시 일직로 17
            if (Model.GetDocumentAnswer("BusinessUnit", true) != "Goyang Store")
            {
                text2 += "<tr><td width='15%' valign=" + "top" + " CELLPADDING= 1>근 &nbsp;무 장 소 : </td><td valign=" +
                     "top" + " CELLPADDING= 1>" + Model.Company.KapitalNo + "</td></tr></table>";
            }

            //Location for BU Goyang Store: 경기도 고양시 덕양구 권율대로 420번지(도내동) Added #59272
            else
            {
                text2 += "<tr><td width='15%' valign=" + "top" + " CELLPADDING= 1>근 &nbsp;무 장 소 : </td><td valign=" +
                     "top" + " CELLPADDING= 1>경기도 고양시 덕양구 권율대로 420번지(도내동)</td></tr></table>";
            }

            text2 += "업무상 필요한 경우 회사는 직원의 직책, 업무 및 근무장소를 변경할 수 있습니다.";

            list.Add(new PdfListItem { Text = text2 });


            //3
            string text3;

            //IF “OA13 Employment Category = Permanent, Temporary” and “PM1 Payroll Category = Exempt, Flex – monthly, Salaried – monthly”:
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && (Model.GetAnswer("Employmentcategory").ToLower() == "Permanent".ToLower() || Model.GetAnswer("Employmentcategory").ToLower() == "Temporary".ToLower()))
               && (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower())))
            {
                text3 = "수 습 기 간  <br />" +
                          "직원의 수습기간은근무 시작일로 부터 3 개월로 합니다. 다만, 필요하다고 인정할 때에는 그 기간을 연장할 수 있습니다. 수습기간 중 직원의 미숙련, 부적격한 업무수행, 성격, 태도, 또는 기타 사업형편으로 인해 당해 직원의 채용이 부적합하다고 회사가 그 재량에 따라 판단하는 경우, 회사는 근로기준법에서 정하는 조건으로 본 계약을 해지할 수 있습니다. 회사는 수습기간 중이라도 직원의 업무능력, 업무상 필요성 등 제반 사정을 고려하여 직원과의 협의를 거쳐 직책 변경을 할 수 있습니다.";

                list.Add(new PdfListItem { Text = text3 });
            }

            //IF “OA13 Employment Category = Permanent, Temporary” and “PM1 Payroll Category = Flex - Hourly”:
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && (Model.GetAnswer("Employmentcategory").ToLower() == "Permanent".ToLower() || Model.GetAnswer("Employmentcategory").ToLower() == "Temporary".ToLower()))
              && (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower())))
            {
                text3 = "수 습 기 간  <br />" +
                          "직원의 수습기간은 근무 시작일로 부터 3 개월로 합니다. 다만, 필요하다고 인정할 때에는 그 기간을 연장할 수 있습니다. 수습기간 중 직원의 미숙련, 부적격한 업무수행, 성격, 태도, 또는 기타 사업형편으로 인해 당해 직원의 채용이 부적합하다고 회사가 그 재량에 따라 판단하는 경우, 회사는 근로기준법에서 정하는 조건으로  본 계약을 해지할 수 있습니다.회사는 수습기간 중이라도 직원의 업무능력, 업무상 필요성 등 제반 사정을 고려하여 직원과의 협의를 거쳐 직책 변경을 할 수 있습니다.";

                list.Add(new PdfListItem { Text = text3 });
            }

            //IF “OA13 Employment Category = Permanent, Temporary” and “PM1 Payroll Category = Salaried – hourly”:
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && (Model.GetAnswer("Employmentcategory").ToLower() == "Permanent".ToLower() || Model.GetAnswer("Employmentcategory").ToLower() == "Temporary".ToLower()))
             && (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower())))
            {
                text3 = "수 습 기 간  <br />" +
                          "직원의 수습기간은 근무 시작일로 부터 3 개월로 합니다. 다만, 필요하다고 인정할 때에는 그 기간을 연장할 수 있습니다. 수습기간 중 직원의 미숙련, 부적격한 업무수행, 성격, 태도, 또는 기타 사업형편으로 인해 당해 직원의 채용이 부적합하다고 회사가 그 재량에 따라 판단하는 경우, 회사는 근로기준법에서 정하는 조건으로  본 계약을 해지할 수 있습니다.회사는 수습기간 중이라도 직원의 업무능력, 업무상 필요성 등 제반 사정을 고려하여 직원과의 협의를 거쳐 직책 변경을 할 수 있습니다.";

                list.Add(new PdfListItem { Text = text3 });
            }

            //*********** OLD Text 3 
            //string text3 = "수 습 기 간  <br />" +
            //               "직원의 수습기간은근무 시작일로 부터3개월로 합니다. 다만, 필요하다고 인정할 때에는 그 기간을 연장할 수 있습니다. " +
            //               "수습기간 중 직원의 미숙련, 부적격한 업무수행, 성격, 태도, 또는 기타 사업형편으로 인해 당해 직원의 채용이 부적합하다고 회사가 그 재량에 따라 판단하는 경우, " +
            //               "회사는 근로기준법에서 정하는 조건으로 본 계약을 해지할 수 있습니다. 회사는 수습기간 중이라도 직원의 업무능력, 업무상 필요성 등 제반 사정을 고려하여 직원과의 협의를 거쳐 직책 변경을 할 수 있습니다.";

            //list.Add(new PdfListItem { Text = text3 });

            //4


            string text4 = "월  급  여 <br />";
            string permanentTemproray = "";

            //New text for paragraph 4 - #59272
            switch (Model.GetAnswer("Payrollcategory"))
            {
                //If “PM1 Payment Category = Exempt”:                     
                case "Exempted":
                    permanentTemproray = "월 급여는 직원이 지정한 계좌로 매월 10일에 지급하며, 매월 10일이 휴일인 경우 직전 근무일에 지급됩니다. 단, 직원이 만근을 하지 못한 경우의 월급여와 기타 수당은 실제 근무일수에 비례하여 조정, 지급됩니다. 관련법에 따라 월급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다. <br />" +
                                         "관리자의 업무 특성상 근로시간의 조정이 용이하고 근로시간 측정에 어려움이 있다는 점을 고려하여 계산의 용이성을 위해 위 월급여에는 월 20시간의 고정 시간 외 근로 (연장, 휴일, 야간 포함)수당이 포함됩니다. ";
                    break;

                //If “PM1 Payment Category = Flex Monthly”:
                case "Flex - Monthly":
                    permanentTemproray = "월 급여는 직원이 지정한 계좌로 매월 10일에 지급하며, 매월10일이 휴일인 경우 직전 근무일에 지급됩니다. 단, 직원이 만근을 하지 못한 경우의 월급여와 기타 수당은 실제 근무일수에 비례하여 조정, 지급됩니다. 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한 연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를 받을 수 있으며, 관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다.";
                    break;

                //If “PM1 Payment Category = Salaried Monthly”:
                case "Salaried - Monthly":
                    permanentTemproray = "월 급여는 직원이 지정한 계좌로 매월 10일에 지급하며, 매월10일이 휴일인 경우 직전 근무일에 지급됩니다. 단, 직원이 만근을 하지 못한 경우의 월급여와 기타 수당은 실제 근무일수에 비례하여 조정, 지급됩니다. 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한 연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를 받을 수 있으며, 관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다.";
                    break;

                //If “PM1 Payment Category = Flex - Hourly”:               
                case "Flex - Hourly":
                    if (!string.IsNullOrEmpty(Model.GetDocumentAnswer("ExtraBasicPayAmount")))
                    {
                        permanentTemproray = "상기 금액에 주휴수당과 유급 휴일 분을 포함하면 실질 지급액은 ￦ " + Model.GetDocumentAnswer("ExtraBasicPayAmount", true) + " (including weekly holiday allowance) 이 됩니다. 주휴수당은 주당 소정근로시간을 근무하고 무단결근이 없는 경우라면 지급 됩니다. <br />" +
                                         "월 급여는 실제로 근무한 시간에 시급을 곱하여 산정합니다. 월 급여는 매월 10일에 직원이 지정한 계좌로 지급하며, 매월 10일이 휴일인 경우 직전 근무일에 지급됩니다. <br />" +
                                         "단, 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를  받을 수 있으며, 관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다.";
                    }
                    else
                    {
                        permanentTemproray = "상기 금액에 주휴수당과 유급 휴일 분을 포함하면 실질 지급액은" + /*￦*/ " hourly rated (including weekly holiday allowance) 이 됩니다. 주휴수당은 주당 소정근로시간을 근무하고 무단결근이 없는 경우라면 지급 됩니다. <br />" +
                                         "월 급여는 실제로 근무한 시간에 시급을 곱하여 산정합니다. 월 급여는 매월 10일에 직원이 지정한 계좌로 지급하며, 매월 10일이 휴일인 경우 직전 근무일에 지급됩니다. <br />" +
                                         "단, 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를  받을 수 있으며, 관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다.";
                    }
                    
                    break;

                //If “PM1 Payment Category = Salaried - Hourly”:
                case "Salaried - Hourly":
                    if (!string.IsNullOrEmpty(Model.GetDocumentAnswer("ExtraBasicPayAmount")))
                    {
                        permanentTemproray = "상기 금액에 주휴수당과 유급 휴일 분을 포함하면 실질 지급액은 ￦ " + Model.GetDocumentAnswer("ExtraBasicPayAmount", true) + " (including weekly holiday allowance) 이 됩니다. 주휴수당은 주당 소정근로시간을 근무하고 무단결근이 없는 경우라면 지급 됩니다. <br />" +
                                         "월 급여는 실제로 근무한 시간에 시급을 곱하여 산정합니다. 월 급여는 매월 10일에 직원이 지정한 계좌로 지급하며, 매월 10일이 휴일인 경우 직전 근무일에 지급됩니다. <br />" +
                                         "단, 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를  받을 수 있으며, 관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다.";
                    }
                    else
                    {
                        permanentTemproray = "상기 금액에 주휴수당과 유급 휴일 분을 포함하면 실질 지급액은" + /*￦*/ " hourly rated (including weekly holiday allowance) 이 됩니다. 주휴수당은 주당 소정근로시간을 근무하고 무단결근이 없는 경우라면 지급 됩니다. <br />" +
                                         "월 급여는 실제로 근무한 시간에 시급을 곱하여 산정합니다. 월 급여는 매월 10일에 직원이 지정한 계좌로 지급하며, 매월 10일이 휴일인 경우 직전 근무일에 지급됩니다. <br />" +
                                         "단, 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를  받을 수 있으며, 관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다.";
                    }

                    break;

            }<!-- end of switch-->

            //Changed paragraph 4, not checking Employment category, only check condition for Payroll category #59272
            //If “PM1 Payroll Category = Exempted”:
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory"))) && (Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower()))
            {
                text4 +=
                          "(1) 월급여 : ￦ " + Model.GetDocumentAnswer("Basicpayamount", true) + "<br />" + permanentTemproray;

                list.Add(new PdfListItem { Text = text4 });
            }

            //If “PM1 Payroll Category = Flex – Monthly, Salaried - Monthly”:
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory"))) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower()))
            {
                text4 +=
                          "(1) 월급여 : ￦ " + Model.GetDocumentAnswer("Basicpayamount", true) + "(주휴수당 포함) <br />" + permanentTemproray;

                list.Add(new PdfListItem { Text = text4 });
            }

            //IF “PM1 Payroll Category = Flex – Hourly, Salaried - hourly”:
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory"))) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower()))
            {
                text4 +=
                          "(1) 시급 : ￦ " + Model.GetDocumentAnswer("Basicpayamount", true) + "<br />" + permanentTemproray;

                list.Add(new PdfListItem { Text = text4 });
            }


            //*********** OLD Text 4 
            //string text4;

            //// If PM1 Payroll Category = “Salaried – Monthly”  or “Flex-monthly”  
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower()))
            //{
            //    text4 = "월  급  여 <br />" +
            //              "(1) 월 급여 : ￦ " + Model.GetDocumentAnswer("Basicpayamount", true) + " (주휴수당 포함) <br />" +
            //              "월 급여는 직원이 지정한 계좌로 매월 10 일에 지급하며, 매월 10 일이 휴일인 경우 직전 근무일에 지급됩니다. " +
            //              "단, 직원이 만근을 하지 못한 경우의 월급여와 기타 수당은 실제 근무일수에 비례하여 조정, 지급됩니다. " +
            //              "회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한 연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를 받을 수 있으며, " +
            //              "관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다. <br />";

            //    list.Add(new PdfListItem { Text = text4 });
            //}

            //// If PM1 Payroll Category = “Salaried – Hourly” 
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) &&  Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower())
            //{
            //    text4 = "월  급  여 <br />" +
            //              "(1)	시급 :  " + Model.GetDocumentAnswer("Basicpayamount", true) + "<br />" +
            //              "상기 금액에 주휴수당과 유급 휴일 분을 포함하면 실질 지급액은 ￦ 9,200 이 됩니다. 주휴수당은 주당 소정근로시간을 근무하고 무단결근이 없는 경우라면 지급 됩니다. <br />" +
            //              "월 급여는 실제로 근무한 시간에 시급을 곱하여 산정합니다. 월 급여는 매월 10 일에 직원이 지정한 계좌로 지급하며, 매월 10 일이 휴일인 경우 직전 근무일에 지급됩니다. <br />" +
            //              "단, 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를  받을 수 있으며, " +
            //              "관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다.<br />";

            //    list.Add(new PdfListItem { Text = text4 });
            //}

            //// If PM1 Payroll Category = “Flex - Hourly” 
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower()))
            //{
            //    text4 = "월  급  여 <br />" +
            //              "상기 금액에 주휴수당과 유급 휴일 분을 포함하면 실질 지급액은 ￦ " + Model.GetDocumentAnswer("Basicpayamount", true) + " 이 됩니다. 주휴수당은 주당 소정근로시간을 근무하고 무단결근이 없는 경우라면 지급 됩니다.<br />" +
            //              "월 급여는 실제로 근무한 시간에 시급을 곱하여 산정합니다. 월 급여는 매월 10 일에 직원이 지정한 계좌로 지급하며, 매월 10 일이 휴일인 경우 직전 근무일에 지급됩니다.  <br />" +
            //              "단, 회사의 승인을 받아 정해진 근로시간을 초과하여 근무를 할 경우, 이에 대한연장, 야간, 휴일 가산수당을 지급받거나 대체휴가를  받을 수 있으며, 관련법에 따라 월 급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다. <br />";

            //    list.Add(new PdfListItem { Text = text4 });
            //}

            //// If PM1 Payroll Category = “Exempted”  
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower())
            //{
            //    text4 = "월  급  여 <br />" +
            //              "(1) 월급여 : ￦ " + Model.GetDocumentAnswer("Basicpayamount", true) + "<br />" +
            //              "월 급여는 직원이 지정한 계좌로 매월 10 일에 지급하며, 매월 10 일이 휴일인 경우 직전 근무일에 지급됩니다. " +
            //              "단, 직원이 만근을 하지 못한 경우의 월급여와 기타 수당은 실제 근무일수에 비례하여 조정, 지급됩니다. 관련법에 따라 월급여에서 세금, 국민건강보험 및 국민연금 등의 사회보험 부담금 및 기타 법정 공제금이 공제됩니다. <br />" +
            //              "관리자의 업무 특성상 근로시간의 조정이 용이하고 근로시간 측정에 어려움이 있다는 점을 고려하여 계산의 용이성을 위해 위 월급여에는 월 20 시간의 고정 시간 외 근로 (연장, 휴일, 야간 포함) 수당이 포함되며, 회사는  급여 이외의 제반 추가 근무수당을 별도로 지급하지 않습니다. <br />" ;

            //    list.Add(new PdfListItem { Text = text4 });
            //}
            // End 4


            //5

            string text5 = "근무일 및 휴일 <br />" +
                            "직원의 소정근무시간은 매주 " + Model.GetDocumentAnswer("Contractedhours", true) + "시간을 원칙으로 하나 업무량의 변화가 많은 회사의 특성을 고려하여 최장3개월 이내의 기간을 정하여 근로시간을 탄력적으로 배치할 수 있습니다. 이는 상기의 주간 소정근로시간이 업무량에 따라 주별로 변경될 수 있다는 것을 의미합니다. <br />" +
                            "시업과 종업시간은 09:00 - 18:00을 기본으로 하되 업무, 부서의 특성과 필요에 따라 변경될 수 있으며 매장영업시간 이외의 시간이 시업 또는 종업시간이 될 수 있습니다.  직원이 4시간 이상 근무하는 경우에는 30분, 6시간 이상이면 추가 15분, 8시간 이상인 경우에는 추가로 15분이 더해져 총 1시간의 무급휴게시간을 부여합니다. 근무시간과 휴게시간은 회사의 업무상 필요나 관행에 따라서 변경될 수 있습니다. 회사는 직원에게 1주일에 평균 1회의 주휴일을 부여하며, 기타 휴일에 관한 내용은  Co-worker Handbook에서 정한 바에 따릅니다.";
            list.Add(new PdfListItem { Text = text5 });

            /* Below is comment out for now - no conditions for paragraph 5 in Korean contract #59272

            // IF “OA13 Employment Category = Permanent, Temporary” 
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && (Model.GetAnswer("Employmentcategory").ToLower() == "Permanent".ToLower() || Model.GetAnswer("Employmentcategory").ToLower() == "Temporary".ToLower())))
            {
                // If PM1 Payroll Category = “Exempted”  
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower())
                {
                    text5 = "근무일 및 휴일 <br />" +
                              "직원의 소정근무시간은 매주 " + Model.GetDocumentAnswer("Contractedhours", true) + " 시간을 원칙으로 하나, 업무량의 변화가 많은 회사의 특성을 고려하여 최장 3 개월 이내의 기간을 정하여 근로시간을 탄력적으로 배치할 수 있습니다. 이는 상기의 주간 소정근로시간이 업무량에 따라 주별로 변경될 수 있다는 것을 의미합니다. <br />" +
                              "시업과 종업시간은 09:00 - 18:00 을 기본으로 하되 업무, 부서의 특성과 필요에 따라 변경될 수 있으며 매장영업시간 이외의 시간이 시업 또는 종업시간이 될 수 있습니다.  직원이 4 시간 이상 근무하는 경우에는 30 분, 6 시간 이상이면 추가 15 분, 8 시간 이상인 경우에는 추가로 15 분이 더해져 총 1 시간의 무급휴게시간을 부여합니다. 근무시간과 휴게시간은 회사의 업무상 필요나 관행에 따라서 변경될 수 있습니다. 회사는 직원에게 1주일에 평균 1회의 유급휴일을 부여하며, 기타 휴일에 관한 내용은  Co-worker Handbook 에서 정한 바에 따릅니다.  ";

                    list.Add(new PdfListItem { Text = text5 });
                }

                // If PM1 Payroll Category = “Flex - Hourly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower()))
                {
                    text5 = "근무일 및 휴일 <br />" +
                              "직원의 소정근무시간은 매주 " + Model.GetDocumentAnswer("Contractedhours", true) + " 시간을 원칙으로 하나 업무량의 변화가 많은 회사의 특성을 고려하여 최장 3 개월 이내의 기간을 정하여 근로시간을 탄력적으로 배치할 수 있습니다. 이는 상기의 주간 소정근로시간이 업무량에 따라 주별로 변경될 수 있다는 것을 의미합니다. <br />" +
                              "시업과 종업시간은 09:00 - 18:00 을 기본으로 하되 업무, 부서의 특성과 필요에 따라 변경될 수 있으며 매장영업시간 이외의 시간이 시업 또는 종업시간이 될 수 있습니다.  직원이 4 시간 이상 근무하는 경우에는 30 분, 6 시간 이상이면 추가 15 분, 8 시간 이상인 경우에는 추가로 15 분이 더해져 총 1 시간의 무급휴게시간을 부여합니다. 근무시간과 휴게시간은 회사의 업무상 필요나 관행에 따라서 변경될 수 있습니다. 기타 휴일에 관한 내용은  Co-worker Handbook 에서 정한 바에 따릅니다.  ";

                    list.Add(new PdfListItem { Text = text5 });
                }

                // If PM1 Payroll Category = “Flex - Monthly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower()))
                {
                    text5 = "근무일 및 휴일  <br />" +
                              "직원의 소정근무시간은 매주 " + Model.GetDocumentAnswer("Contractedhours", true) + " 시간을 원칙으로 하나 업무량의 변화가 많은 회사의 특성을 고려하여 최장3개월 이내의 기간을 정하여 근로시간을 탄력적으로 배치할 수 있습니다. 이는 상기의 주간 소정근로시간이 업무량에 따라 주별로 변경될 수 있다는 것을 의미합니다. <br />" +
                              "시업과 종업시간은 09:00 - 18:00 을 기본으로 하되 업무, 부서의 특성과 필요에 따라 변경될 수 있으며 매장영업시간 이외의 시간이 시업 또는 종업시간이 될 수 있습니다.  직원이 4 시간 이상 근무하는 경우에는 30 분, 6 시간 이상이면 추가 15 분, 8 시간 이상인 경우에는 추가로 15 분이 더해져 총 1 시간의 무급휴게시간을 부여합니다. 근무시간과 휴게시간은 회사의 업무상 필요나 관행에 따라서 변경될 수 있습니다. 회사는 직원에게 1 주일에 평균 1 회의 주휴일을 부여하며, 기타 휴일에 관한 내용은  Co-worker Hand book 에서 정한 바에 따릅니다. ";

                    list.Add(new PdfListItem { Text = text5 });
                }

                // If PM1 Payroll Category = “Salaried – Monthly”   
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower()))
                {
                    text5 = "근무일 및 휴일 <br />" +
                              "직원의 소정근무시간은 매주 " + Model.GetDocumentAnswer("Contractedhours", true) + " 시간 입니다.  <br />" +
                              "시업과 종업시간은 09:00 - 18:00 을 기본으로 하되 업무, 부서의 특성과 필요에 따라 변경될 수 있습니다. 직원이 4 시간 이상 근무하는 경우에는 30 분, 8 시간 이상인 경우에는 추가로 30 분이 더해져 총 1 시간의 무급휴게시간을 부여합니다. 근무시간과 휴게시간은 회사의 업무상 필요나 관행에 따라서 변경될 수 있습니다. 회사는 직원에게 1 주일에 평균 1 회의 주휴일을 부여하며, 기타 휴일에 관한 내용은 Co-worker Hand book 에서 정한 바에 따릅니다. ";

                    list.Add(new PdfListItem { Text = text5 });
                }

                // If PM1 Payroll Category = “Salaried – Hourly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower())
                {
                    text5 = "근무일 및 휴일 <br />" +
                              "직원의 소정근무시간은 매주 " + Model.GetDocumentAnswer("Contractedhours", true) + " 시간입니다.<br />" +
                              "시업과 종업시간은 09:00 - 18:00 을 기본으로 하되 업무, 부서의 특성과 필요에 따라 변경될 수 있으며 매장영업시간 이외의 시간이 시업 또는 종업시간이 될 수 있습니다.  직원이 4 시간 이상 근무하는 경우에는 30 분, 6 시간 이상이면 추가 15 분, 8 시간 이상인 경우에는 추가로 15 분이 더해져 총 1 시간의 무급휴게시간을 부여합니다. 근무시간과 휴게시간은 회사의 업무상 필요나 관행에 따라서 변경될 수 있습니다. 기타 휴일에 관한 내용은  Co-worker Handbook 에서 정한 바에 따릅니다. ";

                    list.Add(new PdfListItem { Text = text5 });
                }

            }//End If Permanent Or Temporary*/

            // End 5 

            //6
            string text6 = "연차 유급 휴가와 기타 휴가 <br />" +
                            "회사는 1년간 20일 (" + Model.GetDocumentAnswer("Annualleaveentitlement", true) + ") 의 연차유급휴가를 부여하는 것을 원칙으로 하고, 귀하의 연차유급휴가는 근무일과 소정근로시간에 비례하여 부여됩니다. 이는 근무를 시작하고 퇴사하는 년도의 경우 근무한 기간에 비례하여 부여하고 또한 계약서에 명시된 소정근로시간에 비례하여 시간으로 부여하는 것을 의미합니다. (예 : 소정근로시간 주 40시간 - 160시간, 소정근로시간 주 20시간 - 80시간) 기타 연차유급휴가에 관한 사항은 근로기준법 및Co-worker Handbook에서 정한 바에 따릅니다. <br />" +
                            "기타 출산전후휴가, 생리휴가, 경조휴가, 병가 등은Co-worker Handbook 등 회사 규정에 따릅니다. 회사가 근로기준법에 따라 휴가의 사용을 촉진했음에도 불구하고 1년간 휴가를 사용하지 않으면 별도의 보상없이 소멸됩니다.";
            list.Add(new PdfListItem { Text = text6 });

            /* Below is comment out for now - no conditions for paragraph 6 in Korean contract #59272

            // IF “OA13 Employment Category = Permanent, Temporary” 
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && (Model.GetAnswer("Employmentcategory").ToLower() == "Permanent".ToLower() || Model.GetAnswer("Employmentcategory").ToLower() == "Temporary".ToLower())))
            {

                // If PM1 Payroll Category = “Exempted”  
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower())
                {
                    text6 = "연차 유급 휴가와 기타 휴가 <br />" +
                              "회사는 1 년간 20 일( " + Model.GetDocumentAnswer("Annualleaveentitlement", true) + " 시간)의 연차유급휴가를 부여하는 것을 원칙으로 하고, 귀하의 연차유급휴가는 근무일과 소정근로시간에 비례하여 부여됩니다. 이는 근무를 시작하고 퇴사하는 년도의 경우 근무한 기간에 비례하여 부여하고 또한 계약서에 명시된 소정근로시간에 비례하여 시간으로 부여하는 것을 의미합니다. (예 : 소정근로시간 주 40 시간 - 160 시간, 소정근로시간 주 20 시간 - 80 시간) 기타 연차유급휴가에 관한 사항은 근로기준법 및 Co-worker Handbook 에서 정한 바에 따릅니다.<br />" +
                              "기타 출산전후휴가, 생리휴가, 경조휴가, 병가 등은 Co-worker Handbook 등 회사 규정에 따릅니다. 회사가 근로기준법에 따라 휴가의 사용을 촉진했음에도 불구하고 1 년간 휴가를 사용하지 않으면 별도의 보상없이 소멸됩니다.";

                    list.Add(new PdfListItem { Text = text6 });
                }

                // If PM1 Payroll Category = “Flex - Hourly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower()))
                {
                    text6 = "연차 유급 휴가와 기타 휴가 <br />" +
                              "회사는 1 년간 20 일( " + Model.GetDocumentAnswer("Annualleaveentitlement", true) + " 시간)의 연차유급휴가를 부여하는 것을 원칙으로 하고, 귀하의 연차유급휴가는 근무일과 소정근로시간에 비례하여 부여됩니다. 이는 근무를 시작하고 퇴사하는 년도의 경우 근무한 기간에 비례하여 부여하고 또한 계약서에 명시된 소정근로시간에 비례하여 시간으로 부여하는 것을 의미합니다. (예 : 소정근로시간 주 40 시간 - 160 시간, 소정근로시간 주 20 시간 - 80 시간) 기타 연차유급휴가에 관한 사항은 근로기준법 및 Co-worker Handbook 에서 정한 바에 따릅니다.<br />" +
                              "기타 출산전후휴가, 생리휴가, 경조휴가 등은 Co-worker Handbook 등 회사 규정에 따릅니다. 회사가 근로기준법에 따라 휴가의 사용을 촉진했음에도 불구하고 1 년간 휴가를 사용하지 않으면 별도의 보상없이 소멸됩니다.";

                    list.Add(new PdfListItem { Text = text6 });
                }

                // If PM1 Payroll Category = “Flex - Monthly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower()))
                {
                    text6 = "연차 유급 휴가와 기타 휴가 <br />" +
                              "회사는 1 년간 20 일 ( " + Model.GetDocumentAnswer("Annualleaveentitlement", true) + " 시간)의 연차유급휴가를 부여하는 것을 원칙으로 하고, 귀하의 연차유급휴가는 근무일과 소정근로시간에 비례하여 부여됩니다. 이는 근무를 시작하고 퇴사하는 년도의 경우 근무한 기간에 비례하여 부여하고 또한 계약서에 명시된 소정근로시간에 비례하여 시간으로 부여하는 것을 의미합니다. (예 : 소정근로시간 주 40 시간 - 160 시간, 소정근로시간 주 20 시간 - 80 시간) 기타 연차유급휴가에 관한 사항은 근로기준법 및 Co-worker Handbook 에서 정한 바에 따릅니다. <br />" +
                              "기타 출산전후휴가, 생리휴가, 경조휴가 등은 Co-worker Handbook 등 회사 규정에 따릅니다. 회사가 근로기준법에 따라 휴가의 사용을 촉진했음에도 불구하고 1 년간 휴가를 사용하지 않으면 별도의 보상없이 소멸됩니다.";

                    list.Add(new PdfListItem { Text = text6 });
                }

                // If PM1 Payroll Category = “Salaried – Monthly”   
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower()))
                {
                    text6 = "연차 유급 휴가와 기타 휴가 <br />" +
                              "회사는 1 년간 20 일 ( " + Model.GetDocumentAnswer("Annualleaveentitlement", true) + " 시간)의 연차유급휴가를 부여하는 것을 원칙으로 하고, 귀하의 연차유급휴가는 근무일과 소정근로시간에 비례하여 부여됩니다. 이는 근무를 시작하고 퇴사하는 년도의 경우 근무한 기간에 비례하여 부여하고 또한 계약서에 명시된 소정근로시간에 비례하여 시간으로 부여하는 것을 의미합니다. (예 : 소정근로시간 주 40 시간 - 160 시간, 소정근로시간 주 20 시간 - 80 시간) 기타 연차유급휴가에 관한 사항은 근로기준법 및 Co-worker Handbook 에서 정한 바에 따릅니다.  <br />" +
                              "기타 출산전후휴가, 생리휴가, 경조휴가 등은 Co-worker Handbook 등 회사 규정에 따릅니다. 회사가 근로기준법에 따라 휴가의 사용을 촉진했음에도 불구하고 1 년간 휴가를 사용하지 않으면 별도의 보상없이 소멸됩니다.";

                    list.Add(new PdfListItem { Text = text6 });
                }

                // If PM1 Payroll Category = “Salaried – Hourly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower())
                {
                    text6 = "연차 유급 휴가와 기타 휴가 <br />" +
                              "회사는 1 년간 20 일 ( " + Model.GetDocumentAnswer("Annualleaveentitlement", true) + " 시간)의 연차유급휴가를 부여하는 것을 원칙으로 하고, 귀하의 연차유급휴가는 근무일과 소정근로시간에 비례하여 부여됩니다. 이는 근무를 시작하고 퇴사하는 년도의 경우 근무한 기간에 비례하여 부여하고 또한 계약서에 명시된 소정근로시간에 비례하여 시간으로 부여하는 것을 의미합니다. (예 : 소정근로시간 주 40 시간 - 160 시간, 소정근로시간 주 20 시간 - 80 시간) 기타 연차유급휴가에 관한 사항은 근로기준법 및 Co-worker Handbook 에서 정한 바에 따릅니다.<br />" +
                              "기타 출산전후휴가, 생리휴가, 경조휴가 등은 Co-worker Handbook 등 회사 규정에 따릅니다. 회사가 근로기준법에 따라 휴가의 사용을 촉진했음에도 불구하고 1 년간 휴가를 사용하지 않으면 별도의 보상없이 소멸됩니다.";

                    list.Add(new PdfListItem { Text = text6 });
                }

            }//End If Permanent Or Temporary  */

            //*********** OLD Text 6 
            //string text6 = "연차 유급 휴가와 기타 휴가 <br />" +
            //               "회사는 1 년간 20 일( " + Model.GetDocumentAnswer("Annualleaveentitlement", true) + " 시간) 의 연차유급휴가를 부여하는 것을 원칙으로 하고," +
            //               "귀하의 연차유급휴가는 근무일과 소정근로시간에 비례하여 부여됩니다. 이는 근무를 시작하고 퇴사하는 년도의 경우 근무한 기간에 비례하여 부여하고 또한 계약서에 명시된 소정근로시간에 비례하여 시간으로 부여하는 것을 의미합니다. (예 : 소정근로시간 주 40 시간 - 160 시간, 소정근로시간 주 20 시간 - 80 시간) 기타 연차유급휴가에 관한 사항은 근로기준법 및 Co-worker Handbook 에서 정한 바에 따릅니다. <br />" +
            //               "기타 출산전후휴가, 생리휴가, 경조휴가 등은 Co-worker Handbook 등 회사 규정에 따릅니다. 회사가 근로기준법에 따라 휴가의 사용을 촉진했음에도 불구하고 1 년간 휴가를 사용하지 않으면 별도의 보상없이 소멸됩니다.";
            //list.Add(new PdfListItem { Text = text6 });
            // END 6 

            //7
            string text7 = "퇴직연금제도 <br/>" +
                           "회사가 직원에게 지급하는 퇴직연금 제도에 관해서는 근로자퇴직급여 보장법과 관련 법규에 따릅니다.";

            list.Add(new PdfListItem { Text = text7 });


            //8
            string text8 = "겸업 금지와 비밀유지 <br/>" +
                           "근무 기간동안 직원은 회사의 경쟁사 또는 경쟁사의 자회사를 위한 어떠한 서비스도 회사의 사전 서면동의 없이 제공해서는 안되며, 동종업계의 겸업은 금지됩니다. 또한, 직원이 이 고용계약에 따른 근무기간 동안 습득한 회사나 회사의 자회사, 또는 회사의 모회사에 대한 모든 정보는 회사 소유의 정보입니다. 고용 종료 이후에도 회사의 서면 동의 없이는 해당 정보를 누설하지 않을 것을 약속합니다.";
            list.Add(new PdfListItem { Text = text8 });

            //9
            string text9 = "회사규정 <br/>" +
                           "직원은 회사가 지정한 업무를 성실하게 수행하며, 전달받은 사규를 준수해야 합니다. 단, 이러한 사규는 회사가 법이 허용하는 범위내에서 수시로 변경할 수 있습니다. 직원은 이케아그룹의 행동지침 및 사규를 읽고 동의하며 이를 따를 것을 약속합니다.";
            list.Add(new PdfListItem { Text = text9 });

            //10   
            string text10 = "회사 시스템 내 개인정보 열람 권한 및 개인정보 처리 방침 <br/>";

            //If “OA13 Employment category = Permanent, Temporary” 
            if (!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && (Model.GetAnswer("Employmentcategory").ToLower() == "Permanent".ToLower() || Model.GetAnswer("Employmentcategory").ToLower() == "Temporary".ToLower()))
            {
                //IF “OA13 Employment Category = Permanent, Temporary” and “PM1 Payroll Category = Exempt, Flex – Hourly, Salaried - hourly”:
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower()))
                {
                    text10 +=
                              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않습니다. 추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다. <br />" +
                              "직원은 본인의 개인 정보를 회사가 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다.  직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com) 에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다.";

                    list.Add(new PdfListItem { Text = text10 });
                }


                //If “OA13 Employment category = Permanent, Temporary” and “PM1 Payment Category = Flex - Monthly”:
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower()))
                {
                    text10 +=
                              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않습니다. 추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다. <br />" +
                              "직원은 본인의 개인 정보에 대한 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다. 직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com) 에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다.";

                    list.Add(new PdfListItem { Text = text10 });
                }

                //If “OA13 Employment category = Permanent, Temporary” and “PM1 Payment Category = Salaried - Monthly”:
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower()))
                {
                    text10 +=
                              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않는다. 추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다. <br />" +
                              "직원은 본인의 개인 정보에 대한 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다. 직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com) 에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다.";

                    list.Add(new PdfListItem { Text = text10 });
                }
            }//End If Permanent Or Temporary

            //*********** OLD Text 10          
            //string text10;

            //// If PM1 Payroll Category = “Salaried – Monthly”   
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower()))
            //{
            //    text10 = "회사 시스템 내 개인정보 열람 권한 및 개인정보 처리 방침 <br/>" +
            //              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않는다. " +
            //              "추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다. <br/>" +
            //              "직원은 본인의 개인 정보에 대한 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다. " +
            //              "직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com)에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다. <br />";

            //    list.Add(new PdfListItem { Text = text10 });
            //}

            //// If PM1 Payroll Category = “Salaried – Hourly” 
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower())
            //{
            //    text10 = "회사 시스템 내 개인정보 열람 권한 및 개인정보 처리 방침 <br/>" +
            //              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않습니다." +
            //              "추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다. <br />" +
            //              "직원은 본인의 개인 정보를 회사가 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다.  직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com) 에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다. <br />";

            //    list.Add(new PdfListItem { Text = text10 });
            //}


            //// If PM1 Payroll Category = “Flex - Monthly” 
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower()))
            //{
            //    text10 = "회사 시스템 내 개인정보 열람 권한 및 개인정보 처리 방침 <br/>" +
            //              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않습니다. " +
            //              "추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다.<br />" +
            //              "직원은 본인의 개인 정보에 대한 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다. " +
            //              "직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com) 에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다. <br />";

            //    list.Add(new PdfListItem { Text = text10 });
            //}

            //// If PM1 Payroll Category = “Flex - Hourly” 
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower()))
            //{
            //    text10 = "회사 시스템 내 개인정보 열람 권한 및 개인정보 처리 방침 <br/>" +
            //              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않습니다. " +
            //              "추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다.<br />" +
            //              "직원은 본인의 개인 정보를 회사가 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다. " +
            //              "직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com) 에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다.<br />";

            //    list.Add(new PdfListItem { Text = text10 });
            //}

            //// If PM1 Payroll Category = “Exempted”  
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower())
            //{
            //    text10 = "회사 시스템 내 개인정보 열람 권한 및 개인정보 처리 방침 <br/>" +
            //              "회사가 직원에게 지급하는 사내 이메일 계정 및 컴퓨터는 회사의 소유입니다. 직원은 사내 이메일, 음성 메세지 및 컴퓨터 시스템 등을 업무용으로만 사용하며 개인용도로 사용하지 않습니다. " +
            //              "추가로, 회사가 제공한 데스크탑 컴퓨터, 노트북 컴퓨터를 포함한 위의 시스템과 회사의 서버를 통해 주고받은 이메일 등에 회사는 업무상 필요에 의하여 접속하거나 점검하여 직원이 회사의 규정을 준수하는지, 불법적이거나 부적절한 행위가 없었는지를 확인할 수 있으며, 직원은  이에 자율적으로 동의합니다. <br />" +
            //              "직원은 본인의 개인 정보를 회사가 처리 (합당한 수준에서 정보의 수집과 사용 및 회사의 그룹사 또는 제 3자의 데이타베이스로의 국내외 전송 등) 하는데 있어 별도의 동의서를 통해 정보처리를 가능하게 할 수 있습니다. " +
            //              "직원은 (수집된) 개인 정보를 요청하여 접근할 수 있는 권리가 있으며, 관련 정보를 (해당시) 수정하거나 삭제할 수 있습니다. 직원은 이케아 사내 사이트 (www.ikea.com) 에 게시된 이케아 인터넷 및 인트라넷 정책과 이케아 정보 보안 정책을 준수해야 합니다.<br />";

            //    list.Add(new PdfListItem { Text = text10 });
            //}
            // End 10

            //11            
            string text11 = "고용의 종료 <br />" +
                            "직원에게 30일 전에 예고를 하거나 30일분의 통상 급여를 지급하면 회사는 회사의 Co-worker Handbook과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다. 단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다. <br />" +
                            "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다.";
            list.Add(new PdfListItem { Text = text11 });

            /* No conditions anymore to paragraph 11, just fixed text #59272
            // IF “OA13 Employment Category = Permanent, Temporary” 
            if ((!string.IsNullOrEmpty(Model.GetAnswer("Employmentcategory")) && (Model.GetAnswer("Employmentcategory").ToLower() == "Permanent".ToLower() || Model.GetAnswer("Employmentcategory").ToLower() == "Temporary".ToLower())))
            {
                // If PM1 Payroll Category = “Exempted”  
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower())
                {
                    text11 = "고용의 종료 <br />" +
                              "직원에게 30 일 전에 예고를 하거나 30 일분의 통상 급여를 지급하면 회사는 회사의 Co-worker Handbook 과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다. 단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다.<br />" +
                              "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30 일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다.";

                    list.Add(new PdfListItem { Text = text11 });
                }

                // If PM1 Payroll Category = “Flex - Hourly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower()))
                {
                    text11 = "고용의 종료 <br />" +
                              "직원에게 30 일 전에 예고를 하거나 30 일분의 통상 급여를 지급하면 회사는 회사의 고용 규칙과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다. 단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다.<br />" +
                              "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30 일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다.";

                    list.Add(new PdfListItem { Text = text11 });
                }

                // If PM1 Payroll Category = “Flex - Monthly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower()))
                {
                    text11 = "고용의 종료 <br />" +
                              "직원에게 30 일 전에 예고를 하거나 30 일분의 통상 급여를 지급하면 회사는 회사의 고용 규칙과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다. 단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다.<br />" +
                              "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30 일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다.";

                    list.Add(new PdfListItem { Text = text11 });
                }

                // If PM1 Payroll Category = “Salaried – Monthly”   
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && (Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower()))
                {
                    text11 = "고용의 종료 <br />" +
                              "직원에게 30 일 전에 예고를 하거나 30 일분의 통상 급여를 지급하면 회사는 회사의 고용 규칙과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다. 단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다.<br />" +
                              "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30 일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다.";

                    list.Add(new PdfListItem { Text = text11 });
                }

                // If PM1 Payroll Category = “Salaried – Hourly” 
                if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower())
                {
                    text11 = "고용의 종료 <br />" +
                              "직원에게 30 일 전에 예고를 하거나 30 일분의 통상 급여를 지급하면 회사는 회사의 고용 규칙과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다. 단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다.<br />" +
                              "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30 일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다.";

                    list.Add(new PdfListItem { Text = text11 });
                }

            }//End If Permanent Or Temporary                       

            //*********** OLD Text 11   
            //// If PM1 Payroll Category = “Salaried – Monthly”  or “Flex - Monthly”  or  “Salaried – Hourly”  or  “Flex – Hourly” 
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && 
            //     (Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Monthly".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Monthly".ToLower() ||
            //      Model.GetAnswer("Payrollcategory").ToLower() == "Flex - Hourly".ToLower() || Model.GetAnswer("Payrollcategory").ToLower() == "Salaried - Hourly".ToLower()))
            //{
            //    text11 = "고용의 종료 <br />" +
            //              "직원에게 30 일 전에 예고를 하거나 30 일분의 통상 급여를 지급하면 회사는 회사의 고용 규칙과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다." +
            //              "단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다. <br />" +
            //              "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다. ";

            //    list.Add(new PdfListItem { Text = text11 });
            //}

            //// If PM1 Payroll Category = “Exempted”  
            //if (!string.IsNullOrEmpty(Model.GetAnswer("Payrollcategory")) && Model.GetAnswer("Payrollcategory").ToLower() == "Exempted".ToLower())
            //{
            //    text11 = "고용의 종료 <br />" +
            //              "직원에게 30 일 전에 예고를 하거나 30 일분의 통상 급여를 지급하면 회사는 회사의 Co-worker Handbook 과 기타 규정에 따른 정당한 이유로 이 고용 계약을 종료할 수 있습니다. " +
            //              "단, 근로기준법상 직원이 고의로 사업에 막대한 지장을 초래하거나 재산상 손해를 끼친 경우로서 관계법령에 명시된 사유에 해당하는 경우 회사는 사전 예고 또는 급여 지급 없이 계약을 종료할 수 있습니다. <br />" +
            //              "직원이 회사를 자발적으로 사직할 경우, 예정 사직일로부터 적어도 30일전까지 서면 사직서를 제출해야 하며 사직서가 수리되기 전까지는 업무를 수행한 뒤 후임자에게 업무를 성실히 인계해야 합니다. ";

            //    list.Add(new PdfListItem { Text = text11 });
            //}*/
            //End 11

            //12
            string text12 = "준거법 및 언어 <br />" +
                            "본 계약서의 준거법은 대한민국법이며 이에 따라 해석됩니다. 본 계약서는 국문으로 작성되며 국문본이 여하한　번역본에　우선합니다.";
            list.Add(new PdfListItem { Text = text12 });


            //13
            string text13 = "기&nbsp;&nbsp;&nbsp;&nbsp;타 <br />" +
                            "회사의 Co-worker Handbook 을 통해 기본적인 근로조건을 확인하였으며 본 계약서에 명시되지 않은 모든 사항들은 근로기준법과 Co-worker Handbook 및 기타 관련사규를 따르는데 동의합니다. <br /><br />";

            list.Add(new PdfListItem { Text = text13 });

        }

        @if (list.Count > 1)
        {
            <table width="100%" border="0">
            @for (int i = 0; i < list.Count; i++)
            {             
                 <tr>
                    <td width="4%" valign="top" style="@SouthKoreaPdfPage.StyleValue()">@(i + 1).</td>                 
                    <td width="96%" valign="top">                                               
                      <p style="@SouthKoreaPdfPage.StyleValue()">@Html.Raw(list[i].Text)</p>      
                        <br />         
                    </td>
                </tr>
            }
        </table>
        }
        else
        {
            for (int i = 0; i == list.Count - 1; i++)
            {           
              <p style="@SouthKoreaPdfPage.StyleValue()">@Html.Raw(list[i])</p>                
            }
        }

        <br />
    
        <endpage />
    </div>
</body>
</html>
