@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.ContactFieldsModel
<table class="tableform">
    @if (Model.Name.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Name.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.Name.IsReadOnly
                ? Html.TextBoxFor(m => m.Name.Value)
                : Html.TextBoxFor(m => m.Name.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.Phone.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Phone.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.Phone.IsReadOnly
                ? Html.TextBoxFor(m => m.Phone.Value)
                : Html.TextBoxFor(m => m.Phone.Value, new { @readonly = true }))
            </td>
        </tr>
    }
    @if (Model.Email.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Email.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @(!Model.Email.IsReadOnly
                ? Html.TextBoxFor(m => m.Email.Value)
                : Html.TextBoxFor(m => m.Email.Value, new { @readonly = true }))
            </td>
        </tr>
    }
</table>
