
@model DH.Helpdesk.Web.Models.Notifiers.SettingModel

<td>
    @Translation.Get(Model.LableText, Enums.TranslationSource.TextTranslation)
     @Html.HiddenFor(m => Model.LableText)
</td> 
<td>@Html.CheckBoxFor(m => m.ShowInDetails, new { @class = "switchcheckbox" })</td> 
<td>@Html.CheckBoxFor(m => m.ShowInNotifiers, new { @class = "switchcheckbox" })</td> 
<td>@Html.TextBoxFor(m => m.Caption)</td> 
<td>@Html.CheckBoxFor(m => m.Required, new { @class = "switchcheckbox" })</td> 
<td>@Html.TextBoxFor(m => m.LdapAttribute)</td> 