
@model DH.Helpdesk.Web.Models.Notifiers.ConfigurableFields.StringFieldModel
           
@if (Model.Show)
{
    <tr>
        <td class="span3">
            @if (!Model.Required)
            {
                @Translation.Get(Model.Caption, Enums.TranslationSource.TextTranslation)
            }
            else
            {
                @(Translation.Get(Model.Caption, Enums.TranslationSource.TextTranslation) + "*")
            }
        </td>
        <td class="span9">
            @Html.TextAreaFor(m => m.Value)
            @Html.ValidationMessageFor(m => m.Value)
            @Html.HiddenFor(m => m.Required)
        </td>
    </tr>
}