
@model DH.Helpdesk.Web.Models.Notifiers.ConfigurableFields.StringFieldModel
           
@if (Model.Show)
{
    var htmlAttributes = new Dictionary<string, object>()
    {
        {"data-dh-is-required", Model.Required},
        {"maxlength", Model.MaxLength}
    };

    object addAttributes = null;
    if (ViewContext.ViewData.Keys.Contains("htmlAttributes"))
    {
        addAttributes = ViewContext.ViewData["htmlAttributes"];

        foreach (var prop in addAttributes.GetType().GetProperties())
        {
            htmlAttributes.Add(prop.Name, prop.GetValue(addAttributes, null));
        }
    }

    <tr>
        <td class="span3">
            @if (!Model.Required)
            {
                @Translation.GetCoreTextTranslation(Model.Caption)
            }
            else
            {
                @(Translation.GetCoreTextTranslation(Model.Caption) + "*")
            }
        </td>
        <td class="span9">
            @Html.TextBoxFor(m => m.Value, htmlAttributes)
            @Html.ValidationMessageFor(m => m.Value)
            @Html.HiddenFor(m => m.Required)
            @Html.HiddenFor(m => m.MaxLength)
            @Html.HiddenFor(m => m.Show)
        </td>
    </tr>
}