@model DH.Helpdesk.NewSelfService.Models.Case.CaseOverviewModel


<script type="text/javascript">

    $(function() {                
        window.alreadyExistFileIds = [];
        bindDeleteFileBehaviorToDeleteButtons();

        $('#file_uploader').pluploadQueue(
        {
            url:
                '@this.Url.Action("UploadFile")',
            multipart_params:
            {
                Id:
                    '@this.Model.ExLogFileGuid'
            },
            max_file_size:
                '10mb',

            init:
            {
                FileUploaded:
                    function() {
                        $.
                            get('@this.Url.Action("Files")',
                            {
                                id:
                                    '@this.Model.ExLogFileGuid'
                        },
                        function(files) {
                            refreshFilesTable(files);
                        }
                    );
                },

                UploadComplete:
                    function(up, file) {
                        //plupload_add
                        $
                        (".plupload_buttons").css("display", "inline");
                        $
                        (".plupload_upload_status").css("display", "inline");
                        up.refresh();
                    },

                Error:
                    function(uploader, e) {
                        if (e.status != 409) {
                            return;
                        }

                        window.alreadyExistFileIds.push(e.file.id);
                    },

                StateChanged:
                    function(uploader) {
                        if (uploader.state != plupload.STOPPED) {
                            return;
                        }

                        for (var i = 0; i < window.alreadyExistFileIds.length; i++) {
                            var fileId = window.alreadyExistFileIds[i];
                            $
                            ('#file_uploader ul[class="plupload_filelist"] li[id="' + fileId + '"] div[class="plupload_file_action"] a').prop('title', '@Translation.Get("File already exists.", Enums.TranslationSource.TextTranslation)');
                    }

                    window.alreadyExistFileIds.length = 0;
                    uploader.refresh();
                }
            }
        });

        $('#file_uploader').pluploadQueue({
            url: '@this.Url.Action("UploadFile")',
            multipart_params: { Id: '@this.Model.ExLogFileGuid' },
            max_file_size: '10mb',

            init: {
                FileUploaded: function () {

                    $.get('@this.Url.Action("Files")', { id: '@this.Model.ExLogFileGuid' }, function (files) {
                        refreshFilesTable(files);
                    });
                },

                UploadComplete: function (up, file) {
                    //plupload_add
                    $(".plupload_buttons").css("display", "inline");
                    $(".plupload_upload_status").css("display", "inline");
                    up.refresh();
                },

                Error: function (uploader, e) {
                    if (e.status != 409) {
                        return;
                    }

                    window.alreadyExistFileIds.push(e.file.id);
                },

                StateChanged: function (uploader) {
                    if (uploader.state != plupload.STOPPED) {
                        return;
                    }

                    for (var i = 0; i < window.alreadyExistFileIds.length; i++) {
                        var fileId = window.alreadyExistFileIds[i];
                        $('#file_uploader ul[class="plupload_filelist"] li[id="' + fileId + '"] div[class="plupload_file_action"] a').prop('title', '@Translation.Get("File already exists.", Enums.TranslationSource.TextTranslation)');
                    }

                    window.alreadyExistFileIds.length = 0;
                    uploader.refresh();
                }

            }
        });

        $('#upload_files_popup').on('hidden.bs.modal', function () {
            if ($('#file_uploader') != undefined) {
                if ($('#file_uploader').pluploadQueue().files.length > 0) {
                    if ($('#file_uploader').pluploadQueue().state == plupload.UPLOADING)
                        $('#file_uploader').pluploadQueue().stop();

                    while ($('#file_uploader').pluploadQueue().files.length > 0) {
                        $('#file_uploader').pluploadQueue().removeFile($('#file_uploader').pluploadQueue().files[0]);
                    }
                    $('#file_uploader').pluploadQueue().refresh();
                }
            }
        });

    });
    
    

    function refreshFilesTable(files) {
        $('#files_table > tbody > tr').remove();

        var fileMarkup =
            $('<tr>' +
                '<td> &nbsp; <td>' +
                '<tr>');
        $('#files_table > tbody').append(fileMarkup);

        for (var i = 0; i < files.length; i++) {
            var file = files[i];

            fileMarkup =
                $('<tr>' +
                    '<td>' +
                    '<i class="glyphicon glyphicon-file">&nbsp;</i> <a style="color:blue" href="@this.Url.Action("DownloadLogFile")?@(!string.IsNullOrEmpty(this.Model.ExLogFileGuid) ? "id=" + this.Model.ExLogFileGuid + "&" : string.Empty)' + 'fileName=' + file + '">' + file + '</a>' +
                    '</td>' +
                    '<td>' +
                    '<a id="delete_file_button_' + i + '" class="btn bt-small">@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation) <i class="icon-remove"></i> </a>' +
                    '</td>' +
                    '</tr>');

            $('#files_table > tbody').append(fileMarkup);
        }

        bindDeleteFileBehaviorToDeleteButtons();
    }

    function bindDeleteFileBehaviorToDeleteButtons() {
        $('#files_table a[id^="delete_file_button_"]').click(function () {
            var fileName = $(this).parents('tr:first').children('td:first').children('a').text();
            var pressedDeleteFileButton = this;

            $.post('@this.Url.Action("DeleteFile")', { id: '@this.Model.ExLogFileGuid', fileName: fileName }, function () {
                $(pressedDeleteFileButton).parents('tr:first').remove();
            });
        });
    }

    function SendEmail() {

        var note = $('#extraNote').val();
        if (note == "") {
            alert('External Log text is empty');
        } else {
            var caseId = $('#CaseId').val();            
            var curGuid = '@Model.MailGuid';

            window.location.href = '@Url.Action("SendMail", "Case")' +
                '?caseId=' + caseId +                
                '&extraNote=' + note +
                '&curGUID=' + curGuid;
        }

    }
</script>



@if (Model.CaseFieldGroups.Contains("UserInformation"))
{
    <input id="CaseId" type="hidden" value="@Model.CasePreview.Id"/>    
    <h4>@Translation.Get("Användarinformation", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="col-md-3 dh-col">
            <div class="container form-horizontal">
                @if (Model.FieldSettings.Select(f => f.Name).Contains("ReportedBy"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "ReportedBy").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.ReportedBy
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Persons_Name"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Persons_Name").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.PersonsName
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Persons_EMail"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Persons_EMail").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.PersonsEmail
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Persons_Phone"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Persons_Phone").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.PersonsPhone
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Persons_CellPhone"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Persons_CellPhone").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.PersonsCellphone
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Customer_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Customer_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.Customer.Name
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Region_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Region_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.Regions.Where(r => r.Id == Model.CasePreview.Region_Id).Select(r => r.Name).FirstOrDefault()
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Department_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Department_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @if (Model.CasePreview.Department != null)
                            {
                                @Model.CasePreview.Department.DepartmentName
                            }
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("OU_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "OU_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.OU_Id
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Place"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Place").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.Place
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("UserCode"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "UserCode").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.UserCode
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!-- User Information Fields -->

@if (Model.CaseFieldGroups.Contains("ComputerInformation"))
{
    <h4>@Translation.Get("Datorinformation", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="col-md-3 dh-col">
            <div class="container form-horizontal">
                @if (Model.FieldSettings.Select(f => f.Name).Contains("InventoryNumber"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "InventoryNumber").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.InventoryNumber
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("ComputerType_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "ComputerType_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.InventoryType
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("InventoryLocation"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "InventoryLocation").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.InventoryLocation
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!-- Computer Information Fields -->

@if (Model.CaseFieldGroups.Contains("CaseInfo"))
{
    <h4>@Translation.Get("Ärendeinformation", Enums.TranslationSource.TextTranslation) </h4>
    <div class="row">
        <div class="col-md-3 dh-col">
            <div class="container form-horizontal">
                @if (Model.FieldSettings.Select(f => f.Name).Contains("CaseNumber"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "CaseNumber").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.CaseNumber
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("RegTime"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "RegTime").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Html.DisplayFor(r => Model.CasePreview.RegTime, "DateAndTime")
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("ChangeTime"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "ChangeTime").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Html.DisplayFor(c => Model.CasePreview.ChangeTime, "DateAndTime")
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("CaseType_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "CaseType_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.CaseType.Name
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("ProductArea_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "ProductArea_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @if (Model.CasePreview.ProductArea != null)
                            {
                                @Model.CasePreview.ProductArea.Name
                            }
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("System_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "System_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.Systems.Where(s => s.Id == Model.CasePreview.System_Id).Select(s => s.SystemName).FirstOrDefault()
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Urgency_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Urgency_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @if (Model.CasePreview.Urgency != null)
                            {
                                @Model.CasePreview.Urgency.Name
                            }
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Impact_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Impact_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.Impact_Id
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Category_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Category_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @if (Model.CasePreview.Category != null)
                            {
                                @Model.CasePreview.Category.Name
                            }
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Supplier_Id"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Supplier_Id").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.Suppliers.Where(s => s.Id == Model.CasePreview.Supplier_Id).Select(s => s.Name).FirstOrDefault()
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("InvoiceNumber"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "InvoiceNumber").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.InvoiceNumber
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("ReferenceNumber"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "ReferenceNumber").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.ReferenceNumber
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Caption"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Caption").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.Caption
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Description"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Description").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Html.Raw(Model.CasePreview.Description)
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Miscellaneous"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Miscellaneous").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.Miscellaneous
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("ContactBeforeAction"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "ContactBeforeAction").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.ContactBeforeAction
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("SMS"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "SMS").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.SMS
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("AgreedDate"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "AgreedDate").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Html.DisplayFor(a => Model.CasePreview.AgreedDate, "DateAndTime")
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Available"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Available").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.Available
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Cost"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Cost").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <td>@Translation.Get("Artikelkostnad", Enums.TranslationSource.TextTranslation)<br />
                                        @Model.CasePreview.Cost
                                    </td>
                                    <td>@Translation.Get("Övrig kostnad", Enums.TranslationSource.TextTranslation)<br />
                                        @Model.CasePreview.OtherCost
                                    </td>
                                    <td>@Translation.Get("Valuta", Enums.TranslationSource.TextTranslation)<br />
                                        @Model.CasePreview.Currency
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Filename"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Filename").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            <table id="case_files_table" class="table table-striped table-bordered table-hover">
                                @if (Model.CasePreview.CaseFiles != null)
                                {
                                    foreach (var file in Model.CasePreview.CaseFiles)
                                    {
                                    <tr>
                                        <td>
                                            <a style="color:blue" href="@this.Url.Action("DownloadFile", new RouteValueDictionary { { "id", Model.CasePreview.Id }, { "fileName", file.FileName } })"><i class="icon-file"></i>@file.FileName</a>
                                        </td>
                                    </tr>                                    
                                    }
                                }
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!-- Case Info Fields -->

@if (Model.CaseFieldGroups.Contains("Other"))
{
    <h4>@Translation.Get("Övrigt", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="col-md-3 dh-col">
            <div class="container form-horizontal">
                @if (Model.FieldSettings.Select(f => f.Name).Contains("PlanDate"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "PlanDate").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Html.DisplayFor(p => Model.CasePreview.PlanDate, "DateAndTime")
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("WatchDate"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "WatchDate").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Html.DisplayFor(w => Model.CasePreview.WatchDate, "DateAndTime")
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("Verified"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "Verified").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.Verified
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("VerifiedDescription"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "VerifiedDescription").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.VerifiedDescription
                        </div>
                    </div>
                }
                @if (Model.FieldSettings.Select(f => f.Name).Contains("SolutionRate"))
                {
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Model.FieldSettings.Where(f => f.Name == "SolutionRate").Select(f => f.LabelToChange).SingleOrDefault():
                        </label>
                        <div class="col-md-10">
                            @Model.CasePreview.SolutionRate
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!--Other Fields -->

@if (Model.CaseFieldGroups.Contains("CaseLog"))
{
    <h4>@Translation.Get("Ärendelogg", Enums.TranslationSource.TextTranslation)</h4>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered table-hover">
                @if (Model.FieldSettings.Select(f => f.Name).Contains("tblLog.Text_External"))
                {
                    <thead>
                        <tr>
                            <th>
                                @Translation.Get("Datum", Enums.TranslationSource.TextTranslation)
                            </th>
                            <th>
                                @Model.FieldSettings.Where(f => f.Name == "tblLog.Text_External").Select(f => f.LabelToChange).SingleOrDefault()
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CaseLogs != null)
                        {
                            bool isFirst = true;
                            foreach (var log in Model.CaseLogs)
                            {
                                var user = string.Empty;
                                if (log.Text_External != string.Empty)
                                {
                                    if (Model.CasePreview.FinishingDate == null || !(log.LogDate > Model.CasePreview.FinishingDate))
                                    {
                            <tr>
                                <td style="width: 15%">
                                    @if (isFirst)
                                    {
                                        isFirst = false;
                                        @Html.DisplayFor(l => log.LogDate, "DateAndTime")
                                        <span style="color: red">&nbsp; @Translation.Get("Ny", Enums.TranslationSource.TextTranslation)!</span>
                                                    
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(l => log.LogDate, "DateAndTime")
                                    }
                                    <br />
                                    @if (log.User == null)
                                    {
                                        user = log.RegUser;
                                    }
                                    else
                                    {
                                        user = log.User.SurName + " " + log.User.FirstName;
                                    }
                                    @user
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => log.Text_External)
                                    <br />
                                    @if (log.LogFiles.Count > 0)
                                    {
                                        foreach (var file in log.LogFiles)
                                        {
                                        <a style="color: blue" href="@this.Url.Action("DownloadLogFile", new RouteValueDictionary { { "id", log.Id }, { "fileName", file.FileName } })">
                                            <i class="icon-file"></i>@file.FileName
                                        </a>
                                        <br />
                                        }
                                    }
                                </td>
                            </tr>
                                        
                                    }
                                }

                            }
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
    
    if (Model.CasePreview.FinishingDate == null)
    {
        <div class="row">
            <div class="col-md-3 dh-col">
                <div class="container form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-12">
                            <img src="@Url.Content("~/Content/img/Notice.png")" style="width: 16px; height: 16px" />
                            @Translation.Get("Om du vill komplettera med någon information gör det i fälten nedan", Enums.TranslationSource.TextTranslation)
                        </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Translation.Get("Notering", Enums.TranslationSource.TextTranslation): 
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(e => Model.ExtraNote, new { @class = "col-md-5", style = "Height:150px", id = "extraNote" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2">
                            @Translation.Get("Bifogad fil", Enums.TranslationSource.TextTranslation): 
                        </label>
                        <div class="col-md-10">
                            
                            <a href="#upload_files_popup" role="button" class="btn btn-default" data-toggle="modal">@Translation.Get("Lägg till", Enums.TranslationSource.TextTranslation)</a>
                            <div id="upload_files_popup" role="dialog" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3>&nbsp;</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div id="file_uploader"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Stäng", Enums.TranslationSource.TextTranslation)</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table id="files_table" class="table table-striped">
                                <tbody>
                                    @if (this.Model.LogFilesModel.Files == null)
                                    {
                                        <div id="no_uploaded_files_label">
                                        </div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-default" onclick=" SendEmail() ">@Translation.Get("Spara och skicka", Enums.TranslationSource.TextTranslation)</button>
            </div>
        </div>
    }
}
<!-- Case Log Fields and some text -->
