@model  DH.Helpdesk.NewSelfService.Models.Case.UserCasesModel  

<form id="frmCaseSearch" name="frmCaseSearch">   
    <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.SortBy" id="hidSortBy" name="hidSortBy" />
    <input type="hidden" value="@SessionFacade.CurrentCaseSearch.Search.Ascending" id="hidSortByAsc" name="hidSortByAsc" />

    <div class="row">
        <div class="col-md-3 dh-col">
            <div class="container form-horizontal">
                <div class="form-group row">
                    <label class="col-md-2">
                        @Translation.Get("Sökord", Enums.TranslationSource.TextTranslation):
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(s => Model.PharasSearch)
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="col-md-2">
                        @Translation.Get("Visa", Enums.TranslationSource.TextTranslation):
                    </label>
                    <div class="col-md-10">
                        <select id="ProgressId" name="ProgressId">
                            <option value="2">@Translation.Get("Pågående ärenden", Enums.TranslationSource.TextTranslation)</option>
                            <option value="1">@Translation.Get("Avslutade ärenden", Enums.TranslationSource.TextTranslation)</option>
                            <option value="1,2">@Translation.Get("Alla ärenden", Enums.TranslationSource.TextTranslation)</option>
                        </select>
                    </div>
                </div>*@
                <div class="form-group row">
                    <label class="col-md-2">
                        @Translation.Get("poster i sökresultat", Enums.TranslationSource.TextTranslation):
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(s => Model.MaxRecords, new { style = "width:50px;" }) <button id="btnSearch" name="btnSearch" class="btn btn-primary">@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#btnSearch').click(function (e) {
        e.preventDefault();
        search();
    });

    function search() {        
        $.post('@Url.Action("SeachUserCase", "Case")', $("#frmUserCases").serialize(), function (result) {
            $('#search_result').html(result);           
        });
    }


    function sortCases(sortBy,lastAsc) {
        var asc = '@SessionFacade.CurrentCaseSearch.Search.Ascending'; 
        var selected = $("#hidSortBy").val();
        
        if (sortBy == selected) {            
            asc = asc.toLowerCase().match('true') ? 'false' : 'true';            
        }
        else {
            asc = 'true';
        }
        
        $("#hidSortBy").val(sortBy);
        $("#hidSortByAsc").val(asc);
        search();
    }
</script>
