@using System.Activities.Statements
@using DH.Helpdesk.NewSelfService.Infrastructure
@model DH.Helpdesk.NewSelfService.Models.Case.CaseOverviewModel
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid dh-container">    
            
    <ul class="nav nav-tabs" id="NewCaseTab">
        <li id="CasePreviewTab" class="active">                             
            <a href="#fragment-1">@Translation.Get("Case", Enums.TranslationSource.TextTranslation): @Model.CasePreview.CaseNumber</a>                                         
        </li>
    </ul>

    <div class="content">                       
        @if (Model.CasePreview != null)
        {                
            <div id="fragment-1" class="tab-pane active" >                                                   
                <div class="container-fluid dh-container">
                                       
                    @if (Model.CasePreview.FinishingDate != null)
                    {
                        <div class="alert alert-success">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        @Translation.Get("Finished Case", Enums.TranslationSource.TextTranslation)
                        @Translation.Get(": ", Enums.TranslationSource.TextTranslation)
                        @Html.DisplayFor(m => Model.CasePreview.FinishingDate, "DateAndTime")
                        </div>
                    }

                    @( (Model.CanAddExternalNote) ? 
                       Html.Partial("CasePreview", Model) 
                       : 
                       Html.Partial("NewCaseReceipt", Model)  
                     ) 
                                           
                </div>                
            </div>
        }                                     
    </div>    
</div>

