@using Microsoft.Ajax.Utilities
@using DH.Helpdesk.Common.Enums.Cases;
@using DH.Helpdesk.BusinessData.Enums.Case;
@model DH.Helpdesk.NewSelfService.Models.Case.UserCasesModel         

<div id="search_result">
    <div class="container-fluid dh-container">
        <form id="frmUserCases" name="frmUserCases">
            @Html.HiddenFor(c => Model.CustomerId)
            @Html.HiddenFor(l => Model.LanguageId)
            @Html.HiddenFor(u => Model.UserId)
            @Html.HiddenFor(p => Model.ProgressId)
            <ul class="nav nav-tabs" id="NewCaseTab">
                <li id="NewCaseT" class="active">
                    <a href="#fragment-1">
                        @{
                            string tabTitle = "";
                            if (Model != null)
                            {
                                switch (Model.ProgressId)
                                {
                                    case CaseProgressFilter.ClosedCases:
                                        tabTitle = Translation.Get("Finished Service Requests", Enums.TranslationSource.TextTranslation);
                                        break;

                                    case CaseProgressFilter.CasesInProgress:
                                        tabTitle = Translation.Get("Ongoing Service Requests", Enums.TranslationSource.TextTranslation);
                                        break;
                                }
                            }                       
                        }
                        @tabTitle
                    </a>
                </li>
            </ul>
            @*<div class="content">*@
            <div id="fragment-1" class="tab-pane active">
                <div class="container-fluid dh-container">
                    <div class="row dh-container">
                        <div class="col-md-12">
                            @Html.Partial("_CaseSearch", Model)
                        </div>
                    </div>
                    <div class="row" >
                        @*@Html.HiddenFor(m => Model.MailGuid)*@
                        <div class="col-md-12 table-responsive">
                            <div class="span100">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            @if (Model.CaseSearchResult.CaseSettings != null)
                                            {
                                                foreach (var c in Model.CaseSearchResult.CaseSettings)
                                                {
                                                    //if (c.Line == 1)
                                                    //{
                                                        <th onclick=" sortCases('@c.Name') " class="thpointer" >
                                                            @Translation.Get(c.Name, Enums.TranslationSource.CaseTranslation, c.Customer_Id.Value)  <i class="@c.Name.SetCaseSortIcon()"></i>
                                                        </th>
                                                    //}
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.CaseSearchResult.Cases != null)
                                        {                                            
                                            foreach (var r in Model.CaseSearchResult.Cases)
                                            {
                                                var dynamicUrl = "";
                                                if (Model.DynamicCases != null && Model.DynamicCases.Any())
                                                {
                                                   dynamicUrl = Model.DynamicCases.Where(w => w.CaseId == r.Id).Select(d => "~/" + d.FormPath).FirstOrDefault();
                                                }

                                                <tr>
                                                    <!--fasta kolumner -->
                                                    <td>
                                                        <a href ="@Url.Action("Index", "case", new { id = r.Id , area ="" })" > <span class="glyphicon glyphicon-file"  title="@r.CaseIcon.CaseIconTitle()"></span> </a> 
                                                    </td>
                                                    <!-- valbara kolumner -->
                                                
                                                    @foreach (var c in r.Columns)
                                                    {                                                        
                                                        <td>
                                                            @if (c.FieldType == FieldTypes.Date)
                                                            {
                                                                <!-- date -->
                                                                if (string.IsNullOrEmpty(dynamicUrl))
                                                                {
                                                                    <a href ="@Url.Action("Index", "case", new { id = r.Id , area ="" })" > @Html.DisplayFor(m => c.DateTimeValue, "Date") </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Content(dynamicUrl.SetStrParameters(r.Id))">@Html.DisplayFor(m => c.DateTimeValue, "Date")</a>
                                                                }
                                                            }
                                                            else if (c.FieldType == FieldTypes.Time)
                                                            {
                                                                <!-- dateTime -->
                                                                if (string.IsNullOrEmpty(dynamicUrl))
                                                                {
                                                                    <a href="@Url.Action("Index", "case", new { id = r.Id, area ="" })">@Html.DisplayFor(m => c.DateTimeValue, "DateAndTime")</a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="@Url.Content(dynamicUrl.SetStrParameters(r.Id))">@Html.DisplayFor(m => c.DateTimeValue, "DateAndTime")</a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (c.TranslateThis) 
                                                                {
                                                                    <!-- string -->
                                                                    if (string.IsNullOrEmpty(dynamicUrl))
                                                                    {
                                                                        <a href="@Url.Action("Index", "case", new { id = r.Id, area ="" })">@Translation.Get(c.StringValue, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="@Url.Content(dynamicUrl.SetStrParameters(r.Id))">@Translation.Get(c.StringValue, Enums.TranslationSource.TextTranslation)</a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (string.IsNullOrEmpty(dynamicUrl))
                                                                    {
                                                                        <a href="@Url.Action("Index", "case", new { id = r.Id, area ="" })">@c.StringValue</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="@Url.Content(dynamicUrl.SetStrParameters(r.Id))">@c.StringValue</a>
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
