@using DH.Helpdesk.Mobile.Infrastructure
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta content="html/text; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <link href="@Url.Content("~/Content/css/jquery.mobile-1.4.4.css")" rel="stylesheet">
    @*<link href="@Url.Content("~/Content/css/dhhelpdesk.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/img-profile/profile.css")" />*@

    <script src="@Url.Content("~/Content/js/jquery-1.8.3.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.mobile-1.4.4.js")"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="login">
  <div data-role="page">  <div data-role="header" data-theme="a">
            <h1><img src="@Url.Content("~/Content/img/dhhelpdesk.png")" /></h1>
	    </div><div data-role="content">
<div class="form-signin">
        <form id="frmLogin" name="frmLogin" method="post" action="">
            <div class="form-signin-heading">&nbsp;</div>
            @if (TempData["LoginFailed"] != null)
            {
                <div class="alert alert-error">
                        @TempData["LoginFailed"]; 
                </div>
            }
            <label for="txtUid">Username:</label>
            <input type="text" maxlength="50" name="txtUid" id="txtUid" class="input-block-level" placeholder="Username" />
            <label for="txtPwd">Password:</label>
            <input type="password" maxlength="50" name="txtPwd" id="txtPwd" class="input-block-level" placeholder="Password" />
            <!--
            @Translation.Get("Logga in med", Enums.TranslationSource.TextTranslation):<br />
            <select name="checkInWith" id="checkInWith" class="input-block-level">
                <option value="0">@Translation.Get("Lokalt konto", Enums.TranslationSource.TextTranslation)</option>
                <option value="1">@Translation.Get("Nätverkskonto", Enums.TranslationSource.TextTranslation)</option>
            </select>
            -->
            <br />
            <input type="submit" value="Login" name="btnLogin" id="btnLogin" data-role="button" data-icon="check" />
        </form>
    </div>
    <div class="signin-bottom">
        <p><img src="@Url.Content("~/Content/img/dhhelpdesk.png")" /></p>
        DH Helpdesk is a case handling system from DH Solutions<br />
        <a href="http://www.dhsolutions.se" target="_blank">www.dhsolutions.se</a>
    </div>
    </div>
      </div>
</body>
</html>
<script type="text/javascript">
    $("input:text:visible:first").focus();
</script>
