@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="SscUseOnly">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong">@Model.Label("AveragePay")</td>
                    <td>
                        @Model.Element("AveragePay", false)
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("LowerRate")</td>
                    <td>
                        @Model.Element("LowerRate", false)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="hidden" id="CustomerId" value="@Model.Form.CustomerId" />
</div>
