@using DH.Helpdesk.BusinessData.Models.Inventory.Edit.Settings
@using DH.Helpdesk.Web.Models.Inventory.EditModel.Inventory
@model DynamicFieldModel
<tr>
    <td class="span3">
        <label>@Html.DisplayFor(m => m.Caption)</label>
    </td>
    <td class="span9">
        @{

            switch (Model.FieldTypes)
            {
                case FieldTypes.Bool:
                    @Html.EditorFor(m => m.Value)
                    break;
                case FieldTypes.Date:
                    @Html.EditorFor(m => m.Value, "DatePicker", new { id = "general_finishing_date_datepicker" + ViewData["Id"] })
                    break;
                case FieldTypes.Text:
                    @Html.TextBoxFor(m => m.Value, new Dictionary<string, object> { { "data-dh-is-use-maxlength", Model.IsUseMaxSize }, { "data-dh-maxlength", Model.MaxSize } })
                    @Html.ValidationMessageFor(m => m.Value)
                    @Html.HiddenFor(m => m.IsUseMaxSize)
                    @Html.HiddenFor(m => m.MaxSize)
                    break;
                case FieldTypes.Numeric:
                    @Html.TextBoxFor(m => Model.Value)
                    break;
                default:
                    @Html.TextBoxFor(m => Model.Value)
                    break;
            }
        }
        @Html.HiddenFor(m => m.InventoryTypePropertyId)
        @Html.HiddenFor(m => m.FieldTypes)
    </td>
</tr>

